
    <span id="helpd_ExplorerView" style="display: none;">[$dlv:help_explorerView]</span>
    <style>
        #ViewExplorerFolders .DocALL {
            height: auto;
            padding: 5px;
            padding-left: 10px;
            display: block;
            border: none;
        }

        #ViewExplorerFolders .ExpText {
            display: inline-block;
            font-size: 14px;
        }

        #ViewExplorerFolders .imgPanelTitleIcon {
            float: none;
        }

        #ViewExplorerFolders .norecord, #ViewExplorerFiles .norecord {
            display: none;
        }

        #ViewExplorerFolders .pnl-query-item .badge {
            right: 36px;
            top: -5px;
        }

            #ViewExplorerFolders .pnl-query-item .badge:before {
                background-image: none;
            }

        #ViewExplorerTop .pnl-query-item {
            padding: 15px;
        }
		#ViewExplorerTop .fa-home {
			font-size:1.5em !important;
			cursor:pointer;
			vertical-align: sub;
		}
		#ViewExplorerTop .UIfacetLink {
			font-size: 12px;
			padding: 3px 3px;
		}
		
		#ViewExplorerTop .rArrow {
			display: inline-block;
			vertical-align: middle;
		}
		
		.infoRightExplorerContainer .infoRightExplorer,
		#ViewExplorerTop .explorerViewHide
		{
			display:none;
		}
		.explorerInfo {
			font-size: 18px !important;
			padding-right: 10px;
		}
		#ViewExplorerTop .explorerInfo {
			padding-right: 0px;
		}
		.infoRightExplorerContainer:hover .infoRightExplorer {
			display:inline ;
		}
		#inRightPanelForDoc .infoRightExplorer {
			display: none !important;
		}
		@media (max-width: 1050px) {
			.infoRightExplorer {
				display: none !important;
			}
		}
		.explorerPathText{
			color: #000000;
		}
    </style>
    <script type="dece-template" id="qr_explorerView">
        <div {{ context.Query.StartIndex==0?'class="pnl-query-item ExplorerViewRoot explorerPathText" id="divDocAccordion"':'' }}>
            <d:r data=data>
                <div class="divPanelTitleText IsDoc DocALL disableItemSelect infoRightExplorerContainer docOpenLinkRoot DocArea dt_{{data.ContentType.split(':')[1].replace('.', '')}}{{ data.GetDocItemAttr()}}" onclick="_ExpSelectRoot({{data.ContentIdentifier}})">
                    <div class="inLink supprotFeedRow" id="heading_{{data.ContentIdentifier}}" style="position:relative">
					<d:r visible="!context.Options.WidgetId">
						<div class="pull-right infoRightExplorer" contentid="{{data.ContentIdentifier}}" onclick='ShowOrDownloadDoc(this,event,"#inRightPanelForDoc")'>
							<i class="fa fa-info-circle explorerInfo"></i>
						</div>
					</d:r>
                        <span><img class="imgPanelTitleIcon" src="{{data.GetIcon()}}" title="{{HttpUtility.HtmlEncode(!context.Options.CurrentWSInfo ? '' : context.Options.CurrentWSInfo.GetContentTypeTitleFromId(data.ContentType))}}"></span>
                        <small class="ExpText">{{ data.DisplayName }} </small>

                        <d:r visible="false && context.Options.Query.GetNumberOfOccurrences">
                            <span class="badge" style="display: inline-table; padding-left: 2%; padding-right: 2%;">
                                {{ data.NumberOfOccurrences?data.NumberOfOccurrences:0 }}
                            </span>
                        </d:r>
                    </div>
                </div>
            </d:r>



	<d:r visible="_IsVisibleExplorerMore(data,context)">
		<div align=right>
			<a  href='javascript:void(0)' style='padding:10px;' onclick='_ExpMore(this,{{context.Options.WidgetId?'"'+context.Options.WidgetId+'"':false}},{{context.Query.StartIndex}});'>[$default:More/js] ( {{ FormatNumber(context.totalCount-context.Query.EndIndex) }} )</a>
		</div>

	</d:r>

        </div>
    </script>





    <script>

	function _IsVisibleExplorerMore( data, context) {
		return data && data.length > 0 && context.totalCount > context.Query.EndIndex;
	}
	var _ExplorerWidgetSubFolderViewCount=64;
	function _ExpMore(sender,widgetId,startIndex) {
		var view=null;
		if(widgetId) {
			var w=GetWidgetInstance(widgetId);
			if(!w || !w.ExplorerWidget) return ;
			view=w.ExplorerWidget;
		}
		else
			view=window.CurrentQueryContainer.GetActiveView();
		if(!view) return;
		$(sender).parent().remove();
		view.DLVViewFolders.QueryStartIndex+=_ExplorerWidgetSubFolderViewCount;
		$("#divDocAccordion.inDefaultPanel",view.DLVViewFolders.TargetDOM).removeAttr("id")
		view.DLVViewFolders.GetDocuments(false, false, true);
	}

        function _ExpSelectRoot(contentId) {
            var act = window.CurrentQueryContainer.GetActiveView();
            if (act) {
                act.CurrentParentID = contentId;
				act.__DisableNextLog=true;
                delete window._lastSearch;
                getResult(true, UpdateQueryIsEnable(), true);
            }
        }

        function QueryResult_ExplorerView(options) {
            this.Name = "ExplorerView";
            this.SupportRightPanel = true;
            this.CurrentParentID = -1;
			this.IsWidget = false;
			this.HideRightDocInfoPanel = false;
			this.GetCloneQuery = function () {
                return that.Owner.CurrentQuery.Clone();
            }
            this.OnActive = function () {
            }

            this.OnDeactive = function () {
                that.DLVViewFolders.Aborter.AbortAll();
                that.DLVView.Aborter.AbortAll();
            }
			this.__ExpSelectRoot = _ExpSelectRoot;
			
			_ExpSelectRoot = function(contentId){
				if(that.IsWidget){
					var act = that.Owner.GetActiveView();
					if (act) {
						act.CurrentParentID = contentId;
						that.CurrentParentID = contentId;
						delete window._lastSearch;
						act.__DisableNextLog=true;
						getResult(true, UpdateQueryIsEnable(), true);
					}
					
				}
				else{
					var act = window.CurrentQueryContainer.GetActiveView();
					if (act) {
						act.CurrentParentID = contentId;
						delete window._lastSearch;
						act.__DisableNextLog=true;
						getResult(true, UpdateQueryIsEnable(), true);
					}
				}
			}
            this.Owner = null; //QueryContainer
            this.TargetDOM = options ? options.TargetDOM : null;
            this.DLVViewFolders = new QueryResultDLV(options);
            this.DLVView = new QueryResultDLV(options);
			this.DLVViewFolders.DisableLogging=true;
			this.DLVView.LogActionName="VIEW_EXPLORER";
			
			
            this.Run = function (UpdateDefaultQuery, IgnoreFacet) {
				this.DLVView.DisableLogging=that.__DisableNextLog || that.IsWidget ? true:false;
				delete that.__DisableNextLog;
                var dm = $(that.TargetDOM);
                dm.empty();
                dm.append("<div id=ViewExplorerTop class='panel-group panel-list inDefaultPanel'><div class='pnl-query-item infoRightExplorerContainer explorerPathText'></div></div>");
                dm.append("<div id=ViewExplorerFolders></div>");
                dm.append("<div id=ViewExplorerFiles></div>");

                var dmTop = $("#ViewExplorerTop .pnl-query-item", dm); //breadcramp
                if (this.CurrentParentID > -1) {
                    dmTop.show();
                    let counterVal = that.Owner.QueryCounter;
                    var lastSh = that.Owner.CurrentQuery.GetContentInfo(that.CurrentParentID, false,
                        function (data) {
                            that.Aborter.Remove(lastSh);
                            if (counterVal != that.Owner.QueryCounter)
                                return;
                            dmTop.empty();
                            var p = data;
							var firstid=p?p.ID:null;
                            while (p) {
                                
								
								dmTop.prepend(" <span class='rArrow'>/</span> <span class='inLink UIfacetLink IsDoc DocALL disableItemSelect DocArea' onclick=_ExpSelectRoot(" + p.ID + ") id=pfi_"+p.ID+"><span class='insub' contentid="+p.ID+">" +
								'<span class="explorerViewHide"><img class="imgPanelTitleIcon" src="GeodiJSONService?op=getContentTypeIco&amp;ContentTypeKey=foldercontent:.folder"></span>'
								+ p.DisplayName + "</span> </span>");
								var dcDom=$("#pfi_"+p.ID,dmTop);
								dcDom.data("title_data",
									{
										enm: p.EnumaratorId,
										ctyp: p.ContentType,
										txt: p.DisplayName,
										all: p
									}
										);
                                p = p.Parent;
                            }
                            dmTop.prepend("<i class='fa fa-home' onclick=_ExpSelectRoot(-1) title='[$query:root/js/html]'></i>");
							if(firstid!=null){
								if(!that.IsWidget)
									dmTop.prepend('<a href="javascript:void(0)" class="pull-right infoRightExplorer" onclick=\'ShowOrDownloadDoc($(".infoRightExplorerContainer #pfi_'+firstid+' .insub"),event,"#inRightPanelForDoc")\'><i class="fa fa-info-circle explorerInfo"></i></a>');
							}
								
                        }, 20);
                    that.Aborter.Add(lastSh);
                }
                else
                    dmTop.hide();

                var dmFolders = $("#ViewExplorerFolders", dm);
                var dmFiles = $("#ViewExplorerFiles", dm)

                //UpdateDefaultQuery dikkate alınacak
                //herhangi bir sorgu varsa ?

		that.DLVViewFolders.QueryStartIndex=0;
                that.DLVViewFolders.Owner = that.Owner;
                that.DLVViewFolders.TargetDOM = dmFolders;
                that.DLVViewFolders.DisableScroll = true;
                that.DLVViewFolders.HideRightDocInfoPanel = true;
				
				if(that.IsWidget){
					that.DLVViewFolders.IsWidget = true;
					that.DLVViewFolders.WidgetID = that.WidgetID;
					that.DLVViewFolders.HideRightDocInfoPanel = true;
					that.DLVViewFolders.SupportRightPanel = false;
					
					that.DLVView.IsWidget = true;
					that.DLVView.WidgetID = that.WidgetID;
					that.DLVView.HideRightDocInfoPanel = true;
					that.DLVView.SupportRightPanel = false;
				}
				
                that.DLVViewFolders.GetCloneQuery = function () {
                    var q = that.GetCloneQuery();
					var enms=q.Enumarators;
					q.Enumarators=[];
                    var q1 = q.ToString();
					if(q1 && enms && enms.length>0) {
						q.Enumarators=enms;
						var q1 = q.ToString();
						enms=null;
					}
                    q.Clear();
					if(enms && enms.length>0) {
						q.Enumarators=enms;
						var q2 = q.ToString();	
						q.Clear();
						if(q2)
							FieldValueSet(q2, true, q, "SearchStringsHiden");
					}
                    FieldValueSet("parentid:" + that.CurrentParentID, true, q, "SearchStringsHiden");
                    FieldValueSet("*.folder", true, q, "SearchStringsHiden");
                    if (q1)
                        q.SearchString = "ChildTree:(" + q1 + ") or (" + q1 + ")";
					q.StartIndex=that.DLVViewFolders.QueryStartIndex;
                    q.EndIndex = q.StartIndex+_ExplorerWidgetSubFolderViewCount;
                    return q;
                }

                that.DLVViewFolders.UpdateRenderOptions = function (renderOptions) {
                    renderOptions.Template = $("#qr_explorerView").html();
                    return renderOptions;
                }

                that.DLVViewFolders.GetDocuments(true, false, IgnoreFacet);


				
                that.DLVView.Owner = that.Owner;
                that.DLVView.TargetDOM = dmFiles
                that.DLVView.RightDocInfoPanelTargetDom = $("#divMain");
                that.DLVView.GetCloneQuery = function () {
                    var q = that.GetCloneQuery();
                    FieldValueSet("parentid:" + that.CurrentParentID, true, q, "SearchStringsHiden");
                    FieldValueSet("-*.folder", true, q, "SearchStringsHiden");
                    return q;
                }
                that.DLVView.GetDocuments(true, false, IgnoreFacet);


				
            }
            var that = this;
            this.OnScroll = function () {
                var dm = $(that.TargetDOM);
                var dmFiles = $("#ViewExplorerFiles", dm)

                that.DLVView.Owner = that.Owner;
                that.DLVView.TargetDOM = dmFiles;
                that.DLVView.GetCloneQuery = function () {
                    var q = that.GetCloneQuery();
                    FieldValueSet("parentid:" + that.CurrentParentID, true, q, "SearchStringsHiden");
                    FieldValueSet("-*.folder", true, q, "SearchStringsHiden");
                    return q;
                }
                that.DLVView.GetDocuments(false);
            }
            this.CurrentStartIndex = 0;
            this.WaitingResult = false;
            this.Aborter = new PostAborter();
        }

		$(document.body).on("GUI_InitView",function (ev,obj) {
            if (GUISearchOptions.Is(GUISearchOptions.ShowExplorerView)) {
                AddViewItem({
					priority: 20,
					HelpDOM: "#helpd_ExplorerView",
					Name: "ExplorerView",
					DisplayName: "[$dlv:explorerViewName]",
					Creator: function () {
						return new QueryResult_ExplorerView();
					}
				});
                AddStartMenuItem({
					id: "btnExplorerView",
					priority: 210,
					ShowSearch: true,
					ShowStart: true,
					ShowMobile: true,
					ShowDesktop: false,
					text: "[$dlv:explorerViewName]",
					icoStyle: "background-image:url('GUIJsonService?op=getIco&IconName=Layer/folder');background-repeat: no-repeat;",
					exClass: "_for _forExplorerView",
					exClass2Fnc: function () { return IsActiveView('ExplorerView') ? "active" : "" },
					click: "CloseNavMenu(); ChangeView('ExplorerView')"
				});
            }


        });


    </script>
