<style>
    .templateImageParent li {
        display: inline-block;
        float: left;
        width: 50%;
        padding:2px;
    }
    .templateImageParent li a {
        border: 1px solid rgba(0,0,0,.4)
    }
    .templateImage {
        width: 100% !important;
        height: auto !important;
    }
    .templateLabel {
        font-size: 12px;
        padding: 1px 5px;
        display: block;
        margin-bottom: 2px;
    }
    .ml-1 {
        margin-left:4px !important;
    }

    
</style>
<div class="modal fade" id="adv_settings_modal" tabindex="-1" role="dialog" aria-labelledby="advSettings_Header" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">[$default:advanced]</h4>
            </div>
            <div class="modal-body" id="advSettings_Body" style="overflow:auto;max-height:70vh">

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>
                            [$workspace_wizard:views]
                        </label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" data-value="2" data-adv-target="GUIOptions-Not"> <span>[$dlv:navbar_title]</span>
                        </label>

                        <dcc:item factoryname="GeodiLicensePanel" trial="true" index="18">
                            <label>
                                <input type="checkbox" data-value="4" data-adv-target="GUIOptions-Not"> <span>[$default:klv_page]</span>
                            </label>
                        </dcc:item>

                        <label>
                            <input type="checkbox" data-value="8" data-adv-target="GUIOptions-Not"> <span>[$default:map]</span>
                        </label>

                        <dcc:item factoryname="GeodiLicensePanel" trial="true" index="20">
                            <label>
                                <input type="checkbox" data-value="32768" data-adv-target="GUIOptions-Not"> <span>[$dgraph:navbar_title]</span>
                            </label>
                        </dcc:item>

                        <label>
                            <input type="checkbox" data-value="8388608" data-adv-target="GUIOptions-Not"> <span>[$DatePicker:calendar]</span>
                        </label>

                        <label>
                            <input type="checkbox" data-value="536870912" data-adv-target="GUIOptions"> <span>[$dlv:explorerViewName]</span>
                        </label>

                        <a href="javascript:void(0)" onclick="advSetStartPreview()">[$default:preview]</a>

                        <div class="help-block">
                            [$workspace_wizard:help_views]
                        </div>

                    </div>



                </div>



                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:layout]</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btnAdvLayout">
                                [$default:default] <span class="caret ml-1"></span>
                            </button> <a href="javascript:void(0)" onclick="advSetStartPreview()">[$default:preview]</a>
                            <ul class="dropdown-menu templateImageParent">
                                <li>
                                    <a href="javascript:void(0)" onclick="$($('#btnAdvLayout').contents()[0]).replaceWith($(this).text());">
                                        <span class="templateLabel bg-primary">[$default:default]</span>
                                        <img class="templateImage" src='[=c.ResolveUrl("~/GUI/Custom/ES/Layout/Default.png",true)]' />
                                    </a>
                                </li>

                                <dcc:repeater data='=c.GetFiles("GUI/Custom/ES/Layout","Default.png")'>
                                    <dcc:panel visible='=new System.IO.FileInfo(c.Data).Directory.Name!="Layout"'>
                                        <li>
                                            <a href="javascript:void(0)" onclick="$($('#btnAdvLayout').contents()[0]).replaceWith($(this).text());">
                                                <span class="templateLabel bg-primary">[=new System.IO.FileInfo(c.Data).Directory.Name]</span>
                                                <img class="templateImage" src='[=c.ResolveUrl("~/GUI/Custom/ES/Layout/"+(new System.IO.FileInfo(c.Data).Directory.Name)+"/Default.png",true)]' />
                                            </a>
                                        </li>
                                    </dcc:panel>
                                </dcc:repeater>


                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$dictionary_wizard:template]</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btnAdvTemplate">
                                [$default:default]
                                 <span class="caret ml-1"></span>
                            </button> <a href="javascript:void(0)" onclick="advSetStartPreview()">[$default:preview]</a>
                            <ul class="dropdown-menu templateImageParent">
                                <li>
                                    <a href="javascript:void(0)" onclick="$($('#btnAdvTemplate').contents()[0]).replaceWith($(this).text());">
                                        <span class="templateLabel bg-primary">[$default:default]</span>
                                        <img class="templateImage" style="width:266px;height:141px;" src='[=c.ResolveUrl("~/GUI/Custom/ES/Template/Default.png",true)]' />
                                    </a>
                                </li>

                                <dcc:repeater data='=c.GetFiles("GUI/Custom/ES/Template","Default.png")'>
                                    <dcc:panel visible='=new System.IO.FileInfo(c.Data).Directory.Name!="Orj" && new System.IO.FileInfo(c.Data).Directory.Name!="Template"'>
                                        <li>
                                            <a href="javascript:void(0)" onclick="$($('#btnAdvTemplate').contents()[0]).replaceWith($(this).text());">
                                                <span class="templateLabel bg-primary">[=new System.IO.FileInfo(c.Data).Directory.Name]</span>
                                                <img class="templateImage" src='[=c.ResolveUrl("~/GUI/Custom/ES/Template/"+(new System.IO.FileInfo(c.Data).Directory.Name)+"/Default.png",true)]' />
                                            </a>
                                        </li>
                                    </dcc:panel>
                                </dcc:repeater>


                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>
                            [$workspace_wizard:gui_options]
                        </label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" checked data-value="16384" data-adv-target="GUIOptions-Not"> <span>[$workspace_wizard:gui_options_facet]</span>
                        </label>

                        <label>
                            <input type="checkbox" checked data-value="134217728" data-adv-target="GUIOptions"> <span>[$workspace_wizard:gui_options_facet_closed]</span>
                        </label>
                        <label>
                            <input type="checkbox" checked data-value="131072" data-adv-target="GUIOptions-Not"> <span>[$workspace_wizard:gui_options_logo_bar]</span>
                        </label>

                        <label>
                            <input type="checkbox" checked data-value="65536" data-adv-target="GUIOptions-Not"> <span>[$workspace_wizard:gui_options_query_bar]</span>
                        </label>

                        
                        <label>
                            <input type="checkbox" checked data-value="262144" data-adv-target="GUIOptions-Not"> <span>[$workspace_wizard:gui_options_simple_start_screen]</span>
                        </label>


                        <a href="javascript:void(0)" onclick="advSetStartPreview()">[$default:preview]</a>
                    </div>
                </div>


                <div class="row form-group">

                    <div class="col-sm-3">
                        <label>[$workspace_wizard:dlv_orderby]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <select class="form-control" id="sel_AdvDLVOrderBy">
                            <dcc:repeater data='c["type"].GetEnumKeyValues("Geodi.CoreV1.GUIDefaultOrderByDLV, Geodi.CoreV1")'>
                                <option value="[=Data.Value]">[=Data.Key]</option>
                            </dcc:repeater>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:klv_orderby]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <select class="form-control" id="sel_AdvKLVOrderBy">
                            <dcc:repeater data='c["type"].GetEnumKeyValues("Geodi.CoreV1.GUIDefaultOrderByKLV, Geodi.CoreV1")'>
                                <option value="[=Data.Value]">[=Data.Key]</option>
                            </dcc:repeater>
                        </select>

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:map_extent]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <input type="text" class="form-control" placeholder="LonMin,LonMax,LatMin,LatMax" id="txt_AdvMapStartExtent">
                        <div class="help-block">
                            [$workspace_wizard:help_map_extent]
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:recognize_extent_wtk]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <input type="text" class="form-control" placeholder="WKT" id="txt_AdvGeometryFilterWKT">
                        <div class="help-block">
                            [$workspace_wizard:help_recognize_extent_wtk]
                        </div>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" id="chk_EnableSlowShowFacetKeywordCount"> <span>[$workspace_wizard:EnableSlowShowFacetKeywordCount]</span>
                        </label>
                        <div class="help-block">
                            [$workspace_wizard:help_EnableSlowShowFacetKeywordCount]
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" id="chk_AdvEnableTryGetPreview"> <span>[$workspace_wizard:EnableTryGetPreview]</span>
                        </label>
                        <div class="help-block">
                            [$workspace_wizard:help_EnableTryGetPreview]
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" id="chk_AdvIndexAllPositions"> <span>[$workspace_wizard:IndexAllPositions]</span>
                        </label>
                        <div class="help-block">
                            [$workspace_wizard:help_IndexAllPositions]
                        </div>
                    </div>
                </div>

                

                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="checkbox col-sm-9">
                        <label>
                            <input type="checkbox" id="chk_AdvDisableContentRead"> <span>[$workspace_wizard:DisableContentRead]</span>
                        </label>
                        <div class="help-block">
                            [$workspace_wizard:help_DisableContentRead]
                        </div>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:UnknownContentsAction]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <select class="form-control" id="sel_AdvUnknownContentsAction">
                            <dcc:repeater data='c["type"].GetEnumKeyValues("Geodi.CoreV1.GeodiWorkspaceSettings+RecognizeUknonContentModels, Geodi.CoreV1")'>
                                <option value="[=Data.Value]">[=c.Localize("[$workspace_wizard:UnknownContentsAction_"+Data.Key+"\]")]</option>
                            </dcc:repeater>
                        </select>
                        <div class="help-block">
                            [$workspace_wizard:help_UnknownContentsAction]
                        </div>
                    </div>
                </div>

				<div class="row form-group">
                    <div class="col-sm-3">
                        <label>[$workspace_wizard:recoveryOptions]</label>
                    </div>
                    <div class="checkbox col-sm-9">
                        <select class="form-control" id="sel_AdvrecoberyOptions" onchange="updateRecoveryFolderVisible()">
                            <dcc:repeater data='c["type"].GetEnumKeyValues("Geodi.CoreV1.RecoveryOptions, Geodi.CoreV1")'>
                                <option value="[=Data.Value]">[=Data.Key]</option>
                            </dcc:repeater>
                        </select>
						<br>
						<div id="div_AdvrecoveryBackupFolder" class="input-group" style="display:none">
						
							<input type="text" id="txt_AdvrecoveryBackupFolder" placeholder="[$defaultBackup:backupFolder/html]" class="form-control">
							<span class="input-group-btn">
								<button type="button" class="btn btn-info" onclick="btn_SelectFolder_AdvRecovery_Click()" >[$default:select]</button>
								
							</span>
							<script>
							function btn_SelectFolder_AdvRecovery_Click() {
								_PSCC.Command({ Command: 'SelectFolder', Style: 'FileBrowser',
										ActiveFolder: $('#txt_AdvrecoveryBackupFolder').val().replace(/, /gi, ',').split(',')[0]
									},
									function (data) {
										if (data.Response)
											$('#txt_AdvrecoveryBackupFolder').val(data.Response);
									}
									);
							}
							</script>
						</div>
						
						<div class="help-block">
                            [$workspace_wizard:help_RecoveryOptions]
                        </div>
					
						
						
						

                    </div>
                </div>
				

                <div class="row form-group">
                    <div class="col-sm-3">

                    </div>
                    <div class="checkbox col-sm-9">
                        <button class="btn btn-default" onclick="showMoreWsAdvSettings()">[$default:More]</button>
                        <div class="help-block">
                            [$workspace_wizard:help_MoreAdvSettings]
                        </div>
                    </div>
                </div>





                <dcc:layoutarea name="GEODI_ADV_SETTINGS_MODAL_WS" checkresource="True" targetfolder="GUI/Control/GENERIC_ADV_SETTINGS_MODAL_WS" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="btnAdvSettingsOK_Click(false);">[$default:close]</button>
                <a tabindex="0" id="modalFolderbtn" class="btn btn-sm btn-primary" onclick="btnAdvSettingsOK_Click(true);">[$default:save]</a>
            </div>
        </div>
    </div>
</div>



<script>

    $(window).ready(function () {
        window.setTimeout(function () {
            $("#WSButtonList").append(' <button type="button" id="btnViews" class="btn btn-sm btn-default" onclick="btnAdvSettings_Click()">[$default:advanced/js]</button>');
        }, 2000)
    })

    /* av settings */
    function btnAdvSettings_Click() {
        //views !
        $('#adv_settings_modal').modal('show');
        wsAdvSettingsInit();
    }

    function btnAdvSettingsOK_Click(ok) {
        if (ok)
            wsAdvSettingsSave();

        $('#adv_settings_modal').modal('hide');
    }

    function showMoreWsAdvSettings() {

        var set1 = JSON.parse(JSON.stringify(currentWorkspace.Settings));
        wsAdvSettingsSave();
        var editSet = currentWorkspace.Settings;
        currentWorkspace.Settings = set1;
        inputJSON(editSet, '[$default:More/js]', '[$workspace_wizard:help_MoreAdvSettings/js]', function (result, obj) {
            if (result == 'ok') {
                currentWorkspace.Settings = obj;
            }
        });
    }

    function advSetStartPreview() {

        var opFlags = wsAdvSettingsGetFlagsForSave();
        var layout = $($('#btnAdvLayout').contents()[0]).text();
        if (layout) layout = layout.trim();
        if (layout == "[$default:default/js]") layout = null;
        var template = $($('#btnAdvTemplate').contents()[0]).text();
        if (template) template = template.trim();
        if (template == "[$default:default/js]") template = null;

        var url = "~/?GUIOptions=" + opFlags;
        if (layout) url += "&temp-Layout=" + HttpUtility.UrlEncode(layout);
        if (template) url += "&temp-Template=" + HttpUtility.UrlEncode(template);
        _PSCC.Command({ Url: url,  Command: 'OpenWindow',UseSystemBrowser: true });
    }

  
    function wsAdvSettingsInit() {
        var opFlags = currentWorkspace.Settings.GUISettings.QueryGUIOptions;
        var setOp = function (op, forNot) {
            var val = op.data("value");
            var hasFlag = (opFlags & val) == val;
            if (forNot)
                hasFlag = !hasFlag;
            op.prop("checked", hasFlag);
        };
        $.each($("#advSettings_Body [data-adv-target=GUIOptions-Not]"), function () { setOp($(this), true); })
        $.each($("#advSettings_Body [data-adv-target=GUIOptions]"), function () { setOp($(this), false); })

        if (!currentWorkspace.Settings.GenericSettings || !currentWorkspace.Settings.GenericSettings.Layout)
            $($('#btnAdvLayout').contents()[0]).replaceWith("[$default:default/js]");
        else
            $($('#btnAdvLayout').contents()[0]).replaceWith(currentWorkspace.Settings.GenericSettings.Layout);


        if (!currentWorkspace.Settings.GenericSettings || !currentWorkspace.Settings.GenericSettings.Template)
            $($('#btnAdvTemplate').contents()[0]).replaceWith("[$default:default/js]");
        else
            $($('#btnAdvTemplate').contents()[0]).replaceWith(currentWorkspace.Settings.GenericSettings.Template);


        $("#sel_AdvDLVOrderBy").val(currentWorkspace.Settings.GUISettings.DefaultOrderByDLV);
        $("#sel_AdvKLVOrderBy").val(currentWorkspace.Settings.GUISettings.DefaultOrderByKLV);


        $("#txt_AdvMapStartExtent").val(currentWorkspace.Settings.GUISettings.MapStartExtent);
        $("#txt_AdvGeometryFilterWKT").val(currentWorkspace.Settings.GeometryFilterWKT);

        $("#chk_AdvDisableContentRead").prop("checked",currentWorkspace.Settings.DisableContentRead);
        $("#chk_AdvEnableTryGetPreview").prop("checked", currentWorkspace.Settings.EnableTryGetPreview);
        $("#chk_AdvIndexAllPositions").prop("checked", currentWorkspace.Settings.IndexAllPositions);
        
        $("#chk_EnableSlowShowFacetKeywordCount").prop("checked", currentWorkspace.Settings.EnableSlowShowFacetKeywordCount);



        $("#sel_AdvUnknownContentsAction").val(currentWorkspace.Settings.UnknownContentsAction);
		
		$("#sel_AdvrecoberyOptions").val(currentWorkspace.Settings.RecoveryMode);
		$("#txt_AdvrecoveryBackupFolder").val(currentWorkspace.Settings.RecoveryBackupFolder);
		 updateRecoveryFolderVisible();
        $(document.body).trigger("OnWsAdvSettingsInit");


        
    }
	
	function updateRecoveryFolderVisible() {
		if($("#sel_AdvrecoberyOptions").val()=="1")
			$("#div_AdvrecoveryBackupFolder").show();
		else
			$("#div_AdvrecoveryBackupFolder").hide();
	}
    function wsAdvSettingsGetFlagsForSave() {
        var opFlags = currentWorkspace.Settings.GUISettings.QueryGUIOptions;
        var setOp = function (op, forNot) {
            var val = op.data("value");
            var hasFlag = op.prop("checked");
            if (forNot)
                hasFlag = !hasFlag;
            if (hasFlag)
                opFlags |= val;
            else
                opFlags &= ~val;

        };
        $.each($("#advSettings_Body [data-adv-target=GUIOptions-Not]"), function () { setOp($(this), true); })
        $.each($("#advSettings_Body [data-adv-target=GUIOptions]"), function () { setOp($(this), false); })
        return opFlags;
    }
    function wsAdvSettingsSave() {
        currentWorkspace.Settings.GUISettings.QueryGUIOptions = wsAdvSettingsGetFlagsForSave();


        var layout = $($('#btnAdvLayout').contents()[0]).text();
        if (layout) layout = layout.trim();
        if (layout == "[$default:default/js]") {
            if (currentWorkspace.Settings.GenericSettings)
                delete currentWorkspace.Settings.GenericSettings.Layout;
        }
        else {
            if (!currentWorkspace.Settings.GenericSettings) currentWorkspace.Settings.GenericSettings = {};
            currentWorkspace.Settings.GenericSettings.Layout = layout;
        }
        

        var template = $($('#btnAdvTemplate').contents()[0]).text();
        if (template) template = template.trim();
        if (template == "[$default:default/js]") {
            if (currentWorkspace.Settings.GenericSettings)
                delete currentWorkspace.Settings.GenericSettings.Template;
        }
        else {
            if (!currentWorkspace.Settings.GenericSettings) currentWorkspace.Settings.GenericSettings = {};
            currentWorkspace.Settings.GenericSettings.Template = template;
        }


        currentWorkspace.Settings.GUISettings.DefaultOrderByDLV = parseInt($("#sel_AdvDLVOrderBy").val());
        currentWorkspace.Settings.GUISettings.DefaultOrderByKLV = parseInt($("#sel_AdvKLVOrderBy").val());
        currentWorkspace.Settings.GUISettings.MapStartExtent = $("#txt_AdvMapStartExtent").val();
        if (!currentWorkspace.Settings.GUISettings.MapStartExtent)
            currentWorkspace.Settings.GUISettings.MapStartExtent = null;
        currentWorkspace.Settings.GeometryFilterWKT = $("#txt_AdvGeometryFilterWKT").val();
        if (!currentWorkspace.Settings.GeometryFilterWKT)
            currentWorkspace.Settings.GeometryFilterWKT = null;

        currentWorkspace.Settings.DisableContentRead = $("#chk_AdvDisableContentRead").prop("checked") ? true : false;
        currentWorkspace.Settings.EnableTryGetPreview = $("#chk_AdvEnableTryGetPreview").prop("checked") ? true : false;
        currentWorkspace.Settings.IndexAllPositions = $("#chk_AdvIndexAllPositions").prop("checked") ? true : false;
        
        currentWorkspace.Settings.EnableSlowShowFacetKeywordCount = $("#chk_EnableSlowShowFacetKeywordCount").prop("checked") ? true : false;

        currentWorkspace.Settings.UnknownContentsAction = parseInt($("#sel_AdvUnknownContentsAction").val());

        
		currentWorkspace.Settings.RecoveryMode = parseInt($("#sel_AdvrecoberyOptions").val());
		currentWorkspace.Settings.RecoveryBackupFolder = $("#txt_AdvrecoveryBackupFolder").val();
        

        $(document.body).trigger("OnWsAdvSettingsSave");
        
    }
</script>
