﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiWebEditorManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/sortable/sortable.js" />


<div class="checkbox col-sm-offset-2 col-sm-10 forbackup">
    <label>
        <input id="chkUseDafultBackup" type="checkbox" onchange="chkUseDafultBackupChanged()" checked="" disabled> <span >[$workspace_wizard:use_default_backup]</span> -
    </label>
    <a href="#" id="chkUseDafultBackupSettings" onclick="editDefaultBackupStart()" class="btn btn-default btn-xs disabled">[$default:settings]</a>
</div>




<script>
    function showAdvancedSettings() {
        if (window.chkUseOCRChanged) {
            if (window.currentWorkspace.Settings.OCRSettings)
                $("#chkUseOCR").prop('checked', window.currentWorkspace.Settings.OCRSettings.OCREnabled);
            chkUseOCRChanged();
        }
        if (window.currentStorageManagersForBackup) {
            showBackupSettings();
        }
        else {
            window.GeodiServiceObj.GetStorageManagers(1, function (result) {//1Backup
                window.currentStorageManagersForBackup = new WebEditorManager(result);
                var editors = window.currentStorageManagersForBackup.editors;
                window.currentStorageManagersForBackup.defaultBackupObj = null;
                window.currentStorageManagersForBackup.currentIndex = -1;

                for (var i = 0; i < editors.length; i++) {
                    if (editors[i].__WebEditorMode == 3) //editörü gizli
                        continue;
                    if (editors[i].__type != 'Factory.StorageManagerFactory:DefaultBackupStorageManager')
                        continue;
                    window.currentStorageManagersForBackup.defaultBackupObj = editors[i];
                }
                showBackupSettings();
            });
        }

        $(document.body).trigger("WebEditorUpdateGUI", [{ target: "ws", "obj": window.currentWorkspace.Settings }]);

    }

    function setAdvansedSettings() {
        $(document.body).trigger("WebEditorUpdateObject", [{ target: "ws", "obj": window.currentWorkspace.Settings }]);

        if (window.currentStorageManagersForBackup.defaultBackupObj) {
            if ($("#chkUseDafultBackup").prop('checked')) {
                if (window.currentStorageManagersForBackup.currentIndex >= 0) {
                    window.currentWorkspace.StorageManagers[window.currentStorageManagersForBackup.currentIndex] = window.currentStorageManagersForBackup.defaultBackupObj;
                }
                else {
                    window.currentWorkspace.StorageManagers.push(window.currentStorageManagersForBackup.defaultBackupObj);
                }
            }
            else
                if (window.currentStorageManagersForBackup.currentIndex >= 0)
                    window.currentWorkspace.StorageManagers.splice(window.currentStorageManagersForBackup.currentIndex, 1);

        }

    }
    function showBackupSettings() {
        if (!window.currentStorageManagersForBackup) return;
        if (window.currentStorageManagersForBackup.defaultBackupObj) {
            $("#chkUseDafultBackup").prop('disabled', false);
            if (!window.currentWorkspace.StorageManagers) window.currentWorkspace.StorageManagers = [];
            window.currentStorageManagersForBackup.currentIndex = -1;
            for (var i = 0; i < window.currentWorkspace.StorageManagers.length; i++) {
                var strBackup = window.currentWorkspace.StorageManagers[i];
                if (strBackup.__type == window.currentStorageManagersForBackup.defaultBackupObj.__type) {
                    window.currentStorageManagersForBackup.defaultBackupObj = strBackup;
                    window.currentStorageManagersForBackup.currentIndex = i;
                }
            }
            $("#chkUseDafultBackup").prop('checked', window.currentStorageManagersForBackup.currentIndex >= 0);
        }
        else {
            $("#chkUseDafultBackup").prop('checked', false);
            $("#chkUseDafultBackup").prop('disabled', true);
        }
        chkUseDafultBackupChanged();
    }
    function chkUseDafultBackupChanged() {
        if ($("#chkUseDafultBackup").prop('checked'))
            $("#chkUseDafultBackupSettings").removeClass('disabled');
        else
            $("#chkUseDafultBackupSettings").addClass('disabled');
    }
    function editDefaultBackupStart() {
        $('#WebEditorContent').html('');
        if (!window.currentStorageManagersForBackup) return;
        var obj = window.currentStorageManagersForBackup.defaultBackupObj;
        if (obj && $("#chkUseDafultBackup").prop('checked'))
            window.currentStorageManagersForBackup.createEditor(obj,
                            function (gelen) {
                                window.currentEditorSave = function () {
                                    $.when(window.currentStorageManagersForBackup.current.IsValid()).then(
                                        function (status) {
                                            var object = window.currentStorageManagersForBackup.current.GetObject();
                                            window.currentStorageManagersForBackup.defaultBackupObj = object;
                                            $('#WebEditorModal').modal('hide');
                                        },
                                        function (status) {
                                            return false;
                                        }
                                      );

                                };
                                window.currentEditorClose = function () { window.currentStorageManagersForBackup.close(); }
                                window.currentStorageManagersForBackup.current = gelen;
                                if (gelen.GetHelp()) {
                                    var helpObj = $('<span class="pull-right" data-help="tip" style="margin-top:-6px; margin-right:5px;"></span>');
                                    helpObj.data("directtip",
                                        function (xType) {
                                            return gelen.GetHelp(xType);
                                        });
                                    $("#WebEditorHelp").html(helpObj).embedHelp(true);
                                }
                                else
                                    $("#WebEditorHelp").html('');

                                if (gelen.editorObject.Header)
                                    $("#WebEditorHeader").html(gelen.editorObject.Header);
                                else
                                    $("#WebEditorHeader").html(obj.DisplayName);

                                $('#WebEditorModal').modal('show');
                            },
                            $('#WebEditorContent'), 200);
    }


    $(document.body).on("OnWsSaveScreen", function () {
        $(".forbackup").toggleClass('GeodiDisabledStyle',!CheckHasSettingAnyEnumarator("EnableBackup",$("#chkUseDafultBackup")));
    });

</script>
