<dcc:item factoryname="GeodiLicensePanel" trial="true" index="26">
  <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui/jquery-ui.min.js" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jquery-ui/jquery-ui.min.css" />
	<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceAuthorizationManager.js" />
 
 <div class="modal fade" id="DynamicMaskSettingsEditorModal" tabindex="-1" role="dialog" aria-labelledby="DynamicMaskSettingsEditorHeader" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="DynamicMaskSettingsEditorHeader">[$docViewer:dynamic_masked_title/js]</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
						<div class="table-responsive"> 
						  <table id="table1" class="table table-borderless"> 
							<thead> 
							  <tr> 
								<th class="text-center"></th>
								<th class="text-center">[$docViewer:dynamic_masked_permission/js]</th> 
								<th class="text-center">[$docViewer:dynamic_masked_masking/js]</th> 
							  </tr> 
							</thead> 
							<tbody id="tbody"> 
					  
							</tbody> 
						  </table> 
						</div> 
						<button class="btn btn-sm btn-primary" id="dynamicMaskAddBtn" type="button"> [$default:new_item/js] </button>
						<button class="btn btn-sm btn-danger" id="dynamicMaskRemoveBtn" type="button">[$docViewer:dynamic_masked_delete_selected_items/js]</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> [$default:close/js]</button>
                    <a tabindex="0" class="btn btn-sm btn-primary" onclick="saveDynamicMask();"> [$default:save/js]</a>
                </div>
            </div>
        </div>
    </div>
	
    <div class="checkbox col-sm-offset-2 col-sm-10">
        <label>
            <input id="DynamicMaskcheck" type="checkbox" onchange="ChangeDynamicMaskSettingsButtonStatus()" > <span>[$docViewer:dynamic_masked_enable/js]</span>
        </label>
         <span id="chkDynamicMaskSettings" >
             <a id="DynamicMaskSettings" href="#" onclick="editDynamicMaskSettings()" class="btn btn-default btn-xs disabled"> [$default:settings]</a>
        </span>
        
        <script>
			var DynamicMaskArg;
		
			$(document).ready(function()
			{
				$('#DynamicMaskSettingsEditorModal').on('hidden.bs.modal', function(e)
				{ 
					$("#tbody").empty();
				}) ;									
			});

            function ChangeDynamicMaskSettingsButtonStatus() {
                if ($("#DynamicMaskcheck").prop('checked'))
                    $("#DynamicMaskSettings").removeClass('disabled');
                else
                    $("#DynamicMaskSettings").addClass('disabled');
            }
			
            function editDynamicMaskSettings() {
				if($("#table1  > tbody > tr").length==0)
				{
					var obj=DynamicMaskArg["dynamicMaskSetting"];
					fillDynamicMaskTable(obj);
				}
				
				$('#DynamicMaskSettingsEditorModal').modal('toggle');
            }
			var rowIdx = 0;
			var maskMetas = [=context.RestApiJson("MaskDataHandler", "GetMaskDataMeta", false)];
			getUserGroups();
				$('#dynamicMaskAddBtn').on('click', function () {

					var arr=[];
					var indarr=[];
					$("#table1 tr").each(function() {
						if(Math.floor(this.id) == this.id && $.isNumeric(this.id)){
							indarr.push(this.id);
						}						
					});
					
					if(indarr.length>0)
					for (let i=0;i<indarr.length;i++)
					{
						let selected= $('#MaskPermissions_'+indarr[i]+' option:selected').val();
						arr.push(selected);
					}

					var ind=0; 
					if(indarr.length>0)
					ind=parseInt(indarr[indarr.length-1])+1;
						
					createTableBody(ind,null,null,arr);				
				}); 
				
				$("#dynamicMaskRemoveBtn").click(function(){
					$("table tbody").find('input[name="row"]').each(function(){
						if($(this).is(":checked")){
							$(this).parents("tr").remove();
						}
					});
				});
				
				 function getUserGroups() {
					window.authorizationManager.GetSystemUserGroupListNames('', function (data, textStatus) {
						window.userGroupList = data;
					});
				}
				
				function createTableBody(index,idStr,idStrval,arry){
					$('#tbody').append(`<tr id="${index}"> 
						<td>
							<input type='checkbox' name='row'>
						</td>
						  <td class="kie-tablelist__cell"> 
							<div class="form-group">
								<select class="form-control" name="YetkiGrupları" id="MaskPermissions_${index}">
								  <option value="" selected>[$docViewer:dynamic_masked_select_permission/js]</option>
								</select>							 
							</div>
						  	</td>						
						   <td class="kie-tablelist__cell">
									<div class="form-group">
										<select class="form-control" name="Maskeleme Seçenekleri" id="MaskOptions_${index}">
										<option value="" selected>[$docViewer:dynamic_masked_select_mask/js]</option>
									</select>
									</div>
							</td>						
						   </tr>`);
					if(maskMetas && maskMetas.length>0)
					$.each(maskMetas, function (i, maskMeta) {
						$("#MaskOptions_"+index).append($('<option>', { 
							value: maskMeta.ID,
							text : maskMeta.DisplayName 
						}));
					});
					$("#MaskOptions_"+index).append($('<option>', { 
							value: 'None',
							text : '[$docViewer:dynamic_masked_None/js]' 
						}));
					
					if(window.userGroupList && window.userGroupList.length>0)
					$.each(window.userGroupList, function (i, userGroupData) {
						if(arry && jQuery.inArray(userGroupData.ID, arry) !== -1 )
						{
							
						}
						else{
							$("#MaskPermissions_"+index).append($('<option>', { 
								value: userGroupData.ID,
								text : userGroupData.DisplayName 
							}));
						}
					});
					
					if(arry && jQuery.inArray('*', arry) !== -1 )
						{
							
						}
					else{
							$("#MaskPermissions_"+index).append($('<option>', { 
								value: '*',
								text : '[$docViewer:dynamic_masked_other_groups/js]' 
							}));
						}
					
						
						if(index!=-1 && idStr && idStrval){
							$("#MaskOptions_"+index).val(idStrval).prop('selected', true);
							$("#MaskPermissions_"+index).val(idStr).prop('selected', true);
						}
				}
				
				function fillDynamicMaskTable(objects){
					if(objects)
					{	
						var i=0;
						$.each(objects,function(index,value){
							createTableBody(i,index,value);
							i++;
						});
						
					}
					else
					{
						createTableBody(0);
					}
				}
				
				function saveMaskingSettings(indlist){
					var genericSettingsObject={};
					var checkarr=[];
					for (let i=0;i<indlist.length;i++)
					{
						
						var perm= document.getElementById("MaskPermissions_"+indlist[i]);
						var mask= document.getElementById("MaskOptions_"+indlist[i]);
						
						if(perm && mask && jQuery.inArray(perm.value, checkarr) == -1){
							var pky= perm.value;		
							genericSettingsObject[pky] =mask.value;
							checkarr.push(perm.value);							
						}
					}
					DynamicMaskArg["dynamicMaskSetting"]= genericSettingsObject;
					$('#DynamicMaskSettingsEditorModal').modal('hide');
				}
				
				function saveDynamicMask(){
						var trarr=[];
						var saveSettings=false;
						
						$("#table1 tr").each(function() {
							if(Math.floor(this.id) == this.id && $.isNumeric(this.id)){
							trarr.push(this.id);
						}	
						});
						var cnt=0;
						if(trarr.length>0)
						$.each(trarr,function(index,value){
							if($('#MaskPermissions_'+value+' option:selected').val()!='' && $('#MaskOptions_'+value+' option:selected').val()!='')
								cnt++;
						});
							if(trarr.length>0 && cnt==trarr.length)
								saveSettings=true;
							else
								saveSettings=false;
						if(saveSettings)
						  saveMaskingSettings(trarr);
						else
						showMessage('[$docViewer:dynamic_masked_error_message/js]', '[$default:warning/js]', 'warning')
				}

          $(document.body).on("WebEditorUpdateObject", function (e, arg) {
                if (!$("#DynamicMaskcheck").prop('checked')) {
                    if (arg.obj.GenericSettings)
					{
					 delete arg.obj.GenericSettings["DynamicMask_Enable"];
					 delete arg.obj.GenericSettings["dynamicMaskSetting"];
					}
                       
                }
                else {
                    if (!arg.obj.GenericSettings)
                        arg.obj.GenericSettings = {};
                    arg.obj.GenericSettings["DynamicMask_Enable"] = true;
                }
            });
            $(document.body).on("WebEditorUpdateGUI", function (e, arg) {
                $("#DynamicMaskcheck").prop('checked', (arg.obj.GenericSettings && arg.obj.GenericSettings["DynamicMask_Enable"]) ? true : false);
				ChangeDynamicMaskSettingsButtonStatus();
				  if (!arg.obj.GenericSettings)
                        arg.obj.GenericSettings = {};
				DynamicMaskArg= arg.obj.GenericSettings;
				var settings=DynamicMaskArg["dynamicMaskSetting"];
				fillDynamicMaskTable(settings);
            });

          
        </script>
    </div>
</dcc:item>