﻿/* font */
@font-face {font-family: 'Roboto';font-style: normal;font-display: swap;font-weight: 400;src: local("Roboto"), 
    url('/GUI/Theme/Default/fonts/roboto/Roboto-Regular.ttf")') format("ttf"); }
@font-face {font-family: 'Roboto Medium';font-style: normal;font-display: swap;font-weight: 500;src: local("Roboto Medium"),
    url(' /GUI/Theme/Default/fonts/roboto/Roboto-Medium.ttf")') format("ttf"); }
@font-face {font-family: 'Roboto-Bold';font-style: normal;font-display: swap;font-weight: 600;src: local("Roboto-Bold"), 
    url('/GUI/Theme/Default/fonts/roboto/Roboto-Bold.ttf")') format("ttf"); }
body{font-family: 'Roboto', sans-serif !important ;}
.SummaryAll , .inLinkColor , .divPanelTitleText , .facetLink{font-family: inherit !important} /* Geodi'den arial font family geliyor onun için.*/
*:focus{outline:none !important;}
/* Scrollbar */
::-webkit-scrollbar-thumb {background:#ddd;border:none;border-radius: 3px;cursor: pointer;}
::-webkit-scrollbar-thumb:active {background: #cfcfcf;  border: 3px solid #cecece;}
::-webkit-scrollbar-thumb:hover {background: #cfcfcf;  border: 3px solid #cecece;}
body{background: #eee;}
.ResultArea, .SingleArea {margin: 15px 10px;}
.KLV .ResultArea{margin: 15px 0px;}
.inDefaultPanel{margin: 10px 5px 0 5px}
.FrameMode .inDefaultPanel{margin: 0}
.FrameMode .ResultArea,  .FrameMode .SingleArea{margin: 0;}
.FrameMode .inDefaultPanel .pnl-query-item, .FrameMode #divMain .panel{display: inline-block;}
.FrameMode .inDefaultPanel .pnl-query-item .headerDocRow .divPanelTitleText{top: 7px;}
.FrameMode .inDefaultPanel .pnl-query-item .SummaryText{margin-top: 0;border: none;}
.FrameMode .navbarArea{min-height: 0;display:none;}
.FrameMode .inDefaultPanel .pnl-query-item .headerDocRow{float: left;width: 100%;}
.FrameMode .inDefaultPanel .pnl-query-item .docDetail{float: left;}
/* Header */
.navbarArea{border: none;background-color: #fff;padding-left: 0;padding-top: 0;transition: 0.3s all;}
.navbarArea .navbar-form{padding-bottom: 0;}
.navbarArea .navbar-form{padding-top:0}
.toggledBody .navbarArea{margin-left: 300px;}
.navbarArea .navbar-right{margin-top: -9px;position: static;margin-right: -16px;}
.navbarArea .navbar-right > li.dropdown , .navbarArea .navbar-right > li > a{margin: 0 0px;text-align: center;line-height: 6px;border-left: 1px solid #efefef;padding: 12px 0! important;float: left;width: 59px;}
.navbarArea .navbar-right > li >a{padding-bottom: 45px !important;margin-top: -7px !important;color: #4e4e4e;}
.navbarArea .navbar-right > li{float: left;padding: 0 ;}
.navbarArea .navbar-right > li.dropdown:hover{position: relative;}
.navbarArea .navbar-right > li .glyphicon{margin-top: 9px;}
.navbarArea .navbar-toggle {margin-top: -2px;}
.navbar-form #searchArea1 span.twitter-typeahead #txtSearchDefault {padding: 15px 59px 15px 43px;z-index: 9;height: 48px;border: none;box-shadow: none;border: 1px solid #ddd;border-top: none;border-bottom: none;}
	.navbar-form #searchArea1 span.twitter-typeahead:before{content: '';width: 24px;height: 24px;background-image: url('/GUI/img/24.png');background-position: center 0px;position: absolute;top: 10px;left: 12px;display: block;z-index: 90;transform: scale(0.8);}
	.navbar-form #searchArea1 .twitter-typeahead .tt-hint{margin: 0;color: #fff;cursor: default;max-width: 50px;}
	.inRootMenu .list-group-item:hover {background-color: #fff ;}
	.twitter-typeahead .tt-suggestion img {max-width: 24px;}
	.img-moreMobil24 {margin-top: 2px;}
	.navbar .dropdown-menu > .active > a span{filter:brightness(0) invert(1);}
	.navbar .dropdown-menu .glyphicon-remove{padding: 0 0 0 }
.navbar .SearchTextBoxArea button{background: transparent;margin: 0  !important;border: none;padding: 12px 15px !important; border-right:1px solid #ddd;}
.navbar .SearchTextBoxArea button .modeBtnText{margin-top: 3px;}
.navbar .SearchTextBoxArea button:hover , .navbar .SearchTextBoxArea button.active{position: relative;}
	/* Detail header*/
.navbar.layoutNavBar .container-fluid{padding-left: 0}
.navbar.layoutNavBar .navbar-brand{padding: 0 0 0 13px;margin: 0 0;}
.navbar.layoutNavBar .navbar-brand .contentDisplayNameCss{color: #fff;margin-left: 2px;filter: none; max-width: 720px;}
.navbar.layoutNavBar li .img-button24 ,
.navbar.layoutNavBar li img ,
.navbar.layoutNavBar #BaseButtonListRight a ,
.navbar.layoutNavBar .navbar-brand img ,
#side_panels .panel .panel-heading .img-button24{transform: scale(0.84);}
.navbar.layoutNavBar #BaseButtonList li#layoutSearchDiv{filter:none;box-shadow: none;border: 1px solid #ddd;height: auto;padding: 0 5px 0;}
.navbar.layoutNavBar li#layoutSearchDiv a , 	.layoutNavBar li#layoutSearchDiv #layoutSearchPos{color: #4e4e4e;font-weight: 100;}
.navbar.layoutNavBar li#layoutSearchDiv #layoutSearchPos{color: #4e4e4e;border-right: 1px solid #ddd;padding-right: 8px;padding: 3.5px 7px 4px 0;}
.navbar.layoutNavBar li#layoutSearchDiv a.img-close{
    height: 16px !important;
}
.navbar.layoutNavBar li#layoutSearchDiv a.img-close:before{}
.navbar.layoutNavBar #liOpenContentFolder{padding: 0 3px;}
.navbar.layoutNavBar #liOpenContentFolder span{margin-left:0}
.navbar.layoutNavBar .navbar-header .navbar-brand{padding: 14.5px 10px;margin: 0;}
.navbar.layoutNavBar .navbar-header .navbar-brand img{filter:brightness(0) invert(1);}
.navbar.layoutNavBar #bsForLayout ul li input{border: none;box-shadow: none;max-width: 100%;}
.navbar.layoutNavBar #BaseButtonListLeft{padding: 16px 0;color: #fff;}
.navbar.layoutNavBar #BaseButtonListLeft a{color: #fff;}
.navbar.layoutNavBar #BaseButtonListRight{padding: 12.5px 0;margin-left: -14px;}
.navbar.layoutNavBar #BaseButtonListRight li a{transform: scale(1);}
.navbar.layoutNavBar #prevNextQ a{padding: 0 !important ; }
.navbar.layoutNavBar #prevNextQ a.img-previouspage,
.navbar.layoutNavBar #prevNextQ a.img-nextpage{border: none;background-image: url('/GUI/img/16.png');background-repeat: no-repeat;width: 18px;height: 17px !important ;position: relative;top: 3.5px;filter: brightness(0) invert(1);transform: scale(0.9);}
.navbar.layoutNavBar #prevNextQ a.img-previouspage{background-position: center -558.5px;}
.navbar.layoutNavBar #prevNextQ a.img-nextpage{background-position: center -574.5px;}
.navbar.layoutNavBar #prevNextQ a.img-previouspage:before,
.navbar.layoutNavBar #prevNextQ a.img-nextpage:before{content:"";}
.navbar.layoutNavBar .navbar-brand  , 	.layoutNavBar button{filter:none;}
.navbar.layoutNavBar {padding: 0;margin: 0;height: 54px;}
.navbar.layoutNavBar div{margin:0 !important}
.navbar.layoutNavBar .collapse #BaseButtonList {display: flex;align-items: center;padding: 1.5px 0;min-height: 53px;margin-right: 13px;}
.navbar.layoutNavBar .collapse #BaseButtonList #navSplit {opacity: 0;padding: 0;}
.navbar.layoutNavBar .collapse #BaseButtonList #navSplit span{margin:0}
.navbar.layoutNavBar #BaseButtonListRight li#liHelp a{border-left:1px solid #fff;border-radius: 0;padding: 5px 6px 1px 9px ;margin-left: 2px;}
.navbar.layoutNavBar  #BaseButtonList li{filter:brightness(0) invert(1)}
.navbar.layoutNavBar  #BaseButtonList li span{margin: 0 0 0 0;}
	/* Manager  Header */
	.navbar-default.navbar-fixed-top span {filter:brightness(0) invert(1); color:#fff;}
	.navbar-default.navbar-fixed-top .img-default32{margin-right: 5px; transform: scale(0.8);}
	.navbar-default.layoutNavBar span {filter:none;}
	.navbar-fixed-top{height: 50px;}
	.navbar-fixed-top .navbar-brand  , .navbar-fixed-top button{filter: brightness(0) invert(1);height: auto;}
	.navbar .img-sidebarMobil24{position: relative;background-color: transparent;border-radius:0;background: url('/GUI/img/rightHide16.png');background-repeat: no-repeat;padding: inherit;display: inline-block;background-position: center;height: auto;padding: 22px 26.5px;}
	.toggledBody .navbar .img-sidebarMobil24{background: url('/GUI/img/leftHide16.png') no-repeat center;}
#liHelp .glyphicon{color: #fff;margin: 0;}
.img-filter24{margin: 2px 1.5px;}

.qUpload:before{left:3px;top: -15px !important;background: url('/GUI/icons/Layer/document_search.png');background-size: 100% 100%;}
.qUpload i{display:none;}
.saveQueryBtn{position: absolute;}
.saveQueryBtn:before{	left: -3px;top: 0px;background: url('/GUI/img/down24.png');background-size: 100% 100%;}
.qUpload:before , .saveQueryBtn:before{content:'';width: 18px;height: 18px;display: inline-block;opacity: 0.7;}
.qUpload:hover:hover:before , .saveQueryBtn:hover:hover:before{opacity: 1;}
.saveQueryBtn i{display:none;}
.qUpload , .facetCountT{top:25px;right: 20px;margin-left: -20px !important;color: #7f7f7f;}
.facetCountT, .qUpload, .saveQueryBtn{top:15px !important;}
.saveQueryBtn{top: 27px;right: 52px;}
.qUploadCtrlStyleBack {margin-left: 0;width: 100%;}
.otherMenu{width: 300px; }
.otherMenu #wsDmmy .inSpanText , .otherMenu #wsDmmy  .visible-xs-inSpanText{width: 210px;overflow: hidden;align-self: end;margin: 0 0 3px 0;} 
.wsMnItem small{padding: 0 0 0 34px;}
.navbar .dropdown-menu {width: 300px;padding: 0;}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{box-shadow: none;}
.tt-dropdown-menu{max-width: 445px;margin-top: 63px;border-color: #eee;}
		/* Main dropdown */
	  .dropdown-menu {border: 1px solid #ccc;background: #fff;}
		.menuRoot .inLink .img-default ,.menuRoot .inLink .img-default24 , .menuMobile  .inLink .img-default , .menuRoot  .export24{margin-right: 5px;transform: scale(0.84);}
		.menuRoot li a{padding: 5px 11px;}
		.menuRoot li .menuFormControl{width: 89%;border-radius: 0;border: 1px solid #ccc;box-shadow: none;}
		.menuRoot li#btnExport:hover{background: #f9f9f9 }
		.menuRoot .wsMnTitle{padding: 20px 10px;}
/* Navbar belge gelince */
.navbar-fixed-top.navbar-fixed-second-top{margin: 9px 0px 0;background: #fff;padding: 3px 0 10px;height: auto;}
.navbar-fixed-second-top .dropdown #aWorkSheet{border: 1px solid #ddd;padding: 6px 12px 4px ;border-radius: 5px;color: #000;}
.navbar-fixed-second-top .dropdown #aWorkSheet span{color:#000; filter:none;}
#BaseButtonList #layoutSearchPrev a , #BaseButtonList #layoutSearchNext a{height: auto;}
#BaseButtonList #layoutSearchPrev a , 
#BaseButtonList #layoutSearchNext a{border: none;background-image:url('/GUI/img/16.png');background-repeat: no-repeat;width: 18px;height: 16px !important;position: relative;top: 1.4px;transform: scale(0.8);}
#BaseButtonList #layoutSearchPrev a{background-position: center -527.5px;}
#BaseButtonList #layoutSearchNext a{background-position: center -542.5px;}
#BaseButtonList #layoutSearchPrev a:before , 
#BaseButtonList #layoutSearchNext a:before{content: '';}
/* facet */
	.toggledBody .sidebar-large .sidebar-wrapper {width: 300px;left: 300px;position: absolute;z-index: 9;}
	.sidebar-large .sidebar-wrapper{left: 0;top: 0;height: 100% !important; /* element style ile gelen bir sorun*/}  
	.toggledBody .sidebar-large .page-content-wrapper{left: 300px;}
	.sidebar-large .page-content-wrapper{left: 0;}
/* Left side*/
#wrapper .slide_togler {top: 56px;padding: 5px 4px 5px 6px;}
#wrapper .slide_togler.slide_toglerforScroll{top: 100px;}
#wrapper .slide_togler.slide_toglerforScroll .viewerScrollSearch{background: #ffdd00;border-color: #ccaa00;}
#wrapper .slide_togler.slide_toglerforScroll #_defSc_pagePos{border-radius: 3px;color: #000;}
#wrapper .slide_togler.slide_toglerforScroll #_defSc_pagePos span{color: #8e8e8e;}
#facetArea{min-height: 100%;}
#facetArea #fc_status_p_body{padding: 0 11px 7px;background: transparent !important;}
#facetArea .panel{padding-bottom: 4px;}
#facetArea .panel ,#facetArea .panel-heading{background: transparent;border: none;box-shadow: none;margin-bottom: 0 !important;}
#facetArea .panel .panel-body{background: transparent;padding: 0;margin: 0 0;border: none;box-shadow: none;border-bottom: none;}
#facetArea .panel .panel-body .facetLink{margin: 0;width: 100%;padding: 5px 17px;font-weight: 400;text-overflow: ellipsis;max-width: 100%;color: #4e4e4e;position: relative;}
#facetArea .panel .panel-body .facetLink.facetLinkPLine.checkboxGroup{padding: 5px 11px;}
#facetArea #fc_query_p_body .img-delete16 , #facetArea #fc_query_p_body .img-default{margin: 0 6px 0 0;}
#facetArea #fc_query_p_body .facetLink{padding: 7px 17px;}
.facetLinkPLine label b{position: relative;font-size: 14px;}
#facetArea .img-not12{margin-top: 11px;margin-left: -13px;z-index: 9;}
#facetArea .panel .panel-body .facetCountRPBar{font-size: 12.8px;width: auto;padding: 0px 0;right: 12px;}
.checkboxGroup .facetCountRPBar b{margin-right:10px; font-weight: normal}
#facetArea .panel-heading {font-weight: bold;padding: 7.5px 10px;width: 100%;margin-left: 0;margin: 0;border-radius: 0;}
._forFacet{margin: 0 0 0 0 !important;padding: 0 !important;width: auto !important;}
#facetArea .checkbox {display:inline-block;margin: 0 0;}
#facetArea label{display: inline-block;padding-left: 5px;min-width: 218px;}
#facetArea .checkbox .cr, .radio .cr{margin: 1px 7px 0px 0;border-radius: 3px;}
#facetArea .checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon{font-size: 0.7em; left: 17%;}
#facetArea ._ttl_2{max-width: 163px;font-size: 14px;font-weight: 400;top: 3px;position: relative;}
#facetArea .img-default , #facetArea .img-delete16{margin-right: 7px;height: 18px;width: 18px;margin-top: -3px;}
#facetArea .checkboxGroup .checkboxGroupExpand{margin: 0px 3px 0px 0px;position: relative;top: -5px;}
#facetArea .checkboxGroup .checkboxGroupExpand.plus{background-position: center -511px;width: 16px;height: 16px;background-size: 100% auto;transform: rotate(-90deg);}
#facetArea .checkboxGroup .checkboxGroupExpand.negative{background-position: center -511px;width: 16px;height: 16px;background-size: 100% auto;transform: rotate(0);}
#facetArea .showFacetEmptyItemBtn , #facetArea .facetCountR{bottom: auto;position: absolute;color: #4e4e4e;}
#facetArea .facetCountR .fa-pie-chart{margin-top: 3.3px;}
#facetArea .showFacetEmptyItemBtn{top: 4.4px;right: 30px;}
.facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){padding-left: 30px !important;}
#facetArea .panel .panel-body.facetLeftSpace .facetLink.facetSubItem .facetCountR{right: 0;top: 9px;}
	.qUploadCtrl{background: #eee ;border: none;box-shadow: none;margin-left: 0;max-width: 442px;margin-top: 59px;border: 1px solid #cecece;}
	.qUploadCtrl .upload-title{color: #fff;font-weight: normal;}
	.qUploadCtrl  .upload-zone{margin: 6px -8px ;padding: 10px;}
	.qUploadCtrl .upload-zone .input #querySimilarURL{max-width: calc(100% - 76px);border: none;background: #eee;padding: 9px 5px;height: auto;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) ;}
	.qUploadCtrl .hoverForDrop{margin-top: -61px ;border: 1px dashed #bb955f;line-height: 46px;height: 60px;padding: 6px 13px;width: 440px;margin-left: -16px ;border-radius: 0 ;}
	.qUploadCtrl .hoverForDrop .fa-arrow-down{position: relative;top: -4px;}
	.qUploadCtrl .upload-zone .upload-btn , .upload-urlbtn{border: 1px solid #dfdfdf;padding: 8px 21px;background: #fff;border-radius: 3px;}
	#querySavePopup{box-shadow: none;border: none;}
	#querySavePopup .qUploadCtrlStyleSub{border: 1px solid #ccc;box-shadow: 0px 7px 16px rgba(0,0,0,0.2);margin-top: 64px;border-top: none;border-radius: 0 0 5px 5px;}
	#querySavePopup .qUploadCtrlStyleSub tr{border-bottom: 1px solid #ccc;}
	#querySavePopup .qUploadCtrlStyleSub #qCreateQuery a{color:#000;}
	#d1Childs .dropdown-menu{position: relative;left: -218px;background: #fff;width: auto;max-width: 262626px ;max-height: 730px;overflow-x: scroll;}
	#d1Childs .dropdown-menu:after{border-bottom: 6px solid #fff;}
	#d1Childs .dropdown-menu .ExpMenuItem ul{padding-left: 0;margin-left: 10px;}
	#d1Childs .dropdown-menu .ExpMenuItem a{text-overflow: ellipsis;padding: 1px 0 2px 5px;color: #262626;max-width: 255px;overflow: hidden;}
 .inDefaultPanel{position: relative;max-width: 665px;}
.inDefaultPanel{max-width: 640px ;padding-left: 6px;}

.MAP .dateFilterArea{top: 0}
.dateFilterArea #dateSlider_queryDate{border: none;box-shadow: none;height: 6px;cursor: pointer;}
.sliderArea	.noUi-horizontal .noUi-handle,
.dateFilterArea	.noUi-horizontal .noUi-handle
{box-shadow: none;border: none;border-radius: 3px;height: 15px;width: 17px;top: -5px;cursor: pointer;}
.sliderArea	.noUi-horizontal .noUi-base,
.dateFilterArea	.noUi-horizontal .noUi-base
{background: #e2e2e2;}
.sliderArea	.noUi-horizontal .noUi-connect,
.dateFilterArea	.noUi-horizontal .noUi-connect
{border: none;box-shadow: none;}
.expandButton + div .input-group input{border: 1px solid #ccc;box-shadow: none;background: #eee;color: #4e4e4e;}
body  #dateSliderTooltip{background-color: #ffffff47 ;position: fixed;top: 0;left: 0;width: calc(100% - 300px);left: 300px;}
body #dateSliderTooltip .dateSliderContainer{font-size: 45px;display: block;position: absolute;left: 50%;top: 50%;margin-left: -340px;margin-top: -65px;width: auto;}
#dateSliderTooltip .dateSliderContainer div{float: left;margin: 0 10px;border-radius: 8px;color: #fff;border: none;box-shadow: 1px 0px 10px 1px #fff;padding: 6px 13px;}
/* Right Side */
.page-content-wrapper{background: #eee}
.pnl-query-item .badge {position: absolute;right: 3px;top: 8px;width: auto;z-index: 1;}
/* Mobidi kayıtları*/
.inDefaultPanel .pnl-query-item .__textclass .pgInlineBlock{vertical-align:top;}
.panel-default > .panel-heading .badge{width: auto;}
.FrameMode  .__textclass .text {padding-top: 5px;}
.__textclass .propGrid {display: inline-block;width: 100%;margin: 0 0px 10px;border:none; }
.__textclass .propGrid .pgHeader{background:transparent}
.__textclass .propGrid .pgRow{border-bottom:1px solid #ddd;padding: 0;}
.__textclass .propGrid .pgRow:last-child{border-bottom:none;}
.__textclass .propGrid .pgRow:nth-child(odd){background: #fff;}
.__textclass .propGrid .pgRow:nth-child(even){background: #eee;box-shadow: inset 0px 0px 9px 0px #ddd;}
.__textclass .propGrid .pgCol{font-weight: bold;border-right: 1px solid #ddd}
.__textclass .propGrid .pgVal{word-break: break-word;}
.__textclass .propGrid .pgVal,
.__textclass .propGrid .pgCol{padding:5px;}
.qContentViewerCloseButton.inCloseBtn{background: transparent;border: none;border-radius: 5px;top: 10px;right: 5px;font-size: 28px;}
.qContentViewerCloseButton.inCloseBtn span{font-size: 0;background-image:url('/GUI/img/24.png');background-repeat: no-repeat;background-position: center -406px;height: 24px ;width: 24px;transform: scale(0.7);display: block;filter: brightness(0) invert(1);position: relative;top: 4px;right: 4px;}
.navbar-default .navbar-toggle .icon-bar{background:#fff}	
/* Kelimelers*/ 
.inDefaultPanel .pnl-query-item{padding: 0;border-radius: 5px;border: none;box-shadow: 0px 0px 15px -4px #ccc;background: #fff;margin-bottom: 15px;border: none !important;padding: 5px;}
#divMain .panel-list .panel-heading{padding:0;}
#divMain .panel  .action-menu-button {margin: 8.5px 0 8px;position: relative;}
#divMain .btn-kw-list .btn-default{margin-bottom: 0;padding: 1px;text-align: left;} 
#divMain .list-item .SummaryLinks{}
.SummaryLinks .btn-default:hover, .SummaryLinks .btn-default:focus, .SummaryLinks .btn-default.focus, .SummaryLinks .btn-default:active, .SummaryLinks .btn-default.active, .open > .dropdown-toggle.btn-default{background-color: transparent;}
#divKwAccordion{max-width: 100%;padding: 0 !important;}
.divCurrentDocumentInfo{width: 65%;}
.SummaryLinks button{margin-right: 7px;}
.SummaryLinks button:first-child{margin-right: 6px;}
.SummaryLinks span{margin-right: 0 !important; }
.SummaryAll .SummaryLinks span i{margin-right: 4px;color: #262626;font-weight: bold;margin-top: 2px;width: 24px;text-align: center;}
#divMain #divKwAccordion .pnl-query-item{width: 23.8%;margin: 0 0.6% 12px !important;display: inline-block;vertical-align: top;border-radius: 5px !important;box-shadow: 0px 0px 15px -3px #ccc;}
#divMain #divKwAccordion .divKWSummary{margin-top: 45px;background: #fff;padding-top: 18px;}
#divMain #divKwAccordion .divKeywordDocExpand{margin-top: -14px;}
/* Kelime iç*/
#divMain .divCurrentDocument{padding: 4.1px 2px ;background: #fff;border-bottom: 1px solid #ccc;}
#divMain .panel-heading .klv-kw-title .imgPanelTitleIcon{margin-left: 12px;margin-top: 14px;float: left;width: 16px;}
#divMain .klv-kw-title {margin-bottom: 0;font-size: 16px;color: inherit;position: relative;height: 42px;margin-left: -3px;border-radius: 5px 0 0px 5px;}
#divMain .panel-collapse .panel-body{border-top-color: #e8e8e8;background: #fff;} 
.SearchTextBoxArea button span.modeBtnText{display: block;}
.SearchTextBoxArea button span.img-check12{opacity: 1;filter: none;}
.SearchTextBoxArea .active span{opacity: 1;filter: brightness(0) invert(0);}
#divMain .panel-heading .divPanelTitleText {color: #262626;font-size: 14px;line-height: 39.1px;height: 42px;padding-left: 11px;}
.spanKeywordDocExpand{position: relative;font-size: 0;top: 8px;}
.spanKeywordDocExpand:before{content: '';position: absolute;top: 16px;transition: 0.7s;left: 0;z-index: 9;}
.divKeywordDocExpand[state=expanded] .spanKeywordDocExpand:before{transform: rotate(180deg);} 
.divKeywordDocExpand[state=expanded] .spanKeywordDocExpand{top: -3px;}
#divMain .divSummaryLeft button{border:none;margin-bottom: 2px;background-color: transparent;transform: scale(0.8);height: 24px;}
#divMain .divCurrentDocument .div-button-s , #divMain .divCurrentDocument .divCurrentDocumentInfo {margin-top: 9px;}
#divMain .divCurrentDocument .div-download{margin-top: 7px !important;}
/* Listeleme sol alan*/
.headerDocRow .imgContainer{float: left;}
.inDefaultPanel .pnl-query-item .headerDocRow{float: left;width: 100%;margin-bottom: 7px;}
.inDefaultPanel .pnl-query-item .headerDocRow .divPanelTitleText{font-size: 16px;} 
.inDefaultPanel .pnl-query-item .headerDocRow .divPanelTitleText .inLink{color: #000;} 
.inDefaultPanel .pnl-query-item .headerDocRow .docParentArea , .inDefaultPanel .pnl-query-item .headerDocRow .divPanelTitleText{width: 80%;float: left;padding: 0 0 0 13px;}
.inDefaultPanel .pnl-query-item .headerDocRow .docParentArea .docparent{padding: 0;width: 100%;background: transparent;text-align: left;color: #545454;border: none;} 
.inDefaultPanel .pnl-query-item .headerDocRow .docParentArea{font-size:11px;color:#4e4e4e;padding-left: 13px;}
.inDefaultPanel .pnl-query-item .headerDocRow .docParentArea  span , .inDefaultPanel .pnl-query-item .headerDocRow .docParentArea small{font-size: 11px;}
.fav-color {color: #ffa21a;}
.inDefaultPanel .pnl-query-item .SummaryAll{padding: 0;float: left;width: 100%;}
.inDefaultPanel .pnl-query-item .SummaryText{color: #373737;margin: 0 0 0;padding: 0;}
.inDefaultPanel .pnl-query-item .ThumbContentRef {float: left;margin: 0 12px 10px 0;}
#divMain .ItemSelectedForAdvRight {box-shadow: 13px 2px 12px 0 rgba(0,0,0,0.35);overflow: inherit;}
.inDefaultPanel .pnl-query-item .docDetail{width: 100%;}
#inRightPanelForDoc .list-group-item{margin-bottom: 6px;}
/* Listeme sağ alan */
.inAdvRightPanel h3 , .inAdvRightPanel .SummaryLinksRight , .inAdvRightPanel #inrightInfo{padding: 10px;background: #fff;     max-width: 553px}
.inAdvRightPanel h3 span{color: #fff;font-size: 16px;position: relative;word-wrap: break-word;width: calc(100% - 37px);display: block;float: left;margin-left: 8px;}
.inAdvRightPanel h3 span.highlight , .inAdvRightPanel h3 span.lightHighlight{display: inline !important;float: none;margin: 0;}
.inAdvRightPanel h3{margin: 0;border-bottom: none;border-radius: 0;color: #256fb0;border-radius: 0 5px 0  0;float: left;width: 100%;margin-bottom: 17px;}
.inAdvRightPanel h3 img{vertical-align: top;width: 20px;float: left;}
.inAdvRightPanel #inrightInfo{margin-top: -17px;border-radius: 0 0 5px 0;}
.inAdvRightPanel #inrightInfo .isplit{vertical-align: text-top;margin: 0px 0 0 4px;background-position: center -575px;}
.inAdvRightPanel #inrightInfo .isummary .isplit{vertical-align: bottom;margin: 6px 5px;}
.inAdvRightPanel #inrightInfo .isummary .iowner{color: #4e4e4e !important;position: relative;font-size: 11px !important;top: -1.5px;}
.ipath .iblock.iparent img{margin-right: 3px;}
.ipath .iblock img{vertical-align: bottom;margin-right: 0;}
.ipath .iblock .itext{color: #000;}
.inAdvRightPanel h4 b{color: #ee5744 ;}
.inAdvRightPanel #inrightLabels{color: #262626;}
.inAdvRightPanel #inrightLabels ul li{background: #fff;color: #373737;border-color: #efefef;}
.inAdvRightPanel #inrightLabels ul li div p{color: #263E55}
.inAdvRightPanelBtn{background-color: #fff !important;border-color: #ccc;}
#rightDuplicates .docDetail , #rightVersions .docDetail , #rightSimilars .docDetail{margin-bottom: 10px}
#rightDuplicates  .__textclass , #rightVersions .__textclass , #rightSimilars .__textclass{display: none;}
#rightDuplicates .docDetail , #rightVersions .docDetail , #rightSimilars .docDetail{min-height: auto}
.rightDiv{border: none;margin-bottom: 10px;}
.rightDiv, .rightTabs{max-width: 539px;}
/* dijital atlas */
.DABody #querySavePopup {width: calc(100% - 56px);}
.DABody #querySavePopup .qUploadCtrlStyleSub{margin-top: 48px;}
.DABody .qUpload:before, .DABody .saveQueryBtn:before{top: -17px;left: 27px;}
.DABody .saveQueryBtn{top:13px;right: calc(17% + 10px)}
.DABody .dc-search-group #txtSearchDefault{width: 87%;padding: 18px 15px;}
.DABody .searchArea{width: 428px;}

/* File info */
	.ipnl img{width: 20px;margin-right: 2px;}
#inRightPanelForDoc .rightDiv  .pnl-query-item{border: 1px solid #ddd !important;margin-bottom: 6px;box-shadow: none;}
.rightDiv .collapse{display: none}
#inRightPanelForDoc .list-group-item:last-child , #inRightPanelForDoc .list-group , #inRightPanelForDoc .pnl-query-item:last-child{margin-bottom: 0;}
.rightTabs a{color: #777;padding: 3px 3px;margin-right: 3px;border-top-color: #777;}
.rightTabs a h4{font-size: 17px;margin: 8px 0;}
.rightTabs a h4 b{color:inherit;}
.rightTabs a .badge{border-color: #777 !important;vertical-align: middle;font-size: 11px;margin: 0px 0 0 0;font-weight: bolder;padding: 1.3px 6px 2px;}
/* Liste için kutu renk */
.divPanelTitleText .highlight{color: #262626;background: #efefef;}
/* Modal */
.modal-content .modal-header span ,.modal-content .modal-header button{color: #fff;opacity: 1;}
.modal-content .modal-header img {filter: brightness(0) invert(1); }
.modal-content .modal-header small{color:#ddd;}
/* facepro modal */
.fcThumbsContainer .fcContent .openIco , .fcThumbsContainer .fcContent .nokIco , .fcThumbsContainer .fcContent .okIco{opacity: 0.8;-webkit-filter:drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);filter: drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);text-shadow: none;}
.fcThumbsContainer .fcContent .img-similarFc{opacity: 0.8;-webkit-filter:brightness(0) invert(1) drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);filter: brightness(0) invert(1) drop-shadow(1px 1px 0px #000);}
/* like textarea */
.inEditableArea{background:#fff;border:1px solid #ccc;}
.panel-warning span{color: #fff; opacity: 1}
.noUi-connect{background-color: #FFB03B;}
.inDefaultPanel  .panel-heading{background: #fff;color: #4e4e4e;}
.enumLayerSettingsDiv {background: #fff;}
 iframe{background: #eee}
	/* Kayıtlı sorgular  */
	/* modal title custom*/
	#OCRSettingsEditorHeader{display: inline;}
/* Map */
#mapLayerSelArea{overflow-y: auto !important;}
#mapLayerSelArea .map-layer-sel{padding: 1px}
#mapLayerSelArea button{width: 88px;height: 88px;position: relative;overflow: hidden;margin-bottom: 2px; border-radius: 5px;}
#mapLayerSelArea .map-layer-sel button span{position: absolute;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;transition: 0.4s;color: #fff;font-size: 12px;line-height: 18px;}
#mapLayerSelArea .map-layer-sel.active button span{display: none;}
#mapLayerSelArea .map-layer-sel button:hover span{left:-100% }
body .documentConteiner{background-color: #eee }
body .documentConteiner .documentViewFrame{background: #fff;border: none;border-radius: 5px;margin: 3px 5px;box-shadow: 0px 0px 15px -3px #ccc;height: 96%;}
body .documentConteiner .documentViewFrame .divPanelTitleText{color: #263E55}
body .documentConteiner .documentViewFrame .text{color: #373737}
.ol-popup-content{padding-right: 0}
.ol-popup-closer, .ol-popup-closer:hover, .ol-popup-closer:visited {right: 1.2px;}
.ol-popup{background: #eee;padding:17px 0;}
.ol-touch .ol-control button{font-size: 1.14em}
/* İçerik detay*/
#leftGrayTool{width:120px;}
body .defaultAreaCss{top:54px;}
.panel-group #panelLabels .panel-heading span , #slide_kewyords_header span , #slide_pnlhdr1 span{margin-left: 4px;}
.ViewerRightArea .panel  .panel-heading{padding: 13px 14px;font-weight: bold;margin: 0px 0 0;background: transparent;border: none;border-bottom: 1px solid #ccc;color: #4e4e4e;}
.ViewerRightArea .panel  .panel-heading .badge{margin-left: 8px;padding: 1px 6px 1.9px;position: relative;right: auto;top: 2px;left: 2px;}
#wrapper {margin-top: 15px !important;}
.ViewerRightArea .list-group-item{line-height: 24px;padding: 5px 10px;margin: 8px;border: none;border-radius: 4px !important;background: #fff;box-shadow: 0px 0px 15px -4px rgba(0,0,0,.15);}
.ViewerRightArea .faceListGroup li.faceTimeCont{padding: 0 !important;}
.ViewerRightArea #divLayerTree{border-radius: 5px;background: transparent;padding: 7px 0;}
.ViewerRightArea #divLayerTree li{border: none;padding: 0;margin: 0 ;background-color: transparent;box-shadow: none;}
.ViewerRightArea .panel{background: transparent;border: none;box-shadow: none;}
.ViewerRightArea li#___activeKeywordDetail{padding: 0;}
.ViewerRightArea .panel-collapse ul li.list-group > a{color: #4e4e4e ;background: transparent ;padding-top: 2px;padding-left: 5px;line-height: 1.5;display: block;}
.ViewerRightArea .panel-collapse ul li.list-group > a:before{top: 2px;position: relative;margin-right: 6px;}
.ViewerRightArea .panel-collapse ul li.list-group #arrow{display: none; }
.ViewerRightArea p {margin: 0;padding: 4px;}
.ViewerRightArea .list-group{margin: 0;border: none !important;}
.ViewerRightArea .panel-collapse ul li.list-group , .ViewerRightArea .documentViewFrameTitle{padding: 6.5px 7px;background: #fff;margin: 0 0 7px;border: none;border-radius: 5px;box-shadow: 0px 0px 15px -4px #ccc;}
.ViewerRightArea .documentViewFrameTitle input{margin: 5px 7px 0px 0px ;}
.ViewerRightArea .documentViewFrameTitle img{margin-top: 4.2px;width: 16px;}
.ViewerRightArea .panel-collapse{padding: 7px;}
.ViewerRightArea .panel-collapse#slide_pnl2 .form-horizontal .form-group:last-child{margin:0}
.ViewerRightArea .panel-collapse#slide_pnl2 .form-horizontal .form-group label{padding-top: 0}
.ViewerRightArea .panel-collapse .ScreenItem{box-shadow: 0px 0px 15px -4px #ccc; text-align: left;padding:10px 15px}
.ViewerRightArea .panel-collapse .ScreenItem .divPanelTitleText{padding:0; color:#000; font-size:14px; }
.ViewerRightArea .panel-collapse .ScreenItem small{margin-bottom: 5px; }
.ViewerRightArea .panel ul.list-group li > a.data-kw ,.ViewerRightArea .faceListGroup .data-kw{word-wrap: break-word;display: inline-block;}
.ViewerRightArea .panel ul.list-group li > a.data-kw{width: 82%;}
.ViewerRightArea .panel ul.list-group li > a{color: #4e4e4e;}
.ViewerRightArea .faceListGroup .data-kw{width: 134px;color: #4e4e4e;}
.ViewerRightArea li:hover , .ViewerRightArea .documentViewFrameTitle:hover , .ViewerRightArea .faceListGroup li:hover{background-color: #f9f9f9 ;}
#sidebar-wrapper {border: none;top: 54px;}
#zipArea{padding-top: 11px;}
#defaultArea .col-sm-12{padding: 0 11px;}
#map .tooltip .tooltip-inner{background: #eee; color: #262626}
	/* email detail */
	.eMailRow .divMain{padding: 0;margin: 39px auto 0;max-width: 80%;}
	.eMailRow .message-panel{border:none;box-shadow:0px 0px 15px -4px #ccc;}
	.eMailRow .panel-body{padding: 0;}
	.eMailRow .message-panel .panel iframe{background: #fff;}
	.eMailRow .divMain #divDocAccordion .panel-heading.viewMailInfo{background: #f9f9f9}
	.eMailRow .panel-title .messageSubject{font-size: 13px; margin-top: 5px}
	.eMailRow #viewMailInfo div{padding: 5px 3px; border-bottom: 1px solid #f1f1f1}
	.eMailRow #viewMailInfo div:last-child{ border-bottom: none}
	/*table detail */
	#tableArea{margin:0;}
	#mainTable_wrapper{margin:30px auto 0;max-width: 96%;}
	#mainTable_wrapper  table{border:none;background: #fff;border-radius: 10px 10px 0 0;overflow: hidden;border:none;}
	#mainTable_wrapper  table#mainTable{border-radius:0 0 10px 10px;}
	#mainTable_wrapper  table#mainTable th{padding:0 6px !important;}
	#mainTable_wrapper  table th,
	#mainTable_wrapper  table td{border: 1px solid #ddd;border-right: none;border-left: none;border-top:none;background: transparent;padding: 5px 6px !important;}
	#mainTable_wrapper  table tr:last-child td{border-bottom:none; }
	#mainTable_wrapper  table tr th{font-size:16px;}
	#mainTable_wrapper  table tr:hover{background:#ddd;}
	
	/*360*/
	.gpsSettings .gpsWalkTxt{margin-bottom: 9px;width: 91px;padding: 3px 6px;}
/* Yönetim ekranı */
.ManagerPage{background: #eee}
.mn-left-panel-content a{color: #4e4e4e;display: block;}
.mn-left-panel-content li{display: block;color: #4e4e4e;}
#divDictionaries .btn, #divTemplateDictionaries .btn {background-color: transparent;margin: 0px 2px;padding: 0px 2px;height: 30px;width: 26px;border: none;float: left;color: #000;}
#divDictionaries .btn:hover, #divTemplateDictionaries .btn:hover{background: transparent;}
.body-with-fixed-navbar #wsListGroup .btn span{margin-top: 2px;margin-left: 1px;font-size: 17.2px;transform: scale(0.8);}
#divTemplateDictionaries .btn span , #divDictionaries .btn span {margin: 2px 0px 2px 1px;transform: scale(0.8);}
.body-with-fixed-navbar .ts-info a small{margin-top: 10px;display: inline-block;} 
.body-with-fixed-navbar .navbar-header a{padding: 0} 
.body-with-fixed-navbar .btn-xs, .body-with-fixed-navbar .btn-group-xs > .btn{padding: 0}
.body-with-fixed-navbar .navbar-header{padding: 0;margin-left: 0;} 
.body-with-fixed-navbar .navbar-header .navbar-brand{padding-left: 0;} 
.body-with-fixed-navbar {background: #eee;}
.body-with-fixed-navbar .panel , #wsListGroup .list-group-item , #LinksArea ul{background: #fff ;border-radius: 5px;border: none;box-shadow: 0px 0px 15px -3px #ccc;margin: 0 0 8px 0 ;float: left;width: 100%;}
.body-with-fixed-navbar .panel:hover , #wsListGroup .list-group-item:hover{background: #f9f9f9 ;cursor: pointer;}
.body-with-fixed-navbar .panel:hover .panel-group, #wsListGroup .list-group-item:hover .panel-group{background: #f9f9f9 ;}
.body-with-fixed-navbar .panel .panel-group, #wsListGroup .list-group-item .panel-group, #LinksArea ul .panel-group{ transition: 0.6s all;}
#wsListGroup .list-group-item .wsNameLink2{color:#262626}
#wsListGroup .list-group-item .wsNameLink2:hover{color:#464646;}
.body-with-fixed-navbar .panel .panel-heading{margin-bottom: 0;padding: 11.5px 9px !important ;/* Sözlükler heading için !!! */border-radius: 5px ;box-shadow: none; background: #fff;}
.body-with-fixed-navbar .panel .panel-heading .panel-title{font-size: 14px;}
.body-with-fixed-navbar .panel .panel-heading a{color: #000 !important;}
.body-with-fixed-navbar .panel .panel-collapse{border-radius: 0;transition: 0.6s all;margin: 0;padding: 3px 4px;border-top: 1px solid #eee;width: 100%;float: left;}
.body-with-fixed-navbar .panel .panel-collapse .panel-body{padding: 0 0 !important;background: transparent;border: none }
.body-with-fixed-navbar .panel .panel-collapse .panel-body li{border-radius: 0;border: none;border-bottom: 1px solid #cccc;margin-bottom: 2px;}
.body-with-fixed-navbar #rememberSettingsList .panel .panel-collapse{padding: 15px;}
.body-with-fixed-navbar #rememberSettingsList .panel#panelModules .panel-collapse{padding: 0;}
.body-with-fixed-navbar .panel-group {margin-bottom: 0;}
.body-with-fixed-navbar .panel-group.inner-panel .panel-title a{color: #4e4e4e !important;}
.unselectablecss  .documentConteiner{max-width: 100%;}
#LinksArea .mn-Left-panel-in{border:1px solid #ccc;background: #eee;overflow-y: auto;padding-bottom: 13px !important;}
#LinksArea ul{padding: 0;margin: 5px 6px 14px 0;background: transparent !important;border: none !important;}
#LinksArea ul li {border-radius: 5px;padding: 10px 8px;border: 1px solid #ccc;margin-bottom: 5px;background: #fff;font-size: 14px;}
#LinksArea ul li {border-radius: 5px;padding: 10px 8px;border: none;margin-bottom: 8px;background: #fff;font-size: 14px;box-shadow: 0px 0px 15px -3px #ccc;}
#LinksArea ul li:hover{background: #f9f9f9 ;color: #333;transition: 0.4s;}
#LinksArea ul li a{font-size: 14px;}
#LinksArea h2{margin: 0 0 8px 0;font-size: 24px;}
#LinksArea .mn-left-panel-content{padding: 15px;}
#LinksArea hr{border:none;}
#divModules h5 small{color: #ea887a;}
#divModules li{border-radius: 3px;transition: 0.6s all;margin: 8px 10px;background: #fff;}
#divModules li:hover{background-color:#dcdcdc;}
/*module update */
#dlgModuleAutoUpdate .panel-body{border:none;box-shadow: none;}

body #dlgModuleAutoUpdate .accordion-toggle:before{color:#fff;}
.divModules .checkbox.chkAll{top: 0;left: -4px;margin: 0px 0 8px;}
#dlgModuleAutoUpdate .panel-group{ margin:0 }
#dlgModuleAutoUpdate .panel-default{border:none; margin:0 !important; box-shadow:none;}
#dlgModuleAutoUpdate .panel-default .panel-group{border:none;margin:0}
#dlgModuleWizard .panel-heading > .panel-title > a{color:#fff !important; }
#dlgModuleWizard .divModules span{float:none; display:inline-block;vertical-align: top;}
#dlgModuleWizard .divModules span.optItemSpn{margin-top: 5px;}
#dlgModuleWizard .divModules .checkbox{margin:0;}
#dlgModuleWizard .divModules span h5{margin:1px 0px 4px;}
body #dlgModuleWizard .accordion-toggle:before{color:#fff;}
#dlgModuleWizard .panel-body .panel-group{margin:0;}
	/* collapse */
	#rememberSettingsList .panel-default{border-radius: 5px;box-shadow: none;}
	/* Modüller*/
	#collapseModules{background: #eee !important;padding: 10px 0;box-shadow: none !important;}
	#collapseModules button{background-color: transparent !important;margin: 5px 4px 0 !important;height: 30px;border: none;}
	#collapseModules button span{margin: 2.4px -0.7px !important;width: 100%;transform: scale(0.8);}
	#collapseModules button span.img-stop{background-position: 2.6px center;}
	#collapseModules #checkUpdates{margin: auto !important;background: #fff !important;box-shadow: none;float: none !important;padding: 10px 19px  !important;height: auto;}
	#collapseModules .panel-group{background: transparent;}
	.moduleInstallDescPanel , .moduleInstallDescPanel .moduleInstallDesc{padding:0 !important;width: 100%;float: left;font-size: 13.1px;}
	/* Settings */
	#collapseSupport .form-group{margin-bottom: 0;}
	#rememberSettingsList #GCryptoLevel{margin:9px 0;}
/* Yönetim ekranı */
body.ManagerPage{background:#eee;}
body.ManagerPage .mn-button-container{color: #4e4e4e;margin-bottom: 5px ;}
body.ManagerPage .mn-button-container:hover{box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) ;}
body.ManagerPage .mn-Left-panel-in {box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.35), 0 1px 5px 0 rgba(125, 125, 125, 0) ;padding: 0;border-radius: 5px;}
body.ManagerPage .mn-Left-panel-in iframe {border-radius: 5px;background: #eee;color: #4e4e4e;}
body.ManagerPage hr {margin: 3px 0;border: 0;border-top: 1px solid #7f7f7f;}
body.ManagerPage .mn-main-div{overflow: auto;width: auto;background: transparent ;top: 0 ;padding-top: 60px ;}
body.ManagerPage .mn-button-container{width: 79px ;height: auto;border-radius: 0 5px 5px 0 ;}
body.ManagerPage .mn-button-container.mn-test-c{border-bottom:none  }
body.ManagerPage .mn-button-container .mn-button-inner{width: 100%;float: left;filter: brightness(0) invert(1);padding: 3px 0;} 
body.ManagerPage .mn-button-container .mn-button-inner div{width: 100%;filter: brightness(0.45) invert(0);} 
body.ManagerPage .mn-button-container .mn-button-inner .mn-text{padding: 0;color: #fff ;width: 100%;word-wrap: break-word;} 
body.ManagerPage .mn-hide-full{margin-top: 0px;padding: 10px 5px 10px 2px;margin-left: 0px;}
body.ManagerPage .mn-hide-full .mn-hide-ico{background-color: transparent;filter: brightness(0) invert(1);}
body.ManagerPage .mn-Left-panel{left: 82PX;}
body.ManagerPage .mn-button-container{padding: 7px 0;}
body.ManagerPage .ManagerContent .managerFull .shadowEffect{box-shadow: 0px 0px 15px -4px #ccc;}
body.ManagerPage .ManagerContent .managerFull .shadowEffect:hover{box-shadow: 0px 0px 15px -4px #ccc;}
body.ManagerPage .ManagerContent .managerFull .scanningText{font-size:16px;}
body.ManagerPage .button-group a{border-radius: 5px;}
body.ManagerPage .scanningText{line-height: 25px;}
 .inner-panel .panel-heading{color:#000;}
/* Ağ görünümü */
#mynetwork + .btn-group .btn{border: 1px solid #ccc;padding: 0 !important;width: 33px;height: 33px;display: flex;align-items: center;justify-content: center;color:#535353;}
.vis-network canvas{background: #fff}
#_mapcontextMenu{right: auto;}
/* Proje sihirbazı & Sözlük */ 
#myWizard{background: #eee}
#myWizard .easyWizardSteps{background: #fff;}
#myWizard .easyWizardSteps li{border-right: 1px solid #dfdfdf;margin-right: 0;font-size: 16px;color: #444;padding: 14px 16px;}
#myWizard .easyWizardSteps li:hover{background: #eee;}
#myWizard .easyWizardButtons button{padding: 9px 29px;font-size: 18px;transition: 0.4s;border: none;box-shadow: 1px 1px 4px 0px #ccc;line-height: 1.5;}
#myWizard .step{padding-top: 11px;}
#myWizard .step #groupNameSection #enumLayerSettings .panel-heading{border-radius: 0;padding: 15px;}
#divGroupName .typeahead, #divGroupName .tt-hint{border-radius: 4px;}
.easyWizardWrapper .panel{background: transparent;border: none;box-shadow: none;}
.easyWizardWrapper .panel .panel-body{border: none;padding: 0 ;}
.easyWizardWrapper .ws-list-button{margin: 5px;border-radius: 0;border: none;border-radius: 5px;box-shadow: 0px 0px 15px -4px #ccc;}
.easyWizardWrapper .ws-list-button:hover{background: #f9f9f9;}
.easyWizardWrapper .ws-list-button .ws-list-button-text{line-height: 16px}
.easyWizardWrapper .modal-body .ws-list button{margin: 0 7px 9px 0;}
.easyWizardWrapper{border: none;border-radius: 0;box-shadow: none;}
.easyWizardWrapper .panel-heading{color: #262626;padding: 0 0 9px 0;background: transparent;border: none;font-weight: normal;}
.easyWizardWrapper .control-group{border: none;background: transparent;border-radius: 0;box-shadow: none;border: none;} 
.easyWizardWrapper #divRecognizerGroup .panel-body , .easyWizardWrapper #dictionaryGroup .panel-body , .easyWizardWrapper #divBaseMapList.panel-body{padding: 13px 11px 6px;}
#myWizard  #sectionContentLayers .panel .panel-heading{padding: 10.5px 16px 10.5px 0;background: transparent;margin-bottom: 5px;}
#myWizard  #sectionContentLayers .panel .panel-body .panel{box-shadow: 0px 0px 15px -4px #ccc;}
#myWizard  #sectionContentLayers .panel .panel-body .panel-heading{padding: 10.5px 16px;background: #fff;margin-bottom: 0;}
#myWizard  #sectionContentLayers .panel .panel-heading .panel-title{font-size: 16px;}
#myWizard #sectionContentLayers .modal-body .modal-footer{padding: 15px 0 0 0; }
#myWizard  #sectionContentLayers .panel .panel-heading .panel-title a{color: #262626;}
#myWizard #WebEditorButtonContainer{margin-bottom: 0;}
#myWizard #WebEditorButtonContainer button{padding: 6px 12px;font-size: 12px;border: none;}
#myWizard #WebEditorButtonContainer button , #myWizard #btnAddLayer{font-size: 14px;border: none;border: 1px solid #ccc;padding: 5px 15px;margin-bottom: 8px;}
#txtGroupName{border: none;box-shadow:none;float: left;margin-left: -6px;width: 101%;}
.easyWizardWrapper .form-control{border-color:#cccccc;}
#myWizard #sectionContentReaders #WebEditorButtonContainer .btn-group .dropdown-menu{font-size:12px;}
.form-dictionary-wizard .modal-header{padding: 15px;}
.DmmyModal .modal-header{background: #383B5A}
#tblLayers tr{background: #fff;margin: 10px;border-bottom: 0px solid #eee;}
#tblLayers tr td , #tblLayers tr th{background: transparent;vertical-align: middle;height: auto;border-bottom: 1px solid #cececece;border-top: none;padding: 8px 5px 5px;}
#tblLayers tr th{height: 30px;}
#tblLayers tr .moveColumnBtn i{margin-top:5px;}
#tblLayers tr button{border:1px solid #ccc;}
#selectIconModalDialog #divIcons{padding: 0;}
#selectIconModalDialog #divIcons button{margin: 5px;}
/* Yetki Yönetimi */
#ulUserGroupList li.active{background-color: #ccc; border-color: #cecece; color: #373737}
#ulUserGroupList li .img-button24{margin-top: -3px}
#ulUserList li span{margin-left: 8px;}
#ulUserList li small{margin-right: 0 ;margin-top: 4px;}
/*  Takvim  */
.calendar .month-container {margin: 0 4px  8px;width: calc(25% - 8px) ;border-radius: 5px ;box-shadow: 0px 0px 15px -3px #ccc;background: #ffffff;height: 184px ;vertical-align: top;overflow: hidden;}
.calendar table {margin: 0 auto;width: 100%;border: none;padding: 0;vertical-align: top;}
.calendar .calendar-header{border:none}	
.calendar table thead , .calendar table tbody{display: block}
.calendar table.month tr{display: block}
.calendar table.month tr td, .calendar table.month tr th{display:inline-block;border: none;overflow: hidden;width: 14%;height: auto;margin: 0;box-shadow: inset rgb(255, 255, 255) 0px -2px 0px 0px;}
.calendar table thead tr{border-bottom: none ;}
.calendar table.month tr th.month-title{border: none;padding: 4px 4px;border-bottom: none ;text-align: left;text-align: center;}
.calendar .calendar-header table th{color: #000;background: transparent;border-radius: 0 0 0 0 ;font-size: 18px;padding: 2px 8px;}
.calendar table.month tr td .day-content{border-radius: 46px;margin: 2.5px 6.8px 4.5px 7.7px;height: 17.5px;border: none;width: 17.5px;padding: 0;line-height: 19.2px;text-align: center;font-size: 11px;}
.calendar table.month tr td .day-content:hover{box-shadow: 2px 2px 7px -3px #555;}
.calendar table.month tr th.month-title{width: 100%;font-weight: normal;padding: 1px 0 0;}
.calendar table.month tr th{color: #262626;padding: 0;margin: 0px 0 0;}
.calendar .calendar-header table th.year-title {color: #555;background: #fff;font-weight:normal;}
.InMapFrameLk{padding: 10px 0;}
.documentConteiner .documentViewFrame .SummaryAll{padding: 0;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText{padding: 0;margin-bottom: 0;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .ThumbContentRef{text-align: center; margin-bottom: 10px;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .ThumbContentRef img{width:94%; border:1px solid #aeaeae;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .datetime{font-size: 14px;padding-bottom: 0;margin-top: -1px;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .datetime .sub{float: right;}
.inAdvRightPanelCalendar .panel-heading{color: #fff;text-align: center;margin: 10px 0px -3px;border: 1px solid #c3c3c3;border-radius: 6px 6px 0 0;cursor: pointer;background: #346ab3;width: 436px;float: left;}
.c_time{background: #eee;cursor:pointer;}
.InFrmResult{padding: 0;max-height: 99.1%;}
.closePanel {border: none;background: #be0817;color: #fff;line-height: 23px;text-shadow: none;left: 969px;bottom: 152px;opacity: 1;}
.closePanel:hover{background-color: #a50613 ;color: #fff;}
.calendar-view .documentConteiner{max-width: 993px;height: 163px ;padding: 13px 0 0 0 }
/* face pro*/
.fcThumbsContainer {float: left;width: 100%;}
 /* Giriş sayfası */
#__startScreen{background: url('/GUI/img/bg_.jpg')  !important;background-size: cover !important;}
#__startScreen #lastUsedStart .recentWsItem{height: 161px;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive{opacity: 1;position: relative;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) !important;color: #fff;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive img{filter:brightness(0) invert(1);}
#__startScreen button{margin: 0 6px 12px 0 ;border-radius: 3px;padding: 9px 12px 3px;background: #fff;color: #4e4e4e;border: 1px solid #ccc;line-height: 16px;vertical-align: middle;}
#__startScreen button:last-child{border-right:1px solid #dfdfdf}
#__startScreen button .img-default32{margin-bottom: 4px;}
#__startScreen button.active , #__startScreen button:hover{position: relative;background: #eee;}
#__startScreen button span{top: -3px;position: relative;}
#__startTxt{background:#eee;}
#__startScreen #txtSearchDefault{border: none;margin-top: -17px;box-shadow: 0 1px 6px 0 rgba(22,35,55,.28);z-index: 9;}
/*  Top Area */
.toggledBody #topArea{padding-left: 300px;}
.banner{z-index: 1}
.toggledBody .banner .title{padding-left: 300px;}
.banner .title{padding-left: 0;transition: 0.3s}
 #mainTable_wrapper .dataTables_info{margin:5px 0 ; float:left;}
#defaultArea  div.dataTables_paginate{margin: 7px 0 0px 0px;float: right;}
 /*Responsive*/
@media screen and (max-width:1366px) {
	.navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a{width: 41px;}
	#mycalendar{padding: 0;}
	.navbar .navbar-form{padding-top: 0;}
	.InMapFrameLk{margin: 0;padding: 0 0;}
	.SearchTextBoxArea button span.modeBtnText{display: none;}
	.navbar .SearchTextBoxArea button{padding: 12px 12px !important;}
	.tt-dropdown-menu {max-width: 348px;}
	#divMain #divKwAccordion .pnl-query-item{width:32%;}
}
@media screen and (max-width:991px) {
	.inDefaultPanel .pnl-query-item .ThumbContentRef{margin-bottom: 10px;}
	.toggledBody #topArea{padding-left: 240px}
	.tt-dropdown-menu {max-width: 100%;}
	.sidebar-large.toggled .sidebar-wrapper{width: 240px}
	#facetArea .panel .panel-body .facetLink.facetLinkPLine.checkboxGroup{padding:5px 0;}
	
	.facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){padding-left: 19px !important;}
	#facetArea .facetLinkPLine  ._ttl{max-width: 100px;}

	.toggledBody .navbarArea{margin-left: 240px ;}
	.toggledBody .sidebar-large .page-content-wrapper{left: 240px ;padding-right: 241px !important;}
 	.eMailRow .divMain{padding-right: 0}
 	body #dateSliderTooltip {background-color: #ffffff47 ;position: fixed;top: 0;left: 0;width: calc(100% - 240px);left: 240px;}
	 #facetArea ._ttl_2{max-width: 120px;} 
	.closePanel{left: auto;right: 2px;}
	#facetArea label {min-width: 161px;}
	.layoutNavBar .navbar-brand .contentDisplayNameCss{max-width: 370px;}
	#divMain #divKwAccordion .pnl-query-item{width:48%;}
	.eMailRow .divMain{max-width: 95%;}
	.DABody .searchArea{width:42%}
	.DABody .dc-search-group #txtSearchDefault{width:83%;}
}

@media screen and (min-width: 768px) {	
	.navbar.layoutNavBar #bsForLayout{padding-top: 0 !important;}
}
@media screen and (max-width: 768px) {
	.qUpload{top:15px;}
	.saveQueryBtn{top:15px;}
	.FrameMode .ResultArea,  .FrameMode .SingleArea{margin: 0;}
	.visible-xs-inSpanText{padding-left: 7px;}
	._for .visible-xs-inSpanText{position: relative;top: 2px;}
	.navbarArea {padding-left: 0 ;}
	.sidebar-large.toggled .sidebar-wrapper {margin-top: 0;}
	.navbar .img-sidebarMobil24{margin-left: 14px;}
	.navbar .SearchTextBoxArea button.searchBorder{padding: 12px 6px !important;}
	.navbar-toggle .menuStarterMobile .img-moreMobil24{margin-top: 16px;}
	.toggledBody .navbarArea {margin-left: 240px ;}
	.sidebar-large.toggled .sidebar-wrapper , .toggledBody .sidebar-large .sidebar-wrapper {width: 240px;}
	body .sidebar-large .sidebar-wrapper{left: 0 !important;}
	.toggledBody .sidebar-large .sidebar-wrapper{left: 300px !important;}
	.SearchTextBoxArea{width: auto;}
	.navbarArea .navbar-toggle{position: relative;padding: 0;margin-top: 0px;margin-right: 0;}
	.navbarArea .navbar-toggle .img-moreMobil24{height: 53px;background-position: 6px center;padding: 0 8px;margin: 0 10px 0 0;}
	.inDefaultPanel .pnl-query-item , .inDefaultPanel .pnl-query-item{margin-bottom: 8px;}
	/* Görüntüleyici */
	#BaseButtonList{color: #4e4e4e;}
	#BaseButtonList li{float: right;}
	#layoutSearchPrev{padding: 0}
	#bsForLayout{background: transparent !important;border:none !important;padding-bottom: 0;}
	#BaseButtonList #prevNextQ a {padding: 4.5px 0 !important;}
	/*map*/
	.FrameMode .inDefaultPanel{max-width: 100% !important;padding: 10px !important;}
	.inPContent{background: #eee}
	.toggledBody .input-group{display: none;}
	.DABody .dc-search-group #txtSearchDefault{width:83%;}
	.navbar-form #searchArea1 span.twitter-typeahead:before{display:none;}
	.navbar.layoutNavBar .collapse #BaseButtonList li{filter:none;margin: 0;margin-left: 5px;border-radius: 5px;text-align: center;}
	.navbar.layoutNavBar #ContentInfoButton img{float:none;}
	#bsForLayout li{filter: none;color: #262626;padding: 0 !important;margin-bottom: 8px;margin-left: 6px;}	
	#BaseButtonList span , #BaseButtonList img{filter:none;color: #262626 !important;}
	#BaseButtonList #layoutSearchDiv{width: 100%;}
	#BaseButtonList #prevNextQ{margin-top: -2px;}
	.navbar.layoutNavBar #bsForLayout{background: #fff !important;padding: 10px;border: 1px solid #D7D5D5 !important;border-radius: 5px !important;margin-bottom: 31px;margin: 4px 47px 0 6px !important;box-shadow: 1px 1px 5px -1px #999;width: 90%;}
	.navbar.layoutNavBar #ContentInfoButton img , .navbar-fixed-top .navbar-brand, .navbar-fixed-top button , .navbar.layoutNavBar #liDownloadBtn span, .navbar.layoutNavBar #liOpenContentFolder span, .navbar.layoutNavBar .img-share24, .navbar.layoutNavBar #ContentInfoButton img{filter: none;}
	.navbar.layoutNavBar .navbar-default .navbar-toggle span{background-color: #ccc !important;}
	.navbar.layoutNavBar{padding: 2.2px  0;}
	.navbar.layoutNavBar .navbar-header .navbar-brand{padding: 12px 10px 15px !important;filter: brightness(0) invert(1) !important;}
	.navbar.layoutNavBar .navbar-default .navbar-toggle{border-color: #fff;}
	.navbar.layoutNavBar .navbar-header{display: block;width: 100%;}
	.navbar.layoutNavBar .collapse #BaseButtonList{display: block;margin: 0 !important;min-height: 1px;}
	#bsForLayout .navbar-nav{margin: 0 !important}
	.DmmyModal .modal-content .modal-header {padding: 20px 15px 25px;}
	.navbar.layoutNavBar li#layoutSearchDiv #layoutSearchPos , .navbar.layoutNavBar #BaseButtonList li#layoutSearchDiv{border:none;}
	.navbar.layoutNavBar #BaseButtonList li#layoutSearchDiv{width:auto;margin-top: -3px;background: transparent;}
	.navbar.layoutNavBar #bsForLayout ul li input{border: 1px solid #ddd;}
	.navbar.layoutNavBar li#layoutSearchDiv #layoutSearchPos{background: #eee;position: relative;top: 0;right: -4px;padding: 0 6px 0px;border-radius: 0 5px 5px 0;margin-right: 0;height: 25px;line-height: 15px;}
	#mainTable_wrapper{margin: 20px auto 0;max-width: 100%;}
	#mainTable_wrapper .dataTables_scroll table th, #mainTable_wrapper .dataTables_scroll table td{padding: 4px 6px !important;}
	.navbar.layoutNavBar #layoutSearchDiv #txtSearch{width: 145px!important;}

}	
@media only screen and (max-width: 480px) {
		.inDefaultPanel .pnl-query-item{display: inline-block;}
		#divMain #divKwAccordion .pnl-query-item{width: 98%;margin: 0 10px 10px 0px!important;}
		.navbar .img-sidebarMobil24{margin-left: 11px;padding: 20px;}
		.modal-content .modal-body{min-width: 100%;}
		.documentConteiner .documentViewFrame{width: 99%; }
		.pnl-query-item .badge {position: absolute;right: 0px;top: 14px;}
		.toggledBody .input-group{display: none;}
		.ResultArea {margin: 2px 0 0;}
		.SingleArea{padding: 0;margin: 0px 8px 0;}
		.inDefaultPanel .pnl-query-item{margin-bottom: 5px;width: 98%;border: 1px solid #efefef;}
		.inDefaultPanel .pnl-query-item .SummaryAll {padding: 0 0;}
		.calendar .month-container {border-radius: 0;margin: 0 0 0 0.5%;float: left;min-width: 49%;height: auto !important;padding-bottom: 14px;}
		.inDefaultPanel .pnl-query-item .SummaryText {margin-top: 0;}
		.qUploadCtrl {margin-left: 9px; max-width: 252px;}
		.qUploadCtrl .hoverForDrop{max-width: 100%; margin-left: 0;}
		.InMapFrameLk{padding: 0 5px !important }
		.inDefaultPanel {padding-right: 28px !important;position: relative;}
		body #dateSliderTooltip {left: 0; width: 100%;}
		body #dateSliderTooltip .dateSliderContainer{left: 0;margin-left: 0;}
		#dateSliderTooltip .dateSliderContainer div{width: 100%;margin: 0;border-radius: 0;box-shadow: none;margin-bottom: 0px;}
		.navbarArea .navbar-header .dropdown-menu{max-height: 480px !important;overflow-y: auto;overflow-x: hidden;right: 20px;padding: 0;}
		.navbarArea .navbar-header .dropdown-menu li{float: left;width: 100%;}
		.navbarArea .navbar-header .dropdown-menu li a{padding: 4px 11px 4px 12px;}
		.navbar.layoutNavBar .navbar-brand .contentDisplayNameCss {max-width: 170px;}
		.navbar.layoutNavBar .navbar-brand #imgContentIcon{float: left;}
		.navbar.layoutNavBar .navbar-brand .contentDisplayNameCss {width: 140px;display: block;float: left;line-height: 24px;}
		.navbar.layoutNavBar{padding: 0 0;height: 52px;}
		.navbar-fixed-top.navbar-fixed-second-top{margin: 0 0 0;background: #fff;padding: 0px 7px 2px;}
		.navbarArea .navbar-right{margin-right: 0;}
		.navbar.layoutNavBar .navbar-toggle{margin: 7.5PX 0;}
		.navbar.layoutNavBar .navbar-toggle .icon-bar{background:#fff;}
		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#1f4769}
		.docDetail {min-height: 50px;float: left;width: 100%;}
		.closePanel{right: 12px;bottom: 127px;}
		#mapLayerSelArea {max-width: 270px;}
		#mapLayerSelArea button {width: 86px;height: 86px;}
		.DABody .dc-search-group #txtSearchDefault{width: 78%;}
		.DABody .dc-search-group{border:none;width: 100%;margin-top: 5px;}
		.DABody .searchArea{width: 83%;min-width: auto;}
		.navbar .navbar-form{width: 60%;}
		.input-group{width: 100%;}
		.qUploadCtrlStyleBack { margin-left:0px;left: 0px;    width: 100%; }
		.DABody .saveQueryBtn{right:25%}
		.calendar .month-container {width: 90% ;border-radius: 0;margin: 0 auto 15px;float: none;}
}
.popover{z-index: 9999;background: #fff;}
.popover .popover-content{padding: 6px 13px}
/* For checkbox*/
	input[type=checkbox] {position: relative;cursor: pointer;margin-right: 5px;}
	input[type=checkbox]:before {content: "";display: block;position: relative;width: 16px;height: 16px;top: 0;left: 0;border: 2px solid #777;border-radius: 3px;background-color: white;transition: 0.5s ease;}
	input[type=checkbox]:checked:after {content: "";display: block;width: 5px;height: 10px;border: solid #ffa21a;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);position: relative;top: -14px;left: 6px;transition: 0.6s ease;}
	input[type=checkbox]:checked:before{border-color: #ffa21a;}
/* Checkbox sorun olan yerler modaller :) */
#divMatchingCriterias span{margin: 4px 11px;display: inline-block;}
/* bakılacak*/
.in>.modal-dialog, .open>.dropdown-menu{-webkit-animation-name: opened;animation-name: opened;-webkit-animation-duration: 0.2s;animation-duration: 0.2s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@keyframes opened {
  from {opacity: 0;-webkit-transform: scale3d(0.1, 0.1, 0.1);transform: scale3d(0.1, 0.1, 0.1);}
  100% {opacity: 1;}
}
input[type=range] {-webkit-appearance: none;width: 100%;margin: 2.8px 0;box-shadow: none;border: none;background: transparent;}
input[type=range]:focus {outline: 0;box-shadow: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 8.4px;cursor: pointer;background: #d8d8d8;border-radius: 1.3px;border: 0.2px solid #010101;}
input[type=range]::-webkit-slider-thumb {height: 18px;width: 21px;border-radius: 3px;background: #a7a7a7;cursor: pointer;-webkit-appearance: none;margin-top: -6px;}
input[type=range]:focus::-webkit-slider-runnable-track {background: #555;}
input[type=range]::-moz-range-track {width: 100%;height: 8.4px;cursor: pointer;background: #d8d8d8;border-radius: 1.3px;border: 0.2px solid #010101;}
input[type=range]::-moz-range-thumb {border: 1px solid #000000;height: 20px;width: 37px;border-radius: 7px;background: #ffffff;cursor: pointer;}
input[type=range]::-ms-track {width: 100%;height: 8.4px;cursor: pointer;}
input[type=range]::-ms-thumb {border: 1px solid #000000;height: 20px;width: 37px;border-radius: 7px;background: #ffffff;cursor: pointer;height: 8.4px;}

.form-group .checkbox input[type="checkbox"]{
	margin-top:-1.5px
}