﻿body , .page-content-wrapper{background:#fff;}
.ResultArea, .SingleArea{margin:10px 10px}
.DLV .ResultArea, .DLV .SingleArea{margin:0}
::-moz-selection {color:#fff;background:#2cab72;}
::selection {color: #fff; background: #2cab72;}
@media(min-width:768px) {
	.DPStyleDropDownImg {
		margin-top: 6px !important;
	}
	.DPStyleDropDownButton {
		margin-left: 30px !important;
	}
	.DPStyleDropDownRoot {
		padding-left:10px !important;
		
	}
}

.navbar-default , .modal-header {
  background-color: #419a72;
  color:#fff;
}
.ESBody .navbar-default {
  background-color: #fff; 
}

/* Facet */
#facetArea .showFacetEmptyItemBtn 
, #facetArea .facetCountR 
, #facetArea .checkbox span:last-child{color: #fff;}
#facetArea{background-color: #2cab72;}
.sidebar-large .sidebar-wrapper::-webkit-scrollbar-thumb {background:#446f5c;border:none;border-radius: 3px;cursor: pointer;}
.sidebar-large .sidebar-wrapper::-webkit-scrollbar-thumb:active {background: #4b886d;  border: 3px solid #4b886d;}
.sidebar-large .sidebar-wrapper::-webkit-scrollbar-thumb:hover {background: #4b886d;  border: 3px solid #4b886d;}
.sidebar-large .sidebar-wrapper::-webkit-scrollbar-track,.sidebar-large .sidebar-wrapper::-webkit-scrollbar-track:hover {background: #29C2A8;}

#facetArea #fc_status_p_body{background-color: #419a72  !important;color: #fff;padding: 15.2px 10px;width: calc(100% + 8px);margin-left: -4px;}
#facetArea #fc_status_p_body span{color: #e0e0e0 !important;}
#sidebar-wrapper{border-left: 1px solid #eaeaea ;}
#side_panels .panel  .panel-heading{color: #262626}
#facetArea .img-default ,
.navbar .SearchTextBoxArea button .modeBtnText ,
#facetArea .img-not12{display: none !important}
#facetArea .showFacetEmptyItemBtn{right: 32px;top: 4.3px;}
#facetArea .panel-heading{position: relative;padding-left: 34px !important;}
#facetArea .panel-heading:before{content: '';display: inline-block;width: 16px;height: 31px;background-size: 100% !important;position: absolute;left: 10px;top: 0;filter: brightness(0) invert(1);}
#facetArea #fc_enumarator_p_header.panel-heading:before{background:url('[=c.ResolveUrl("~/GUI/icons/folder.svg",true)]') no-repeat center center;}
#facetArea #fc_recognizer_p_header.panel-heading:before{background: url('[=c.ResolveUrl("~/GUI/icons/layers-icon.svg",true)]') no-repeat center center;}
#facetArea #fc_contentType_p_header.panel-heading:before{background: url('[=c.ResolveUrl("~/GUI/icons/pdf.svg",true)]') no-repeat center center;}
#facetArea #fc_detail_p_header.panel-heading:before{background: url('[=c.ResolveUrl("~/GUI/icons/gear.svg",true]') no-repeat center center;}
#facetArea #fc_query_p_header.panel-heading:before{background: url('[=c.ResolveUrl("~/GUI/icons/query.svg,true)]') no-repeat center center;}
#facetArea #fc_dateFilter_p_header.panel-heading:before{background: url('[=c.ResolveUrl("~/GUI/icons/Layer/date.png,true)]') no-repeat center center;}
#facetArea .img-default,
#facetArea .img-delete16 ,
#facetArea .panel-heading ,
#facetArea .panel .panel-body .facetCountRPBar ,
#facetArea .panel .panel-body .facetLink{color: #fff;}
#facetArea .panel .panel-body .facetCountRPBar{right: 16px;}
#facetArea .checkbox .cr, .radio .cr{border-color: #fff;border-radius: 0;}
#facetArea .checkboxGroup .checkboxGroupExpand,
#facetArea #fc_query_p_body .img-delete16{filter:brightness(0) invert(1)}
#facetArea .chartArea svg text{fill:#262626;}
._forFacet{margin: 14.3px 0 !important;}
#facetArea .facetLeftSpace .facetLink.facetSubItem{padding-right: 0px;}
#facetArea .facetLeftSpace .facetLink.facetSubItem .facetCountRPBar{right: 4px;}
.navbar .img-sidebarMobil24{border-right: 1px solid #dadada;padding: 8.5px 26.5px;}
.checkboxGroup .facetCountRPBar b{margin-right: 0;}
/*  Dlv List */
.inDefaultPanel{padding-left: 0 !important}
.dateFilterArea .expander{z-index:99;}
.dateFilterArea{margin-left: -10px;margin-bottom: 0;}
.dateFilterArea #dateComponent{}
.dateFilterArea .expandButton{filter:brightness(0) invert(1)}

#divDocAccordion {padding: 15px 0px 0px 0px;background: #fff;border-right: 1px solid #eaeaea;}
#divMain .pnl-query-item .headerDocRow{}
.headerDocRow .imgContainer{
    padding: 4px 0 11px;
}
 #divMain .pnl-query-item{
    margin: 0;
    box-shadow: none;
    padding: 10px 15px 10px 10px;
}
#divMain .pnl-query-item:before{content: '';width: 5px;height: 100%;background: #2cab72;position: absolute;right: -2px;opacity: 0;top: 0;}
#divMain .pnl-query-item .docDetail{position: inherit;min-height: auto;}
#divMain .pnl-query-item:hover {background: #f6f6f6;}
#divMain .pnl-query-item .headerDocRow .docParentArea,
#divMain .pnl-query-item .headerDocRow .divPanelTitleText{padding-left: 7px }
#divMain .list-item .SummaryLinks{padding: 0;}
#divMain .list-item .SummaryLinks button ,#divMain .list-item .SummaryLinks span{display: none}
#divMain .list-item .SummaryLinks .docOpenLink{display: none;position: absolute;top: 17px;right: 16px;background-color: transparent;margin: 0;}
#divMain .list-item:hover .SummaryLinks .docOpenLink{display: block}
#divMain .ItemSelectedForAdvRight:before{opacity: 1;}
#divMain .pnl-query-item .headerDocRow .docParentArea .docparent span , #divMain .pnl-query-item .headerDocRow .docParentArea .docparent small{font-size:11px; color:#545454 ;}
#divMain .pnl-query-item .SummaryText{font-size:13px;}
#dateSliderTooltip .dateSliderContainer div{border-radius: 0;}
#dateSliderTooltip .dateSliderContainer .leftToolTip{background: #419a72  !important;}
#dateSliderTooltip .dateSliderContainer .rightToolTip{background: #2cab72;}
#divMain .pnl-query-item .headerDocRow .divPanelTitleText .inLink , #divMain .pnl-query-item .SummaryText{color:#000}
    /* DLV Map in side*/
    body.FrameMode #divMain .pnl-query-item{padding: 10px 10px 0;overflow: hidden !important;border-bottom: 1px solid #ddd !important;}
    .FrameMode #divMain .list-item .SummaryLinks .docOpenLink{right: 0px;top: 24px;}
    .FrameMode .DLV .inDefaultPanel{padding: 10px 4px !important;background: #f8f8f8;margin: 5px 0px 0 7px !important;}
    .FrameMode .inDefaultPanel .headerDocRow .imgContainer{padding: 0 0 12px;top: 2px;}
    .FrameMode #divMain .pnl-query-item .docDetail {float: left;width: 100%;}
    .FrameMode .inDefaultPanel{border:none;}
    .ol-popup{background:#fff;}
    /*Dlv right Side*/
.toggled .inAdvRightPanel{left: 924px !important;padding-left: 15px;}
.inAdvRightPanel h4 b{color: #2cab72 ;}
#inRightPanelForDoc .rightTabs a.rightActive , #inRightPanelForDoc .rightTabs a:hover{color: #2cab72;border-color: #2cab72;}
#inRightPanelForDoc .rightTabs a.rightActive .badge , #inRightPanelForDoc .rightTabs a:hover .badge{border-color: #2cab72 !important;color: #2cab72 !important;}
#inRightPanelForDoc .rightTabs a.rightTabLinked {color: #2cab72;}
.inAdvRightPanel{border-left: 8px solid #fff ;margin-top: 0;padding: 0 15px 0 0;background: #fff;max-width: 100%;}
.rightDiv, .rightTabs{padding: 4px;margin: 0px 9px}
.DLV #inRightPanelForDoc .rightDiv .pnl-query-item{padding: 0;border: 1px solid #fff !important;background: #ffffff;border-bottom: 1px solid #eaeaea !important;float: left;}
/* klv */
#divMain #divKwAccordion .pnl-query-item{background: #fff;box-shadow: none;border-radius: 0 !important;border-bottom: 1px solid #eaeaea !important;}
.KLV #divMain .pnl-query-item:hover{background: #f6f6f6;}
.KLV #divMain .panel-heading , #divKwAccordion .divKWSummary , #divMain .divCurrentDocument{background: #f6f6f6;}
.inDefaultPanel .pnl-query-item .badge{right: 23px;top: 12px;}
.KLV #divMain .panel .action-menu-button{opacity:0;  }
.KLV #divMain .panel:hover .action-menu-button{opacity:1;transition-delay: 0.5s;}

/* İçerik Görüntüleyici */
.ViewerRightArea .panel{box-shadow: none;}
.ViewerRightArea #divLayerTree a{color: #262626 }
.ViewerRightArea .panel-collapse{background: #f1f1f1;}
.ViewerRightArea ul li , .ViewerRightArea .panel-collapse ul li.list-group, .ViewerRightArea .documentViewFrameTitle , .ViewerRightArea .panel-collapse .ScreenItem{border-bottom:1px solid #eaeaea ; box-shadow: none; border-radius: 0 ;}
.ViewerRightArea .list-group-item.active{background-color:#2cab72; color:#4e4e4e;}
.ViewerRightArea  .ScreenItem ~ .ScreenItem{margin:0}
    /* Data grid */
    #mainTable_wrapper .dataTables_scroll table th,
    #mainTable_wrapper .dataTables_scroll table td{border:none;border-bottom:1px solid #eaeaea;}
    #mainTable_wrapper .dataTables_scroll table tr{background: transparent;}
    #mainTable_wrapper .dataTables_scroll table tr.active:hover,
    #mainTable_wrapper .dataTables_scroll table tr.active{background: #F7B934;}
    #mainTable_wrapper .dataTables_scroll table tr.active td{border-color:#F7B934;}
/*General Modal*/
.modal-content .modal-header{background: #2cab72;color: #fff;}
.inEditableArea{border-radius: 0;}
.modal-content .modal-body{background: #fff;}
/* Calendar */
table .year-title span{background: #2cab72 !important;}
/* Navbar */
.navbar-form #searchArea1 span.twitter-typeahead #txtSearchDefault{border:none;}
.navbar.navbar-default.navbarArea {box-shadow: none !important;border-bottom: 1px solid #eaeaea;margin-bottom: 0 !important;}
.navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a{padding: 7px 0! important;margin: 11px 0px 0 !important;border-left: 1px solid #dadada !important;width: 53px;}
.navbarArea .navbar-right > li > a span.glyphicon-question-sign{margin-top: -6px;}
.navbarArea .navbar-right > li > a{padding: 21px 0! important;margin-top: 7px !important;}
.navbar-form #searchArea1 .twitter-typeahead{border:none;}
.navbar .SearchTextBoxArea button{border:none;padding: 8px 14px !important;border-right: 1px solid #dadada;}
.navbar .SearchTextBoxArea button:first-child{border-left:1px solid #dadada}
.navbar .SearchTextBoxArea button.active{background: #2cab72 ;opacity: 1;box-shadow: none ;padding: 19.3px 14px !important;}
.navbarArea .navbar-right > li.dropdown span , .inRootMenu .list-group-item a{opacity: 0.65;}
.navbar .SearchTextBoxArea button:hover span , .navbarArea .navbar-right > li.dropdown:hover span , .inRootMenu .list-group-item a:hover{opacity: 1;  }
.navbar .SearchTextBoxArea button.active span{filter:brightness(0) invert(1); opacity: 1; color:#fff;}
.navbar-fixed-top , .layoutNavBar , .qUploadCtrl .upload-title{background: #2cab72;}
#querySavePopup .qUploadCtrlStyleSub{border:none;}
/* general dropdonw */
.dropdown-menu{border-radius: 0 !important;}
/* Manager*/
.navbar-fixed-top , .layoutNavBar , .qUploadCtrl .upload-title{background: #2cab72;}
body.ManagerPage .mn-Left-panel-in , body.ManagerPage .mn-Left-panel-in iframe{border-radius: 0;}
body.ManagerPage .ManagerContent .managerFull  .button-group a{border-radius: 0 !important;}
body.ManagerPage .ManagerContent .managerFull  .button-group a.Queries{background: #2cab72;}
body.ManagerPage .ManagerContent .managerFull  .button-group a.Queries:hover{background: #2da56f;}
body.ManagerPage .ManagerContent .managerFull  .button-group a.buttonScans{background: transparent;border: 1px solid #2cab72;color: #2cab72;border-radius: 0;}
body.ManagerPage .ManagerContent .managerFull  .button-group a.buttonScans:hover{background: #2da56f;color: #fff;}
body.ManagerPage .mn-button-container{background: #2cab72  ;border-bottom: 1px solid #2cab72;color: #fff;border-radius: 0 ;}
body.ManagerPage .mn-button-container:hover{background: #2da56f ;}
body.ManagerPage .mn-hide-full{background: #777;border-radius:0;}
.body-with-fixed-navbar .panel, #wsListGroup .list-group-item, #LinksArea ul , .body-with-fixed-navbar .panel .panel-heading ,#divModules li , #LinksArea ul li {border-radius: 0 ;}
/*Map*/
#mapLayerSelArea .active button{background-color: #2cab72 ;}
/*sozluk*/
#divGroupName .typeahead, #divGroupName .tt-hint{border-radius: 0;}
    /*wizard */
    .easyWizardWrapper .ws-list-button{border-radius: 0;}
    #myWizard .easyWizardSteps li.current{background: #2cab72;color: #fff;}
    #myWizard .easyWizardButtons button{background: #2cab72;color: #fff;border-radius: 0}
    #myWizard .easyWizardButtons button:hover{background: #2da56f;}
    #myWizard .step #groupNameSection #enumLayerSettings .panel-heading{background: #2cab72;color: #fff;}
    #myWizard #sectionContentLayers .panel .panel-body .panel{box-shadow: none;}
/* Start Screen */
#__startScreen #lastUsedStart .recentWsItem:hover{transition: 0.4s all;background: #2da56f;color: #fff;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive{background: #2cab72;}
/* email detail */
.eMailRow .divMain #divDocAccordion .panel-heading{background: #2cab72}
@media screen and (max-width: 1368px) {
    .navbar-default .navbar-toggle:hover, .layoutNavBar .navbar-default .navbar-toggle:focus{background: #2da56f !important;filter: none; border-color: #fff;}
    .navbar .SearchTextBoxArea button{padding: 8px 6px !important;}
    .navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a {width: 38px;}
}
/* general */
.highlight{background-color: #545454;}
/* slider */
.sliderArea, .DLV .dateFilterArea{
    padding: 0 10px 0 34px;
}
.sliderArea	.noUi-horizontal .noUi-handle,
.dateFilterArea	.noUi-horizontal .noUi-handle
{background: #a7a7a7;border-radius: 0;}
.sliderArea	.noUi-horizontal .noUi-connect,
.dateFilterArea	.noUi-horizontal .noUi-connect
{background: #d8d8d8;}

.sliderArea .noUi-target {
	height:6px;
}
.sliderArea {
	padding-left: 15px !important;
	padding-right: 30px !important;
}

/*Calender*/
.calendar .calendar-header {border: none;box-shadow: none;border-bottom: 1px solid #eaeaea;border-radius: 0;}
.calendar-view .documentConteiner , .c_time{background-color: #fff !important;border-top: 1px solid #eaeaea;}
.calendar-view #documentConteiner{padding-top: 15px ;}
.closePanel{background: #2cab72 }
.closePanel:hover{background: #419a72}
.calendar .month-container{box-shadow:none;border-bottom:1px solid #eaeaea;border-radius: 0 ;}
.documentConteiner .documentViewFrame{box-shadow: none; border-right: 1px solid #eaeaea; border-radius: 0;} /*box*/
.calendar table.month tr td .day-content{border-radius: 0}
.calendar table.month tr td .day-content:hover{box-shadow: none}
body .documentConteiner .documentViewFrame{box-shadow: none;border-right: 1px solid #ddd;border-radius: 0;}
/*noacces */
.noAccess #links a{border-radius: 0;}
.noAccess #links .RedirSearchPage a{background: #2da56f}
.noAccess #links .RedirSearchPage a:hover{background: #2cab72 ;}
.noAccess #links .logInPage a{color:#2da56f;border-color: #2da56f}
.noAccess #links .logInPage a:hover{background: #2cab72 ;color:#fff;}
/*noacces */
#LoginPage .LoginLeftSide .loginFormArea #tmpfrm .row .allowDisable{background: #2da56f; border-radius: 0;}
#LoginPage .LoginLeftSide .loginFormArea #tmpfrm .row .allowDisable:hover{background: #2cab72 ;}
#LoginPage .LoginLeftSide .loginFormArea #btnGuestLogin{color:#2da56f;border-color: #2da56f}
#LoginPage .LoginLeftSide .loginFormArea #btnGuestLogin:hover{background: #2cab72 ;color:#fff;border-radius: 0;    }
#LoginPage .LoginLeftSide .loginFormArea ,#LoginPage .LoginLeftSide .loginFormArea #tmpfrm .form-group input{border-radius: 0;}
/*general */
input[type=checkbox]:before{border-radius: 0;}
@media only screen and (max-width: 1350px) {
    .toggledBody #divMain .ItemSelectedForAdvRight{box-shadow: 0 2px 12px 0 rgba(0,0,0,0.35);background: #f6f6f6;}
}
@media only screen and (max-width: 1050px) {
    #divMain .ItemSelectedForAdvRight{ box-shadow: 0 2px 12px 0 rgba(0,0,0,0.35);}
}
@media only screen and (max-width: 768px) {
    .navbar .SearchTextBoxArea button.searchBorder {padding: 8px 6px !important;}
    .DLV #divMain .pnl-query-item{padding: 10px 10px 0 ;border: none }
}
@media only screen and (max-width: 480px) {
    .navbar .SearchTextBoxArea button.searchBorder{margin:11px 3px 2px !important}
    .DLV #divMain .pnl-query-item {padding: 10px 0 0 0 ;border: none ;margin: 0 ;width: 100%;}
    #divDocAccordion {padding: 0px ;background: #fff;border-right: 1px solid #eaeaea;margin: 0 ;}
}