
.layout1-body {
	overflow-y:auto !important;
}
/* Facet */
.ESBody .sidebar-wrapper {
	position:fixed !important;
}
/* banner */
#topArea {
	color: #fff;
	text-align: center;
	margin-top: 62px;
	height: 200px;
	background-color: #2D3144;
	background-image: linear-gradient(to right top, #23242c, #272b43, #2a325b, #2c3973, #2f3f8c);
}
.FrameMode #topArea{
	display: none !important
}
#topArea .banner {
	height: 200px;
}
#searchArea1 .dc-search-group{
	top: 0px !important;
}
.banner .bannerLeftSide .in {
	background: inherit;
    box-shadow: inherit;
	margin: 0;
}
.banner .bannerLeftSide .in .projectName{
	color: inherit !important;
	font-size: 22px;
}
.banner .bannerLeftSide {
	height: auto !important;
}
/* banner hide */

.sidebar-wrapper .banner {
display: none;
}
/* navbar */
.navbarArea {
	position: fixed;
	right: 0;
    left: 0;
    top: 0;
	z-index: 50;
	height: 62px
}
.navbarArea .navbar-brand {
	width: 60px !important;
	border-right: none;
}
	.navbar .img-sidebarMobil24, .toggledBody .navbar .img-sidebarMobil24 {
	background-image: url(../../../../../img/svg/navigation-drawer-3.svg);
	}
.navbar-form .input-group .input-group-btn button .modeBtnText {
	display: none;
}
.navbar .SearchTextBoxArea button .modeBtnText {
    margin-top: 0px !important;
}
.navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a {
	background-color: transparent !important;
	border-left: none !important;
}
.qUploadCtrlStyle {
	width: 100%;
    max-width: 100%;
    margin-top: 57px;
	border-radius: 4px;
}
	.qUploadCtrlStyle .upload-title {
	border-radius: 4px 4px 0 0;
	}
	
/* navbar bodyScroll olduğunda */

	.ESScroll-down.ESBody.DLV .navbar-form .input-group {
	display: inline-table;
    position: relative;
    left: inherit;
    right: inherit;
	}
	.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	border-color: #DDDFE2 !important;
	width: 400px;
	}

/* search group */

.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead {
	width: 100% !important;
	margin: 0;
}
.ESBody.DLV.tt-dropdown-menu {
	max-width: inherit;
    margin-top: 0px;
    border-radius: 4px;
}
.ESScroll-down.ESBody.DLV .tt-dropdown-menu, .tt-dropdown-menu {
    margin-top: 55px;
}
/* İçerikler sağ bölüm */
.inAdvRightPanel {
	max-width: 600px !important;
	margin-top: unset !important;
	top: 267px;
}

.page-content-wrapper:not(.FrameMode .page-content-wrapper){
	margin-top: 15px;
}

/* responsive */
@media (max-width: 1366px) {
	.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		width: 324px;
	}
}
@media (max-width: 991px) {
	.ESBody.DLV .dc-search-group {
		max-width: 100%;
		left: 0;
	    margin-left: inherit;
	}
	.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
    	width: 190px;
	}
}
@media (min-width: 768px) {
	.inRootMenu {
		margin-top: unset;
	}
}

@media (max-width: 768px) {
	.ESBody.DLV .navbar-form .input-group {
		right: 30px;
	}
	.toggledBody #helpButtonsArea {
		display: none !important;
	}
	.input-group {
		padding: 0;
	}
	/** **/
	.ESBody.DLV .navbar-form .input-group {
		display: table;
	    position: relative;
	    left: inherit;
	    right: inherit;
		padding-left: 0;
	}
	.ESBody.DLV .dc-search-group {
		position: relative;
		top: 0 !important;
		width: unset;
	}
	.navbar .navbar-form {
		padding-left: 20px !important;
	}
	.qUploadCtrlStyle {
		position: fixed;
		left: 0;
		right: 0;
	}
	.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		border-color: #DDDFE2 !important;
	}
}

@media (max-width: 480px) { 
	.banner .bannerLeftSide .in .projectName{
		font-size: 15px;
	}
	.banner .bannerLeftSide .in {
		flex-direction: initial;
	}
}