<dcc:repeater>
<div class="propGrid">
	<div class="pgHeader">[$default:module_information]</div>
	<div class="pgRow">
        <div class="pgCol">[$default:displayname]</div>
        <div class="pgVal">[=context.Data.ModuleName]</div>
    </div>
	<div class="pgRow">
        <div class="pgCol">[$default:description]</div>
        <div class="pgVal">[=context.Data.Description]</div>
    </div>
	<div class="pgRow">
        <div class="pgCol">[$default:version]</div>
        <div class="pgVal">[=context.Data.ModuleVersion]</div>
    </div>
	<div class="pgRow">
        <div class="pgCol">[$default:main_application_version]</div>
        <div class="pgVal">[=context.Data.MainModuleVersion]</div>
    </div>
</div>
</dcc:repeater>