﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<style>
    @media screen and (min-width: 500px) {
        .pgRow {
            padding: 4px !important;
        }

        .pgCol {
            min-width: 250px !important;
            max-width: 250px !important;
        }

        .dt-container {
            padding: 20px 40px;
        }
    }

    #defaultArea {
        padding-top: 20px;
    }

    #DBColumns {
        background-color: #fff;
        padding: 5px;
    }

    .dt-container {
        color: #383D47;
        background: #fff;
        border-radius: 6px;
    }

    #defaultArea {
        overflow: auto !important;
    }
</style>

<div class="modal fade" id="imagesPrevC" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:5px;" id="carousel01_prev">
            </div>
        </div>
    </div>
</div>

<div class="container dt-container">
    <div class="row">
        <div class="col-md-4 dbRLeft" style="display:none" align="center">
            <img onerror="DbPrewError(this)" onload="DbPrewReady(this)" id="prevImg" style="cursor:pointer" onclick="DBOpenSlider()">
        </div>
        <div class="col-md-12 dbRRight">
            <dcc:repeater data='c.ToArray&lt;dynamic&gt;((System.Collections.IEnumerable)d,"Data",int.MaxValue,"!String.IsNullOrEmpty(d.Key) && !c.GetHttpItem(\\"DB_HiddenColumns\\").Contains(d.Key.ToUpperInvariant())")'>
                <dcc:panel name="empty"> </dcc:panel>
                <dcc:panel name="header">
                    <div id=DBColumns class="__textclass">
                        <!--  <div class="dt-header">[$DefaultReaders:Other]</div> -->
                        <div class="propGrid">
                </dcc:panel>
                <dcc:panel name="body">
                    <div class="pgRow">
                        <div class="pgCol noformatter">
                            [=d.Key.ToUpperInvariant()]
                        </div>
                        <div class="pgVal">
                            [=c.ToStringForReport(d.Value,null)]
                        </div>
                    </div>
                </dcc:panel>
                <dcc:panel name="footer">
        </div>
    </div>
    </dcc:panel>
    </dcc:repeater>
</div>
	</div>
</div>

<script type="dece-template" id="carousel01">
    <d:r visible="data && data.length ">
        <div id="crs_{{context.targetDom.attr('id')}}" class="carousel slide">


            <ol class="carousel-indicators">
                <d:r data="data">
                    <d:r visible="(data.DocStatus&8)==8/*hasPreview*/">
                        {{ if(!context._rpIndex) context._rpIndex=0;  data.rpIndex=context._rpIndex; context._rpIndex++; null ;}}
                        <li data-target="#crs_{{context.targetDom.attr('id')}}" data-slide-to="{{data.rpIndex}}" {{data.rpIndex==0? "class=active":""}}></li>
                    </d:r>
                </d:r>
            </ol>

            <div class="carousel-inner">
                <d:r data="data">
                    <d:r visible="(data.DocStatus&8)==8/*hasPreview*/">

                        <div class="IsDoc item{{data.rpIndex ==0? " active":""}}" {{data.GetDocItemAttr()}}>
                            <a onclick="ShowOrDownloadDoc(this,event)" href="{{data.GetHref()}}" curl="{{data.GetHref(true)}}" '  style="height:400px;"  >
                                <img src="{{__DbPreviewGet(context,data)}}" border=0 title="{{data.DisplayName}}" />
                                <div class="carousel-caption">
                                    {{data.DisplayName}}
                                </div>
                            </a>
                            <div style="background-color:#666;color:#fff;padding:5px;">{{data.DisplayName}}</div>
                        </div>
                    </d:r>
                </d:r>
            </div>

            <a class="left carousel-control" href="#crs_{{context.targetDom.attr('id')}}" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#crs_{{context.targetDom.attr('id')}}" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </d:r>

</script>

<script>
    function DbPrewReady(obj) {
        $(".dbRRight").removeClass("col-md-12").addClass("col-md-8");
        $(".dbRLeft").fadeIn();
    }
    function DbPrewError(obj) { }
    function DBOpenSlider() {
        if (window._mdlReady) {
            $("#imagesPrevC").modal();
            return;
        }
        window._mdlReady = true;
        var q = new GeodiQuery();
        q.EndIndex = 128;
        q.SearchString = '( parentid:' + currentContent.ID + ' )';
        var subDbContents = [=c.ToJson(c.GetHttpItem("DB_SubUncPaths"))];
        if (subDbContents != null && subDbContents.length > 0 && subDbContents.join)
            q.SearchString += ' or ( unc:"' + subDbContents.join('" or unc:"') + '" )';
        q.UseRank = true;
        if (!HttpUtility.ResolveUrl)
            HttpUtility.ResolveUrl = q.ResolveUrl;
        $("#imagesPrevC").modal();
        RenderDLV(
            {
                Query: q,
                TargetDiv: "#carousel01_prev",
                Template: $("#carousel01").html(),
                OnEndRender: function (args) {
                    $('.carousel').carousel({ interval: 5000 })
                }

            }
        )
    }
    function __DbPreviewGet(context, data) {
        if (data.ContentType == 'filecontent:.png' || data.ContentType == 'filecontent:.jpg' || data.ContentType == 'filecontent:.jpeg')
            return HttpUtility.ResolveUrl('~/ImageViewer?op=GetPreviewImage&content_id=' + data.ContentIdentifier + '&wsName=' + window.HttpUtility.UrlEncode(context.Options.Query.wsName) + "&rnd=" + new Date());
        else
            return context.ResolveUrl('~/GeodiJSONService?op=getContentThumbnail&ContentIdentifier=' + data.RedirId + '&wsName=' + HttpUtility.UrlEncode(context.Options.Query.wsName) + '&rnd=' + window.___DomStartDate, false)
    }

    function _init1SB() {
        var defaultImage = [=c.ToJson(c.GetHttpItem("Content") != null ? c.GetHttpItem("Content").Enumarator.GetGenericSetting("DefaultPreview", "") : null)];
        if (defaultImage == "none") return;
        var exParams = "&noPreviewThrowError=true";
        if (defaultImage)
            exParams = "&defaultImage=" + HttpUtility.UrlEncode(defaultImage);
        var SearchString = '( parentid:' + currentContent.ID + ' )';
        var subDbContents = [=c.ToJson(c.GetHttpItem("DB_SubUncPaths"))];
        if (subDbContents != null && subDbContents.length > 0 && subDbContents.join) {
            if (subDbContents.slice)
                subDbContents = subDbContents.slice(0, 4);
            SearchString += ' or ( unc:"' + subDbContents.join('" or unc:"') + '" )';
        }

        $("#prevImg").attr("src", HttpUtility.ResolveUrl('~/GeodiJSONService?op=getContentThumbnailWithQuery&query=' + HttpUtility.UrlEncode(SearchString) + '&MaxCount=4&wsName=' + HttpUtility.UrlEncode(StateForm.GetState("wsName")) + exParams))
    }
    $(window).ready(function () {
        $(document.body).append($("#imagesPrevC"))
        _init1SB();
        if (window.SummaryGUI)
            window.SummaryGUI.UpdateSummaryDOM();
    })

</script>