body {
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
}

li {
    margin-left: 30px;
    padding-bottom:5px;
}

.Obsolete {
    color:crimson;
}


.subInfo {
    padding: 5px;
    padding-left: 20px;
    color: gray;
}

.blockDesc {
    padding-top:5px;
    display:inline-block;
    padding-bottom:5px;
    color: gray;
}

.helpDesc {
    padding-top:5px;
    display:block;
    padding-bottom:5px;
    color: gray;
    padding-left:30px;
    border: 1px solid #58d058;
    margin: 3px;
    margin-bottom: 10px;
}
.propBack {
    display:inline-block;
    padding-top:10px;
    color: gray;
    font-size:12px;
}

._type {
    color: #0000FF;
}


._paramDefaultValue {
    color: #FF0000;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:#009cfb;
}
