﻿#facetTemplateQueryForm .frmData , .frmDataContainer .frmData {
    display: none;
}

.dynamic-form label {
    width: 100%;
}

.dynamic-form input, .dynamic-form text, .dynamic-form textarea, .dynamic-form select {
    height: 30px;
}

.selectize-input.focus {
    outline: auto !important;
}

.dynamic-form input, .dynamic-form text, .dynamic-form textarea, .dynamic-form select, .dynamic-form .selectize-input {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


    .dynamic-form .selectize-input input {
        padding: 0px 0px !important;
        width: auto !important;
        height: 23px !important;
    }


    .dynamic-form .selectize-control, .dynamic-form .selectize-input input {
        padding: 0px 0px !important;
    }

    .dynamic-form input[type=checkbox], .dynamic-form input[type=radio] {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        border: inherit;
        height: inherit;
		width:16px !important;
    }

.dynamic-form textarea {
    height: 60px;
}

.dynamic-form label input, .dynamic-form text, .dynamic-form textarea, .dynamic-form select {
    font-weight: normal;
}
