﻿.checkboxGroup{
    position: relative;
    width: 100%;
}
.checkboxGroup .facetCountR{
    right: 2px;
}
.checkboxGroup .checkboxGroupExpand {
    width: 20px;
    vertical-align: sub;
    display:inline-block;
}
.checkboxGroup .plus{
     background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -544px;
}
.checkboxGroup .negative{
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -528px;
}

.checkbox label{
    padding-left: 0 !important;
}
.checkboxGroup .checkboxGroupIcon{
    background-image: url('img/32px.png?v=[=c.Client.Request.GetVersionCode()]');
    background-size: 320px 96px;
    background-position: -69px -5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inherit;
    position: absolute;
    left: 26px;
}

.halfCheckedGroup{
    opacity: 1 !important;
    transform: scale(1) rotateZ(0deg) !important;
    left: 0px !important;
    font-size: 15px !important;
}
.checkedStyle{
    opacity: 1 !important;
    transform: scale(1) rotateZ(0deg) !important;
}
.notCheckedStyle{
    transform: scale(3) rotateZ(-20deg) !important;
    opacity: 0 !important;
}

.facetSubItem {
    padding-left: 40px !important;
}
.facetEmptyItem {
    display: none;
}
.showFacetEmptyItemBtn{
    cursor: pointer;
    position: absolute;
    right: 28px;
    bottom: 4px;
    display: none;
}
.facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){
    padding-left: 20px !important;
}