﻿img {
    image-rendering: -webkit-optimize-contrast;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*#region Summary class*/
.__textclass {
    word-wrap: break-word;
    line-height: normal;
    padding-right: 5px;
    /*text-align: justify;*/
}

    .__textclass .text {
        padding-top: 2px;
    }

    .__textclass .propGrid {
        margin: 3px;
        border: 1px #e7e7e7 solid;
    }

    .__textclass .propGrid div {
        padding: 2px;
    }

    .__textclass .propGrid .pgRow {
    }

    .__textclass .propGridDashed {
        padding: 4px;
        border: 1px #e7e7e7 dashed;
    }

    .__textclass .propGridContainer {
        margin: 5px;
        border: 1px #999 solid;
    }

    .__textclass .pgSmall {
        font-size: small;
    }

    .__textclass .pgInlineBlock {
        display: inline-block;
    }

    .__textclass .propGrid .pgRow:nth-child(odd) {
        background-color: #fcfcfc;
    }

    .__textclass .propGrid .pgHeader {
        font-weight: bold;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #f0f0f0;
    }

    .__textclass .propGrid .pgCol {
        display: table-cell;
        /*border-right: 1px #999 solid;*/
        min-width: 170px;
        max-width: 170px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .__textclass .propGrid .pgVal {
        display: table-cell;
    }

    .__textclass .datetime {
        font-size: large;
        padding-bottom:5px;
    }

    .__textclass .sub {
        font-size: small;
    }

    .__textclass .hgbold {
        font-weight: bold;
    }

    .__textclass .propGrid .pgVal {
        display: table-cell;
        padding-left: 5px;
    }

    .__textclass .ThumbnailImage {
    }
/*#endregion*/
.sliderArea .noUi-target {
    height: 6px;
}

.sliderArea {
    padding-left: 30px;
    padding-right: 30px;
}

.attD {
    padding-top:2px;
}

.inEditableArea {
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: normal;
    resize: both;
    min-width: 280px;
    min-height: 41px;
    margin-left: 15px;
    margin-right: 15px;
    /*text-align: justify;*/
}


    .inEditableArea:focus {
        border: 1px solid #719ECE;
        border-radius: 4px;
        line-height: normal;
    }


/*#region BootStrap Modify*/
.panel-group .panel + .panel {
    margin-top: 2px;
}

.viewerRightPanel {
    max-height: 300px; 
    overflow-y: auto;
    padding-top:2px;
    padding-bottom:2px;
}


body {
    line-height: 1.2 !important;
    /*font-family: Verdana !important;*/
    font-family: 'Open Sans', sans-serif !important;
}

.navbar-nav-right {
    float: right !important;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar {
    min-height: 28px !important;
    margin-bottom: 10px !important;
}

.navbar-form {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.panel-body {
    padding-bottom: 8px;
}

.panel {
    margin-bottom: 8px !important;
}

.panel-list > .panel-default {
    margin-bottom: 3px !important;
    border: none !important;
    border-radius: 0px !important;
}

.panel-list > .panel-default {
    margin-bottom: 3px !important;
}

.panel-list .panel-default .panel-heading {
    /*padding-top: 6px !important;*/
    /*padding-bottom: 6px !important;*/
    background-color: transparent !important;
}

.btn-collapse-hidden {
    display: none !important;
}

.btn-collapse-shown {
    display: inline-block !important;
}

.navbar-collapse.collapse {
    padding-top: 10px !important;
}

.list-group {
    margin-bottom: 5px !important;
}

.img-default {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.img-sidebarMobil24 {
    background-image: url('../img/svg/navigation-drawer-1.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-moreMobil24 {
    background-image: url('../img/svg/navigation-show-more-vertical.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-more24 {
    background-image: url('../img/svg/navigation-show-more-horizontal.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-settings24 {
    background-image: url('../img/settings24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}
.img-faces24 {
    background-image: url('../icons/Content/FaceProIcon.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}
.img-default16 {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}

.img-default32 {
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: none;
    background-repeat: no-repeat;
}

   
.img-formove16 {
    visibility:hidden;
    background-image: url('../img/drag_indicator16.png');
    background-repeat: no-repeat;
    cursor:move;
}

.trSortable:hover .img-formove16 { visibility: visible;  }

.img-formove16:hover { visibility:visible; }

.img-warning16 {
    background-image: url('GUIJsonService?op=getIco&IconName=warning_16');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-default32-warning {
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: none;
    position: relative;
}

.img-default32-warning:after {
    content: url("GUIJsonService?op=getIco&IconName=warning_32");
    position: absolute;
    left: 0px;
    top: 0px;
}

.img-button32 {
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: inline-block;
}


.img-button24 {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: inline-block;
}

.img-button16 {
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn-transparent {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.img-xs {
    padding-left: 18px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.caret-right {
    margin-left: 5px !important;
}

.caret-right-aligned {
    position: absolute;
    right: 20px;
    top: 45%;
}

.in-block {
    display:inline-block
}
.gray-italic {
    color: GrayText !important;
    font-style: italic !important;
}
.gray-light {
    color: lightgray !important;
}
        
.form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.dic-list-button {
    text-align: left !important;
    width: 250px;
    margin: 1px;
    overflow: hidden;
    padding-right: 3px;
}

    .dic-list-button img {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }

.ws-list-button {
    text-align: left !important;
    min-width: 265px;
    max-width: 265px;
    margin: 1px;
}

.ws-list-button-text {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.nav-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.btn-hidden {
    display: none !important;
}

.panel-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.help-block {
    margin-bottom: 0px !important;
}

.body-with-fixed-navbar {
    padding-top: 60px;
}

.navbar-fixed-second-top {
    top: 45px !important;
}


.inner-panel .panel-heading {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #fcfcfc !important;
}

.inner-panel .panel-body {
    padding: 5px !important;
}

    .inner-panel .panel-body li {
        padding: 5px 10px !important;
    }
/*#endregion*/

/*#region Custom Scroll*/
.divBody {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 10px !important;
}
/*#endregion*/

/*#region QueryResultViewer */
.simpledatetime, .lightHighlight {
    font-weight: bold;
}

.highlight {
    color: #FFF;
    background-color: #7EBC88;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}

h4 a {
    word-break: break-all;
}

.divDocSummary, .divKWSummary {
    min-height: 160px;
    max-height: 280px;
    overflow-y: auto;
    position: relative;
    margin-top: 50px;
}

.divDocKeyword {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    position: absolute;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 15px;
    width: 100%;
    z-index: 1;
}

.divDocKeywordExpand {
    margin-top: -2px;
    height: 16px;
    text-align: center;
}

.hrKeywordList {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 1px solid #DB1B1B;
    overflow: auto;
}

.hrNarrow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-button-xs {
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
}

.div-button-s {
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: left;
}

.spanDocKeywordExpand, .spanKeywordDocExpand {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin-top: -4px;
    padding-bottom: 6px;
    vertical-align: top;
}

.badge {
    margin-left: 5px;
}

.divKeywordDoc, .divDocKeyword {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    position: relative;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    z-index: 1;
}

.divKeywordDocExpand, .divDocKeywordExpand {
    margin-top: -2px;
    height: 14px;
    text-align: center;
}

.hrDocumentList, .hrKeywordList {
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #DB1B1B;
    overflow: auto;
}

.btn-kw-list button {
    height: 26px;
    border-color: transparent !important;
    background-color: transparent !important;
}

.btn-doc-list button {
    height: 20px;
    border-color: transparent !important;
}

.divDocumentList, .divKeywordList {
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    /*border:1px solid rgb(188, 217, 241);*/
}

    .divDocumentList span img {
        margin-right: 4px;
    }

.hrSummarySeperator {
    margin-top: 7px;
    margin-bottom: 7px;
    clear: both;
}

.btn-kw-list span {
    width: 98%;
    text-align: left;
    margin-left: 2px;
    margin-top: 2px;
}

.btn-doc-list button {
    margin-left: 2px;
    margin-top: 2px;
}

.btn-doc-list, .btn-kw-list {
    max-height: 150px;
    overflow: auto;
}

.summaryOps {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    height: 40px;
    opacity: 0.9;
    display: none;
}

.panel-title {
    cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.docDetail {
    position: relative;
    overflow: hidden;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.docKeyword {
    position: relative;
    overflow: hidden;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.divSummaryLeft {
    float: left;
    width: 32px;
    margin-left: 2px;
}

    .divSummaryLeft button {
        height: 26px;
    }

    .divSummaryLeft a {
        height: 26px;
    }

.divSummaryRight {
    margin-left: 32px;
    border-left: 1px solid lightgray;
    padding-left: 3px;
}

.divCurrentDocument, .divCurrentKeyword {
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 15px;
    position: absolute;
    z-index: 1;
    /*border-left:1px solid rgb(188, 217, 241);
    border-right:1px solid rgb(188, 217, 241);
    border-top:1px solid rgb(188, 217, 241);*/
}

.aDownload {
    width: 28px;
    float: right;
    cursor: pointer;
}

.container-fluid-less-padding {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.spanKeyword {
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    height: 24px;
}

.divCurrentDocumentInfo {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    display: inline-block;
}

    .divCurrentDocumentInfo img {
        margin-right: 3px;
    }

#modalEmail .controls {
    margin-top: 6px; /*tüm controls classına uygulanabilir*/
}

.pnl-query-item > .panel-heading {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.divPanelTitleText {
    height: 25px;
    overflow: hidden;
    padding-top: 2px;
    padding-left: 5px;
    line-height: 1.5;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%; /*Hesaplanabilir*/
}

.divPanelTitleTextEx {
    width: 75%; /*Hesaplanabilir*/
}

.divPanelExtraText {
    padding-left: 5px;
    color: #BBB;
}

.imgPanelTitleIcon {
    float: left;
    /*max-height: 24px;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pnl-query-item > .panel-heading {
    min-height: 28px;
}

.pnl-query-item .badge {
    float: left;
    margin-right: 3px;
    margin-top: 3px;
}

.divImageLoading > .img-loading24 {
    width: 26px;
    height: 26px;
    float: left;
}

.list-loading {
    line-height: 26px;
    padding-left: 30px;
}

.panel-list {
    margin-bottom: 5px !important;
}

.list-item {
    white-space: nowrap;
}

.SummaryLinksTop {
    position: absolute !important;
    right: 0px;
    top: 5px;
}
.div-download {
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: right;
    margin-top: 0px !important;
}

.div-summary-loading {
    width: 24px;
    height: 24px;
    margin-left: 40px;
    background-image: url('../img/loading24.gif');
    background-repeat: no-repeat;
    background-position: center;
}

/*KLV*/
.action-menu-button {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -2328px;
    background-color: transparent !important;
    height: 24px;
    border: none !important;
    float: right;
    margin-top: -1px;
}

.action-menu-button32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3104px;
    background-color: transparent !important;
    height: 32px;
    width: 32px;
    margin-right: 4px;
    margin-top: 4px !important;
    border: none !important;
    float: right;
}

.action-menu {
    position: absolute;
    /*background-color:#EFEFEF;*/
    padding: 5px;
    overflow: auto;
    border: 1px solid #495E62;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
    background-color: #BDE4F7;
}

.pnl-query-item .panel-heading {
    padding-right: 3px !important;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
}

    .pnl-query-item .panel-heading h4 {
        float: left;
    }

.klv-kw-title {
    height: 25px;
    overflow: hidden;
}

.action-menu-container {
    float: right;
}
/*#endregion*/

/*#region DefaultQuery*/
.typeahead,
.tt-hint {
    height: 34px;
    /*padding: 8px 12px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 30px;
    /*border: 1px solid #024e6a;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 18px;
}

    .tt-suggestion + .tt-suggestion {
        font-size: 14px;
        border-top: 1px solid #ccc;
    }

.tt-suggestions .repo-language {
    float: right;
    font-style: italic;
}

.tt-suggestions .repo-name {
    font-size: 20px;
    font-weight: bold;
}

.tt-suggestions .repo-description {
    margin: 0;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #03739c;
}

span.twitter-typeahead {
    width: 100% !important;
}

.autocomplete {
    /*height: 46px;*/
    /*padding: 10px 16px;*/
    margin-top: 3px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.collapse-header {
    cursor: pointer;
}

.scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

.btn-setNearDistance {
    padding: 0px 1px;
    height: 30px;
    float: right;
    border: none;
}

    .btn-setNearDistance span {
        height: 24px;
        width: 24px;
        background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
        background-repeat: no-repeat;
        background-position: center -144px;
        display: inline-block;
        margin-top: 2px;
        border: none !important;
        float: right;
    }

#keywordList .spRightButtons .bootstrap-switch-handle-on {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3816px;
    height: 25px;
    width: 24px;
    margin-top: 3px;
}

#keywordList .spRightButtons .bootstrap-switch-handle-off {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3792px;
    height: 25px;
    width: 24px;
    margin-top: 3px;
}

#keywordList .spLeftButtons .bootstrap-switch-handle-on {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -768px;
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

#keywordList .spLeftButtons .bootstrap-switch-handle-off {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -408px;
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

/*#endregion*/

/*#region WorkspaceWizard*/
/*body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    padding: 10px;
}*/

.easyWizardSteps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

    .easyWizardSteps li {
        font-size: 18px;
        display: inline-block;
        padding: 10px;
        color: #B0B1B3;
        margin-right: 20px;
    }

        .easyWizardSteps li span {
            font-size: 24px;
        }

        .easyWizardSteps li.current {
            color: #000;
        }

.easyWizardButtons {
    overflow: hidden;
    padding: 10px;
    float: right;
}

    .easyWizardButtons button, .easyWizardButtons .submit {
        cursor: pointer;
    }

    .easyWizardButtons .prev {
        float: left;
        margin-right: 10px;
    }

    .easyWizardButtons .next, .easyWizardButtons .submit {
        float: right;
    }

#tblLayers td, .tdSortable  {
    padding: 0px;
    height:auto;
    vertical-align:middle;
}

.tight-panel-body {
    padding: 5px !important;
}

.control-group-with-margin {
    margin-bottom: 15px;
}

#modalEmail label {
    text-align: left;
}

.form-workspace-wizard .step {
    height: 620px;
    overflow: auto;
}

#divEmailServerTypes button {
    width: 120px;
    margin-bottom: 2px;
}

#divEmailModalBody {
    padding-top: 0px;
}

/*#endregion*/

/*#region DictionaryWizard*/
.form-dictionary-wizard .step {
    height: 500px;
    overflow: auto;
}

.margin-bottom-s {
    margin-bottom: 5px !important;
}

.layer-image {
    margin-top: 3px;
    margin-bottom: 3px;
}

#mainTable > thead > tr > th, #mainTable > tbody > tr > th, #mainTable > tfoot > tr > th, #mainTable > thead > tr > td, #mainTable > tbody > tr > td, #mainTable > tfoot > tr > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.divDictionaryGroup {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#divGroupName .typeahead, #divGroupName .tt-hint {
    font-size: 14px !important;
}

#divGroupName .tt-dropdown-menu {
    max-height: 200px;
    overflow: auto;
    font-family: Verdana;
}

.span-layer-image {
    width: 32px;
    display: block;
    float: left;
    margin-right: 7px;
    height: 42px;
    margin-top: 3px;
}

.main-table tr td:first-child {
    text-align: center;
    display: none;
}

.main-table tr th:first-child {
    display: none;
}

.main-table tr td:first-child:not(.dataTables_empty) {
    background-image: url('../img/unchecked16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.main-table tr.active td:first-child {
    background-image: url('../img/checked16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.dataTables_wrapper .DTTT.btn-group {
    float: left;
}

#sectionContent {
    overflow-x: hidden;
}

    #sectionContent #editorFrame {
        margin-top: 0px;
    }

#divShapeFileDictionaryEditor .dropdown-toggle {
    min-width: 300px;
    text-align: left;
}

#divShapeFileDictionaryEditor .default-dropdown {
    padding-left: 20px;
}

    #divShapeFileDictionaryEditor .default-dropdown li {
        padding-top: 3px;
        padding-bottom: 3px;
    }

#divShapeFileDictionaryEditor .caret {
    float: right;
    margin-top: 8px;
}

#divShapeFileDictionaryEditor ul {
    min-width: 300px;
    max-height: 250px;
    overflow: auto;
    cursor: pointer;
}

#divShapeFileDictionaryEditor .control-label {
    min-width: 150px;
    float: left;
    line-height: 30px;
}


.img-ge {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -48px;
}

.img-map {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -24px;
}


.img-play {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -456px;
}

.img-stop {
    background-image: url('../img/playset/stop24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}


.img-delete {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -408px;
}

.img-delete16 {
    background-image: url('../img/delete16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-delete-circle {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -2424px;
}

.img-moduleUpdate {
    background-image: url('../img/moduleUpdate.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat; 
    background-position: center;   
}
.img-moduleWizard {
    background-image: url('../img/moduleWizard.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-update {
    background-image: url('../img/update.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-external-link16 {
    background-image: url('../img/external-link16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
}

.img-install {
    background-image: url('../img/install.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat; 
    background-position: center;   
}
.img-exclamation {
    background-image: url('../img/exclamation.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat; 
    background-position: center;   
}


.img-google-button {
    /*background-image: url('../icons/Other/btn_google_signin.png?v=[=c.Client.Request.GetVersionCode()]');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 128px;
    height: 30px;
    border:none;
}

/*.img-minus {
    background-image: url('../img/minus24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat : no-repeat;
    background-position : center;
}*/
.img-edit {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -480px;
}

.img-edit16 {
    background-image: url('../img/edit16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-add {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -552px;
}
.img-add16 {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -368px;
}

.img-email {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -1128px;
}

.img-reload {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3648px;
}


.margin-update-heading {
    margin-top: -6px !important;
}

.img-circle-selected {
    background-image: url('../img/circle16red.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-circle-unselected {
    background-image: url('../img/circle16white.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center;
}

.img-document16 {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -1472px;
}

.img-download16 {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -336px;
}

.img-document24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -2208px;
}


.img-image32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3264px;
}

.img-action24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -2328px;
}


.img-action32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3104px;
}


.img-folder16 {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -672px;
}

.img-folder24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -1008px;
}

.img-split32 {
    background-image: url('../img/split32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-check16 {
    background-image: url('../img/selected16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.ws-selection {
    left: -9px;
    margin-top: 23px;
    position: absolute;
    cursor: pointer !important;
}

/*#endregion*/

/*#region Images*/
.img-docs {
    background-image: url('../img/docs24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-query16 {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center 0px;
}
.img-query {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center 0px;
}


.img-query32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center 0px;
}

.img-altKw24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -4392px;
}


.img-altKw32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -5856px;
}

.img-query32-checked {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3072px;
}

.img-dlv24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -336px;
}

.img-dgraph24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3312px;
}

.img-watch24 {
    background-image: url('../icons/Action/watch.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
}

.img-klv24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -312px;
}

.img-dlv32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -448px;
}

.img-klv32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -416px;
}

.img-map32 {
    background-image: url('../img/windowsMenu/mainMenu.png?v=[=c.Client.Request.GetVersionCode()]');
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center -32px;
}

.img-export24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -384px;
}

.img-export32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -512px;
}

.img-devices24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -216px;
}

.img-devices32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -288px;
}

.img-getData32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -2880px;
}

.img-zoho32 {
    background-image: url('../img/zohologo.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-filter32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -2912px;
}

.img-roundBorder {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}




.img-project24 {
    background-image: url('../img/project24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-rotate-right24 {
    background-image: url('../img/rotate-right24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}



/*.img-dictionary24 {
    background-image: url('../img/dictionary24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat : no-repeat;
    background-position : left center;
}*/

.img-dictionary32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -128px;
}

.img-project32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -96px;
}

.img-settings24 {
    background-image: url('../img/settings24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-settings16 {
    background-image: url('../img/settings16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

/*.img-workspace24 {
    background-image: url('../img/workspace24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat : no-repeat;
    background-position : center center;
}*/

.img-keyword {
    background-image: url('../img/keyword24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

/*.img-save {
    background-image: url('../img/save24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat : no-repeat;
    background-position : center center;
}*/

.img-load {
    background-image: url('../img/load24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-clear24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -432px;
}

.img-getData24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -2160px;
}

.img-download {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -504px;
    margin-top: -3px;
}

.img-download24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -504px;
}

.img-download32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -672px;
}

.img-filter24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -2184px;
}

.img-share24 {
    background-image: url('../img/share24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-label24 {
    background-image: url('../img/label24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-mail24 {
    background-image: url('../img/mail24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -3px;
}

.img-expand-xs {
    background-image: url('../img/expand16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-collapse-xs {
    background-image: url('../img/collapse16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: left center;
}

.img-360fw {
    background-image: url('../img/360fw.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.img-360bw {
    background-image: url('../img/360bw.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.img-360man {
    background-image: url('../img/360man.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.img-360map {
    background-image: url('../img/360map.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}




/*obsolete*/
.img-workspace {
    background-image: url('../img/workspace32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    display: block;
    float: left;
    margin-right: 7px;
    height: 42px;
    margin-top: 3px;
}
/*obsolete*/
.img-workspace-err {
    background-image: url('../img/workspace32err.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    display: block;
    float: left;
    margin-right: 7px;
    height: 42px;
    margin-top: 3px;
    cursor: pointer;
}
/*obsolete*/
.img-template {
    background-image: url('../img/template32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    display: block;
    float: left;
    margin-right: 7px;
    height: 42px;
    margin-top: 3px;
}

.img-previouspage , .img-nextpage, .img-close,
.img-previouspage:visited, .img-nextpage:visited, .img-close:visited
{
    text-decoration:none;
    height: 32px !important;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
     width:14px;
}
.img-previouspage:hover, .img-nextpage:hover, .img-close:hover {
   text-decoration:none;
   color:#333;
}
.img-previouspage:before {
    content: "\e079";
}
.img-close:before {
    content: "\e014";
}
.img-nextpage:before {
    content: "\e080";
}
.img-previouspage2 {
    background-image: url('../img/pageLeftArrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px !important; 
}
.img-nextpage2 {
    background-image: url('../img/pageRightArrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px !important;
}   

.img-previous-24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -840px;
}

.img-next-24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -864px;
}

.img-previous-24-disabled {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3216px;
    cursor: default !important;
}

.img-next-24-disabled {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3240px;
    cursor: default !important;
}

.img-32 {
    height: 32px !important;
}

.img-ajax-loader {
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width: 220px;
    height: 19px;
    float: left;
}

.img-image-document {
    background-image: url('../img/imagedocument24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 3px;
}

.img-select-text {
    background-image: url('../img/selecttext24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 3px;
}

.img-addrecord {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3168px;
    height: 32px;
    width: 32px;
}

.img-editrecord {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -640px;
    height: 32px;
    width: 32px;
}

.img-addfrommap {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -2304px;
    height: 32px;
    width: 32px;
}

.img-addfromKML {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -64px;
    height: 32px;
    width: 32px;
}

.img-addfromFiles {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3136px;
    height: 32px;
    width: 32px;
}

.img-downloadDictionary {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -672px;
    height: 32px;
    width: 32px;
}

.img-deleterecord {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3232px;
    height: 32px;
    width: 32px;
}

.img-deleterecord2 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -3200px;
    height: 32px;
    width: 32px;
}

.img-uploadrecord {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -768px;
    height: 32px;
    width: 32px;
}

.img-expand-center {
    background-image: url('../img/expand16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-collapse-center {
    background-image: url('../img/collapse16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-previous-16 {
    background-image: url('../img/previous16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-next-16 {
    background-image: url('../img/next16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-loading24 {
    background-image: url('../img/loading24.gif');
    background-repeat: no-repeat;
    background-position: center center;
}


.img-loading32 {
    background-image: url('../img/loading32.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
/*.img-export-excel24 {
    background-image: url('../img/export_excel24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat : no-repeat;
    background-position : center center;
}*/

.img-pen16 {
    background-image: url('../img/pen16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-visible24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3168px;
}

.img-invisible24 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -3192px;
}

.img-addactive24 {
    background-image: url('../img/addactive24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-settings32 {
    background-image: url('../img/32.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -160px;
}

.img-suggestion-0 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -312px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.img-suggestion-1 {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -336px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.img-suggestion-2 {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.img-search-kw {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -312px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
}

.img-search-content {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center -336px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
}

.img-search-fulltext {
    background-image: url('../img/24.png?v=[=c.Client.Request.GetVersionCode()]') !important;
    background-repeat: no-repeat;
    background-position: center 0px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
}

/*#endregion*/

/*#region DocViewer*/

.img-left24 {
    background-image: url('../img/left24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-right24 {
    background-image: url('../img/right24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-up24 {
    background-image: url('../img/up24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-down24 {
    background-image: url('../img/down24.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
}

.img-not12 {
    background-image: url('../img/not12.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    margin-left: -12px;
    margin-top: 12px;
    width: 12px;
    height: 12px;
}

.img-check8 {
    background-image: url('../img/selected8.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    margin-left: -8px;
    margin-top: 8px;
    width: 8px;
    height: 8px;
}

.img-check12 {
    background-image: url('../img/selected12.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    margin-left: -12px;
    margin-top: 12px;
    width: 12px;
    height: 12px;
}



/*#endregion*/

.divImageLoading {
    margin-left: 10px;
}

.divParentContent {
    margin-bottom: 4px;
    margin-left: 10px;
}

/*#region EmailViewer*/
.container-fluid-eMail {
    height: 43px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.container-fluid-eMail-content {
    padding-left: 5px;
    padding-right: 5px;
}

.container-fluid-eMail .navbar-collapse {
    padding-top: 5px !important;
}

.eMailRow {
    margin-left: 0px;
    margin-right: 0px;
}
/*#endregion*/
.panel-title a, .panel-title a:hover, .panel-title a:focus, .panel-title a:visited {
    text-decoration: none !important;
}
/*#region scrollbars*/

body, div {
    scrollbar-face-color: #fff;
    scrollbar-shadow-color: #ccc;
    scrollbar-highlight-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-darkshadow-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #666;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    /*background: #c0c0c0;*/
    border: 1px solid #AAA;
    border-radius: 44px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #808080;
    }

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 42px;
}

    ::-webkit-scrollbar-track:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-track:active {
        background: #ffffff;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}
/*#endregion*/

.navbar {
    border-radius: 0px !important;
}

.navbar-default {
    /*background-color: #FFFAFA !important;*/
}

/*.panel-heading {
    background-color: #FFFAFA !important;
}*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
   cursor: default;
}
.non-scrollable {
    overflow: hidden;
}

.scrollable-content {
    overflow: auto;
    height: 220px;
    -webkit-overflow-scrolling: touch;
}

.padding-left {
    margin-left: 7px;
}


/*Mobil Arayüz Uyumluluğu*/
.navbar {
    /*height: 44px;-ÖB*/
    color: #444 !important;
}

    .navbar div {
        /*margin-top: -4px !important;-ÖB*/;
    }

.navbar-brand {
    margin-top: 5px;
    color: #444 !important;
    font-size: 17px !important;
    /*margin-left: -13px;-ÖB*/
}

.navbar-buttons {
    padding-top: 12px;
}

    .navbar-buttons a:hover {
        text-decoration: none !important;
    }

    .navbar-buttons a:focus {
        text-decoration: none !important;
    }

.fav-color {
    color: deepskyblue;
}

.panel-title > a {
    color: #A9A9A9 !important;
}

.panel-primary .panel-title > a {
    color: white !important;
}

.img-deleteLabel {
    padding-left: 12px;
    height: 12px;
    width: 12px;
    padding-top: 2px;
    vertical-align: middle;
    display: inline-block;
}

#ulLabelList li:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

#ulLabelList .btn {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

#ulLabelList p {
    line-height: 1;
    margin-bottom: 2px;
    word-break: break-word;
}


.smooth_zoom_preloader {
    background-image: url(../js/imageViewer/preloader.gif) !important;
}

.smooth_zoom_icons {
    background-image: url(../js/imageViewer/icons.png) !important;
}




.inLabelNotes {
    overflow: auto;
    opacity: 0;
    position: relative;
    transition: all .5s ease-in-out;

    /*border: 1px solid #ccc;
    border-radius: 4px;*/
    line-height: normal;

    margin-right: 5px;
    margin-bottom: 5px;    
}


.labelDialog { display:table;}

@media(min-width:600px) {
    .inLabelNotes {
        float: left;
        width: 0px;
        height: 200px;
        max-width: 150px;
        padding-right: 2px;        
    }
    .inLabelNotesModal .inEditableArea{max-width: calc(100% - 155px);}
    .inLabelNotesModal:after { content:'';clear:both; display:block;} 
        .inLabelNotes .list-group {
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .inLabelNotes .list-group-item {
            border: none;
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .inLabelNotes.fadein {
            width: 100%;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
}
@media(max-width:600px) {
  .inLabelNotes {
        float: left;
        width: 100%;
        height: 0px;
        max-height: 150px;
        padding-bottom: 2px;
        
    }
        .inLabelNotes .list-group {
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .inLabelNotes .list-group-item {
            border: none;
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .inLabelNotes.fadein {
            height: 100%;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
}
.inLabelNoteItem {
    line-height:25px !important; 
    cursor:pointer !important;
    background-color: #FFF !important;
    color: #5a5a5a !important;
    
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
}


#mapLayerSelArea {
    padding:1px;
    max-width:364px;
    box-shadow: none;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px !important;
}

#mapLayerSelArea button {
    background-color:transparent;
    border-color:transparent;
    width:86px;
    height:86px;
    padding:1px;
}
#mapLayerSelArea img {
    max-width:80px;
    max-height:80px;
}
#mapLayerSelArea .map-layer-sel span {
    display:none;
}
#mapLayerSelArea .map-layer-sel {
    padding:2px;
}
#mapLayerSelArea .active  button{
    background-color:#066cd2;
}
#mapLayerSelArea .active .img-default{
    filter: brightness(0) invert(1);
}

#dfMapBtnGrp .img-default {
  height: 1.375em;
  width: 1.375em;
}
     
.MapOverPanel {
    border-radius:6px;
    border:1px solid rgba(255, 255, 255,0.4);
    color:#fff;
    background-color:rgba(121, 121, 121,0.4);
    padding:6px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0) 
}

 .ForcedHover {
            background-color: #ddd !important;
}

.ActiveHoverable .ForcedHover {
            background-color: #ffd800 !important;
}

.LiteCheckbox label {
    font-weight:normal;
    margin:0px;
    padding-left:0px;
}



.LiteCheckbox .checkbox {
    display:inline;
}
/*info*/
.iblock {
    display:inline-block;
}
.ipnl {
    padding-bottom:8px;
}
.isplit {
    background-image: url('../img/16.png?v=[=c.Client.Request.GetVersionCode()]');
    background-repeat: no-repeat;
    background-position: center -576px;
    width:16px;
    height:16px;
    display:inline-block;
    margin: 0px 4px;
    vertical-align: middle;
}
.isummary .isplit {
    background-image: none;
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 3px;
    margin: 2px 4px;
   
}
 
/*cr icon*/
.LiteCheckbox .checkbox label:after, 
.LiteCheckbox .radio label:after {
    content: '';
    display: table;
    clear: both;
}

.LiteCheckbox .checkbox .cr,
.LiteCheckbox .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    margin-top: 3px;
}

.LiteCheckbox .radio .cr {
    border-radius: 50%;
}

.LiteCheckbox .checkbox .cr .cr-icon,
.LiteCheckbox .radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.LiteCheckbox .radio .cr .cr-icon {
    margin-left: 0.04em;
}

.LiteCheckbox .checkbox label input[type="checkbox"],
.LiteCheckbox .radio label input[type="radio"] {
    display: none;
}

.LiteCheckbox .checkbox label input[type="checkbox"] + .cr > .cr-icon,
.LiteCheckbox .radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.LiteCheckbox .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.LiteCheckbox .radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.LiteCheckbox .checkbox label input[type="checkbox"]:disabled + .cr,
.LiteCheckbox .radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  max-height:400px;
  width:100%;
}
.fixed_header thead tr{
  display:block;
  overflow: hidden;
}
#_mapcontextMenu {
    right: auto;
}

.loadingTextData {
    padding:20px;
}