/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.sidebar-contaniner {
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-contaniner.toggled {
    padding-left: 250px;
}
.sidebar-large.toggled {
    padding-left: 300px;
}

.sidebar-wrapper {
    z-index: 950;
    position: fixed;
    left: 230px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar-large .sidebar-wrapper {
    left: 280px;
    margin-left: -300px;
}

.sidebar-contaniner.toggled .sidebar-wrapper {
    width: 250px;
    left: 250px;
}

.sidebar-large.toggled .sidebar-wrapper {
    width: 300px;
    left: 300px;
}


.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all 0.3s ease;
}

.sidebar-contaniner.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-large.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}
@media(min-width:768px) {
    .sidebar-large.toggled .page-content-wrapper {
        padding-right:300px !important;
    }
    
}
/* Sidebar Styles */

/*

@media(min-width:768px) {
    .sidebar-contaniner {
        padding-left: 250px;
    }
    .sidebar-large {
        padding-left: 300px;
    }

    .sidebar-contaniner.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
        width: 250px;
        left:250px;
    }
    .sidebar-large .sidebar-wrapper
    {
        width: 300px;
        left: 300px;
    }
    .sidebar-contaniner.toggled .sidebar-wrapper {
        width: 0;
        left: 230px;
    }

    .sidebar-large.toggled .sidebar-wrapper {
        width: 0;
        left: 280px;
    }

    .page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    .sidebar-contaniner.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
    */