@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.mn-Left-panel {
    position: absolute;
    box-sizing: content-box;
    height: 100%;
    left: 50px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;

}


    .mn-Left-panel-in {
        background-color: #f8f8f8;
        height: 100%;
        margin: 0px;
        padding: 5px;
        padding-right: 10px;
    }

.mn-left-panel-content {
    height: 100%;
    border: 0;
    background-color: white;
}

.mn-hide-full {
    display: block;
    background-color: #f8f8f8;
    cursor: pointer;
    margin-left: -8px;
    margin-top: 2px;
    border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
}

.mn-hide-ico {
    display: block;
    background-color: #f8f8f8;
    height: 30px;
    width: 22px;
    background-image: url('../img/leftHide16.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.mn-hide-resize {
    display: block;
    background-color: #f8f8f8;
    height: 30px;
    width: 22px;
    background-image: url('../img/maximise16.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.mn-hide-maximize {
    display: block;
    background-color: #f8f8f8;
    height: 30px;
    width: 22px;
    background-image: url('../img/openwindow16.png');
    background-repeat: no-repeat;
    background-position: center center;
}


.win-left-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

    .win-left-menu li {
        float: left;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
    }

    .win-left-menu a, .win-left-menu a:visited, .win-left-menu a:hover {
        height: 80px;
        width: 80px;
        text-decoration: none;
    }

    .win-left-menu .text, .win-left-menu .ico {
        display: block;
        color: #fff;
        height: 80px;
        width: 80px;
    }

    .win-left-menu .item {
        background-color: #5bb2fc;
    }

    .win-left-menu .danger {
        background-color: #5bb2fc;
    }

    .win-left-menu li .ico {
        text-align: center;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .win-left-menu li:hover .ico {
        -webkit-transform: rotateX(0deg) rotateY(180deg);
        -moz-transform: rotateX(0deg) rotateY(180deg);
        -ms-transform: rotateX(0deg) rotateY(180deg);
        -o-transform: rotateX(0deg) rotateY(180deg);
    }

    .win-left-menu li .text {
        position: absolute;
        margin-top: -80px;
        width: inherit;
        height: inherit;
        text-align: center;
        z-index: -1;
        -webkit-transform: rotateX(0deg) rotateY(-180deg);
        -moz-transform: rotateX(0deg) rotateY(-180deg);
        -ms-transform: rotateX(0deg) rotateY(-180deg);
        -o-transform: rotateX(0deg) rotateY(-180deg);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .win-left-menu li:hover .text {
        z-index: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg);
    }
    /*MENU*/
    .win-left-menu .logo .text,
    .win-left-menu .ico {
        background-repeat: no-repeat;
        background-position: center center;
    }

    .win-left-menu .text {
        /*font-family: Tahoma;
        font-family: 'Century Gothic';*/
        font-family: 'Open Sans', sans-serif !important;
        font-size: 20px;
        display: block;
        padding-top: 25px;
    }

    .win-left-menu .ico span {
        display: none;
    }

.win-left-menu .end {
    border-radius: 0px 0px 24px 0px;
    -moz-border-radius: 0px 0px 24px 0px;
    -webkit-border-radius: 0px 0px 24px 0px;
}

.win-left-menu .logo {
    background-color: #fff;
}


.mn-logo .text span {
    display: none;
}

.mn-logo {
    height: 80px;
    width: 80px;
}

.mn-help {
    background-image: url('../img/windowsMenu/help.png');
    background-repeat : no-repeat;
    background-position : center center;
    width:16px;
    height:16px;
    float:left;
    margin-left:5px;
}
.mn-close {
    background-image: url('../img/windowsMenu/close.png');
    background-repeat : no-repeat;
    background-position : center center;
    width:16px;
    height:16px;
    float:left;
    margin-left:2px;
}
.mn-line {
    background-image: url('../img/windowsMenu/aracizgi.png');
    background-repeat: repeat-x;
    height: 4px;
    padding-left: 9px;
    display:none;
}
.mn-top {
    height:28px;
    padding:3px;
}
.mn-logo {
    background-image: url('../img/windowsMenu/logo.png');
    background-repeat : no-repeat;
    background-position : left center;
    height: 32px;
    width: 100%;
}
.mn-query {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    background-repeat : no-repeat;
    background-position : center 0px;
    width:32px;
    height:32px;
    cursor:pointer;
}
.mn-map {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -32px;
}
.mn-kml {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -64px;
}
.mn-projects {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -96px;
}
.mn-dictionaries {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -128px;
}
.mn-setup {
    background-image: url('../img/windowsMenu/mainMenu.png?v2');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -160px;
}

.mn-test {
    background-image: url('../img/windowsMenu/test.png?v2');
    background-repeat : no-repeat;
    background-position : center center;
    width:32px;
    height:32px;
    cursor:pointer;
}
.mn-main-div {
    width:50px;
    min-height:100%;
    position:relative;
    background-color: #2b2f38;
    padding-left:2px;
    padding-right:2px;
    overflow-x:hidden;
}
.ManagerPage .mn-hide-ico {
    background-color: white;
    border-radius: 20px;
}

.ManagerPage .mn-Left-panel {
    box-sizing: border-box;
    padding: 10px;
}
.ManagerPage .mn-button-container {
    border-radius:5px;
    background: #3491CC;
    border-top:none;
    margin-bottom: 2px;
    overflow: hidden;
    width: 47px;
}
.ManagerPage .mn-button-container:hover {
    background: #69BC56;
}
.ManagerPage .mn-Left-panel-in {
    box-shadow: 0 5px 8px -1px rgba(0,0,0,.5), 0 8px 10px 0 rgba(0,0,0,.4), 0 1px 14px 0 rgba(0,0,0,.3);
    background-color: #fff;
}

.ManagerPage .mn-main-div {
    top:60px;
    background-color: transparent;
    position:fixed;

}

.ManagerPage .mn-logo-line, .ManagerPage .mn-logo , .ManagerPage .mn-top, .ManagerPage .mn-query-line, .ManagerPage .mn-query-c
 {
    display:none;
}


.mn-button-container {
    width:200px;
    height:48px;
    vertical-align:middle;
    text-align:center;
    padding:5px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.mn-button-inner {
    padding:3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.mn-button-inner div{
    float:left;

}
.mn-main-div div {
    color:white;
}
.mn-text {
    padding-left:9px;
    padding-top:5px;
    font-size:10pt;
    color: #f8f4ea!important;
    cursor:pointer;
}
.mn-close, .mn-help {
    cursor:pointer;
}

.mn-getData {
    background-image: url('../img/windowsMenu/mainMenu.png?v3');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -352px;
}

.mn-deviceList {
    background-image: url('../img/windowsMenu/mainMenu.png?v3');
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat : no-repeat;
    background-position : center -288px;
}

html,body {
margin:0;
padding:0;
width:100%;     
height:100%;
}
