﻿<script type="dece-template" id="geodi-template">
	<div class="list-item pnl-query-item IsDoc DocALL docOpenLinkRoot DocArea dt_{{data.ContentType.split(':')[1].replace('.', '')}}"> 
			<span class="icon">
					<img src="{{ data.GetIcon() }}" />
				</span>
		<d:r visible="window.GeodiButtonsStyle!='1.0' && (!context.Options.SummaryRenderType || context.Options.SummaryRenderType=='top') ">
			{{ TemplateToHtml(window.HtmlTemplates._DefaultSummaryBottomActions, data, context) }}
		</d:r>
		<div  target="_blank" class="flexSide">
				
			<d:r visible="{{ data.PreviewHTML }} ">
			
				<div class="ThumbContentRef  leftSide" data-docid="{{data.ContentId}}">
					
					{{ data.PreviewHTML }} 
				</div>
			</d:r>
			<div class=" __textclass   rightSide ">
				<d:r visible="data.DisplayName">
					<div class="displayName"> 
						
						<span class="title">
							{{   data.DisplayName }}
						</span>
					</div>
				</d:r>
					{{ data.SummaryHTML }} 
					<d:r visible="data.AdditionalValues.Date">
						<div class="summeryDate">
							<p>{{ data.AdditionalValues.Date?moment(new Date(data.AdditionalValues.Date)).format("D MMMM YYYY"):"-" }}</p>
						</div>
					</d:r>
	
				</div>
			</div>
		</div>
	</div>
	</script>

<script>

</script>
<style>
	.DLV .ResultArea,
	.DLV .SingleArea,
	.DABody .ResultArea,
	.DABody .SingleArea,
	.ExplorerView .ResultArea,
	.ExplorerView .SingleArea {
		margin: 10px;
	}

	/* item parent*/
	#divDocAccordion {
		display: flex;
		flex-wrap: wrap;
	}

	.inDefaultPanel {
		max-width: 100% !important;
		padding-top: 16px !important;
	}

	.ExplorerView .inDefaultPanel{
		padding-top: 0px !important;
	}

	.DLV #divMain .pnl-query-item,
	.DABody #divMain .pnl-query-item,
	.ExplorerView #divMain #ViewExplorerFiles .pnl-query-item,
	#divMain #DashboardArea .pnl-query-item {
		background: #fff;
		padding: 15px;
		width: calc(25% - 35px);
		display: inline-block;
		margin: 0 15px 30px !important;
		transition: 0.3s all;
		position: relative;

	}

	.DABody #divMain .pnl-query-item {
		width: calc(50% - 35px);
	}

	.icon {
		position: absolute;
		left: 0;
		top: -10px;
		left: -10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		padding: 5px;
		background-color: #fff;
		box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, .15);
		height: 34px;
		width: 34px
	}

	.icon img {
		transform: scale(0.73);
	}
	/* item in content*/
	.flexSide {
		display: flex;
		height: 100%;

	}
	.DLV .page-content-wrapper , .DLV  div#divDocAccordion,
	.DABody .page-content-wrapper ,	.DABody div#divDocAccordion,
	.ExplorerView .page-content-wrapper, .ExplorerView div#divDocAccordion,
	#DashboardArea .page-content-wrapper, #DashboardArea div#divDocAccordion
	{
		background: #f3f5f9;
	}

	.flexSide .rightSide {
		flex: 1.7;
		display: flex;
		flex-direction: column;
	}

	.FrameMode #divMain .pnl-query-item,
	.FrameMode #divMain .panel {
		padding: 13px !important;
		overflow: hidden;
	}

	.DLV.toggledBody #divMain .pnl-query-item {
		width: calc(33.3% - 35px);

	}

	.DLV #divMain .pnl-query-item .rightSide .ThumbContentRef,
	.DABody #divMain .pnl-query-item .rightSide .ThumbContentRef,
	.ExplorerView #divMain .pnl-query-item .rightSide .ThumbContentRef,
	#divMain #DashboardArea .pnl-query-item .rightSide .ThumbContentRef {
		display: none;
	}

	.DLV #divMain .pnl-query-item .ThumbContentRef,
	.DABody #divMain .pnl-query-item .ThumbContentRef,
	.ExplorerView  #divMain .pnl-query-item .ThumbContentRef,
	#divMain #DashboardArea .pnl-query-item .ThumbContentRef{
		margin: 0 12px 0 0;
		box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .15);
		max-width: 147px;
		position: relative;
		float: none;
		display: flex;
		align-content: center;
		border: none;
	}

	.DLV #divMain .pnl-query-item .ThumbContentRef img,
	.DABody #divMain .pnl-query-item .ThumbContentRef img,
	.ExplorerView #divMain .pnl-query-item .ThumbContentRef img,
	#divMain #DashboardArea .pnl-query-item .ThumbContentRef img{
		max-width: 100%;
		max-height: none;
		align-self: center;
	}

	#divMain .pnl-query-item .__textclass .text, {
		min-height: auto;
		position: sticky;
   		top: 15px;
	}

	.text {
		max-width: 100%;
		display: block;
		word-break: break-all;
	}

	.FrameMode .page-content-wrapper,
	.FrameMode #divDocAccordion {
		background: #eee;
	}

	.DLV #divMain .pnl-query-item .SummaryText,
	.DABody #divMain .pnl-query-item .SummaryText,
	.ExplorerView #divMain .pnl-query-item .SummaryText,
	#divMain #DashboardArea .pnl-query-item .SummaryText {
		padding: 0 !important;
	}


	.displayName {
		font-size: 15px;
		font-weight: bold;
		margin: 4px 0 10px;
		position: relative;
		padding: 0;
		flex: 1;
		align-self: flex-start;
		display: flex;
		width: 96%;
	}

	.displayName span.title {
		position: relative;
		background: #c71e2e;
		color: #fff;
		padding: 3px 6px;
		border-radius: 4px;
		display: inline-block;
		word-break: break-word;
	
	}

	.flexSide .rightSide .root {
		align-self: flex-start;
		flex: 100%;
		width: 98%;
	}


	.DLV .dateFilterArea #dateComponent,
	.DABody .dateFilterArea #dateComponent,
	.ExplorerView .dateFilterArea #dateComponent {
		padding-right: 0 !important;
	}

	.toggledBody .inDefaultPanel {
		max-width: 100% !important;
	}

	.toggled .inAdvRightPanel {
		left: 1052px !important;
	}

	.summeryDate {
		font-weight: bold;
		background: #fff;
		width: 100%;
		text-align: right;
		position: relative;
		float: right;
		margin: 10px 0 0;
		align-self: flex-end;
	}

	.summeryDate:before {
		content: '';
		width: 100%;
		height: 2px;
		background: #dddddd;
		display: block;
		position: absolute;
		top: calc(50% - 0px);
		border-radius: 1px;

	}

	.summeryDate p {
		background: #fff;
		float: right;
		position: relative;
		margin: 0;
		padding: 0 0 0 9px;
	}

	@media only screen and (max-width: 1366px) {
		.DLV #divMain .pnl-query-item {
			width: calc(33.3% - 35px);
		}

		.DABody #divMain .pnl-query-item {
			width: calc(100% - 35px);
			margin: 0 0 15px;
		}

		.DLV.toggledBody #divMain .pnl-query-item,
		.ExplorerView #divMain #ViewExplorerFiles .pnl-query-item,
		#divMain #DashboardArea .pnl-query-item {
			width: calc(50% - 35px);
		}
	}

	@media only screen and (max-width: 991px) {
		.DLV #divMain .pnl-query-item {
			width: calc(50% - 35px);
		}

		.DLV.toggledBody #divMain .pnl-query-item,
		.ExplorerView #divMain #ViewExplorerFiles .pnl-query-item {
			width: calc(100% - 35px);
		}
	}

	@media only screen and (max-width: 767px) {
		.DLV #divMain .pnl-query-item,
		.ExplorerView #divMain #ViewExplorerFiles .pnl-query-item,
		#divMain #DashboardArea .pnl-query-item {
			width: calc(100% - 35px);
			margin: 0 0 15px;
		}

		.inDefaultPanel {
			padding: 10px 8px 0 0px !important
		}
	}
	@media print {
		#divMain #DashboardArea .pnl-query-item {
			width: calc(50% - 35px)
		}
	}

	.divImageLoading {
		margin-top: -100px;
	}
</style>