#mycalendar {
    bottom: 160px;
    top: 0px;
    overflow: auto;
    display: inline-block;
    position: fixed;
    width: 100%;
}

.documentConteiner {
    width: 100%;
    height: 150px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1010;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    padding: 2px;
    border-top: 1px solid #ddd;
}
.closePanel {
    border: 1px solid #999;
    border-radius: 6px;
    width: 25px;
    height: 24px;
    text-align: center;
    background-color:#fff;
    position:fixed;
    right:5px;
    z-index:2;
    opacity:1;
}
.closePanel:hover {
    opacity:1;
    background-color:#ddd !important;
}


.documentViewFrameTitle {
    height: auto;
    position: relative;
}

.defaultDlvHor {
    width: 300px !important;
    max-width: 300px !important;
}

.documentViewFrame {
    display: inline-block;
    white-space: normal;
    max-width: 250px;
    height: 100%;
    padding: 4px;
    padding-left: 8px;
    overflow: auto;
    font-size: 13px;
    font-family: arial, sans-serif;
}

    .documentViewFrame .text {
        font-size: 12px;
        line-height: 1.4;
        text-align: justify;
    }

.documentContentImage {
    max-height: 100px;
}

.divPanelTitleText {
    /*font-weight: bold;*/
    font-size: 14px;
    color: rgb(26, 13, 171);
    font-family: arial, sans-serif;
    padding-left: 10px;
    cursor: pointer;
}

.containerIcon {
    display: block;
    background-color: snow;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.list-item {
    white-space: unset;
}
