html, body {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute;
}
.mnUserName {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    display:inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.dc-search-group {
    position:relative;
}
.facetCountT, .qUpload, .saveQueryBtn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    top: 8px;
}

.saveQueryBtn {
    right: 35px;
}

.forAddLabelBtn {
    font-size: 12px;
    vertical-align: middle;
}

.norecord {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}

.tt-suggestion {
    padding: 2px 10px;
}

.tttxico {
    margin-top: 5px;
    position: absolute;
}

.ttxDelete {
    position: absolute;
    display: block;
    right: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.tttx {
    padding: 5px;
    padding-left: 30px;
    overflow: hidden !important;
    width: 100% !important;
    padding-right: 50px;
}

.tt-suggestion {
    border: none !important;
}

.twitter-typeahead {
    z-index: 5500;
    text-align: left;
}

#searchArea1 #txtSearchDefault {
    background-color: #FFF !important;
    border-color: #777;
}

#txtSearchDefault::-ms-clear {
    display: none;
}

.tt-hint {
    color: #CCC;
    background-color: transparent !important;
    width: 60% !important;
}

.twitter-typeahead .tt-suggestion {
}

    .twitter-typeahead .tt-suggestion.tt-cursor {
        color: #03739c;
        background-color: #F9F9F9;
    }

#__startScreen .tt-dropdown-menu {
    top: auto !important;
    left: auto !important;
    width: 80% !important;
    max-width: 350px;
}

#__startScreen .tt-hint {
    top: auto !important;
    left: auto !important;
}

.tt-dropdown-menu {
    overflow: auto;
    z-index: 20000 !important;
    margin-top: -1px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.searchBorder {
    border-color: #777;
}

.SearchTextBoxArea ._for {
    opacity: 0.7;
}

.SearchTextBoxArea .active {
    background-color: #fff;
    border: 1px solid #337ab7;
    opacity: 1;
}

.DocALL {
    padding-top: 5px;
    white-space: normal !important;
    border: 1px solid transparent;
}

.inDefaultPanel {
    max-width: 650px;
}

.MAP .dateFilterArea {
    position: relative;
    top: -9px;
}

.inAdvRightPanel {
    max-width: 600px;
}

.inAdvRightPanelBtn:hover,
.inAdvRightPanelBtn:focus {
    background-color: inherit;
}

.inAdvRightPanelBtn {
    line-height: 1.2 !important;
    margin-right: 5px;
    margin-bottom: 7px;
    background-clip: content-box;
    padding-left: 10px;
    background-origin: content-box !important;
    background-position-x: left !important;
}

.inAdvRightPanel .favLabel {
    display: none;
}

.inAdvRightPanel {
    position: fixed;
    left: 649px;
    border-left: 1px solid #ffce2b;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.toggled .inAdvRightPanel {
    left: 949px !important;
}

.ItemSelectedForAdvRight {
    border: 1px solid #ffce2b;
    border-right: 1px solid #FFF;
    position: relative;
}

@media(max-width:1050px) {
    .inAdvRightPanel {
        display: none !important;
    }

    .ItemSelectedForAdvRight {
        border: inherit !important;
    }
}

@media(min-width:1000px) {
    .toggled .inAdvRightPanel {
        display: none;
    }

    .toggled .ItemSelectedForAdvRight {
        border: inherit;
    }
}

@media(min-width:1350px) {
    .inAdvRightPanel {
        display: block !important;
    }

    .ItemSelectedForAdvRight {
        border: 1px solid #ffce2b !important;
        border-right: 1px solid #FFF !important;
        position: relative !important;
    }
}

.inSpanTextBlack {
    color: #333;
    display: none;
}

.menuFormControl {
    width: 80%;
    display: inline-block !important;
}

.wsSelectName {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 3px;
    white-space: nowrap;
    vertical-align: middle;
}

.dropdown-menu-balloon:before {
    position: absolute;
    top: -7px;
    right: 14px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-balloon:after {
    position: absolute;
    top: -6px;
    right: 15px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu-right {
    z-index: 50000;
}

.SummaryAll {
    font-size: 13px;
    color: #333;
    font-family: arial, sans-serif;
    /*border-bottom: 1px solid #EAEAEA;*/
    padding-left: 30px;
}

.docDetail {
    min-height: 50px;
}

.SummaryText {
    padding-bottom: 5px;
    padding-top: 10px;
}

.SummaryLinks {
    padding-bottom: 25px;
}

    .SummaryLinks button {
        margin-right: 20px;
        border: none;
    }

    .SummaryLinks .fa {
        margin-right: 20px;
        vertical-align: middle;
    }


.inLinkColor {
    color: rgb(26, 13, 171);
    font-family: arial, sans-serif;
}
.inLinkOtherVer {
    opacity:0.6;
}

.divPanelTitleText {
    /*font-weight: bold;*/
    font-size: 18px;
    color: rgb(26, 13, 171);
    font-family: arial, sans-serif;
    padding-left: 10px;
}

.headerDocRow {
    padding: 2px;
    padding-top: 3px;
    border: 1px solid transparent;
    position:relative;
}


.topbar {
    padding-right: 5px;
}

#dlvh {
    padding: 6px 0px;
}



a {
    cursor: pointer;
}

.docParentArea {
    padding-left: 35px;
}

    .docParentArea img {
        vertical-align: baseline;
    }

.docparent {
    color: #006621;
}

.imgSmallParent {
    width: 16px;
    opacity: 0.8;
}

.otherMenu li {
    display: none !important;
}

.otherMenu {
    max-height: 300px;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wsMnItem {
    display: none;
}

.wsMnItem small, .wsMnItemD small{
        max-width: 300px;
        padding-left: 30px;
        white-space: normal;
        display: block;
        padding-bottom: 5px;
}

.lastUsedws {
    padding-bottom: 0px;
    border-bottom: none;
}

.wsMnTitle {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.otherMenu .wsMnItem {
    display: block !important;
}
.otherMenu .wsMnItem.wsMnItem2, .wsMnItemD {
    display: inline-block !important;
}
.wsMnItem.wsMnItem2 small, .wsMnItemD small {
    width:inherit;
}




.recentWsItem {
    display: inline-block;
    float: left;
    height: 150px;
    width: 160px;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    white-space: normal;
}

@media(max-width:767px) {
    .recentWsItem {
        height: 120px;
        width: 120px;
        padding: 2px;
        float: none;
    }

    #lastUsedStart {
    }

    .recentWsItem small {
        display: none !important;
    }
}

#lastUsedStart {
    padding-top: 20px;
}

.recentWsItem small {
    padding-top: 10px;
    height: 50px;
    overflow: hidden;
    display: block;
    display: none;
}

.recentWsItemActive {
    cursor: default;
}
.menuMobile, .menuRoot {
    overflow-y: auto;
}
.menuMobile li {
    max-width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
}





.inLink {
    cursor: pointer;
}
/*facet*/


#facetArea .panel-body {
    padding: 2px;
}

#facetArea .panel-heading {
    padding: 5px 8px;
}

#facetArea .panel .fc-inpanel {
   padding: 0 11px 7px;
}
.facetCountR {
    position: absolute;
    right: 10px;
}

.facetCountRPBar {
    text-align: right;
    width: 80px;
    background: transparent;
    background-position: 0px 16px !important;
    background-repeat: no-repeat !important;
    padding-bottom: 1px;
}

.facetCountRPBarLarge {
    padding-bottom: 3px;
}

#facetArea ._ttl {
    max-width: 141px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    top: 5px;
}
#facetArea ._ttl_2 {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}


.facetLink {
    color: rgb(26, 13, 171);
    font-family: arial, sans-serif;
    cursor: pointer;
    margin-bottom: 1px;
    white-space: nowrap;
    border: 1px solid transparent;    
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:100%
}

.facetLinkBig {
    width: 280px;
}

.facetLinkPLine {
    padding-top: 3px;
    background-position: 0px 25px;
}

.fc-status {
    background: transparent;
    padding-bottom: 2px;
    background-position: 0px 34px !important;
    background-repeat: no-repeat !important;
}



.inSpanText {
    vertical-align: top;
    padding-top: 2px;
    display: inline-block !important;
}

@media(max-width:767px) {
    .VisibleMaxMobile {
        display: none !important;
    }
}

@media(min-width:768px) {
    .VisibleMinMobile {
        display: none;
    }
}


@media(max-width:767px) {
    .navbar .navbar-form {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
    }

    .visible-xs-inSpanText {
        vertical-align: top;
        display: inline-block !important;
    }


    .inRootMenu {
        margin-right: 0px;
        margin-top: 0px;
    }

    .navbarArea .navbar-collapse {
        margin: 0px !important;
        padding: 0px !important;
    }
}

@media(min-width:768px) {
    .navbar .navbar-form {
        width: 400px;
    }

        .navbar .navbar-form .form-control {
            width: 400px;
        }

    .visible-xs-inSpanText {
        display: none !important;
    }

    .inRootMenu {
        margin-right: 0px;
        margin-top: -10px;
    }

        .inRootMenu .list-group-item {
            background-color: transparent;
        }
}


.navbar .navbar-form {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-toggle {
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 28px;
}

.navbar {
    min-height: 28px !important;
}

.page-content-wrapper {
    padding: 0px !important;
}

.sidebar-wrapper {
    background-color: transparent !important;
}

.inRootMenu .list-group-item {
    padding-bottom: 0px !important;
    padding-top: 2px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin: 0px !important;
    border: 1px solid transparent !important;
}

    .inRootMenu .list-group-item:hover {
        background-color: #F6F6F6;
    }

    .inRootMenu .list-group-item > a {
        padding: 0px !important;
        margin: 0px !important;
    }

.inSpanIcon {
    display: inline-block;
}

.navbarArea {
    border-top: 0px;
    padding-top: 3px;
    border-right: 0px !important;
    padding-bottom: 3px;
}
/*Chart*/

.c3-chart-arc path {
    stroke: #fff;
}

.c3-chart-arc text {
    fill: #fff;
}

.c3-tooltip-container {
    background-color: rgba(100,100,100,0.5);
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
}

    .c3-tooltip-container td {
        padding: 3px;
        white-space: nowrap;
    }
/*DragDrop*/

.upload-btn {
    overflow: hidden;
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #000;
    /*cursor: pointer;*/
}

.upload-urlbtn {
    overflow: hidden;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #000;
    /*cursor: pointer;*/
}

.upload-input {
    /*font-size: 100px;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*background: #ffce2b;*/
    opacity: 0;
}

.upload-urlBox {
    height: 29px;
    width: 450px;
}

.upload-close {
    padding-right: 14px;
}

/*.upload-dragzone{
                            position: relative;
                            display: inline-block;
                            overflow: hidden;
                            box-sizing: border-box;
                            width: 100%;
                            cursor: pointer;
                            text-align: center;
                            background: #fff;
                        }
                        .upload-dragzone:hover {
                            background-color: #f5f5f5;
                        }

                        .upload-column {
                            float: left;
                            width: 300px;
                            height:50px;
                            padding: 10px;
                        }
                        .upload-columnClose {
                            float: left;
                            width: 30px;
                            padding: 10px;
                        }*/



.qUploadCtrlStyle {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    /*text-align: left;*/
    z-index: 997;
    margin-top: -2px;
    margin-left: -2px;
    padding-left: 32px !important;
    padding-right: 30px !important;
    width: 600px;
}

.qUploadCtrlStyleBack {
    padding:0px !important;
    background-color:transparent;
    pointer-events: none;
}
.qUploadCtrlStyleSub {
    background-color:#fff;
    width:100%;
    margin-top:36px;
    padding:10px;
    padding-bottom:20px;
    pointer-events: auto;
    border-radius: 4px;
}
.upload-zone {
    /*cursor: pointer;*/
    position: relative;
    /*display: inline-block;*/
    overflow: hidden;
    box-sizing: border-box;
    /*text-align: center;*/
    background-color: #fff;
    /*float: left;
                            width: 350px;
                            height:50px;*/
    /*padding: 10px;*/
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -17px;
    border-radius: 4px;
}

    .upload-zone:hover {
        background-color: #f5f5f5;
    }

.upload-zoneClose {
    /* float: left; */
    width: 30px;
    position: absolute;
    /* padding: 10px; */
    right: 15px;
    top: 8px;
}

.upload-title {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 7px;
    background: #f5f5f5;
    font-weight: bold;
    margin-left: -17px !important;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragvisible {
    padding-top: 6px;
    height: 40px;
}

.verticalsuper {
    vertical-align: super;
}

@media(max-width:660px) {
    .qUploadCtrlStyle {
        width: 300px;
    }

    .upload-urlBox {
        width: 150px;
    }
}

.hoverForDrop {
    border: 1px dashed orange;
    /*background-color: #fdfbf7;*/
    /*background-color: #ffde5f;*/
    background-color: #fce555;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ExpDgSub {
    margin-left:10px;
    padding-left:0px;
}
.ExpDgSub .inLoading {
    position:absolute;
}
.ExpMenuItem a {
    text-decoration:none;
    color:inherit;
    clear:both;
    white-space: nowrap;
    display:block;
    padding-bottom:3px;
    padding-right:5px;
    padding-top:3px;
}
.ExpMenuItemSub {
    min-height:26px;
    line-height:20px;
}
.ExpMenuItemRoot>.ExpDgSub {
padding-left:20px;
}
.ExpMenuItem {
  list-style: none;
  line-height:20px;
}
.ExpMenuItem a.hoverIn {
    background-color: #fcaa55;
}
.hoverForDrop.hoverIn {
    background-color: #fcaa55;
}

/*iframes*/

.rightDiv {
    width: 100%;
    max-height: 450px;/**/
    overflow:auto;
}
.rightTab {
    display:inline-block;
    padding:3px;
    color:#3f51b5;
    text-decoration:none;
    border-top:1px solid #ddd;
}

.rightTab .badge {
  font-size: 8px;
  margin-left: -5px;
  vertical-align: top;
  background-color:transparent !important;
  color:#333;
  border:1px solid #ddd !important;
  padding:3px 7px;
}
.forceHide {
    display:none !important;
}
.rightTabs .forAddLabelBtn {
    display: inline-block;
    margin-top:12px;
    padding-right:10px;
    
}
.rightActive .badge {
   border:1px solid #aaa !important;
}

.rightTab:hover, .rightTab:focus , .rightTab:visited {
    color:#3f51b5; 
    text-decoration:none; 
   border-top:1px solid #aaa;
}
.rightActive, .rightActive:focus, .rightActive:hover, .rightActive:visited {
   color:#ee5744;
   text-decoration:none;
   border-top:1px solid #aaa;
}


.modeBtnText {
    display:none;
}

.HasOneKwDoc {
    padding-left:10px;
}
.OneKWDoc {
    display:none;
}
.HasOneKwDocSlider {
    display:none;
}
