﻿.permArea .selectize-input {
    max-height: 100px;
    overflow: auto;
}
.permArea .selectize-dropdown-content .highlight {
    background: #00c1ff !important;
}
.permArea .close {
    padding-right:12px;
}
@media(max-width:767px) {
    .permArea .selectize-input {
        width: 400px !important;
    }
    .permArea .selectize-control.multi .selectize-input > div {
        float: left !important;
    }
}
@media(max-width:480px) {
    .permArea .selectize-input {
        width: 240px !important;
    }
    .permArea .selectize-control.multi .selectize-input > div {
        float: left !important;
    }
}
@media(min-width:768px) {
    .permArea .selectize-input {
        width: 500px !important;
    }
    .permArea .selectize-control.multi .selectize-input > div {
        float: left !important;
    }
}