﻿.sectionRect {
    border-radius: 5px;
}
.secRect {
    border: 1.5px dashed #ffffff;
    z-index: 4 !important;
}
.secRectF {
    border: 3px solid red;
    z-index: 5 !important;
}
.HighlightedRect {
    border: 3px solid #ffd800 !important;
    z-index: 10 !important;
}

.secRectF:hover {
    border: 3px solid #ffd800 !important;
}