﻿
[=/
	if(!c.HasHttpItem("RP_ProjectPerms"))
	{
		var wsPermTypes=new HashSet<dynamic>();
		foreach(var p in c.RestApi("UserManagementService","GetPermissionSet",false,"GEODIWSSettings").Permissions)
			wsPermTypes.Add(p);
		c.SetHttpItem("RP_ProjectPerms",wsPermTypes);
		var enmPermTypes=new HashSet<dynamic>();
		foreach(var p in c.RestApi("UserManagementService","GetPermissionSet",false,"WSEnumarator").Permissions)
			enmPermTypes.Add(p);
		c.SetHttpItem("RP_EnumeratorPerms",enmPermTypes);
		
		var wsFacet= new Dictionary<string,object>();
		c.SetHttpItem("RP_ProjectFacet",wsFacet);
		foreach(var ws in c.ToArray<dynamic>(c.RestApi("GeodiJSONService","getWorkspaceList",false,false),null,1000,"c.Client==null || string.IsNullOrEmpty(c.Client.Request[\"wsName\"\]) || d.Name.Equals(c.Client.Request[\"wsName\"\],StringComparison.OrdinalIgnoreCase)")) {
			var fct=ws.IsDeleting?null: ws.CreateFacet("{FillOptions:8388608,ForceGetDeletedOrOldContent:true,FastParseMode:\"EmptyQuery\"}"); /*8388608 KW counts;*/
			if(fct!=null)
				wsFacet[ws.Name\]=fct;
		}
	}
]

<dcc:panel visible='=!c.HasHttpItem("IsSendReportMode")'>
	<h1 class="page-header">[=c.AppName] Ver: [=c.AppVersion]</h1>
</dcc:panel>
	<h2>Application Settings</h2>
		<ul>
		<dcc:repeater data='c.RestApi("ApplicationSettingsService","GetSettings",false,(object)new string[]{"AllowGuestLogin","GWSGlobalPriority","SpellCheck","DisableExceptionLoging","DisableLoging","DisableChangeWindowsIdle","GMetaCryptoLevel"},true)'>
			<li><label>[=Data.Key] : </label> [=Data.Value==null?"Default":Data.Value]</li>
		</dcc:repeater>
		</ul>
<dcc:panel visible='=!c.HasHttpItem("IsSendReportMode")'>
	<dcc:ResourceControl src="Settings/Reports/Templates/SystemReports/SystemInfo.html" />
</dcc:panel>


	<h2>Can See Guest - Projects</h2>
	<ul>
		<dcc:repeater data='c.ToArray&lt;dynamic&gt;(c.RestApi("GeodiJSONService","getWorkspaceList",false,false),null,1000,"c.Client==null || string.IsNullOrEmpty(c.Client.Request[\\"wsName\\"]) || d.Name.Equals(c.Client.Request[\\"wsName\\"],StringComparison.OrdinalIgnoreCase)")'>
			<dcc:panel visible='=c.GetSetting&lt;bool&gt;("AllowGuestLogin") && ( d.Permissions==null || d.Permissions.Count==0 || d.Permissions.HasPermissionSlow("geodi:guest","GEODI.WS.VIEW"))'>
				<li>[=d.Name]</li>
			</dcc:panel>
		</dcc:repeater>
	</ul>
