﻿			( ~ [=c.GetHttpItem("GeodiStatus").TotalPercent.Percent ] % Completed ) 
			<ul>
			<li><label>Text : </label> [=c.GetHttpItem("GeodiStatus").DisplayName]</li>
			<li><label>Info Text : </label> [=c.GetHttpItem("GeodiStatus").InfoText]</li>
			<li><label>Be processed : </label> [=(c.GetHttpItem("GeodiStatus").TotalPercent.Count - c.GetHttpItem("GeodiStatus").TotalPercent.TotalValue).ToString("##,##0")]</li>
			<li><label>Processed : </label> [=c.GetHttpItem("GeodiStatus").TotalPercent.UsefulValue.ToString("##,##0")]</li>
			<li><label>Ignored : </label> [=c.GetHttpItem("GeodiStatus").TotalPercent.Value.ToString("##,##0")]</li>

			<li><label>Row : </label> [=c.GetHttpItem("GeodiStatus").TotalPercent.Counters.C4.ToString("##,##0")]</li>
			<li><label>Parsed KW : </label> [=c.GetHttpItem("GeodiStatus").TotalPercent.Counters.C1.ToString("##,##0")]</li>
			<li><label>String Size : </label> [=((long)c.GetHttpItem("GeodiStatus").TotalPercent.Counters.C2).FormatBytes()]</li>
			<li><label>File Size : </label> [=((long)c.GetHttpItem("GeodiStatus").TotalPercent.Counters.C3).FormatBytes()]</li>


			<li><label>Last Change Scan: </label> [=c.GetHttpItem("GeodiStatus").LastChangePercent]</li>
			<li><label>Last Change Error: </label> [=c.GetHttpItem("GeodiStatus").LastChangeError]</li>
			<li><label>Error Count: </label> [=c.GetHttpItem("GeodiStatus").TotalError.ErrorCount.ToString("##,##0")]</li>
			<li><label>Time: </label> [=((long)c.GetHttpItem("GeodiStatus").TotalMS).FormatMilliSecond()]</li>
			<dcc:panel visible='=c.GetHttpItem("GeodiStatus").TotalExData!=null'>
			<li><label>Ex Data</label>
				<ul>
					<dcc:repeater data='=c.OrderBy(c.GetHttpItem("GeodiStatus").TotalExData,"=d.Key")'>
						<dcc:panel visible="=d.Value!=null">
						<li><label>[=Data.Key] : </label> [=Data.Value] </li>
						</dcc:panel>
					</dcc:panel>
				
				</ul>
			</li>
			</dcc:panel>
			</ul>