﻿
			<dcc:panel visible="=!string.IsNullOrEmpty(d.Description)">
				<div class="well">[=d.Description]</div>
			</dcc:panel>
			
			<h3>Project Info</h3>
			<ul>
				<li><label>Public : </label> [=d.Permissions==null || d.Permissions.Count==0]</li>
				<li><label class='grp text-danger'>Can See Guest : </label> [=c.GetSetting<bool>("AllowGuestLogin") && ( d.Permissions==null || d.Permissions.Count==0 || d.Permissions.HasPermissionSlow("geodi:guest","GEODI.WS.VIEW"))]</li>
				<li><label>Create Date : </label> [=d.CreateDate]</li>
				<li><label>Scan Status : </label> [=d.RuningStatus]</li>
				<li><label>Project Folder Size : </label> [=((long)c["geodi"\].GetWSInfo2(d).GetWorkspaceFolderSize()).FormatBytes()]</li>
				<li><label>Project Index Folder Size : </label> [=((long)c["geodi"\].GetWSInfo2(d).GetWorkspaceIndexSize()).FormatBytes()]</li>
				<li><label>Parallel Scan Count : </label> [=d.ParallelScanStatuses.Count.ToString("#,##0")]</li>
				<dcc:panel visible='=c.HasHttpItem("RP_ProjectFacet")&& c.GetHttpItem("RP_ProjectFacet").ContainsKey(d.Name) && c.GetHttpItem("RP_ProjectFacet")[d.Name].DocForContentType!=null'>
				<li><label>Document Count : </label>	[=c.GetHttpItem("RP_ProjectFacet")[d.Name\].TotalDocument.ToString("#,##0")] content</li>
				<li><label>Deleted Count : </label>	[=c.GetHttpItem("RP_ProjectFacet")[d.Name\].TotalDeletedDocument.ToString("#,##0")] content</li>
				<li><label>Has Note Count : </label>	[=c.GetHttpItem("RP_ProjectFacet")[d.Name\].TotalHasNote.ToString("#,##0")] content</li>
				<li><label>Keyword Count : </label>	[=c.GetHttpItem("RP_ProjectFacet")[d.Name\].TotalGeodiKeyword.ToString("#,##0")] keyword</li>
				<li><label>File Types: </label>	[=string.Join(", ",c.GetHttpItem("RP_ProjectFacet")[d.Name\].DocForContentType.Keys).Replace("filecontent:","").Replace("foldercontent:","")]</li>
				</dcc:panel>
				<li><label>Last Modified Date : </label> [=d.LastModifyDate]</li>
				<li><label>Last Scan End Date : </label> [=d.WS_LastScanEndTime]</li>
				<li><label>Backup : </label> [=(d.StorageManagers!=null && c.Count(c.ToArray<object>(d.StorageManagers,null,int.MaxValue,"d.GetType().Name==\"DefaultBackupStorageManager\""))>0)]</li>
				<li><label>OCR : </label> [=d.Settings.OCRSettings.OCREnabled]</li>
				<li><label>FastOCR : </label> [=d.Settings.OCRSettings.FastOCR]</li>
				<li><label>TextPro : </label> [=d.Settings.GetGenericSetting<bool>("TextProUnsCls_Enable",false)]</li>
				<li><label>FacePro : </label> [=d.Settings.GetGenericSetting<bool>("FaceDetect_Enable",false)]</li>
				<li><label>Auto Scan : </label> [=d.Settings.GetGenericSetting<bool>("Schedule:Enabled:Scan",false)]</li>
				
				
				
				<li><label>Current Scaning Status :</label> [=d.RuningStatus] 
				<dcc:panel visible="=d.TotalStatus!=null && d.TotalStatus.GetStatusItem()!=null">
					[=/
						d.TotalStatus.Update();
						c.SetHttpItem("GeodiStatus",d.TotalStatus)
					]
					<dcc:ResourceControl src="Settings/Reports/Templates/GEODI/GEODIScanInfo.html" />
				</dcc:Panel>
				
				</li>
				
				<li><label>Parallel Scaning Count : [=d.ParallelScanTotalStatuses.Count.ToString("##,##0")]</label>
				<dcc:panel visible="=d.ParallelScanTotalStatuses.Count&gt;0">
					<ul>
						<dcc:repeater data="=d.ParallelScanTotalStatuses">
						<li><label>[=d.StatusName]</label>
						[=/
							d.Update();
							c.SetHttpItem("GeodiStatus",d)
						]
						<dcc:ResourceControl src="Settings/Reports/Templates/GEODI/GEODIScanInfo.html" />
						</li>
						</dcc:repeater>
					</ul>
				</dcc:Panel>
				</li>
				
			</ul>
			
			
			
			<h3>Enumerators</h3>
				<ul>
					<dcc:repeater data='d.ContentReaderEnumarators'>
					<li class='rp-tooltip'><dcc:image visible='=!c.HasHttpItem("IsSendReportMode")' src='=c["image"].GetIcoStream(d.IconName)' format='png'  maxsize='24' att_class='inIco' /> [=d.DisplayName]
						<dcc:panel visible='=c.HasHttpItem("RP_ProjectFacet")&& c.GetHttpItem("RP_ProjectFacet").ContainsKey(c.Parent.Name) && c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name].DocForEnumarator!=null && c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name].DocForEnumarator.ContainsKey(d.ItemHashCode.ToString())'>
							<small>( [=c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name\].DocForEnumarator[d.ItemHashCode.ToString()\].ToString("#,##0") ] content )</small>
						</dcc:panel>
						<div class="panel panel-default rp-tooltiptext">
						<div class="panel-heading">[=d.DisplayName]</div>
						<div class="panel-body">
							<dcc:panel visible="=!string.IsNullOrEmpty(d.Description)">
								<dl>[=d.Description]</dl>
							</dcc:panel>
							<label>ID : </label> [=Data.ID]<br>
							<label>Public : </label> [=(d.Permissions==null || d.Permissions.Count==0) && (c.Parent.Permissions==null || c.Parent.Permissions.Count==0)]<br>
							<label class='grp text-danger'>Can See Guest : </label> [=c.GetSetting<bool>("AllowGuestLogin") && (d.Permissions==null || d.Permissions.Count==0 ||  d.Permissions.HasPermissionSlow("geodi:guest","GEODI.ENUMERATOR_READ")) && (c.Parent.Permissions==null || c.Parent.Permissions.Count==0 ||  c.Parent.Permissions.HasPermissionSlow("geodi:guest","GEODI.WS.VIEW"))]<br>
							<label>Read LDAP Permissions : </label> [=c.MacroRunTry<bool>("d.SupportLPADPermisssions")]<br>
							<label>Feed From Browser : </label> [=c.MacroRunTry<bool>("d.SupportFolderFeed")]<br>
							<label>Feed Filter : </label> [=d.FeedFilter!=null?string.Join(", ",d.FeedFilter):""]<br>
							<label>Backup : </label> [=d.GetGenericSetting<bool>("EnableBackup",false)]<br>
							<label>OCR : </label> [=d.GetGenericSetting<bool>("EnableOCR",false)]<br>
							<label>TextPro : </label> [=d.GetGenericSetting<bool>("TextProUnsCls_Enable",false)]<br>
							<label>FacePro : </label> [=d.GetGenericSetting<bool>("FaceDetect_Enable",false)]<br>
							<label>Auto Scan : </label> [=d.GetGenericSetting<bool>("Schedule:Enabled:Scan",false)]
						</div>
						</div>
					</li>
					</dcc:repeater>
				</ul>
				
			<h3>Layers</h3>
			<ul>
				<dcc:repeater data='d.Layers'>
				<li class='rp-tooltip'><dcc:image visible='=!c.HasHttpItem("IsSendReportMode")' src='=c["image"].GetIcoStream(d.IconName)' format='png'  maxsize='24' att_class='inIco' /> [=d.DisplayName] 
				<dcc:panel visible='=c.HasHttpItem("RP_ProjectFacet")&& c.GetHttpItem("RP_ProjectFacet").ContainsKey(c.Parent.Name) && c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name].DocForRecongizer!=null && c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name].DocForRecongizer.ContainsKey(d.ItemHashCode.ToString())'>
						<small class=text-muted>( 
							[=c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name\].DocForRecongizer[d.ItemHashCode.ToString()\].ToString("#,##0") ]  content, 
							[=c.GetHttpItem("RP_ProjectFacet")[c.Parent.Name\].KWForRecongizer[d.ItemHashCode.ToString()\].ToString("#,##0") ]  keyword
							) </small>
				</dcc:panel>
				
				<div class="panel panel-default rp-tooltiptext">
					<div class="panel-heading">[=d.DisplayName]</div>
					<div class="panel-body">
					<dcc:panel visible="=!string.IsNullOrEmpty(d.Description)">
											<dl>[=d.Description]</dl>
										</dcc:panel>
										<label>ID : </label> [=Data.ID]
					</div>
				</div>

					
				</li>
				</dcc:repeater>
			</ul>
			
			
			<h3>Project Permissions</h3>
			
			<dcc:panel visible='=c.GetSetting&lt;bool&gt;("AllowGuestLogin") && (  d.Permissions==null || d.Permissions.Count==0 || d.Permissions.HasPermissionSlow("geodi:guest","GEODI.WS.VIEW"))'>
					<span class='grp text-danger' style="font-size:16px;">Can See Guest</span>
			</dcc:panel>
				
			<dcc:panel vibile="=d.Permissions!=null">
					<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Group</th>
							<dcc:repeater data='c.GetHttpItem("RP_ProjectPerms")'>
							<th>[=Data.DisplayName]</th>
							</dcc:repeater>
						</tr>
						<dcc:repeater data='d.Permissions'>
						<tr>
							<td>[=d.GetSystemGroupDisplayName()]</td>
							<dcc:repeater data='c.GetHttpItem("RP_ProjectPerms")'>
								<td>
								[=c.Parent.HasPermission(Data.ID)?"✓":" "]
								</td>
							</dcc:repeater>
						</tr>
						</dcc:repeater>
					</table>
					</div>
			</dcc:panel>
			
			
			
			<h3>Enumerator Permissions</h3>
			
			<dcc:SwitchCasePanel switch='c.Count(c.ToArray&lt;object&gt;(d.ContentReaderEnumarators,null,int.MaxValue,"d.Permissions!=null && d.Permissions.Count &gt; 0"))==0'>
				<dcc:panel name="Case_True">
					<ul><li class='text-danger'>Public</li></ul>
				</dcc:panel>
				<dcc:panel name="Case_False">
					<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Enumerator</th>
						<dcc:repeater data='c.GetHttpItem("RP_EnumeratorPerms")'>
						<th>[=Data.DisplayName]</th>
						</dcc:repeater>
					</tr>
					<dcc:repeater data='d.ContentReaderEnumarators'>
					<tr>
						<td><span class="grp"><dcc:image visible='=!c.HasHttpItem("IsSendReportMode")' src='=c["image"].GetIcoStream(d.IconName)' format='png'  maxsize='24' att_class='inIco' /> [=d.DisplayName]</span>
						
						[=c.GetSetting<bool>("AllowGuestLogin") && (d.Permissions==null || d.Permissions.Count==0 || d.Permissions.HasPermissionSlow("geodi:guest","GEODI.ENUMERATOR_READ")) && (c.Parent.Permissions==null || c.Parent.Permissions.Count==0 || c.Parent.Permissions.HasPermissionSlow("geodi:guest","GEODI.WS.VIEW"))?"<br><span class='grp text-danger'>Can See Guest</span>":""]
						
						</td>
						<dcc:repeater data='c.GetHttpItem("RP_EnumeratorPerms")'>
							<td>
							<dcc:panel visible="c.Parent.Permissions!=null">
								[=string.Join(", ",c.ToArray<string>(c.Parent.Permissions,"string.Concat(\"<span class=grp>\",d.GetSystemGroupDisplayName(),\"</span>\")",100,"d.HasPermission(\""+Data.ID+"\")"))]
							</dcc:panel>
							</td>
						</dcc:repeater>
					</tr>
					</dcc:repeater>
				</table>
				</div>
				</dcc:panel>
			</dcc:SwitchCasePanel>
			<h3>Index File Sizes</h3>
<div class="table-responsive">
		<table class="table table-striped">
					<thead>
					  <tr>
						<th>Drive</th>
						<th>File</th>
						<th>Size(byte)</th>
						<th>Size</th>
					  </tr>
					</thead>
					
					<dcc:repeater data='=c.OrderByDesc(c["geodi"].GetWSInfo2(d).GetIndexFileSizes(),"=Data.Size")'>
					<tr>
						<td>[=Data.Drive!=null?Data.Drive.Name:null]</td>
						<td title="[=Data.FullPath]">[=System.IO.Path.GetFileName(Data.FullPath)]</td>
						<td align="right">[=((long)Data.Size).ToString("#,##0")]</td>
						<td align="right">[=((long)Data.Size).FormatBytes()]</td>
						
					</tr>
				</dcc:repeater>
				
			</table>
</div>
	