﻿<?xml version="1.0" encoding="utf-8" ?>

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>GEODI</ShortName>
  <Description>
      [=c.ResolveUrl("~/")]
  </Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="64" height="64" type="image/x-icon">[=c.ResolveUrl("~/GUI/favicon.ico?v1")]</Image>
  <Url type="text/html" method="get" template="[=c.ResolveUrl("~/?q={searchTerms}")]"/>
</OpenSearchDescription>