﻿<dcc:IncludeCssResource src="~/GUI/Custom/ES/Template/Template4/Default.css" AfterTheme="True" />
<dcc:IncludeScriptResource src="~/GUI/js/Tools/masonry.pkgd.min.js" />

<script>
window.SummaryInfoHtmlSplitChar="";
</script>

<script>

function InitMasonry() {
		if (window._MoreLinkRow) {
			window.__Mns_MoreLinkRow = window._MoreLinkRow;
			window._MoreLinkRow = function (a, b) {
				window.__Mns_MoreLinkRow(a, b);
				if (window.mn1)
					window.mn1.masonry("resize");
			}
		}
		$(".inDefaultPanel").each(function(){
			if (!$(this).find(".pnl-query-item").attr("m_added")){
				$(this).masonry({
					percentPosition: true,
					itemSelector: '.pnl-query-item',
					gutter:0
				});	
			}
			else
				$(this).masonry("appended", $(this).find(".pnl-query-item").not("[m_added=1]"));

			$(this).find(".pnl-query-item").attr("m_added", "1");
		})	
	}

	$(document.body).on("GUI_DLVOnEndRender", InitMasonry)
		.on("GUI_ViewChanged", function () {
			if (window.mn1)
				try { window.mn1.masonry("destroy"); } catch (ex) { }
			window.mn1 = null;
		})
	$(document).on("click", ".navbar-brand", function () {
		setTimeout(function () { window.mn1.masonry("resize"); }, 250);
	})


function GetItemCountFor(tab) {
	var area=$(window).width()*$(window).height();
	switch(tab) {
		case "DLV":  var rtn= (area/(390*250)); rtn=Math.floor(rtn); if(rtn<12) rtn=12; return rtn;
        case "KLV":  var rtn= (area/(390*55)); rtn=Math.floor(rtn); if(rtn<12) rtn=12; return rtn;
    }
}

</script>