﻿.ESBody.DLV .ResultArea {
	margin-left: 10px;
}
.ESBody.DLV.toggledBody .ResultArea {
	margin-left: 15px;
}
.headerDocRow, .docDetail {
  padding: 0 20px;
}
.inDefaultPanel {
	max-width: 60% !important;
	width: 60% !important;
	display: inline-block;
	padding: 0 !important;
}
.DABody .inDefaultPanel {
	max-width: 100% !important;
	width: 100% !important;
}
#divKwAccordion {
	max-width: 100% !important;
	width: 100% !important;
}
.inDefaultPanel .pnl-query-item {
	margin: 0 0 10px 0 !important;
	float: left;
	width: 48%;
	transition: none !important;
	border-left-width: 5px;
    border-radius: 0 4px 4px 0;
	padding: 0;
}
.pnl-query-item {
	border: 1px solid #eceff3;
	margin: 5px !important;
	box-shadow: none;
}
.pnl-query-item:hover .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item:hover {
	box-shadow: none;
}

.pnl-query-item.ItemSelectedForAdvRight {
	box-shadow: none;
	border: 1px solid #258ffb !important;
	border-left-width: 5px !important;
}
.pnl-query-item.ItemSelectedForAdvRight .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item .divPanelTitleText .inLink {
    color: #258FFB;
}
.pnl-query-item .SummaryAll {
	font-size: 14px;
	padding: 0;
}
.pnl-query-item .SummaryText {
    padding: 5px 15px 10px 15px;
    line-height: 1.7em;
    color: #616164;
    margin: 0;
    float: left;
    width: 100%;
}
/* html yüklenene kadar script hesaplaması için */
.ThumbContentRef {
	height:160px;
	width: 160px;
	text-align: center;
}
.pnl-query-item .docDetail .ThumbContentRef img {
	max-width: 150px;
	max-height: 150px;
}
/** **/
.pnl-query-item .headerDocRow {
	position: relative;
    padding: 15px 36px 15px 70px;
    min-height: 62px;
}
.pnl-query-item .headerDocRow .imgContainer {
	background: #f7f8fa;
    position: absolute !important;
    top: 15px;
    left: 15px;
    padding: 9px;
    text-align: center;
    width: 42px;
    height: 42px !important;
    border-radius: 4px;
}
.docParentArea {
	padding-left: 0;
}
.pnl-query-item .headerDocRow .docParentArea .inLink, .pnl-query-item .headerDocRow small, .pnl-query-item .headerDocRow .docParentArea small[title=Sahip] {
    font-size: 12px !important;
	margin-right: 5px;
}
.pnl-query-item .headerDocRow .docParentArea .inLink:before, .pnl-query-item .headerDocRow small:before {
    content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 4px 1px 0;
	border-radius: 3px;
	background-color: #ffab2b;
}
/** **/
.inAdvRightPanel {
    left: 60% !important;
	padding: 20px 25px;
	margin-top: 0;
	border: 1px solid #aed0f3;
	border-radius: 4px;
	box-shadow: none;
}
	.toggled .inAdvRightPanel {
		margin-left: 120px;
		left: 60% !important;
	}
.rightActive h4, .rightActive:focus h4, .rightActive:hover h4, .rightActive:visited h4 {
	color: #258ffb;
}
.rightActive, .rightActive:focus, .rightActive:hover, .rightActive:visited {
	color: #258ffb;
}
.rightTabs a.rightActive .badge {
	background: #258ffb !important;
	color: #fff !important;
    border-color: transparent !important;
}
.rightTabs a.rightTabLinked {
	background: #258ffb;
}
#divMain .ItemSelectedForAdvRight:before {
	display: none;	
}
.inAdvRightPanel h3 {
	position: absolute;
    top: 0;
    left: 0;
    padding: 14px 15px 14px 50px;
	margin-top: 0;
    color: #fff;
	font-size: 18px;
	height: 46px;
	width: 100%;
	max-width: initial;
	border-radius: 4px 4px 0 0;
	background: #258ffb;
}
.inAdvRightPanel h3 img {
	position: absolute;
	left: 10px;
    top: 10px;
	width: 26px;
	border-radius: 3px;
	background: #fff;
}
.inAdvRightPanel h3 .inLink {
	display: block;
	color: #fff;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.inAdvRightPanel .SummaryLinksRight {
	margin-top: 36px;
    padding-left: 0;
}
.pnl-query-item .divPanelTitleText {
	margin-bottom: 10px;
	width: 100%;
    color: #A8A9AD;
    padding: 0px;
}
.rightTabs a .badge {
	font-family: Arial;
	font-size: 11px;
    color: #fff !important;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 0;
    border-color: transparent !important;
    background: #A8A9AD !important;
}
.rightTabs a.rightTabLinked {
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
    margin-top: 9px;
    line-height: 24px;
    height: 24px;
    border-radius: 4px;
	background: #258ffb;
}
/* propGrid */
.root {
	overflow-x: auto;
}
.__textclass .propGrid {
	display: table;
	width: 100%;
	min-width: 220px;
	margin: 0px;
}
.__textclass .propGrid .pgRow {
	display: table-row;
}
.__textclass .propGrid .pgCol {
	min-width: 30%;
	max-width: 30%;
	white-space: normal;
	word-break: break-word;
}
.__textclass .propGrid .pgVal {
	width: 60%;
}
.__textclass .propGrid .pgVal, .__textclass .propGrid .pgCol {
	padding: 3px 5px;
}
/** Responsive **/
@media (max-width: 991px) {
	.inDefaultPanel {
	    max-width: 100% !important;
		width: 100% !important;
	}

	.toggled .inDefaultPanel .pnl-query-item,
	.DABody .inDefaultPanel .pnl-query-item {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.inDefaultPanel .pnl-query-item {
		width: 100%;
	}
}
@media print{
	.pnl-query-item .docDetail .ThumbContentRef img {
		max-width: 150px !important;
		max-height: 150px !important
	}
	.inDefaultPanel .pnl-query-item {
		margin: 0 !important;
		float: left !important;
		width: 50% !important;
		transition: none !important;
		padding: 0 !important;
		transform: unset !important;
		position: unset !important;
		left: unset !important;
		top: unset !important
	}
}