﻿<dcc:Panel visible='=c["geodi"].HasPredefinedFacetQuery()'>

	<dcc:Panel visible='=c["geodi"].HasPredefinedFacetQuery(true)'>
		<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/Forms/angular.min.js" />
		<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/Forms/dynamic-forms.js" />
		<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceTemplateFiller.js" />
		<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/dynamic-forms-default.css" />
		
	</dcc:Panel>
	
	<script>
	function AddFacetQueryTemplate(obj,dom) {
			var item = $(dom);
			 var query=item.data();
			 
			 if(query.Template && query.Template.indexOf("%%")!=-1) {
				var allfield = TemplateFillerFormatParse(query.Template);
				showMessage("<div id=facetTemplateQueryForm></div>",query.DisplayName,null,null,null,true,
						function(p1,p2) {
							if(p1=="ok") {
									  var jsForm = $("#facetTemplateQueryForm .frmData").text();
									  var dataobj={};
										if (jsForm && jsForm.length > 0) {
											dataobj = JSON.parse(jsForm);
											
										}
									var newQueryVal = allfield.ToString(dataobj);
									query.LastQ=newQueryVal;
									window.GeodiFacet.AddorRemove(obj,dom)
								}
						},
						function() {
				
					generateDynamicForm(
                                    {
                                        controllerId: query.ID,
                                        targetDom: "#facetTemplateQueryForm",
                                        elements: allfield.fields,
                                        /*formDataGetter: valuesGetter,
                                        elementsUpdater: function (formData, controllerId) {
                                            return reformFormForMacroEdit(formData, controllerId, valuesGetter, "macro")
                                        },*/
                                        isQuery: true,
                                        disableRangeFieldCreate: true
                                    });
									}
				);
				
			 }
			 else {
				query.LastQ=query.Template;
				window.GeodiFacet.AddorRemove(obj,dom)
			 
			 }
			 
		
	}
	
	$(function() {
    var facetPredefinedQueries = {
        Name: "typeFacetP",
		Target:window.GeodiFacet.Helpers.CreatePanel({ id: "customFP" + "typeFacetP", priorty: 40, clear: false, chart: false, style: "padding-bottom: 15px;", header: { html: $("<span/>", { class: "queryListTitle", html: "[$query:predefined_queries/js]" }) }, visibleEmptyBtn: true }),
        Render: function (params, pThis) {

            var fThis = this;
            var getLinkProperties = function (query) {
                params.Name = fThis.Name;
                params.noIcon = true;
                linkProperties = new GeodiFacetLink(params, pThis);
				linkProperties.icon={ src: HttpUtility.ResolveUrl("~/GUIJsonService?op=getIco&IconName=" + (query.IconName?query.IconName:"empty"), true, true) };
                delete params.noIcon;
                linkProperties.chart = true;
                linkProperties.itemid = query.ID;
                linkProperties.onclick = window.GeodiFacet.Helpers.LinkSerialize({ id: query.ID, type: params.Name });
                return linkProperties;
            };
			
			var data=[=context.RestApiJson("PredefinedQueryHandler", "GetFacetQueries")];
			
            fThis.Target.body.empty();
                for (var i = 0; i < data.length; i++) {
                    var query = data[i];
                    var linkProperties = getLinkProperties(query);
                    if (linkProperties) {
                        linkProperties.title = query.DisplayName;
                        linkProperties.html = query.DisplayName;
                        linkProperties.onclick = 'AddFacetQueryTemplate({"id":"' + query.ID + '","type":"' + fThis.Name + '"},this)';
                        var $facetLink = window.GeodiFacet.Helpers.CreateLink(linkProperties);
                        $facetLink.data(query);
                        fThis.Target.body.addItem($facetLink);
                    }

                    if (i == (data.length - 1) && data.length > 4) {

                        fThis.Target.find(".facetLink").hide();
                        fThis.Target.find(".facetLink:lt(4)").show();
                        var dm = $("<div class='facetLink forMore' forMore=1 ><a class='moreSideLink' href='javascript:void(0);'>[$default:More/js]</a></div>");
                        fThis.Target.find('.panel-body').append(dm);
                        dm.click(function () {
                                    var forMore = $(this).attr("forMore");
                                    if (forMore == 1) {
                                        fThis.Target.find(".facetLink").not(".forMore").show();
                                        $(this).attr("forMore", "0");
                                        $(this).text("[$default:close/js]");
                                    }
                                    else {
                                        fThis.Target.find(".facetLink").not(".forMore").hide();
                                        fThis.Target.find(".facetLink:not(.forMore):lt(4)").show();
                                        $(this).attr("forMore", "1");
                                        $(this).text("[$default:More/js]");
                                    }
                                });
                    }
                }


        },
		Add: function (params) {
			var item = $(params.From);
			 var query=item.data();
           var q="GQCommentFctQTemplate:("+query.DisplayName+") ("+query.LastQ+")";
				return FieldLink(q, null, false, null, null);
			 
        }
    };

    window.GeodiFacet.AddFacetItem(facetPredefinedQueries);
	});
	
	
	</script>

</dcc:Panel>