﻿/* Banner*/
.RTLCulture .toggledBody #topArea{padding-left: 0; padding-right: 300px;}
.RTLCulture .scene{left: 0; right: auto}
.RTLCulture .scene .sceneimage{left: 0; right: auto}
.RTLCulture .scene .container-scene{left: 53px}
/* facet */
.RTLCulture ul{padding: 0; }
.RTLCulture .facetCountRPBar{right: auto !important; left: 10px; text-align: left !important;}
.RTLCulture .sidebar-large .sidebar-wrapper {left: 280px;margin-right: 0;}
.RTLCulture .sidebar-wrapper {left: auto;right: 0;width: 0;}
.RTLCulture .facetCountR{position: absolute !important;left: 9px;right: auto !important;}
	.RTLCulture .navbarArea .navbar-brand {
	border-right: none;
	}
	.RTLCulture #facetArea .panel #fc_query_p_body.panel-body .facetLink {
	float: right;
	}
	.RTLCulture .navbar-form #searchArea1 .twitter-typeahead .tt-hint {
	right: 0;
	}
	.RTLCulture .navbar-form #searchArea1 span.twitter-typeahead #txtSearchDefault {
	padding: 15px 65px 15px 15px !important;
	}
	.RTLCulture .sidebar-large .sidebar-wrapper {
	border-right: inherit;
	border-left: 2px solid #FFF;
	}
	.RTLCulture #facetArea #fc_status_p_body {
	border-left: inherit !important;
	border-right: 6px solid #FD5965 !important;
	margin: -2px -5px 0px 10px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: 0px;
    border-top-left-radius: inherit;
    border-top-right-radius: 0px;
	}
	.RTLCulture #facetArea .img-default {
	margin-right: inherit;
	margin-left: 10px;
	}
	.RTLCulture #facetArea .showFacetEmptyItemBtn {
	right: inherit;
    left: 34px;
	}
	.RTLCulture #facetArea .checkbox .cr, .radio .cr {
	margin: 0px 0px 0px 5px;
	float: right;
	}
	.RTLCulture .radio label, .checkbox label {
	padding-right: inherit;
	}
	.RTLCulture #facetArea .checkboxGroup .checkboxGroupExpand {
	margin: 0px 0px 0px 3px;
	}
	.RTLCulture #facetArea .panel .panel-body .facetLink.facetLinkPLine.checkboxGroup {
	padding: 6px 25px 6px 0px;
	}
	.RTLCulture .facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){
	padding-left: inherit !important;
	padding-right: 44px !important;
	}
	.RTLCulture #facetArea .panel .panel-body .facetLink.facetSubItem {
	padding-left: inherit !important;
    padding-right: 38px;
	}
	.RTLCulture #facetArea .panel .panel-body .facetLink.checkboxGroup:hover {
	padding-left: 0px !important;
	}
	
.RTLCulture .facetLinkPLine .img-default{margin:0 0 0 3px }
/*.RTLCulture #facetArea .panel .panel-body .facetCountRPBar{background: #17b7cb !important} */
.RTLCulture #facetArea .img-not12 {margin-top: -4px;margin-left: 0 !important;margin-right: -35px;}
.RTLCulture #facetArea .chartArea svg{direction: ltr}

.RTLCulture #facetArea .panel-heading:before {
	margin-right: inherit;
    margin-left: 10px;
}
/* içerik alanı */
.RTLCulture  .sidebar-large .sidebar-wrapper{left: auto; right: -300px !important}
.RTLCulture .toggledBody .sidebar-large .sidebar-wrapper{left: auto; right: 0 !important}
.RTLCulture .toggledBody .sidebar-large .page-content-wrapper {position: absolute;margin-right: 0; left:0;}
.RTLCulture .imgPanelTitleIcon{float: right;margin-right: 35px;}
.RTLCulture .toggled #inRightPanelForDoc{
	right: 949px;
	border-left: none !important;
	margin-right: 0px;
	margin-left: 25px;
}
.RTLCulture #inRightPanelForDoc{right: 649PX;left: 0 !important;border: none;}
.RTLCulture .SummaryLinks button , .RTLCulture .SummaryLinks span{margin-left: 17px !important;margin-right: 3px !important;}
.RTLCulture .toggled .page-content-wrapper  #inAdvRightPanel {left: 649px !important;}
.RTLCulture .list-group-item div div:first-child{float: right !important}
.RTLCulture .list-group-item div div:last-child{float: left !important}
.RTLCulture .ItemSelectedForAdvRight {border: 1px solid #ffce2b !important;border-left: 1px solid #FFF !important;position: relative !important;}
.RTLCulture #divMain .inDefaultPanel .ItemSelectedForAdvRight {position: relative !important;}
.RTLCulture #divMain .inDefaultPanel {
	padding-right: 15px !important;
    padding-left: 0px;
}
.RTLCulture .DLV .dateFilterArea #dateComponent {
	padding: 0 10px 0 10px !important;
}
.RTLCulture .expandButton {
	text-align: left;
	left: 0px;
}
.RTLCulture .expandButton + div {
	left: -2px !important;
    right: -290px !important;
}
.RTLCulture .inExpandArea .list-group-item {
	margin-left: 0;
}
.RTLCulture .divSummaryLeft {float: right;width: 32px;margin-right: 2px;}
/* Modal */
.RTLCulture .jstree-proton .jstree-icon{background-image: url(../img/32px.png) !important;}
.RTLCulture .jstree-node, .RTLCulture .jstree-children, .RTLCulture .jstree-container-ul{}

.RTLCulture #divMain .pnl-query-item .headerDocRow {
    padding: 15px 60px 15px 15px;
}
.RTLCulture #divMain .headerDocRow div div:first-child {
	left: inherit;
    right: 15px;
}
.RTLCulture .FrameMode #divMain .pnl-query-item .headerDocRow .divPanelTitleText {}
.RTLCulture .FrameMode #divMain .pnl-query-item .headerDocRow .docParentArea{
}
.RTLCulture  .headerDocRow div div {float: right;}
/* Header */
.RTLCulture #searchArea1 #txtSearchDefault{text-align: right;}
.RTLCulture .toggledBody .navbarArea {
	padding-left: 0 !important;
	padding-right: 300px !important;
	margin-left: 0px !important;
}

.RTLCulture .navbarArea{padding-left: 0; padding-right: 0;}
.RTLCulture .inDefaultPanel .headerDocRow div img {left: auto;right: 50%;position: relative;margin-left: 0;margin-right: -12px;}
.RTLCulture .navbarArea .navbar-right {
    right: inherit;
    left: 0px;
	margin-left: 0px;
}
.RTLCulture .navbar-form {
	padding: 10px 0px 10px 15px;
}
.RTLCulture .navbarArea .navbar-toggle {
	right: inherit;
	left: 0;
	margin-left: 0;
}
.RTLCulture .navbarArea .navbar-right > li.dropdown, .RTLCulture .navbarArea .navbar-right > li > a{border-left: none !important; border-right: 1px solid #dfdfdf !important}
.RTLCulture .navbar-collapse{padding: 0} 
.RTLCulture #divMain .pnl-query-item .headerDocRow .docParentArea {padding-right: 15px;text-align:right;}
.RTLCulture .badge{right: auto !important; left: 0}
.RTLCulture #divMain .pnl-query-item .headerDocRow .docParentArea .docparent {text-align: right;}
.RTLCulture #divMain .pnl-query-item .headerDocRow .divPanelTitleText{padding-right: 13px;text-align: right;}
.RTLCulture .navbarArea ._forCALENDAR .img-default:after, 
.RTLCulture .navbarArea ._form_DashBoardMediaMonitor .img-default:after {
	margin-left: inherit;
    margin-right: -14px;
}
.RTLCulture .documentConteiner .documentViewFrame .divPanelTitleText  {
	padding-left: inherit;
	padding-right: 26px;
}
/* .RTLCulture .navbar .SearchTextBoxArea button{border-left: 1px solid #dfdfdf;border-right: none;} */
.RTLCulture  #divMain .pnl-query-item .ThumbContentRef {float: right;margin: 0 0 0 12px;}
.RTLCulture  #divMain .pnl-query-item .ThumbContentRef {float: right;margin: 0 0 0 12px;}
.RTLCulture .navbar .img-sidebarMobil24 {
	margin-right: 0px;
    border-right: none;
    border-left: 1px solid #DDDFE2;
}
.RTLCulture .toggledBody .sidebar-large .page-content-wrapper { left: 0 !important;}
.RTLCulture .dropdown-menu > li > a img {
	margin-right: inherit;
	margin-left: 6px;
}
.RTLCulture .dropdown-menu-balloon:before {
	right: inherit;
    left: 6px;
}
.RTLCulture .dropdown-menu-balloon:after  {
	right: inherit;
    left: 7px;
}

.RTLCulture .inAdvRightPanel h3 {
	float: right;
    padding-left: 0px;
    padding-right: 56px;
}
.RTLCulture .inAdvRightPanel h3 img {
	left: inherit;
    right: 25px;
}
.RTLCulture .inAdvRightPanel h3 span {
	width: 100%;
}
.RTLCulture .inAdvRightPanel .SummaryLinksRight {
	padding-left: inherit;
    padding-right: 56px;
}
.RTLCulture .ipath .iblock.iparent img {
	margin-right: inherit;
	margin-left: 3px;
}
.RTLCulture .SummaryLinksRight button{background-position-x: right !important;}
/* klv */
.RTLCulture #divMain .btn-kw-list .btn-default {
	text-align: right;
}
.RTLCulture .divDocumentList span img {
	margin-right: inherit;
	margin-left: 4px;
}
.RTLCulture .divCurrentDocumentInfo img {
	margin-right: inherit;
	margin-left: 6px;
}
.RTLCulture .panel-heading .divPanelTitleText{padding-right: 47px !important;}
.RTLCulture .divSummaryRight {margin-left: 0;border-right: 1px solid lightgray;padding-left: 0;float: right;width: 83%;border-left: 0;padding-right: 6px;}
/* Popover */
.RTLCulture .popover.left{left: 126px !important;}
.RTLCulture .popover.left > .arrow {left: -23px;right: auto;border-left-color: transparent;border-right-color: #ddd;border-right-width: 12px;}
.RTLCulture .popover.left > .arrow:after {border-left-width: 0;border-right-color: #fff;border-right-width: 10px;right: -13px;}
/* Listeleme */

.RTLCulture #divMain .ItemSelectedForAdvRight {
	border-right: 4px solid #fff !important;
}
.RTLCulture #divMain .ItemSelectedForAdvRight:before {
	right: inherit;
	left: -24px;
}
.RTLCulture  #divMain .pnl-query-item{
	border-right-width: : 4px
}

/* klv */
.RTLCulture #divMain .panel .action-menu-container {float: left;}
.RTLCulture #divMain .panel-heading .klv-kw-title .imgPanelTitleIcon{float: right;margin-left: auto;margin-right: 9px;}
.RTLCulture #divMain .panel-heading .divPanelTitleText{left: auto;right: 42px;padding-right: 4px !important;text-align: right;}

/* responsive */
@media screen and (max-width: 991px) {
	.RTLCulture .toggledBody .navbarArea {
	padding-right: 240px !important;
	}
	.RTLCulture .toggledBody #topArea {padding-left: 0;padding-right: 240px;}
	.RTLCulture .sidebar-large.toggled .page-content-wrapper {
	padding-right: 240px !important;
	}
}
@media screen and (max-width: 768px) {
   .RTLCulture.toggledBody .navbarArea {padding-right:240px !important; padding-left:0 !important;}	
   .RTLCulture .toggledBody #topArea{padding-right: 240px}
   .RTLCulture .navbarArea .navbar-header .dropdown-menu {
	right: inherit;
    left: 2px;
	}
}
@media screen and (max-width: 767px) { 
	.RTLCulture .toggledBody .sidebar-large .page-content-wrapper {
	padding-right: 240px !important;
	}
	.RTLCulture .sidebar-large.toggled .page-content-wrapper {
	padding-right: 0px !important;
    left: 0;
	}
}
@media screen and (max-width: 450px) {
	.RTLCulture .navbar .navbar-form {
	padding-left: 40px !important;
    padding-right: 30px !important;	
	}
	.RTLCulture .navbar-form #searchArea1 .twitter-typeahead {
	margin-right: 7px;
	margin-left: -2px;
	}
	.RTLCulture .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	border-radius: 0 4px 4px 0 !important;
	}
	.RTLCulture .navbar .SearchTextBoxArea button.searchBorder {
	border-radius: 4px 0 0 4px !important;
	}
}
