﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/moment.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/kh/KeywordHighlight.js" />
<dcc:item factoryname="StateForm" />

<style>
    .defaultAreaCss {
        overflow-y: scroll;
        padding-left: 40px;
        
    }

    .sectionWrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        position: absolute;
        text-align: center;
        display: none;
    }

    .mark .text {
        background-color: #000000;
        padding: 2px 6px;
    }

    .mark {
        background-color: transparent !important;
        cursor: pointer;
        position: absolute;
        top: -12px;
    }
</style>

<div id="tooltipArea" class="FixedToolTip" onmouseover="showTooltip(this, true)" onmouseleave="showTooltip(this, true)"></div>
<div id="inArea" style="padding-top:50px;padding-bottom:50px;"></div>
<script>
    function init() {
        window.meta = JSON.parse(StateForm.GetState("Epub"));
        window.loadedSections = [];

        if (!window.meta.CurrentSection && !window.meta.SectionRefs[window.meta.CurrentSection])
            window.meta.CurrentSection = 1;

        loadSection(window.meta.CurrentSection);
        initContextMenuFor("#defaultArea");
    }

    function loadSection(section, callback) {
        section = parseInt(section);
        if (window.loadedSections[section]) return;

        removeLoadLink(section);

        var isLastSection = section == window.meta.SectionCount;

        var before = section > 1 ? findLoadedBefore(section) : 0;
        var after = !isLastSection ? findLoadedAfter(section) : 0;

        var div = getSection(section, callback);
        var exStyle = getHandlerName() == "UdfContentViewer" ? 'style="max-width: 30cm;"' : 'style="max-width: 600px;"';
        var wrapper = $('<div id="s' + section + '_wrapper" class="sectionWrapper" '+exStyle+'></div>');
        wrapper.append(div);

        if (after == 0)
            $("#inArea").append(wrapper);
        else
            $("#s" + after + "_wrapper").before(wrapper);

        if (before < section - 1)
            div.before(getLoadLink(section - 1));

        if (!isLastSection && ((after == 0) || (after > section + 1)))
            div.after(getLoadLink(section + 1));

        window.loadedSections[section] = true;
        window.meta.CurrentSection = section;
    }

    function removeLoadLink(section) {
        $("#b" + section).remove();
    }

    function getLoadLink(section) {
        var link = $('<button id="b' + section + '" type="button" class="btn btn-link">[$default:readMore/js]</button>');
        link.click(function () {
            loadSection(section);
        })
        return link;
    }

    function findLoadedBefore(section) {
        for (var i = --section; i > 0; i--) {
            if (window.loadedSections[i])
                return i;
        }
        return 0;
    }

    function findLoadedAfter(section) {
        for (var i = ++section; i <= window.meta.SectionCount; i++) {
            if (window.loadedSections[i])
                return i;
        }
        return 0;
    }

    function getSection(section, callback) {
        var contentId = window.meta.ContentId;
        var wsName = StateForm.GetState("wsName");
        return getDiv(section, wsName, contentId, callback);
        // return getIframe(section, wsName, contentId);
    }

    function getDiv(section, wsName, contentId, callback) {
        var div = $('<div class=insectionEPUB id="s' + section + '" section="' + section + '"><\div>');
        var ref = window.meta.SectionRefs[section];
        div.attr("ref", ref);
        div.attr("dir", ref.substring(0, ref.lastIndexOf('/')));

        div.load(getSectionHtmlUrl(wsName, contentId, ref), function () {

            if (window.startupHiglight) {
                window.startupHiglight = false;
                var hlStart = StateForm.GetState("highlight_text");
                if (hlStart)
                    // KLV'den tıklanıp geldiğinde highlight edilen elemana scroll ediyor. 
                    // Sonra bir sebeple aşağıya öteleniyor. Nedenini bulamadığım için timeout koydum.
                    var hl = function () {
                        window.setTimeout(function () {
                            OnSummaryClick({ Text: hlStart })
                        }, 500)
                    };
            }

            changeSources(div, section, hl);

            UpdateLabels();

            if (callback) callback();
        });
        return div;
    }

    function CreateLabelForPoint(x1, y1) {
        var x = x1, y = y1;
        var elementMouseIsOver = document.elementFromPoint(x, y);
        var p=$(elementMouseIsOver).parents(".insectionEPUB");
        var recall =
            p.length == 0 ?
            [] :
            getDescendantRecall(elementMouseIsOver);
        startAddLabel({
            Section: p.attr("section"),
            Attributes: {
                recall: recall
            }
        });
    }

    function getDescendantRecall(desc) {
        if ($(desc.parentElement).hasClass("insectionEPUB")) return [$(desc).index()];

        var recall = getDescendantRecall(desc.parentElement);
        if (!recall) return [];
        recall.push($(desc).index());
        return recall;
    }



    

    function OnLabelListUpdate() {
        $(".mark").remove();
    }

    function OnLabelClick(label) {
        var section = label.LabelSection.Section;
        if (!section) return;

        function scrollToMark() {
            var scrTop = $("#mark_" + label.LabelId).offset().top + $("#defaultArea").scrollTop() - $("#defaultArea").offset().top;
            scrTop -= 50;
            $("#defaultArea").animate({ scrollTop: scrTop }, 500);
        }

        if (window.loadedSections[section])
            scrollToMark();
        else
            loadSection(section, scrollToMark);
    }

    //// Event'in gerçekleştiği yerdeki node'un indeksini bulur. Bulamazsa -1 döner.
    //function findEventLocation(evt, nodes) {
    //    var x = event.clientX, y = event.clientY;
    //    var elementMouseIsOver = document.elementFromPoint(x, y);
    //}
    function getHandlerName() {
        if (!window.__handler) {
            var hn = StateForm.GetState("Handler");
            window.__handler = hn ? hn : "EpubContentViewer";
        }
        return window.__handler;
    }
    function getSectionHtmlUrl(wsName, contentId, section) {
        return HttpUtility.ResolveUrl(getHandlerName()+"?op=GetSectionHtml&wsName=" +
            HttpUtility.UrlEncode(wsName) + "&contentId=" + HttpUtility.UrlEncode(contentId) +
            "&key=" + HttpUtility.UrlEncode(section));
    }

  

    // Recall arrayine göre elemanın içindeki çocuğu bulmaya çalışır. Eğer recall arrayi hatalıysa eleman dahil
    // son bulduğu çocuğu döner. (Kesin olarak hangi elemana not eklendiği bulunamazsa en azından section işaretlensin.)
    function getDescendant(elem, recall) {
        if (!recall) return elem;

        var desc = elem;
        for (var i = 0; i < recall.length; i++)
            try {
                desc = desc.children[recall[i]];
            }
            catch (err) {
                return desc;
            }

        return desc;
    }

    function changeSources(elem, section, onImagesLoaded) {

        if (onImagesLoaded) {
            var images = $("img, image", elem);
            if (images.length) {
                images.loaded = 0;
                $("img, image").on("load", function () {
                    images.loaded++;
                    if (images.loaded >= images.length)
                        onImagesLoaded();
                });
            }
            else
                onImagesLoaded();
        }

        elem.find("img").each(function () {
            changeLink($(this), "src", section);
        });

        elem.find("link").each(function () {
            changeLink($(this), "href", section);
        });

        elem.find("a").each(function () {
            changeHref(this, elem.attr("dir"))
        });

        elem.find("image").each(function () {
            if (images) images.total++;
            changeLink($(this), "xlink:href", section);
        });
    }

    function changeHref(elem, dir) {
        var href = elem.getAttribute("href");
        if (!href) return;
        elem.setAttribute("href", "#");
        href = href.split("#");
        var sectionRef = href[0], id = href[1];
        if (dir) sectionRef = dir + '/' + sectionRef;
        var section = window.meta.SectionRefs.indexOf(sectionRef);
        if(section > 0)
            $(elem).click(function () { scrollTo(section, id) });
    }

    function changeLink(elem, attr, section) {
        var dir = $("#s" + section).attr("dir");
        var orig = escape(elem.attr(attr));
        if (dir) orig = dir + "/" + orig;
        var wsName = escape(StateForm.GetState("wsName"));
        var contentId = window.meta.ContentId;
        var query = "~/"+getHandlerName() + "?op=GetSource&wsName=" +
            HttpUtility.UrlEncode(StateForm.GetState("wsName")) + "&contentId=" + HttpUtility.UrlEncode(contentId) +
            "&key=" + HttpUtility.UrlEncode(orig) + "&section=" + HttpUtility.UrlEncode(section);
        elem.attr(attr, HttpUtility.ResolveUrl(query));
    }

    window.startupHiglight = true;

    $(window).ready(init);

    function OnSummaryClick(data, alldata, kwItem) {
        if (data.KeywordSection) {
            var section = data.KeywordSection.Section;
            var sectionCnt = window.meta.SectionCount;
            var isSectionValid = (section > 0) && (section <= sectionCnt);
            if (isSectionValid && !window.loadedSections[section])
            {
                loadSection(section, function() { highlight(data, alldata); });
                return;
            }
        }
        highlight(data, alldata);
    }

    function highlight(data, alldata) {
        var pos = alldata ? alldata.indexOf(data) : 0;
        ReplaceForHighlightClear();
        ReplaceForHighlight(data.Text);
        try {
            var all = $(".hgInner", $("#defaultArea"));
            if (pos >= all.length) pos = 0;
            var el = $($(".hgInner")[pos]);
            if (el.offset()) {
                $("#defaultArea").animate({
                    scrollTop: ((el.offset().top - 100) + $("#defaultArea").scrollTop())
                }, 500);
                el.fadeIn(500).fadeOut(500).fadeIn(750).fadeOut(750).fadeIn(1000); // blink
            }
        }
        catch (e) { }
    }

    function OnLabelAddMark(geodiLabel) {
        if (!geodiLabel.LabelSection) return;

        var section = geodiLabel.LabelSection.Section;
        if (!section || !window.loadedSections[section]) return;

        var recall = geodiLabel.LabelSection.Attributes.recall;
        var sectionDiv = document.getElementById("s" + section);

        var node = getDescendant(sectionDiv, recall);
        if (node)
            addLabelToNode(geodiLabel, node);
    }

    function addLabelToNode(geodiLabel, node) {
        var imgUrl = HttpUtility.ResolveUrl('~/GUI/img/pin24' + (geodiLabel.ReferenceIsOtherVersion ? 'b' : '') + '.png');
        var id = geodiLabel.LabelId;
        var mark = $('<div id="mark_' + id + '" class="mark" onclick="editMarkLabel(this)" onmouseover="showTooltip(this)" onmouseleave="showTooltip(this)">\
				    <div>\
                        <img id="tooltipImg_' + id + '" src="' + imgUrl + '" width="24px" height="24px" />\
				    </div>\
			    </div>');
        if ($(node).css("position") != "absolute")
            $(node).css("position", "relative");

        var recall = geodiLabel.LabelSection.Attributes.recall; // tekrar ekleme yapılmaya çalışıldığında attribute'dan ulaşılabilsin.
        if (recall) mark.attr("recall", recall);

        mark.data('labelInfo', geodiLabel);

        $(node).append(mark);
    }

    function showTooltip(elem, fromTooltip) {
        // TODO;
        var eType = window.event.type;
        if (eType == 'mouseover') {
            if (window.lastout) {
                window.clearTimeout(window.lastout);
            }
            if (!fromTooltip) {
                var data = $(elem).data();
                var text = formatLabelMark(data.labelInfo);
                var pos = $(elem.parentElement).offset();
                var x = pos.left;
                var y = pos.top;
                $("#tooltipArea").html($(text))
                    .fadeIn();
                var divW = $("#tooltipArea").width();
                var divH = $("#tooltipArea").height();
                //var left = (x - divW - 24);
                //var top = (y + $(elem).outerHeight() + 5);
                var offset = $("#defaultArea").offset();

                var left = x + 32 - offset.left;
                var top = y - 12 - offset.top + $("#defaultArea").scrollTop();
                $("#tooltipArea").css("position","absolute");
                $("#tooltipArea").css("left", left);
                $("#tooltipArea").css("top", top);
            }
        }
        else if (eType == 'mouseleave') {
            window.lastout = window.setTimeout(function () {
                $("#tooltipArea").fadeOut()
            }, 500);
        }
    }

    function editMarkLabel(elem) {
        var labelObject = $(elem).data('labelInfo');
        editLabel({
            geodiLabel: labelObject
        });
    }

    function scrollTo(section, id) {
        function scroll() {
            $("#defaultArea").animate({
                scrollTop: (($("#s" + section).find("#" + id).offset().top - 100) + $("#defaultArea").scrollTop())
            }, 500);
        }

        if (window.loadedSections[section])
            scroll();
        else
            loadSection(section, scroll);
    }
</script>