/*Hide:true*/
.NCZText {
    point-Color: Transparent;
    point-Halo:Transparent;
    label-OffsetX:0;
    label-OffsetY:0;
    label-Halo:Transparent;
    label-Color:=c.GetByteColor(d.Color);
    label-Font:Arial, 12pt;
label-HorizontalAlignment:Near;
label-VerticalAlignment:Far;


	label-TextRotate:=360f-d.AngleDegree;
	label-MetricSize:=d.TextSize;
/*
    label-MaxVisible:100;
    label-MinVisible:0;
*/



}
/*Hide:true*/
.NCZPoint {
    	label-Enable:false;
}



/*Hide:true*/
.NCZTriangle {
	/*polygon-FillColor:=c.GetByteColor(d.Color);*/
}

/*Hide:true*/
.NCZTextGeom { 
	label-HorizontalAlignment:Center;
	label-VerticalAlignment:Center;
	label-MetricSize:5; 
	label-Color:transparent;
	/*pafta, polygon,box*/
}

/*Hide:true*/
.NCZLayer{

	polygon-BorderColor:=c.GetByteColor(d.Color);
	polygon-BorderWidth:=d.GetLineWidth(c.MapPixelWidth);
	polygon-FillColor:=d.Fill?c.GetByteColor(d.Color):System.Drawing.Color.Transparent;
	polygon-TwoPassDraw:False;
	/*
	polygon-Brush-BrushType:HatchBrush;
	polygon-Brush-HatchStyle:WideDownwardDiagonal;
	*/

	line-Color:=c.GetByteColor(d.Color); 
	line-Width:=d.GetLineWidth(c.MapPixelWidth);
	line-OutlineColor:Transparent; 
	line-TwoPassDraw:False;

	point-Color:=c.GetByteColor(d.Color);  
	point-Size:1;
	point-Halo:Transparent;

    label-Halo:Transparent;
    label-Color:Transparent;

}
/*Hide:true*/
.NCZBox {
	polygon-FillColor:transparent !important;
}
/*Hide:true*/
.NCZNoFill {
	polygon-FillColor:transparent !important;
}

/*Hide:true*/
.NCZREFLayer {
	custom-GeometryRenderer:NRefImageLayer;
	polygon-BorderColor:#AA0000FF;
	polygon-BorderWidth:2;
	polygon-FillColor:transparent;
	polygon-TwoPassDraw:False;
}