/** Regular **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon
Priority:700.0*/
.Label_Biggest_Regular {
    label-Font: Arial, 16pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_Bigger_Regular {
    label-Font: Arial, 15pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_Smaller_Regular {
    label-Font: Arial, 11pt, style=Regular;
}

/** Bold **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_Biggest {
    label-Font: Arial, 16pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_Bigger {
    label-Font: Arial, 15pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_Smaller {
    label-Font: Arial, 11pt, style=Bold;
}


/** Narrow Regular **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_BiggestNarrow_Regular {
    label-Font: Arial Narrow, 16pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_BigNarrow_Regular {
    label-Font: Arial Narrow, 15pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_BigSmall_Regular {
    label-Font: Arial Narrow, 11pt, style=Regular;
}

/** Narrow Bold **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_BiggestNarrow {
    label-Font: Arial Narrow, 16pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_BigNarrow {
    label-Font: Arial Narrow, 15pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Label_SmallNarrow {
    label-Font: Arial Narrow, 11pt, style=Bold;
}


/** Times Regular **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Regular {
    label-Font: Times, 14pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Biggest_Regular {
    label-Font: Times, 16pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Bigger_Regular {
    label-Font: Times, 15pt, style=Regular;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Smaller_Regular {
    label-Font: Times, 12pt, style=Regular;
}

/** Times Bold **/
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Bold {
    label-Font: Times, 14pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Biggest_Bold {
    label-Font: Times, 16pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Bigger_Bold {
    label-Font: Times, 15pt, style=Bold;
}
/*GroupName:Font
SingleSelectKey:Font
GeometryType:LineString,Point,Polygon*/
.Times_Smaller_Bold {
    label-Font: Times, 12pt, style=Bold;
}


