﻿/*GroupName:Hardcoded
Label:[$.tr:Geometri Tanıyıcı 2;en:Geometry Recognizer 2]
SingleSelectKey:GeometrySet
TypeFilter:GeometryRecognizer
CSSSamples:MGRS,WKT,LATLON
*/
.GeometryRecogizerSet2{

}
/*GroupName:Hardcoded
Base:.M1_PackageGreenLight
Hide:true*/
.GeometryRecogizerSet2.MGRS {
}
/*GroupName:Hardcoded
Base:.M1_PackageYellow
Hide:true*/
.GeometryRecogizerSet2.WKT {
}
/*GroupName:Hardcoded
Base:.M1_PackageOrange
Hide:true*/
.GeometryRecogizerSet2.LATLON {
}

/*------------------------------------------*/

/*GroupName:Hardcoded
Label:[$.tr:Geometri Tanıyıcı 3;en:Geometry Recognizer 3]
SingleSelectKey:GeometrySet
TypeFilter:GeometryRecognizer
CSSSamples:MGRS,WKT,LATLON
*/
.GeometryRecogizerSet3{

}
/*GroupName:Hardcoded
Base:.M1_PackageTurquaz
Hide:true*/
.GeometryRecogizerSet3.MGRS {
}
/*GroupName:Hardcoded
Base:.M1_PackageOrange
Hide:true*/
.GeometryRecogizerSet3.WKT {
}
/*GroupName:Hardcoded
Base:.M1_PackageGreenLight
Hide:true*/
.GeometryRecogizerSet3.LATLON {
}
