/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch
Priority:500.0*/
.Polygon_HatchPercent30 {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: Percent30;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchPercent60 {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: Percent60;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchLargeCheckerBoard {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: LargeCheckerBoard;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchSmallConfetti {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: SmallConfetti;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchZigZag {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: ZigZag;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchSmallGrid {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: SmallGrid;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchDottedGrid {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: DottedGrid;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchDiagonalBrick {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: DiagonalBrick;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchDashedHorizontal {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: DashedHorizontal;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchDashedVertical {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: DashedVertical;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchHorizontalBrick {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: HorizontalBrick;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchDottedDiamond {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: DottedDiamond;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchOutlinedDiamond {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: OutlinedDiamond;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchSolidDiamond {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: SolidDiamond;
}

/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchShingle {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: Shingle;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchTrellis {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: Trellis;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchSphere {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: Sphere;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchWideDownwardDiagonal {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: WideDownwardDiagonal;
}
/*GroupName:Hatch
GeometryType:Polygon
SingleSelectKey:Hatch*/
.Polygon_HatchWideUpwardDiagonal {
    polygon-Brush-BrushType: HatchBrush;
    polygon-Brush-HatchStyle: WideUpwardDiagonal;
}