﻿#Default_ParcelRecognizer {
    polygon-BorderColor: Black;
    polygon-FillColor: #50CCFFF2;
	
	polygon-BorderColor: Black;
    label-Font: Times New Roman, 12pt style=bold;
	label-color:Black;
	label-Halo: #FFFFEF3F;
}

/*GroupName:Package
Base:.M1_PointBlue
SingleSelectKey:Package
*/
#Default_CoordinateTableRecognizer {
	label-TextUpdater:=c.DisplayName.Length>18 ? String.Concat(c.DisplayName.Substring(0,15),"..",System.IO.Path.GetExtension(c.DisplayName)) : c.DisplayName;
}