/*LineJoin*/
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.0
SingleSelectKey:LineJoin
*/
.LineS_LineJoinMiter {
	line-PenStyle-LineJoin:Miter; 
	line-OutlinePenStyle-LineJoin:Miter; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.0
SingleSelectKey:LineJoin*/
.LineS_LineJoinRound {
	line-PenStyle-LineJoin:Round; 
	line-OutlinePenStyle-LineJoin:Round; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.0
SingleSelectKey:LineJoin*/
.LineS_LineJoinBevel {
	line-PenStyle-LineJoin:Bevel; 
	line-OutlinePenStyle-LineJoin:Bevel; 
}


/*Dashcap*/
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.15
SingleSelectKey:LineDashCap*/
.LineS_DashCapFlat {
	line-PenStyle-DashCap:Flat; 
	line-OutlinePenStyle-DashCap:Flat; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.15
SingleSelectKey:LineDashCap*/
.LineS_DashCapRound {
	line-PenStyle-DashCap:Round; 
	line-OutlinePenStyle-DashCap:Round; 
}
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.15
SingleSelectKey:LineDashCap*/
.LineS_DashCapTriangle {
	line-PenStyle-DashCap:Triangle; 
	line-OutlinePenStyle-DashCap:Triangle; 
}

/*Dash Style*/
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_Dash {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Dash;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_Dot {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Dot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_DashDot {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: DashDot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_DashDotDot {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: DashDotDot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_DashCustom1 {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Custom;
    line-PenStyle-DashPatternString: 5, 1, 5, 5;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_DashCustom2 {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Custom;
    line-PenStyle-DashPatternString: 5, 1, 2, 5;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.10
SingleSelectKey:LineDashStyle*/
.Line_DashCustom3 {
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Custom;
    line-PenStyle-DashPatternString: 10,1,10,10;
}


/*Outline*/

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DashOutline {
    line-OutlinePenStyle-DashStyle: Dash;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DotOutline {
    line-OutlinePenStyle-DashStyle: Dot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DashDotOutline {
    line-OutlinePenStyle-DashStyle: DashDot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DashDotDotOutline {
    line-OutlinePenStyle-DashStyle: DashDotDot;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DashCustom2Outline {
    line-OutlinePenStyle-DashStyle: Custom;
    line-OutlinePenStyle-DashPatternString: 5, 1, 2, 5;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.50
SingleSelectKey:LineDashStyleOutline*/
.Line_DashCustom3Outline {
    line-OutlinePenStyle-DashStyle: Custom;
    line-OutlinePenStyle-DashPatternString: 10,1,10,10;
}



/*Size*/

/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.010
SingleSelectKey:LineWidth*/
.Line_Smaller {
    line-Width: 1;
}

/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.011
SingleSelectKey:LineWidth*/
.Line_Bigger {
    line-Width: 3;
}

/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.012
SingleSelectKey:LineWidth*/
.Line_ExtraBigger {
    line-Width: 5;
}


/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.013
SingleSelectKey:LineWidth*/
.Line_None {
    line-Width: 0;
}


/*Outline Size*/
/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.020
SingleSelectKey:LineOutlineWidth*/
.Line_SmallerOutline {
	line-OutlineWidth: 1;
}
/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.021
SingleSelectKey:LineOutlineWidth*/
.Line_MediumOutline {	
	line-OutlineWidth: 4;
}
/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.022
SingleSelectKey:LineOutlineWidth*/
.Line_BiggerOutline {
	line-OutlineWidth: 6;
}
/*GroupName:Line,LineStyles
GeometryType:LineString
SingleSelectKey:LineOutlineWidth
Priority:350.023
*/
.Line_ExtraBiggerOutline {
	line-OutlineWidth: 10;
}
/*GroupName:Line,LineStyles
GeometryType:LineString
Priority:350.024
SingleSelectKey:LineOutlineWidth*/
.Line_NoneOutline {
	line-OutlineWidth: 0;
}

/*Start end dashcap*/
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapStart*/
.LineS_ArrowAnchor_SCap {
	line-PenStyle-StartLineCap:ArrowAnchor; 
	line-OutlinePenStyle-StartLineCap:ArrowAnchor; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapEnd*/
.LineS_ArrowAnchor_ECap {
	line-PenStyle-EndLineCap:NoAnchor; 
	line-OutlinePenStyle-EndLineCap:ArrowAnchor; 
}


/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapStart*/
.LineS_Triangle_SCap {
	line-PenStyle-StartLineCap:Triangle; 
	line-OutlinePenStyle-StartLineCap:Triangle; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapEnd*/
.LineS_Triangle_ECap {
	line-PenStyle-EndLineCap:Triangle; 
	line-OutlinePenStyle-EndLineCap:Triangle; 
}



/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapStart*/
.LineS_SquareAnchor_SCap {
	line-PenStyle-StartLineCap:SquareAnchor; 
	line-OutlinePenStyle-StartLineCap:SquareAnchor; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapEnd*/
.LineS_SquareAnchor_ECap {
	line-PenStyle-EndLineCap:SquareAnchor; 
	line-OutlinePenStyle-EndLineCap:SquareAnchor; 
}



/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapStart*/
.LineS_DiamondAnchor_SCap {
	line-PenStyle-StartLineCap:DiamondAnchor; 
	line-OutlinePenStyle-StartLineCap:DiamondAnchor; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapEnd*/
.LineS_DiamondAnchor_ECap {
	line-PenStyle-EndLineCap:DiamondAnchor; 
	line-OutlinePenStyle-EndLineCap:DiamondAnchor; 
}



/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapStart*/
.LineS_RoundAnchor_SCap {
	line-PenStyle-StartLineCap:RoundAnchor; 
	line-OutlinePenStyle-StartLineCap:RoundAnchor; 
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.30
SingleSelectKey:LineDashCapEnd*/
.LineS_RoundAnchor_ECap {
	line-PenStyle-EndLineCap:RoundAnchor; 
	line-OutlinePenStyle-EndLineCap:RoundAnchor; 
}


/*Compound*/
/*GroupName:LineStyles
GeometryType:LineString
Priority:350.90
SingleSelectKey:LineCompoundStyle*/
.Line_Compound1 {
    line-OutlinePenStyle-CompoundArrayString:0.0,1.0;
    line-PenStyle-CompoundArrayString:0.0, 0.4,0.9, 1.0;
}

/*GroupName:LineStyles
GeometryType:LineString
Priority:350.91
SingleSelectKey:LineCompoundStyle*/
.Line_Compound2 {
    line-OutlinePenStyle-CompoundArrayString:0.0,1.0;
    line-PenStyle-CompoundArrayString:0.0,0.01, 0.4,0.9, 0.99, 1.0;
}
