/*GroupName:Package
Base:.Polygon_BorderRandom,.Point_Random,.Polygon_Random,.Line_Random
SingleSelectKey:Package
Priority:100.0
*/
.PackageRandom {
	
}


/*GroupName:Package
Base:.Polygon_BorderRandomFromKeyword,.Point_RandomFromKeyword,.Polygon_RandomFromKeyword,.Line_RandomFromKeyword
SingleSelectKey:Package
*/
.PackageRandomFromKeyword {
	
}

/*GroupName:Package
Base:.Polygon_BorderRandomFromFieldName,.Point_RandomFromFieldName,.Polygon_RandomFromFieldName,.Line_RandomFromFieldName
SingleSelectKey:Package
*/
.PackageRandomFromFieldName {
	
}

/*GroupName:Package
Base:.Polygon_BorderRandomFromLayer,.Point_RandomFromLayer,.Polygon_RandomFromLayer,.Line_RandomFromLayer
SingleSelectKey:Package
*/
.PackageRandomFromLayer{
	
}