﻿/* Red */
/*GroupName:Label*/
.M1_LabelRed {
	label-Color: #FF404E;
    label-Halo: #ffffff; 
	label-HaloWidth:3;
	label-Font: Arial, 14pt, style=Bold;
	label-OffsetY:-8;
}
/*GroupName:Point*/
.M1_PointRed {
    point-Color: #FF404E; 
    point-Size: 12;
    point-Halo: #40ffffff;
    point-HaloWidth: 8;
}
/*GroupName:Polygon*/
.M1_PolygonRed {
	polygon-BorderColor: #FF404E; 
	polygon-BorderWidth: 1;
	polygon-FillColor:  #40FF404E;
	
	polygon-Brush-HatchBackColor:#40FF404E;
	polygon-Brush-HatchForeColor:#FF404E; 
	
}
/*GroupName:Line*/
.M1_LineRed {
	line-OutlineColor: #FF404E; 
	line-Color: #ffffff;
}

/* Pink */
/*GroupName:Label*/
.M1_LabelPink {
	label-Color: #FF3278; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-7;
}
/*GroupName:Point*/
.M1_PointPink {
    point-Color: #ffffff; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #FF3278; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonPink {
	polygon-BorderColor: #FF3278; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #40FF3278; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40FF3278;
	polygon-Brush-HatchForeColor:#FF3278;
}
/*GroupName:Line*/
.M1_LinePink {
	line-OutlineColor: #FF3278; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* Purple */
/*GroupName:Label*/
.M1_LabelPurple {
	label-Color: #9c27b0; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-7;
}
/*GroupName:Point*/
.M1_PointPurple {
    point-Color: #ffffff; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #9c27b0; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonPurple {
	polygon-BorderColor: #9c27b0; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #409c27b0; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#409c27b0;
	polygon-Brush-HatchForeColor:#9c27b0;
}
/*GroupName:Line*/
.M1_LinePurple {
	line-OutlineColor: #9c27b0; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* PurpleCold */
/*GroupName:Label*/
.M1_LabelPurpleCold {
	label-Color: #673ab7; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-7;
}
/*GroupName:Point*/
.M1_PointPurpleCold {
    point-Color: #ffffff; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #673ab7; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonPurpleCold {
	polygon-BorderColor: #673ab7; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #40673ab7; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40673ab7;
	polygon-Brush-HatchForeColor:#673ab7;
}
/*GroupName:Line*/
.M1_LinePurpleCold {
	line-OutlineColor: #673ab7; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* Blue */
/*GroupName:Label*/
.M1_LabelBlue {
	label-Color: #0AACFE; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointBlue {
    point-Color: #ddffffff; /* nokta rengi ve highlight */
    point-Size: 6; /* nokta boyutu */
    point-Halo: #ee0aacfe; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonBlue {
	polygon-BorderColor: #ffffff; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #990AACFE; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#400AACFE;
	polygon-Brush-HatchForeColor:#0AACFE;
}
/*GroupName:Line*/
.M1_LineBlue {
	line-OutlineColor: #0AACFE; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* BlueCold */
/*GroupName:Label*/
.M1_LabelBlueCold {
	label-Color: #4d7cfe; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-8;
}
/*GroupName:Point*/
.M1_PointBlueCold {
    point-Color: #4d7cfe; /* nokta rengi ve highlight */
    point-Size: 10; /* nokta boyutu */
    point-Halo: #aaffffff; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonBlueCold {
	polygon-BorderColor: #4d7cfe; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor: #404d7cfe; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#404d7cfe;
	polygon-Brush-HatchForeColor:#4d7cfe;
}
/*GroupName:Line*/
.M1_LineBlueCold {
	line-OutlineColor: #4d7cfe; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* Turquaz */
/*GroupName:Label*/
.M1_LabelTurquaz {
	label-Color: #039e9e; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-8;
}
/*GroupName:Point*/
.M1_PointTurquaz {
    point-Color: #039e9e; /* nokta rengi ve highlight */
    point-Size: 10; /* nokta boyutu */
    point-Halo: #ffffff; /* nokta çizgi rengi */
    point-HaloWidth: 8; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonTurquaz {
	polygon-BorderColor: #039e9e; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor: #40039e9e; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40039e9e;
	polygon-Brush-HatchForeColor:#039e9e;
}
/*GroupName:Line*/
.M1_LineTurquaz {
	line-OutlineColor: #039e9e; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}


/* Green */
/*GroupName:Label*/
.M1_LabelGreen {
	label-Color: #4caf50; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointGreen {
    point-Color: #4caf50; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #ffffff; /* nokta çizgi rengi */
    point-HaloWidth: 6; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonGreen {
	polygon-BorderColor: #4caf50; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #404caf50; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#404caf50;
	polygon-Brush-HatchForeColor:#4caf50;
}
/*GroupName:Line*/
.M1_LineGreen {
	line-OutlineColor: #4caf50; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* GreenLight */
/*GroupName:Label*/
.M1_LabelGreenLight {
	label-Color: #8bc34a; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointGreenLight {
    point-Color: #8bc34a; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #ffffff; /* nokta çizgi rengi */
    point-HaloWidth: 6; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonGreenLight {
	polygon-BorderColor: #8bc34a; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #408bc34a; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#408bc34a;
	polygon-Brush-HatchForeColor:#8bc34a;
}
/*GroupName:Line*/
.M1_LineGreenLight {
	line-OutlineColor: #8bc34a; /* çizgi rengi */
	line-Color: #ffffff ; /* çizgi iç rengi */
}

/* Yellow */
/*GroupName:Label*/
.M1_LabelYellow {
	label-Color: #ffeb3b; /* yazı rengi */
    label-Halo: #2e1c01; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Regular;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointYellow {
    point-Color: #ffeb3b; /* nokta rengi ve highlight */
    point-Size: 10; /* nokta boyutu */
    point-Halo: #2e1c01; /* nokta çizgi rengi */
    point-HaloWidth: 6; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonYellow {
	polygon-BorderColor: #2e1c01; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #40ffeb3b; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40ffffff;
	polygon-Brush-HatchForeColor:#ffeb3b;
}
/*GroupName:Line*/
.M1_LineYellow {
	line-OutlineColor: #2e1c01; /* çizgi rengi */
	line-Color: #ffeb3b; /* çizgi iç rengi */
}

/* Orange*/ 
/*GroupName:Label*/
.M1_LabelOrange {
	label-Color: #ff9800; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointOrange {
    point-Color: #ff9800; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #ffffff; /* nokta çizgi rengi */
    point-HaloWidth: 6; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonOrange {
	polygon-BorderColor: #ff9800; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #40ff9800; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40ff9800;
	polygon-Brush-HatchForeColor:#ff9800;
}
/*GroupName:Line*/
.M1_LineOrange {
	line-OutlineColor: #ff9800; /* çizgi rengi */
	line-Color: #ffffff; /* çizgi iç rengi */
}

/* Vermilion */
/*GroupName:Label*/
.M1_LabelVermilion {
	label-Color: #ff5722; /* yazı rengi */
    label-Halo: #ffffff; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Bold;
	label-OffsetY:-6;
}
/*GroupName:Point*/
.M1_PointVermilion {
    point-Color: #ff5722; /* nokta rengi ve highlight */
    point-Size: 8; /* nokta boyutu */
    point-Halo: #ffffff; /* nokta çizgi rengi */
    point-HaloWidth: 6; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonVermilion {
	polygon-BorderColor: #ff5722; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #40ff5722; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40ff5722;
	polygon-Brush-HatchForeColor:#ff5722;
}
/*GroupName:Line*/
.M1_LineVermilion {
	line-OutlineColor: #ff5722; /* çizgi rengi */
	line-Color: #ffffff; /* çizgi iç rengi */
}

/* Mix */
/*GroupName:Label*/
.M1_LabelMix {
	label-Color: #ffffff; /* yazı rengi */
    label-Halo: #000000; /* yazı çiz rengi */
	label-HaloWidth:3; /* yazı çiz kalınlığı */
	label-Font: Arial, 13pt, style=Regular;
	label-OffsetY:-8;
}
/*GroupName:Point*/
.M1_PointBigBlue {
    point-Color: #ddffffff; /* nokta rengi ve highlight */
    point-Size: 10; /* nokta boyutu */
    point-Halo: #ee0aacfe; /* nokta çizgi rengi */
    point-HaloWidth: 10; /* nokta çizgi kalınlığı */
}
/*GroupName:Polygon*/
.M1_PolygonOrangeLineWhite {
	polygon-BorderColor: #ffffff; /* katman çizgi rengi */
	polygon-BorderWidth: 1; /* katman çizgi kalınlığı */
	polygon-FillColor:  #aaFFAB2A; /* katman rengi */
	
	polygon-Brush-HatchBackColor:#40FFAB2A;
	polygon-Brush-HatchForeColor:#FFAB2A;
}
/*GroupName:Line*/
.M1_LineBlack {
	line-OutlineColor: #000000; /* çizgi rengi */
	line-Color: #ffffff; /* çizgi iç rengi */
}
/*GroupName:Label*/
.M1_LabelHeight {
    label-MaxWidth:80;
    label-AutoHeight:true;
}