/*GroupName:Package
Base:.M1_LabelRed,.M1_PointRed,.M1_PolygonRed,.M1_LineRed
SingleSelectKey:Package
*/
.M1_PackageRed {
	
}

/*GroupName:Package
Base:.M1_LabelPink,.M1_PointPink,.M1_PolygonPink,.M1_LinePink
SingleSelectKey:Package
*/
.M1_PackagePink {
	
}
/*GroupName:Package
Base:.M1_LabelPurple,.M1_PointPurple,.M1_PolygonPurple,.M1_LinePurple
SingleSelectKey:Package
*/
.M1_PackagePurple {
	
}
/*GroupName:Package
Base:.M1_LabelPurpleCold,.M1_PointPurpleCold,.M1_PolygonPurpleCold,.M1_LinePurpleCold
SingleSelectKey:Package
*/
.M1_PackagePurpleCold {
	
}

/*GroupName:Package
Base:.M1_LabelBlue,.M1_PointBlue,.M1_PolygonBlue,.M1_LineBlue
SingleSelectKey:Package
*/
.M1_PackageBlue {
	
}

/*GroupName:Package
Base:.M1_LabelBlueCold,.M1_PointBlueCold,.M1_PolygonBlueCold,.M1_LineBlueCold
SingleSelectKey:Package
*/
.M1_PackageBlueCold {
	
}

/*GroupName:Package
Base:.M1_LabelTurquaz,.M1_PointTurquaz,.M1_PolygonTurquaz,.M1_LineTurquaz
SingleSelectKey:Package
*/
.M1_PackageTurquaz {
	
}

/*GroupName:Package
Base:.M1_LabelGreen,.M1_PointGreen,.M1_PolygonGreen,.M1_LineGreen
SingleSelectKey:Package
*/
.M1_PackageGreen {
	
}

/*GroupName:Package
Base:.M1_LabelGreenLight,.M1_PointGreenLight,.M1_PolygonGreenLight,.M1_LineGreenLight
SingleSelectKey:Package
*/
.M1_PackageGreenLight {
	
}

/*GroupName:Package
Base:.M1_LabelYellow,.M1_PointYellow,.M1_PolygonYellow,.M1_LineYellow
SingleSelectKey:Package
*/
.M1_PackageYellow {
	
}

/*GroupName:Package
Base:.M1_LabelOrange,.M1_PointOrange,.M1_PolygonOrange,.M1_LineOrange
SingleSelectKey:Package
*/
.M1_PackageOrange {
	
}

/*GroupName:Package
Base:.M1_LabelVermilion,.M1_PointVermilion,.M1_PolygonVermilion,.M1_LineVermilion
SingleSelectKey:Package
*/
.M1_PackageVermilion {
	
}

/*GroupName:Package
Base:.M1_LabelMix,.M1_PointBigBlue,.M1_PolygonOrangeLineWhite,.M1_LineBlack
SingleSelectKey:Package
*/
.M1_PackageMix {
	
}
