﻿/*GroupName:Hardcoded
Label:[$.tr:Varsayılan telefon numarası stilleri;en:Default phone number styles]
CSSSamples:Phn_L0,Phn_L1,Phn_L2
Priority:1000.0
SingleSelectKey:PhoneSet
TypeFilter:PhoneNumberRecognizer
ForceAllowGroups:Hardcoded,Font,Hatch,Label,Scale,Point
*/
.DefaultPhoneSet{ /*sadece isim*/

}

/*GroupName:Hardcoded
Hide:true*/
.Phn_L0{
    label-Color: Red;
}
/*GroupName:Hardcoded
Hide:true*/
.Phn_L1{
    label-Color: white;
}
/*GroupName:Hardcoded
Hide:true*/
.Phn_L2{
    label-Color: blue;
}


/*M1 Set*/
/*GroupName:Hardcoded
Label:[$.tr:Temel telefon numarası stilleri;en:Basic phone number styles]
CSSSamples:Phn_L0,Phn_L1,Phn_L2
SingleSelectKey:PhoneSet
TypeFilter:PhoneNumberRecognizer
ForceAllowGroups:Hardcoded,Font,Hatch,Label,Scale,Point
*/
.M1PhoneSet{

}

/*M1 Set*/
/*GroupName:Hardcoded
Hide:true
Base:.M1_PackageRed*/
.M1PhoneSet.Phn_L0{
}
/*GroupName:Hardcoded
Hide:true*/
.M1PhoneSet.Phn_L1{

}
/*GroupName:Hardcoded
Hide:true
Base:.M1_PackageBlue*/
.M1PhoneSet.Phn_L2{
    label-Color: blue;
}
