﻿/*GroupName:FromGeometry
GeometryType:LineString
Priority:800.0
*/
.Line_Random {
    line-Color: =context.GetColor(context.ID);
}
/*GroupName:FromGeometry
GeometryType:Point*/
.Point_Random {
    point-Color: =context.GetColor(context.ID);
	point-Halo: =Color.FromArgb(100,Color.FromArgb(context.GetColor(context.ID).ToArgb()^0xffffff));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_Random {
    polygon-FillColor: =Color.FromArgb(100,context.GetColor(context.ID));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_BorderRandom {
    polygon-BorderColor: =context.GetColor(context.ID);
}

/*Keyword*/
/*GroupName:FromGeometry
GeometryType:LineString*/
.Line_RandomFromKeyword {
    line-Color: =context.GetColor(c.DisplayName);
}
/*GroupName:FromGeometry
GeometryType:Point*/
.Point_RandomFromKeyword {
    point-Color: =context.GetColor(c.DisplayName);
	point-Halo: =Color.FromArgb(100,Color.FromArgb(context.GetColor(c.DisplayName).ToArgb()^0xffffff));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_RandomFromKeyword {
    polygon-FillColor: =Color.FromArgb(100,context.GetColor(c.DisplayName));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_BorderRandomFromKeyword {
    polygon-BorderColor: =context.GetColor(c.DisplayName);
}

/*FieldName*/
/*GroupName:FromGeometry
GeometryType:LineString*/
.Line_RandomFromFieldName {
    line-Color: =context.GetColor(c.ExtraName);
}
/*GroupName:FromGeometry
GeometryType:Point*/
.Point_RandomFromFieldName {
    point-Color: =context.GetColor(c.ExtraName);
	point-Halo: =Color.FromArgb(100,Color.FromArgb(context.GetColor(c.ExtraName).ToArgb()^0xffffff));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_RandomFromFieldName {
    polygon-FillColor: =Color.FromArgb(100,context.GetColor(c.ExtraName));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_BorderRandomFromFieldName {
    polygon-BorderColor: =context.GetColor(c.ExtraName);
}

/*Layer*/

/*GroupName:FromGeometry
GeometryType:LineString*/
.Line_RandomFromLayer {
    line-Color: =context.GetColor(c.Layer!=null?c.Layer.ID:null);
}
/*GroupName:FromGeometry
GeometryType:Point*/
.Point_RandomFromLayer {
    point-Color: =context.GetColor(c.Layer!=null?c.Layer.ID:null);
	point-Halo: =Color.FromArgb(100,Color.FromArgb(context.GetColor(c.Layer!=null?c.Layer.ID:null).ToArgb()^0xffffff));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_RandomFromLayer {
    polygon-FillColor: =Color.FromArgb(100,context.GetColor(c.Layer!=null?c.Layer.ID:null));
}

/*GroupName:FromGeometry
GeometryType:Polygon*/
.Polygon_BorderRandomFromLayer {
    polygon-BorderColor: =context.GetColor(c.Layer!=null?c.Layer.ID:null);
}


/*Symbol*/
/*GroupName:FromGeometry
GeometryType:Point*/
.SymbolFromKeyword {
	point-SymbolFile: =string.IsNullOrEmpty(c.DisplayName)?null:c.GetFile(string.Concat("GUI/icons/MapSymbolsKeyword/",c.DisplayName,".png"));
	point-SymbolAndVectorDraw: =string.IsNullOrEmpty(c.DisplayName);
}

/*GroupName:FromGeometry
GeometryType:Point*/
.SymbolFromFieldName {
	point-SymbolFile: =string.IsNullOrEmpty(c.ExtraName)?null:c.GetFile(string.Concat("GUI/icons/MapSymbolsKeyword/",c.ExtraName,".png"));
	point-SymbolAndVectorDraw: =string.IsNullOrEmpty(c.ExtraName);
}

/*GroupName:FromGeometry
GeometryType:Point*/
.SymbolFromLayer {
	point-SymbolFile: =(c.Layer==null)?null:c.GetFile(string.Concat("GUI/icons/",c.Layer.IconName,".png"));
	point-SymbolAndVectorDraw: =(c.Layer==null);
}

