/*GroupName:Symbols
GeometryType:Point
SingleSelectKey:Symbol
Priority:900.10
*/
.SymbolPin {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/Pin.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolLinePoint {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/LinePoint.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolFlag {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/Flag.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolPinPop {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/PinPop.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-9;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolStar {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/Star.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-9;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolPinPerson {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/PinPerson.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolCircle {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/Circle.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolSquare {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/SquarePoint.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-10;
}
/*GroupName:Symbols
GeometryType:Point
Priority:900.10
SingleSelectKey:Symbol*/
.SymbolTriangle {
	point-SymbolFile:%App%/GUI/icons/MapSymbols/Triangle.png;
	point-SymbolAndVectorDraw:False;
	label-OffsetY:-8;
}

/*Refereans Kopya*/
/*GroupName:Symbols
GeometryType:Point
Priority:900.202
SingleSelectKey:Symbol*/
.SymbolFromKeyword {
}

/*GroupName:Symbols
GeometryType:Point
Priority:900.204
SingleSelectKey:Symbol*/
.SymbolFromFieldName {
}

/*GroupName:Symbols
GeometryType:Point
Priority:900.20
SingleSelectKey:Symbol*/
.SymbolFromLayer {
}





/*GroupName:Symbols
GeometryType:Point
SingleSelectKey:SymbolSize
Priority:950.0
*/
.SmallSymbols {
   point-SymbolScale:0.7;
}

/*GroupName:Symbols
GeometryType:Point
SingleSelectKey:SymbolSize
Priority:950.0
*/
.BiggerSymbols {
   point-SymbolScale:1.5;
}

