﻿layer {
    /*
    point-Size:=Math.Abs(context.Data.ID.GetHashCode()%20)+5;//inmemory
    point-Color:=Color.FromArgb(200,(int)Math.Abs((context.Geometry.Centroid.Y/10000)%255),(int)Math.Abs((context.Geometry.Centroid.X/10000)%255),(int)Math.Abs((context.Geometry.Centroid.X/10000)%255));
    point-Halo: #00000000;
    */
    /*
    point-Color:$context.GetColor(context.ID) ;
    */
    polygon-BorderColor: #F27A32;
    polygon-BorderWidth: 1;
    polygon-FillColor: #A0A1E189;
	label-MaxWidth:150;
    label-AutoHeight:true;
	label-MaxVisible:3000000;
    /*
    point-SymbolRotate:30;
    point-SymbolFile:%App%/GUI/icons/GeodiLogo_32x32.png;
    point-Color:transparent;
    point-Halo:transparent;
    */
    line-Width: 2;
    /*
    line-OutlineColor: transparent !important;
    polygon-BorderColor: transparent !important;
    point-Halo: transparent !important;*/
    /*
        line-TwoPassDraw:false;
        polygon-TwoPassDraw:false;
        point-TwoPassDraw:false;
    */
}


/*---------------------------------------------- Line ----*/

/*GroupName:Line
GeometryType:LineString
Priority:300.0*/
.Line_White {
    line-Color: white;
    line-OutlineColor: black;
    line-OutlinePenStyle-DashStyle: Solid;
    line-PenStyle-DashStyle: Dot;
    line-PenStyle-CompoundArrayString: 0.0, 0.05, 0.45, 0.55, 0.95, 1.0;
}

/*GroupName:Line
GeometryType:LineString*/
.Line_Red {
    line-Color: Red;
    line-OutlineColor: White;
}

/*GroupName:Line
GeometryType:LineString*/
.Line_Yellow {
    line-Color: Yellow;
    line-OutlineColor: Black;
}

/*GroupName:Line
GeometryType:LineString*/
.Line_Green {
    line-Color: Green;
    line-OutlineColor: White;
}

/*---------------------------------------------- Point Color ----*/

/*GroupName:Point
GeometryType:Point
Priority:200.0
*/
.Point_Red {
    point-Color: Red;
}

/*GroupName:Point
GeometryType:Point*/
.Point_White {
    point-Color: white;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Yellow {
    point-Color: Yellow;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Blue {
    point-Color: Blue;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Green {
    point-Color: Green;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Black {
    point-Color: Black;
}

/*---------------------------------------------- Point Halo Color ----*/

/*GroupName:Point
GeometryType:Point*/
.Point_HaloRed {
    point-Halo: Red;
}

/*GroupName:Point
GeometryType:Point*/
.Point_HaloWhite {
    point-Halo: white;
}

/*GroupName:Point
GeometryType:Point*/
.Point_HaloYellow {
    point-Halo: Yellow;
}

/*GroupName:Point
GeometryType:Point*/
.Point_HaloBlue {
    point-Halo: Blue;
}

/*GroupName:Point
GeometryType:Point*/
.Point_HaloGreen {
    point-Halo: Green;
}

/*GroupName:Point
GeometryType:Point*/
.Point_HaloBlack {
    point-Halo: Black;
}

/*---------------------------------------------- Point Size ----*/

/*GroupName:Point
GeometryType:Point*/
.Point_Bigger {
    point-Size: 15;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Smaller {
    point-Size: 11;
}

/*GroupName:Point
GeometryType:Point*/
.Point_Smallest {
    point-Size: 8;
}

/*---------------------------------------------- Polygon FillColor ----*/

/*GroupName:Polygon
GeometryType:Polygon
Priority:400.0*/
.Polygon_Red {
    polygon-FillColor: #20FF0000;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_White {
    polygon-FillColor: #50FFFFFF;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_Yellow {
    polygon-FillColor: #50FFF333;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_Blue {
    polygon-FillColor: #503366FF;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_Green {
    polygon-FillColor: #50CCFFCC;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_Black {
    polygon-FillColor: #70000000;
}

/*---------------------------------------------- Polygon BorderColor ----*/

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderRed {
    polygon-BorderColor: Red;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderWhite {
    polygon-BorderColor: white;
}c

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderYellow {
    polygon-BorderColor: Yellow;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderBlue {
    polygon-BorderColor: Blue;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderGreen {
    polygon-BorderColor: Green;
}

/*GroupName:Polygon
GeometryType:Polygon*/
.Polygon_BorderBlack {
    polygon-BorderColor: Black;
}

/*-------------------------------------------------------------------------- Label Color ---*/

/*GroupName:Label
GeometryType:LineString,Point,Polygon
Priority:600
*/
.Label_Red {
    label-Color: Red;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_white {
    label-Color: white;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_Yellow {
    label-Color: Yellow;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_Blue {
    label-Color: Blue;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_Green {
    label-Color: Green;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_Black {
    label-Color: Black;
}

/*-------------------------------------------------------------------------- Label Halo Color ---*/

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_HaloRed {
    label-Halo: Red;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_Halowhite {
    label-Halo: white;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_HaloYellow {
    label-Halo: Yellow;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_HaloBlue {
    label-Halo: Blue;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_HaloGreen {
    label-Halo: Green;
}

/*GroupName:Label
GeometryType:LineString,Point,Polygon*/
.Label_HaloBlack {
    label-Halo: Black;
}

/*---------------------------------------------- Road ----*/

/*GroupName:Line
GeometryType:LineString*/
.Road {
    line-Color: yellow;
    line-OutlineColor: #000000;
    line-Width: 2;
    line-OutlineWidth: 2;
    label-Color: Yellow;
    label-Halo: Black;
    point-Color: OrangeRed;
    point-Size: 10;
    point-Halo: White;
    point-HaloWidth: 2;
}

/*GroupName:Line
GeometryType:LineString*/
.RoadPart {
    line-Color: red;
    line-Width: 1;
    /*line-PenStyle-DashStyle: Dash;*/
    line-OutlineColor: transparent;
    line-OutlineWidth: 0;
    label-Color: Yellow;
    label-Halo: Black;
    point-Color: #FFFFFF;
    point-Size: 8;
    point-Halo: black;
    point-HaloWidth: 5;
    /*line-TwoPassDraw:false;*/
}
/* Yola dik çizilen çizgiler için verilen özel class*/
/*GroupName:Line
GeometryType:LineString*/
.PerplineToRoad {
    line-Color: white !important;
    line-Width: 2 !important;
    line-OutlineColor: black !important;
    line-OutlineWidth: 1 !important;
}
