@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,700i&display=swap');
.sidebar-wrapper {
	top:78px;
}
.layout1-body {
	overflow-y:auto !important;
}
/* Facet */
.ESBody .sidebar-wrapper {
	position:fixed !important;
}
/* banner */

#topArea {
	display:none;
}
.banner {
	height: 140px !important;
}
.banner .bannerLeftSide .in {
	background: inherit;
    box-shadow: inherit;
	margin: 0;
}
.banner .bannerLeftSide .in .projectName {
	font-family: 'Poppins', sans-serif !important;
    color: #fff !important;
    font-size: 17px;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    font-weight: 400 !important;
}
/* banner hide */
.ESBody:not(.DLV) #topArea {
	margin-top: 80px;
	height: 0;
}
/* navbar */
.navbarArea {
	position: fixed;
	right: 0;
    left: 0;
    top: 0;
	height: 87px !important;
	transition: all .15s ease-out;
	z-index: 50;
}
.navbarArea .navbar-brand {
	width: 48px !important;
	border-right: none;
}
	.navbar .img-sidebarMobil24, .toggledBody .navbar .img-sidebarMobil24 {
	background-image: url(../../../../../img/svg/navigation-drawer-3.svg);
	}
.navbar-form #searchArea1.input-group {
	display: block;
}
.navbar-form .SearchTextBoxArea {
	display: inline-block;
    text-align: center;
    overflow: hidden;
	margin-top: 3px;
    width: 100% !important;
}
.SearchTextBoxArea{
	
	margin-bottom:100px;
}
.navbar .SearchTextBoxArea button.searchBorder {
	padding: 0px 15px !important;
	margin: 0px 2px !important;
    height: 26px;
    line-height: 22px;
	border-radius: 11px !important;
	background-color: #fff;
}
.navbar .SearchTextBoxArea button .modeBtnText {
    margin-top: 0px !important;
}
.navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a {
	background-color: transparent !important;
	border-left: none !important;
}
.qUploadCtrlStyle {
	width: 100%;
    max-width: 100%;
	margin-top: 48px;
	border-radius: 4px;
}
.qUploadCtrlStyle .upload-title {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.qUploadCtrlStyle .hoverForDrop {
	margin: 6px 0 12px 0 !important;
	width: 100%;
}	

/* search group */
#searchArea1.input-group {
	position: absolute;
    left: 320px;
    max-width: 1040px;
}

.toggledBody #searchArea1.input-group {
	left: 60px;
	max-width: 960px;
}
.navbar-form #searchArea1 .twitter-typeahead {
	height: 50px;
	margin: 0;
}
.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	border-radius: 24px;
	width: 100%;
	height: 40px;
}
.facetCountT, .qUpload, .saveQueryBtn {
	top: 19px;
}
.tt-dropdown-menu {
	max-width: 100%;
    border-radius: 6px;
	margin-top: 48px;
}

/* içerikler sağ bölüm */
.ESBody.DLV .page-content-wrapper {
	padding-right: 0px !important;
}
.page-content-wrapper {
	margin-top: 95px;
}
.ESBody.DLV.toggledBody:not(.FrameMode) .inDefaultPanel {
	padding-right: 315px !important;
	max-width: inherit !important;
}
.pnl-query-item .divPanelTitleText .inLink {
	font-family: 'Poppins', sans-serif !important;
}
.ESBody.DLV #divMain .ItemSelectedForAdvRight:before {
	display: none;
}
.inAdvRightPanel {
	width: 500px !important;
    right: 10px;
    left: inherit;
	border-radius: 4px;
	z-index: 1;
}
.toggled .inAdvRightPanel {
	left: inherit !important;
}

/* responsive */
@media (max-width: 1349px) {
	#searchArea1.input-group {
		left: 60px;
	}
	.toggledBody #searchArea1.input-group {
		right: 90px;
	}
}
@media (max-width: 991px) {
	.ESBody.DLV .inDefaultPanel {
		padding-right: 300px
	}
}
@media (max-width: 767px) {
	.ESBody.DLV:not(.FrameMode) .inDefaultPanel {
		padding-right: 15px !important;
	}	
	/*** ***/
	.input-group {
    	padding: 0;
	}
	.navbarArea {
		height: 62px !important;
	}
	.navbar-form #searchArea1.input-group {
		display: table;
	    position: relative;
	    left: inherit;
	    right: inherit;
	}
	.navbar .navbar-form {
		padding-left: 60px !important;
	}
	.navbar .SearchTextBoxArea button.searchBorder {
		padding: 0px 15px !important;
		height: 48px;
		margin: 0 0 0 -2px !important;
		border-radius: 0px 24px 24px 0px !important;
	}
	.navbar-form #searchArea1 .twitter-typeahead {
		margin: 0 -2px 0 0;
	}
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		border-radius: 24px 0 0 24px !important;
		height: 48px;
	}
	.facetCountT, .qUpload, .saveQueryBtn {
		top: 22px;
	}
	.navbar-form .SearchTextBoxArea {
		display: table-cell;
		width: 32px !important;
	}
	.navbar .SearchTextBoxArea button.searchBorder .img-default {
		display: block;
	}
	.qUploadCtrlStyle {
	    position: fixed;
		padding-top: inherit !important;
	    margin-top: 62px;
	    border-radius: 4px;
	    z-index: unset;
	}
	.navbar-form #searchArea1 .twitter-typeahead {
		height: 62px;
	}
	.upload-urlBox {
		width: 100%;
	}
	/* banner hide */
	#topArea {
		height: 0;
	}
	.ESBody.DLV .toggled .inDefaultPanel {
		padding-left: 15px !important;
		left: 0px;
	}	
	.page-content-wrapper {
		margin-top: 62px;
	}
	.FrameMode .page-content-wrapper{
		margin-top: 0px;
	}
	
}
@media (max-width: 480px) { 
	.banner .bannerLeftSide .in .projectName{
		font-size: 15px;
	}
	.banner .bannerLeftSide .in {
		flex-direction: initial;
	}
}