<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <span><a style="padding: 8px 12px;border: 1px solid #ED2939;border-radius: 2px;color: #ffffff;text-decoration: none;font-weight: normal;display: inline-block;"  class=”link” href="https://www.dece.com.tr/hakkimizda#iletisim" target="_blank">Bize Ulaşın</a></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>