<style type="text/css">
    .wide{height: 150px; background: url('/GUI/gumruk_ticaret/banner.jpg'); position: relative;}
    .wide .BanerLeftSide{position: absolute;padding-left: 10px;}
    .wide .BanerLeftSide .BannerLogo{}
    .wide .BanerLeftSide .BannerLogo img{max-height: 103px;}
    .wide .BanerLeftSide .BannerText{color: #ffffff;padding: 23px 8px;}
    .wide .BanerLeftSide .BannerTitle{font-size: 19pt;font-weight: bold;text-shadow: 1px 1px 2px black, 0 0 1em #a2a2a2, 0 0 0.2em #a2a2a2;margin-bottom: 3px;}
    .wide .BanerLeftSide .BannerExpert{font-size: 13pt;font-weight: bold;text-shadow: 1px 1px 2px black, 0 0 1em #a2a2a2, 0 0 0.2em #a2a2a2;}
    .wide .BanerRightSide{position: absolute;height: 100%; right: 0}
    .wide .BanerRightSide img{max-height: 100%}
    @media only screen and (max-width: 480px) {
        .wide .BanerRightSide img{display: none;}
    } 
</style>
<div class="wide">
    <div class="BanerLeftSide pull-left">
        <div class="BannerLogo pull-left">
            <img src="/GUI/gumruk_ticaret/logo.png">
        </div>
        <div class="BannerText pull-left">
            <div class="BannerTitle">PROJE BAŞLIĞI</div>
            <div class="BannerExpert">PROJE AÇIKLAMA</div>
        </div>
    </div>
    <div class="pull-right BanerRightSide">
        <img src="/GUI/gumruk_ticaret/logo.png">
    </div>
	
</div>