<style>
	.face_banner img{max-height: 40px;margin:10px 0;}
</style>
<div class="face_banner text-center">
	<a href="http://www.dece.com.tr/geodi" target="_blank">
    	<dcc:image src="~/GUI/img/sample_logo.png"  autorotate="false" />
	</a>
</div>