﻿<style>  
.banner{height: 135px;width: 100%;background-position: center center !important;text-align: center;position: relative;border-bottom: 2px solid #c7c7c7;background-repeat: no-repeat !important;background-size: cover !important;}
</style>
<div class="banner" style="background: url(../GUI/img/sample_banner.jpg);"></div>