﻿<style>
.grad {
    background: red;
    background: -webkit-linear-gradient(-90deg, #1FA1D3, #FFF);
    background: -o-linear-gradient(-90deg, #1FA1D3, #FFF);
    background: -moz-linear-gradient(-90deg, #1FA1D3, #FFF);
    background: linear-gradient(-90deg, #1FA1D3, #FFF);
    padding-left:20px;
    padding-top:15px;
    padding-bottom:25px;
    border-bottom: 1px solid #BBB;
}

#__startScreen .grad {
    background:none !important;
    border:none !important;
    text-align:center;
}

.intext {
  font-family:"Open Sans", "Roboto Condensed", sans-serif;
  font-size:2.6em;
  font-weight:bold;
  color: rgba(48,48,48,1);
}
</style>
<div class=grad>
    <div ><dcc:image src="~/GUI/icons/GeodiLogo_32x32.png" att_style="margin-top:-18px;margin-right:5px;" autorotate="false" />  <span class="intext">GEODI</span></div>
    <div><a href="http://www.dece.com.tr" target="_blank" style="margin-left:45px;" >www.dece.com.tr</a></div>
  
</div>