﻿

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jstree/jstree.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />

<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiWebEditorManager.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jstree/themes/proton/style.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jstree/themes/default/style.css" />

<dcc:item factoryname="IncludeCssResource" id="GeodiStyle" src="~/GUI/css/GeodiStyle.css" />


<dcc:item factoryname="StateForm" />




<div id="divEdit" class="modal-body form-horizontal">

    <div id="divGroupName" class="form-group">
        <label class="control-label col-xs-3" for="txtGroupName">Grup Adı</label>
        <div class="col-xs-9">
            <input type="text" id="txtGroupName" class="form-control">
        </div>
    </div>

    <div id="divUsers" class="form-group">
        <label class="control-label col-xs-3" for="txtUsers">Kullanıcılar</label>
        <div class="col-xs-9">
            <textarea type="text" id="txtUsers" class="form-control"> </textarea>
        </div>
    </div>


    <div id="divPerms" class="form-group">
        <label class="control-label col-xs-3" for="divPermissions">Yetkiler</label>
        <div class="col-xs-9">
            <div id="divPermissions"></div>
        </div>
    </div>




</div>
<div class="modal-footer itemEditFooter">
    <button type="button" class="btn btn-default" data-dismiss="modal" >[$default:close]</button>
    <button type="button" class="btn btn-primary" onclick="btnItemSave_Click()" >[$default:save]</button>
</div>



<script>
    function buildPermissionTree(container, scope) {
        for (var i = 0; i < scope.length; i++) {
            var node = {
                'text': '<span layerid="' + scope[i].ID + '">' + scope[i].DisplayName + '</span>',
                'icon': './GUIJsonService?op=getIco&IconName=' + scope[i].IconName + '&v=' + HttpUtility.GetVersionCode(),
                'id': scope[i].ID,
                'data': scope[i]
            };
            container.push(node);
            if (scope[i].Permissions && scope[i].Permissions.length > 0) {
                container[i].children = [];
                buildPermissionTree(container[i].children, scope[i].Permissions)
            }
        }
    }


    function CreatePermissionTree() {
        var treeObj = new Object();
        treeObj.plugins = ['checkbox', 'dnd']; //'contextmenu', 'dnd'
        // treeObj.plugins = ['checkbox', 'contextmenu'];
        treeObj.core = {

            'themes': { 'name': 'proton', 'responsive': true }
        };
        treeObj.core.data = [{ 'text': 'Yetkiler', 'id': '____Root_', 'state': { 'opened': true }, 'type': 'Parent', 'data': null }];
        treeObj.core.data[0].children = [];
        if (window.CurrentPermissionSet.__IsGroupItem) {
            var container = treeObj.core.data[0].children;
            for (var i = 0; i < window.CurrentPermissionSet.length; i++) {
                var perm = window.CurrentPermissionSet[i];
                var node = {
                    'text': perm.DisplayName,
                    //'icon': './GUIJsonService?op=getIco&IconName=' + scope[i].IconName,
                    'id': '____Root_' + i,
                    'data': perm, 'state': { 'opened': true }
                };
                node.children = [];
                container.push(node);
                buildPermissionTree(node.children, perm.Permissions);

            }

        }
        else {
            buildPermissionTree(treeObj.core.data[0].children, window.CurrentPermissionSet);
        }
        initPermissionTree(treeObj);
    }

    //$('#divPermissions').jstree('get_selected').length
    //$('#divPermissions').jstree('select_node', "GEODI.QUERY")
    //$('#divPermissions').jstree("deselect_all");
    var $jtreePermissions = $('#divPermissions');
    function initPermissionTree(treeObj) {
        if ($jtreePermissions.hasClass('jstree')) {
            $jtreePermissions.jstree(true).settings.core.data = treeObj.core.data;
            $jtreePermissions.jstree(true).refresh();
        }
        else {
            $jtreePermissions.jstree(treeObj);
        }
    }

    $(window).ready(function () {

        $.post('UserManagementService?op=GetAllPermissionSet',
           null, function (result, textStatus) {
               window.CurrentPermissionSet = result;
               window.CurrentPermissionSet.__IsGroupItem = true;
               CreatePermissionTree();
           });

    });

</script>

