﻿<dcc:panel permission="NOPERMISSION">
    <script type="dece-template" id="ActiveUserWidgetTemplate">
        <div class="table-responsive overflow-y-sm">
            <table class="table" id="users">
                <tr class="headerrow"><th>User</th><th>Login Time</th><th>Last Access Time</th><th>Diff</th><th>IP</th></tr>
            </table>
        </div>
    </script>
    <script type="dece-template" id="ActiveUserWidgetExtraToolTemplate">
        <a id="userRefreshBtn" style="cursor: pointer; position: relative; top: 10px" onclick="__refreshUsers(this)"><i id="usersRefresh" class="fa fa-refresh"></i></a>
    </script>
    <script>
        window.WidgetList.push({ Type: "ActiveUserWidget", Text: "[$WidgetResources:default_ActiveUsers/js]", Icon: "fa fa-users", Sortable: true });
        if (!window.DeceWidget)
            window.DeceWidget = {};
        function __refreshUsers(target) {
            var instance = $(target).closest(".ActiveUserWidget").data("instance");
            instance.__refreshUser();
        }
        window.DeceWidget.ActiveUserWidget = function () {
            var pThis = this;
            this.Type = "ActiveUserWidget";
            this.targetDom = null;
            this.tools = {
                chartType: false,
                stacked: false,
                query: false,
                layers: false,
                horizontalAxis: false,
                dataset: false,
                functions: false,
                fullscreen: false,
                forceShowExtraOptionsForQuery: false,
                ButtonTemplates: ["#ActiveUserWidgetExtraToolTemplate"]
            };
            this.__refreshUser = function () {
                $("#users tr", pThis.targetDom).not(".headerrow").remove();
                $("#usersRefresh", pThis.targetDom).addClass("glyphicon-refresh-animate");
                $.post(HttpUtility.ResolveUrl("~/UserManagementService?op=GetActiveUsers"), {}, function (data) {
                    $("#usersRefresh", pThis.targetDom).removeClass("glyphicon-refresh-animate");


                    if (data) {

                        $("#usersCount", pThis.targetDom).html("<b>" + FormatNumber(data.length) + "</b> oturum ");
                        data.sort(function (b, a) {
                            if (a.UTCAccessTime && !b.UTCAccessTime) return -1;
                            else if (b.UTCAccessTime && !a.UTCAccessTime) return 1;
                            else if (!b.UTCAccessTime && !a.UTCAccessTime) return 0;
                            else if (a.UTCAccessTime.UTC < b.UTCAccessTime.UTC) return -1;
                            else if (a.UTCAccessTime.UTC > b.UTCAccessTime.UTC) return 1;
                            else return 0;
                        });



                        $.each(data, function (key, value) {
                            var lTime = value.UTCTime ? parseNetDate(value.UTCTime) : null;
                            var lATime = value.UTCAccessTime ? parseNetDate(value.UTCAccessTime) : null;

                            var mTime = lTime ? moment(lTime) : null;
                            var mATime = lATime ? moment(lATime) : null;
                            $("#users", pThis.targetDom).append(
                                "<tr>" +
                                "<td><img src='" + HttpUtility.ResolveUrl("~/GUI/icons/16x16/Action/" + (value.IsNoBrowserTokenUser?"learn":"admin")+".png?2", true, true) + "'> " + value.UniqueName + "</td>" +
                                "<td><span>" + (mTime ? mTime.format('LLLL') + '</span><small>' + '(' + mTime.fromNow() + ')' : "") + '</small></td>' +
                                "<td><span>" + (mATime ? mATime.format('LLLL') + '</span><small>' + '(' + mATime.fromNow() + ')' : "") + '</small></td>' +
                                "<td><span>" + ((lTime && lATime) ? FormatSecond((lATime - lTime) / 1000, 1) : "") + "</span></td>" +
                                "<td><span class='label label-success'>" + (value.IsNoBrowserTokenUser?"":value.IP) + "</span></td>" +

                                "</tr>"
                            );

                        })

                    }

                });
            }
            this.__settingsDefault = {
                rowOverlay: 12
            };
            this.setSettings = function (newSettings) {
                pThis.settings = newSettings;
                pThis.update(true);
            };
            this.getSettings = function () {
                return pThis.settings;
            };
            this.update = function () { };
            this.destroy = function () {
                this.targetDom.empty();
            };
            this.init = function () {
                if (this.targetDom === null) return false;
                this.targetDom.data("instance", this);
                if (!this.settings)
                    this.settings = {};
                $.extend(this.__settingsDefault, this.settings);
                this.settings = this.__settingsDefault;
                this.targetDom.addClass("ActiveUserWidget");
                this.widgetTools = window.DeceWidget.DeceWidgetContainer(pThis, $("#ActiveUserWidgetTemplate"), null);
                this.widgetTools.callback = function (settings, eventName) {
                    $.extend(pThis.settings, settings);
                    switch (eventName) {
                        case "no_frame":
                            pThis.destroy();
                            pThis.init();
                            break;
                        case "rowOverlay":
                            $(".rowOverlay", pThis.targetDom).val(pThis.settings.rowOverlay).change();
                            break;
                    }
                }
                this.__refreshUser();
            };
            return this;
        };
    </script>

</dcc:panel>