﻿<dcc:panel permission="NOPERMISSION">
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/canvas/chartjs_org/Chart.bundle.min.js" />
    <script type="dece-template" id="SystemInformationWidgetTemplate">
        <div id="info1"></div>
        <div><canvas id="sysinfo"></canvas></div>
    </script>
    <script>

        window.WidgetList.push({ Type: "SystemInformationWidget", Text: "[$WidgetResources:default_SysInfo/js]", Icon: "fa fa-info-circle", Sortable: true });

        if (!window.DeceWidget)
            window.DeceWidget = {};


        window.DeceWidget.SystemInformationWidget = function () {
            var pThis = this;
            this.Type = "SystemInformationWidget";
            this.targetDom = null;
            this.tools = {
                fullscreen: true
            };
            this.__settingsDefault = {
                showAvaliableMemory: true,
                showTotalMemory: true,
                showAppMemory: true,
                showAppMaxMemory: true,
                showCPU: true,
                showCPUMax: true,
                rowOverlay: 12,
                hideWidgetColor: true
            };
            this.setSettings = function (newSettings) {
                pThis.settings = newSettings;
                pThis.update(true);
            };
            this.getSettings = function () {
                return pThis.settings;
            };
            this.update = function () {
                //this.destroy();
                this._refresh();
            }
            this._refresh = function () {
                window.clearTimeout(pThis.__tmr);
                $.post(HttpUtility.ResolveUrl("~/DeceSystemInfoWebHandler?op=GetSystemInfo"), {}, function (data) {
                    if (data) {
                        var j = $("#info1", pThis.targetDom);
                        j.html("");
                        j.append("<div>App: " + data["App"] + " " + data["AppVersion"] + "</div>");
                        j.append("<div>RequestIP: " + data["RequestIP"] + "</div>");

                        if (pThis.sysData) {
                            var dataset = pThis.sysData.data.datasets;
                            if (pThis.sysData.data.labels.length < 100)
                                pThis.sysData.data.labels.push("");
                            if (dataset[0].data.length >= pThis.sysData.data.labels.length) {
                                dataset[0].data.splice(0, dataset[0].data.length - pThis.sysData.data.labels.length);
                                dataset[1].data.splice(0, dataset[1].data.length - pThis.sysData.data.labels.length);
                                dataset[2].data.splice(0, dataset[2].data.length - pThis.sysData.data.labels.length);
                                dataset[3].data.splice(0, dataset[3].data.length - pThis.sysData.data.labels.length);
                                dataset[4].data.splice(0, dataset[4].data.length - window.sysData.data.labels.length);
                                dataset[5].data.splice(0, dataset[5].data.length - window.sysData.data.labels.length);
                            }
                            dataset[0].data.push(data["AvaliableMemory"])
                            dataset[1].data.push(data["TotalMemory"])
                            dataset[2].data.push(data["AppMemory"])
                            dataset[3].data.push(data["AppMaxMemory"])
                            dataset[4].data.push(data["CPU"])
                            dataset[5].data.push(data["CPUMax"])
                            pThis.sysChart.update();
                        }
                        else {
                            var ctx = $("#sysinfo", pThis.targetDom)[0].getContext('2d');
                            pThis.sysData = {
                                type: 'line',
                                data: {
                                    labels: [""],
                                    datasets: [
                                        {
                                            label: "AvaliableMemory",
                                            data: [data["AvaliableMemory"]],
                                            backgroundColor: "#FF000050",
                                            borderColor: "#FF000050",
                                            pointRadius: 0,
                                            fill: false,
                                            hidden: (!pThis.settings.showAvaliableMemory)
                                        },
                                        {
                                            label: "TotalMemory",
                                            data: [data["TotalMemory"]],
                                            backgroundColor: "#00FF0050",
                                            borderColor: "#00FF0050",
                                            pointRadius: 0,
                                            fill: false,
                                            hidden: (!pThis.settings.showTotalMemory)
                                        },
                                        {
                                            label: "AppMemory",
                                            data: [data["AppMemory"]],
                                            backgroundColor: "#0000FF50",
                                            borderColor: "#0000FF50",
                                            pointRadius: 0,
                                            fill: true,
                                            hidden: (!pThis.settings.showAppMemory)
                                        },
                                        {
                                            label: "AppMaxMemory",
                                            data: [data["AppMaxMemory"]],
                                            backgroundColor: "#CC552250",
                                            borderColor: "#CC552250",
                                            pointRadius: 0,
                                            fill: false,
                                            hidden: (!pThis.settings.showAppMaxMemory)
                                        },
                                        {
                                            label: "CPU",
                                            data: [data["CPU"]],
                                            backgroundColor: "#75beff50",
                                            borderColor: "#75beff50",
                                            pointRadius: 0,
                                            fill: false,
                                            hidden: (!pThis.settings.showCPU)
                                        },
                                        {
                                            label: "CPUMax",
                                            data: [data["CPUMax"]],
                                            backgroundColor: "#0088ff50",
                                            borderColor: "#0088ff50",
                                            pointRadius: 0,
                                            fill: false,
                                            hidden: (!pThis.settings.showCPUMax)
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    elements: {
                                        tension: 0.001
                                    },
                                    animation: {
                                        animateRotate: true,
                                        animateScale: true
                                    },
                                    tooltips: {
                                        position: "average",
                                        mode: 'index',
                                        intersect: false
                                    }
                                }
                            };
                            pThis.sysChart = new Chart(ctx, pThis.sysData);
                        }

                    }
                    pThis.__tmr = window.setTimeout(pThis._refresh, 10000);

                }, "json");
            };
            this.destroy = function () {
                if (pThis.sysChart)
                    pThis.sysChart.destroy();
                delete pThis.sysChart;
                delete pThis.sysData;
                this.targetDom.empty();
            };
            this.init = function () {
                if (this.targetDom === null) return false;
                this.targetDom.data("instance", this);
                if (!this.settings)
                    this.settings = {};
                $.extend(this.__settingsDefault, this.settings);
                this.settings = this.__settingsDefault;
                this.targetDom.addClass("SystemInformationWidget");
                this.widgetTools = window.DeceWidget.DeceWidgetContainer(pThis, $("#SystemInformationWidgetTemplate"), null);
                this.widgetTools.callback = function (settings, eventName) {
                    $.extend(pThis.settings, settings);
                    switch (eventName) {
                        case "no_frame":
                            pThis.destroy();
                            pThis.init();
                            break;
                        case "rowOverlay":
                            $(".rowOverlay", pThis.targetDom).val(pThis.settings.rowOverlay).change();
                            break;
                    }
                }
                this.update();
            };
            return this;
        };
    </script>
</dcc:panel>