
.layout1-body {
	overflow-y:auto !important;
}
/* Facet */
.ESBody .sidebar-wrapper {
	position:fixed !important;
}
/* banner */

.dc-search-group{
	height: 60px
}

#topArea {
	color: #fff;
	text-align: center;
	margin-top: 62px;
	height: 200px;
	background-color: #2D3144;
}
.FrameMode #topArea{
	display: none !important
}

.ESScroll-down.ESBody.DLV. #topArea,
.ESScroll-down.ESBody.KLV. #topArea {
	margin-top: 80px;
}
#topArea .banner {
	height: 200px;
}
.banner .bannerLeftSide .in {
	background: inherit;
    box-shadow: inherit;
	margin: 0;
}
.banner .bannerLeftSide .in .projectName{
	color: inherit !important;
	font-size: 22px ;
}
.banner .bannerLeftSide {
	height: auto !important;
}
/* banner hide */

.sidebar-wrapper .banner {
	display: none;
}
/* navbar */
.navbarArea {
	position: fixed;
	right: 0;
    left: 0;
    top: 0;
	height: 62px !important;
	transition: all .15s ease-out;
	z-index: 50;
}
.navbarArea .navbar-brand {
	width: 60px !important;
	border-right: none;
}
.navbar .img-sidebarMobil24, .toggledBody .navbar .img-sidebarMobil24 {
	background-image: url(../../../../img/svg/navigation-drawer-3.svg);
}
.navbar-form .input-group {
	display: block;
}
.ESScroll-down.ESBody .navbar-form .input-group{
	margin-right: 15px
}
.navbar-form .SearchTextBoxArea {
	display: block;
	text-align: center;
	overflow: hidden;
}
/** **/
.navbar .SearchTextBoxArea button.searchBorder {
	padding: 0px 15px !important;
	margin: 0 2px 0 0 !important;
    height: 26px;
    line-height: 22px;
	border-radius: 11px !important;
	background-color: #fff;
}

.navbar .SearchTextBoxArea button .modeBtnText {
    margin-top: 0px !important;
}
.navbarArea .navbar-right > li.dropdown, .navbarArea .navbar-right > li > a {
	background-color: transparent !important;
	border-left: none !important;
}
.qUploadCtrlStyle {
	width: 100%;
    max-width: 100%;
	margin-top: 48px;
	border-radius: 4px;
}
.ESBody.DLV .qUploadCtrlStyle {
	margin-top: 55px;
}
.ESScroll-down.ESBody.DLV .qUploadCtrlStyle {
    padding-top: inherit !important;
    margin-top: 48px;
    border-radius: 4px;
    z-index: 1;
}
.qUploadCtrlStyle .hoverForDrop {
	margin: 6px 0 12px 0 !important;
	width: 100%;
}
/* navbar bodyScroll olduğunda */
.ESScroll-down.ESBody.DLV .input-group {
	top: inherit !important;
}
.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	height: 40px;
	line-height: 40px;
}
.facetCountT, .qUpload, .saveQueryBtn {
	top: 19px;
}
.ESBody.DLV .facetCountT, .ESBody.DLV .qUpload, .ESBody.DLV .saveQueryBtn {
	top: 25px;
}
.ESScroll-down.ESBody.DLV .facetCountT, .ESScroll-down.ESBody.DLV .qUpload, .ESScroll-down.ESBody.DLV .saveQueryBtn {
	top: 19px;
}

/* search group */
.input-group {
	position: absolute;
    top: 160px;
    left: 320px;
	right: 550px;
    max-width: 1040px;
}



.ESBody.KLV #searchArea1{
	top: 0 !important;
}

.toggledBody .input-group {
	left: 60px;
	max-width: 960px;
}

.ESBody.DLV .bannerLeftSide {
    display: block;
	padding-left: 300px;
    padding-right: 0px;
	min-height: 85px;
}
.ESBody.DLV.toggledBody .bannerLeftSide {
	padding-left: 0px;
}
.navbar-form #searchArea1 .twitter-typeahead {
	height: 50px;
	margin: 0;
}
.navbar-form #searchArea1 .twitter-typeahead {
	display: block;
}
.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead {
	height: 62px;
	width: 100% !important;
	margin: 0;
}
.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead {
	height: 50px;
}

.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	border-radius: 24px;
	width: 100%;
	height: 40px;
}
.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	height: 48px;
}
.tt-dropdown-menu {
	max-width: 100%;
    border-radius: 6px;
	margin-top: 0px;
}
.ESBody.DLV .tt-dropdown-menu {
	margin-top: -7px;
}
.ESScroll-down .tt-dropdown-menu {
	margin-top: 0px !important;
}
/* içerikler sağ bölüm */
.ESBody.DLV:not(.FrameMode) .page-content-wrapper {
	margin-top: 20px;
	padding-right: 540px;
}
.inDefaultPanel {
	max-width: inherit !important;
}
.ESBody.DLV #divMain .ItemSelectedForAdvRight:before {
	display: none;
}
.inAdvRightPanel {
	bottom: unset !important;
	margin-top: 25px !important;
	width: 500px !important;
    right: 15px;
    left: inherit;
	border-radius: 4px;
}
.toggled .inAdvRightPanel {
	left: inherit !important;
}
/* responsive */
@media (max-width: 1366px) {
	.ESBody.DLV .toggled  .page-content-wrapper {
		padding-right: 300px;
	}
	.input-group {
		left: 60px;
	}
	.toggledBody .input-group {
		right: 90px;
	}
	.ESBody.DLV .bannerLeftSide {
		padding-left: 0;
	}
	.ESBody.DLV.toggledBody .bannerLeftSide {
		padding-left: 0px;
	}
}
@media (min-width: 991px) {
	.navbar .SearchTextBoxArea button .modeBtnText {
		display: block;
	}		
}
@media (max-width: 991px) {
	.navbar .SearchTextBoxArea button .img-default {
		display: block;
	}
	.ESBody.DLV .bannerLeftSide {
		padding-left: 0;
	    padding-right: 0
	}
	

}
@media (min-width: 767px) {
	
	.ESBody.KLV .navbarArea {
		height: 95px !important;
	}
	.ESScroll-down.ESBody.DLV .navbarArea,
	.ESScroll-down.ESBody.KLV .navbarArea {
		height: 95px !important;
	}
	.ESBody #searchArea1{
		top: 160px !important;
	}
	.ESBody.KLV #topArea{
		margin-top: 95px
	}
}
@media (max-width: 767px) {
	
	.navbar-form .input-group {
		right: 40px;
	}
	.ESBody.KLV .input-group {
		top: 0 !important;
	}
	.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		width: 100%;
	}

	.dc-search-group{
		height: 48px;
	}
	
	/*** ***/
	.ESScroll-down.ESBody.DLV .navbarArea,
	.ESScroll-down.ESBody.KLV .navbarArea {
		height: 62px !important;
	}
	.navbar-form .input-group {
		display: table;
	    position: relative;
	    left: inherit;
	    right: inherit;
		padding-left: 0px;
	}
	.ESBody.DLV .input-group {
		position: relative;
		top: 0 !important;
	}
	.navbar .navbar-form {
		padding-left: 60px !important;
	}
	.navbar .SearchTextBoxArea button.searchBorder {
		padding: 0px 15px !important;
		height: 48px;
		margin-left: -2px !important;
		border-radius: 0px 24px 24px 0px !important;
	}
	.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead {
		width: inherit !important;
		margin: 0 -2px 0 0;
	}
	.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead {
		margin: 0 -2px 0 0;
	}
	.ESScroll-down.ESBody.DLV .facetCountT, .ESScroll-down.ESBody.DLV .qUpload, .ESScroll-down.ESBody.DLV .saveQueryBtn {
		top: 22px;
	}
	
	.ESScroll-down.ESBody.DLV .navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		width: 100%;
		height: 48px;
	}
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		border-radius: 24px 0 0 24px !important;
		height: 48px;
	}
	.facetCountT, .qUpload, .saveQueryBtn {
		top: 22px;
	}
	.navbar-form .SearchTextBoxArea {
		display: table-cell;
	}
	.ESBody.DLV .qUploadCtrlStyle  {
		position: fixed;
		padding-top: inherit !important;
	    margin-top: 62px;
	    border-radius: 4px;
	    z-index: unset;
	}
	.ESScroll-down.ESBody.DLV .qUploadCtrlStyle {
    	margin-top: 62px;
	}
	.qUploadCtrlStyle {
	    position: fixed;
		padding-top: inherit !important;
	    margin-top: 62px;
	    border-radius: 4px;
	    z-index: unset;
	}
	.upload-urlBox {
		width: 100%;
	}
}

@media (max-width: 480px) { 
	.ESBody.DLV .page-content-wrapper {
		padding-right: 0px !important;
	}
	.banner .bannerLeftSide .in .projectName{
		font-size: 15px;
	}
	.banner .bannerLeftSide .in {
		flex-direction: initial;
	}
}