[=/
if(c.AppName=="MOBIDI Office"){
	var mobidiJsonFile=c["mobidi"\].DeceCodeFolder("Settings\\LogoData\\LogoInfo.json");

	if(System.IO.File.Exists(mobidiJsonFile))
		c.SetHttpItem("AppReport_JSON", c.FromJson(System.IO.File.ReadAllText(mobidiJsonFile)));
}

if(c.AppName=="GEODI")
try{
	var geodiJsonFile=System.String.Concat(c["geodi"\].GetWS().GetWorkspaceFolder(),"\\Settings\\LogoData\\LogoInfo.json");

	if(System.IO.File.Exists(geodiJsonFile))
		c.SetHttpItem("AppReport_JSON", c.FromJson(System.IO.File.ReadAllText(geodiJsonFile)));
} catch {}
]

<style type="text/css">
	.divPadding{
		padding: 5px;
    	font-family: 'Open Sans', sans-serif;
    	color: #444
	}
	.hrContainer{
		margin: 15px auto 0 auto;
		text-align: -webkit-center
	}

	.hrPageSize{
		margin:10px;
		margin: 10px 0;
		max-width: 1160px;
		width: 100%
	}

	.tbFooterContainer{
		margin: 10px;
		border: 1px solid #999;
		font-size:13px;
		text-align: -webkit-center;
		background-color: #f7f7f7;
		page-break-inside: avoid
	}

	.tbPageSize{
		text-align: center;
		width: 100%
	}

	.tdHalfSize{
		width: 50%;
		vertical-align: top
	}

	.tdAlignLeft{
		text-align: left;
		vertical-align: top
	}
</style>
<dcc:panel visible='=c.GetHttpItem("AppReport_JSON")!=null'>
	<div class="tbPageSize">
		<div class="hrContainer divPadding">
			<hr class="hrPageSize">
		</div>
		<div class="tbFooterContainer">
			<table class="tbPageSize">
				<tbody>
					<tr>				
						<td class="tdHalfSize">
							<div class="divPadding" style="margin-top:0 !important">
								[=c.GetHttpItem("AppReport_JSON")["Address"\]]<br />
								<span>[=c.GetHttpItem("AppReport_JSON")["District"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["Town"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["City"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["Country"\]]</span>
							</div>	
							<div class="divPadding">
								<span>[=c.GetHttpItem("AppReport_JSON")["Tax_Number"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["Tax_Office"\]]</span>
							</div>						
						</td>
						<td class="tdAlignLeft">		
							<div class="divPadding">
								<span>[=c.GetHttpItem("AppReport_JSON")["Company_Mail"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["Company_Website"\]]</span>
							</div>
							
							<div class="divPadding">
								<span>[=c.GetHttpItem("AppReport_JSON")["Company_Phone"\]+"  "]</span>
								<span>[=c.GetHttpItem("AppReport_JSON")["Company_FaxNo"\]]</span>
							</div>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</dcc:panel>	