[=/
if(c.AppName=="MOBIDI Office"){
	var mobidiJsonFile=c["mobidi"\].DeceCodeFolder("Settings\\LogoData\\LogoInfo.json");
	var mobidiLogo=c["mobidi"\].DeceCodeFolder("Settings\\LogoData\\Logo.png");

	if(System.IO.File.Exists(mobidiJsonFile))
		c.SetHttpItem("AppReport_JSON", c.FromJson(System.IO.File.ReadAllText(mobidiJsonFile)));
	if(System.IO.File.Exists(mobidiLogo))
		c.SetHttpItem("AppReport_Logo", System.IO.File.ReadAllBytes(mobidiLogo));
}

if(c.AppName=="GEODI")
try{
	var geodiLogo=System.String.Concat(c["geodi"\].GetWS().GetWorkspaceFolder(),"\\Settings\\LogoData\\Logo.png");
	var geodiJsonFile=System.String.Concat(c["geodi"\].GetWS().GetWorkspaceFolder(),"\\Settings\\LogoData\\LogoInfo.json");

	if(System.IO.File.Exists(geodiJsonFile))
		c.SetHttpItem("AppReport_JSON", c.FromJson(System.IO.File.ReadAllText(geodiJsonFile)));
	if(System.IO.File.Exists(geodiLogo))
		c.SetHttpItem("AppReport_Logo", System.IO.File.ReadAllBytes(geodiLogo));
} catch {}
]
<style type="text/css">
	.pCompanyName{
		font-weight: bold;
		font-size:20px;
		margin-bottom: 10px;
	}

	.tbHeaderContainer{
		margin: 10px;
		border: 1px solid #999;
		font-size:13px;
		text-align: -webkit-center;
		background-color: #f7f7f7
	}

	.tbPageSize{
		text-align: center;
		width: 100%
	}

	.tdHalfSize{
		width: 50%;
		vertical-align: top;
	}

	.tdAlignLeft{
		text-align: left;
		vertical-align: top
	}
	.hdLogoContainer{
		height: 75px;
		display: flex;
	    justify-content: center;
	    align-items: center;	    
	}
</style>
<dcc:panel visible='=c.GetHttpItem("AppReport_Logo")!=null || c.GetHttpItem("AppReport_JSON")!=null'>
	<div class="tbHeaderContainer">
		<table class="tbPageSize">
			<tbody>
				<tr>	
					<td class="tdHalfSize">
						<dcc:panel visible='=c.GetHttpItem("AppReport_Logo")!=null'>
							<div class="hdLogoContainer">
								<dcc:image format="png" att_style="max-height:75px" src='=c.GetHttpItem("AppReport_Logo");' />
							</div>
						</dcc:panel>							
					</td>
					<td class="tdAlignLeft">				
						<dcc:panel visible='=c.GetHttpItem("AppReport_JSON")!=null'>			
							<p class="pCompanyName">[=c.GetHttpItem("AppReport_JSON")["CompanyName"\]]</p>
						</dcc:panel>
					</td>		
				</tr>
			</tbody>
		</table>
	</div>
</dcc:panel>