﻿
	<style>
	<dcc:ResourceControl src="GUI/css/bootstrap.min.css" />
	</style>
	<style>
	.grp {
	 white-space: nowrap;
	}
	
	.rp-tooltip {
		cursor:default;
		position:relative;
	}
	.rp-tooltip .rp-tooltiptext {
	  bottom:0px;
	  left:20px;
	  visibility: hidden;
	  text-align: justify;
	  position: absolute;
	  z-index: 1;
	  opacity: 0;
	  box-shadow: 2px 2px 11px -2px rgb(0 0 0 / 27%);
	}

	.rp-tooltip:hover .rp-tooltiptext {
		  visibility: visible;
		  opacity: 1;
	}
	
	label {
		
	}
	.inIco {
		vertical-align: middle;
		padding: 1px;
		padding-right:5px;
	}
	</style>	