﻿
	<h2>Server Info</h2>
		<ul>
		<li><label>Time : </label> [=DateTime.Now]</li>
		<li><label>Start Time : </label> [=c.AppStartTime] <small class=text-muted>( [=(DateTime.Now -c.AppStartTime ).TotalMinutes.ToString("#,##0.00") ] minutes )</small></li>
		<li><label>Online User Count : </label> [=c["logservice"\].GetActiveUsersArray().Length.ToString("#,##0")]</li>
		<dcc:repeater data='c.OrderBy(c.GetSystemInfo(true),"=Data.Key")'>
			<li><label>[=Data.Key] : </label> [=Data.Value]</li>
		</dcc:repeater>
		
		<li><label>Drives</label>
		<ul>
			<dcc:repeater data='c["logservice"].GetDirves()'>
			<li><label>[=Data.Name] ( [=Data.DriveType]  ) : </label>
			<dcc:panel visible="=d.IsReady">
				[=((long)Data.AvailableFreeSpace).FormatBytes()] free / [=((long)Data.TotalSize).FormatBytes()]  total
			</dcc:panel>
			</li>
		</dcc:repeater>		
		</ul>
		</li>
		</ul>
		
        <h2>Modules</h2>
        <ul>
            <dcc:repeater data='c.RestApi("ModuleUpdateHandler","GetInstalledModules",false)'>
                <li>[=d.ModuleName] ( Ver: [=d.ModuleVersion] )	</li>
            </dcc:repeater>
        </ul>
