﻿<dcc:item factoryname="IncludeCssResource" src="~/GUI/Custom/WidgetTools/css/DeceWidgetStyle.css"></dcc:item>
<dcc:item factoryname="ResourceControl" src="GUI/Control/SystemIcons.view.html" />


<style>
    .nonPrintable {
        display: none !important;
    }

    .noPrintInScript {
        display: none !important;
    }

    .printTargetInScript {
        position: absolute !important;
        
        width: 100%;
        margin: 0px !important;
        left: 0px !important;
        top: 0px !important;
        padding: 0px !important;
    }

    .printTargetInScript.scrollable-content {
        overflow: visible !important;
    }
    .printTargetInScript.non-scrollable{
        overflow: auto !important;
    }
    body.printTargetInScript {
        
    }

    .printTargetMainInScript {
        padding: 50px;
        min-width:50%;
        height: unset !important;
    }
</style>
<script>
    function PrintElem(elem) {
        $("*").addClass("noPrintInScript");
        elem.parents("*").removeClass("noPrintInScript");
        elem.removeClass("noPrintInScript");
        $("*", elem).removeClass("noPrintInScript");
        elem.addClass("printTargetInScript");
        elem.parents("*").addClass("printTargetInScript");
        elem.addClass("printTargetMainInScript");


        elem.width("776px");
        var w1 = 0;
        var wmaxLimit = $(window).width() * 2;
        $("*", elem).each(function () {
            var dom = $(this);
            if (dom.css("position") != "absolute" && dom.css("overflow") != "visible") {
                var w = dom.width();
                if (w > w1 && w <= wmaxLimit)
                    w1 = w;
            }
        });
        elem.width("unset");
        var oldZoom = null;
        if (w1 && w1 > 777) {
            oldZoom = elem.css("zoom");
            if (!oldZoom) oldZoom = "unset";
            elem.css("zoom", (777 / w1));
        }

        window.print();
        
        elem.removeClass("printTargetMainInScript");
        $("*").removeClass("noPrintInScript");
        $("*").removeClass("printTargetInScript");
        if (oldZoom)
            elem.css("zoom", oldZoom);




    }
</script>

<script type="dece-template" id="__defaultWidgetPanel">
    <d:r visible="context.settings.noframe">

        <d:r visible="context.tools && !context.tools.hideTools">
            <div class="widget-outer-tools defaulttools {{ context.tools.directionTools=='left'?'widget-outer-tools-left':''}}">
                {{ TemplateToHtml($("#__defaltWidgetTools"), data,context)  }}
            </div>
        </d:r>

        <div class="widget-inpanel-area widget-inpanel {{ context.settings.widgetColor?context.settings.widgetColor:"" }} {{context.settings.specialClasses?context.settings.specialClasses.join(' '):""}}">
            {{ TemplateToHtml(context.__PanelTemplate, data,context)  }}
        </div>
    </d:r>

    <d:r visible="!context.settings.noframe">
        <div class="panel panel-default widget-inpanel-area {{ context.settings.widgetColor?context.settings.widgetColor:"" }} {{context.settings.specialClasses?context.settings.specialClasses.join(' '):""}}">

            <d:r visible="!context.notools">
                <div class="panel-heading clearfix {{context.settings.description && context.settings.description.length > 0 ? 'descriptionHeight' : ''}}">
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-7 pd-lf-none">
                        <h4 class="panel-title" title="{{context.settings.title}}">
                            <d:r visible="context.settings.icon">
                                <img class="widgetIconView" src="{{'GUIJsonService?op=getIco&amp;IconName='+context.settings.icon }}">
                            </d:r>

                            <span id="widgetTitle">{{context.settings.title}}</span>
                        </h4>
                        <d:r visible="context.settings.description && !context.settings.hideDescription">
                            <div class="wDescriptionDiv">
                                <small id="widgetDescription">{{context.settings.description}}</small>
                            </div>
                        </d:r>
                    </div>

                    <div class="btn-group pull-right tools col-xs-4 col-sm-3 col-md-3 col-lg-5">
                        <d:r visible="context.tools && !context.tools.hideTools">
                            <div class="defaulttools pull-right">
                                {{ TemplateToHtml($("#__defaltWidgetTools"), data,context)  }}
                            </div>
                        </d:r>
                    </div>
                </div>
            </d:r>


            <div class="panel-body widget-inpanel">
                {{ TemplateToHtml(context.__PanelTemplate, data,context)  }}
            </div>
        </div>
    </d:r>
</script>

<script type="dece-template" id="__settingsTemplate">

    <div class="modal fade modal-wide widgetModalSettings" id="modalSetting_{{context.Id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="[$default:close/html]"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">[$default:settings/html]</h4>
                </div>
                <div class="modal-body" style="        max-height: 600px;
        overflow-y: scroll">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#genericSettings_{{context.Id}}" aria-controls="genericSettings1" role="tab" data-toggle="tab">[$WidgetResources:generic_settings/html]</a>
                        </li>
                        <d:r visible="context.__isVisibleAdvancedSettings()">
                            <li role="presentation">
                                <a href="#widgetAdvancedSetttings_{{context.Id}}" aria-controls="widgetAdvancedSetttings1" role="tab" data-toggle="tab">[$WidgetResources:widget_settings/html]</a>
                            </li>
                        </d:r>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="genericSettings_{{context.Id}}">
                            <div class="form-group">
                                <label>[$default:displayname]:</label>
                                <input type="text" class="form-control widgetTitle" />
                            </div>
                            <d:r visible="!context.settings.hideDescription">
                                <div class="form-group">
                                    <label>[$default:description]:</label>
                                    <textarea class="form-control widgetDescription" rows="2"></textarea>
                                </div>
                            </d:r>
                            <d:r visible="!context.settings.hideWidgetColor">
                                <div class="form-group">
                                    <label>[$WidgetResources:color]:</label>
                                    <select class="form-control widgetColor"></select>
                                </div>
                            </d:r>


                            <div class="form-group">
                                <label>[$WidgetResources:row_overlay]:</label>
                                <select class="form-control rowOverlay"></select>
                            </div>
                            <div class="widget-detail-settings">
                                <label class="wframe-chcbox settings-checkbox">
                                    <input type="checkbox" {{context.settings.noframe ? '' : 'checked'}} />&nbsp;<span>[$WidgetResources:frame]</span>
                                </label>
                                <span class="seperator">|</span>
                                <label>[$default:icon]:</label>&nbsp;
                                <d:r visible="context.settings.icon">
                                    <input id="widgetIcon" type="image" iconname="{{context.settings.icon}}" src="/GUIJsonService?op=getIco&amp;IconName={{context.settings.icon}}">
                                </d:r>
                                <d:r visible="!context.settings.icon">
                                    <div class="widgetEmptyIcon"></div>
                                </d:r>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="widgetAdvancedSetttings_{{context.Id}}">
                            <d:r visible="((context.tools.settingsTemplates && context.tools.settingsTemplates.length&gt;0) || context.tools.defaultSettingTemplate)">
                                <d:r data="context.tools.settingsTemplates">
                                    {{ TemplateToHtml($(data), context.__RootData, context) }}
                                </d:r>

                                <d:r visible="context.tools.defaultSettingTemplate">
                                    {{ TemplateToHtml($(context.tools.defaultSettingTemplate), context.__RootData, context) }}
                                </d:r>
                            </d:r>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">[$default:close]</button>
                </div>
            </div>
        </div>
    </div>


</script>


<script type="dece-template" id="__defaltWidgetTools">
    <div class="widget-tools panel-actions {{ context.tools.directionTools=='left'?'pull-left':'pull-right'}}">
        <button class="btn btn-default btn-sm widgetDraggableBtn {{context.tools.directionTools=='left'?'pull-left':''}}" role="button" title="">
            <i class="fa fa-arrows"></i>
        </button>

        <d:r visible="!context.disablePrint && !context.tools.disablePrint">
            <button class="btn btn-default btn-sm panelPrint {{context.tools.directionTools=='left'?'pull-left':''}}" role="button" title="Print">
                <i class="fa fa-print"></i>
            </button>
        </d:r>

        <d:r visible="context.tools.fullscreen">
            <button class="btn btn-default btn-sm panelFullScreen {{context.tools.directionTools=='left'?'pull-left':''}}" role="button" title="Toggle fullscreen">
                <i class="fa fa-arrows-alt"></i>
            </button>
        </d:r>


        {{context.__RootData=data;"";}}
        <d:r visible="!context.tools.hideButtons && context.tools.ButtonTemplates && context.tools.ButtonTemplates.length&gt;0">
            <d:r data="context.tools.ButtonTemplates">
                {{ TemplateToHtml($(data), context.__RootData, context) }}
            </d:r>
        </d:r>

        <d:r visible="!context.tools.hideSettings">
            <button class="btn btn-default btn-sm dropdown-toggle widgetSettingsBtn {{(context.tools.directionTools=='left' && context.settings.noframe ?'pull-left forceLeftDropDown':'pull-right')}}" type="button" id="panelHeadingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog"></i>
            </button>

        </d:r>

        <button class="btn btn-default btn-sm widgetRemoveBtn pull-right" role="button" title="[$default:remove]">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</script>

<script>
    if (!window.DeceWidget)
        window.DeceWidget = {};
    function openFullscreen(elem) {
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    }

    function closeFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) { /* Firefox */
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { /* IE/Edge */
            document.msExitFullscreen();
        }
    }

    window.DeceWidget.DeceWidgetContainer = function (widget, template, data) {
        widget.container = window.DeceWidget.__DeceWidgetContainer(widget, template, data);
        widget.widgetTools = new window.DeceWidget.__DeceWidgetTools($(".defaulttools", widget.settingsDom), widget, true);
        return widget.widgetTools;
    }

    window.DeceWidget.__DeceWidgetContainer = function (widget, template, data) {

        widget.__PanelTemplate = template;
        widget.__isVisibleAdvancedSettings = function () {
            var toolFlag = false;
            if (widget.tools.ForceHideTools)
                return false;
            if (widget.tools.ForceVisibleTools)
                return true;
            for (var tool in widget.tools) {
                switch (tool) {
                    case "fullscreen":
                    case "defaultSettingTemplate":
                    case "noframe":
                    case "ButtonTemplates":
                        break;
                    default:
                        if (widget.tools[tool])
                            toolFlag = true;
                        break;
                }
            }
            return toolFlag;
        }
        if (!widget.Id)
            widget.Id = guid();
        if (!widget.settings.events)
            widget.settings.events = [];
        var pThis = this;


        var widgetColorOptions = [
            { text: "[$default:default/js]", value: "widgetColor-default" },
            { text: "[$widgetResources:blue/js]", value: "widgetColor-blue" },
            { text: "[$widgetResources:red/js]", value: "widgetColor-red" },
            { text: "[$widgetResources:purple/js]", value: "widgetColor-purple" },
            { text: "[$widgetResources:orange/js]", value: "widgetColor-orange" },
            { text: "[$widgetResources:grey/js]", value: "widgetColor-grey" },
            { text: "[$widgetResources:green/js]", value: "widgetColor-green" }
        ];
        var html = TemplateToHtml($("#__defaultWidgetPanel"), data, widget);
        widget.targetDom.append(html);
        widget.targetDom.addClass("widget-panel");

        widget.targetDom.removeClass("noframe hasframe");
        widget.targetDom.addClass(widget.settings.noframe ? "noframe" : "hasframe");
        if (!widget.settings.rowOverlay && widget.settings.rowOverlayDefinitions) {
            var rowOverlayDefinition = widget.settings.rowOverlayDefinitions.find(function (f) { return f.parentColumnSize == widget.settings.parentColumnSize });
            if (rowOverlayDefinition) widget.settings.rowOverlay = rowOverlayDefinition.rowOverlay;
            else widget.settings.rowOverlay = widget.settings.parentColumnSize;
        }

        widget.targetDom.addClass("col-md-" + widget.settings.rowOverlay); /*colsize*/
        widget.settings.widgetColor = widget.settings.widgetColor ? widget.settings.widgetColor : "widgetColor-default";
        widget.settings.widgetColor = widget.settings.widgetColor.replace("widgetClass", "widgetColor");
        var widgetColorOption = widgetColorOptions.find(function (f) { return f.value == widget.settings.widgetColor });
        if (widgetColorOption) widgetColorOption.selected = true;

        widget.settingsDom = $("#modalSetting_" + widget.Id);
        if (widget.settingsDom.length == 0) {



            if (widget.tools && widget.tools.OnSettingsRenderStart) /*tools event*/
                widget.tools.OnSettingsRenderStart(widget);

            widget.settingsDom = $(TemplateToHtml((widget.tools && widget.tools.TemplateForSettings ? widget.tools.TemplateForSettings : $("#__settingsTemplate")), [], widget));

            if (widget.tools && widget.tools.OnSettingsRenderEnd) /*tools event*/
                widget.tools.OnSettingsRenderEnd(widget);

            $(widget.settingsDom).on('hidden.bs.modal', function () {
                if (widget.widgetTools && widget.widgetTools.callback)
                    widget.widgetTools.callback(widget.settings, "modal_closed");
            });

        }

        $("body").append(widget.settings.settingsTemplate);

        //inline-edit start
        var wSettingEditableFnc = function (params) {
            if (params.from && $(params.from).hasClass("title-save")) {
                widget.settings[params.type] = $(params.editableDom).text();
                if (widget.widgetTools.callback)
                    widget.widgetTools.callback(widget.settings, "title_change");
            }

            $(params.editableDom).attr("contenteditable", false);
            $(params.editableDom).html(widget.settings[params.type]);
            $(".weditable-menu").remove();
        };

        var renderEditableMenu = function (editableDom, type) {
            $(editableDom).attr("contenteditable", true);

            $(editableDom).on("focus", function () {
                $(".weditable-menu").remove();
                var $div = $("<div/>", { class: "weditable-menu" });
                var $buttonCheck = $("<button/>", { type: "button", class: "btn title-save", html: '<i class="fa fa-check"></i>' });
                var $buttonRemove = $("<button/>", { type: "button", class: "btn title-cancel", html: '<i class="fa fa-remove"></i>' });
                $div.append($buttonCheck);
                $div.append($buttonRemove);
                $div.insertAfter(this);
                $buttonCheck.bind("click", function (e) {
                    wSettingEditableFnc({ editableDom: editableDom, from: this, type: type });
                });
                $buttonRemove.bind("click", function (e) {
                    wSettingEditableFnc({ editableDom: editableDom, from: this, type: type });
                });
                $(editableDom).on("blur", function (event) {
                    event.preventDefault();
                    if (!$(event.relatedTarget).hasClass("title-save") && !$(event.relatedTarget).hasClass("title-cancel"))
                        wSettingEditableFnc({ editableDom: editableDom, type: type });

                });
            });


        };

        var disableOrEnableInlineEdit = function (rowOverlayVal) {
            if (rowOverlayVal < 4)
                widget.settings.disableInlineEditTitle = true;
            else delete widget.settings.disableInlineEditTitle;
            if (rowOverlayVal < 4)
                widget.settings.disableInlineEditDescription = true;
            else delete widget.settings.disableInlineEditDescription;
        };

        disableOrEnableInlineEdit(widget.settings.rowOverlay);

        $(".widgetRemoveBtn", widget.targetDom).bind("click", function (e) {

            var pThis = this;
            showMessage('[$WidgetResources:widget_delete_confirm/js]', '[$default:warning/js]', 'warning', true, true, false, function (result) {
                if (result == 'yes') {
                    var removeList = [];
                    var $panelThis = $(pThis).parents(".widget-panel").parent();
                    var $widget = $(pThis).parents(".widget-panel");
                    removeList.push({ targetId: $widget.attr("id") });
                    $widget.remove();
                    if ($panelThis.children().length == 0)
                        $panelThis.addClass("widget-empty");

                    $("body").trigger("widgetRemove", { widget: widget, removeList: removeList });
                }
            });

        });

        $(".widgetSettingsBtn", widget.targetDom).on('click', function () {
            $("#modalSetting_" + widget.Id).data("widget_id", widget.Id);
            $(widget.settingsDom).modal("show");
            var embedHelp2 = function () {
                try {
                    $(widget.settingsDom).embedHelp();
                }
                catch (err) { }
            }
            window.setTimeout(embedHelp2, 600);
            window.setTimeout(embedHelp2, 1000);

        });

        $(".panelFullScreen", widget.targetDom).bind("click", function (e) {
            e.preventDefault();
            var $dom = (widget.settings.noframe ? widget.targetDom : $(this).closest('.panel'));
            if ($dom.is(":fullscreen"))
                closeFullscreen();
            else
                openFullscreen($dom[0]);

        });

        $(".panelPrint", widget.targetDom).bind("click", function (e) {
            e.preventDefault();
            var $dom = (widget.settings.noframe ? widget.targetDom : $(this).closest('.panel'));
            PrintElem($dom);
        });


        this.__reLoadWidgetSettings = function (callback) {

            var timer = window.setInterval(function () {
                if (widget.settingsDom.length > 0) {
                    clearInterval(timer);
                    pThis.__renderOptions({ selector: $(".widgetColor", widget.settingsDom), data: widgetColorOptions });
                    $(".widgetTitle", widget.settingsDom).val(widget.settings.title);
                    $(".widgetDescription", widget.settingsDom).val(widget.settings.description);
                    $(".widgetColor", widget.settingsDom).val(widget.settings.widgetColor);
                    $(".rowOverlay", widget.settingsDom).val(widget.settings.rowOverlay);

                    $("#widgetTitle, #widgetDescription", widget.settingsDom).bind("keypress", function (e) { return e.which != 13; });

                    var widgetChangeIconFnc = function () {

                        if (widget) {
                            iconView_SelectIcon({ IconGroup: 'Layer' }, function (selIcon) {

                                var $input = $('#widgetIcon', widget.settingsDom);
                                if ($input.length == 0) {
                                    $input = $("<input/>", { id: "widgetIcon", type: "image", iconname: selIcon, src: "/GUIJsonService?op=getIco&amp;IconName=" + selIcon });
                                    $(".widgetEmptyIcon", widget.settingsDom).remove();
                                    $(".widget-detail-settings", widget.settingsDom).append($input);
                                }
                                widget.settings.icon = selIcon;
                                var $iconView = $(".widgetIconView", widget.targetDom);
                                if ($iconView.length == 0) {
                                    $iconView = $("<img/>", { class: "widgetIconView", src: "/GUIJsonService?op=getIco&IconName=" + widget.settings.icon });
                                    $(".panel-heading .panel-title", widget.targetDom).prepend($iconView);

                                }
                                $(".widget-panel").parent().css({ "background-image": "/GUIJsonService?op=getIco&IconName=" + widget.settings.icon });
                                $iconView.attr("src", '/GUIJsonService?op=getIco&IconName=' + widget.settings.icon)
                                $input.attr("src", '/GUIJsonService?op=getIco&IconName=' + widget.settings.icon);
                                $input.attr('iconName', widget.settings.icon).change();
                                $input.bind("click", widgetChangeIconFnc);
                                if (window.DeceDashboard)
                                    window.DeceDashboard.__ResizeDashboardEvnt();
                            });
                        }
                    };

                    window.SingleBind($("#widgetIcon, .widgetEmptyIcon", widget.settingsDom), "click", widgetChangeIconFnc);

                    window.SingleBind($(".wframe-chcbox input[type=checkbox]", widget.settingsDom), "change", function () {
                        var wFrameVal = $(this).prop("checked");
                        widget.settings.noframe = !wFrameVal;
                        widget.widgetTools.callback(widget.settings, "no_frame");

                        if (window.DeceDashboard)
                            window.DeceDashboard.__ResizeDashboardEvnt();
                    });

                    window.SingleBind($(".rowOverlay", widget.settingsDom), "change", function () {
                        var rowOverlayVal = $(this).val();
                        var rowOverlaySize = "col-md-" + $(this).val();
                        var oldRowOverlaySize = "col-md-" + widget.settings.rowOverlay;
                        disableOrEnableInlineEdit(rowOverlayVal);
                        $(widget.targetDom).removeClass(oldRowOverlaySize).addClass(rowOverlaySize);
                        widget.settings.rowOverlay = $(this).val();
                        if (window.DeceDashboard)
                            window.DeceDashboard.__ResizeDashboardEvnt(widget.targetDom);
                    });

                    window.SingleBind($("#widgetTitle", widget.settingsDom), "click", function () {
                        if (!window.DeceDashboard || (window.DeceDashboard && !window.DeceDashboard.__EditMode) || widget.settings.disableInlineEditTitle) return false;
                        else renderEditableMenu(this, "title");
                    });

                    window.SingleBind($("#widgetDescription", widget.settingsDom), "click", function () {
                        if (!window.DeceDashboard || (window.DeceDashboard && !window.DeceDashboard.__EditMode) || widget.settings.disableInlineEditDescription) return false;
                        else renderEditableMenu(this, "description");
                    });
                    //inline-edit end

                    window.SingleBind($(".widgetTitle, .widgetDescription", widget.settingsDom), "keyup", function () {
                        var eventName = $(this).hasClass("widgetTitle") ? "widgetTitle" : "widgetDescription";
                        if ($(this).hasClass("widgetTitle")) {
                            eventName = "title_change";
                            widget.settings.title = $(this).val();
                            $("#widgetTitle", widget.targetDom).attr("title", widget.settings.title).text(widget.settings.title);
                            if (window.DeceDashboard)
                                window.DeceDashboard.__ResizeDashboardEvnt();
                        }
                        else if ($(this).hasClass("widgetDescription")) {
                            eventName = "description_change";
                            widget.settings.description = $(this).val();
                            if (!widget.settings.noframe) {
                                var $smallDescription = $("#widgetDescription", widget.targetDom);
                                if ($smallDescription.length == 0) {
                                    $smallDescription = $("<small/>", { id: "widgetDescription", title: widget.settings.description, text: widget.settings.description });
                                    $(".panel-heading", widget.targetDom).append($smallDescription);
                                }
                                $("#widgetDescription", widget.targetDom).attr("title", widget.settings.description).text(widget.settings.description);
                            }

                        }
                        if (widget.widgetTools && widget.widgetTools.callback)
                            widget.widgetTools.callback(widget.settings, eventName);
                    });

                    window.SingleBind($(".widgetColor", widget.settingsDom), "change", function () {
                        var widgetColor = $(this).val();

                        if (!widget.settings.widgetColor)
                            widget.settings.widgetColor = "widgetColor-default";
                        $(widget.targetDom).find(".widget-inpanel-area").removeClass(widget.settings.widgetColor).addClass(widgetColor);
                        widget.settings.widgetColor = $(this).val();
                    });

                    var tbDm = $('a[data-toggle="tab"]');
                    if (!tbDm.attr("data1_ontab")) {
                        tbDm.attr("data1_ontab", "1");
                        tbDm.on('shown.bs.tab', function (e) {
                            var target = $(e.target).attr("href");
                            var tabContent = $(target).parents(".nav-tabs").find(".tab-content");
                            tabContent.find(".active").removeClass("active");
                            tabContent.find(target).addClass("active");
                        });
                    }

                    if (callback) callback();

                }

            });
        }

        if (!widget.widgetTools)
            widget.widgetTools = new window.DeceWidget.__DeceWidgetTools(null, widget);

        this.__renderOptions = function (params) {
            var selector = $(params.selector);
            selector.empty();
            if (params.emptyOptionTitle)
                selector.append('<option value="">' + params.emptyOptionTitle + '</option>');
            if (params.data && params.data.length > 0) {

                for (var i = 0; i < params.data.length; i++) {
                    var dataOption = params.data[i];
                    var $opt1 = $("<option/>", { value: dataOption.value, text: dataOption.text });
                    if (dataOption.type)
                        $opt1.data("__type", dataOption.type);
                    if (dataOption.selected)
                        $opt1.attr("selected", true);
                    selector.append($opt1);
                    if (i === (params.data.length - 1)) {
                        if (params.afterRender) params.afterRender();
                    }
                }
            }
            else {
                selector.parent().hide();
                if (params.afterRender) params.afterRender();
            }
        };
        this.__loadRowOverlay = function () {
            var notLoadOptions = [];

            widget.settings.parentColumnSize = window.DeceDashboard.__GetParentColumnSize(widget.targetDom);

            switch (widget.settings.parentColumnSize) {
                case 6:
                    notLoadOptions = [3, 4];
                    break;
                case 9:
                case 12:
                    notLoadOptions = [];
                    break;
                default:
                    if (widget.settings.parentColumnSize < 6) notLoadOptions = [3, 4, 8, 6, 9];
                    break;
            }
            widget.widgetTools.callback(widget.settings, "rowOverlay");

            var rowOverlayOptions = [
                { text: " 1 / 3 ", value: 4 },
                { text: " 1 / 4 ", value: 3 },
                { text: " 2 / 3 ", value: 8 },
                { text: " 2 / 4 ", value: 6 },
                { text: " 3 / 4 ", value: 9 },
                { text: " 4 / 4 ", value: 12 },
            ];

            var newRowOverlayOptions = [];
            newRowOverlayOptions = newRowOverlayOptions.concat(rowOverlayOptions);
            notLoadOptions.forEach(function (val) {
                newRowOverlayOptions.remove(function (r) { return r.value == val.toString() });
            });
            newRowOverlayOption = newRowOverlayOptions.find(function (f) { return f.value === parseInt(widget.settings.rowOverlay) });
            if (newRowOverlayOption)
                newRowOverlayOption.selected = true;
            pThis.__renderOptions({ selector: $(".rowOverlay", widget.settingsDom), data: newRowOverlayOptions });
        };
        this.__loadRowOverlay();

        this.renderBody = function (widget, data) {
            var html = TemplateToHtml(widget.__PanelTemplate, data, widget);
            if (widget.settings.noframe) $(".widget-inpanel-area", widget.targetDom).empty().append(html);
            else $(".panel-body", widget.targetDom).empty().append(html);

        };
        return this;
    }

    window.DeceWidget.__DeceWidgetTools = function (targetDom, widget, alreadyRendered) {

        this.callback = function () { };
        this.reLoadWidgetSettings = function () {
            widget.container.__reLoadWidgetSettings();
        }
        if (widget.container)
            this.reLoadWidgetSettings();
        return this;
    };


</script>
