﻿@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



.h {
    color: #FFF;
    background-color: #7EBC88;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}

.rMenu {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
	border:1px dashed #ccc;
	margin:5px;
}

.rMenu button {
    padding: 5px;
    line-height: 20px;
    margin: 5px;
    display: block;
    width: 200px;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;

}
#reclist a {
	text-decoration:none;
	padding:2px;
	padding-left:6px;
	display:block;
	border-radius: 4px;
	color:#fff;
	margin-bottom:2px;
}

.multikw {
	border:1px dashed #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-right:0px;
}
.cnt {
	background-color:yellow;
	border-radius: 10px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	color:black;
	margin-left:10px;
}

.danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    color: #fff !important;
}

.rMenu button:hover {
    background-color: #eee;
}

.danger:hover {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.recognizer {
	cursor:pointer;
}

.split {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #f00;
    font-weight: bold;
    font-size: 18px;
}

body {
    padding: 20px;
    padding-right: 250px;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    line-height: 24px;
}
