﻿<div class="form-group" id="AdvSettingsEnum">

    <div class="form-group" id="drpEnumDict">
        <label class="control-label col-xs-3"> [$workspace_wizard:LabelDictionary]</label>
        <div class="col-xs-8 dropdown">

            <button id="drpEnumDictBtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%; text-align: left; overflow: hidden;text-overflow: ellipsis; height: 34px" aria-expanded="true"></button>
            <ul class="dropdown-menu scrollable-menu col-xs-12 drpEnumDictDD" role="menu" style="height: auto; max-height: 330px; overflow-x: hidden;"></ul>

        </div>

        <p class="bg-default drpEnumDictHelp" style="float: left; padding-bottom: 0px; height: 20px;">
            <dcc:Help class="pull-right" ns="workspace_wizard" help="LabelDictionaryHelp" data-placement="bottom" style="margin-left:-14px;" add_help="false"/>
        </p>






        <script>

            function initEnumDict() {

                if (window.parent.currentDictionaryEditor.editors) {
                    var editors = window.parent.currentDictionaryEditor.editors;

                    var savedId = window._EnumLabelDictID;
                    var selectDispTxt = "[$workspace_wizard:SelectDictionary/js]";
                    var emptyDispTxt = "[$workspace_wizard:Empty/js]";

                    var caret = '<span class="caret caret-right-aligned"></span>';
                    var emptySpan = '<span style="font-style: italic; color: GrayText;">-- ' + selectDispTxt + ' --</span>' + caret;

                    var first = emptySpan;
                    var items = '<li class="gray-italic"><a data-ID="empty" class="gray-italic">-- ' + emptyDispTxt + ' --</a></li>';

                    for (var i = 0; i < editors.length; i++) {
                        var ed = editors[i];
                        var item = '<img src="GUIJsonService?op=getIco&IconName=' + ed.IconName + '" style="width:22px; height:22px;"></img><span>&nbsp;&nbsp;' + ed.DisplayName + '</span>';
                        if (ed.ID == savedId)
                            first = item + caret;
                        items += '<li><a data-ID="' + ed.ID + '">' + item + '</a></li>';
                    }

                    $('#drpEnumDictBtn').html(first);
                    $('.drpEnumDictDD').html(items);
                    $('#drpEnumDict').show();

                    $(".drpEnumDictDD li a").click(function () {
                        var id = $(this).attr("data-ID");
                        if (id != "empty") {
                            $(this).parents(".dropdown").find('.btn').html($(this).html() + caret);
                            window._EnumLabelDictID = id;
                        }
                        else {
                            $(this).parents(".dropdown").find('.btn').html(emptySpan);
                            delete window._EnumLabelDictID;
                        }
                    });
                }
                else
                    $('#drpEnumDict').hide();
            }

            $(document.body).on("WebEditorUpdateGUI", function (e, arg) {
                if (arg.obj.GenericSettings)
                    window._EnumLabelDictID = arg.obj.GenericSettings["EnumLabelDictID"];
                else if (window._EnumLabelDictID)
                    delete window._EnumLabelDictID;
                initEnumDict(); //GUI düzenleme
            });

            $(document.body).on("WebEditorUpdateObject", function (e, arg) {//save
                if (window._EnumLabelDictID) {
                    if (!arg.obj.GenericSettings)
                        arg.obj.GenericSettings = {}
                    arg.obj.GenericSettings["EnumLabelDictID"] = window._EnumLabelDictID;
                    if (window.parent.addRecognizerFinal) {
                        var bFound = window.parent.LayerHelpers.FirstOrDefault(window.parent.currentWorkspace.Layers, function (lyr) { return lyr.ID == window._EnumLabelDictID });
                        if (!bFound)
                            if (window.parent.currentDictionaryEditor.editors) {
                                var editors = window.parent.currentDictionaryEditor.editors;
                                for (var i = 0; i < editors.length; i++) {
                                    var ed = editors[i];
                                    if (ed.ID == window._EnumLabelDictID) {
                                        var objt = window.parent.currentRecognizerEditor.cloneObject(ed);
                                        window.parent.addRecognizerFinal(objt);
                                        break;
                                    }
                                }
                            }
                    }
                    delete window._EnumLabelDictID;
                }
                else if (arg.obj.GenericSettings)
                    delete arg.obj.GenericSettings["EnumLabelDictID"];
            });
        </script>
    </div>
    <div>[$workspace_wizard:enumarator_settings_description]</div>
    <dcc:layoutarea name="GEODI_GENERIC_SETTINGS_ENUMARATOR" checkresource="True" targetfolder="GUI/Control/GENERIC_SETTINGS_ENUMARATOR" />
    <dcc:layoutarea name="GEODI_GENERIC_SETTINGS_ALL" checkresource="True" targetfolder="GUI/Control/GENERIC_SETTINGS_ALL" />
    <dcc:item factoryname="ResourceControl" src="GUI/Control/EnumeratorAdvancedSettingsJsonFormatter.html" />
</div>

