﻿<div class="form-group" id="AdvSettingsWS" style="padding-bottom:50px">
    <div class="col-sm-offset-2 col-sm-10">[$workspace_wizard:enumarator_based_settings_ws_description]</div>
    <style>
        .GeodiDisabledStyle {
            opacity: 0.6;
            pointer-events: none;
        }
        #wsBottomSettings {
            clear:both;
            margin-top:10px;
            border-top:1px solid #666;
            padding:0px;
        }
        
    </style>
    <script>

        function CheckHasSettingAnyEnumarator(settingName, autoCheckObj) {
            var enmList = [];
            if(window.currentWorkspace && window.currentWorkspace.ContentReaderEnumarators)
                for (var i = 0; i < window.currentWorkspace.ContentReaderEnumarators.length; i++) {
                    var enm = window.currentWorkspace.ContentReaderEnumarators[i];
                    if (enm && enm.GenericSettings && enm.GenericSettings.hasOwnProperty(settingName)) 
                        enmList.push(enm);
                }

            if (autoCheckObj && enmList.length > 0) { //all time
                var chkChanged = false;
                var isNewExsist = false;
                for (var i = 0; i < enmList.length; i++) {
                    var enmStart = enmList[i];
                    var foundIn = false;
                    getObjectDeeper(window.__lastloadedWsClone.ContentReaderEnumarators, enmStart, function (enm) {
                        foundIn = true;
                        if (!enm || !enm.GenericSettings || !enm.GenericSettings.hasOwnProperty(settingName))
                            chkChanged = true;

                    })
                    if (!foundIn) isNewExsist = true;
                    if (chkChanged) break;
                }
                
                if (chkChanged || isNewExsist)
                {
                    if (typeof (autoCheckObj) == "function")
                        autoCheckObj(true);
                    else if (!$(autoCheckObj).prop("checked")) {
                        $(autoCheckObj).prop("checked", true);
                        $(autoCheckObj).change();
                    }
                }
            }
            return enmList.length>0;
        }

        $(window).click(function (e) {
            if ($(e.target).parents(".GeodiDisabledStyle").length > 0) {
                e.stopPropagation();
                return false;
            }
        })

    </script>
    <dcc:layoutarea name="GEODI_GENERIC_SETTINGS_WS" checkresource="True" targetfolder="GUI/Control/GENERIC_SETTINGS_WS" />
    <dcc:layoutarea name="GEODI_GENERIC_SETTINGS_ALL" checkresource="True" targetfolder="GUI/Control/GENERIC_SETTINGS_ALL" />
    <div id="wsBottomSettings" class="col-sm-offset-2 col-sm-10"></div>

        <dcc:layoutarea name="GEODI_GENERIC_SETTINGS_WS_BOTTOM" checkresource="True" targetfolder="GUI/Control/GENERIC_SETTINGS_WS_BOTTOM" />
    
</div>

