﻿
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
    

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceGeoHelper.js" />

    <div class="form-group">
        <label class="control-label col-xs-3" for="txtDisplayName" >[$default:displayname]</label>
        <div class="col-xs-8">
            <input type="text" id="txtDisplayName" class="form-control" placeholder="[$default:displayname/html]">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="txtIcon" >[$default:icon]</label>
        <div class="col-xs-8">
            <input id="imgIcon" type="image" iconname="Layer/favorite" src="GUIJsonService?op=getIco&IconName=Layer/favorite" onclick="btnSelectIcon_Click(); return false;" class="layer-image" />
        </div>
    </div>
                
                
    <dcc:item factoryname="ResourceControl" src="GUI/Control/SystemIcons.view.html" />

    <script type="text/javascript">

        function btnSelectIcon_Click() {

            iconView_SelectIcon({
                    IconGroup:window.DefaultIconGroup? window.DefaultIconGroup:'Layer'
                    },
                function (selIcon) {
                    $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + selIcon);
                    $('#imgIcon').attr('iconName', selIcon);
                }
                )
        };
       
        //public
        function UpdateCollectionItemGUI(collectionItemObject)
        {
            $('#txtDisplayName').val(collectionItemObject.DisplayName);
            $('#imgIcon').attr('iconName', collectionItemObject.IconName);
            $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + (collectionItemObject.IconName ? collectionItemObject.IconName : $('#imgIcon').attr('iconName')));
        }
        //public
        function UpdateCollectionItemFromGUI(collectionItemObject) {
            collectionItemObject.DisplayName = $('#txtDisplayName').val();
            collectionItemObject.IconName = $('#imgIcon').attr('iconName');
        }
    </script>
