<dcc:item factoryname="GeodiLicensePanel" trial="true">
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/Forms/angular.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/Forms/dynamic-forms.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceTemplateFiller.js" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/dynamic-forms-default.css" />

    <style>
        #ConnectionStringForm .col-xs-3 {
            width: 33.33%;
            overflow-wrap: break-word;
        }

        #ConnectionStringForm .col-xs-9 {
            width: 66.66%;
        }

        /*input[type="file"] {
            direction: rtl;
        }

            input[type="file"]::-webkit-file-upload-button {
                background: #258FFB;
                color: #FFFFFF;
                border: none;
                float: right;
                margin-right: -5px;
            }*/
        .messagebox_zindex {
            z-index: 1041 !important;
        }
    </style>
    <div class="modal fade frmDataContainer" id="DatabaseConnectionEditorModal" tabindex="-1" role="dialog" aria-labelledby="DatabaseConnectionEditorModalHeader" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="DatabaseConnectionEditorModalHeader">[$DatabaseEnumarator:connectionStringModalName]</h4>
                </div>
                <div class="modal-body">
                    <div class="form-vertical">
                        <div class="form-group">
                            <label class="control-label" for="connectionStrings">[$DatabaseEnumarator:connectionDropdownName]</label>
                            <select class="form-control" id="connectionStrings" onchange="generateDynamicFrom()"></select>
                        </div>
                        <div class="form-group">
                            <div id="ConnectionStringForm" style="display:none">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> [$default:close/js]</button>
                        <div class="btn-group">
                            <a tabindex="0" class="btn btn-sm btn-primary" onclick="saveConnectionString();"> [$default:save/js]</a>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="TestConnection()">[$Database:connectiondialog_testmenu/js]</a></li>
                                <li><a href="#" onclick="SaveConnectionToXmlFile()">[$Database:connectiondialog_savetodisk/js]</a></li>
                                <li><a href="#" id = "uploadButton" onclick="openDialogClick()">[$DTS:upload_file]</a></li>
                            </ul>
                        </div>
                        <!--<a tabindex="0" class="btn btn-sm btn-primary" onclick="saveConnectionString();"> [$default:save/js]</a>-->
                    </div>                   
                </div>
            </div>
        </div>
        <script>
            var connectionStrings;
            
            $('#DatabaseConnectionEditorModal').on('hidden.bs.modal', function (e) {
                $("#connectionStrings").empty();
                $('#ConnectionStringForm').empty();
                $('#ConnectionStringForm').css('display', 'none');
                $('#ConnectionStringForm').html('<div id=DynamicConnectionStringForm></div>');
                RunMetodOnParentWindow('WebEditorModalSizeReset');
            });

            $('#DatabaseConnectionEditorModal').on('focus', function (e) {
                var modalhg = $('#DatabaseConnectionEditorModal .modal-content').height();
                RunMetodOnParentWindow('WebEditorModalToFullScreen', modalhg);
            });
            
            $(document).ready(function () {
                var ___DbConnection = function () {
                    this.getDbConnectionStings = function (callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=GetConnectionStrings', callBackFunction, 'json');
                    }
                    this.getSelectedConnectionStringProperties = function (conObj, callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=SelectedConnectionStringToJsonStringObject', { 'connectionString': JSON.stringify(conObj) }, callBackFunction, 'json');
                    }
                    this.CreateConnectionFromGUI = function (baseConnection, formData, callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=CreateConnectionFromGUI', { 'baseConnection': JSON.stringify(baseConnection), 'formData': JSON.stringify(formData)}, callBackFunction, 'json');
                    }
                    this.TestConnectionString = function (conObj, callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=TestConnection', { 'connectionString': JSON.stringify(conObj), 'wsName': (window.wsNameGetter ? window.wsNameGetter() : null) }, callBackFunction, 'json');
                    }
                    this.GetConnectionFromXmlFile = function (conObj, callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=GetConnectionFromXmlFile', { 'connectionString': conObj}, callBackFunction, 'json');
                    }
                    this.SaveConnectionToXmlFile = function (conObj, callBackFunction) {
                        $.post('ConnectionStringFactoryWebHandler?op=SaveConnectionToXmlFile', { 'connectionString': JSON.stringify(conObj)}, callBackFunction, 'json');
                    }
                }
                window.DbConnectionManager = new ___DbConnection();
            });

            function FindInArray(array, prop, val) {
                for (var i = 0, len = array.length; i < len; i++) {
                    if (array[i].hasOwnProperty(prop) && array[i][prop] === val) {
                        return array[i];
                    }
                }
                return null;
            }

            function generateDynamicFrom(conObj) {
                $('#ConnectionStringForm').empty();
                $('#ConnectionStringForm').css('display', 'block');
                $('#ConnectionStringForm').html('<div id=DynamicConnectionStringForm></div>');
                if (!conObj) {
                    var selectedConString = $('#connectionStrings').val();
                    conObj = FindInArray(connectionStrings, "__type", selectedConString);
                    window.__connectionStringViewConnection = null;
                }
                if (conObj)
                    window.DbConnectionManager.getSelectedConnectionStringProperties(conObj, function (data) {
                        var allfield = TemplateFillerFormatParse(data);
                        window.__connectionStringAllfield = allfield;
                        var valueGetter = function () {

                            if (allfield.fields) {
                                var fls = {};
                                $.each(allfield.fields, function (i, v) {
                                    if (v && v.model && v.value != null) {
                                        if (v.type == 'number')
                                            fls[v.model] = parseFloat(v.value);
                                        else if (typeof v.value === 'object' ||
                                            Array.isArray(v.value))
                                            fls[v.model] = JSON.stringify(v.value);

                                        else
                                            fls[v.model] = v.value;

                                    }
                                });
                                return fls;
                            }
                            return null;
                        };

                        generateDynamicForm(
                            {
                                controllerId: 'DynamicForm',
                                targetDom: '#DynamicConnectionStringForm',
                                elements: allfield.fields,
                                formDataGetter: valueGetter,
                                /* elementsUpdater: function (formData, controllerId) {
                                    return reformFormForMacroEdit(formData, controllerId, valuesGetter, "macro")
                                },*/
                                isQuery: true,
                                disableRangeFieldCreate: true
                            });
                        $('[name="ConnectionObject"]').parent().css('display', 'none');
                        $('[name="Description"]').parent().css('display', 'none');
                        $('[name="DisplayName"]').parent().css('display', 'none');
                        $('[name="IconName"]').parent().css('display', 'none');
                        $('select').each(function () {
                            var hasMultipleAttribute = $(this).attr('multiple');
                            if (typeof hasMultipleAttribute !== 'undefined' && hasMultipleAttribute !== false) {
                                $(this).css('height', '100px')
                            }

                        });


                        RunMetodOnParentWindow('updateCurrenWebEditorModalSizes');
                        var modalhg = $('#DatabaseConnectionEditorModal .modal-content').height();
                        RunMetodOnParentWindow('WebEditorModalToFullScreen', modalhg);
                    });
            }

            function TestConnection(calllback) {
                var jsForm = $("#DynamicConnectionStringForm .frmData").text();
                var ltype = $('#connectionStrings').val();
                var dataobj = {};
                if (jsForm && jsForm.length > 0) {
                    dataobj = JSON.parse(jsForm);
                }
                var baseConnection = {};
                if (window.__connectionStringViewConnection)
                    baseConnection = window.__connectionStringViewConnection;
                else {
                    //baseConnection = {
                    //    __type: ltype,
                    //    ConnectionObject: (dataobj.ConnectionObject ? JSON.parse(dataobj.ConnectionObject) : {})
                    //}
                    var selectedConString = $('#connectionStrings').val();
                    if (selectedConString == "undefined" || selectedConString == null || selectedConString == "") {
                        showMessage('[$DatabaseEnumarator:connection_type_error/js]', '[$default:error/js]', 'danger');
                        return;
                    }
                    else {
                        baseConnection = FindInArray(connectionStrings, "__type", selectedConString);
                        baseConnection.ID = baseConnection.ID.split("_")[0] + "_" + guid();
                    }
                }
                delete dataobj.ConnectionObject;
                delete dataobj.Tags;
                window.DbConnectionManager.CreateConnectionFromGUI(baseConnection, dataobj, function (data) {
                    window.DbConnectionManager.TestConnectionString(data, function (result) {
                        if (calllback) {
                            calllback(data, result);
                        }
                        else {
                            if (result) {
                                showMessage('[$Database:connectiondialog_test_okmessage/js]', '[$default:success/js]', 'success', null, null, null, null, null, 'testConnectionMessageBox');
                                $('#testConnectionMessageBox').addClass("messagebox_zindex");
                            }
                            else { }
                        }
                    });
                });               
            }

            function SaveConnectionToXmlFile() {
                var jsForm = $("#DynamicConnectionStringForm .frmData").text();
                var dataobj = {};
                if (jsForm && jsForm.length > 0) {
                    dataobj = JSON.parse(jsForm);
                }
                var baseConnection = {};
                if (window.__connectionStringViewConnection)
                    baseConnection = window.__connectionStringViewConnection;
                else {
                    var selectedConString = $('#connectionStrings').val();
                    if (selectedConString == "undefined" || selectedConString == null || selectedConString == "") {
                        showMessage('[$DatabaseEnumarator:connection_type_error/js]', '[$default:error/js]','danger');
                        return;
                    }
                    else {
                        baseConnection = FindInArray(connectionStrings, "__type", selectedConString);
                        baseConnection.ID = baseConnection.ID.split("_")[0] + "_" + guid();
                    }
                   
                }
                delete dataobj.ConnectionObject;
                delete dataobj.Tags;
                window.DbConnectionManager.CreateConnectionFromGUI(baseConnection, dataobj, function (data) {
                    window.DbConnectionManager.SaveConnectionToXmlFile(data, function (res) {
                        if (res) {
                            var linkSource = `data:application/octet-stream;base64,${res}`;
                            var downloadLink = document.createElement('a');
                            document.body.appendChild(downloadLink);
                            downloadLink.href = linkSource;
                            downloadLink.target = '_self';
                            downloadLink.download = baseConnection.DisplayName + ".xDeceConnection";
                            downloadLink.click();
                        }
                    });
                });        
            }

            // open a dialog function
            function openFileDialog(accept, multy, callback) {
                var inputElement = document.createElement("input");
                inputElement.type = "file";
                inputElement.setAttribute("id", "uploadFile");
                inputElement.accept = accept; // Note Edge does not support this attribute
                if (multy) {
                    inputElement.multiple = multy;
                }
                if (typeof callback === "function") {
                    inputElement.addEventListener("change", callback);
                }
                inputElement.dispatchEvent(new MouseEvent("click"));
            }

            // uploadButton click event
            function openDialogClick() {
                // open file dialog for text files
                openFileDialog(".xDeceConnection", false, fileDialogChanged);
            }

            // file dialog onchange event handler
            function fileDialogChanged(event) {
                for (let index = 0; index < this.files.length; index++) {
                    var reader = new FileReader()
                    reader.onload = handleFileLoad;
                    reader.readAsText(this.files[index]);
                }               
            }

            function handleFileLoad(event) {
                window.DbConnectionManager.GetConnectionFromXmlFile(event.target.result, function (data) {
                    if(data)
                    {
                        window.__connectionStringViewConnection = data;
                        generateDynamicFrom(data);
                    }
                    else
                        showMessage('[$DatabaseEnumarator:ConnectionIsNull/js]', '[$default:error/js]', 'danger');
                });                
            }

            function saveConnectionString(callback) {

                TestConnection(function (data, result) {
                    if (result) {
                        window.__connectionStringViewCallback(data);
                        $('#DatabaseConnectionEditorModal').modal('hide');
                        if (callback)
                            callback();
                    }
                })
            }

            function StartConnectionEditorModal(currentConnection, callback) {
                window.__connectionStringViewConnection = currentConnection;
                window.__connectionStringViewCallback = callback;
                $('#DatabaseConnectionEditorModal').appendTo("body").modal('show');

                $("#connectionStrings").empty();
                window.DbConnectionManager.getDbConnectionStings(function (data) {
                    //fill dropdown element
                    connectionStrings = data;
                    $('#connectionStrings').append($("<option></option>").val('').html('None'));
                    $.each(data, function (index, value) {
                        $('#connectionStrings').append($("<option></option>").val(value.__type).html(value.DisplayName));
                    });
                    var currentCon = window.__connectionStringViewConnection;
                    if (currentCon) {
                        $("#connectionStrings option[value='" + currentCon.__type + "']").prop('selected', true);
                        generateDynamicFrom(currentCon);
                    }

                });
            }

        </script>
    </div>



</dcc:item>