﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/moment.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/datepicker/datepicker.min.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/datepicker/nouislider.min.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/datepicker/datepicker.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/datepicker/nouislider.min.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/bootstrap.min.css" />

<dcc:CultureInfoWriter formattype="DateTime" />

<style>
    .disableBtn {
        pointer-events: none !important;
        cursor: default;
        color: Gray;
    }

    .expander {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        /*margin-top: 5px;*/
    }

    .expandButton {
        display: inline-block;
        width: 30px;
        cursor: pointer;
    }

    .dateText {
        height: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;
        left: -8px;
        top: -2px;
    }

    .noUi-handle {
        border: 1px solid #D9D9D9;
        border-radius: 12px;
        background: rgb(250, 250, 250);
        cursor: default;
        box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    }

        .noUi-handle:after, .noUi-handle:before {
            content: initial !important;
            display: block;
            position: absolute;
            height: 14px;
            width: 1px;
            background: #E8E7E6;
            left: 14px;
            top: 6px;
        }

    .datepickers-container {
        z-index: 9999;
    }
</style>

<script>
    function expandButtonClick(elem, e) {
        if (window.CloseNavMenu)
            CloseNavMenu(e);
        $content = $(elem).next();
        $content.slideToggle(100, function () {
        });
    }
    function formatDate(value) {
        value = new Date(value);
        if (value === "Invalid Date")
            return null;
        var date = "0" + value.getDate();
        var month = "0" + (parseInt(value.getMonth()) + 1);
        return (date.length === 3 ? date.substr(1, 2) : date.substr(0, 2)) + "." + (month.length === 3 ? month.substr(1, 2) : month.substr(0, 2)) + "." + value.getFullYear();
    }

    function DatePicker(params)
    {
        var elem = null, idDate = "", isShowSlider = "false", cssClassDate = "", cssStyleDate = "", cssClassSlider = "", cssStyleSlider = "", isVisibleDateText = true, loadDateToolTip = false, dateOptionAdvancedMode = false;
        if (params) {
            if (params.elem)
                elem = params.elem;
            if (params.idDate)
                idDate = params.idDate;
            if (params.isShowSlider)
                isShowSlider = params.isShowSlider;
            if (params.cssClassDate)
                cssClassDate = params.cssClassDate;
            if (params.cssStyleDate)
                cssStyleDate = params.cssStyleDate;
            if (params.cssClassSlider)
                cssClassSlider = params.cssClassSlider;
            if (params.cssStyleSlider)
                cssStyleSlider = params.cssStyleSlider;
            if (params.cssStyleSlider)
                cssStyleSlider = params.cssStyleSlider;
            if (typeof params.isVisibleDateText !== "undefined")
                isVisibleDateText = params.isVisibleDateText;
            if (typeof params.loadDateToolTip !== "undefined")
                loadDateToolTip = params.loadDateToolTip;
            if (typeof params.dateOptionAdvancedMode !== "undefined")
                dateOptionAdvancedMode = params.dateOptionAdvancedMode;
        } 
        var pThis = this;
        nameGuid = idDate;
        nameSlider = "dateSlider_" + nameGuid;
        nameDatePickerLeft = "dateTimeLeft_" + nameGuid;
        nameDatePickerRight = "dateTimeRight_" + nameGuid;
        pThis.startDate = "";
        pThis.endDate = "";
        IsSlide = false;
        mainDatePicker = this;
        IsVisibleDateText = isVisibleDateText;
        leftDateTextElement = '#t1_' + nameGuid;
        rightDateTextElement = '#t2_' + nameGuid;
        enableLoadDateToolTip = loadDateToolTip;

        window.largeToolTip = {
            sliderTooltipLarge: $("<div/>", { id: "dateSliderTooltip" }),
            sliderTooltipContainer: $("<div/>", { class: "dateSliderContainer" }),
            left: $("<div/>", { class: "leftToolTip" }),
            right: $("<div/>", { class: "rightToolTip" }),
            queryRunPermission: false,
            initLoad: false,
            sliderFadeIn: function () {
                this.sliderTooltipLarge.fadeIn("slow");
                this.queryRunPermission = true;
            },
            sliderFadeOut: function () {
                if (this.queryRunPermission) {
                    $(document.body).trigger("datepicker.update");
                    this.sliderTooltipLarge.fadeOut("slow");
                    this.queryRunPermission = false;
                }
            },
            InitToolTip: function () {

                if (this.initLoad)
                    return;
                this.sliderTooltipContainer.append(this.left);
                this.sliderTooltipContainer.append(this.right);
                this.sliderTooltipLarge.append(this.sliderTooltipContainer);
                $("body").append(this.sliderTooltipLarge);

                document.getElementById(nameSlider).noUiSlider.on('start', function (e) {
                    window.largeToolTip.coordinates = e;
                    $(".datepickers-container").css("margin-left", "");
                });

                document.getElementById(nameSlider).noUiSlider.on('slide', function (e) {
                    window.largeToolTip.sliderFadeIn();
                });

                document.getElementById(nameSlider).noUiSlider.on('change', function (e) {
                    if (window.largeToolTip.coordinates && window.largeToolTip.coordinates[0] === e[0] && window.largeToolTip.coordinates[1] === e[1]) {
                        window.largeToolTip.sliderTooltipLarge.fadeOut("slow");
                        return;
                    }
                    else window.largeToolTip.sliderFadeOut();

                });


                this.initLoad = true;
            },
            Remove: function () {
                $(".dateFilterArea").remove();
            }
        };
        
        this.Init = function () {// arayüzü oluşturur.


            $.fn.datepicker.language['current'] = {
                days: window.___userCulture["days"],
                daysShort: window.___userCulture["daysShort"],
                daysMin: window.___userCulture["daysMin"],
                months: window.___userCulture["months"],
                monthsShort: window.___userCulture["monthsShort"],
                today: '[$DatePicker:query_today/js]',
                clear: '[$default:clear/js]',
                dateFormat: window.___userCulture["dateFormat"],
                timeFormat: window.___userCulture["timeFormat"],
                firstDay: window.___userCulture["weekStart"]
            };
            var that = this;
            if (isShowSlider) {
                $("<div class='dateText'>" +
                    "<span id='t1_" + nameGuid + "' class='pull-left'></span>" +
                    "<span id='t2_" + nameGuid + "' class='pull-right'></span>" +
                    "</div>" +
                    "<div id='" + nameSlider + "'" +
                    "class='" + cssClassSlider + "'" +
                    "style='margin-left:10px;margin-right:10px; " + cssStyleSlider + "' />").appendTo(elem);

                var slider = document.getElementById(nameSlider);
                noUiSlider.create(slider, {

                    range: {
                        min: new Date().getTime() - 1,
                        max: new Date().getTime()
                    },
                    connect: true,
                    // Steps of one week
                    step: 7 * 24 * 60 * 60 * 1000,

                    // Two more timestamps indicate the handle starting positions.
                    start: [new Date().getTime(), new Date().getTime()]

                    // // No decimals
                    // 	format: wNumb({
                    // 		decimals: 0
                    // 	})
                });

                slider.noUiSlider.on('update', function (values, handle) {
                    UpdateDateAndSlide("Slider", values);
                });

                slider.noUiSlider.on('slide', function () {
                    IsSlide = true;
                });
            }

            var dateOptionGenerator = function () {
                var dateOptionLst = [];
                if (dateOptionAdvancedMode) {
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_1" class="list-group-item clearfix">[$DatePicker:query_allTimes/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_2" class="list-group-item clearfix">[$DatePicker:query_today/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_8" class="list-group-item clearfix">[$DatePicker:query_thisWeek/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_5" class="list-group-item clearfix">[$DatePicker:query_thisMonth/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_9" class="list-group-item clearfix">[$DatePicker:query_thisYear/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_6" class="list-group-item clearfix">[$DatePicker:query_lastOneMonth/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_7" class="list-group-item clearfix">[$DatePicker:query_lastThreeMonth/js]</button>');
                }
                else {
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_1" class="list-group-item clearfix">[$DatePicker:query_allTimes/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_2" class="list-group-item clearfix">[$DatePicker:query_today/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_3" class="list-group-item clearfix">[$DatePicker:query_lastOneDay/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_4" class="list-group-item clearfix">[$DatePicker:query_lastSevenDay/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_5" class="list-group-item clearfix">[$DatePicker:query_thisMonth/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_6" class="list-group-item clearfix">[$DatePicker:query_lastOneMonth/js]</button>');
                    dateOptionLst.push('<button type=button style="width:100%" id="btnSetDate_7" class="list-group-item clearfix">[$DatePicker:query_lastThreeMonth/js]</button>');
                }
                return dateOptionLst;
            };
            //$("<input id='" + nameDatePicker + "' type='text'" +
            //"data-range='true'" +
            //"data-multiple-dates-separator=' - '" +
            //// "disabled='true'"+
            //"data-language='current'" +
            //"class='datepicker-here " + cssClassDate + "'" +
            //"style=' " + cssStyleDate + "' />").appendTo(elem);
            $('<div class="expander" id="expanderHolder">' +
                '<div class="expandButton" onclick="expandButtonClick(this,event);">...</div>' +
                '<div class="inExpandArea" style="display:none; padding:5px;">' +
                '<div class="list-group">' +
                '<div class="input-group list-group-item clearfix">' +
                '<input id="' + nameDatePickerLeft + '" type="text"' +
                'data-language="current" ' +
                'class="form-control  datepicker-here ' + cssClassDate + '" ' +
                'style="width:50%;float: left; ' + cssStyleDate + '" />' +


                '<input id="' + nameDatePickerRight + '" type="text"' +
                'data-language="current" ' +
                'class="form-control  datepicker-here ' + cssClassDate + '" ' +
                'style="width:50%;float: left;' + cssStyleDate + '" />' +
                '</div>' + dateOptionGenerator().join("") +
                '</div>' +
                '</div>' +
                '</div>').appendTo(elem);

            if (window.BrowserType.IsMobile()) {
                $("#" + nameDatePickerLeft).attr("readonly", "readonly");
                $("#" + nameDatePickerRight).attr("readonly", "readonly");
            }

            $("#" + nameDatePickerLeft).change(function (e) {
                SetDateFromTextbox(this, this.value,true);
            });
            $("#" + nameDatePickerRight).change(function (e) {
                SetDateFromTextbox(this, this.value,false);
            });

            $("#btnSetDate_1").click(function (e) {
                
                UpdateDateAndSlideFromButton('ad');
            });
            $("#btnSetDate_2").click(function (e) {
                UpdateDateAndSlideFromButton('-td')
            });
            $("#btnSetDate_3").click(function (e) {
                UpdateDateAndSlideFromButton('-1d')
            });
            $("#btnSetDate_4").click(function (e) {
                UpdateDateAndSlideFromButton('-7d')
            });
            $("#btnSetDate_5").click(function (e) {
                UpdateDateAndSlideFromButton('-0m')
            });
            $("#btnSetDate_6").click(function (e) {
                UpdateDateAndSlideFromButton('-1m')
            });
            $("#btnSetDate_7").click(function (e) {
                UpdateDateAndSlideFromButton('-3m')
            });
            $("#btnSetDate_8").click(function (e) {
                UpdateDateAndSlideFromButton('-0w')
            });
            $("#btnSetDate_9").click(function (e) {
                UpdateDateAndSlideFromButton('-0y')
            });

            $(".noUi-handle-upper").click(function (e) {
                if (IsSlide)
                    IsSlide = false;
                else {
                    var datepicker1 = $("#" + nameDatePickerRight).datepicker().data('datepicker');
                    //datepicker1.update({
                    //    position: "bottom left"
                    //});
                    datepicker1.$el_dece = datepicker1.$el;
                    datepicker1.$el = $(".noUi-handle-upper");
                    //datepicker1.show();
                    datepicker1.$el = datepicker1.$el_dece;

                    var lft = parseFloat(datepicker1.$datepicker.css("left").replace("px", "")) + datepicker1.$datepicker.outerWidth(); //çok solda
                    if (lft + 10 > $(window).width())
                        datepicker1.$datepicker.css("left", ($(window).width() - 10 - datepicker1.$datepicker.outerWidth()) + "px");
                }
            });

            $(".noUi-handle-lower").click(function (e) {
                if (IsSlide)
                    IsSlide = false;
                else {
                    var datepicker1 = $("#" + nameDatePickerLeft).datepicker().data('datepicker');
                    //datepicker1.update({
                    //    position: "bottom right"
                    //});
                    datepicker1.$el_dece = datepicker1.$el;
                    datepicker1.$el = $(".noUi-handle-lower");
                    //datepicker1.show();
                    datepicker1.$el = datepicker1.$el_dece;

                    var lft = parseFloat(datepicker1.$datepicker.css("left").replace("px", "")); //çok solda
                    if (lft < 10)
                        datepicker1.$datepicker.css("left", "10px");
                }
            });

            var dateFormatStr = 'mm.dd.yyyy';
            if (window.DeceClientState && window.DeceClientState.GetLanguage().split('-')[0] == "tr")
                dateFormatStr = 'dd.mm.yyyy'

            $("#" + nameDatePickerLeft).datepicker({
                position: 'bottom center',
                timepicker: false,
                dateFormat: dateFormatStr,
                //language: 'current',
                autoClose: true,
                onSelect: function (formattedDate, date, inst) {
                    UpdateDateAndSlide("DatePicker", formattedDate, date, inst);
                }
            });

            $("#" + nameDatePickerRight).datepicker({
                position: 'bottom center',
                timepicker: false,
                dateFormat: dateFormatStr,
                //language: 'current',
                autoClose: true,
                onSelect: function (formattedDate, date, inst) {
                    UpdateDateAndSlide("DatePicker", formattedDate, date, inst);
                }
            });

            $("#" + nameDatePickerLeft).bind("click", function () {
                $(".datepickers-container").css("margin-left", "40px");
            });
             $("#" + nameDatePickerRight).bind("click", function () {
                $(".datepickers-container").css("margin-left", "15px");
            });
            if (enableLoadDateToolTip)
                window.largeToolTip.InitToolTip();

        }
        
        this.setDateLimit = function (minDatePrm, maxDatePrm) {//tarihi limitini ayarlama
            var minDate; var maxDate;
            minDate = this.GetDateFromParameter(minDatePrm, false);
            if (!minDate)
                minDate = (minDatePrm && minDatePrm != "") ? new Date(minDatePrm) : new Date();
            maxDate = this.GetDateFromParameter(maxDatePrm, true);
            if (!maxDate)
                maxDate = (maxDatePrm && maxDatePrm != "") ? new Date(maxDatePrm) : new Date();

            var datepickerLeft = $("#" + nameDatePickerLeft).datepicker().data('datepicker');
            var datepickerRight = $("#" + nameDatePickerRight).datepicker().data('datepicker');
            //  if(minDate && minDate.length>0)
            // datepicker.update('minDate', new Date(minDate)); //tek parametre update
            datepickerLeft.update({
                minDate: minDate,
                maxDate: maxDate
            });

            datepickerRight.update({
                minDate: minDate,
                maxDate: maxDate
            });

            var minValue = new Date(minDate).getTime();
            var maxValue = new Date(maxDate).getTime();
            if (minValue == maxValue)
                minValue = minValue - 1;

            var slider = document.getElementById(nameSlider);
            slider.noUiSlider.updateOptions({
                range: {
                    'min': minValue,
                    'max': maxValue
                },
                start: [minValue, maxValue]
            });

            var thisDateTemp = new Date();
            if (DateValueCompare(maxDate, new Date()) >= 0) { $("#btnSetDate_2").removeAttr("disabled"); $("#btnSetDate_2").removeClass('disableBtn'); } else { $("#btnSetDate_2").attr("disabled", "disabled"); $("#btnSetDate_2").addClass('disableBtn'); }
            if (DateValueCompare(maxDate, new Date().setDate(thisDateTemp.getDate() - 1)) >= 0) { $("#btnSetDate_3").removeAttr("disabled"); $("#btnSetDate_3").removeClass('disableBtn'); } else { $("#btnSetDate_3").attr("disabled", "disabled"); $("#btnSetDate_3").addClass('disableBtn'); }
            if (DateValueCompare(maxDate, new Date().setDate(thisDateTemp.getDate() - 7)) >= 0) { $("#btnSetDate_4").removeAttr("disabled"); $("#btnSetDate_4").removeClass('disableBtn'); } else { $("#btnSetDate_4").attr("disabled", "disabled"); $("#btnSetDate_4").addClass('disableBtn'); }
            if (DateValueCompare(maxDate, new Date().setDate(1)) >= 0) { $("#btnSetDate_5").removeAttr("disabled"); $("#btnSetDate_5").removeClass('disableBtn'); } else { $("#btnSetDate_5").attr("disabled", "disabled"); $("#btnSetDate_5").addClass('disableBtn'); }
            if (DateValueCompare(maxDate, new Date().setMonth(thisDateTemp.getMonth() - 1)) >= 0) { $("#btnSetDate_6").removeAttr("disabled"); $("#btnSetDate_6").removeClass('disableBtn'); } else { $("#btnSetDate_6").attr("disabled", "disabled"); $("#btnSetDate_6").addClass('disableBtn'); }
            if (DateValueCompare(maxDate, new Date().setMonth(thisDateTemp.getMonth() - 3)) >= 0) { $("#btnSetDate_7").removeAttr("disabled"); $("#btnSetDate_7").removeClass('disableBtn'); } else { $("#btnSetDate_7").attr("disabled", "disabled"); $("#btnSetDate_7").addClass('disableBtn'); }


        }

        this.setSelectedDates = function (selectedDates) {
            var datepickerLeftInput = $("#" + nameDatePickerLeft);
            var datepickerRightInput = $("#" + nameDatePickerRight);

            var datepickerLeft = datepickerLeftInput.datepicker().data('datepicker');
            datepickerLeft.clear();
            var datepickerRight = datepickerRightInput.datepicker().data('datepicker');
            datepickerRight.clear();

            if (!selectedDates || selectedDates == null || !selectedDates.length || selectedDates.length < 2) 
                return;
            
            var dateArray = [];

            for (var i = 0; i < selectedDates.length; i++) {
                if (selectedDates[i] != "") {
                    var thisDate = this.GetDateFromParameter(selectedDates[i]);
                    if (thisDate)
                        dateArray.push(thisDate);
                    else
                        dateArray.push(new Date(selectedDates[i]));
                } else {
                    if (i == 0)
                        dateArray.push(datepickerRight.minDate);
                    else if (i == selectedDates.length - 1)
                        dateArray.push(datepickerRight.maxDate);
                }
            }

            if (dateArray.length < 1)
                return;
            if (!isNaN(dateArray[0])) 
                datepickerLeft.selectDate(dateArray[0]);
             
                

            if (!isNaN(dateArray[1])) 
                datepickerRight.selectDate(dateArray[1]);
            

            if (isNaN(dateArray[0]))
                datepickerLeftInput.val(selectedDates[0]);

            if (isNaN(dateArray[1]))
                datepickerRightInput.val(selectedDates[1]);


        }

        this.GetDateFromParameter=function(parameter, isMaxHour,updateStartEndTime) {
            var thisDay = new Date();
            if (isMaxHour)
                thisDay.setHours(23, 59, 59, 0);
            else if (isMaxHour == false)
                thisDay.setHours(00, 00, 00, 0);

            var isReset = parameter && parameter.indexOf && parameter.indexOf("reset") != -1;
            if (isReset)
                switch (parameter) {
                    case '1y reset': parameter = '-0y'; break;
                    case '1m reset': parameter = '-0m'; break;
                    case '1w reset': parameter = '-0w'; break;
                }

            switch (parameter) {
                case '-0y':
                    if (updateStartEndTime) {
                        pThis.startDate = "-0y";
                        pThis.endDate = "1y reset";
                    }
                    if (isReset)
                        thisDay = moment().endOf("year").toDate();
                    else
                        thisDay = moment().startOf('year').toDate();
                    break;
                case '-3m':
                    // thisDay.setMonth(thisDay.getMonth() - 3);
                    var thisDayCount = thisDay.getDate();
                    for (var i = 0; i < 3; i++) {
                        var maxDayLastMounth = new Date(thisDay.getFullYear(), thisDay.getMonth(), 0).getDate();
                        thisDay = new Date(thisDay.getFullYear(), thisDay.getMonth(), 0);//bir önceki ayın son gününe alınıyor
                        if (maxDayLastMounth >= thisDayCount) {
                            thisDay.setDate(thisDayCount);
                        }
                    }
                    if (updateStartEndTime) {
                        pThis.startDate = "-3m";
                        pThis.endDate = "1m reset";
                    }
                    break;
                case '-1m':
                    var maxDayLastMounth = new Date(thisDay.getFullYear(), thisDay.getMonth(), 0).getDate();
                    var thisDayCount = thisDay.getDate();
                    thisDay = new Date(thisDay.getFullYear(), thisDay.getMonth(), 0);//bir önceki ayın son gününe alınıyor
                    if (maxDayLastMounth >= thisDayCount) {
                        thisDay.setDate(thisDayCount);
                    }
                    if (updateStartEndTime) {
                        pThis.startDate = "-1m";
                        pThis.endDate = "1m reset";
                    }
                    break;
                case '-0m':
                    if (updateStartEndTime) {
                        pThis.startDate = "-0m";
                        pThis.endDate = "1m reset";
                    }
                    if (isReset)
                        thisDay = moment().endOf("month").toDate();
                    else
                        thisDay.setDate(1);
                    break;
                case '-7d':
                    thisDay.setDate(thisDay.getDate() - 7);
                    if (updateStartEndTime) {
                        pThis.startDate = "-7d";
                        pThis.endDate = "1d reset";
                    }
                    break;
                case '-1d':
                    thisDay.setDate(thisDay.getDate() - 1);
                    if (updateStartEndTime) {
                        pThis.startDate = "-1d";
                        pThis.endDate = "1d reset";
                    }
                    break;
                case '-td':
                case '-0d':
                    thisDay = thisDay;
                    if (updateStartEndTime) {
                        pThis.startDate = "-0d";
                        pThis.endDate = "-0d";
                    }
                    break;
                case 'ad':
                    if (updateStartEndTime) {
                        pThis.startDate = "";
                        pThis.endDate = "";
                    }
                    break;
                case '-0w':
                    if (updateStartEndTime) {
                        pThis.startDate = "-0w";
                        pThis.endDate = "1w reset";
                    }
                    if (isReset)
                        thisDay = moment().endOf("week").toDate();
                    else
                        thisDay = moment().startOf('week').toDate();
                    break;
                default:
                    return false;
                    break;
            }

            return thisDay;
        }

        this.setDesign = function (IsEnabled, showTodayButton, showClearButton, showTimepicker, autoClose, keyboardNav) {//görünüm düzenleme
            var datepickerLeft = $("#" + nameDatePickerLeft).datepicker().data('datepicker');
            var datepickerRight = $("#" + nameDatePickerRight).datepicker().data('datepicker');

            datepicker.datepickerLeft({
                todayButton: showTodayButton != null ? showTodayButton : false,
                keyboardNav: keyboardNav != null ? keyboardNav : true,
                clearButton: showClearButton != null ? showClearButton : false,
                autoClose: autoClose != null ? autoClose : false,
                timepicker: showTimepicker != null ? showTimepicker : false,
            });

            datepicker.datepickerRight({
                todayButton: showTodayButton != null ? showTodayButton : false,
                keyboardNav: keyboardNav != null ? keyboardNav : true,
                clearButton: showClearButton != null ? showClearButton : false,
                autoClose: autoClose != null ? autoClose : false,
                timepicker: showTimepicker != null ? showTimepicker : false,
            });
        }

        this.Destroy = function () { } 
        this.IsReady = function () {

        }
        this.GetDate = function (dateValue) {
            var datepickerLeftInput = $("#" + nameDatePickerLeft);
            var datepickerRightInput = $("#" + nameDatePickerRight);

            var dateObj = {};
            if (!dateValue && ((pThis.startDate && pThis.startDate.length > 0) || (pThis.endDate && pThis.endDate.length > 0))) {
                dateObj.startDate = pThis.startDate;
                dateObj.endDate = pThis.endDate;
                return dateObj;
            }

            var lfVal = datepickerLeftInput.val();
            if (window.SuportRelativeDate && isRelativeDate(lfVal)) {
                dateObj.startDate = lfVal;
            }
            else {
                var slider = document.getElementById(nameSlider);
                var datepickerLeft = datepickerLeftInput.datepicker().data('datepicker');
                if (datepickerLeft && datepickerLeft.selectedDates.length > 0) {
                    if (DateValueCompare(datepickerLeft.selectedDates[0], new Date(slider.noUiSlider.options.range.min)) == 0) {
                        dateObj.startDate = "";
                    }
                    else
                        dateObj.startDate = datepickerLeft.selectedDates[0];
                }
            }

            var rhVal = datepickerRightInput.val();
            if (window.SuportRelativeDate && isRelativeDate(rhVal)) {
                dateObj.endDate = rhVal;
            }
            else {
                var datepickerRight = datepickerRightInput.datepicker().data('datepicker');
                var slider = document.getElementById(nameSlider);
                if (datepickerRight && datepickerRight.selectedDates.length > 0) {
                    if (dateObj.startDate)
                        dateObj.endDate = datepickerRight.selectedDates[0];
                    else {
                        if (DateValueCompare(datepickerRight.selectedDates[0], new Date(slider.noUiSlider.options.range.max)) == 0)
                            dateObj.endDate = "";
                        else
                            dateObj.endDate = datepickerRight.selectedDates[0];
                    }

                }
            }
         return dateObj;
        }

        this.Init();
        function UpdateDateAndSlideFromButton(val, noHide) {
            var slider = document.getElementById(nameSlider);

            var s1 = "", e1 = "";
            if (val == 'ad') {
                var r = [slider.noUiSlider.options.range.min, slider.noUiSlider.options.range.max];
                slider.noUiSlider.set(r);
                s1 = "";
                e1 = "";
            }
            else {
                var thisDay = pThis.GetDateFromParameter(val, false,true);
                if (!thisDay)
                    return false;
                var s1 = pThis.startDate;
                var e1 = pThis.endDate;
                

                var datepickerLeft = $("#" + nameDatePickerLeft).datepicker().data('datepicker');
                var datepickerRight = $("#" + nameDatePickerRight).datepicker().data('datepicker');
                datepickerLeft.selectDate(thisDay);
                var today = new Date();
                if (window.endDate)
                    today = pThis.GetDateFromParameter(window.endDate, true);
                else
                    today.setHours(23, 59, 59, 0)
                
                datepickerRight.selectDate(today);

            }

            if (!noHide) {
                $content = $(".expandButton").next();
                $content.slideToggle(200, function () {
                })
            }

            $(document.body).trigger("datepicker.update");

            pThis.startDate = s1;
            pThis.endDate = e1;

            return true;

        }

        function SetDateFromTextbox(elem, value,isLeft) {
            var pickerInput = $(elem);
            var vl = pickerInput.val();
            if (window.SuportRelativeDate && isRelativeDate(vl)) {
                if (isLeft)
                    window.__myPicker.startDate = "";
                else
                    window.__myPicker.endDate = "";
                return;
            }

            var picker = $(elem).datepicker().data('datepicker');
            var date = pThis.GetDateFromParameter(value, false,true);
            if (date)
                picker.selectDate(date);
            else {

                var DateText = moment(value, picker.loc.dateFormat.toUpperCase());
                if (DateText.isValid())
                    picker.selectDate(new Date(DateText));
                else
                    picker.selectDate(picker.currentDate);
            }
        }

        if (!IsVisibleDateText) {
            $(leftDateTextElement).hide();
            $(rightDateTextElement).hide();
        }
    }
    function UpdateDateAndSlide(elemType, param0, param1, param2, dateType) {
        if (window.__updatingDTP) return;
        window.__updatingDTP = true;
        if (elemType == "DatePicker") {
            var formattedDate = param0;
            var date = param1;
            var inst = param2;
            if (formattedDate && date && inst) {
                var slider = document.getElementById(nameSlider);
                var datepickerLeftInput = $("#" + nameDatePickerLeft);
                var datepickerRightInput = $("#" + nameDatePickerRight);
                var datepickerLeft = datepickerLeftInput.datepicker().data('datepicker');
                var datepickerRight = datepickerRightInput.datepicker().data('datepicker');
                var min = null;
                var max = null;
                if (datepickerLeft) {
                    min = datepickerLeft.lastSelectedDate;
                }
                if (datepickerLeft) {
                    max = datepickerRight.lastSelectedDate;
                }

                var r = [min != null ? min.getTime() : slider.noUiSlider.options.range.min, max != null ? max.getTime() : slider.noUiSlider.options.range.max];
                slider.noUiSlider.set(r);
            }
        }
        else if (elemType == "Slider") {
            var values = param0;
            var datepickerLeft = $("#" + nameDatePickerLeft).datepicker().data('datepicker');

            if (datepickerLeft) {
                //var dateArray = [new Date(values[0] * 1), new Date(values[1] * 1)];
                // datepickerLeft.clear();
                datepickerLeft.selectDate(new Date(values[0] * 1));
            }

            var datepickerRight = $("#" + nameDatePickerRight).datepicker().data('datepicker');
            if (datepickerRight) {
                //var dateArray = [new Date(values[0] * 1), new Date(values[1] * 1)];
                // datepickerRight.clear();
                datepickerRight.selectDate(new Date(values[1] * 1));
            }

        }

        window.__updatingDTP = false;
        var datepickerLeft = $("#" + nameDatePickerLeft).datepicker().data('datepicker');
        var datepickerRight = $("#" + nameDatePickerRight).datepicker().data('datepicker');


        if (datepickerLeft) {

            if (datepickerLeft.selectedDates && datepickerLeft.selectedDates.length == 1) {
                var formatLeftDate = formatDate(datepickerLeft.selectedDates[0]);
                $(leftDateTextElement).text(formatLeftDate);
                $(".noUi-base div.noUi-origin").eq(0).attr("title", formatLeftDate);
                window.largeToolTip.left.html(formatLeftDate);
                $(document.body).trigger("datepicker.update");

            }
        }

        if (datepickerRight) {
            if (datepickerRight.selectedDates && datepickerRight.selectedDates.length == 1) {
                var formatRightDate = formatDate(datepickerRight.selectedDates[0]);
                $(rightDateTextElement).text(formatRightDate);
                $(".noUi-base div.noUi-origin").eq(1).attr("title", formatRightDate);
                window.largeToolTip.right.html(formatRightDate);
                $(document.body).trigger("datepicker.update");
            }
        }


        if (window.__myPicker) {
            window.__myPicker.startDate = "";
            window.__myPicker.endDate = "";
        }
    }

    function DateValueCompare(date1, date2) {
        try {
            date1 = new Date(date1);
            date2 = new Date(date2);

            if (date1.getFullYear() > date2.getFullYear())
                return 1;
            if (date1.getFullYear() < date2.getFullYear())
                return -1;

            if (date1.getMonth() > date2.getMonth())
                return 1;
            if (date1.getMonth() < date2.getMonth())
                return -1;

            if (date1.getDate() > date2.getDate())
                return 1;
            if (date1.getDate() < date2.getDate())
                return -1;

            return 0;
        }
        catch (err) { //hata varsa -2 dönüyor
            return -2;
        };
    }



</script>