﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceGeoHelper.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap-multiselect/bootstrap-multiselect.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/bootstrap-multiselect/bootstrap-multiselect.css" />
<dcc:item factoryname="ResourceControl" src="GUI/Control/ConnectionString.view.html" />

<script>
    String.prototype.turkishToUpper = function () {
        var string = this;
        var letters = { "i": "İ", "ş": "Ş", "ğ": "Ğ", "ü": "Ü", "ö": "Ö", "ç": "Ç", "ı": "I" };
        string = string.replace(/(([iışğüçö]))/g, function (letter) { return letters[letter]; })
        return string.toUpperCase();
    }

    String.prototype.turkishToLower = function () {
        var string = this;
        var letters = { "İ": "i", "I": "ı", "Ş": "ş", "Ğ": "ğ", "Ü": "ü", "Ö": "ö", "Ç": "ç" };
        string = string.replace(/(([İIŞĞÜÇÖ]))/g, function (letter) { return letters[letter]; })
        return string.toLowerCase();
    }
</script>

<div class="" id="btnDTSOpenSelectFileHolder">
    <div class="input-group">
        <input class="form-control" id="__DTStxtOpenFilePath" type="text" placeholder="[$DTS:file_path/html]" onkeypress="if (event.keyCode == 13) btnOpenSelectFileClick(true);" onchange="btnOpenSelectFileClick(true)">
        <span class="input-group-btn">
            <button id="btnDTSOpenSelectFile" class="btn btn-info" style="display:none;" onclick="btnOpenSelectFileClick()">[$DTS:SetFilePath]</button>
            <button class="btn btn-info" id="btnConnection" onclick="EditConnection()">[$DTS:SetConnection]</button>
            <label id="btnDTSUploadFile" class="btn btn-info" for="DTSUploadFile" style="display:none;">
                <span>[$DTS:upload_file]</span>
                <input id="DTSUploadFile" type="file" onchange="UploadTempFile()" style="display:none;">
            </label>
        </span>
    </div>
</div>

<style>
    .hoverFile {
        border: 1px dashed #5bc0de;
    }

    .dropFileArea {
        border: 1px dashed lightgray;
    }

    .noPadding {
        padding-left: 0;
        padding-right: 0;
    }

    .customDtsStyle {
        position: relative;
        top: -7px;
        margin-bottom: 6px;
    }

    .colTextOverflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dictionary-dropdown {
        overflow-y: auto;
        max-height: 35vh;
    }
</style>

<div id="__DTSElementsPanel" class="panel-group" style="display:none; padding-top:3px !important">
    <div class="panel panel-default">
        <div class="panel-heading" id="header1">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">[$DTS:AdvancedSettings]</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div id="tableNameSelect" class="form-group" style="padding-top: 5px;">
                <div class="col-xs-5">
                    <label class="control-label" for="__DTSbtnTableChose">[$DTS:table_name]</label>
                </div>
                <div class="noPadding col-xs-7">

                    <div class="dropdown input-group ">
                        <button id="__DTSbtnTableChose" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            -<span class="caret caret-right"></span>
                        </button>
                        <ul id="__DTSulTableList" class="dropdown-menu dictionary-dropdown default-dropdown" role="menu" aria-labelledby="__DTSbtnTableChose">
                            <div class="img-loading24"></div>
                        </ul>
                    </div>

                    <div id="tableSQL" class="noPadding col-xs-8" style="padding-top:2px;display:none;">
                        <div class="input-group">
                            <input type="text" id="_tableSQL" class="form-control" onkeypress="if (event.keyCode == 13) columnListLoad('S Q L')" />
                            <span class="input-group-btn">
                                <button class="btn btn-default " onclick="columnListLoad('S Q L');">Run</button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>




            <div id="__DTSElements" style="display:none;padding-top:5px;"></div>
        </div>
    </div>
</div>
<!--<div id="__DTSElements" class="form-group collapse" style="display:none" href="#collapse1"></div>-->

<script>
    function _GetDTSFormats() {

        if (window.SupportsFromFileFilter)
            return {
                Filter: window.SupportsFromFileFilter.join("|")
            };

        var allDataFilesText = "[$DTS:fileFilterAll/js]";
        var AcceptList = [];
        if (!window.SupportsFromFileFilter) {
            var allFormat = [=c.RestApiJson("DTSHandler", "GetAllFileFormats")];
            var tmp1 = [];
            var tmpArrayforExtAllFormat = [];
            $.each(allFormat, function (i, v1) {
                if (v1 && v1.length > 0) {
                    var tmpArrayforExt = [];
                    for (var k = 0; k < v1.length; k++) {
                        var ext = v1[k];
                        tmpArrayforExt.push("*" + ext);
                        tmpArrayforExtAllFormat.push("*" + ext);
                        AcceptList.push(ext);
                    }
                    tmp1.push(tmpArrayforExt.join(", ") + "|" + tmpArrayforExt.join(";"));
                }
            });
            if (tmpArrayforExtAllFormat.length > 0)
                tmp1.unshift(tmpArrayforExtAllFormat.join(",") + "|" + tmpArrayforExtAllFormat.join(";"));

            allDataFilesText = tmp1.join("|");
        }

        return {
            Filter: allDataFilesText,
            AcceptList: AcceptList

        };
    }
</script>
<script>

    

    $(window).ready(function () {
        if (window.BrowserType.IsWinApp()) {
            $("#btnDTSOpenSelectFile").css("display", "inline");
            $("#btnConnection").css("display", "inline");
            $("#btnDTSUploadFile").css("display", "none");
            $('#__DTStxtOpenFilePath').attr("disabled", false);
        }
        else {
            $("#btnDTSOpenSelectFile").css("display", "none");
            //$("#btnConnection").css("display", "none");
            $("#btnDTSUploadFile").css("display", "inline-block");
            $('#__DTStxtOpenFilePath').attr("disabled", true);
            var frm = _GetDTSFormats()
            if (frm && frm.AcceptList && frm.AcceptList.length > 0)
                $("#DTSUploadFile").attr("accept", frm.AcceptList.join(","));
        }
    });

    function GetAllSupportedEPSG() {
        window.GeodiServiceObj.GetAllSupportedEPSG(function (data, textStatus) {
            window.AllSupportedEPSG = data;
        });
    }
    //control mtd
    function _SetBtnText(btn, text) {
        if (!text && text != 0)
            text = "-";
        if ($(btn).prop("tagName") !== "SELECT")
            $(btn).html(text + '<span class="caret caret-right"></span>');
        var idStr = $(btn).attr("id");
        if (idStr == '__DTSbtnTableChose') {
            $('#tableSQL').css("display", (DefaultDTS.DTSShowSQL && text == "S Q L") ? "block" : "none");
        }
        else
            $('#' + idStr + "_MacroDiv").css("display", (DefaultDTS.DTSShowMacro && (text == 'M a c r o')) ? "block" : "none");
        //rechckGUI
    }

    function EditConnection() {
        var activeCnn = window.DefaultDTS.DTSOutput.DataSource;
        if (activeCnn && typeof activeCnn == 'string')
            activeCnn = null;

        _PSCC.Command({
            Command: 'EditConnection',
            language: window.DeceClientState ? window.DeceClientState.GetLanguage() : '',
            ActiveConnection: activeCnn,
            wsName: window.wsNameGetter ? window.wsNameGetter():null
        },
            function (data) {
                if (data.Response != "cancel") {
                    window.DefaultDTS.DTSOutput.DataSource = data.Response;
                    $("#__DTStxtOpenFilePath").val("[$DTS:DatabaseConnected/js]");
                    __DTSGetTableList(window.DefaultDTS.DTSOutput.DataSource);
                }
            }
        );
    }


    window.DefaultDTS = new function () {
        this.SourceSchema = null;
        this.that = this;
        var DTSOutput = {
            DataSource: "",
            TableName: "",
            Values: {}
        };

        this.DTSElementsVisible = true;
        this.IsInit = false;
        this.tableNameVisible = true;
        this.DTSElementsShowPanel = true;
        this.DTSShowSelectFile = true;
        this.DTSShowSQL = true;
        this.DTSShowMacro = true;
        this.DisableDragDropFile = false;
        this.LastFilledOutput = null;
        this.DataSourceValidator = null;

        this.Init = function (sourceSchema) {// arayüzü oluşturur.
            GetAllSupportedEPSG();
            if (!this.DisableDragDropFile) {
                if (!window.___dragSeted) {
                    btnDTSOpenSelectFileHolder.ondragover = function () { this.className = 'hoverFile'; return false; };
                    btnDTSOpenSelectFileHolder.ondragend = function () { this.className = 'dropFileArea'; return false; };
                    btnDTSOpenSelectFileHolder.ondragleave = function () { this.className = 'dropFileArea'; return false; };
                    window.___dragSeted = true;
                    $("#btnDTSOpenSelectFileHolder").addClass("dropFileArea");
                    $("#btnDTSOpenSelectFileHolder").css("padding", "10px");
                    btnDTSOpenSelectFileHolder.ondrop = function (e) {
                        $("#btnDTSOpenSelectFileHolder").removeClass("dropFileArea");
                        e.preventDefault();
                        UploadTempFileSend(e.dataTransfer.files[0]);
                    }
                }
            }
            else {
                $("#btnDTSOpenSelectFileHolder").removeClass("dropFileArea");
            }

            $('#tableNameSelect').css("display", this.tableNameVisible ? "block" : "none");
            $('#btnDTSOpenSelectFileHolder').css("display", this.DTSShowSelectFile ? "block" : "none");

            $("#__DTStxtOpenFilePath").val("");
            $("#DTSUploadFile").val("");

            $('#__DTSulTableList').html('');

            if (!this.DTSElementsShowPanel) {
                $("#collapse1").addClass("in");
                $("#header1").hide();
            }

            var element = $("#__DTSElements");
            element.html('');
            this.SourceSchema = sourceSchema;
            this.DTSOutput = {
                DataSource: "",
                TableName: "",
                Values: {}
            };
            if (this.SourceSchema && this.SourceSchema.Columns)
                for (var i = 0; i < this.SourceSchema.Columns.length; i++) {

                    var col = this.SourceSchema.Columns[i];

                    var htmlColumn = '<div class="form-group">' +
                        '<div class="col-xs-5">' +
                        '<label class="control-label colTextOverflow" title="' + col.DisplayName + '" for="__DTScolumn_' + i + '">' + col.DisplayName + (col.Attributes && col.Attributes.Required ? '*' : '') + '</label>' +
                        '</div>' +
                        '<div class="noPadding col-xs-7">';
                    if (col.Attributes && col.Attributes.MultiSelect)
                        htmlColumn += '<select id="__DTScolumn_' + i + '" multiple="multiple"></select>';
                    else {
                        var className = "dropdown";
                        if (i > 10)
                            className = "dropup";

                        htmlColumn += '<div class="' + className + ' input-group">' +
                            '<button id="__DTScolumn_' + i + '" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">' +
                            '-<span class="caret caret-right"></span>' +
                            '</button>' +
                            '<ul id="__DTSulColumnList_' + i + '" class="dropdown-menu default-dropdown dictionary-dropdown" role="menu" aria-labelledby="__DTScolumn_' + i + '">' +
                            '<div class="img-loading24"></div>' +
                            '</ul>' +
                            '</div>';

                        if (this.DTSShowMacro)
                            htmlColumn += '<div class="noPadding col-xs-7" style="padding-top:2px;display:none;" id="__DTScolumn_' + i + '_MacroDiv" ><input type="text" id="__DTScolumn_' + i + '_Macro"  class="form-control"/></div>';
                    }
                    htmlColumn += '</div></div>';




                    element.append(htmlColumn);


                    if (col.Attributes && col.Attributes.MultiSelect) {
                        $('#__DTScolumn_' + i).data('itemSourceData', col.ID);
                        $('#__DTScolumn_' + i).change(function () { changeMulti($(this)) });
                        $('#__DTScolumn_' + i).multiselect(
                            {
                                allSelectedText: "[$DTS:allSelected/js]",
                                nonSelectedText: "[$DTS:noneSelected/js]",
                                nSelectedText: "[$DTS:nSelected/js]"
                            });

                    }


                    this.DTSOutput.Values[col.ID] = "";
                }

            this.IsInit = true;
            if (this.tmpInitGUI)
                this.UpdateGUI(this.tmpInitGUI);
        }

        this.UpdateGUI = function (DTSOutputCurrent) {

            if (this.IsInit) {
                this.tmpInitGUI = null;
                var schema = this.SourceSchema;
                if (!DTSOutputCurrent) DTSOutputCurrent = { Values: {} };
                if (!DTSOutputCurrent.Values) DTSOutputCurrent.Values = {};

                //validate input
                if (DTSOutputCurrent.TableName) //datasource nesnesi için sadece table name gelmişse, combobox gibi
                {
                    if (DTSOutputCurrent.TableName.indexOf("SQL:") == 0) {
                        $("#_tableSQL").val(DTSOutputCurrent.TableName.substr(4));
                        DTSOutputCurrent.TableName = "S Q L";
                    }
                }
                if (DTSOutputCurrent.Values) {//default olarak combobox gibi boş olsada etiket verilmişse
                    for (var i = 0; i < schema.Columns.length; i++) {
                        if (DTSOutputCurrent.Values[schema.Columns[i].ID]) {
                            var col = schema.Columns[i];
                            var val = DTSOutputCurrent.Values[col.ID];

                            if (val.indexOf("Macro:") == 0) {
                                $('#__DTScolumn_' + i + '_Macro').val(val.substr(6));
                                val = "M a c r o";
                            }
                            DTSOutputCurrent.Values[col.ID] = val;
                            this.DTSOutput.Values[col.ID] = val;
                        }
                    }
                }

                if (DTSOutputCurrent.DataSource) {
                    var path = DTSOutputCurrent.DataSource;
                    if (path && typeof path == 'string')
                        $("#__DTStxtOpenFilePath").val(path);
                    else
                        $("#__DTStxtOpenFilePath").val("[$DTS:DatabaseConnected/js]");
                }
                else if (!window.BrowserType.IsWinApp()){
                    $("#__DTStxtOpenFilePath").val("");
                    this.DTSOutput.DataSource = "";
                }
                this.LastFilledOutput = DTSOutputCurrent;

                __DTSGetTableList(DTSOutputCurrent.DataSource, DTSOutputCurrent.TableName);
            }
            else {
                this.tmpInitGUI = DTSOutputCurrent;
            }
        }
        this.Destroy = function () {

            $('#__DTSElementsPanel').hide();
            $('#__DTSElements').css("display", "none");
        } // this.Element içeriğini tamamen boşaltır, yakaladığı eventler, timerlar varsa iptal eder. // gerçeklenmesi gerekmiyor
        this.IsReady = function (disableShowMesage, options) {// arayüzden girilen bilgiler tamamlanmışmı

            if (this.DataSourceValidator) {
                var vl = this.DataSourceValidator(this, disableShowMesage);
                if (vl == true || vl == false)
                    return vl;
            }

            if (!this.DTSOutput || !this.DTSOutput.DataSource) {
                if (!disableShowMesage)
                    showMessage("[$DTS:error_table_select/js]", "[$default:error/js]", 'danger');
                return false;
            }

            if (!this.DTSOutput.TableName)
                return false;

            var tbl = $($('#__DTSbtnTableChose').contents()[0]).text();
            if (tbl == "" || tbl == "-") {
                if (!disableShowMesage)
                    showMessage("[$DTS:error_table_select/js]", "[$default:error/js]", 'danger');
                return false;
            }

            if (tbl == "S Q L" && !$("#_tableSQL").val()) {
                if (!disableShowMesage)
                    showMessage("[$DTS:error_empty_sql/js]", "[$default:error/js]", 'danger');
                return false;
            }

            for (var i = 0; i < this.SourceSchema.Columns.length; i++) {
                var value = this.DTSOutput.Values[this.SourceSchema.Columns[i].ID];
                if (value == "" || value == "-") {
                    if (this.SourceSchema.Columns[i].Attributes && this.SourceSchema.Columns[i].Attributes.Required && this.SourceSchema.Columns[i].Attributes.Required == true) {
                        if (this.SourceSchema.Columns[i].Attributes.OptionalColumnID && this.DTSOutput.Values[this.SourceSchema.Columns[i].Attributes.OptionalColumnID]) {
                            var tempValue = this.DTSOutput.Values[this.SourceSchema.Columns[i].Attributes.OptionalColumnID];
                            if (tempValue == "" || tempValue == "-") {
                                if (!disableShowMesage)
                                    showMessage((options && options.MsgColumnSelect ? options.MsgColumnSelect : "[$DTS:error_column_select/js]").replace("{0}", this.SourceSchema.Columns[i].DisplayName), "[$default:error/js]", 'danger');
                                return false;
                            }
                            else delete this.DTSOutput.Values[this.SourceSchema.Columns[i].ID];
                        }
                        else {
                            if (!disableShowMesage)
                                showMessage((options && options.MsgColumnSelect ? options.MsgColumnSelect : "[$DTS:error_column_select/js]").replace("{0}", this.SourceSchema.Columns[i].DisplayName), "[$default:error/js]", 'danger');
                            return false;
                        }
                    }
                    else
                        delete this.DTSOutput.Values[this.SourceSchema.Columns[i].ID];
                }
                else if (value == 'M a c r o') {
                    if (this.SourceSchema.Columns[i].Attributes && this.SourceSchema.Columns[i].Attributes.Required && this.SourceSchema.Columns[i].Attributes.Required == true && !$('#__DTScolumn_' + i + '_Macro').val()) {
                        if (!disableShowMesage)
                            showMessage("[$DTS:error_empty_macro/js]".replace("{0}", this.SourceSchema.Columns[i].DisplayName), "[$default:error/js]", 'danger');
                        return false;
                    }
                }
            }
            return true;
        }
        this.GetDTSOutput = function () {//arayğüzden DTSOutput oluşturur döner
            if (this.IsReady()) {
                var mObj = JSON.parse(JSON.stringify(this.DTSOutput));
                if (mObj.TableName && (mObj.TableName == "S Q L" || mObj.TableName.indexOf("SQL:") == 0))
                    mObj.TableName = "SQL:" + $("#_tableSQL").val();

                for (var i = 0; i < this.SourceSchema.Columns.length; i++) {
                    var val = mObj.Values[this.SourceSchema.Columns[i].ID];
                    if (val && (val == 'M a c r o' || (val.indexOf && val.indexOf("Macro:") == 0)))
                        mObj.Values[this.SourceSchema.Columns[i].ID] = "Macro:" + $('#__DTScolumn_' + i + '_Macro').val();
                }


                return mObj;
            }
            else return null;
        }
    }


</script>

<script type="text/javascript">

    function btnOpenSelectFileClick(wEnter) {
        if (window.BrowserType.IsWinApp()) {

            var path = $('#__DTStxtOpenFilePath').val();
            if (wEnter && path)
                __DTSGetTableList();
            else {
                var allDataFilesText = _GetDTSFormats().Filter;
                _PSCC.Command({
                    Command: 'SelectFile',
                    Filter: allDataFilesText,
                    SelectedFile: path
                },
                    function (data) {
                        if (data.Response) {
                            $('#__DTStxtOpenFilePath').val(data.Response);
                            __DTSGetTableList();
                        }
                    }
                );
            }
        }

    }

    function UploadTempFile() {
        var fileData = $("#DTSUploadFile")[0].files[0];
        UploadTempFileSend(fileData);
    }

    function UploadTempFileSend(fileData) {
        if (!fileData) return;
        $("#__DTStxtOpenFilePath").val(fileData.name);
        var url = "/DTSHandler?op=UploadTemp";
        url += "&fileName=" + window.HttpUtility.UrlEncode(fileData.name);
        $.ajax({
            url: url,  //Server script to process data
            type: "POST",
            data: fileData,
            cache: false,
            contentType: false,
            processData: false,
            crossDomain: true,
            timeout: 300000,
            success: function (data) {
                if (data && data.success == true) {
                    __DTSGetTableList(data.path);
                    $("#DTSUploadFile")[0].files[0] = null;
                }
            }
        });
    }

    function __DTSGetTableList(pathLocal, tableName) {
        var tableList = $('#__DTSulTableList');
        tableList.html('');
        if (!tableName) {
            if (window.DefaultDTS.LastFilledOutput && window.DefaultDTS.LastFilledOutput.TableName) tableName = window.DefaultDTS.LastFilledOutput.TableName;
            else if (window.DefaultDTS.DTSOutput.TableName) tableName = window.DefaultDTS.DTSOutput.TableName;
        }

        var path = pathLocal ? pathLocal : $('#__DTStxtOpenFilePath').val();
        if (path && (typeof path != 'string' || path.length > 0)) {

            window.DefaultDTS.DTSOutput.DataSource = path; //JSON! Object !!!
            if (!pathLocal)
                $('#__DTStxtOpenFilePath').val(path);

            if (window.DefaultDTS.DataSourceValidator) {
                var vl = window.DefaultDTS.DataSourceValidator(window.DefaultDTS);
                if (vl == true)
                    return;
            }

            $.post("DTSHandler?op=GetTables", { 'DataSource': JSON.stringify(path) }, function (result) {

                if (result && result.Tables) {
                    var tables = result.Tables;

                    var elem = $('<li role="presentation" onclick="tableListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)">-</a></li>');
                    tableList.append(elem);
                    var tableNameControl = false;
                    for (var i = 0; i < tables.length; i++) {
                        elem = $('<li role="presentation" onclick="tableListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)">' + tables[i] + '</a></li>');
                        tableList.append(elem);
                        if (tableName)
                            if (tables[i] == tableName)
                                tableNameControl = true;
                    }
                    if (result.SupportSQL && window.DefaultDTS.DTSShowSQL) {
                        var elem = $('<li role="presentation" onclick="tableListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)"><i>S Q L</i></a></li>');
                        tableList.append(elem);
                        if (!tableNameControl && tableName == "S Q L")
                            tableNameControl = true;
                    }


                    if (tableNameControl) {
                        _SetBtnText('#__DTSbtnTableChose', tableName);
                        window.DefaultDTS.DTSOutput.TableName = tableName;
                        columnListLoad(tableName);

                    }
                    else if (tables.length == 1)//tek tablo varsa işleme devam edilmeli
                    {
                        _SetBtnText('#__DTSbtnTableChose', tables[0]);
                        tableName = window.DefaultDTS.DTSOutput.TableName = tables[0];
                        columnListLoad(tableName);

                    }
                    else {
                        tableName = window.DefaultDTS.DTSOutput.TableName = "";
                        _SetBtnText('#__DTSbtnTableChose', "-");
                        if (window.DefaultDTS.DTSElementsVisible) {
                            $('#__DTSElements').css("display", "block");
                            $('#__DTSElementsPanel').css("display", "block");
                        }
                        resetColumns();

                    }

                    var geomIndex = window.DefaultDTS.SourceSchema.Columns.findIndex(function (f) { return f.ID === "Geom" });
                    var sridIndex = window.DefaultDTS.SourceSchema.Columns.findIndex(function (f) { return f.ID === "SRID" });
                    window.fileExtension = null;
                    if (typeof path === "string")
                        window.fileExtension = path.split('.').pop();
                    else if (typeof path === "object") {
                        if (path.ConnectionObject && path.ConnectionObject["Data Source"])
                            window.fileExtension = path.ConnectionObject["Data Source"].split('.').pop();
                    }



                    if (window.fileExtension) {
                        window.fileExtension = window.fileExtension.toLowerCase();
                        switch (window.fileExtension) {
                            case "kml":
                            case "kmz":
                                if (geomIndex > -1)
                                    $("#__DTScolumn_" + geomIndex).parents("div.form-group").hide();
                                if (sridIndex > -1)
                                    $("#__DTScolumn_" + sridIndex).parents("div.form-group").hide();
                                break;
                            case "shp":
                            case "zip":
                                if (geomIndex > -1)
                                    $("#__DTScolumn_" + geomIndex).parents("div.form-group").hide();
                                if (sridIndex > -1)
                                    $("#__DTScolumn_" + sridIndex).parents("div.form-group").show();
                                break;
                            default:
                                if (geomIndex > -1)
                                    $("#__DTScolumn_" + geomIndex).parents("div.form-group").show();
                                if (sridIndex > -1) {
                                    $("#__DTScolumn_" + sridIndex).parents("div.form-group").show();
                                    window.DefaultDTS.SourceSchema.Columns[sridIndex].Attributes["NoEPSGAuto"] = true;
                                }

                                break;
                        }
                    }

                }
            }, 'json');
        }
        else {

            if (window.DefaultDTS.DataSourceValidator) {
                var vl = window.DefaultDTS.DataSourceValidator(window.DefaultDTS);
                if (vl == true)
                    return;
            }

            if (window.DefaultDTS && window.DefaultDTS.SourceSchema && window.DefaultDTS.SourceSchema.Columns && window.DefaultDTS.SourceSchema.Columns.length > 0)
                columnListLoad();
        }
    }

    function tableListItem_Click(sender) {
        var btn = $(sender).parent().siblings('button');
        if (btn.text() == $(sender).text())
            return;
        _SetBtnText(btn, $(sender).text());
        columnListLoad($(sender).text());
    }

    function resetColumns() {
        var oldValues = {};

        for (var i = 0; i < DefaultDTS.SourceSchema.Columns.length; i++) {
            var col = DefaultDTS.SourceSchema.Columns[i];
            var multiselect = col.Attributes && col.Attributes.MultiSelect;
            var columnList =
                multiselect ?
                    $('#__DTScolumn_' + i + '') :
                    $('#__DTSulColumnList_' + i + '');
            columnList.html('');
            oldValues[col.ID] = $('#__DTScolumn_' + i).text();
            _SetBtnText('#__DTScolumn_' + i, "-");
            DefaultDTS.DTSOutput.Values[col.ID] = "-";
        }
        return oldValues;
    }

    function columnListLoad(tableName) {

        var path = window.DefaultDTS.DTSOutput.DataSource;
        window.DefaultDTS.DTSOutput.TableName = tableName;
        var lDefaultDTS = window.DefaultDTS;

        if (path && (typeof path != 'string' || path.length > 0)) {

            var oldValues = resetColumns();

            if (tableName == "S Q L") {
                if (!$("#_tableSQL").val())
                    return;
                tableName = "SQL:" + $("#_tableSQL").val();
            }

            $.post("DTSHandler?op=GetSchema", { 'DataSource': JSON.stringify(path), 'TableName': tableName }, function (schema) {

                var usedColumns = [];
                if (schema && schema.Columns) {
                    lDefaultDTS.LastTableSchema = schema; //for reload GUI
                    for (var i = 0; i < lDefaultDTS.SourceSchema.Columns.length; i++) {
                        var col = lDefaultDTS.SourceSchema.Columns[i];
                        var multiselect = col.Attributes && col.Attributes.MultiSelect;
                        var columnList =
                            multiselect ?
                                $('#__DTScolumn_' + i + '') :
                                $('#__DTSulColumnList_' + i + '');

                        columnList.html('');
                        var columnControl = false;
                        var elem;
                        var notEPSGField = !col.Attributes || (col.Attributes && !col.Attributes.EPSGField);

                        if (!multiselect && notEPSGField) {
                            elem = $('<li role="presentation" onclick="columnListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)">-</a></li>');
                            elem.data('itemTargetData', '-');
                            elem.data('itemSourceData', col.ID);
                            columnList.append(elem);
                        }

                        var coldIdOk = multiselect ? {} : null;
                        var val0 = null;

                        if (lDefaultDTS.LastFilledOutput) {
                            val0 = lDefaultDTS.LastFilledOutput.Values[col.ID];
                        }
                        else {
                            if (oldValues && oldValues[col.ID])
                                val0 = oldValues[col.ID];
                            else
                                val0 = "MT:" + col.ID;
                        }

                        if (val0) {

                            if (multiselect) {
                                var vals = val0.substr(3).split('\r');//MT:
                                $.each(vals, function (itm, v) {
                                    coldIdOk[v] = true;
                                });
                            }
                            else {
                                coldIdOk = val0;
                            }

                        }


                        if (notEPSGField) {
                            for (var j = 0; j < schema.Columns.length; j++) {
                                if (multiselect) {
                                    elem = $('<option value="' + schema.Columns[j].ID + '">' + schema.Columns[j].ID + '</option>');
                                    if (coldIdOk[schema.Columns[j].ID]) {
                                        columnControl = true;
                                        elem.attr("selected", true);
                                    }

                                }
                                else {
                                    elem = $('<li role="presentation" onclick="columnListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)">' + schema.Columns[j].ID + '</a></li>');

                                    var sColumns = (schema.Columns[j].ID ? schema.Columns[j].ID.trim().toLowerCase() : null);
                                    if (sColumns) {
                                        if ((coldIdOk && coldIdOk.trim().toLowerCase() == sColumns) || (col.DisplayName && col.DisplayName.trim().toLowerCase() == sColumns))
                                            columnControl = schema.Columns[j].ID;
                                        else if (col.AllLocalizedDisplayName && col.AllLocalizedDisplayName.findIndex(function (f) { return f.trim().toLowerCase() == sColumns }) > -1)
                                            columnControl = schema.Columns[j].ID;
                                    }


                                }

                                elem.data('itemTargetData', schema.Columns[j].ID);
                                elem.data('itemSourceData', col.ID);
                                columnList.append(elem);
                            }

                            if (!multiselect) {
                                elem = $('<li role="presentation" onclick="columnListItem_Click(this);"><a role="menuitem" tabindex="-1" href="javascript:void(0)"><i>M a c r o</i></a></li>');
                                elem.data('itemTargetData', 'M a c r o');
                                elem.data('itemSourceData', col.ID);
                                columnList.append(elem);

                                if (coldIdOk == 'M a c r o')
                                    columnControl = coldIdOk;

                            }
                        }

                        if (col.Attributes && col.Attributes.EPSGField) {
                            if (!col.Attributes.NoEPSGAuto) {
                                var $liFirst = $("<li/>", { role: "presentation", onclick: "columnListItem_Click(this);" });
                                var $aFirst = $("<a/>", { role: "menuitem", href: "javascript:void(0)", html: "Auto" });
                                $liFirst.append($aFirst);
                                columnList.append($liFirst);
                            }


                            if (window.AllSupportedEPSG) {
                                for (var sp = 0; sp < window.AllSupportedEPSG.length; sp++) {
                                    var supportedEPSG = window.AllSupportedEPSG[sp];
                                    var $li = $("<li/>", { role: "presentation", onclick: "columnListItem_Click(this);" });
                                    var $a = $("<a/>", { role: "menuitem", href: "javascript:void(0)", html: supportedEPSG.toString() });
                                    $li.append($a);
                                    columnList.append($li);

                                    if (sp === (window.AllSupportedEPSG.length - 1)) {
                                        if (!coldIdOk) coldIdOk = schema.SRID.toString();

                                        if (coldIdOk) {
                                            var epsgControl = window.AllSupportedEPSG.find(function (f) { return f === Number(schema.SRID) });
                                            if (epsgControl)
                                                columnControl = schema.SRID.toString();
                                            else columnControl = "Auto";
                                        }
                                        else {
                                            switch (window.fileExtension) {
                                                case "shp":
                                                case "zip":
                                                    if (!schema.SRID || schema.SRID === 0)
                                                        columnControl = "Auto";
                                                    break;
                                                default:
                                                    if (schema.SRID) {

                                                        var schemaSRIDControl = window.AllSupportedEPSG.find(function (f) { return f === schema.SRID });
                                                        if (schemaSRIDControl)
                                                            columnControl = schemaSRIDControl;
                                                        else columnControl = "4326";
                                                    }
                                                    else columnControl = "4326";
                                                    break;
                                            }


                                        }
                                    }
                                }

                            }
                        }


                        if (multiselect) {
                            columnList.multiselect('rebuild');
                            columnList.multiselect('refresh');
                            changeMulti(columnList);
                        }
                        else if (columnControl) {
                            _SetBtnText('#__DTScolumn_' + i, columnControl);
                            DefaultDTS.DTSOutput.Values[col.ID] = columnControl;
                        }

                        if (!columnControl) {
                            for (var j = 0; j < schema.Columns.length; j++)
                                for (var k = 0; k < lDefaultDTS.SourceSchema.Columns.length; k++) {
                                    if (usedColumns.indexOf(k) == -1)
                                        if (!columnControl && lDefaultDTS.SourceSchema.Columns[k].Attributes && lDefaultDTS.SourceSchema.Columns[k].Attributes.DefaultColumnNames) {
                                            var columnCount = lDefaultDTS.SourceSchema.Columns[k].Attributes.DefaultColumnNames.length;
                                            for (var m = 0; m < columnCount; m++) {
                                                if (i == k) {
                                                    if (!columnControl && schema.Columns[j].ID.turkishToLower() == lDefaultDTS.SourceSchema.Columns[k].Attributes.DefaultColumnNames[m].turkishToLower()) {
                                                        columnControl = true;
                                                        if (multiselect) {

                                                            $("option[value=" + lDefaultDTS.SourceSchema.Columns[k].Attributes.DefaultColumnNames[m] + "]", $('#__DTScolumn_' + i)).attr("selected", "selected");
                                                            DefaultDTS.DTSOutput.Values[lDefaultDTS.SourceSchema.Columns[k].ID] = "MT:" + schema.Columns[j].ID;
                                                            $('#__DTScolumn_' + i).multiselect("refresh");
                                                        }
                                                        else {
                                                            _SetBtnText('#__DTScolumn_' + i, lDefaultDTS.SourceSchema.Columns[k].Attributes.DefaultColumnNames[m]);
                                                            DefaultDTS.DTSOutput.Values[lDefaultDTS.SourceSchema.Columns[k].ID] = schema.Columns[j].ID;
                                                        }
                                                        usedColumns.push(k);
                                                        k = lDefaultDTS.SourceSchema.Columns.length;
                                                    }
                                                }
                                            }


                                        }
                                }
                        }

                        if (!columnControl) {
                            _SetBtnText('#__DTScolumn_' + i, "-");
                            DefaultDTS.DTSOutput.Values[col.ID] = "-";
                        }
                        if (lDefaultDTS.DTSElementsVisible) {
                            $('#__DTSElements').css("display", "block");
                            $('#__DTSElementsPanel').css("display", "block");
                        }
                    }

                    lDefaultDTS.LastFilledOutput = null;
                }
            }, 'json');
        }

    }

    function columnListItem_Click(sender) {
        window.DefaultDTS.DTSOutput.Values[$(sender).data('itemSourceData')] = $(sender).data('itemTargetData');
        _SetBtnText($(sender).parent().siblings('button'), $(sender).text());
    }

    function changeMulti(sender) {
        var arr = [];
        $("option:selected", sender).each(function (a) {
            var item = $(this);
            arr.push(item.val());
        })
        window.DefaultDTS.DTSOutput.Values[$(sender).data('itemSourceData')] = "MT:" + arr.join('\r');

    }

</script>