﻿    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui/jquery-ui.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/sortable/Sortable.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />

    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceAuthorizationManager.js" />

    <dcc:item factoryname="ResourceControl" src="GUI/Custom/WidgetTools/DeceWidgetTools.html" />

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />

    <dcc:layoutarea name="DECE_WIDGETS" checkresource="True" targetfolder="GUI/Custom/Widgets/Dece" />


    <script>
        if (!window.DeceWidget)
            window.DeceWidget = {};

        window.DeceWidget.SetResizable = function (widget, dfHeight) {
            if (!widget.settings) widget.settings = {};
            if (!widget.settings.height) widget.settings.height = dfHeight;
            var target1 = $(".widget-inpanel", widget.targetDom);
            if (target1.attr("_setresiazable_ok") == "1") return;
            target1.attr("_setresiazable_ok", "1");
            target1.height(widget.settings.height);
            if (typeof (ResizeObserver) == "function") {
                target1.addClass("resize-panel");
                var dm1 = target1[0];
                dm1.obs = new ResizeObserver(function () {
                    var hgt = target1.height();
                    widget.settings.height = hgt;
                });
                dm1.obs.observe(target1[0])
            }
        }
        function GetWidgetInstance(widgetId) {
            return window.DeceDashboard.GetWidget(widgetId);
        }
        window.DeceDashboard = {
            TargetDom: "#DashboardArea",
            Reset: function () {
                window.DeceDashboard.__Widgets = [];
                window.DeceDashboard.Areas = [];

                delete window.DeceDashboard.ID;
                delete window.DeceDashboard.Permissions;
                delete window.DeceDashboard.DisplayName;
                delete window.DeceDashboard.DisplayName__NonLocalized;
                delete window.DeceDashboard.Description;
                delete window.DeceDashboard.Description__NonLocalized;

                delete window.DeceDashboard.Attributes;
                delete window.DeceDashboard.IconName;
                delete window.DeceDashboard.Priority;
                delete window.DeceDashboard.ConditionMacro;
                delete window.DeceDashboard.ActionTargets;
                _dashboardSaveDialogUpdateGUI();
            },
            GetWidget: function (widgetId) {
                return window.DeceDashboard.__Widgets.find(function (a) { return a.Id == widgetId; });
            },
            GetJson: function (isStringify) {
                var rtnObj = { Areas: [] };
                $(".nested-sortable", window.DeceDashboard.TargetDom).each(function (index) {
                    var area = { Childs: [] };
                    $(".widget-panel", this).each(function () {
                        var child = $(this).data("instance");
                        var widgetChild = {
                            Type: child.Type,
                            Settings: child.settings
                        };
                        area.Childs.push(widgetChild);
                    });
                    rtnObj.Areas.push(area);
                });
                rtnObj.Permissions = window.DeceDashboard.Permissions;

                rtnObj.DisplayName = window.DeceDashboard.DisplayName;
                rtnObj.DisplayName__NonLocalized = window.DeceDashboard.DisplayName__NonLocalized;
                rtnObj.Description = window.DeceDashboard.Description;
                rtnObj.Description__NonLocalized = window.DeceDashboard.Description__NonLocalized;

                
                rtnObj.Attributes = window.DeceDashboard.Attributes;
                rtnObj.IconName =window.DeceDashboard.IconName;
                rtnObj.Priority =window.DeceDashboard.Priority;
                rtnObj.ConditionMacro = window.DeceDashboard.ConditionMacro;
                rtnObj.ActionTargets = window.DeceDashboard.ActionTargets;


                rtnObj.DefaultDateQuery = window.DeceDashboard.__DefaultDateQuery;
                rtnObj.CurrentLayoutGridSystemIndex = window.DeceDashboard.LayoutManager.CurrentLayoutGridSystemIndex;
                return (isStringify ? JSON.stringify(rtnObj) : rtnObj);
            },
            SetJson: function (dashboard) {
                var pThis = this;
                if (dashboard) {
                    var dashboardDateWidget = window.DeceDashboard.Areas.find(function (f) { return f.Childs.find(function (c) { return c.Type === "MobidiOfisDateWidget" }) });
                    if (dashboardDateWidget && dashboard.DefaultDateQuery)
                        pThis.__DefaultDateQuery = dashboard.DefaultDateQuery;
                    if (dashboard.CurrentLayoutGridSystemIndex) {
                        pThis.LayoutManager.CurrentLayoutGridSystemIndex = dashboard.CurrentLayoutGridSystemIndex;
                        if (dashboard.CurrentLayoutGridSystemIndex < pThis.LayoutManager.LayoutGridSystems.length)
                            pThis.LayoutManager.LayoutColumnSizeMap = pThis.LayoutManager.LayoutGridSystems[dashboard.CurrentLayoutGridSystemIndex].DisplayColumnSize;
                    }

                    if (dashboard.Areas && Array.isArray(dashboard.Areas) && dashboard.Areas.length > 0) {
                        pThis.Destroy();
                        if (dashboard.TargetDom) {
                            if (dashboard.TargetDom && $(dashboard.TargetDom).length > 0)
                                pThis.TargetDom = dashboard.TargetDom;
                        }
                        pThis.LayoutManager.CreateLayoutColumnMap();
                        pThis.Areas = dashboard.Areas;
                        pThis.Areas.forEach(function (area) {
                            pThis.__SetIdentifier(area);
                        });
                        pThis.__Render();
                        pThis.__InitRefresh();
                    }
                    else {
                        pThis.LayoutManager.CreateLayoutColumnMap();
                        pThis.__Render();
                        pThis.__InitRefresh();
                    }
                }
            },
            Destroy: function () {
                if (this.__RefreshTimer)
                    clearInterval(this.__RefreshTimer);
                this.LayoutManager.__CurrentIndex = 0;
                this.LayoutManager.__CurrentColumnSize = 0;
                this.LayoutManager.__CurrentRowTarget = null;
                $(this.TargetDom).empty();
            },
            RefreshSecondTime: 120,
            ActivateEditMode: function () {
                this.__EditMode = true;
                if (window.DeceDashboard.__IsNew)
                    $((window.DynamicDashboardArea ? window.DynamicDashboardArea :"body")).addClass("widget-isnew-mode");
                renderLayout();
                $((window.DynamicDashboardArea ? window.DynamicDashboardArea : "body")).removeClass("widget-inedit-mode");
                $((window.DynamicDashboardArea ? window.DynamicDashboardArea : "body")).addClass("widget-edit-mode");
                this.__SynchronizationTimer = window.setInterval(function () { window.DeceDashboard.Synchronization(); }, 1000);
            },
            DisableEditMode: function (cancelMode) {
                this.__EditMode = false;
                $((window.DynamicDashboardArea ? window.DynamicDashboardArea : "body")).addClass("widget-inedit-mode");
                $((window.DynamicDashboardArea ? window.DynamicDashboardArea : "body")).removeClass("widget-edit-mode");
                clearInterval(this.__SynchronizationTimer);
                if (cancelMode && window.DeceDashboard.ID)
                    initDashboard(window.DeceDashboard.ID);
            },
            LayoutManager: {
                __CurrentIndex: 0,
                __CurrentColumnSize: 0,
                __CurrentColumnTarget: null,
                LayoutColumnSizeMap: [12, 6, 6, 12],
                CurrentLayoutGridSystemIndex: 0,
                LayoutGridSystems: [
                    { Id: 1, DisplayImageSrc: "GUIJsonService?op=getIco&IconName=Widget/layout1", DisplayColumnSize: [12, 6, 6, 12] },
                    { Id: 2, DisplayImageSrc: "GUIJsonService?op=getIco&IconName=Widget/layout2", DisplayColumnSize: [12, 9, 3, 12] }
                ],
                GetNewLayoutColumn: function () {
                    var pThis = this;
                    if (pThis.__CurrentIndex === pThis.LayoutColumnSizeMap.length)
                        pThis.__CurrentIndex = 0;
                    var layoutColumn = pThis.LayoutColumnSizeMap[pThis.__CurrentIndex];
                    pThis.__CurrentColumnTarget = $("<div/>", { class: "widget-empty nested-sortable col-md-" + layoutColumn });
                    $(window.DeceDashboard.TargetDom).append(pThis.__CurrentColumnTarget);
                    pThis.__CurrentIndex++;
                    __loadDashboardSortable();
                    return pThis.__CurrentColumnTarget;
                },
                CreateLayoutColumnMap: function () {
                    for (var i = 0; i < this.LayoutColumnSizeMap.length; i++) {
                        this.GetNewLayoutColumn();
                    }
                }
            },
            Remove: function (removeIds) {
                Loop1:
                for (var i = 0; i < removeIds.length; i++) {
                    var target = removeIds[i];
                    if (target.targetId) {
                        Loop2:
                        for (var ar = 0; ar < window.DeceDashboard.Areas.length; ar++) {
                            var area = window.DeceDashboard.Areas[ar];
                            if (area.Childs) {
                                var childIndex = area.Childs.find(function (f) { return f.Id === target.targetId });
                                if (childIndex > -1)
                                    area.Childs.splice(childIndex, 1);
                                var wchildIndex = window.DeceDashboard.Areas[ar].Childs.find(function (f) { return f.Id === target.targetId });
                                if (wchildIndex > -1)
                                    window.DeceDashboard.Areas[ar].Childs.splice(wchildIndex, 1);
                                var fIndex = window.DeceDashboard.__Widgets.findIndex(function (w) { return w.Id == target.targetId; });
                                if (fIndex > -1) {
                                    window.DeceDashboard.__Widgets.splice(fIndex, 1);
                                    break Loop2;
                                    continue Loop1;
                                }

                            }
                        }
                    }
                }
            },
            Reload: function (layoutManagerCurrentIndex) {
                this.Destroy();
                this.Areas.forEach(function (area) {
                    delete area.TargetDom;
                    delete area.targetDom;
                    area.Childs.forEach(function (child) {
                        delete child.TargetDom;
                        delete child.targetDom;
                    });
                });
                if (typeof layoutManagerCurrentIndex == 'number' && layoutManagerCurrentIndex > -1) {
                    var layoutGridSystems = window.DeceDashboard.LayoutManager.LayoutGridSystems[layoutManagerCurrentIndex];
                    if (layoutGridSystems) {
                        window.DeceDashboard.LayoutManager.CurrentLayoutGridSystemIndex = layoutManagerCurrentIndex;
                        window.DeceDashboard.LayoutManager.LayoutColumnSizeMap = layoutGridSystems.DisplayColumnSize;
                        $(".layout-active").removeClass("layout-active");
                        $(".layoutGridItem img").eq(layoutManagerCurrentIndex).addClass("layout-active");

                    }
                }
                if (window.DeceDashboard.ID) window.DeceDashboard.SetJson(window.DeceDashboard);
                else window.DeceDashboard.LayoutManager.CreateLayoutColumnMap();

            },
            Synchronization: function () {
                window.DeceDashboard.Areas = [];
                $(".nested-sortable", window.DeceDashboard.TargetDom).each(function (index) {
                    var area = { Childs: [] };

                    $(".widget-panel", this).each(function () {
                        var child = $(this).data("instance");
                        area.Childs.push(child);
                    });
                    window.DeceDashboard.Areas.push(area);
                });
            },
           
            ChangeRowOverlay: function (targetDom, rowOverlay) {
                if ($(targetDom).length > 0) {
                    var classNames = [];
                    $(targetDom).attr("class").split(" ").forEach(function (className) {
                        if (className.startsWith("col-md")) {
                            className = "col-md-" + rowOverlay;
                        }
                        classNames.push(className);
                    });
                    $(targetDom).attr("class", classNames.join(" "));

                }
            },
            Areas: [],
            SetDefaultDateQuery: function (dateQuery) {
                this.__DefaultDateQuery = dateQuery;
                if (dateQuery) {
                    this.Areas.forEach(function (area) {
                        if (area.Childs) {
                            area.Childs.forEach(function (child) {
                                var ins = child;
                                if (child.Widget)
                                    ins = child.Widget;
                                if (!ins.settings.alwaysKeepDateSetting) {
                                    if (!ins.settings.query) {
                                        if (ins.Type.startsWith("MobidiOfis")) ins.settings.query = new MobidiQuery();
                                    }
                                    if (ins.settings.query) {
                                        $.extend(ins.settings.query, dateQuery);
                                        ins.widgetTools.callback(ins.settings, "query");
                                    }
                                }
                            });
                        }
                    });
                }
                else {
                    $(".dateButtonGroup button").removeClass("active");
                }
            },
            __DefaultDateQuery: null,
            __Widgets: [],
            __SetIdentifier: function (area) {
                if (area) {
                    area.Id = "area_" + guid();
                    area.Childs.forEach(function (child) {
                        child.Id = guid();
                    });
                }
            },
            __EditMode: true,
            __InitRefresh: function () {
                if (window.Dahboard__GetLastLoadOrChangeTime) {
                    window.Dahboard__GetLastLoadOrChangeTime(function (time) {
                        window.DeceDashboard.__LastLoadOrChangeTime = time;
                    });
                    this.__RefreshTimer = window.setInterval(function () {
                        window.Dahboard__GetLastLoadOrChangeTime(function (time) {
                            if (time != window.DeceDashboard.__LastLoadOrChangeTime) {
                                window.DeceDashboard.__LastLoadOrChangeTime = time;
                                window.DeceDashboard.__Update();
                            }
                        });
                    }, (window.DeceDashboard.RefreshSecondTime * 1000));
                }
            },
            __Update: function (settings, tools) {
                this.Areas.forEach(function (area) {
                    if (area.Childs) {
                        area.Childs.forEach(function (child) {
                            try {
                                child.Widget.update(true);
                            } catch (e) {
                                child.update(true);
                            }

                        });
                    }
                });
            },
            __Render: function () {
                if (this.__EditMode)
                    $("body").removeClass("widget-inedit-mode");
                $.each(this.Areas, function (iKey, area) {
                    
                    if (!area.TargetDom) {
                        area.TargetDom = $(window.DeceDashboard.TargetDom).find(".nested-sortable:eq(" + iKey + ")");
                        if (area.TargetDom.length==0)
                            area.TargetDom = $(window.DeceDashboard.TargetDom).find(".widget-empty:eq(0)");
                        if (area.TargetDom.length == 0)
                            area.TargetDom = $(window.DeceDashboard.TargetDom).find(".nested-sortable:last-child");

                    }

                    window.DeceDashboard.__AreaRender(area);
                }) 
                
            },
            __AreaRender: function (area) {
                var parentColumnSize = 0;
                if (!area.Id)
                    area.Id = "area_" + guid();

                

                $(area.TargetDom).addClass("widgetArea");
                $(area.TargetDom).attr("id", area.Id);
                if ($(area.TargetDom).attr("class")) {
                    $(area.TargetDom).attr("class").split(" ").forEach(function (className) {
                        if (className.startsWith("col-md")) {
                            var columnClassData = className.split("-");
                            parentColumnSize = columnClassData[columnClassData.length - 1];
                        };
                    });
                }

                if (area.Childs && Array.isArray(area.Childs) && area.Childs.length > 0) {
                    area.Childs.forEach(function (child) {
                        if (child.Settings) child.Settings.parentColumnSize = parseInt(parentColumnSize);
                        else child.Settings = { parentColumnSize: parseInt(parentColumnSize) };
                        window.DeceDashboard.__AreaChildRender(area.TargetDom, child);
                    });
                }
            },
            __AreaChildRender: function ($areaDom, child) {
                if ($areaDom && $areaDom.length > 0 && child) {

                    var ins = null;
                    try {
                        ins = eval("new DeceWidget." + child.Type + "()");
                    }
                    catch (e1) {
                        console.log("Widget Create Error", e1);
                        return null;
                    }

                    if (!$areaDom.attr("id"))
                        $areaDom.attr("id", "area_" + guid());
                    $areaDom.removeClass("widget-empty");

                    var $div = null;
                    if (!child.Id)
                        child.Id = guid();

                    if (child.TargetDom || child.targetDom) {
                        if (child.TargetDom)
                            $div = (child.TargetDom || child.targetDom);
                        else if (child.targetDom)
                            $div = child.targetDom;
                        var childId = $div.attr("id");
                        if (!childId)
                            $div.attr("id", child.Id);
                    }
                    else {
                        $div = $("<div/>", { id: child.Id });
                        $areaDom.append($div);
                    }
                   
                    ins.Id = child.Id;

                    ins.targetDom = $div;

                    if (child.Settings)
                        ins.settings = child.Settings;
                    if (child.settings)
                        ins.settings = child.settings;

                    if (window.DeceDashboard.__DefaultDateQuery) {
                        if (!ins.settings.query) {
                            if (ins.Type.startsWith("MobidiOfis")) ins.settings.query = new MobidiQuery();
                        }
                        if (ins.settings.query)
                            $.extend(ins.settings.query, window.DeceDashboard.__DefaultDateQuery);

                    }
                    if (child.Tools && child.Tools.noframe) { //old style
                        if (ins.settings) {
                            if (ins.settings.noframe == undefined)
                                ins.settings.noframe = true;
                        }
                        else
                            ins.settings = { noframe: true }
                    }

                    ins.init();
                    child.Widget = ins;
                    


                    this.__Widgets.push(ins);
                    return ins;
                }
            },
            __SetDashboardDisplayName: function (displayName) {
                if (displayName)
                    window.DeceDashboard.DisplayName = displayName;
                var html1 = "<img style='display: inline;' src='GUIJsonService?op=getIco&IconName=" + (window.DeceDashboard.IconName ? window.DeceDashboard.IconName : "empty") + "'> " + window.DeceDashboard.DisplayName;
                
                $("#dashboardTitle").html(html1);
                $("input[name=dashboardName]").val(html1);
            },
            __GetColumnSize: function (area) {
                var parentColumnSize = 0;
                if (area.length > 0) {
                    var classData = area.attr("class").split(" ");
                    classData.forEach(function (f) {
                        if (f.startsWith("col-md")) {
                            var colDat = f.split("-");
                            parentColumnSize = parseInt(colDat[colDat.length - 1]);
                        }
                    });
                    return parentColumnSize;
                }
                return parentColumnSize;
            },
            __GetParentColumnSize: function ($item,$related) {
                var area = null;
                if ($related && $related.length>0)
                    area = $related;
                else {
                    area = ($item.hasClass("widgetArea") || $item.hasClass(".nested-sortable")  ? $item : $item.parents(".widgetArea"));
                    if (area.length == 0)
                        area = $item.closest(".nested-sortable");
                }
                return window.DeceDashboard.__GetColumnSize(area);
                
            },
            __ResizeDashboardEvnt: function (targetDom) {

                var rnFnc = function (widgetPanel) {
                    var widget = $(widgetPanel).data("instance");
                    var panelHeadingWidth = $(".widget-inpanel-area .panel-heading", widgetPanel).width();
                    var panelToolsWidth = (widget.settings.icon ? 121 : 111);
                    var panelTitleWidth = (panelHeadingWidth - panelToolsWidth);
                    $(".widget-inpanel-area .panel-heading .panel-title", widgetPanel).css("max-width", panelTitleWidth + "px");
                }

                if (!targetDom) {
                    $(".widget-panel").each(function () {
                        rnFnc($(this));
                    });
                }
                else rnFnc(targetDom);
            }
        };

        function __addWidget(widgetType, targetDom, insertIndex, widgetTargetDom) {
            var widget = window.WidgetList.find(function (f) { return f.Type == widgetType });
            if (widget) {
                var lastWidgetTypes = window.DeceDashboard.__Widgets.filter(function (w) { return w.Type === widgetType });
                if (lastWidgetTypes.length > 0)
                    lastWidgetType = lastWidgetTypes[lastWidgetTypes.length - 1];

                var totalWidgetType = lastWidgetTypes.length;
                if (totalWidgetType <= 0)
                    totalWidgetType = 1;
                else totalWidgetType++;

                var parentColumnSize = null;
                if (widgetTargetDom) {
                    var nearWidget = widgetTargetDom.prev(".widget-panel", targetDom);
                    if (nearWidget.length==0)
                        nearWidget = widgetTargetDom.next(".widget-panel", targetDom);
                    if (nearWidget.length > 0)
                        parentColumnSize = window.DeceDashboard.__GetColumnSize($(nearWidget));
                }

                $(".nested-sortable").removeClass("borderedDiv selectedDiv");

                var title = widget.Text;
                if (!title) title = widgetType;
                title += " " + totalWidgetType;
                var lWidget = {
                    Id: guid(),
                    Type: widget.Type,
                    TargetDom: widgetTargetDom,
                    InsertIndex: insertIndex,
                    Settings: {
                        title: title,
                        parentColumnSize: 12,
                    }
                };
                if (parentColumnSize)
                    lWidget.Settings.rowOverlay = parentColumnSize;

                window.DeceDashboard.__AreaChildRender(targetDom, lWidget);
                $(".borderedDiv, .selectedDiv").removeClass("borderedDiv selectedDiv");
                $("#widgetTitle").val("");
                window.DeceDashboard.__ResizeDashboardEvnt();
                widget = $(widgetTargetDom).data("instance");
                var timer = window.setInterval(function () {
                    if (widget.container) {
                        clearInterval(timer);
                        widget.container.__loadRowOverlay();
                    }
                }, 200);

            }


        }

        function __loadDashboardSortable() {
            var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));
            for (var i = 0; i < nestedSortables.length; i++) {
                new Sortable($(nestedSortables)[i], {
                    scroll: true,
                    forceFallback: true,
                    group: 'nested',
                    animation: 150,
                    handle: '.widgetDraggableBtn',
                    onStart: function (event) {
                        var widget = $(event.item).data("instance");
                        $(".widget-empty").addClass("borderedDiv");
                        $(".widget-empty").addClass("droppableHeight");
                        if (widget) {
                            if (widget.IframeWidget) {
                                window.__lastMapIframe = $(event.target).find("iframe").eq(0).clone(true);
                                $(event.target).find("iframe").remove();
                                $(event.item).find("iframe").remove();
                            }

                        }
                    },
                    onMove: function (event) {
                        $(".selectedDiv").removeClass("selectedDiv");
                        if ($(event.related).closest(".nested-sortable").length > 0) {
                            $(".borderedDiv").removeClass("borderedDiv");
                            var widget = $(event.dragged).data("instance");
                            if (widget) {
                                var newParentColumnSize =
                                    $(event.related).hasClass("widget-panel") ? window.DeceDashboard.__GetColumnSize($(event.related)) : 0;

                                if (!newParentColumnSize) newParentColumnSize = 12;
                                widget.settings.__randowOverlay = newParentColumnSize;
                                window.DeceDashboard.ChangeRowOverlay($(event.dragged), widget.settings.__randowOverlay);
                            }
                            $(event.related).closest(".nested-sortable").addClass("selectedDiv");
                        }
                        else $(".borderedDiv").removeClass("borderedDiv");

                    },
                    onEnd: function (event) {
                        if ($(event.from).find(".widget-panel").length == 0)
                            $(event.from).addClass("widget-empty");

                        $(".borderedDiv").removeClass("borderedDiv");
                        $(".selectedDiv").removeClass("selectedDiv");
                        var widget = $(event.item).data("instance");
                        if (widget.IframeWidget)
                            $(".widget-main-container-area", widget.targetDom).append(window.__lastMapIframe);
                        window.DeceDashboard.ChangeRowOverlay($(event.item), widget.settings.__randowOverlay);
                        widget.settings.rowOverlay = widget.settings.__randowOverlay;
                        widget.container.__loadRowOverlay();
                        $(event.to).removeClass("widget-empty");

                    }
                });
            }
        }

        function renderLayout() {
            $("#widgetList .layoutGridItem").remove();
            for (var i = 0; i < window.DeceDashboard.LayoutManager.LayoutGridSystems.length; i++) {
                var $layoutDiv = $("<div/>", { class: "layoutGridItem" });
                var layoutGridSystem = window.DeceDashboard.LayoutManager.LayoutGridSystems[i];
                var $gridGroupItemImg = $('<img/>', { src: layoutGridSystem.DisplayImageSrc, onclick: "window.DeceDashboard.Reload(" + i + ")" });
                if (window.DeceDashboard.LayoutManager.CurrentLayoutGridSystemIndex == i)
                    $gridGroupItemImg.addClass("layout-active");
                $layoutDiv.append($gridGroupItemImg);
                $("#widgetList").append($layoutDiv);
            }
        }

        function renderWidgetList() {
            $("#widgetList").empty();

            window.WidgetList.forEach(function (widget) {
                var $widgetModalItem = $("<div/>", { class: "widgetModalItem", title: widget.Title });
                if (widget.Sortable)
                    $widgetModalItem.addClass("sortable-item");
                var $widgetModalItemI = $("<i/>", { class: widget.Icon });
                $widgetModalItem.append($widgetModalItemI);
                $widgetModalItem.append($("<span/>", { html: widget.Text }));

                new Sortable($widgetModalItem[0], {
                    scroll: true,
                    forceFallback: true,
                    group: { name: "nested", pull: "clone", put: false },
                    animation: 150,
                    handle: '.sortable-item',
                    sort: false,
                    onStart: function () {
                        $(".widget-empty").addClass("borderedDiv");
                        $(".widget-empty").addClass("droppableHeight");
                    },
                    onClone: function (evt) {
                        $(evt.item).addClass("fa-2x draggingDom");
                    },
                    onMove: function (event) {
                        if ($(event.related).closest(".nested-sortable").length > 0) {
                            $(".selectedDiv").removeClass("selectedDiv");
                            $(event.related).closest(".nested-sortable").addClass("selectedDiv");
                        }
                        else $(".selectedDiv").removeClass("selectedDiv");
                    },
                    onEnd: function (evt) {
                        $(evt.item).removeClass("fa-2x");
                        $(evt.item).removeClass("draggingDom");
                        if ($(evt.item).parents(".nested-sortable").length > 0) {
                            var widgetType = $(evt.from).attr("widget-type");
                            var $newDiv = $("<div/>", { class: "selectedDiv" });
                            $newDiv.insertBefore($(evt.item).parent().children().eq($(evt.item).index()));
                            __addWidget(widgetType, $(evt.item).parent(), $(evt.item).index(), $newDiv);
                            $(evt.item).remove();
                        } else {
                            $(".borderedDiv").removeClass("borderedDiv");
                            $(".selectedDiv").removeClass("selectedDiv");
                        }
                        $(".droppableHeight").removeClass("droppableHeight");

                    }
                });
                $widgetModalItem.attr("widget-type", widget.Type);
                $("#widgetList").append($widgetModalItem);
            });


        }

        function createNewDashboard() {
            var dashboardIndex = 1;
            var dashboardName = "[$WidgetResources:new_dashboard/js] " + dashboardIndex;
            $.get("/"+window.DashboardHandler+"?op=GetSimpleDashboards", function (simpleDashboards) {
                if (simpleDashboards) {

                    var fnc = function (dashboardName) {
                        var dashboard = simpleDashboards.find(function (f) { return f.DisplayName == dashboardName });
                        if (dashboard) {
                            dashboardIndex++;
                            dashboardName = "[$WidgetResources:new_dashboard/js] " + dashboardIndex;
                            return fnc(dashboardName);
                        }
                        else return dashboardName;
                    };
                    dashboardName = fnc(dashboardName);
                    window.DeceDashboard.Reset();
                    window.DeceDashboard.ActivateEditMode();
                    window.DeceDashboard.LayoutManager.CreateLayoutColumnMap();
                    window.DeceDashboard.__SetDashboardDisplayName(dashboardName);
                    $("body").removeClass("empty-dashboard");
                    $(".empty-dashboard-area").remove();
                }
            });
        }

        function initDashboard(dashboardId,disableCheckPerm) {
            if (dashboardId && dashboardId != "null") {
                $.get("/" + window.DashboardHandler +"?op=GetDeceDashboard&dashboardId=" + dashboardId, function (dashboard) {
                    if (dashboard) {
                        var loadDashboard = function (result) {
                            window.DeceDashboard.Reset();
                            if (!disableCheckPerm) {
                                if (result) {
                                    $("#dashboardEditButton").show();
                                }

                                window.DeceDashboard.EditPermission = result;
                            }
                            window.DeceDashboard.DisableEditMode();
                            window.DeceDashboard.__IsNew = false;
                            window.DeceDashboard.SetJson(dashboard);
                            window.DeceDashboard.ID = dashboard.ID;
                            window.DeceDashboard.DisplayName = dashboard.DisplayName;
                            window.DeceDashboard.DisplayName__NonLocalized = dashboard.DisplayName__NonLocalized;
                            window.DeceDashboard.Description = dashboard.Description;
                            window.DeceDashboard.Description__NonLocalized = dashboard.Description__NonLocalized;

                            window.DeceDashboard.Permissions = dashboard.Permissions;
                            
                            window.DeceDashboard.Attributes = dashboard.Attributes;
                            window.DeceDashboard.IconName = dashboard.IconName;
                            window.DeceDashboard.Priority = dashboard.Priority;
                            window.DeceDashboard.ConditionMacro = dashboard.ConditionMacro;
                            window.DeceDashboard.ActionTargets = dashboard.ActionTargets;

                            window.DeceDashboard.__SetDashboardDisplayName();

                            _dashboardSaveDialogUpdateGUI();

                            __loadDashboardSortable();
                        }

                        if (disableCheckPerm)
                            loadDashboard(false);
                        else
                            $.post("/" + window.DashboardHandler + "?op=GetDeceDashboardEditPermission", { dashboard: JSON.stringify(dashboard) }, function (result) {
                                loadDashboard(result);
                            });
                    }
                    else _PSCC.Command({ Command: 'FireWinEvent', EventName: 'NoDashboard' });


                });
            }
            else {
                var isNew = HttpUtility.UrlDecode(GetUrlParameter('isNew'));
                if (isNew) {
                    $("#dashboardEditButton").show();
                    createNewDashboard();
                    window.DeceDashboard.__IsNew = true;
                }
                else {
                    $("body").addClass("empty-dashboard");
                    $(".empty-dashboard-area").show();
                }

            }
        }

        function setDashAboradShowMain() {
            if (window.DeceDashboard) {
                if (!window.DeceDashboard.Attributes)
                    window.DeceDashboard.Attributes = {};
                window.DeceDashboard.Attributes["ShowMain"] = $("#dashShowMainBtn1").prop("checked");
                _dashboardSaveDialogUpdateGUI();
            }
        }

        function setDashboardPermissions() {
            var curItem = window.DeceDashboard;
            ShowModalForPemrissions("Dashboard", curItem, {
                OnSave: _dashboardSaveDialogUpdateGUI
            });
        }
        function _dashboardSaveDialogUpdateGUI() {
            if (window.DeceDashboard && window.DeceDashboard.Permissions && window.DeceDashboard.Permissions.length > 0)
                $("#dashPermBtn1").addClass("fa-lock").removeClass("fa-unlock");
            else
                $("#dashPermBtn1").addClass("fa-unlock").removeClass("fa-lock");

            var ico = window.DeceDashboard ? window.DeceDashboard.IconName : null;

            var domIco = $("#dashIcoBtn1");
            domIco.removeClass("widgetEmptyIconClass");
            if (!ico || ico.toLowerCase() == 'empty')
                domIco.addClass("widgetEmptyIconClass");
            domIco.attr("src", 'GUIJsonService?op=getIco&IconName=' + (ico ? ico : "empty"));
            $("#dashShowMainBtn1").prop("checked", window.DeceDashboard && window.DeceDashboard.Attributes && window.DeceDashboard.Attributes["ShowMain"] ? true : false);
        }

        function setDashboardIcon() {
            if (window.DeceDashboard)
                iconView_SelectIcon({ IconGroup: 'Layer', DefaultIco: 'empty' }, function (selIcon) {
                    window.DeceDashboard.IconName = selIcon;
                    _dashboardSaveDialogUpdateGUI();
                });
        };

        function deleteDashboardConfirm() {

            showMessage("[$WidgetResources:dashboard_delete_confirm/js]", "[$default:warning/js]", null, true, true, false,
                function (result) {
                    if (result == "yes") {
                        $.post("" + window.DashboardHandler + "?op=DeleteDashboard", { 'dashboardId': window.DeceDashboard.ID }, function (result) {
                            if (window.OnDeleteDashboard)
                                window.OnDeleteDashboard(window.DeceDashboard);
                            _PSCC.Command({ Command: 'FireWinEvent', EventName: 'DashboardDeleted', DashboardId: result.ID });
                        }, 'json');
                    }
                    else {

                    }
                }
            );
        }

        function showSaveAsDashboardModal() {
            $(".btn-save", "#saveDashboardModal").attr("onclick", "saveDashboard(true)");
            if (window.DeceDashboard.DisplayName)
                $("input[name=dashboardName]").val(window.DeceDashboard.DisplayName);
            $("input[name=dashboardDescription]").val(window.DeceDashboard.Description ? window.DeceDashboard.Description : '');
            

            $("#saveDashboardModal h4.modal-title").html("[$WidgetResources:save_as/js]");
            $("#saveDashboardModal").modal("show");
        }

        function showSaveDashboardModal() {
            $(".btn-save", "#saveDashboardModal").attr("onclick", "saveDashboard()");
            if (window.DeceDashboard.DisplayName)
                $("input[name=dashboardName]").val(window.DeceDashboard.DisplayName);
            $("#dashboardDescription").val(window.DeceDashboard.Description ? window.DeceDashboard.Description : '');
            $("#saveDashboardModal h4.modal-title").html((window.DeceDashboard.ID ? "[$WidgetResources:edit_dashboard/js]" : "[$WidgetResources:new_dashboard/js]"));
            $("#saveDashboardModal").modal("show");
        }

        function saveDashboard(saveAs) {

            var dashboard = window.DeceDashboard.GetJson();
            if (!saveAs) {
                if (window.DeceDashboard.ID)
                    dashboard.ID = window.DeceDashboard.ID;
                else if (window.GetNewDashboardId)
                    dashboard.ID = window.GetNewDashboardId();
            }

            var dashboardName = $("input[name=dashboardName]").val();
            if (!dashboardName) {
                showMessage("[$WidgetResources:dashboard_name_empty/js]", "[$default:warning/js]");
                return;
            }
            dashboard.DisplayName = dashboardName;
            dashboard.Description = $("#dashboardDescription").val();;


            $.post("/" + window.DashboardHandler +"?op=SaveDashboard", { dashboard: JSON.stringify(dashboard) }, function (result) {
                if (result) {
                    window.DeceDashboard.ID = result.ID;
                    window.DeceDashboard.DisplayName = result.DisplayName;
                    window.DeceDashboard.DisplayName__NonLocalized = result.DisplayName__NonLocalized;
                    window.DeceDashboard.Description = result.Description;
                    window.DeceDashboard.Description__NonLocalized = result.Description__NonLocalized;
                    window.DeceDashboard.__SetDashboardDisplayName();
                    showMessage("[$WidgetResources:dashboard_saved]", "[$default:success/js]");
                    if (saveAs || window.DeceDashboard.__IsNew)
                        _PSCC.Command({ Command: 'FireWinEvent', EventName: 'DashboardAdded', DashboardId: result.ID });
                    window.DeceDashboard.DisableEditMode();

                    if (window.OnSaveDashboard)
                        window.OnSaveDashboard(dashboard);
                }
                else showMessage("[$WidgetResources:dashboard_not_saved]", "[$default:error/js]");
                $("#saveDashboardModal").modal("hide");
            });
        }

        $(document).ready(function () {
            $("body").on("widgetRemove", function (evt, data) {
                if (data.widget)
                    data.widget.widgetTools.callback(data.widget.settings, "remove");
                window.DeceDashboard.Remove(data.removeList);
            });
        });

        $(window).resize(function () {
            if (window.DeceDashboard)
                window.DeceDashboard.__ResizeDashboardEvnt();
        });

    </script>

   
    <div class="modal fade" tabindex="-1" role="dialog" id="saveDashboardModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="[$default:close/html]"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label style="vertical-align:sub">[$WidgetResources:dashboard_name/html]</label>
                            </div>

                            <div class="col-md-9">
                                <input type="text" name="dashboardName" class="form-control" placeholder="[$WidgetResources:dashboard_name/html]">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-2">
                                <label style="vertical-align:sub">[$default:icon]</label>
                            </div>
                            <div class="col-md-9">
                                <input type="image" class="widgetEmptyIconClass" id="dashIcoBtn1" value="empty" src="GUIJsonService?op=getIco&IconName=empty" onclick="setDashboardIcon()">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label style="vertical-align:sub">[$default:description]</label>
                            </div>

                            <div class="col-md-9">
                                <textarea id="dashboardDescription" class="form-control" placeholder="[$default:description/html]"> </textarea>
                            </div>
                        </div>


                        <div class="form-group row form-check hidden dashShowMainBtnContainer">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-9">
                                <label class="form-check-label"><input type="checkbox" id="dashShowMainBtn1" class="form-check-input" onchange="setDashAboradShowMain()">&nbsp;[$WidgetResources:ShowMain]</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-sm btn-dfault" title="[$Authorization:permissions/html]" onclick="setDashboardPermissions()">
                            <span id="dashPermBtn1" class="fa fa-unlock"></span>
                        </button>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">[$default:close/html]</button>
                    <button type="button" class="btn btn-primary btn-save" onclick="saveDashboard()">[$default:save/html]</button>
                </div>
            </div>
        </div>
    </div>
