﻿<div class="panel panel-default" id="P_EMail">
    <div class="panel-heading collapsed" role="tab" id="heading4" data-toggle="collapse" data-parent="#rememberSettingsList" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
        <h4 class="panel-title">
            <a class="collapsed" role="button">[$setup_user_settings:email_settings]</a>
            <dcc:Help class="pull-right" help="global_mail_settings" ns="setup_user_settings" style="margin-top:-7px;"></dcc:Help>
        </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtSmtpHost">[$setup_user_settings:global_smtp_host]</label>
                <div class="col-xs-8">
                    <input type="text" id="txtSmtpHost" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtSmtpPort">[$setup_user_settings:global_smtp_port]</label>
                <div class="col-xs-8">
                    <input type="number" id="txtSmtpPort" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtMessageFrom">[$setup_user_settings:global_smtp_message_from]</label>
                <div class="col-xs-8">
                    <input type="email" id="txtMessageFrom" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtMessageFromDisplayName">[$setup_user_settings:global_smtp_message_from_displayname]</label>
                <div class="col-xs-8">
                    <input type="email" id="txtMessageFromDisplayName" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtSmtpUserName">[$setup_user_settings:global_smtp_user_name]</label>
                <div class="col-xs-8">
                    <input type="text" id="txtSmtpUserName" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="txtSmtpPassword">[$setup_user_settings:global_smtp_password]</label>
                <div class="col-xs-8">
                    <input type="password" autocomplete="off" id="txtSmtpPassword" class="form-control pull-left">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">&nbsp;</label>
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="chkSmtpEnableSsl">
                            <span>[$setup_user_settings:global_geodi_smtp_enable_ssl]</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <button type="button" class="btn btn-default " onclick="trySendMail()">
                    [$default:try]
                </button>
                <div class="pull-right">
                    <span class="img-check16 img-default" id="i_EMail" style="width:17px;height:17px;padding-right:5px;vertical-align: sub;display:none;"></span>
                    <button type="button" id="b_EMail" disabled class="btn btn-default" onclick="saveEmailSettings()">
                        [$default:save]
                    </button>
                </div>

            </div>

        </div>




    </div>
</div>
<script>

    function trySendMail() {
        var ems = saveEmailSettings(true);
         showMessage("<input type=text class='form-control input-xs' id='txtTryEmailAddress'>", "[$EmailValidation:emailAddress/js]", null, null, null, true,
             function (cmd) {
                if (cmd == "ok") {
                    var eml = $("#txtTryEmailAddress").val();
                    if (eml) {
                        $.post(
                            HttpUtility.ResolveUrl('~/ApplicationSettingsService?op=TrySendEmail'),
                            { 'mailMessageManager': JSON.stringify(ems), 'toEmail':eml },
                            function () {
                                showMessage("[$default:success/js]");
                            }, 'json');
                    }
                }
            }, function () { $("#txtTryEmailAddress").focus() }, "qFilterTryEmailAddress"
        );

        
    }
    function manageEmailDisabledSaved(type) {
        $("#b_EMail").attr("disabled", true);
        $("#i_EMail").fadeIn();
        var vl = JSON.stringify(saveEmailSettings(true));
        $("#P_EMail").attr("ss", vl);
    }
    function saveEmailSettings(fotRtn) {
        var mailMessageInfo = new MailMessageManager();
        mailMessageInfo.SmtpHost = $('#txtSmtpHost').val();
        mailMessageInfo.SmtpPort = parseInt($('#txtSmtpPort').val());
        if (mailMessageInfo.SmtpPort == null || mailMessageInfo.SmtpPort == undefined || isNaN(mailMessageInfo.SmtpPort))
            delete mailMessageInfo.SmtpPort;
        mailMessageInfo.SmtpUserName = $('#txtSmtpUserName').val();
        mailMessageInfo.MessageFrom = $('#txtMessageFrom').val();
        mailMessageInfo.MessageFromDisplayName = $('#txtMessageFromDisplayName').val();

        mailMessageInfo.SmtpPassword = $('#txtSmtpPassword').val();
        mailMessageInfo.SmtpEnableSsl = $('#chkSmtpEnableSsl').is(':checked');
        if (fotRtn)
            return mailMessageInfo;
        $("#b_EMail").attr("disabled", true);
        window.ApplicationSettingsService.SetDefaultMailMessageManager(mailMessageInfo, function (data, textStatus) {
            manageEmailDisabledSaved();
        }).fail(function (xhr, status, error) {
            $("#b_EMail").attr("disabled", false);
        });
    }
    function manageEmailDisable(type) {
        var vl = JSON.stringify(saveEmailSettings(true));
        $("#P_EMail").attr("ss", vl);
        $("#b_EMail").attr("disabled", true);

        var cnc1 = function () {
            var vlc = JSON.stringify(saveEmailSettings(true));
            var nCnc = (vlc != $("#P_EMail").attr("ss"));
            $("#b_EMail").attr("disabled", nCnc ? false : true);
            if (nCnc)
                $("#i_EMail").fadeOut();
        };

        $("#P_EMail .forInput").slider({ "change": cnc1 });
        $("#P_EMail input").keyup(cnc1);
        $("#P_EMail input").click(cnc1);
        $("#P_EMail input").change(cnc1);
    }

    function getEmailSettings() {
        window.ApplicationSettingsService.GetDefaultMailMessageManager(function (data, textStatus) {
            $('#txtSmtpHost').val(data.SmtpHost);
            $('#txtSmtpPort').val(data.SmtpPort);
            $('#txtSmtpUserName').val(data.SmtpUserName);
            $('#txtSmtpPassword').val(data.SmtpPassword);
            $('#chkSmtpEnableSsl').prop('checked', data.SmtpEnableSsl);
            $('#txtMessageFrom').val(data.MessageFrom);
            $('#txtMessageFromDisplayName').val(data.MessageFromDisplayName);
            manageEmailDisable('EMail');

        });
    }
    $(document).ready(function () {
        getEmailSettings();
    });
</script>