
  <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui/jquery-ui.min.js" />
  <dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jquery-ui/jquery-ui.min.css" />

    <div class="checkbox col-sm-offset-2 col-sm-10" id="EnumeratorAdvancedSettingsDiv">
        <label>
			<span>
				<button id="EnumeratorAdvancedSettings"  class="btn btn-default btn-xs" onclick="editEnumrtatorAdvancedSettings()">[$DTS:AdvancedSettings/js]</button>
			</span>
        </label>       
        
		<script>
			var EnumeratorAdvancedSettingsArg;

			$(document.body).on("WebEditorUpdateObject", function (e, arg) {		
				if(EnumeratorAdvancedSettingsArg)
					arg.obj.GenericSettings = EnumeratorAdvancedSettingsArg;
			});		
			
			$(document.body).on("WebEditorUpdateGUI", function (e, arg) {
			
				if (!arg.obj.GenericSettings)
					 arg.obj.GenericSettings = {};
					
				EnumeratorAdvancedSettingsArg=arg.obj.GenericSettings;
			});
				
			function editEnumrtatorAdvancedSettings(){
				var set1 = JSON.parse(JSON.stringify(EnumeratorAdvancedSettingsArg));
				
				inputJSON(set1, '[$default:More/js]', '[$workspace_wizard:help_MoreAdvSettings/js]', function (result, obj) {
					if (result == 'ok') {
						//eski nesneyi gez. enide olmayan root propertyi sil.
						$.each(EnumeratorAdvancedSettingsArg, function(ky, vl) {
							if (!obj.hasOwnProperty(ky)) {
								delete EnumeratorAdvancedSettingsArg[ky];
							}
						});
						$.extend(EnumeratorAdvancedSettingsArg,obj);
					}
				});
			}	  
		
		</script>
    </div>