﻿<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-controls.css" />
<style type="text/css">
    .containerIcon {
        display: block;
        background-color: snow;
        height: 100%;
        width: 100%;
        z-index: 9999;
    }

    .fullSummaryPanel {
        height: 150px;
        overflow: auto;
        z-index: 5000;
        background-color: #fff;
        position: absolute;
        bottom: -200px;
        padding: 10px;
        box-shadow: 0px -3px 6px rgba(66,66,66,0.4);
        border-top: 2px solid white;
        left: 0px !important;
        width: 100%;
        font-size: 15px;
    }

    .AnimateOk {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .fullSummaryButtonContainer {
        position: absolute;
        bottom: -40px;
        left: 12px;
    }
</style>



<div class='fullSummaryItem fullSummaryPanel AnimateOk' style='z-index:950;'>
    <div style="margin-left:0px" class="div-summary-loading"></div>
</div>
<div class='fullSummaryItem ol-control map-slide ol-unselectable AnimateOk fullSummaryButtonContainer' style='z-index:950;' onclick='toggleFullSummaryPanel()'><button title="[$docViewer:show_fullSummary/html]"><span class='containerIcon'></span></button></div>
                            
<script>

    window.isOpenTextSummaryPanel = false;
    window.FullSummaryBottomMargin = 0;
    function toggleFullSummaryPanel() {
        if (window.isOpenTextSummaryPanel) {
            $(".fullSummaryPanel").css("bottom", -150);
            $(".map-slide").css("bottom", 6 + window.FullSummaryBottomMargin);
            if (window.OnFullSummaryOpenChange)
                window.OnFullSummaryOpenChange(150, false);
            $(".containerIcon").css('background', "url('" + HttpUtility.ResolveUrl('~/GUI/img/up24.png') + "') no-repeat center");
        }
        else {
            $(".fullSummaryPanel").css({ bottom: 0 });
            $(".map-slide").css({ bottom: 156 });
            if (window.OnFullSummaryOpenChange)
                window.OnFullSummaryOpenChange(150, true);
            $(".containerIcon").css("background", "url('" + HttpUtility.ResolveUrl('~/GUI/img/down24.png') + "') no-repeat center");
            updateFullSummary();
        }
        window.isOpenTextSummaryPanel = !window.isOpenTextSummaryPanel;
        window.localStorage.setItem('_toggleFullSummaryPanelState', window.isOpenTextSummaryPanel);
        $(window).resize();
    }

    $(document).ready(function () {
        $(".containerIcon").css('background', "url('" + HttpUtility.ResolveUrl('~/GUI/img/up24.png') + "') no-repeat center");
        window.setTimeout(function () {
            $(".map-slide").css("bottom", 6 + window.FullSummaryBottomMargin);

            var toggleFullSummaryPanelState = JSON.parse(window.localStorage.getItem('_toggleFullSummaryPanelState'));
            if (toggleFullSummaryPanelState)
                toggleFullSummaryPanel();

        }, 1000);
    });

    function disableFullSummary() {
        $(".fullSummaryItem").hide();
    }

    function updateFullSummary() {
        if (!window.updateFullSummary_handled) {
            window.updateFullSummary_handled = true;
            var divSummary = $('.fullSummaryPanel');

            $.post(HttpUtility.ResolveUrl('~/GeodiJSONService?op=getDocumentSummaries', false, true), {
                'query': JSON.stringify(
                    { ContentId: window.currentContent.ID, GetSummaryType: { ForText: true, PreviewSize: 2000, Content: true, SectionNames: ['SectionSourceName'] }, StartIndex: 0, EndIndex: 1 }),
                'wsName': StateForm.GetState("wsName"),
            }, function (data) {
                if (!data.ContentReference || data.ContentReference.length == 0)
                    divSummary.html('');
                else {
                    if (!data.ContentReference[0].Summary || data.ContentReference[0].Summary == "{}")
                        divSummary.html("[$docViewer:no_text_found/js]");
                    else {
                        var dic = JSON.parse(data.ContentReference[0].Summary);
                        var txt = "";
                        for (var key in dic)
                            if (dic[key]) {
                                txt += "<p><b>" + key + "</b></p>";
                                var str = dic[key].join(" • ");
                                str = str.replace(/(?:\r\n|\r|\n)/g, '<br>');
                                txt += "<p>" + str + "</p>";
                            }
                        
                        divSummary.html(txt);
                        window.SummaryGUI.Formatter(divSummary);
                    }
                }
            }, 'json');
        }
    }
</script>

