﻿
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />

    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
    
    
    
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
    
    
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceGeoHelper.js" />

                <div class="form-group">
                    <label class="control-label col-sm-2" for="txtDisplayName" >[$default:displayname]</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtDisplayName" class="form-control" placeholder="[$default:displayname/html]">
                    </div>
                </div>
                <div class="form-group" id="divGroupName">
                    <label class="control-label col-sm-2" for="txtGroupName" >[$default:group]</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtGroupName" class="form-control" placeholder="[$default:group/html]">
                    </div>
                </div>
                <div class="form-group" id="divDescription">
                    <label class="control-label col-sm-2" for="txtDescription" >[$default:description]</label>
                    <div class="col-sm-10">
                        <textarea id="txtDescription" class="form-control" placeholder="[$default:description/html]" rows="3"></textarea>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="txtIcon" >[$default:icon]</label>
                    <div class="col-sm-10">
                        <input id="imgIcon" type="image" iconname="Layer/favorite" src="GUIJsonService?op=getIco&IconName=Layer/favorite" onclick="btnSelectIcon_Click(); return false;" class="layer-image" />
                    </div>
                </div>
                
                <div class="form-group" id="divStyle">
                    <label class="control-label col-sm-2" for="txtStyle" >[$default:style]</label>
                    <div class="col-sm-10">
                        <button type="button" onclick="selectStyle();" class="btn btn-default btn-sm">[$default:edit]</button>
                    </div>
                </div>
                <div class="form-group" id="divLabels">
                    <label class="control-label col-sm-2" for="txtLabels" >[$default:labels]</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtLabels" class="form-control" placeholder="[$default:labelsinfo/html]">
                    </div>
                </div>
                
            

    
<dcc:item factoryname="ResourceControl" src="GUI/Control/SystemStyles.view.html" />
<dcc:item factoryname="ResourceControl" src="GUI/Control/SystemIcons.view.html" />
   

    <script type="text/javascript">


        function __GetCurrentLayerObject() {
            //public
            return GetCurrentLayerObject();
        }
        function selectStyle(lyrObject)
        {
            
            lyrObject = lyrObject ? lyrObject : __GetCurrentLayerObject();
            if (window.OnSelectStyleStart) //public
                window.OnSelectStyleStart();
            styleView_SelectStyle(lyrObject, function (result, selectedStyles)
            {
                
                if (!result)
                    return;
                var tempArray = [];
                for (var i = 0; i < selectedStyles.length; i++)
                    tempArray.push(selectedStyles[i].value);
                lyrObject.StyleClassNames = tempArray.join(',');
                
            });
        }

        function btnSelectIcon_Click() {

            iconView_SelectIcon({
                IconGroup: 'Layer'
            },
                function (selIcon) {
                    $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + selIcon);
                    $('#imgIcon').attr('iconName', selIcon);
                }
                )
        };

        //public
        function UpdateLayerGUI(lyrObject)
        {
            
            $('#txtDisplayName').val(lyrObject.DisplayName);
            $('#txtGroupName').val(lyrObject.GroupName);
            $('#txtDescription').val(lyrObject.Description);
            $('#txtLabels').val(lyrObject.Labels);
            $('#imgIcon').attr('iconName', lyrObject.IconName);
            $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + (lyrObject.IconName ? lyrObject.IconName : $('#imgIcon').attr('iconName')));
            
        }
        //public
        function UpdateLayerObjectFromGUI(lyrObject) {
            lyrObject = lyrObject ? lyrObject : __GetCurrentLayerObject();
            lyrObject.DisplayName = $('#txtDisplayName').val();
            lyrObject.GroupName = $('#txtGroupName').val();
            lyrObject.Description = $('#txtDescription').val();
            lyrObject.Labels = $('#txtLabels').val();
            lyrObject.IconName = $('#imgIcon').attr('iconName');
        }
        
        

    </script>
