﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap-progressbar.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/bootstrap-progressbar.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery.easyWizard.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ModuleStore.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ModuleWizard.js" />

<style>
    .wzSec {
        height: 61vh;
        overflow: auto;
        padding-top: 15px;
    }

    .submitBtnSubstitude {
        right: 11px;
        position: fixed;
        bottom: 11px;
    }

    #downloadingMain {
        padding: 15px;
    }

    #altKwDialogLabel {
        min-height: 20px;
    }

    .easyWizardWrapper .list-group-item {
        margin: 5px 0px;
        border-radius: 4px;
    }

    .easyWizardWrapper .text-muted {
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;
    }

    .easyWizardWrapper .chkItem {
        margin-right: 5px;
    }
</style>

<div class="modal fade" id="dlgModuleWizard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog dlgModuleWizardPanel" style="display:none">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeAutoInstallDlg();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="altKwDialogLabel">[$ModuleExtract:autoInstallDlgTitle]</h4>
            </div>

            <div id="moduleWizardMain"></div>

            <button type="button" class="submitBtnSubstitude btn btn-default btn-sm" style="display:none" onclick="installAutoUpdates(); return true;">[$ModuleExtract:install]</button>

            <div id="downloadingMain" class="wzSec container-fluid" style="display:none">
                <div id="progressTotalMain" class="text-center">
                    <span id="progressTotalMsg" style="font-weight: bold; padding-bottom: 10px; display: block; height: 27px;"></span>
                    <p>
                        <div class="progress progress-xs progressbar-container">
                            <div id="progressTotal" style="width:0%" class="progress-bar progress-bar-striped progress-bar-info pgAll" role="progressbar" data-transitiongoal="0"></div>
                        </div>
                    </p>
                    <button class="btn btn-default" onclick="cancelModuleDownload();">[$default:cancel]</button>
                </div>
            </div>

            <div id="finishedMain" class="wzSec container-fluid" style="display:none">
                <div id="fin_downloadErrors" class="alert alert-warning" style="display:none">
                    <button class="btn btn-default" data-toggle="collapse" data-target="#downloadErrorsDetailsC">[$ModuleExtract:some_modules_cannot_be_downloaded]</button>
                    <div id="downloadErrorsDetailsC" class="panel panel-default collapse">
                        <div id="downloadErrorsDetails" class="panel-body collapse in" aria-expanded="true" style="overflow: auto;">
                        </div>
                    </div>
                </div>

                <div id="fin_retryDownload" class="text-center" style="display:none">
                    <button class="btn btn-default" style="margin-bottom: 20px;" onclick="onRetryDownloadClick();">[$ModuleExtract:retry]</button>
                </div>

                <div id="fin_restartApp" style="display:none">
                    <div class="alert alert-info">
                        <span id="someDlAreSucc" style="display:none">[$ModuleExtract:download_some_are_successful]</span>
                        <span>[$ModuleExtract:autoInstallDirtyMessage]</span>
                    </div>
                    <div class="text-center">
                        <button id="restartAppBtn" class="btn btn-default" style="margin-bottom: 20px;" onclick="onRestartAppClick();">[$ModuleExtract:reset_now]</button>
                    </div>
                </div>

                <div id="fin_restartAppNoBtn" style="display:none">
                    <div class="alert alert-info">
                        <span>[$ModuleExtract:autoInstallDirtyMessage]</span>
                    </div>
                </div>

                <div id="fin_closeSuccessful" style="display:none">
                    <div class="alert alert-success">
                        <span>[$ModuleExtract:install_success_msg]</span>
                    </div>
                    <div class="text-center">
                        <button id="closeAutoInstallBtn" class="btn btn-success" style="margin-bottom: 20px;" onclick="closeAutoInstallDlg();">[$default:ok]</button>
                    </div>
                </div>
            </div>

            <div id="restartingMain" class="wzSec text-center container-fluid" style="display:none">
                <div class="alert alert-warning">
                    <span>[$ModuleExtract:restarting_message]</span>
                </div>
                <div class="img-loading32 container" style="width:32px;height:32px;"></div>
            </div>
        </div>
    </div>
</div>


<script type="dece-template" id="template_mand">
    <section id="secMand" class="step wzSec" data-step-title="[$ModuleExtract:page] {{context.Page}}" style="display:none">
        <div class="container-fluid">
            <p style="padding:12px 0">[$ModuleExtract:mandatory_info]</p>
        </div>
        <div class="control-group wzMandPage">
            <div class="container-fluid">
                <ul class="list-group">
                    <d:r data="data">
                        <li class="list-group-item mdl{{context.GetModuleKey(data)}}" id="{{data.ID}}">
                            <img src="{{context.GetModuleIconName(data)}}" style="width:24px;height:24px;" />
                            <strong> {{data.ModuleName}} </strong>
                            <span>{{(data.UpdateVersion ? data.UpdateVersion : (data.ModuleVersion ? data.ModuleVersion : ''))}}</span>
                            <span class="label label-primary">{{data.FileSize}}</span>

                            <p class="text-muted">{{HttpUtility.HtmlDecode(data.Description)}}</p>
                        </li>
                    </d:r>
                </ul>
            </div>
        </div>
    </section>
</script>


<script type="dece-template" id="template_opt">
    <section id="secOpt" class="step wzSec" data-step-title="[$ModuleExtract:page] {{context.Page}}" style="display:none">
        <div class="control-group wzOptPage">
            <div class="container-fluid">
                <d:r visible="(context.ItemsCount&gt;1)">
                    <input class="chkItem" type="checkbox" id="checkAll" onclick="handleCheckAll($(this), '{{context.Items}}');">
                    <label> [$ModuleExtract:selectAll] </label>
                </d:r>
                <ul class="list-group">
                    <d:r data="data">

                        <li class="list-group-item mdl{{context.GetModuleKey(data)}}" id="{{data.ID}}" ">
                            <input class="chkItem chkModule{{context.GetModuleKey(data)}}" type="checkbox">

                            <img src="{{context.GetModuleIconName(data)}}" style="width:24px;height:24px;" />
                            <strong> {{data.ModuleName}} </strong>
                            <span>{{(data.UpdateVersion ? data.UpdateVersion : (data.ModuleVersion ? data.ModuleVersion : ''))}}</span>
                            <span class="label label-primary">{{data.FileSize}}</span>

                            <div>
                                <d:r visible="(context.ItemsCount&gt;1)">
                                    <d:r visible="(data.Wizard_Text || data.Wizard_ImageUrl)">
                                        <h4>{{data.Wizard_Text ? (data.Wizard_Text) : ""}}</h4>
                                    </d:r>
                                </d:r>
                                <p class="text-muted">{{HttpUtility.HtmlDecode(data.Description)}}</p>
                                <d:r visible="(data.Wizard_Text || data.Wizard_ImageUrl)">
                                    <div class="container-fluid">
                                        {{data.Wizard_ImageUrl ? ('<img class="img-rounded" width="100%" src="' + data.Wizard_ImageUrl + '" />') : ''}}
                                    </div>
                                </d:r>
                            </div>
                        </li>
                    </d:r>
                </ul>
            </div>
        </div>
    </section>
</script>
