﻿<dcc:item factoryname="ResourceControl" src="GUI/Control/SystemIcons.view.html" />
<div class="form-group">
    <label class="control-label col-sm-2" for="txtIcon">[$default:icon]</label>
    <div class="col-sm-10">
        <input id="imgIcon" height="24" type="image" iconname="Layer/favorite" src="GUIJsonService?op=getIco&IconName=Layer/favorite" onclick="btnSelectIcon_Click(); return false;" class="layer-image" />
    </div>
    <script>
            function btnSelectIcon_Click() {


                iconView_SelectIcon({
                    IconGroup: 'Map',
                    DefaultIco:window.WebEditorObject.current.__type == "Factory.LayerFactory:ImageWebMapLayer"? "autoMap":null,
                    Size:80
                },
                    function (selIcon) {
                        $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + selIcon);
                        $('#imgIcon').attr('iconName', selIcon);
                    }
                    )
            };

            function SetGUIIcon(obj) {
                var IconName = obj.IconName;
                $('#imgIcon').attr('iconName', IconName);
                $('#imgIcon').attr('src', 'GUIJsonService?op=getIco&IconName=' + (IconName ? IconName : $('#imgIcon').attr('iconName')));
            }
            function SetObjIcon(obj) {
                obj.IconName = $('#imgIcon').attr('iconName');
            }

    </script>
</div>