﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui.effects.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery.appear.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/typehead.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/bootstrap-progressbar.css" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiWorkSpace.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap-progressbar.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/sortable/sortable.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/moment.js" />

<dcc:item factoryname="UserInfoControl" getuserinfo="true" checkpermission="GEODI.CREATEWS" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />

<div id="_addNewPrj" style="display:none;">[$setup_workspace_list:no_project_found_html]</div>

<ul class="list-group" id="wsListGroup"></ul>

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/canvas/chartjs_org/Chart.bundle.min.js" />
<style>
    .IsInRecoveryOrIndexUpdate {

        border:1px solid red !important;
    }
    .IsInRecoveryOrIndexUpdate .noVisibleInRecovery {
        display: none !important;
    }
    .visibleInRecovery {
        display: none;
    }
    .IsInRecoveryOrIndexUpdate .visibleInRecovery {
        display: inline !important;
    }
    .ws-pause-mode {
        position: absolute;
        margin-top: 30px;
        margin-left: -10px;
        background-color: #fff;
    }

    #wsListGroup .btn {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
    }

    #wsListGroup .img-default32 {
        display: block;
        float: left;
        margin-right: 7px;
        margin-top: 3px;
    }
    .scan-chart {
        height:150px;
    }


    #wsListGroup .img-default32-warning {
        display: block;
        float: left;
        margin-right: 7px;
        margin-top: 3px;
        cursor: pointer;
    }

  
    .wsNameLink2:hover {
        text-decoration: none;
        color: #66D;
    }

    .wsNameLink2 {
        color: #666;
        cursor: pointer;
    }

    .wsNameLink {
        width: 40%;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ts-toggle {
        text-decoration: none !important;
    }

        .ts-toggle:after {
            font-family: 'FontAwesome';
            content: "\f077";
            float: right;
            margin-top: -17px;
        }

        .ts-toggle.collapsed:after {
            content: "\f078";
            float: right;
        }

    .ts-panel {
        margin: 0px;
        width: auto;
        padding-bottom: 0px;
    }

    
    .table-sm {
        font-size: 11px;
    }

    .progress {
        margin-right: 20px;
    }

    .ts-info {
        font-size: small !important;
        margin-top: 15px;
        margin-right: 15px;
    }

        .ts-info .row {
            padding-top: 2px;
        }

        .ts-info a{
            margin-top: 5px;
        }

    

    .plabel {
        padding-right: 0px;
        font-size: 0.9em;
    }

    .plabelright {
    }

    .plabelfull {
        padding-right: 0px;
        padding-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
    }

    .pvalue {
        padding-left: 0px;
        text-align: right;
        font-size: 0.9em;
    }

    .radio_subtext {
        margin-left:12px;
    }
    .ps_span {
        padding-left: 4px;
    }
    .pp_panel {
        padding: 3px;
    }
    .ps_active {
        text-decoration:underline;
    }
    .parallelPanels {
        padding-top:5px;
    }
    .parallelScans {
        margin-top: 5px;
        font-size: 12px;
        clear: both;
    }

    .nav-item {
        position: relative;
    }

    .ts-toggle:after {
        font-family: 'FontAwesome';
        content: "\f077";
        float: right;
        margin-top:0px;
        
    }
    .ts-toggle.collapsed:after {
        content: "\f078";
        float: right;
    }

    .wsStartModalSubMenu{
        margin-left:20px;
    }
    .small_fadeout{
        opacity: 0.5;
    }
</style>
<script>
    /*Workspaces*/


    var WSServers = [=context.RestApiJson("DeceServerInfoHandler", "GetServers",  false)];

 

    $(window).ready(function () {
        if (typeof moment !== 'undefined' && window.DeceClientState) moment.locale(window.DeceClientState.GetLanguage());
        $('[data-toggle="tooltip"]').tooltip();
        $("#_addnewws").click(function (e) {
            
            e.stopPropagation();
            AddNewProject();
        })
       
        UpdateWsList();
    }

    );
    
    function AddNewProject() {
        _PSCC.Command({ Url: '~/GUI/WorkspaceWizard.html', Name: 'Wizard', Command: 'OpenWindow', Width: 900, Height: 800, Dialog: true, Resizable: true })
    }
  


    var selectedWsClass = "img-xs img-circle-selected ws-selection";
    var unselectedWsClass = "img-xs img-circle-unselected ws-selection";

    function SetStateNow(wsName) { //only local
        var ws_old_name = StateForm.GetState("last_ws");
        $("#__sl" + CreateId(ws_old_name)).attr("class", unselectedWsClass);
        $("#__sl" + CreateId(wsName)).attr("class", selectedWsClass);
        StateForm.SetState("last_ws", wsName)
    }

    function SetStateAnd(wsName, mtd, serverIndex) {
        if (serverIndex == null || serverIndex == undefined || serverIndex == -1)
            SetStateNow(wsName);
        if (mtd) {
            if (serverIndex > -1) {
                if (mtd == "StartQueryArea") {
                    mtd = "StartQueryArea2";
                    var postData = GetServerPostOptions(serverIndex);
                    if (postData == null) postData = {};
                    postData.wsName = wsName;
                    RunMetodOnParentWindow(mtd, postData);

                }
                
                 return;

            }

            if (window[mtd])
                window[mtd](wsName);
            else
                RunMetodOnParentWindow(mtd, wsName);
        }



    }

    function SysReportStart(report_id, wsName, wsDispName, e, supportOpen, serverIndex) {
        e = GetEvent(e);
        var url = HttpUtility.ResolveUrl("~/SystemReportsHandler?op=Export", false, true) + "&ReportID=" + HttpUtility.UrlEncode(report_id) + "&wsName=" + HttpUtility.UrlEncode(wsName) + "&FileExt=" + HttpUtility.UrlEncode(wsDispName);
        if (serverIndex > -1)
            url += '&ServerID=' + window.WSServers[serverIndex].ServerID + '&ClientCacheKey=' + window.WSServers[serverIndex].ClientCacheKey; //not supported url ??
        if (supportOpen && e && e.ctrlKey)
            return _PSCC.Command({ Command: 'OpenWindow', Url: url + "&ForDownload=false", Name: new Date() }, null, e);
        else
            return _PSCCDownload(url);
    }

    function AnalyzWSErr(wsname, start, current, serverIndex) {
        var url = HttpUtility.ResolveUrl( "~/WorkspaceErrorViewer?op=AnalyzErrorLogs&wsName=" + HttpUtility.UrlEncode(wsname))
        if (start) url += "&StartDate=" + start;
        if (current) url += "&OnlyActiveFile=true";
        if (serverIndex > -1)
            url += '&ServerID=' + window.WSServers[serverIndex].ServerID + '&ClientCacheKey=' + window.WSServers[serverIndex].ClientCacheKey;; //not supported url ??
        document.location.href = url;
    }
    window.__SRequestId = guid();
    function GetServerPostOptions(serverIndex) {
        var serverOptions = null;
        var server = null;
        if (serverIndex!=null && serverIndex > -1)
            server = window.WSServers[serverIndex];

        if (server) {
            serverOptions = {
                Url: server.Url,
                ServerID: server.ID,
                ClientCacheKey: window.__SRequestId
            }
        }
        return serverOptions;
    }

    function __UpdateProgressGUI(serverIndex, noTimeout) {
        var serverOptions = GetServerPostOptions(serverIndex);
        var server = null;
        if (serverIndex > -1) {
            server = window.WSServers[serverIndex];
        }
        

        window.currentWorkspace.getWorkspaceList(false, function (data, textStatus) {
            if (serverIndex != null && serverIndex > -1) {
                $(".serverIndex_" + serverIndex).css("opacity",1);
                //fail varsa bağla??
                if ($("#__failServer_" + serverIndex).length != 0) {
                    __LoadWSServerGUI(serverIndex);
                   
                    return;
                }
               
            }
            else
                window.__lastActiveWSList = data;

            for (var i = 0; i < data.length; i++) {
                window.currentWorkspace.UpdateProgressForWs(data[i], null, null, serverIndex, serverOptions);
            }
            if (serverIndex==-1 && !noTimeout)
                window._activeTimerPrgBar = window.setTimeout(updateProgress, window.progressbarTimeout);
        }, true, serverOptions, function (a, b, c) {

                if (serverIndex == null || serverIndex == -1)
                    return false;
                $(".serverIndex_" + serverIndex).css("opacity", 0.6);
                //error ????
                return true;
        });
    }

    function __LoadWSServerGUI(serverIndex) {

        var serverOptions = GetServerPostOptions(serverIndex);
        var server = null;
        if ( serverIndex > -1)
            server = window.WSServers[serverIndex];
        window.currentWorkspace.getWorkspaceListWithAuth(false, function (data, textStatus) {
            if (serverIndex !== null && serverIndex > -1)
                $("#__failServer_" + serverIndex).remove();//fails
            else if (data)
                window.__lastActiveWSList = data;
            if (!data || data.length == 0) {

                if (!server) {
                    $('#_addNewPrj').show();
                    $('#wsListGroup').hide();
                    window._activeTimer = window.setTimeout(UpdateWsList, 30000);
                }
            }
            else {
               
                if (data && data.sort && "".localeCompare)
                    data.sort(function (a, b) { return a.WS.Name.localeCompare(b.WS.Name) });

                $('#_addNewPrj').hide();
                $('#wsListGroup').show();
                var dfWs = serverIndex == -1 ? StateForm.GetState("last_ws") : '';

                var lastDom = null;

                var __CreateMoreButtons = function (dt, wsScriptName, ws) {
                    if (!dt.Edit) return '';

                    var wsDispName = (ws && ws.DisplayName ? HttpUtility.ScriptEncode(ws.DisplayName) : wsScriptName);

                    return '<span class="dropdown" title="[$setup_user_settings:analysis_err/js]">' + //SummaryLinksTop
                        '<button class="action-menu-button btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="float:none;width:20px;margin-top: -6px;">' +
                        '</button>' +
                        '<ul class="dropdown-menu dropdown-menu-right dropdown-menu-balloon" role="menu">' +
                        '<b style="margin: 6px;display: block;">[$setup_user_settings:analysis_err/js]</b>' +
                        '<li role="presentation" style="' + ((ws.TotalStatus && ws.TotalStatus.TotalError && ws.TotalStatus.TotalErrorCount > 0) ? '' : 'display:none') + '" class=hasErrWsAction><a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',null,true,' + serverIndex + ')">[$DatePicker:current/js]</a></li>' +
                        '<li role="presentation" > <a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',\'-0d\',false,' + serverIndex + ')">[$DatePicker:query_today/js]</a></li >' +
                        '<li role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',\'-0w\',false,' + serverIndex + ')">[$DatePicker:query_thisWeek/js]</a></li > ' +
                        '<li role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',\'-0m\',false,' + serverIndex + ')">[$DatePicker:query_thisMonth/js]</a></li > ' +
                        '<li role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',\'-0y\',false,' + serverIndex + ')">[$DatePicker:query_thisYear/js]</a></li > ' +
                        '<li role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:AnalyzWSErr(\'' + wsScriptName + '\',null,false,' + serverIndex + ')">[$DatePicker:query_allTimes/js]</a></li > ' +
                        //<dcc:panel permission="DECE.SYSTEMMANAGER">
                        '<b  style="margin: 6px;display: block;">[$default:reports/js]</b>' +
                        '<li  role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="SysReportStart(\'GEODIDeveloperReport\',\'' + wsScriptName + '\',\'' + wsDispName + '\',event,false,' + serverIndex + ')">[$setup_user_settings:report_developer/js]</a></li > ' +
                        '<li class="noVisibleInRecovery" role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="SysReportStart(\'GEODIIndexAnalyzReport\',\'' + wsScriptName + '\',\'' + wsDispName + '\',event,true,' + serverIndex + ')">[$setup_user_settings:report_index_analyz/js]</a></li > ' +
                        '<li role = "presentation" > <a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="SysReportStart(\'GEODISystemReport\',\'' + wsScriptName + '\',\'' + wsDispName + '\',event,true,' + serverIndex + ')">[$setup_user_settings:report_project/js]</a></li > ' +
                        //</dcc:panel>
                        '</ul></span>';
                };

                for (var i = 0; i < data.length; i++) {
                    var ws = data[i].WS;
                    var clientDomId = CreateId(ws.Name + (serverIndex != null && serverIndex>-1 ? serverIndex : ''));
                    var clientObject = $("#" + clientDomId);
                    if (clientObject.length == 0) {
                        var newElem;

                        var wsIcoName = ws.IconName;
                        if (!wsIcoName) wsIcoName = "Workspace/workspace32";
                        var wsScriptName = HttpUtility.ScriptEncode(ws.Name);
                        if (!window.BrowserType.IsMobile()) {
                            
                            newElem = $('<li class="list-group-item clearfix serverIndex_' + serverIndex + '"  id="' + clientDomId + '">' +
                                '<span style="' + (serverIndex == -1 ? '' :'visibility:hidden;' )+'" class="' + (dfWs.toLowerCase() == ws.Name.toLowerCase() ? selectedWsClass : unselectedWsClass) + '" id="__sl' + clientDomId + '" onclick="SetStateAnd(\'' + ws.Name + '\',\'SetCurrentWs\',' + serverIndex + ')"></span>' +
                                '<span class="pull-right" style="margin-top:5px" >' +
                                '<span class="visibleInRecovery">Recovery Or Updating...</span>' +
                                '<button class="btn btn-xs noVisibleInRecovery" title="[$default:query_page/js]" onclick="SetStateAnd(\'' + wsScriptName + '\',\'StartQueryArea\',' + serverIndex + ');"><span class="img-query img-default"></span></button> ' +

                                (data[i].Delete ? '<button class="btn btn-xs noVisibleInRecovery" title="[$default:delete/js]" onclick="__DeleteWorkspace(\'' + wsScriptName + '\',this,\'' + (ws.DisplayName ? HttpUtility.ScriptEncode(ws.DisplayName) : wsScriptName) + '\',' + serverIndex + ')"><span id=_Delete class="img-delete img-default"></span> </button>' : '') +
                                (data[i].Edit ? '<button class="btn btn-xs noVisibleInRecovery" title="[$default:edit/js]" onclick="EditWs(\'' + wsScriptName + '\',event,' + serverIndex + ')"><span id=_Edit class="img-edit img-default"></span> </button>' : '') +
                                __CreateMoreButtons(data[i], wsScriptName, ws) +
                                (data[i].Scan ? '<button class="btn btn-xs noVisibleInRecovery" type="button" title="' + GetRuningStatusText(ws.RuningStatus) + '" onclick="__StartOrStopWS(\'' + wsScriptName + '\',this,event,' + serverIndex + ');" ><span wsStatus=' + ws.RuningStatus + ' supportChangeScan=' + (ws.IsScaned ? 1 : 0) + ' id=PlayPause class="img-' + GetRuningStatusClass(ws.RuningStatus) + ' img-default" ></span><span style="' + (ws.IsPausedProject ? "" : "display:none;") + '" class="glyphicon glyphicon-pause text-primary ws-pause-mode" title="' + GetWsPauseStatusText(ws.IsPausedProject) + '"></span></button> ' : '') +

                                '</span>' +
                                '<span id="wsico" title=\'' + GetErrorTitleForWs(ws.TotalStatus) + '\'  class="img-default32' + (ws.TotalStatus.TotalError && ws.TotalStatus.TotalErrorCount > 0 ? '-warning' : '') + '" onclick="__ShowErrors(\'' + wsScriptName + '\',this,' + (data[i].Edit ? 1 : 0) + ',' + serverIndex + ')"><img class="img-default32" src="' + HttpUtility.ResolveUrl('~/GUIJsonService?op=getIco&IconName=' + wsIcoName + (serverOptions && serverOptions.ServerID ? '&ServerID=' + serverOptions.ServerID + '&ClientCacheKey=' + serverOptions.ClientCacheKey:''), true, true) + '" ></span><h5>' +
                                '<span class=wsNameLink ><span class=wsNameLink2 onclick="SetStateAnd(\'' + wsScriptName + '\',\'StartQueryArea\',' + serverIndex + ');" title="' + (ws.DisplayName ? HttpUtility.ScriptEncode(ws.DisplayName) : wsScriptName) + '">' + (server ? ('<b>' + server.DisplayName + ': </b>') : '') + (ws.DisplayName ? ws.DisplayName : ws.Name) + '</span></span>' +
                                '<br/><small id="DtArea">' +
                                (window.IsTestMode ? 'TestMode' : netDateToStr(ws.WS_LastScanEndTime, false))
                                + '</small></h5>' +
                                '<div class="progress progress-xs progressbar-container"><div class="progress-bar progress-bar-striped progress-bar-' + (ws.RuningStatus != 3 ? 'warning active' : 'info') + '" role="progressbar" data-transitiongoal="' + (ws.TotalStatus.TotalPercent ? ws.TotalStatus.TotalPercent.Percent : 0) + '"></div></div>' +
                                '<div class="visibleInRecovery recoveryStatus"></div>' +
                                // GEODI-2106
                                '<a href="#ts' + clientDomId + '" class=" ts-toggle collapsed" style="display:none" data-toggle="collapse"></a></div>' +
                                '<div id="ts' + clientDomId + '" class="ts-panel panel-group collapse" ws-name="' + ws.Name + '"></div>' +
                                '<div id="psl' + clientDomId + '" class="noVisibleInRecovery ps-panel parallelScans" ws-name="' + ws.Name + '" style="display:none"><span class="ps-label">[$default:services]</span><span class="parallelHeaders"></span><div class="parallelPanels"></div></div>' +

                                '</li>');
                        }
                        else
                            newElem = $('<li style="height:75px;" class="list-group-item clearfix serverIndex_' + serverIndex + '"  id="' + clientDomId + '"  onclick="SetStateAnd(\'' + wsScriptName + '\',\'SetCurrentWs\',' + serverIndex + ')">' +
                                '<span style="' + (serverIndex == -1 ? '' : 'visibility:hidden;') +'"  class="' + (dfWs.toLowerCase() == ws.Name.toLowerCase() ? selectedWsClass : unselectedWsClass) + '" id="__sl' + clientDomId + '"></span>' +
                                '<span id="wsico" title=\'' + GetErrorTitleForWs(ws.TotalStatus) + '\'  class="img-default32' + (ws.TotalStatus.TotalError && ws.TotalStatus.TotalErrorCount > 0 ? '-warning' : '') + '" onclick="__ShowErrors(\'' + wsScriptName + '\',this,' + (data[i].Edit ? 1 : 0) + ',' + serverIndex + ')"><img class="img-default32" src="' + HttpUtility.ResolveUrl('~/GUIJsonService?op=getIco&IconName=' + wsIcoName + (serverOptions && serverOptions.ServerID ? '&ServerID=' + serverOptions.ServerID + '&ClientCacheKey=' + serverOptions.ClientCacheKey : ''), true, true) + '" ></span><h5 style="margin-top:10px;">' + // wsName="' + ws.Name + '"
                                (server ? ('<b>' + server.DisplayName + ': </b>') : '') +ws.Name +
                                '<br/><small id="DtArea">' +
                                (window.IsTestMode ? 'TestMode' : netDateToStr(ws.WS_LastScanEndTime, false))
                                + '</small></h5></li>');
                        if (lastDom != null)
                            newElem.insertAfter(lastDom);
                        else
                            $('#wsListGroup').append(newElem);
                        lastDom = $("#" + clientDomId);
                    }
                    else {
                        //rename yoktu.
                        lastDom = clientObject;
                        window.currentWorkspace.UpdateProgressForWs(ws, true, null, serverIndex, serverOptions);
                    }

                    if (ws.IsInRecoveryOrIndexUpdate)
                        lastDom.addClass("IsInRecoveryOrIndexUpdate");
                    else
                        lastDom.removeClass("IsInRecoveryOrIndexUpdate");

                    if (clientDomId == window.lastUpdatedWS) {
                        lastDom.effect("highlight", {}, 3000);
                    }
                }

                updateProgress(true);

                $('.progress .progress-bar').progressbar({ display_text: 'none' });//center
                if (window._activeTimerPrgBar) {
                    window.clearTimeout(window._activeTimerPrgBar);
                    delete window._activeTimerPrgBar;
                }
                window._activeTimerPrgBar = window.setTimeout(updateProgress, window.progressbarTimeout);
            }
            //$('.progress .progress-bar').attr("data-transitiongoal", 50).progressbar({ display_text: 'center'});

        }, true, serverOptions, function (a, b, c) {

            if (serverIndex == null || serverIndex == -1)
                    return false;

                if ($("#__failServer_" + serverIndex).length == 0) {
                    var failDom = $('<li style="height:75px;" class="list-group-item clearfix"  id="__failServer_' + serverIndex + '"  >' +

                        '<img class="img-default32" src="img/error256.png" ></span><h5 style="margin-top:10px;">' + // wsName="' + ws.Name + '"
                        (server ? ('<b>' + server.DisplayName + ': </b>') : '') + ' Connection error ' +
                        '<small><br>' + (server ? server.Url : '') + '</small>'+
                        '</h5></li>')
                    $('#wsListGroup').append(failDom);
                }
            //error ????
            return true;
        });
    }
    function UpdateWsList(forLocal) {
        if (window._activeTimer) {
            window.clearTimeout(window._activeTimer);
            delete window._activeTimer;
        }

        __LoadWSServerGUI(-1);//local
        if (window.WSServers != null && window.WSServers.length > 0)
            for (var idj = 0; idj < window.WSServers.length; idj++)
                __LoadWSServerGUI(idj);
        
    }

    function EditWs(wsName, evt, serverIndex) {

        if (serverIndex == -1 && evt && evt.ctrlKey && evt.shiftKey)
            _PSCC.Command({ Command: 'WorkspacePG', Arg: wsName }); //ExecuteAsync: false,//
        else {

            var url = (serverIndex > -1 ? window.WSServers[serverIndex].Url: '~/')+'GUI/WorkspaceWizard.html?wsName=' + HttpUtility.UrlEncode(wsName);
            _PSCC.Command({ Url: url, Name: 'Wizard', Command: 'OpenWindow', Width: 900, Height: 800, Dialog: true, Resizable: true });
        }
    }

    function __StartOrStopWS(wsName, btnObj,serverIndex) {
        var imgObj = $("#PlayPause", $(btnObj));
        currentStatus = imgObj.attr("wsStatus") + "";
        if (!imgObj.hasClass("img-" + GetRuningStatusClass(2))) { //sunucu beklenmiyor.
            imgObj.attr("class", 'img-' + GetRuningStatusClass(2) + ' img-default');
            if (currentStatus == "3") {
                var supportScanChange = imgObj.attr("supportChangeScan");
                if (supportScanChange != '1') {
                    window.currentWorkspace.startWorkspace(wsName, true);
                    openScanDetails(wsName, serverIndex);
                    return;
                }

                var vUserState = window.DeceClientState ? window.DeceClientState.GetState('wsrs') : '1';
                if (!vUserState) vUserState = '1';
                var options= GetServerPostOptions(serverIndex);
                var postData = { 'wsName': wsName }
                if (options && options.ServerID) {
                    postData.ServerID = options.ServerID;
                    postData.ClientCacheKey = options.ClientCacheKey;
                }

                $.post( 'GeodiWorkspaceManagerService?op=GetLastRestartTotalMS', postData,
                    function (data) { showStartScanMessage(wsName, vUserState, data, serverIndex) }
                    , 'json').fail(showStartScanMessage(wsName, vUserState, null, serverIndex));

            }
            else {
                window.currentWorkspace.stopWorkspace(wsName, function () {
                    updateProgress(true);
                    window.setTimeout(function () { updateProgress(true); }, 500);
                }, GetServerPostOptions(serverIndex));
                
            }
        }

        CancelEvent();
        return false;

    }
    function _showStartScanMessageGUIUpdate(chkItem) {
        $(".forOCRquery").prop("disabled", ($('input[name=wsStartModal]:checked').val() != "10"));
    }

    function showStartScanMessage(wsName, vUserState, estimated,serverIndex) {
        var restartWarning = "";
        if (estimated && estimated > 30000) // 30 sn altındaki sürelerde uyarı gösterilmeyecek.
        {
            var formattedTime = FormatSecond(estimated / 1000, 0, [
                    "[$setup_workspace_list:hour/js]",
                    "[$setup_workspace_list:minute/js]",
                    "[$setup_workspace_list:second/js]"
            ]);
            restartWarning = '<br><small class="radio-subtext">[$setup_workspace_list:RestartWarning/js]</small>'.replace("[time]", formattedTime);
        }

        if (window.__waitRes1) {
            try {
                window.__waitRes01.abort();
            }
            catch (ex) { }
            try {
                window.__waitRes02.abort();
            }
            catch (ex) { }
            window.__waitRes01 = null;
            window.__waitRes02 = null;
        }
        window.__activeMsgBxonCloseCallBack = null;

        showMessage(
            '<div id="wsStartModalArea">'+
            '<div class="radio">' + //scan changed content
            '<label><input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="2" onclick="UncheckWsStartModalRadioBtn(this)" ' + 'checked'  + '>[$setup_workspace_list:start_option_scanchanges/js]</label>' +
            '<br>'+
            '<small class="small_fadeout">[$setup_workspace_list:start_option_scanchanges_help/js]</small>' +
            '</div>' +
            '<div class="radio">' + //start_option_maintenance
            '<label class="ts-toggle collapsed" data-toggle="collapse" data-target="#start_option_maintenance_sub" aria-controls="start_option_maintenance_sub" aria-expanded="false"><input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModalParent" onclick="UncheckWsStartModalRadioBtn(this)" '  + '>[$setup_workspace_list:start_option_maintenance/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_help/js]</small>' +
            '<div class="collapse "'  +  'id="start_option_maintenance_sub" data-parent ="#wsStartModalArea" aria-expanded="false"  >' +
            '<ul class="flex-column nav wsStartModalSubMenu">'+ 
            '<li class="nav-item">' +
            '<label href="#">'+
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="3" ' +  '>[$setup_workspace_list:start_option_maintenance_optimize/js]</label>'+
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_optimize_help/js]</small>' +
            '</li > ' +
            '<li class="nav-item">' +
            '<label href="#">' +
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="4" ' + '>[$setup_workspace_list:start_option_maintenance_tryRecognize/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_tryRecognize_help/js]</small>' +
            '</li > ' +

            '<li class="nav-item" >' +
            '<label href="#">' +
            '<input type="radio" id="wsStartModal_10" disabled onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="10" ' + '>[$setup_workspace_list:start_option_maintenance_rescanForOCR/js]</label>' +
            '<br>' +
            '<input type=text class="forOCRquery form-control input-sm" placeholder="[$default:query/js]" disabled value=' + (HttpUtility.HtmlEncode(DeceClientState.GetState("forOCRquery." + wsName, "", true))) + ' >' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_rescanForOCR_help/js]</small>' +
            '</li > ' +

            '<li class="nav-item">' +
            '<label href="#">' +
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="5" ' +  '>[$setup_workspace_list:start_option_maintenance_updateDeletedContents/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_updateDeletedContents_help/js]</small>' +
            '</li > ' +
            '<li class="nav-item">' +
            '<label href="#">' +
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="6" ' +  '>[$setup_workspace_list:start_option_maintenance_reindexPermission/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_maintenance_reindexPermission_help/js]</small>' +
            '</li > ' +
            '</ul></div>' +
            '</div>' +
            '<div class="radio">' + //start_option_repair
            '<label class="ts-toggle collapsed" data-toggle="collapse" data-target="#start_option_repair_sub" aria-controls="start_option_repair_sub" aria-expanded="false"><input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModalParent" onclick="UncheckWsStartModalRadioBtn(this)" '  + '>[$setup_workspace_list:start_option_repair/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_repair_help/js]</small>' +
            '<div class="collapse "' + 'id="start_option_repair_sub" data-parent ="#wsStartModalArea" aria-expanded="false" >' +
            '<ul class="flex-column nav wsStartModalSubMenu">' +
            '<li class="nav-item">' +
            '<label href="#">' +
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="7" ' +  '>[$setup_workspace_list:start_option_repair_quickRepair/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_repair_quickRepair_help/js]</small>' +
            '</li > ' +
            '<li class="nav-item">' +
            '<label href="#">' +
            '<input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="8" ' +  '>[$setup_workspace_list:start_option_repair_detailedRepair/js]</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_repair_detailedRepair_help/js]</small>' +
            '</li > ' +
            '</ul></div>'+
            '</div>' +
            '<div class="radio">' + //Start Indexing
            '<label><input type="radio" onchange="_showStartScanMessageGUIUpdate(this)" name="wsStartModal" value="1" onclick="UncheckWsStartModalRadioBtn(this)" ' +  '>[$setup_workspace_list:start_option_restart/js]' +
            restartWarning +
            '</label>' +
            '<br>' +
            '<small class="small_fadeout">[$setup_workspace_list:start_option_restart_help/js]</small>' +
            '</div>' +
            '</div>',
                    "[$setup_workspace_list:start_option_title/js]"
                    , null, false, false, true,
            function (rtnVal) {
                

                        if (rtnVal != 'ok') return;
                var sl = $('input[name=wsStartModal]:checked').val();
                if ((serverIndex == null || serverIndex==-1 ) && sl != vUserState && window.DeceClientState) {
                    window.DeceClientState.SetState('wsrs', sl);
                }
                if (sl === "1" || sl === "2") {
                    window.currentWorkspace.startWorkspace(wsName, sl == "1", function () {
                        updateProgress(true);
                        window.setTimeout(function () { updateProgress(true); }, 500);
                    }, GetServerPostOptions(serverIndex));
                    openScanDetails(wsName, serverIndex);
                }
                else if (sl === "10") {

                    var qStr = $('.forOCRquery').val();
                    if (serverIndex == null || serverIndex==-1)
                        DeceClientState.SetState("forOCRquery." + wsName, qStr, true);
                    //modal ???
                    

                    window.__waitRes01 = window.currentWorkspace.tryCalculateRescanOCRTime(wsName, qStr, function (datacount) {
                        $('#modalDialog').modal('hide');
                        window.__activeMsgBxonCloseCallBack = null;
                        window.__waitRes01 = null;
                        var tm = datacount*30; tm += 120; //second
                        window.setTimeout(function () {
                            showMessage("[$setup_workspace_list:start_option_maintenance_rescanForOCR_timeMessage/js]".replace("{0}", FormatNumber(datacount, 0)).replace("{1}", FormatSecond(tm, 2)),
                                "[$default:info/js]"
                                , null, true, true, false,
                                function (rtnVal2) {

                                    openScanDetails(wsName, serverIndex);
                                    if (rtnVal2 != 'yes') return;
                                    window.currentWorkspace.startRestartOCR(wsName, qStr, function () {
                                        updateProgress(true);
                                        window.setTimeout(function () { updateProgress(true); }, 500);
                                    }, GetServerPostOptions(serverIndex));
                                });
                        }, 500);
                       

                       

                    }, GetServerPostOptions(serverIndex));

                }
                else {
                    openScanDetails(wsName, serverIndex);
                    var tsId = $("#ts" + CreateId(wsName + (serverIndex != null && serverIndex > -1 ? serverIndex : '')));
                    var scanText = "";
                    switch (sl) {
                        case '3': scanText = "[$setup_workspace_list:start_option_maintenance_optimize/js]"; break;
                        case '4': scanText = "[$setup_workspace_list:start_option_maintenance_tryRecognize/js]"; break;
                        case '5': scanText = "[$setup_workspace_list:start_option_maintenance_updateDeletedContents/js]"; break;
                        case '6': scanText = "[$setup_workspace_list:start_option_maintenance_reindexPermission/js]"; break;
                        case '7': scanText = "[$setup_workspace_list:start_option_repair_quickRepair/js]"; break;
                        case '8': scanText = "[$setup_workspace_list:start_option_repair_detailedRepair/js]"; 
                    }
                    if (['3', '4', '5', '6'].includes(sl)) {
                        $("#" + tsId[0].id + " .plabelfull").text(scanText);
                        window.currentWorkspace.workspaceMaintenance(wsName, sl, function (result) {
                            if (result)
                                $("#" + tsId[0].id + " .ts-info .row")[0].firstChild.innerText = "";
                            //updateProgress(true);
                            //window.setTimeout(function () { updateProgress(true); }, 500);
                        }, GetServerPostOptions(serverIndex));
                    }
                    else if (['7', '8'].includes(sl)) {
                        
                        $("#" + tsId[0].id + " .plabelfull").text(scanText);

                        window.currentWorkspace.repairWorkspace(wsName, sl, function (result) {
                            if (result)
                                $("#" + tsId[0].id + " .ts-info .row")[0].firstChild.innerText = "";
                            //updateProgress(true);
                            //window.setTimeout(function () { updateProgress(true); }, 500);
                        }, GetServerPostOptions(serverIndex));
                    }
                   
                }
                            
            }, 

            function () {
                //on show

                window.__waitRes02 = window.currentWorkspace.tryCheckRescanOCRSupport(wsName, function (ok) {
                    window.__waitRes02 = null;
                    if (ok)
                        $("#wsStartModal_10").prop("disabled", false);



                }, GetServerPostOptions(serverIndex));

                

            }
            , undefined, undefined, "[$setup_workspace_list:start_option_help/js]")
    }

    
    function SetParentFromChildStartModal() {

    }
    function UncheckWsStartModalRadioBtn(radioBtn) {
        var name = $(radioBtn).attr('name');
        if (name === "wsStartModal") {
            $('input[name=' + "wsStartModalParent" + ']').prop("checked", false); 
            $('#wsStartModalArea .collapse.in').collapse('hide')
        }
        else {
            $('input[name=' + "wsStartModal" + ']').prop("checked", false);
            $($($("#start_option_repair_sub").children().children()[0]).find("[name=wsStartModal]")[0]).prop("checked", true);
            $('#wsStartModalArea .collapse.in').collapse('hide');
            var dataTarget = $(radioBtn).parent().attr("data-target");
            $($($(dataTarget).children().children()[0]).find("[name=wsStartModal]")[0]).prop("checked", true);
            /*
            var dataTarget = $(radioBtn).parent().attr("data-target");
            
            var isTargetExpanded = $(dataTarget).hasClass('in');
            if (isTargetExpanded) {
                $(dataTarget).addClass('collapse').removeClass("in"); // collapse clicked target
            } else {
                $(dataTarget).removeClass('collapse').addClass("in"); // expand clicked target
            }
            */
            //$(radioBtn).collapse('show');
            /*
            if ($("div.inbox").hasClass("in")) {
                $("div.inbox").collapse('hide');
            }
            */
            /*
            var dataTarget = $(radioBtn).parent().attr("data-target");
            var target = $(this).data("target");
            var isTargetExpanded = $(target).hasClass('in');

            $('.show-in-md').not(target).addClass('collapse');; // collapse all before expading clicked target
            //$(this).closest(".collapsible-container").find(".collapsible").not(targetDiv).addClass('collapse');
            if (isTargetExpanded) {
                $(target).addClass('collapse').removeClass("in"); // collapse clicked target
            } else {
                $(target).removeClass('collapse').addClass("in"); // expand clicked target
            }
            */
        }
        
       // $('#wsStartModalArea [data-toggle="collapse"]').click(function () {
        //    $('#wsStartModalArea .in.collapse').collapse('hide');
         //   $('#wsStartModalArea .collapse.in').collapse('hide')
        //});
        
    }
    /*
    $('.panel-title > a[data-toggle="collapse"]').click(function (e) {
        target = $(this).attr('href')
        if ($(target).hasClass('in')) {
            e.preventDefault(); // to stop the page jump to the anchor target.
            e.stopPropagation()
        }
    })
    */
    // (GEODI-2922) Tarama başlayınca detay penceresi açılacak.
    function openScanDetails(wsName, serverIndex){
        var ts = $("#ts" + CreateId(wsName + (serverIndex != null && serverIndex > -1 ? serverIndex : '')));
        if (!ts.hasClass("in")) ts.collapse("toggle");
    }
   
    function updateProgress(noTimeout) {

        if (!noTimeout && window._activeTimerPrgBar) {
            window.clearTimeout(window._activeTimerPrgBar);
            delete window._activeTimerPrgBar;
        }

        if (!window.accParentOK) {
            if (HasAccessableParentWindow(window) && IsAccessableParentObject(window, "IsVisibleArea"))
                window.accParentOK = 1;
            else
                window.accParentOK = -1;
        }
        //if ($("#wsListGroup").is(':visible'))
        if (window.accParentOK == -1 || window.parent.IsVisibleArea("ProjectsArea")) {
            __UpdateProgressGUI(-1, noTimeout)
            if (window.WSServers != null && window.WSServers.length > 0)
                for (var idj = 0; idj < window.WSServers.length; idj++)
                    __UpdateProgressGUI(idj, noTimeout);
           

        }
        else if (!noTimeout)
            window._activeTimerPrgBar = window.setTimeout(updateProgress, window.progressbarTimeout);
    }
    

   

    

    

    function __DeleteWorkspace(wsName, btnObj,dispName,serverIndex) {
        btnObj = $(btnObj);
        var imgObj = $("#_Delete", btnObj);
        if (!imgObj.hasClass("glyphicon")) {
            imgObj.attr("class", "glyphicon glyphicon-refresh glyphicon-refresh-animate");
            
            showMessage('[$setup_workspace_list:delete_message/js]'.replace("{0}", dispName), "[$default:warning/js]", "warning", true, true, false,

                function (result) {
                    if (result == "yes") {
                        window.currentWorkspace.deleteWorkspace(wsName,
                            function (data, textStatus) {
                                if (data == true) {
                                    var deletedObj = btnObj.parent().parent();
                                    deletedObj.hide("normal", function () {
                                        deletedObj.remove();
                                    })
                                }
                                else
                                    imgObj.attr("class", "img-delete img-default");
                            },
                            function (data, textStatus, textStatus2) {
                                /*Handled*/
                                imgObj.attr("class", "img-delete img-default");
                            }
                            , GetServerPostOptions(serverIndex)
                        );
                    }
                    else {
                        imgObj.attr("class", "img-delete img-default")
                    }

                });
        }
    }

    function __ShowErrors(wsName, btnObj,canEdit,serverIndex) {

        if (canEdit && $(btnObj).attr("class") == "img-default32-warning") {
            var postData = GetServerPostOptions(serverIndex);
            var url = '~/WorkspaceErrorViewer?wsName=' + HttpUtility.UrlEncode(wsName);
            if (postData && postData.ServerID)
                url += '&ServerID=' + postData.ServerID + '&ClientCacheKey=' + postData.ClientCacheKey;
            _PSCCDownload(url, null, { ShowOpenAs: false });
        }
        }


    $(window).on("PCCommand",
            function (e, obj) {
                if (obj.Command == "WSUpdated") {
                    UpdateWsList(true);//?
                    window.lastUpdatedWS = CreateId(obj.wsName); //only local
                    SetStateAnd(obj.wsName);
                    UpdateWsList(true);
                } else if (obj.Command == "DccRefreshProjectList") {
                    location.reload();
                }
            }
    );


    $(window).ready(function () {
        if (window.Auth) {
            if (window.Auth.Permissions) {
                if (!window.Auth.Permissions["GEODI.CREATEWS"])
                    $('#_addNewPrj').html('[$setup_workspace_list:no_project_found_html_no_right/js]');
            }
        }
    })

</script>
<script></script>
