﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui.effects.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery.appear.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/typehead.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dictionary/EditScript.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dictionary/BaseScript.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/bootstrap-progressbar.css" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiWorkSpace.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap-progressbar.js" />

<input type="search" id="txtDictionarySearch" class="form-control input-sm" style="width:200px;float:right" onkeydown="dictionarySearch()" />
<h5 class="dictGroupTitle">[$setup_dictionary_list:template_dictionaries]</h5>
<div class="panel-group inner-panel" id="divTemplateDictionaries" role="tablist" aria-multiselectable="true">
</div>
<h5 class="dictGroupTitle">[$setup_dictionary_list:user_dictionaries]</h5>
<div class="panel-group inner-panel" id="divDictionaries" role="tablist" aria-multiselectable="true">
</div>

<style>
    #divDictionaries .btn, #divTemplateDictionaries .btn {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
    }

    #divDictionaries h5, #divTemplateDictionaries h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #divDictionaries span, #divTemplateDictionaries span {
        display: block;
        float: left;
        margin-top: 3px;
        margin-right: 3px;
    }

        #divDictionaries span button, #divTemplateDictionaries span button {
            width: 30px;
        }

    .dictGroupTitle; {
        font-weight: bold;
    }

    .pull-right {
        margin-right: 0px !important;
    }
</style>

<script>
    jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function (arg) {
        return function (elem) {
            var t = jQuery(elem).text();
            t = t.replace("ı", "i").replace("İ", "i")
            arg = arg.replace("ı", "i").replace("İ", "i")
            var t1 = t.toUpperCase(), t2=t.toLocaleUpperCase();
            var s1 = arg.toUpperCase() , s2 = arg.toLocaleUpperCase();
            return t1.indexOf(s1) >= 0 ||
                    t2.indexOf(s2) >= 0 ||
                    t1.indexOf(s2) >= 0 ||
                    t2.indexOf(s1) >= 0;
        };
    });
    function dictionarySearch() {
        if (window.activeDictionarySearch)
            window.clearTimeout(window.activeDictionarySearch);
        window.activeDictionarySearch = window.setTimeout(function () {
            $('#dictionariesContent .list-group-item').hide();
            var searchStr = $('#txtDictionarySearch').val();
            if (searchStr != '')
                $('#dictionariesContent .list-group-item:has(h5:Contains("' + $('#txtDictionarySearch').val() + '"))').show();
            else
                $('#dictionariesContent .list-group-item').show();
            //$('#dictionariesContent .panel:has(.list-group-item:visible)').show();
            $('#dictionariesContent .panel').show();
            //$('#dictionariesContent .panel:not(:has(.list-group-item:visible))').hide();
            $('#dictionariesContent .panel').filter(function () {
                return $(this).find('.list-group-item').filter(function () { return $(this).css('display') != 'none' }).length == 0;
            }).hide();
            $('#dictionariesContent .panel').filter(function () {
                return $(this).find('.list-group-item').filter(function () { return $(this).css('display') != 'none' }).length > 0;
            }).children('.panel-collapse').collapse('show');
        }, 100);
    }
    function sortByName(a, b) {
        if (a.Name == '') {
            if (b.Name == '')
                return 0;
            else
                return 1;
        }
        else {
            if (b.Name == '')
                return -1;
        }
        return ((a.Name.toLowerCase() < b.Name.toLowerCase()) ? -1 : ((a.Name.toLowerCase() > b.Name.toLowerCase()) ? 1 : 0));
    }
    function showDictionaries(dictionaryGroups, isTemplate) {
        
        dictionaryGroups.sort(sortByName);

        var searchStr = $('#txtDictionarySearch').val();

        var rootElemID = isTemplate ? 'divTemplateDictionaries' : 'divDictionaries';
        for (var i = 0; i < dictionaryGroups.length; i++) {
            if (dictionaryGroups[i].Name == '')
                dictionaryGroups[i].Name = '-';
            var lcollapseID = 'collapse_' + rootElemID + '_' + CreateId(dictionaryGroups[i].Name, false);
            dictionaryGroups[i].nonCollapsed = $("#" + lcollapseID).hasClass("in");
        }

        
        var rootElem = $('#' + rootElemID);
        rootElem.html('');

        for (var i = 0; i < dictionaryGroups.length; i++) {
            var headingID = 'heading_' + rootElemID + '_' + i.toString();
            

            var innerElems = [];
            var lallIsHide = true;
            for (var j = 0; j < dictionaryGroups[i].Dictionaries.length; j++) {
                var dict = dictionaryGroups[i].Dictionaries[j];
                searchStr = searchStr.replace(/I/g, "ı").replace(/i/g, "i").replace(/İ/g, "i").toLowerCase();
                
                var lIsHide = searchStr && dict.DisplayName && dict.DisplayName.toLowerCase().search(searchStr) == -1;
                if (!lIsHide)
                    lallIsHide = false;
                innerElems.push('<li class="list-group-item clearfix"  id="' + CreateId(dict.ID, true) + '"' +
                    (lIsHide ? ' style="display:none"' : '')
                    + '>' +
                '<span class="pull-right" >' +
                ((!window.Auth || window.Auth.Permissions["GEODI.DELETEDICTIONARY"]) ? '<button class="btn btn-xs" title="[$default:delete/js]" onclick="deleteDictionary(\'' + CreateId(dict.ID, true) + '\',\'' + dict.DisplayName.replace(/'/g, '').replace(/"/g, '') + '\')"><span class="img-delete img-default"></span></button>' : '') +
                ((!window.Auth || window.Auth.Permissions["GEODI.EDITDICTIONARY"]) ? '<button class="btn btn-xs" title="[$default:edit/js]" onclick="editDictionary(\'' + CreateId(dict.ID, true) + '\')"><span class="img-edit img-default"></span></button>' : '') +
                '</span>' +
                '<span><img src="' + HttpUtility.ResolveUrl('~/GUIJsonService?op=getIco&IconName=' + dict.IconName, true, true) + '" style="width:24px;height:24px"/></span><h5>' +
                dict.DisplayName +
                '<br/><small>' +
                (dict.CreateDate ? (window.IsTestMode ? 'TestMode' : netDateToStr(dict.CreateDate, false)) : dict.Description)

                + '</small></h5>' +
                '</li>');
            }
            if (dictionaryGroups[i].Name == '')
                dictionaryGroups[i].Name = '-';
            
            var collapseID = 'collapse_' + rootElemID + '_' + CreateId(dictionaryGroups[i].Name, false);


            var collapseInStr =
                window["__NonFirstGUIUpdate" + isTemplate] ? (dictionaryGroups[i].nonCollapsed ? " in " : "") : (i == 0 ? ' in' : '');

            var newElemStr = '<div class="panel panel-default" ' + (lallIsHide ? ' style="display:none"' : '') + '><div class="panel-heading" role="tab" id="' + headingID +
                '"><h4 class="panel-title" data-toggle="collapse" data-parent="#' + rootElemID + '" href="#' + collapseID +
                '" aria-expanded="true" aria-controls="' + collapseID + '"><a data-toggle="collapse" data-parent="#' + rootElemID + '" href="#' + collapseID +
                '" aria-expanded="true" aria-controls="' + collapseID + '">' + dictionaryGroups[i].Name + '</a></h4></div><div id="' + collapseID +
                '" class="panel-collapse collapse' + collapseInStr  + '" role="tabpanel" aria-labelledby="' + headingID + '"><div class="panel-body">' +
                innerElems.join('') + '</div></div></div>';
            rootElem.append($(newElemStr));

        }

        window["__NonFirstGUIUpdate" + isTemplate] = true;

        


    }
    function getDictionaries() {
        window.currentDictionaryRecognizerBase.GetDictionaryList(function (data, textStatus) {
            var dictionaryGroups = [];
            for (var i = 0; i < data.length; i++) {
                var dict = data[i];
                if (!dict.GroupName)
                    dict.GroupName = '';
                var bFound = false;
                for (var j = 0; j < dictionaryGroups.length; j++) {
                    if (dictionaryGroups[j].Name == dict.GroupName) {
                        dictionaryGroups[j].Dictionaries.push(dict);
                        bFound = true;
                        break;
                    }
                }
                if (!bFound) {
                    var dictionaryGroup = new Object();
                    dictionaryGroup.Name = dict.GroupName;
                    dictionaryGroup.Dictionaries = [];
                    dictionaryGroup.Dictionaries.push(dict);
                    dictionaryGroups.push(dictionaryGroup);
                }
            }
            showDictionaries(dictionaryGroups, false);
        });
        //$('#dictionaryTemplateListGroup').html('');
        window.currentDictionaryRecognizerBase.GetTemplateDictionaryList(function (data, textStatus) {
            var dictionaryGroups = [];
            for (var i = 0; i < data.length; i++) {
                var dict = data[i];
                if (!dict.GroupName)
                    dict.GroupName = '';
                var bFound = false;
                for (var j = 0; j < dictionaryGroups.length; j++) {
                    if (dictionaryGroups[j].Name == dict.GroupName) {
                        dictionaryGroups[j].Dictionaries.push(dict);
                        bFound = true;
                        break;
                    }
                }
                if (!bFound) {
                    var dictionaryGroup = new Object();
                    dictionaryGroup.Name = dict.GroupName;
                    dictionaryGroup.Dictionaries = [];
                    dictionaryGroup.Dictionaries.push(dict);
                    dictionaryGroups.push(dictionaryGroup);
                }

            }
            showDictionaries(dictionaryGroups, true);
        });
    }
    function editDictionary(dictID) {
        _PSCC.Command({ Url: '~/GUI/Recognizer/DictionaryWizard.html?dictID=' + dictID, Name: 'Dictionary', Command: 'OpenWindow', Width: 880, Height: 750, Dialog: true, Resizable: true });
    }
    function deleteDictionary(dictID, dictDisplayName) {
        showMessage('[$setup_dictionary_list:delete_message/js]'.replace("{0}", dictDisplayName), '[$default:warning/js]', "warning", true, true, false, function (result) {
            if (result == "yes") {
                window.currentDictionaryRecognizerBase.DeleteDictionary(dictID, function () {
                    getDictionaries();
                });
            }
        });
    }
    function AddNewDictionary() {
        _PSCC.Command({ Url: '~/GUI/Recognizer/DictionaryWizard.html', Name: 'Dictionary', Command: 'OpenWindow', Width: 880, Height: 750, Dialog: true, Resizable: true })
    }
    $(window).on("PCCommand",
            function (e, obj) {
                if (obj.Command == "DictionaryUpdated") {
                    window.lastUpdatedDictionary = CreateId(obj.DictionaryID, true);
                    getDictionaries();
                    if ($('#txtDictionarySearch').val())
                        dictionarySearch();
                } else if (obj.Command == "DccRefreshDictionaryList") {
                    location.reload();
                }
            }
    );

    $(window).ready(function () {
        $("#_addNewDictionary").click(function (e) {
            e.stopPropagation();
            AddNewDictionary();
        })

        getDictionaries();
    });
</script>
