﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ApplicationSettingsService.js" />

<dcc:item factoryname="UserInfoControl" getuserinfo="true" checkpermission="GEODI.UPDATEPERMISSONS" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui/jquery-ui.min.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jquery-ui/jquery-ui.min.css" />
<div class="form-horizontal">
    <!--<div id="GeodiGlobalSettings">el
    </div>-->
    <div class="panel-group" id="rememberSettingsList" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pnlUserSettingsHeader" data-toggle="collapse" data-parent="#rememberSettingsList" href="#pnlUserSettings" aria-expanded="true" aria-controls="pnlUserSettings">
                <h4 class="panel-title">
                    <a role="button">[$setup_user_settings:user_settings]</a>
                </h4>
            </div>
            <div id="pnlUserSettings" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pnlUserSettingsHeader">
                <div class="panel-body">
                    <div id="_userInfo" class="form-group" style="display:none">
                        <label class="control-label col-xs-4">&nbsp;</label>
                        <div class="col-xs-8">
                            <label id="_usrNm"> </label>
                        </div>
                    </div>
                    <div class="form-group" id="_lgOutDiv" style="display:none">
                        <label class="control-label col-xs-4">&nbsp;</label>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-default" onclick="logout()">[$setup_user_settings:logout]</button>
                        </div>
                    </div>
                    <div class="form-group" id="_divUpdateUserInfo" style="display:none">
                        <label class="control-label col-xs-4">&nbsp;</label>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-default" onclick="updateUserInfo()">[$setup_user_settings:update_user_info]</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <style>
                            .lngText {
                                max-width: 170px;
                                overflow: hidden;
                                display: inline-block;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                            }
                            #ulLanguages a {
                                max-width: 250px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        </style>
                        <label class="control-label col-xs-4" for="btnLanguage">[$setup_user_settings:language]</label>
                        <div class="col-xs-8">
                            <div class="dropdown pull-left">
                                <button id="btnLanguage" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" style="max-width: 220px; white-space: normal;">
                                    <span class="lngText">-</span><span class="caret caret-right"></span>
                                </button>
                                <ul id="ulLanguages" class="dropdown-menu" role="menu" aria-labelledby="btnLanguage"></ul>
                            </div>
                            <dcc:Help class="pull-right" help="setup_settings_language" ns="default" style="margin-top:-1px;"></dcc:Help>
                        </div>
                    </div>

                    <dcc:panel permission="GEODI.UPDATEPERMISSONS" att_class="form-group" att_style="display:none" att_id="cntAuthManager">
                        <label class="control-label col-xs-4" for="btnAuthManager"> </label>
                        <div class="col-xs-8">
                            <button id="btnAuthManager" onclick="openAuthorizationManager();" type="button" class="btn btn-default">[$setup_user_settings:authorizationManagerButtonText]</button>
                        </div>
                    </dcc:panel>
                </div>
            </div>
        </div>
        <dcc:panel permission="DECE.SYSTEMMANAGER">
            <script>
                //$(document).ready(function () {
                //    setTimeout(function () { $('#fader').fadeOut(function () { $(this).remove(); }); }, 500);
                //});
                $(document).ready(function () {
                    window.DefaultUsageLogger.AddLogSimple("SettingsPage");
                });

                function GetPriorityText(vl) {
                    vl = "P_" + vl;
                    var textObj = {
                        "P_0": "[$setup_user_settings:WSAll_Priority_0/js]",
                        "P_1": "[$setup_user_settings:WSAll_Priority_1/js]",
                        "P_2": "[$setup_user_settings:WSAll_Priority_2/js]",
                        "P_3": "[$setup_user_settings:WSAll_Priority_3/js]",
                        "P_4": "[$setup_user_settings:WSAll_Priority_4/js]"
                    };
                    return textObj[vl];
                }
                $(function () {
                    $("#WSPriority").slider({
                        value: 4,
                        min: 0,
                        max: 4,
                        step: 1,
                        slide: function (event, ui) {
                            $("#WSPriorityLabel").html(GetPriorityText(ui.value));
                        }
                    });

                    $("#GCryptoLevel").slider({
                        value: 1,
                        min: 0,
                        max: 3,
                        step: 1,
                        slide: function (event, ui) {
                            var val = ui.value;
                            if (val > 0) val++;
                            $("#GCryptoLevelLabel").html(GetPriorityText(val));
                        }
                    });



                });
                function saveSettings(panelName,fotRtn) {
                        var lSettings = [];

                        if (panelName == "TSettings") {
                            lSettings.push({ "Key": "SpellCheck", "Value": $("#chkEnableSpellCheck").is(':checked') });

                            var wsPriorityVal = parseInt($("#WSPriority").slider("option", "value"));
                            lSettings.push({ "Key": "GWSGlobalPriority", "Value": wsPriorityVal });

                            lSettings.push({ "Key": "DisableChangeWindowsIdle", "Value": $("#chkEnableChangeWindowsIdle").is(':checked') ? false : true });

                        }
                        else if (panelName == "SSettings") {

                            var GCryptoLevelVal = "";
                            switch (parseInt($("#GCryptoLevel").slider("option", "value"))) {
                                case 0:
                                    GCryptoLevelVal = "min";
                                    break;
                                case 1:
                                    GCryptoLevelVal = "medium";
                                    break;
                                case 2:
                                    GCryptoLevelVal = "max";
                                    break;
                                case 3:
                                    GCryptoLevelVal = "maxest";
                                    break;
                            }

                            lSettings.push({ "Key": "GMetaCryptoLevel", "Value": GCryptoLevelVal });
                            lSettings.push({ "Key": "AllowGuestLogin", "Value": $("#chkGuestLogin").is(':checked') });
                            lSettings.push({ "Key": "DisableGuestLoginButton", "Value": $("#chkGuestLoginBtnShow").is(':checked')?false:true });
                            lSettings.push({ "Key": "DisableExceptionLoging", "Value": $("#chkEnableExceptionLoging").is(':checked') ? false : true });
                            lSettings.push({ "Key": "DisableLoging", "Value": $("#chkEnableLoging").is(':checked') ? false : true });

                        }
                        
                        
                       
                        if (fotRtn)
                            return lSettings;

                        $("#b_" + panelName).attr("disabled", true);
                        window.ApplicationSettingsService.SetSettings(lSettings, function (data, textStatus) {
                            manageDisabledSaved(panelName);
                        }).fail(function (xhr, status, error) {
                            $("#b_" + panelName).attr("disabled", false);
                        });
                   

                }

                function manageDisabledSaved(type) {
                    $("#b_" + type).attr("disabled", true);

                    $("#i_" + type).fadeIn();
                    var vl = JSON.stringify(saveSettings(type, true));
                    $("#P_" + type).attr("ss", vl);
                }
                function manageDisable(type) {
                    var vl = JSON.stringify(saveSettings(type, true));
                    $("#P_" + type).attr("ss", vl);
                    $("#b_" + type).attr("disabled", true);
                    
                    var cnc1 = function () {
                        var vlc = JSON.stringify(saveSettings(type, true));
                        var nCnc = (vlc != $("#P_" + type).attr("ss"));
                        $("#b_" + type).attr("disabled", nCnc ? false : true);
                        if (nCnc)
                            $("#i_" + type).fadeOut();
                    };

                    $("#P_" + type + " .forInput").slider({ "change": cnc1 });
                    $("#P_" + type + " input").keyup(cnc1);
                    $("#P_" + type + " input").click(cnc1);
                    $("#P_" + type + " input").change(cnc1);
                }
                function getSettings() {


                    window.ApplicationSettingsService.GetSettings(["SpellCheck", "AllowGuestLogin","DisableGuestLoginButton",
                         "OCRLicense", "GWSGlobalPriority", "DisableExceptionLoging", "DisableLoging", "DisableChangeWindowsIdle", "GMetaCryptoLevel"],
                        function (vals) {
                            $("#GeodiLicenseHtmlPageItem").attr("disabled", null);
                            var chkSpell = $("#chkEnableSpellCheck");
                            chkSpell.attr("checked", vals["SpellCheck"] == true ? true : false);

                            $("#chkEnableExceptionLoging").attr("checked", vals["DisableExceptionLoging"] == true ? false : true);
                            $("#chkEnableChangeWindowsIdle").attr("checked", vals["DisableChangeWindowsIdle"] == true ? false : true);

                            $("#chkEnableLoging").attr("checked", vals["DisableLoging"] == true ? false : true);


                            //chkSpell.change(function () {
                            //    //timer?
                            //    window.ApplicationSettingsService.SetSetting("SpellCheck", chkSpell.is(':checked'));
                            //});


                            //var chkEnableOCR = $("#chkEnableOCR");
                            //chkEnableOCR.attr("checked", vals["OCREnabled"] == true ? true : false);



                            $("#chkGuestLogin").attr("checked", vals["AllowGuestLogin"] == true ? true : false);

                            if (vals["AllowGuestLogin"] == true)
                                $('.dvGuestLoginBtnShow').show();
                            else
                                $('.dvGuestLoginBtnShow').hide();

                            $("#chkGuestLoginBtnShow").attr("checked", vals["DisableGuestLoginButton"] == true ? false : true);

                            var wsPriorityVal = vals["GWSGlobalPriority"];
                            if (wsPriorityVal >= 0) {
                                $("#WSPriority").slider("option", "value", wsPriorityVal);
                                $("#WSPriorityLabel").html(GetPriorityText(wsPriorityVal));
                            }

                            var GCryptoLevelVal = 1;
                            switch (vals["GMetaCryptoLevel"]) {
                                case "min":
                                    GCryptoLevelVal = 0;
                                    break;
                                case "max":
                                    GCryptoLevelVal = 2;
                                    break;
                                case "maxest":
                                    GCryptoLevelVal = 3
                                    break;
                                case "medium":
                                default:
                                    GCryptoLevelVal = 1;
                                    break;
                            }
                            $("#GCryptoLevel").slider("option", "value", GCryptoLevelVal);
                            $("#GCryptoLevelLabel").html(GetPriorityText(GCryptoLevelVal > 0 ? GCryptoLevelVal + 1 : GCryptoLevelVal));


                            manageDisable('TSettings');
                            manageDisable('SSettings');

                        });
                }
            </script>

            <div class="panel panel-default" id="P_TSettings">
                <div class="panel-heading" role="tab" id="heading2" data-toggle="collapse" data-parent="#rememberSettingsList" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" >[$setup_user_settings:scan_settings]</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">&nbsp;</label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkEnableSpellCheck">
                                        <span>[$setup_user_settings:global_enable_spell_checking]</span>
                                    </label>
                                    <dcc:Help class="pull-right" help="setup_settings_enable_spell_checking" ns="default" style="margin-top:-8px;"></dcc:Help>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="connectinManagerOpener" style="display:none">
                            <label class="control-label col-xs-4" for="btnDBConnectionManager">[$setup_user_settings:dbConnectionManagerLabel]</label>
                            <div class="col-xs-8">
                                <button id="btnDBConnectionManager" onclick="runDatabaseConnectionManager();" type="button" class="btn btn-default">[$setup_user_settings:dbConnectionManagerButtonText]</button>
                                <dcc:Help class="pull-right" help="database_connection_manager" ns="setup_user_settings" style="margin-top:-1px;"></dcc:Help>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4" >[$setup_user_settings:WSAll_Priority]</label>
                            <div class="col-xs-8">
                                <div id="WSPriority" class="col-xs-10 forInput"></div>
                                <dcc:Help class="pull-right" help="WSAll_Priority" ns="setup_user_settings" style="margin-top:-1px;"></dcc:Help>
                                <br />
                                <div id="WSPriorityLabel">[$setup_user_settings:WSAll_Priority_4]</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-xs-4">&nbsp;</label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkEnableChangeWindowsIdle">
                                        <span >[$setup_user_settings:EnableWindowsIdleChange]</span>
                                    </label>
                                    <dcc:Help class="pull-right" help="EnableWindowsIdleChange" ns="setup_user_settings" style="margin-top:-8px;"></dcc:Help>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" align="right">
                            <span class="img-check16 img-default" id="i_TSettings" style="width:17px;height:17px;padding-right:5px;vertical-align: sub;display:none;"></span>
                            <button type="button" id="b_TSettings" disabled class="btn btn-default" onclick="saveSettings('TSettings')">
                                [$default:save]
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="P_SSettings">
                <div class="panel-heading" role="tab" id="heading3" data-toggle="collapse" data-parent="#rememberSettingsList" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <h4 class="panel-title">

                        <a class="collapsed" role="button" >[$setup_user_settings:system_settings]</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                        <dcc:item factoryname="GeodiLicenseHtmlPageItem" disabled />


                        <div class="form-group" id="headingModules">
                            <label class="control-label col-xs-4">[$ModuleExtract:modules]</label>
                            <div class="col-xs-8">
                                <button onclick="event.stopPropagation(); _showModuleManager();" type="button" class="btn btn-default">[$ModuleExtract:manage]</button>
                                <!--
                                    <button onclick="event.stopPropagation(); _showModulesWizard();" title="[$ModuleExtract:show_module_wizard]" type="button" class="btn btn-default">[$ModuleExtract:module_wizard]</button>
                                -->
                            </div>
                        </div>

                        <dcc:panel permission="DECE.SYSTEMMANAGER">
                            <div class="form-group" id="analyzDiv">
                                <label class="control-label col-xs-4"> </label>
                                <div class="col-xs-8">

                                    <span class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <img src="GUIJsonService?op=getIco&IconName=warning_16" class="hasSysError" style='[=c.RestApi("LogService","HasCurrentSystemErrorLog",false)==true?"":"display:none"]'>
                                            [$setup_user_settings:analysis_err]
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" class="hasSysError" style='[=c.RestApi("LogService","HasCurrentSystemErrorLog",false)==true?"":"display:none"]'><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr(null,true)">[$DatePicker:current]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr('-0d')">[$DatePicker:query_today]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr('-0w')">[$DatePicker:query_thisWeek]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr('-0m')">[$DatePicker:query_thisMonth]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr('-0y')">[$DatePicker:query_thisYear]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzErr()">[$DatePicker:query_allTimes]</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" id="analyzDiv">
                                <label class="control-label col-xs-4"> </label>
                                <div class="col-xs-8">
                                    <span class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            [$setup_user_settings:analysis_usage]
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage(null,true)">[$DatePicker:current]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage('-0d')">[$DatePicker:query_today]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage('-0w')">[$DatePicker:query_thisWeek]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage('-0m')">[$DatePicker:query_thisMonth]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage('-0y')">[$DatePicker:query_thisYear]</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:AnalyzUsage()">[$DatePicker:query_allTimes]</a></li>
                                        </ul>
                                    </span>

                                </div>
                            </div>
                            <script>


                                function checkHasSysErr() {
                                    if (!$("#analyzDiv").is(":visible"))
                                        window.setTimeout(checkHasSysErr, 5000);
                                    else
                                        $.post("~/LogService?op=HasCurrentSystemErrorLog", {}, function (res) {
                                            if (res)
                                                $(".hasSysError").show();
                                            else
                                                $(".hasSysError").hide();
                                            window.setTimeout(checkHasSysErr, 10000);
                                        });
                                }
                                $(window).ready(function () { window.setTimeout(checkHasSysErr, 10000) });

                                function AnalyzErr(start, current) {
                                    var url = HttpUtility.ResolveUrl("~/LogService?op=AnalyzSystemErrorLogs")
                                    if (start) url += "&StartDate=" + start;
                                    if (current) url += "&OnlyActiveFile=true";
                                    document.location.href = url;
                                }
                                function AnalyzUsage(start, current) {
                                    var url = HttpUtility.ResolveUrl("~/LogService?op=AnalyzUsageLogs")
                                    if (start) url += "&StartDate=" + start;
                                    if (current) url += "&OnlyActiveFile=true";
                                    document.location.href = url;
                                }
                            </script>


                            <div class="form-group" id="systemReports" style="display:none">
                                <label class="control-label col-xs-4"> </label>
                                <div class="col-xs-8">

                                    <span class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="sysRepBtn" data-toggle="dropdown">
                                            [$default:reports]
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="sysRepBtn" id="sysRepBtnList">
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <script>

                                function SysReportStart(report_id, e, supportOpen) {
                                    e = GetEvent(e);
                                    var url = HttpUtility.ResolveUrl("~/SystemReportsHandler?op=Export", false, true) + "&ReportID=" + HttpUtility.UrlEncode(report_id);
                                    if (supportOpen && e && e.ctrlKey)
                                        return _PSCC.Command({ Command: 'OpenWindow', Url: url + "&ForDownload=false", Name: new Date() }, null, e);
                                    else
                                        return _PSCCDownload(url);
                                }

                                $(window).ready(function () {

                                    $.post("~/SystemReportsHandler?op=GetReports", {}, function (data) {
                                        if (data && data.length > 0) {
                                            var dm = $("#sysRepBtnList");
                                            $.each(data, function (i, d) {
                                                if (d.ClientGenericSettings != null && d.ClientGenericSettings.CL_Hide)
                                                    return;

                                                var d1 = $('<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="SysReportStart($(this).data(\'report_id\'),event,' + (d.TypeName == "HTMLReporter" ? "true" : "false") + ')"></a></li>');
                                                var mn = $("a", d1);
                                                mn.data("report_id", d.ID);
                                                mn.html(d.DisplayName);
                                                dm.append(d1);
                                            })
                                            $("#systemReports").show();
                                        }
                                    });



                                });

                            </script>
                        </dcc:panel>
                        <div class="form-group">
                            <label class="control-label col-xs-4">[$setup_user_settings:GCryptoLevel]</label>
                            <div class="col-xs-8">
                                <div id="GCryptoLevel" class="col-xs-10 forInput"></div>
                                <dcc:Help class="pull-right" help="GCryptoLevel" ns="setup_user_settings" style="margin-top:-1px;"></dcc:Help>
                                <br />
                                <div id="GCryptoLevelLabel">[$setup_user_settings:WSAll_Priority_2]</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4"> </label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkGuestLogin" onchange="$(this).prop('checked') ? $('.dvGuestLoginBtnShow').fadeIn('fast'):$('.dvGuestLoginBtnShow').fadeOut('fast')">
                                        <span>[$setup_user_settings:guest_login_checkbox]</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group dvGuestLoginBtnShow">
                            <label class="control-label col-xs-4"> </label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkGuestLoginBtnShow">
                                        <span>[$setup_user_settings:guest_login_button_show]</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <label class="control-label col-xs-4">&nbsp;</label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkEnableExceptionLoging">
                                        <span>[$setup_user_settings:EnableExceptionLoging]</span>
                                    </label>
                                    <dcc:Help class="pull-right" help="EnableExceptionLoging" ns="setup_user_settings" style="margin-top:-8px;"></dcc:Help>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">&nbsp;</label>
                            <div class="col-xs-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkEnableLoging">
                                        <span>[$setup_user_settings:EnableLoging]</span>
                                    </label>
                                    <dcc:Help class="pull-right" help="EnableLoging" ns="setup_user_settings" style="margin-top:-8px;"></dcc:Help>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" align="right">
                            <span class="img-check16 img-default" id="i_SSettings" style="width:17px;height:17px;padding-right:5px;vertical-align: sub;display:none;"></span>
                            <button type="button" id="b_SSettings" disabled class="btn btn-default" onclick="saveSettings('SSettings')">
                                [$default:save]
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <dcc:item factoryname="ResourceControl" src="GUI/Control/EmailSettings.view.html" />

           
        </dcc:panel>
        <dcc:layoutarea name="SETTINGS_PANEL" checkresource="True" targetfolder="GUI/Custom/Settings" />

    </div>

</div>

<script type="text/javascript">

    function _showModuleManager() {
        _clearDownloadErr(function () {
            var url = HttpUtility.ResolveUrl('~/GUI/ModuleManager.html',false,true);
            _PSCC.Command({ Url: url, Name: 'ModuleManager_Dialog', Command: 'OpenWindow'});
        });
    }
    function _showModulesWizard() {
        _clearDownloadErr(function () {
            RunMetodOnParentWindow('showModulesWizard', false);
        });
    }
    function _clearDownloadErr(callback) {
        $.post(HttpUtility.ResolveUrl('~/ModuleUpdateHandler?op=ClearDownloadErrors'), {},
            function (ok1) {
                $.post(HttpUtility.ResolveUrl('~/ModuleUpdateHandler?op=Reset'), {},
                    function (ok) {
                        callback();
                    });
            });
    }


    function getAvailableLanguages() {
        $('#ulLanguages').html('');
        GeodiServiceObj.GetAvailableLanguages(function (data, textStatus) {
            var auto = { DisplayName: "[$default:auto/js]", Name: "" };
            newElem = $('<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="languageSelect(this)" title="' + auto.Name + '">' + auto.DisplayName + '</a></li>')
            newElem.data('itemInfo', auto);
            $('#ulLanguages').append(newElem);
            $('#btnLanguage').data('itemInfo', auto);
            $('#btnLanguage .lngText').replaceWith("<span class=lngText>" + auto.DisplayName + "</span>");

            for (var i = 0; i < data.length; i++) {
                newElem = $('<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="languageSelect(this)" title="' + data[i].Name + '">' + data[i].DisplayName + '</a></li>')
                newElem.data('itemInfo', data[i]);
                $('#ulLanguages').append(newElem);
                if (data[i].Name.toLowerCase() == window.DeceClientState.GetOrjLanguage().toLowerCase()) {
                    $('#btnLanguage').data('itemInfo', data[i]);
                    $('#btnLanguage .lngText').replaceWith("<span class=lngText>" + data[i].DisplayName + "</span>");
                }
            }
        });
    }
    function languageSelect(elem) {
        var itemInfo = $(elem).parent().data('itemInfo');
        $('#btnLanguage').data('itemInfo', itemInfo);
        $('#btnLanguage .lngText').replaceWith("<span class=lngText>" + (itemInfo.DisplayName + ' [' + itemInfo.Name + ']') + "</span>");
        window.DeceClientState.SetLanguage(itemInfo.Name, function (data, textStatus) {
            if (window.BrowserType.IsWinApp())
                _PSCC.Command({ Command: 'SetUserLanguage', "Language": itemInfo.Name });
            location.reload();
            window.parent.location.reload();
        })
    }
    function runDatabaseConnectionManager() {
        return _PSCC.Command({ Command: 'OpenConnectionManager', ExecuteAsync: false }, null, null);
    }
    //<dcc:panel permission="GEODI.UPDATEPERMISSONS"> //permison panel

    function openAuthorizationManager() {
        var url = HttpUtility.ResolveUrl('~/GUI/Login/Management/UserGroupManager.html',false,true);
        var targetName = 'authorizationManager';
        return _PSCC.Command({ Command: 'OpenWindow', Url: url, Name: targetName, MinWidth: 700, MinHeight: 350, Width: 950, Height: 450, ExecuteAsync: false }, null, GetEvent());
    }
    //</dcc:panel>  //permison panel
 
    
    function logout() {
        showMessage("[$setup_user_settings:logout_message/js]", '[$default:warning/js]', "warning", true, true, false, function (result) {
            if (result == "yes") {
                $.post('UserManagementService?op=Logout', {}, function (data, textStatus) {
                    _PSCC.Command({ Command: 'Relogin' }, function (data) { });
                }, 'json');
            }
        });
    }


    function updateUserInfo() {
        if (window.Auth.CurrentUser.AuthenticationType == "Geodi") {
            var url = HttpUtility.ResolveUrl('~/GUI/WebEditor/UserManagement/GeodiLoginProviderUserEdit.html?userName=' + window.Auth.CurrentUser.Name,false,true);
            return _PSCC.Command({ Command: 'OpenWindow', Url: url, Name: "updateUserInfo", Width: 600, Height: 450, ExecuteAsync: false }, null, GetEvent());
        }
    }

    $(window).ready(function () {
        rememberAccordionStateLocal("#rememberSettingsList");
    });

    $(window).ready(function () {

        getAvailableLanguages();
        if (window.getSettings)
            getSettings();

        if (window.Auth) {

            if (window.Auth.CurrentUser) {
                $("#_userInfo").show();
                $("#_lgOutDiv").show();
                if (window.Auth.CurrentUser.AuthenticationType == "Geodi" &&
                    window.Auth.CurrentUser.Name &&
                    window.Auth.CurrentUser.Name.toLowerCase() != "guest")
                    $("#_divUpdateUserInfo").show();
                $("#_usrNm").html(window.IsTestMode ? 'TestMode' : HttpUtility.HtmlEncode(window.Auth.CurrentUser.Name));
            }
            if (window.Auth.Permissions) {
                if (window.Auth.Permissions["GEODI.UPDATEPERMISSONS"]) $("#cntAuthManager").show();
            }
        }
        if (window.DevelopmentDomain) {
            $("#frmShareManager").show();
            $("#connectinManagerOpener").show();
        }
    })
    
</script>

