﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/StylesService.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/selectize/js/standalone/selectize.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui/jquery-ui.min.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/selectize/css/selectize.bootstrap3.css" />


<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol3-popup.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-popup.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol3-controls.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-controls.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceMap.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceMapDraw.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootbox.min.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />

<style type="text/css">
    #webSytemStyleEditorContent .selectize-dropdown {
        display: none !important;
    }
    .StyleClearButton {
        position: absolute;
        z-index: 1;
        right: 24px;
        margin-top: 1px;
        cursor: pointer;
    }

    #webSytemStyleEditorContent .selectize-input {
        max-height: 70px;
        overflow-y: auto;
    }
    #webSytemStyleEditorContent  .selectize-control.multi .selectize-input.has-items {
        padding-right: 24px;
    }
</style>

<script>

    function __GetWorkspaceName() { return "-"; }
    function __getBaseLayer() {
        if (window.DeceClientState)
            return DeceClientState.GetState("StyleCssBaseMap", null, true);
        return null;
    }
    function __GetParams() {
        return { 'LAYERS': 'DeceStyle', 'CSSSample':window.___styleMapCSSSamples,'CSSLayer': (window.___styleMapLayer ? JSON.stringify(window.___styleMapLayer):""), 'CSS': window.___styleMapCSS, 'Rnd': new Date() }; // , 'CRS': 'EPSG:4326' //Rnd sürekli gelmemeli.
    }
    function changeVisibleLayer(style) {
        var i, ii;
        for (i = 0, ii = window.layers.length; i < ii; ++i) {
            var lstyle = window.layers[i].get('deceID');
            var lnoHide = window.layers[i].get('noHide');
            if (!lnoHide && lstyle && lstyle != "WmsLayer")
                layers[i].set('visible', (lstyle == style));
        }
        if (window.DeceClientState)
            window.DeceClientState.SetState('StyleCssBaseMap', style, true);
    }

    window.__wmsUrl = 'WMSStylePreview?';
    window.DisableMapCoordCopy = true;
    window.DisableRememberExtent = true;
    window.DisableMapGetFeature = true;
    window.DisableMapContextMenu = true;
    window.DisableMapTitleChange = true;
    window.___styleMapCSS = "";
    window.___styleMapLayer = "";
    window.___styleMapCSSSamples = "";
    window.___styleSamples = {};
    window.___styleSingleGroups = {};
    window.BaseMapLayers =
        [
            {
                "IconName": "Map/BingRoad",
                "AddingCondition": 2,
                "ClientLayer": {
                    "layerType": "Tile",
                    "source": {
                        "type": "BingMaps",
                        "key": "5L1Kf25Njkufb51Aisxo~6z1NY2Fn4dQ5zWFE-MjvHA~AvklymN3_hSRAW-MyhenKrs9JPlfaNgF8Oy7VBAhMlHJ81BlpPwyDm7TLAKIHi_p",
                        "imagerySet": "RoadOnDemand",
                        "culture": "[FNC_STRING]function () {if (!window.DeceClientState) return navigator.language || navigator.userLanguage;\r\nreturn window.DeceClientState.GetLanguage();\r\n}[FNC_STRING]"
                    }
                },
                "GroupName": "Bing",
                "SRID": 3857,
                "Description": "",
                "DisplayName": "[$layers:bingRoad/js]",
                "ItemHashCode": 1263521690,
                "ID": "BingRoad"
            },
            {
                "IconName": "Map/BingAerialWithLabels",
                "AddingCondition": 2,
                "ClientLayer": {
                    "layerType": "Tile",
                    "source": {
                        "type": "BingMaps",
                        "key": "5L1Kf25Njkufb51Aisxo~6z1NY2Fn4dQ5zWFE-MjvHA~AvklymN3_hSRAW-MyhenKrs9JPlfaNgF8Oy7VBAhMlHJ81BlpPwyDm7TLAKIHi_p",
                        "imagerySet": "AerialWithLabelsOnDemand",
                        "culture": "[FNC_STRING]function () {if (!window.DeceClientState) return navigator.language || navigator.userLanguage;\r\nreturn window.DeceClientState.GetLanguage();\r\n}[FNC_STRING]"
                    }
                },
                "GroupName": "Bing",
                "SRID": 3857,
                "Description": "",
                "DisplayName": "[$layers:bingAerialWithLabels/js]",
                "ItemHashCode": -969683477,
                "ID": "BingAerialWithLabels"
            }
        ]

    $(document.body).on("MAP_Ready", function () {
        $("#webSytemStyleEditorContent").append($("#map"));
        $("#webSytemStyleEditorContent").append($("#mapLayerSelArea"));
        $("#map").show();
        $("#mapLayerSelArea").css("top", "unset")
        $("#mapLayerSelArea").css("bottom", "12px")
        $("#mapLayerSelArea").css("left","55px")

        //window.___bLayerSelrea

    })
    function _UpdateStyleMap() {
        var tempArray = [];
        var selectedStyles = getSelectedItemNames();
        
        for (var i = 0; i < selectedStyles.length; i++)
            tempArray.push(selectedStyles[i].value);
        var selStyle=tempArray.join(',');
        if (window.___styleMapLayer)
            window.___styleMapLayer.StyleClassNames = selStyle;
        else
            window.___styleMapCSS = selStyle;
        var tempArraySamples = [];
        if (window.___styleSamples) {
            for (var i = 0; i < tempArray.length; i++)
                if (window.___styleSamples[tempArray[i]])
                    tempArraySamples.push(window.___styleSamples[tempArray[i]]);
        }
        window.___styleMapCSSSamples=tempArraySamples.join(',');

        wmsSource.updateParams(__GetParams());
        wmsSource.refresh();
    }
</script>


<div id="map" class="form-control" style="display:none;clear:both;margin-top:10px;padding:0px;height:150px;">

</div>

<div class="modal fade" id="webSytemStyleEditorModal" tabindex="-1" role="dialog" aria-labelledby="webSytemStyleEditorHeader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>[$style_control:modal_title]</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span id="webSytemStyleEditorHelp"></span>
                <h4 class="modal-title" id="webSytemStyleEditorHeader"></h4>
            </div>
            <div class="modal-body" id="webSytemStyleEditorContent" style="-webkit-overflow-scrolling:touch;overflow:auto">
                <select id="selStyle" class="demo-default" multiple="multiple">
                </select>
                <span class="facetCountT StyleClearButton" onclick="if (window.styleSelectize) window.styleSelectize.clear();$('#selStyleItems').val('')" ><i class="fa fa-eraser ">&nbsp;</i> </span>
                <div style="float:left;width:30%;padding-right:3px;">
                    <span>[$style_control:style_groups]</span>
                    <select id="selStyleGroups" style="width:100%;height:100%;" class="form-control" size="16" onchange="selStyleGroups_Change();">
                    </select>
                </div>
                <div style="float:left;width:70%;padding-left:3px">
                    <span>[$style_control:style_items]</span>
                    <select id="selStyleItems" style="width:100%;height:100%;" class="form-control" size="16" onchange="selStyleItems_Change()">
                    </select>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="modal-footer" id="webSytemStyleEditorFooter">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">[$default:cancel]</button>
                <a tabindex="0" id="modalFolderbtn" class="btn btn-sm btn-primary" onclick="styleView_Save();">[$default:ok]</a>
            </div>
        </div>
    </div>
</div>


<dcc:LocalizeResxJson resx="style_control" variable="helpLocal"></dcc:LocalizeResxJson>

<script>
    $('#webSytemStyleEditorModal').on('shown.bs.modal', function(){
        window.map.updateSize();
        fitExtentFnc(window.view, window.wsExtent, GetMapSize());
    });


    function styleView_SelectStyle(layer, callBackFunction) {

        window.systemStyleCallBackFunction = callBackFunction;
        window.___styleMapLayer = layer;
        if (window.___styleMapLayer) {
            window.___styleMapLayer = JSON.parse(JSON.stringify(window.___styleMapLayer));//dummy
            var iconame = $('#imgIcon').attr('iconName');
            if (iconame)
                window.___styleMapLayer.IconName = iconame;
        }

        window.StylesServiceManager.GetSystemRules(function (data, textStatus) {
            var selStyle = $('#selStyle');
            var selStyleGroups = $('#selStyleGroups');
            var selStyleItems = $('#selStyleItems');
            selStyleGroups.html('');
            selStyleItems.html('');
            selStyle.html('');

            window.___styleSamples = {};
            window.___styleSingleGroups = {};

            var flagObj = {};
            var flagobjbt = 0;
            var __StrArrayToFlag = function (stra) {
                var rtn = {
                    _bits:[],
                    Add: function (key) {
                        if (!flagObj[key])
                            flagObj[key] = ++flagobjbt;
                      var bti = flagObj[key] - 1;
                        var bt = 1 << bti;//max32 bit
                        var ps = Math.floor(bti / 32)
                        while (ps >= this._bits.length) this._bits.push(0);
                        this._bits[ps] |= bt;
                    },
                    Any: function (other) {
                        
                        var mx = Math.min(other._bits.length, this._bits.length);
                        for (var bi = 0; bi < mx; bi++)
                            if ((other._bits[bi] & this._bits[bi]) != 0) return true;
                        return false;
                    }
                }
                for (var i = 0; i < stra.length; i++)
                    if (stra[i]) rtn.Add(stra[i]);
                return rtn;
            }

            data.sort(function (a, b) {
                var p1 = a.Attributes ? a.Attributes.priority : null;
                if (p1 == null || p1 == undefined) p1 = 200000.0; else p1 = eval(p1);
                var p2 = b.Attributes ? b.Attributes.priority : null; 
                if (p2 == null || p2 == undefined) p2 = 200000.0;else p2 = eval(p2);
                if (p1 < p2) return -1 
                else if (p1 > p2) return 1;
                return a.DisplayName < b.DisplayName ? -1 : a.DisplayName > b.DisplayName ? 1 : 0;
            });
            var forceallowgroups = null;
            if (layer && layer.__type)
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Attributes) {
                        if (!data[i].Attributes.hide && data[i].Attributes && data[i].Attributes.typefilter) {
                            var v = data[i].Attributes.typefilter.split(',');
                            var okV = false;
                            for (var j = 0; j < v.length; j++)
                                if (v[j] && layer.__type.indexOf(v) != -1) {
                                    okV = true; break;
                                }
                            if (okV)
                                if (data[i].Attributes.forceallowgroups) {
                                    if (!forceallowgroups) forceallowgroups = {};
                                    var sp1 = data[i].Attributes.forceallowgroups.split(',');
                                    for (var j = 0; j < sp1.length; j++) if (sp1[j]) forceallowgroups[sp1[j]] = true;
                                }
                        }
                    }
                }
            
            for (var i = 0; i < data.length; i++) {
                var addToGUI = true;
                if (data[i].Attributes && data[i].Attributes.hide)
                    continue;/*addToGUI = false;*/

                if (addToGUI && layer && layer.__type && data[i].Attributes && data[i].Attributes.typefilter) {
                    var v = data[i].Attributes.typefilter.split(',');
                    var okV = false;
                    for (var j = 0; j < v.length; j++)
                        if (v[j] && layer.__type.indexOf(v)!=-1) {
                            okV = true; break;
                        }
                    if (!okV)
                        addToGUI = false;
                }

                if (addToGUI && forceallowgroups && (!data[i].Attributes || !(forceallowgroups[data[i].Attributes.groupname]))) addToGUI = false;


                if (data[i].Name.indexOf('.') == 0)
                    data[i].Name = data[i].Name.substring(1);

                if (data[i].Attributes && data[i].Attributes.csssamples)
                    window.___styleSamples[data[i].Name] = data[i].Attributes.csssamples;

                if (data[i].Attributes && data[i].Attributes.singleselectkey) 
                    window.___styleSingleGroups[data[i].Name] = __StrArrayToFlag(data[i].Attributes.singleselectkey.split(','));
                
                

                if (addToGUI && data[i].GeometryTypes) {
                    var geometryTypes = data[i].Attributes.geometrytype.split(','); //.GeometryTypes
                    var bFound = false;
                    for (j = 0; j < geometryTypes.length; j++) {
                        /*if (geometryTypes[j] == 'Label') {
                            bFound = true;
                            break;
                        }*/
                        if (window.TableGeometryType.Is(layer.GeometryType, window.TableGeometryType[geometryTypes[j]])) {
                            bFound = true;
                            break;
                        }
                    }
                    if (!bFound)
                        addToGUI = false;
                }

                var groupNames = [];
                if (data[i].Attributes && data[i].Attributes.groupname) {
                    groupNames = data[i].Attributes.groupname.split(',');
                    if (window.helpLocal)
                        for (var j = 0; j < groupNames.length; j++)
                            if (window.helpLocal[groupNames[j]])
                                groupNames[j] = window.helpLocal[groupNames[j]];
                }
                else {
                    groupNames = ['-'];
                }
                for (var j = 0; j < groupNames.length; j++) {
                    var groupName = groupNames[j];
                    var optGroup = selStyle.find('optgroup[label="' + groupName + '"]');
                    if (!optGroup || optGroup.length == 0) {
                        optGroup = $('<optgroup label="' + groupName + '"></optgroup>');
                        selStyle.append(optGroup);
                    }
                    
                    optGroup.append($('<option value="' + data[i].Name + '">' + data[i].DisplayName + '</option>'));

                    if (addToGUI) {
                        var groupItem = selStyleGroups.find('option[value="' + groupName + '"]');
                        if (!groupItem || groupItem.length == 0) {
                            groupItem = $('<option value="' + groupName + '">' + groupName + '</option>');
                            groupItem.data('items', []);
                            selStyleGroups.append(groupItem);
                        }
                        var items = groupItem.data('items');
                        items.push(data[i]);
                        groupItem.data('items', items);
                    }
                }
            }
$('#webSytemStyleEditorModal').attr('preventCallBack', 'false');
            $('#webSytemStyleEditorModal').modal('show');

            if (selStyle[0].selectize)
                selStyle[0].selectize.destroy();

            selStyle.selectize({
                plugins: ['remove_button', 'drag_drop'],
                 onChange: _UpdateStyleMap
            });
            if (!layer.StyleClassNames)
                layer.StyleClassNames = '';
            var selectedValues = layer.StyleClassNames.split(',');
            selStyle[0].selectize.setValue(selectedValues);
            window.styleSelectize = selStyle[0].selectize;
            _UpdateStyleMap();
            
        });
    }
    $('#webSytemStyleEditorModal').on('hidden.bs.modal', function () {
        if ($('#webSytemStyleEditorModal').attr('preventCallBack') != 'true') {
            $('#webSytemStyleEditorModal').modal('hide');
            window.systemStyleCallBackFunction(false, null);
        }
    })
    function styleView_Save() {
        $('#webSytemStyleEditorModal').attr('preventCallBack', 'true');
        $('#webSytemStyleEditorModal').modal('hide');
        window.systemStyleCallBackFunction(true, getSelectedItemNames());

    }
    function getSelectedItemNames() {
        var selectize = $('#selStyle')[0].selectize;
        var values = selectize.getValue();
        values = $.isArray(values) ? values : [values];
        return $.map(values, function (value) {
            return selectize.options[value];
        })
    }
    function selStyleGroups_Change() {
        var selectedGroupOption = $('#selStyleGroups option:selected');
        var selStyleItems = $('#selStyleItems');
        selStyleItems.html('');
        if (selectedGroupOption && selectedGroupOption.length > 0) {
            var items = selectedGroupOption.data('items');
            for (var i = 0; i < items.length; i++) {
                var newOption = $('<option value="' + items[i].Name + '">' + items[i].DisplayName + '</option>');
                selStyleItems.append(newOption);
            }
        }
    }
    function selStyleItems_Change() {
        var selectedStyleItem = $('#selStyleItems option:selected');
        var selStyle = $('#selStyle');
        var values = selStyle[0].selectize.getValue();
        var values = $.isArray(values) ? values : [values];
        var val = selectedStyleItem.val();
        var id1 = values.indexOf(val);
        if (id1 != -1)
            values.splice(id1, 1);
        if (window.___styleSingleGroups && window.___styleSingleGroups[val]) {
            var rmvall = window.___styleSingleGroups[val];
            for (var i = values.length - 1; i > -1; i--) {
                var targetVal = window.___styleSingleGroups[values[i]];
                if (targetVal && rmvall.Any(targetVal))
                    values.splice(i, 1);
            }
        }
        values.push(val);
        selStyle[0].selectize.setValue(values);
    }


</script>
