﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />

<style type="text/css">
    .selectIcoStyleimg24 {
        width: 24px;
        height: 24px;
    }

    .selectIcoStyleimg32 {
        width: 32px;
        height: 32px;
    }
    .selectIcoStyleimg80 {
        width: 80px;
        height: 80px;
    }
</style>


<div class="modal fade" id="selectIconModalDialog" tabindex="-1" role="dialog" aria-labelledby="selectIconModalDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="selectIconModalDialogLabel">[$dictionary_wizard:select_icon]</h4>
            </div>
            <div class="modal-body" style="overflow:auto" id="selectIconModalDialogBody">
                <div id="divIcons" class="panel-body" >
                    <div role="group" aria-label="...">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="divAjaxLoader" class="img-ajax-loader" style="display:none"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" >[$default:close]</button>
            </div>
        </div>
    </div>
</div>

<script>

    function iconView_SelectIcon(args, callBackFunction) {
        window.systemIconSelectCallBackFunction = callBackFunction;
        if (!args) args = {};
        var IconGroup = args.IconGroup ? args.IconGroup : 'Layer';
        var SelectedIco = args.SelectedIco;
        var imgClass = args.Size ? "selectIcoStyleimg" + args.Size : "selectIcoStyleimg24";

        iconView_ModalUpdateHeight();
        $('#selectIconModalDialog').modal('show');
        if (window.lasticonViewIconGroup != IconGroup)
            $.post("GUIJsonService?op=GetAvailableLayerIcons", { groupName: IconGroup },
                function (data, textStatus) {
                    $("#divIcons div").html('');

                    var appnedBtn = function (ico) {
                        var $button = $('<button/>', { type: "button", class: "btn btn-default", onclick: "iconView_SelectIconCallBack(this)", iconName: ico, html: '<img src="GUIJsonService?op=getIco&IconName=' + ico + '" class="' + imgClass + '"/>' });
                        if (args.BackgroundColor)
                            $button.css("background-color", args.BackgroundColor);
                        $('#divIcons div').append($button);
                    }
                    if (args.DefaultIco)
                        appnedBtn(args.DefaultIco);

                    for (var i = 0; i < data.length; i++)
                        appnedBtn(data[i]);

                }

                , 'json');
        window.lasticonViewIconGroup = IconGroup;

        $('#selectIconModalDialog').attr('preventCallBack', 'false');
    }
    function iconView_SelectIconCallBack(obj) {
        $('#selectIconModalDialog').modal('hide');
        window.systemIconSelectCallBackFunction($(obj).attr("iconName"));
    }
    $(window).resize(iconView_ModalUpdateHeight);
    function iconView_ModalUpdateHeight() {
        $("#selectIconModalDialogBody").css("max-height", ($(window).height() * .7) + "px");
    }

</script>
