﻿<div class="container">
    <style>
        .adv1 {
            display: none;
        }
    </style>
    <script>
        function SetVsb(tcl, obj) {
            obj = $(obj);
            var op = obj.attr("isopen") == "1";
            op = !op;
            obj.attr("isopen", op ? "1" : "0");
            obj.text(op ? obj.attr("itext") : obj.attr("itext2"));
            if (op) $(tcl).fadeIn(); else $(tcl).fadeOut();
        }
    </script>
    <script id="tokenGUIScript">
        function feedToggle() {
            if ($("#feed").is(":checked"))
                $(".feedForm").show();
            else
                $(".feedForm").hide();
        }
        function userToggle() {
            if ($("#chkForCurrentUser").is(":checked"))
                $(".forUser").hide();
            else
                $(".forUser").show();
        }
    </script>
    <script id="tokenScript">
        window.TokenTarget = {
            Feed: 1,
            Query: 2,
            Recognize: 4,
            WsInfo: 8,
            ClientToken: 16,
            AdvancedQuery: 32,
            Any: 256
        }

        function GetToken() {
            var forCurrentUser = $("#chkForCurrentUser").is(":checked");
            var url =
                forCurrentUser ?
                    $("#serverUrl").val() + "/" + (window.TokenHandler ? window.TokenHandler : "TokenHandler") + "?op=CreateToken2" :
                    $("#serverUrl").val() + "/" + (window.TokenHandler ? window.TokenHandler : "TokenHandler") + "?op=CreateTokenForUser2";
            if (url.indexOf("//") == 0)
                url = url.substr(1);
            var data = {
                TokenTarget: 0
            };
            

            if ($("#query").is(":checked")) data.TokenTarget |= window.TokenTarget.Query;
            if ($("#recognize").is(":checked")) data.TokenTarget |= window.TokenTarget.Recognize;
            if ($("#wsInfo").is(":checked")) data.TokenTarget |= window.TokenTarget.WsInfo;
            if ($("#chkClienToken").is(":checked")) data.TokenTarget |= window.TokenTarget.ClientToken;
            if ($("#chkAdvancedQuery").is(":checked")) data.TokenTarget |= window.TokenTarget.AdvancedQuery;
            if ($("#chkAny").is(":checked")) data.TokenTarget |= window.TokenTarget.Any;

            if ($("#feed").is(":checked")) {
                data.TokenTarget |= window.TokenTarget.Feed;
                try {
                    if ($("#feedAllowListJson").val())
                        data.FeedAllowList = JSON.parse($("#feedAllowListJson").val());
                }
                catch (ex) {
                    alert("Feed Allow List parse error" + ex.message);
                    return;
                }
            }

            data.NoLoginBrowser = $("#chkNoLoginBrowser").is(":checked") ? true : false;

            if (data.NoLoginBrowser)
                data.SessionMode = 0; //auto
            else
                data.SessionMode = $("#lstSessionMode").val();

            if ($("#txtIpFiler").val() && $("#txtIpFiler").val().trim())
                data.IPFilter = $("#txtIpFiler").val();
            data.TimeOutMinute = $("#txtTimeOutMinute").val();
            try {
                if ($("#txtCustomHandlers").val())
                    data.CustomHandlers = JSON.parse($("#txtCustomHandlers").val());
            }
            catch (ex) {
                alert("CustomHandlers parse error" + ex.message);
                return;
            }
            try {
                if ($("#txtFixedRequestParameters").val())
                    data.FixedRequestParameters = JSON.parse($("#txtFixedRequestParameters").val());
            }
            catch (ex) {
                alert("FixedRequestParameters parse error" + ex.message);
                return;
            }


            var _formdata = {}
            if (!forCurrentUser) {
                _formdata.Username = $("#usr").val();
                _formdata.Password = $("#psw").val();
            }
            _formdata.Options = JSON.stringify(data);

            

            $("#token").val('');
            $.post(url, _formdata ,
                function (data) {
                    $("#token").val(data);
                });
        }
    </script>
    <div class="row"><h3>Token API</h3></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-1" for="serverUrl">Url </label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="serverUrl" id="serverUrl" Value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">&nbsp;</label>
                    <div class="col-md-5">
                        <input type="checkbox" id="chkForCurrentUser" checked onclick="userToggle();"> <span>For Current User</span> ( [=c.Client.GetUserName()] )
                    </div>
                </div>
                <div class="form-group forUser" style="display:none">
                    <label class="control-label col-md-1" for="usr">Username </label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="usr">
                    </div>
                </div>


                <div class="form-group forUser" style="display:none">
                    <label class="control-label col-md-1" for="psw">Password </label>
                    <div class="col-md-5">
                        <input class="form-control" type="password" id="psw">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">&nbsp;</label>
                    <div class="col-md-5">
                        <input type="checkbox" id="query" checked> <span>Query</span>
                    </div>
                </div>
                <div id="customOptions">
                    <div class="form-group">
                        <label class="control-label col-md-1">&nbsp;</label>
                        <div class="col-md-5">
                            <input type="checkbox" id="recognize" checked> <span>Recognize</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">&nbsp;</label>
                        <div class="col-md-5">
                            <input type="checkbox" id="wsInfo" checked> <span>Workspace Info</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">&nbsp;</label>
                        <div class="col-md-5">
                            <input type="checkbox" id="chkAdvancedQuery" checked> <span>Advanced Query</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">&nbsp;</label>
                        <div class="col-md-5">
                            <input type="checkbox" id="chkClienToken" checked> <span>Client Token</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">&nbsp;</label>
                        <div class="col-md-5">
                            <input type="checkbox" id="feed" onclick="feedToggle();"> <span>Feed</span> (AllowList Required)
                        </div>
                    </div>
                </div>

                <div class="form-group feedForm" style="display:none">
                    <label class="control-label col-md-1" for="feedAllowListJson">AllowList</label>
                    <div class="col-md-5">
                        <textarea rows="5" class="form-control" type="text" id="feedAllowListJson"></textarea>
                        <button class="btn btn-default" onclick="feedAddUpdateWorkspaceStart()" >Edit AllowList</button>
                        <br />
                        <br />
                        Samples:
                        <pre>{"&lt;wsName&gt;":["&lt;EnumereatorId&gt;"]}</pre>
                        <pre>{
"&lt;wsName1&gt;":["&lt;EnumId_1&gt;"],
"&lt;wsName2&gt;":["EnumId_2&gt;","&lt;EnumId_3&gt;"]
}</pre>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">&nbsp;</label>
                    <div class="col-md-5">
                        <input type="checkbox" id="chkAny" checked> <span>All Access</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1">&nbsp;</label>
                    <div class="col-md-5">
                        <a href="javascript:void(0);" onclick="SetVsb('.adv1',this)" isopen="0" itext2="More..." itext="Less">More...</a>
                    </div>
                </div>

                <div class="form-group adv1">
                    <label class="control-label col-md-1" for="txtIpFiler">Client IP</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="txtIpFiler">
                    </div>
                </div>

                <div class="form-group adv1">
                    <label class="control-label col-md-1" for="txtTimeOutMinute" title="Minute (From Now) / 5256000= 10 years">Timeout(?)</label>
                    <div class="col-md-5">
                        <input class="form-control" type="number" id="txtTimeOutMinute" value="5256000">
                    </div>
                </div>






                <div class="form-group adv1">
                    <label class="control-label col-md-1">&nbsp;</label>
                    <div class="col-md-5">
                        <input type="checkbox" id="chkNoLoginBrowser" checked onchange="$('#lstSessionMode').prop('disabled',$(this).prop('checked'))"> <span>Disable Browser Login</span>
                    </div>
                </div>

                <div class="form-group adv1">
                    <label class="control-label col-md-1" for="lstSessionMode" title="">Session Mode</label>
                    <div class="col-md-5">
                        <select id="lstSessionMode" class="form-control" disabled>
                            <option value="0">Auto</option>
                            <option value="1">Browser Based</option>
                            <option value="2">IP Based</option>
                            <option value="3">User Based</option>
                        </select>
                    </div>
                </div>

                <div class="form-group adv1">
                    <label class="control-label col-md-1" for="txtCustomHandlers">Custom Access </label>
                    <div class="col-md-5">
                        <textarea type="text" class="form-control" id="txtCustomHandlers"></textarea>
                        <div id="customSample">
                            Sample : <pre> { "GUIJsonService":["*"] }</pre>
                            Sample : <pre> { "GeodiJSONService":["downloadDoc"] }</pre>
                        </div>

                    </div>
                </div>
                <div class="form-group adv1">
                    <label class="control-label col-md-1" for="txtFixedRequestParameters">Forced Request Parameters</label>
                    <div class="col-md-5">
                        <textarea type="text" class="form-control" id="txtFixedRequestParameters"></textarea>
                        <div id="fixedRequestParametersSample">
                            Sample : <pre> { "content_id":"17" }</pre>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">&nbsp;</label>
                    <div class="col-md-2">
                        <button type=button class="btn btn-default form-control" onclick="GetToken();">Create</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1" for="recognizeInput">Token </label>
                    <div class="col-md-5">
                        <textarea type="text" rows="10" readonly class="form-control" id="token"></textarea>
                    </div>
                </div>
                <br /><br /><br /><br />
            </div>
        </div>
    </div>

    <script>
        $("#serverUrl").val(HttpUtility.ResolveUrl("~/", false, true, { FullUrl:true}))
    </script>
</div>
