﻿<div id="querySavePopup" class="qUploadCtrlStyle qUploadCtrlStyleBack container" style="display:none;">
    <style>
        .btnTd {
            padding-left: 0px !important;
            padding-right: 4px !important;
            width: 25px;
        }

        #tblFav td {
            border: none;
        }

        #tblFav .btn {
            background-color: transparent;
            padding: 0px;
            margin: 0px;
        }

        #qAllItems {
            overflow-y: auto;
            max-height: 400px;
            padding: 2px;
        }

        .isOk span {
        }

        .isnotOk span {
            color: #AAA;
        }

        .geodi-guest #qAllItems .DtArea {
            display: none;
        }
    </style>
    <script>

        //<dcc:panel permission="DECE.SYSTEMMANAGER">
        window.IsSystemAdmin = true;
        //</dcc:panel>

        //<dcc:item factoryname="GeodiLicensePanel" trial="true" mustindex="2" index="10">
        window.SupportNotifications = true;
        //</dcc:item>
        function refreshMyQuerylist() {
            window._qAllItemsLoaded = false;
            $('#editQueryModal').modal('hide');
            renderQueryList();
        }
        function renderQueryList(showForce) {
            if (window.SupportNotifications)
                $(".forwatch").show();

            if (showForce) {
                if (window.__LastLoadedWatchList && window.__LastLoadedWatchList.length > 0)
                    $('#querySavePopup').fadeIn('slow');
            }

            if (!window._qAllItemsLoaded) {


                $('#qAllItems').html('<div class="img-default img-loading24"></div>');


                //wsname ??
                $.post(HttpUtility.ResolveUrl('~/GeodiQueryRepostroryHandler?op=GetAllPublicOrMy&wsNameFilter=' + HttpUtility.UrlEncode(StateForm.GetState("wsName")), false, true),
                    {
                    },
                    function (data) {
                        window.__LastLoadedWatchList = data;
                        if (window.__LastLoadedWatchList && window.__LastLoadedWatchList.length > 0)
                            $('#querySavePopup').fadeIn('slow');
                        $(document.body).trigger("GUI_WatchListLoaded");

                        window._qAllItemsLoaded = true;
                        var user = null;
                        if (window.Auth && window.Auth.CurrentUser)
                            user = window.Auth.CurrentUser.UniqueName;
                        if (user)
                            user = user.toLowerCase();

                        window.activeQueryList = {};
                        $('#qAllItems').empty();
                        $('#qAllItems').append('<table id="tblFav" class="table"></table>');

                        var __WatchForGuest = window.Auth && window.Auth.CurrentUser && window.Auth.CurrentUser.UniqueName && window.Auth.CurrentUser.UniqueName.toLowerCase() == "geodi:guest";
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];

                            window.activeQueryList[item.ID] = item;
                            $('#tblFav').append('<tr>' +
                                '<td>' +
                                '<a href="javascript:btnRunQuery(\'' + item.ID + '\');void(0);" >' + HttpUtility.HtmlEncode(item.DisplayName) + '</a>' +
                                (__WatchForGuest ? '' : (
                                    '<div class=DtArea>' +
                                    '<small>' + moment(parseNetDate(item.UpdateTime)).format('L') + ' - ' + moment(parseNetDate(item.UpdateTime)).fromNow() + " <span class='in-block gray-italic gray-light'>( " + item.Creator + ' )</span></small>' +
                                    '</div>')) +
                                '</td>' +
                                (__WatchForGuest ? '' :
                                    '<td class=btnTd>' +
                                    ((item.Creator == user || window.IsSystemAdmin) ?
                                        '<button class="btn btn-xs" title="[$default:edit/js]" onclick="btnEditQuery(\'' + item.ID + '\')"><span class="img-edit16 img-default16"></span></button>'
                                        : '&nbsp;') +
                                    '</td>' +
                                    '<td class=btnTd>' +
                                    ((item.Creator == user || window.IsSystemAdmin) ?
                                        '<button class="btn btn-xs" title="[$default:delete/js]" onclick="btnDeleteQuery(\'' + item.ID + '\',this)"><span class="img-delete16 img-default16"></span></button>'
                                        : '&nbsp;') +
                                    '</td>' +

                                    '<td class=btnTd>' +
                                    '<span title="' + (item.IsPublic ? '[$notification:public/js]' : '[$notification:private/js]') + '" ><span  style="font-size: 17px !important;" class="fa fa-' + (item.IsPublic ? "un" : "") + 'lock "></span></span>' +
                                    '</td>' +
                                    (window.SupportNotifications ?
                                        '<td class=btnTd>' +
                                        '<span style="cursor:pointer" class="' + (FavStatus.Has(item.Fav_Status, FavStatus.Watch) ? 'isOk' : 'isnotOk') + '" title="[$notification:watch/js/html]" onclick="btnSetFavStatus(this,\'' + item.ID + '\',' + FavStatus.Watch + ')"><span style="font-size: 17px !important;"  class="fa fa-eye"></span></span>' +
                                        '</td>' : '')
                                ) +
                                '</tr>');
                        }

                    }, 'json'
                );


            }
        }

        function StartWatchT(showForce) {
            window.setTimeout(function () { StartWatch(showForce); }, 100)
        }

        function StartWatch(showForce) {
            renderQueryList(showForce);
            if (showForce) return;
            if (!$('#querySavePopup').is(':visible'))
                $('#querySavePopup').fadeIn('slow');
            else //first ??
                $('#querySavePopup').fadeOut();
        }

    </script>



    <div class="qUploadCtrlStyleSub">
        <div id="qAllItems">

        </div>
        <div id="qCreateQuery" style="text-align:right">

            <a href="javascript:btnCreateQuery()"> [$notification:watchmodalmenu]</a>

        </div>

    </div>
</div>

<div class="modal fade" id="editQueryModal" tabindex="-1" role="dialog" aria-labelledby="editHeader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editHeader">[$default:edit]</h4>
            </div>

            <div class="modal-body" style="-webkit-overflow-scrolling:touch;">



                <input type="hidden" id="txtId" />
                <div class="form-horizontal input-group-xs">

                    <div class="form-group openHelp">
                        <div class="col-xs-12">
                            [$notification:help_supportwatch]
                        </div>
                    </div>
                    <input type="hidden" id="txtWatchGUIMode">

                    <div class="form-group" style="display:none">
                        <label class="control-label col-sm-3">[$workspace_wizard:project_name]</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtWsName" disabled class="form-control">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-3" for="txtDisplayName">[$default:displayname]</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDisplayName" class="form-control">
                            <div id="queryNotSavedInfo" class="text-danger" style="padding-top:5px">[$default:name_already_exist]</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="txtDescriptionForWatch">[$default:description]</label>
                        <div class="col-sm-8">
                            <textarea id="txtDescriptionForWatch" class="form-control" placeholder="[$default:description/html]" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="txtQuery">[$notification:query]</label>
                        <div class="col-sm-8">
                            <a href="javascript:updateWatchGUIFromCurrentQuery()" title="[$notification:watchmodalmenuLoad/html]" style="position:absolute;right:22px;margin-top:8px;">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>

                            <input type="text" readonly id="txtQueryReadony" class="form-control" style="padding-right:26px">



                        </div>



                    </div>

                    <div class="form-group" style="display:none">
                        <label class="control-label col-sm-3" for="txtQuery">[$notification:query]</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtQuery" class="form-control">
                        </div>
                    </div>



                    <div class="form-group" style="display:none">
                        <label class="control-label col-sm-3" for="txtFacet">Facet</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtFacet" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-8">
                            <label style="display:none">
                                <input id="chkFavorite" type="checkbox" checked /> <span>[$notification:setfavorite]</span>
                            </label>
                            <label class="forwatch" style="display:none">
                                <input id="chkWatch" type="checkbox" /> <span>[$notification:watch]</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class='pull-left permArea hidden'></div>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="$('#editQueryModal').modal('hide')">[$default:close]</button>

                <a tabindex="0" id="modalFolderbtn" class="btn btn-sm btn-primary" onclick="SaveCurrentQuery();">[$default:save]</a>
            </div>
        </div>
    </div>
</div>




<script>
    $("#editQueryModal").appendTo(document.body);
</script>