﻿.inDefaultPanel {
	max-width: 60% !important;
	width: 60% !important;
	display: inline-block;
	padding: 0 !important;
}
.DABody .inDefaultPanel{
	max-width: 100% !important;
	width: 100% !important;
}
#divKwAccordion {
	max-width: 100% !important;
	width: 100% !important;
}
.imgContainer {
	display:none;
}
.inDefaultPanel .pnl-query-item {
	margin: 0 !important;
	float: left;
	width: 50%;
	max-width: 50%;
	transition: none !important;
	padding: 0;
}
.pnl-query-item {
	border: 1px solid #eceff3;
	margin: 5px !important;
	box-shadow: none;
}
.pnl-query-item:hover .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item:hover {
	box-shadow: none;
}

.pnl-query-item.ItemSelectedForAdvRight {
	box-shadow: none;
	border: 1px solid #DDDFE2 !important;
}
.pnl-query-item.ItemSelectedForAdvRight .divPanelTitleText .inLink {
	color: #242527;
}
.pnl-query-item .divPanelTitleText .inLink {
    color: #258FFB;
}
.pnl-query-item .SummaryAll {
	font-size: 14px;
	padding: 0px;
}
.pnl-query-item .SummaryText {
    padding: 5px 15px 10px 15px;
    line-height: 1.7em;
    color: #616164;
    margin: 0;
    float: left;
    width: 100%;
}
/* html yüklenene kadar script hesaplaması için */
.ThumbContentRef {
	min-height:150px;
}
/** **/
.pnl-query-item .headerDocRow {
	position: relative;
    padding: 15px 36px 15px 70px;
    min-height: 62px;
}
.docParentArea {
	padding-left: 0;
}

.pnl-query-item .headerDocRow .docParentArea .inLink, .pnl-query-item .headerDocRow small, .pnl-query-item .headerDocRow .docParentArea small[title=Sahip] {
	display: inline-block;
    font-size: 12px !important;
    padding: 4px; 
    margin-right: 2px;
    margin-bottom: 2px;
	border: 1px solid #ECEFF3;
    border-radius: 3px;
    background: #F7F8FA;
}
.pnl-query-item .headerDocRow, .rightDiv .pnl-query-item .headerDocRow {
	padding-left: 15px;
}
/** **/
.inAdvRightPanel {
    left: 60% !important;
	padding: 20px 25px;
	margin-top: 0;
	border: 1px solid #DDDFE2;
	border-radius: 4px;
	box-shadow: none;
}
	.toggled .inAdvRightPanel {
		margin-left: 120px;
		left: 60% !important;
	}
.rightPanelClose {
	position: absolute;
    right: 8px;
    top: 11px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: white;
    background-image: url(../../../../img/delete16.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#divMain .ItemSelectedForAdvRight:before {
	display: none;	
}
.inAdvRightPanel h3 {
	position: absolute;
    top: 0;
    left: 0;
    padding: 14px 34px 14px 15px;
	margin-top: 0;
    color: #fff;
	font-size: 18px;
	width: 100%;
	height: 46px;
	max-width: initial;
	border-radius: 4px 4px 0 0;
	background: #242527;
}
.inAdvRightPanel h3 img {
	display: none;
}

.pnl-query-item .docDetail .ThumbContentRef img {
	max-height: 200px;
    max-width: 200px;
}
.inAdvRightPanel h3 .inLink {
	color: #fff;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: block;
}
.inAdvRightPanel .SummaryLinksRight {
	margin-top: 36px;
    padding-left: 0;
}
.pnl-query-item .divPanelTitleText {
	margin-bottom: 10px;
	width: 100%;
	padding: 0px;
}
.rightTabs a .badge {
	font-family: Arial;
	font-size: 11px;
    color: #fff !important;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 0;
    border-color: transparent !important;
    background: #A8A9AD !important;
}
.rightTabs a.rightActive .badge {
    color: #fff !important;
    border-color: transparent !important;
    background: #FD5965 !important;
}
.rightTabs a.rightTabLinked {
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
    margin-top: 9px;
    line-height: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FD5965;
}
/* propGrid */
.root {
	overflow-x: auto;
}
.__textclass .propGrid {
	min-width: 220px;
}
.__textclass .propGrid .pgCol {
	min-width: 30%;
	max-width: 30%;
	white-space: normal;
	word-break: break-word;
}
.__textclass .propGrid .pgVal {
	width: 60%;
}
/** Responsive **/
@media (max-width: 1366px) {
	.toggled .inDefaultPanel .pnl-query-item {
		width: 50%;
	}
}
@media (max-width: 991px) {
	.inDefaultPanel {
	    max-width: 100% !important;
		width: 100% !important;
	}
	.toggled .inDefaultPanel .pnl-query-item {
		width: 100%;
	}
	.DABody .inDefaultPanel .pnl-query-item {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.dateFilterArea, .inDefaultPanel {
		margin: 0 !important;
	}
	.DABody .inDefaultPanel .pnl-query-item {
		width: 100%;
	}
}
@media print {
	.pnl-query-item .docDetail .ThumbContentRef img {
		max-height: 200px !important;
		max-width: 200px !important
	}
	.inDefaultPanel .pnl-query-item {
		margin: 0 !important;
		float: left !important;
		min-width: 50% !important;
		transition: none !important;
		padding: 0 !important;
		transform: unset !important;
		position: unset !important;
		left: unset !important;
		top: unset !important
	}
}