﻿<div class="loginFormArea">
    <div class="panel-heading">
        <h3 class="panel-title" style="float:left;">[$UserManagement:LoginTitle]</h3>
        <div style="color:#999;float:right;font-size:12px;" id="AppVer">
            [=c.AppName]&nbsp;[=c.AppVersion]
        </div>
    </div>
    <div class="panel-body">
        <dcc:item factoryname="ResourceControl" check="true" src="GUI/Custom/LoginPage/Form_Top.html" />
        <form role="form" id="tmpfrm" name="tmpfrm">
            <fieldset id="formLoginArea" style="display:none">
                <div class="form-group">
                    <input class="form-control" placeholder="" name="username" id="username" type="text" autocomplete="on" onkeypress="if (event.keyCode == 13) $('#password').focus();">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="[$UserManagement:PasswordHolder/html]" name="password" id="password" type="password" autocomplete="off" value="" onkeypress="if (event.keyCode == 13) $('#lgn_btn').click();">
                </div>
                <div class="checkbox">
                    <label>
                        <input id="rememberMe" name="remember" type="checkbox" style="position:relative;vertical-align:bottom" value="RememberMe" onkeypress="if (event.keyCode == 13) $('#lgn_btn').click();"> <span>[$UserManagement:RememberMe]</span>
                    </label>
                    <span style="float:right;display:none" id="spanResetPassword"><a href="" onclick="resetPassword(); return false;">[$Authorization:password_forgot_link_text]</a></span>
                </div>
                <dcc:item factoryname="ResourceControl" check="true" src="GUI/Custom/LoginPage/Form_Center.html" />
                <div class="row">
                    <input class="btn allowDisable btn-lg btn-success btn-block" type="submit" id="lgn_btn" onclick="LoginWithForm()" value="[$UserManagement:LoginButton/html]">
                </div>
            </fieldset>
        </form>


        <div class="row" id="rowGuestLogin" style="display:none">
            <input id="btnGuestLogin" class="btn allowDisable btn-warning btn-block" style="margin:auto;display:none" type="button" onclick="LoginWithForm_Guest()" value="[$UserManagement:GuestButton/html]">
        </div>

        <div class="row" id="LoginWithArea" style="display:none">
            <p>[$UserManagement:OtherLoginText]</p>
        </div>

        <dcc:item factoryname="ResourceControl" check="true" src="GUI/Custom/LoginPage/Form_Bottom.html" />
    </div>
</div>

<script>


    function checkCookie() {
        var cookieEnabled = navigator.cookieEnabled;
        if (!cookieEnabled) {
            {
                var cc = document.cookie;
                try {

                    document.cookie = "testcookieXYZTEST";
                    cookieEnabled = document.cookie.indexOf("testcookieXYZTEST") != -1;
                    document.cookie = cc;
                }
                catch (e) {
                    document.cookie = cc;
                    return false;
                }
            }
        }
        return cookieEnabled;
    }
    function FncLoginReady() {
        $(".allowDisable ").attr("disabled", true);
        StateForm.DoPost("UserLogin");
    }

    $("#tmpfrm").submit(function (e) { e.preventDefault(); });
    //get login providers
    $(function () {

        if (!window.BrowserType.IsGoogleEarth() && !checkCookie()) {
            $("#cookieHref").attr("href", document.location.href);
            $("#_cookieReqired").show();
        }

        if (window.Auth && window.Auth.CurrentUser && StateForm.GetState('IsWindowMode')) {
            if (window.DeceClientState)
                _PSCC.Command({ Command: 'SetUserLanguage', "Language": window.DeceClientState.GetLanguage() });
            _PSCC.Command({ Command: 'CloseWindow', DialogResult: 'OK' });
            return;
        }

        $.post(HttpUtility.ResolveUrl('~/UserManagementService?op=GetAllowedLoginProviders'),
            null, function (result, textStatus) {
                var infForm = {}
                if (result && result.sort && "".localeCompare)
                    result.sort(function (a, b) { return a.ID.localeCompare(b.ID) });
                infForm.usernameHolders = {};
                for (var i = 0; i < result.length; i++) {
                    var loginer = result[i];
                    if (loginer.LoginGUIInfo && loginer.LoginGUIInfo.SupportSingleFormLogin) {
                        if (loginer.LoginGUIInfo.UsernamePlaceHolder)
                            infForm.usernameHolders[loginer.LoginGUIInfo.UsernamePlaceHolder] = true;
                        infForm.ShowForm = true;
                        if (loginer.LoginGUIInfo.SupportForgotPassword) infForm.SupportForgotPasswordOne = true;
                        if (loginer.LoginGUIInfo.SupportChangePassword) infForm.SupportChangePasswordOne = true;
                    }
                    else if (loginer.LoginPageUrl && loginer.IsReady) {
                        $("#LoginWithArea").show();
                        $("#LoginWithArea").append($("<button/>", {
                            click: function () {
                                _PSCC.Command({ Url: $(this).data("loginurl"), Name: '_DeceLogin', Command: 'OpenWindow', Width: 550, Height: 650, Dialog: true, Resizable: false });
                            },
                            title: loginer.DisplayName,
                            "data-loginurl": loginer.LoginPageUrl,
                            class: "btn btn-link", html: ("<img src='GUIJsonService?op=getIco&IconName=" + (loginer.IconName ? loginer.IconName : "empty") + "'>" + "<span>" + loginer.DisplayName + "</span>")
                        }))
                    }

                    if (loginer.LoginGUIInfo.SupportForgotPassword)
                        $('#spanResetPassword').show();
                }

                if (infForm.ShowForm) {
                    $("#formLoginArea").show();
                    var arryPlcHolder = [];
                    for (var key in infForm.usernameHolders)
                        arryPlcHolder.push(key);
                    $("#username").attr("placeholder", arryPlcHolder.join(', '));
                }
            },
            "json");
    });

    window.OnAjaxError = function () {
        $(".allowDisable ").attr("disabled", false);
    }

    function login(userName, password, rememberMe) {
        $(".allowDisable ").attr("disabled", true);
        $("#lgn_btn, #btnGuestLogin").attr("disabled", true);
        $.post(HttpUtility.ResolveUrl('~/UserManagementService?op=LoginWithForm'),
            { ClientData: HttpUtility.ToBase64(userName + "\r" + password), 'rememberMe': rememberMe }, //cryp
            
            function (data, res) {
                //error callback
                if (!data || !data.Success) {
                    $(".allowDisable ").attr("disabled", false);
                    showMessage(('[$UserManagement:InvalidUsernameOrPassword/js]'), ('[$default:error/js]'), 'danger');
                    $("#lgn_btn, #btnGuestLogin").removeAttr("disabled");
                }
                else if (data.ClientActionData) {
                    StartClientAction(data.ClientActionData);
                    return;
                }
                else {
                    RunLoginCompleted();
                    
                }
                
            }
            , 'json');
    }

    function StartClientAction(Data) {
        //debugger;
        //modlar yazılacak.
        window.LastClientAction = Data;
        //open,custom ... 
        if (Data.Target == "open") {
            var w = 550;
            var h = 650;
            if (Data.Attributes && Data.Attributes["width"])
                w = Data.Attributes["width"];
            if (Data.Attributes && Data.Attributes["height"])
                h = Data.Attributes["height"];
            _PSCC.Command({ Url: Data.Url, Name: '_DeceLogin2', Command: 'OpenWindow', Width: w, Height: h, Dialog: true, Resizable: false },
                function (wnd) {
                    checkStartClientActionWindow();

                }
            );

        }
        else if (Data.Target == "redirect") {
            document.location.href = Data.Url;
        }
        else if (Data.Target == "eval") {
            eval(Data.Url);
        } else if (Data.Target == "message") {
            showMessage(Data.Url);
        }

    }
    function checkStartClientActionWindow() {
        _PSCC.Command({ Name: '_DeceLogin2', Command: 'IsOpenWindow' },
            function (data) {
                if (data.Response) {
                    window.__LastClientActionTimer = window.setTimeout(checkStartClientActionWindow, 500);
                }
                else {
                    //closed

                    if (window.LastClientAction != null) {
                        RunLoginCompleted();
                    }
                    else
                        $("#lgn_btn, #btnGuestLogin").removeAttr("disabled");
                }
                        
            });

        
    }
    function RunLoginCompleted() {
        window.LastClientAction = null;
        if (window.__LastClientActionTimer)
            window.clearTimeout(window.__LastClientActionTimer);

        if (StateForm.GetState('IsWindowMode'))
            _PSCC.Command({ Command: 'CloseWindow', DialogResult: 'OK' });
        else {
            StateForm.DoPost("UserLogin");
        }
    }

    function LoginWithForm() {
        var usrData = $("#username").val();
        var passData = $("#password").val();
        var rememberMe = $("#rememberMe").is(':checked');
        if (!usrData) {
            showMessage(('[$UserManagement:RequiredUsernamePasswordForForm/js]'), ('[$default:error/js]'), 'danger');
            $("#username").focus();
            return;
        }
        if (!passData) {
            showMessage(('[$UserManagement:RequiredUsernamePasswordForForm/js]'), ('[$default:error/js]'), 'danger');
            $("#password").focus();
            return;
        }
        login(usrData, passData, rememberMe);
    }

    function LoginWithForm_Guest() {
        login('guest', '-', true);
    }

    function resetPassword() {
        inputBox(('[$Authorization:password_forgot_panel_label/js]'), ('[$Authorization:password_forgot_panel_title/js]'), function (result, text) {
            if (result == 'ok') {
                showWaitDialog(('[$default:wait/js]'), ('[$default:wait/js]'));
                $.post(HttpUtility.ResolveUrl('~/UserManagementService?op=CheckAndSendPasswordResetMail'), { 'userNameOrEmail': text }, function (data, textStatus) {
                    hideWaitDialog();
                    if (data)
                        showMessage(('[$Authorization:reset_mail_sent/js]'), ('[$default:info/js]'), 'info');
                    else
                        showMessage(('[$Authorization:reset_error_occurred/js]'), ('[$default:error/js]'), 'danger');
                }, 'json').fail(function () { hideWaitDialog(); });
            }
        }, '', false);
    }

    function GetUrlParameter2(name, url) {
        if (!url) url = location.href
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        return results == null ? null : results[1];
    }

    $(window).ready(function () {
        window.ApplicationSettingsService.IsGuestLoginAllowed(
            function (data, textStatus) {
                if (data) {
                    $('#btnGuestLogin').show();
                    $('#rowGuestLogin').show();
                }
            });
        var loginWithGuest = GetUrlParameter2('loginWithGuest')
        if (loginWithGuest == "1" || loginWithGuest == "true")
            LoginWithForm_Guest();
    });
</script>
