﻿
    <div id="divMain" class="container resetForm" style="max-width:500px;margin-top:50px;display:none">
        <div class="row">
            <div class="form-horizontal">
                <div style="margin-left:15px;margin-bottom:20px">
                    <span>[$Authorization:reset_form_label]</span> <span id="userKey"></span>
                </div>
                <div class="form-group">
                    <div class="control-label col-xs-3">
                        <label for="txtPassword1">[$Authorization:password]</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="password" autocomplete="off" id="txtPassword1" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-xs-3">
                        <label for="txtPassword2">[$Authorization:password_confirm]</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="password" autocomplete="off" id="txtPassword2" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" onclick="resetPassword()" style="float:right;margin-right:15px;">[$default:ok]</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function resetPassword() {
            var password = $('#txtPassword1').val();

            if (password != $('#txtPassword2').val()) {
                showMessage('[$Authorization:password_should_match/js]', '[$default:error/js]', 'danger');
                return;
            }
            if (!password || password == '') {
                showMessage('[$Authorization:password_cannot_be_empty/js]', '[$default:error/js]', 'danger');
                return;
            }
            $.post('UserManagementService?op=ResetPasswordForce', { 'key': StateForm.GetState("resetKey"), 'password': HttpUtility.ToBase64(password) }, function (data, textStatus) {
                if (data) {
                    showMessage('[$Authorization:pasword_reset_done/js]', '[$default:info/js]', 'info', null, null, null, function () {

                        var url = document.location.href;
                        url = url.substr(0, url.indexOf("?"));
                        url = url.substr(0, url.lastIndexOf("/"));
                        document.location.href = url;
                    });

                }
                else
                    showMessage('[$Authorization:password_reset_error/js]', '[$default:error/js]', 'danger');
            }, 'json');
        }
        $(window).ready(function () {
            var error = StateForm.GetState("error");
            if (!error) {
                $('#divMain').show();
                $("#userKey").html(" ( " + StateForm.GetState("userkey") + " )");
            }
            else {
                showMessage(error, '[$default:error/js]', 'danger');
            }
        });
    </script>
