.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    padding-top:20px;
    border: 1px solid #cccccc;
    bottom: 30px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    min-width: 130px;
    max-height: 800px;
    padding-right:3px;
    overflow-x: auto;
}

.ol-popup-closer, .ol-popup-closer:hover , .ol-popup-closer:visited
 {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 110%;
    padding: 0 4px;
    color: gray;
    text-decoration: none;
    min-width:16px;
    min-height:16px;
    /*background-image: url(../../img/close16.png);*/
}

.ol-popup-closer:after {
   /* content: "✖";*/
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}
