﻿.custom-mouse-position {
    bottom: 8px;
    left: 45px;
    position: absolute;
    padding-left: 5px;
    padding-right: 7px;
    text-align: center;
    width: 210px;
    border-radius: 3px;
    /*font-weight:bold;*/
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5;
}

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:full-screen {
    height: 100%;
}

.ol-rotate {
    top: .5em;
}

.ol-full-screen-false:before {
    content: "↔";
}

.geo-location {
    bottom: .5em;
    left: .5em;
}

.ol-touch .geo-location {
    bottom: .5em;
    left: .5em;
}

.ol-zoom-extent {
    top: .3em;
}

.ol-touch .ol-zoom-extent {
    top: .5em;
}


.ol-control {
    position: absolute;
    background-color: rgb(248, 248, 248);
    background-color: rgba(248, 248, 248, .8);
    border-radius: 4px;
    padding: 2px;
}

    .ol-control:hover {
        background-color: rgba(255,255,255,.6);
    }

    .ol-control button:focus, .ol-control button:hover {
        text-decoration: none;
        background-color: rgb(204, 204, 204);
        background-color: rgba(204, 204, 204, .8);
    }

    .ol-control button {
        display: block;
        margin: 1px;
        padding: 0;
        color: #444;
        font-size: 1.14em;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        height: 1.375em;
        width: 1.375em;
        line-height: .4em;
        background-color: rgb(248, 248, 248);
        background-color: rgba(248, 248, 248, 0.9);
        border: none;
        border-radius: 2px;
    }

        .ol-control button:focus, .ol-control button:hover {
            text-decoration: none;
            background-color: rgb(237, 237, 237);
            background-color: rgba(241, 241, 241, .8);
        }

.selected-item {
    text-decoration: none !important;
    color: #fff !important;
    background-color: rgb(0, 132, 202) !important;

}


.control-rotate {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(316deg);
    -ms-transform: rotate(316deg);
    transform: rotate(316deg);
}

.ol-attribution {
    z-index: 9999;
}