﻿<dcc:panel visible='!c["geodi"].IsMapRequest() && !c["geodi"].HasGUISetting(33554432)'>
    <style>
        #widgetList .img-default,
        #widgetList .fa {
            filter: brightness(0) invert(0.9);
        }
		
        .faFontPrint{
            font: normal normal normal 24px/1 FontAwesome !important
        }

		.dashShowMainBtnContainer {
			display:block !important;
			visibility:visible !important;
		}
        @media print {

            body, html {
                overflow: visible !important;
            }

            .divImageLoading {
                display: none !important;
            }

            .sidebar-wrapper {
                width: 0px !important;
                display: none;
            }

            #divMain {
                overflow: visible !important;
                padding: 0;
                top: 0px;
                height: 100% !important;
                width: 100% !important;
            }
            .widget-inpanel {
                overflow:hidden;
            }
            .SummaryLinks, .SummaryLinksTop{
                display:none
            }
        }
    </style>
    <script>
        window.lbl_enumrator_authorization_label = '[$workspace_wizard:enumrator_authorization_label/js]';
        window.lbl_user_groups = '[$workspace_wizard:user_groups/js]';
    </script>
    <script>
        window.DashboardHandler = "GeodiDashboardHandler";
        window.SupportShowCurrentUser = true;
        window.WidgetList = [];
        window.DynamicDashboardArea = "#dynamicDashboardArea";
    </script>

    <style>

        .ForNonEditMode {
            display: none !important;
        }

        .ForEditMode {
            display: inherit !important;
        }

        .widget-inedit-mode .ForNonEditMode {
            display: inherit !important;
        }

        .widget-inedit-mode .ForEditMode {
            display: none !important;
        }

        .widget-inedit-mode .ForNonNewMode {
            display: none;
        }

        .widget-isnew-mode .ForNonNewMode {
            display: none;
        }
    </style>



    

    <script type="dece-template" id="dynamicDashboardContainer">
        <div class="widget-inedit-mode" id="dynamicDashboardArea">
            <div class="container-fluid mobidiRootArea">
                <div class="col-md-12 dashboard-left-panel fullHeightForIframePrint">
                    <div id="DashboardArea" class="widget">
                        <div class="empty-dashboard-area">
                            <div class="empty-icon-list">
                                <i class="fa fa-area-chart"></i>
                                <i class="fa fa-users"></i>
                                <i class="fa fa-map"></i>
                                <i class="fa fa fa-table"></i>
                                <i class="fa fa-users"></i>
                            </div>
                            <h5>[$WidgetResources:no_registered_dashboard/html]</h5>
							<dcc:panel permission="DECE.DASHBOARD.CREATE">
                            <button class="btn btn-primary" onclick="createNewDashboard()"><i class="fa fa-plus"></i>&nbsp;[$WidgetResources:create_dashboard/html]</button>
							</dcc:panel>
                        </div>
                    </div>
                </div>

                <div class="dashboard-right-panel" style="top:initial;">
                    <div id="widgetList" style="height: 100%;overflow: auto;" class="InMapFrame"></div>
                </div>
            </div>
        </div>
    </script>




    <script>
        function DynDahboardView(options) {
            this.Name = "Dyn";
			this.IsDynamicDahboard=true;
            this.OnActive = function () { }
            this.OnDeactive = function () { }
            this.Owner = null; //QueryContainer
            this.TargetDOM = options ? options.TargetDOM : null;
			this.OnScroll = function () {
				  
			}
            this.OnChangingView = function () {
                SetDashboardMenuVisible(true, false, false, false,false);
            }
            this.firstTime = true;
            this.Run = function (UpdateDefaultQuery, IgnoreFacet) {
                var targetArea = $(that.TargetDOM);
                var inMap = $("#dynamicDashboardArea", targetArea);

                if (that.firstTime || !inMap || inMap.length == 0) {
                    window.DeceDashboard.Reset();

                    var html = TemplateToHtml($("#dynamicDashboardContainer"), {}, {});
                    targetArea.html(html);
                    renderWidgetList();
                    
                    if (that.IsNew) {
                        createNewDashboard();
                        window.DeceDashboard.__IsNew = true;
                        SetDashboardMenuVisible(false, false, true, false,false);
                    }
                    else {
                        initDashboard(that.Name, true);
                        SetDashboardMenuVisible(true, that.Dashboard && that.Dashboard.CanEdit, false, false,true);
                    }
                    that.firstTime = false;
                }

                window.DeceDashboard.ID = that.Name;


                HideStartLoading();

                resizeNav();
                //Update all!

                var query = that.Owner.CurrentQuery.Clone();
                query.StartIndex = 0;
                query.EndIndex = 1;
                var callStartClient = new Date();
                query._qc = that.Owner.QueryCounter;
                if (UpdateDefaultQuery)
                    query.SetDefaultQuery(function (data, textStatus, request) {
                        if (query._qc != that.Owner.QueryCounter) return;
                        if (!IgnoreFacet)
                            window.setTimeout(function () {
                                that.Owner.UpdateFacetGUI(callStartClient, request);
                            }, 100);
                        //internal update
                    })
                else {
                    if (!IgnoreFacet)
                        window.setTimeout(function () {
                            that.Owner.UpdateFacetGUI(callStartClient, null);
                        }, 100);
                    //internal update
                }

                if (DeceDashboard.__Widgets)
                    $.each(DeceDashboard.__Widgets, function (k, o) {
                        if ((o.GetUseMainQueryStatus && o.GetUseMainQueryStatus()) ||
							(!o.GetUseMainQueryStatus && !o.settings.showDisableMainQuery))
                            o.update();
                    });

            }
            var that = this;

        }
    </script>

    <script>

        window.__GeodiDashboardMenuVisible = {
            btnCreateDashboard: true,
            btnEditDashboard: false,
            btnSaveDashboard: false, //edit perm
            btnDeleteDashboard: false,
			btnCancelDashboard:false,
            btnPrintDashboard:false,
            SetVisible: function (id) {
                var dom = $("#" + id);
                if (window.__GeodiDashboardMenuVisible[id])
                    dom.removeClass("hidden");
                else
                    dom.addClass("hidden");
            }
        };

        function SetDashboardMenuVisible(Create, Edit, Save, Delete, Print) {
            var obj = window.__GeodiDashboardMenuVisible;
            obj.btnCreateDashboard = Create;
            obj.btnEditDashboard = Edit;
            obj.btnSaveDashboard = Save;
            obj.btnDeleteDashboard = Delete;
			obj.btnCancelDashboard = Save;
            obj.btnPrintDashboard = Print;
            $.each(obj, function (v) {
                if (v && v.indexOf && v.indexOf("btn") == 0)
                    obj.SetVisible(v);
            })
        }

        //<dcc:panel permission="DECE.DASHBOARD.CREATE">
        AddStartMenuItem({
            id: "btnCreateDashboard",
            priority: 1301,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$WidgetResources:new_dashboard/js]",
            icoClass: "img-add",
            exClass:"hidden",
            click: "CloseNavMenu(); GeodiCreateNewDashboard(); ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });
		//</dcc:panel>
        AddStartMenuItem({
            id: "btnEditDashboard",
            priority: 1302,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$default:edit/js]",
            icoClass: "img-edit",
            exClass:"hidden",
            click: "CloseNavMenu(); GeodiEditDashboard(); ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });


        AddStartMenuItem({
            id: "btnSaveDashboard",
            priority: 1303,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$default:save/js]",
            icoClass: "img-save",
            exClass: "hidden",
            click: "CloseNavMenu(); showSaveDashboardModal(); ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });

		AddStartMenuItem({
            id: "btnDeleteDashboard",
            priority: 1304,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$default:delete/js]",
            icoClass: "img-delete",
            exClass: "hidden",
            click: "CloseNavMenu(); deleteDashboardConfirm(); ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });
		
		AddStartMenuItem({
            id: "btnCancelDashboard",
            priority: 1305,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$default:cancel/js]",
            icoClass: "img-cancel",
            exClass: "hidden",
            click: "CloseNavMenu(); document.location.href=document.location.href; ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });
        AddStartMenuItem({
            id: "btnPrintDashboard",
            priority: 1306,
            ShowSearch: false,
            ShowStart: false,
            ShowMobile: false,
            ShowDesktop: true,
            text: "[$default:print/js]",
            icoClass: "faFontPrint fa fa-print",
            exClass: "hidden",
            click: "CloseNavMenu(); window.print(); ",
            onDomAdded: function (p, dom, itm) {
                window.__GeodiDashboardMenuVisible.SetVisible(itm.id);
            }
        });


        
        
		function OnDeleteDashboard() {
			document.location.href=document.location.href;
		}
        function OnSaveDashboard() {
            //SetDashboardMenuVisible(true, true, false, false);
			document.location.href=document.location.href;
        }
		function GetNewDashboardId() {
			var v=window.CurrentQueryContainer?window.CurrentQueryContainer.GetActiveView():null;
			if(v && v.IsNew && v.IsDynamicDahboard)
				return v.Name;
			return null;
		}
		
        function GeodiEditDashboard() {
            window.DeceDashboard.ActivateEditMode();
            SetDashboardMenuVisible(false, false, true, true, false);
        }
        function GeodiCreateNewDashboard() {
            var id = guid(); //veya isim ?
            AddViewItem({
                priority: 30,
                DisplayName: id,
                Name: id,
                Creator: function () {
                    //reset şart!
                    var v = new DynDahboardView();
                    v.IsNew = true;
                    v.Name = id;
                    return v;
                }
            });
            ChangeView(id);
            SetDashboardMenuVisible(false, false, true, false,false);
        }

        function AddDynamicDashboardsMain(dynamicDashboards, wsInfo) {
            //create all

            if (dynamicDashboards && dynamicDashboards.length > 0)
                $.each(dynamicDashboards, function (k, dashboard) {


                    AddViewItem({
                        priority: 30,
                        DisplayName: dashboard.DisaplayName,
                        Name: dashboard.ID,
                        Creator: function () {
                            //reset şart!
                            var v = new DynDahboardView();
                            v.Dashboard = dashboard;
                            v.Name = dashboard.ID;
                            return v;
                        }
                    });
					
					 if (dashboard.ShowMain)
                        {
						
						  AddStartMenuItem({
                                    id: "btn" + dashboard.ID,
                                    priority: 1000,
                                    ShowSearch: true,
                                    ShowStart: true,
                                    ShowMobile: true,
                                    ShowDesktop: false,
                                    text: dashboard.DisplayName,
                                    icoStyle: "filter:unset;background-image:url('GUIJsonService?op=getIco&IconName=" + (dashboard.IconName && dashboard.IconName.toLowerCase()!="empty"?dashboard.IconName:"Other/dashboard") + "');background-repeat: no-repeat;",
                                    exClass: "_for _for" + dashboard.ID,
                                    exClass2Fnc: function () { return IsActiveView(dashboard.ID) ? "active" : "" },
                                    click: "CloseNavMenu(); ChangeView('" + dashboard.ID + "')"
                                });
						}


                });

            
        }

    </script>
	
<!--widget meta -->	
	<script>

    if (!window.DeceWidget)
        window.DeceWidget = {};

    window.DeceWidget.__GeodiWidgetContainer = function (widget, Template, data) {
        //render default
        if (widget.tools && !widget.tools.defaultSettingTemplate)
            widget.tools.defaultSettingTemplate = "#GeodiDefaultWidgetSettings";
        widget.container = window.DeceWidget.__DeceWidgetContainer(widget, Template, data);
        widget.widgetTools = new window.DeceWidget.__GeodiWidgetTools($(".defaulttools", widget.settingsDom), widget, true);
        return widget.widgetTools;
    }

    window.DeceWidget.__GeodiWidgetTools = function (targetDom, widget, alreadyRendered) {
        var pThis = this;
        var tools = widget.tools;
        var settings = widget.settings;
        if (!settings)
            settings = {};
        if (!tools)
            tools = {
                chartType: false,
                chartLegend: false,
                stacked: false,
                query: false,
                queries: false,
				sortable: false,
            };
        this.settings = settings;
        this.tools = tools;
        this.widget = widget;
        this.settingsDom = targetDom;


        this.callback = function () { };

        this.__stackedIsCheck = function () {
            if (pThis.settings.chartOptions && pThis.settings.chartOptions.scales) {
                if ((pThis.settings.chartOptions.scales.xAxes && pThis.settings.chartOptions.scales.xAxes[0].stacked) || (pThis.settings.chartOptions.scales.yAxes && pThis.settings.chartOptions.scales.yAxes[0].stacked))
                    $(".chartStacked", widget.settingsDom).attr('checked', 'checked');
            }
        }

        this.reLoadWidgetSettings = function () {
            widget.container.__reLoadWidgetSettings(function () {

                function stackedShowCondition() {
                    if (widget.tools.stacked) {
                        switch (widget.settings.chartType) {
                            case "bar":
                            case "line":
                                if (widget.tools.stacked) {
                                    pThis.__stackedIsCheck();
                                    $(".chartStacked").parent().show();
                                }
                                break;
                            default:
                                if (widget.tools.stacked) {
                                    $(".chartStacked").parent().hide();
                                    var stackDef = {
                                        scales: {
                                            xAxes: [{ stacked: true }],
                                            yAxes: [{ stacked: true }]
                                        }
                                    };

                                    $.extend(widget.settings.chartOptions, stackDef);
                                }
                                break;
                        }
                    }
                }


                if (widget.settings.chartOptions &&
                    widget.settings.chartOptions.scales &&
                    widget.settings.chartOptions.scales.xAxes &&
                    widget.settings.chartOptions.scales.xAxes.length > 0 &&
                    widget.settings.chartOptions.scales.xAxes[0].stacked)
                    $(".chartStacked", widget.settingsDom).prop("checked", true);
                stackedShowCondition();

				if (widget.settings.chartType)
					$(".chartType", widget.settingsDom).val(widget.settings.chartType);
					
                if (widget.settings.chartLegend)
                    $(".chartLegend", widget.settingsDom).val(widget.settings.chartLegend);
				
				if (widget.settings.sortType)
                    $(".wSortingType", widget.settingsDom).val(widget.settings.sortType);				
				

                $(".showDisableMainQuery", widget.settingsDom).prop("checked", widget.settings.showDisableMainQuery ? true : false);

                window.SingleBind($(".showDisableMainQuery", widget.settingsDom), "change", function () {
                    var val = $(this).is(":checked");
                    if (val) widget.settings.showDisableMainQuery = true;
                    else delete widget.settings.showDisableMainQuery;
                    pThis.callback(widget.settings, "showDisableMainQuery");
                });


                if (pThis.tools && pThis.tools.OnEventBinding) /*tools event*/
                    pThis.tools.OnEventBinding(pThis, widget);



                window.SingleBind($(".chartType", widget.settingsDom), "change", function () {
                    widget.settings.chartType = $(this).val();
                    stackedShowCondition();
                    pThis.callback(widget.settings, "chartType");
                });

                window.SingleBind($(".chartLegend", widget.settingsDom), "change", function () {
                    widget.settings.chartLegend = $(this).val();
                    pThis.callback(widget.settings, "chartLegend");
                });
				
				window.SingleBind($(".wSortingType", widget.settingsDom), "change", function () {
                    widget.settings.sortType = $(this).val();
                    pThis.callback(widget.settings, "sortable");
                });
				
				

                window.SingleBind($(".chartStacked", widget.settingsDom), "change", function () {

                    if (!widget.settings.chartOptions) widget.settings.chartOptions = {};
                    var stacked = $(this).prop("checked");
                    var stackDef = {
                        scales: {
                            xAxes: [{
                                stacked: stacked
                            }],
                            yAxes: [{
                                stacked: stacked
                            }]
                        }
                    };
                    $.extend(widget.settings.chartOptions, stackDef);
                    pThis.callback(widget.settings, "stacked");
                });



                function hideOrShowAxes(from, xyaxes) {
                    if (!widget.settings.chartOptions) widget.settings.chartOptions = {};
                    if (widget.settings.chartOptions && widget.settings.chartOptions.scales && widget.settings.chartOptions.scales[xyaxes] && widget.settings.chartOptions.scales[xyaxes][0] && widget.settings.chartOptions.scales[xyaxes][0].hasOwnProperty("display")) {
                        widget.settings.chartOptions.scales[xyaxes][0].display = !widget.settings.chartOptions.scales[xyaxes][0].display;
                    }
                    else {
                        var hidexyAxes = {
                            scales: {}
                        };
                        hidexyAxes.scales[xyaxes] = [{ display: false }];
                        $.extend(widget.settings.chartOptions, hidexyAxes);
                    }

                    pThis.callback(widget.settings, "hidexyAxes");
                    var className = "", title = "";

                    if (widget.settings.chartOptions.scales[xyaxes][0].display) {
                        className = "fa fa-eye-slash fa-1";
                        title = "[$WidgetResources:hide_selections/js]";
                    } else {
                        className = "fa fa-eye fa-1";
                        title = "[$WidgetResources:show_selections/js]";
                    }
                    $("i", from).parent().removeAttr("title").attr("title", title);
                    $("i", from).removeAttr("class").attr("class", className);
                }


                window.SingleBind($(".wSortingType", widget.settingsDom), "change", function () {
                    var wSortingTypeVal = $(".wSortingType", widget.settingsDom).val();
                    widget.settings.sortType = wSortingTypeVal;
                    pThis.callback(widget.settings, "sortable");
                });

                window.SingleBind($(".hidexAxes", widget.settingsDom), "click", function () {
                    hideOrShowAxes(this, "xAxes");
                });

                window.SingleBind($(".hideyAxes", widget.settingsDom), "click", function () {
                    hideOrShowAxes(this, "yAxes");
                });

                /*new*/

                $(".singleQuery", widget.settingsDom).val(widget.settings.query ? widget.settings.query : "");
                window.SingleBind($(".singleQuery", widget.settingsDom), "change", function () {
                    widget.settings.query = $(".singleQuery", widget.settingsDom).val();
                    pThis.callback(widget.settings, "query");
                });
				
				 $(".uiQuery", widget.settingsDom).prop("checked",widget.settings.uiQuery ? true:false);
                window.SingleBind($(".uiQuery", widget.settingsDom), "change", function () {
                    widget.settings.uiQuery = $(".uiQuery", widget.settingsDom).prop("checked");
                    pThis.callback(widget.settings, "uiQuery");
                });
				
				
				
				
				$(".multiQuery", widget.settingsDom).html( TemplateToHtml($("#GeodiDefaultWidgetMultiQuery").html(),(widget.settings.queries?widget.settings.queries:[]),{}) );
				var qChangeIconFnc = function () {
					var domIco=$(this);
					iconView_SelectIcon({ IconGroup: 'Layer', DefaultIco:'empty' }, function (selIcon) {
						domIco.removeClass("widgetEmptyIconClass");
						if(!selIcon || selIcon.toLowerCase()=='empty')
							domIco.addClass("widgetEmptyIconClass");
						domIco.attr("value",selIcon);
						domIco.attr("src", 'GUIJsonService?op=getIco&IconName=' + (selIcon?selIcon:"empty"))
						qItemsFunction();
					});
				};
					
					
				var qItemsFunction= function () {
                    var lastrowIsEmpty=false;
					var newqueries=[];
					var nextEmpty=[];
					$(".mqDataRow", widget.settingsDom).each(function() {
						var d=$(".mqDisplayName",this).val().trim();
						var dOrj=$(".mqDisplayNameOrg",this).val();
						var q=$(".mqQuery",this).val().trim();
						var ico=$(".mqIco",this).val().trim();
						if(d.length==0 && q.length==0) {
							if(lastrowIsEmpty)
								nextEmpty.push($(this));
							lastrowIsEmpty=true;
							}
						else  {
							var dNon=d;
							if(dOrj) {
								dOrj=JSON.parse(dOrj);
								if(dOrj.dn==d)
									d=dOrj.d;
								}
							lastrowIsEmpty=false;
							nextEmpty=[];
							newqueries.push( {
								__type:"Geodi.DefaultViewer.DahsboardQuery, Geodi.DefaultViewer",
								DisplayName:d,
								DisplayName__NonLocalized:dNon,
								Query:q,
								IconName:ico
							});
						}
						
					});
					
					if(nextEmpty.length>0) 
						$.each(nextEmpty,function(i,k) {k.remove();})
					if(!lastrowIsEmpty) {
						var newhtml=TemplateToHtml($("#GeodiDefaultWidgetMultiQuery-Row").html(),null ,{});
						var nwRow=$(newhtml);
						window.SingleBind($(".multiQueryItem", nwRow), "change", qItemsFunction);
						window.SingleBind($(".mqIco", nwRow), "click", qChangeIconFnc);
						$(".multiQuery table", widget.settingsDom).append(nwRow);
					}
					widget.settings.queries=newqueries;
                    pThis.callback(widget.settings, "queries");
                };
				
				
                window.SingleBind($(".multiQueryItem", widget.settingsDom), "change", qItemsFunction);
				window.SingleBind($(".mqIco", widget.settingsDom), "click", qChangeIconFnc);
				
				


                var updateVisibleCustom = function () {
                    if (widget.tools.templates) {
                        if (widget.settings.Template == "custom")
                            $(".widgetCustomTemplate", widget.settingsDom).show();
                        else
                            $(".widgetCustomTemplate", widget.settingsDom).hide();
                    }
                };

                $(".widgetCustomTemplate", widget.settingsDom).val(widget.settings.customTemplate ? widget.settings.customTemplate : "");
                window.SingleBind($(".widgetCustomTemplate", widget.settingsDom), "change", function () {
                    widget.settings.customTemplate = $(".widgetCustomTemplate", widget.settingsDom).val();
                    pThis.callback(widget.settings, "customTemplate");
                });



                $(".widgetTemplate", widget.settingsDom).val(widget.settings.Template ? widget.settings.Template : "");
                window.SingleBind($(".widgetTemplate", widget.settingsDom), "change", function () {
                    widget.settings.Template = $(".widgetTemplate", widget.settingsDom).val();
                    updateVisibleCustom();
                    pThis.callback(widget.settings, "Template");
                });

                updateVisibleCustom();
                //add query bar.
                //widget.settings.queries


            });
        }

        this.reLoadWidgetSettings();
    };


	function __GetDspForDSQuery(data) {
		if(!data) return '';
		var ds=data.DisplayName__NonLocalized!=null?data.DisplayName__NonLocalized:data.DisplayName;
		return ds!=null?HttpUtility.HtmlEncode(ds):''
	}
	
	function __GetJsonForDSQuery(data) {
		if(!data) return '';
		return HttpUtility.HtmlEncode(JSON.stringify({d:data.DisplayName,dn:data.DisplayName__NonLocalized}));
	}

</script>

<!--query-->
<script type="dece-template" id="GeodiDefaultWidgetMultiQuery-Row">
			<tr class="mqDataRow">
				<td>
					<input type="image" class="mqIco {{ !data || !data.IconName || data.IconName.toLowerCase()=='empty' ?'widgetEmptyIconClass':'' }}" iconname="Layer/folder" value="{{data && data.IconName?data.IconName:'empty'}}" src="GUIJsonService?op=getIco&IconName={{data && data.IconName?data.IconName:'empty'}}">
				</td>
				<td><input type="text" class="form-control input-sm multiQueryItem mqDisplayName" value="{{ __GetDspForDSQuery(data) }}">
					<input type="hidden" class="form-control input-sm multiQueryItem mqDisplayNameOrg" value="{{ __GetJsonForDSQuery(data) }}">
				</td>
				<td><input type="text" class="form-control input-sm multiQueryItem mqQuery" value="{{ data && data.Query!=null?HttpUtility.HtmlEncode(data.Query):'' }}"></td>
			</tr>
</script>
<script type="dece-template" id="GeodiDefaultWidgetMultiQuery">


<div class="table-responsive">


<span data-help="none" data-ns="none"><span class="directValue" style="display:none">[$WidgetResources:help_ready_queries]</span></span>

<label>[$WidgetResources:ready_queries]</label>

		<table class="table" style="margin-bottom:0px" >
			<tr>
				<th width="10%">[$default:icon]</th>
				<th width="40%">[$default:displayname]</th>
				<th width="50%">[$default:query]</th>
			</tr>
			<d:r data=data>
			{{ TemplateToHtml($("#GeodiDefaultWidgetMultiQuery-Row").html(),data,context) }}
			</d:r>
			{{  TemplateToHtml($("#GeodiDefaultWidgetMultiQuery-Row").html(),null ,context) }}
			
		</table>
</div>
					
</script>

<!--default-->

<script type="dece-template" id="GeodiDefaultWidgetSettings">

    <d:r visible="context.tools.query">
        <div class="form-group">
            <label>[$default:query]</label>
            <input type="text" class="form-control input-sm singleQuery" placeholder="[$default:query_page]">
        </div>
    </d:r>

    <d:r visible="context.tools.queries">
        <div class="form-group">
            <div class="multiQuery">
			
			
			</div>
        </div>
    </d:r>

	
    <d:r visible="context.tools.templates">
        <div class="form-group">
            <label>[$dictionary_wizard:template]</label>
            <select class="panelUpdate form-control input-sm widgetTemplate">
                <d:r data="context.tools.templates">
                    <option value="{{data.Value}}">{{data.DisplayName}}</option>
                </d:r>

                <d:r visible="context.tools.supportCustomTemplate">
                    <option value="custom">[$Calendar:Custom]</option>
                </d:r>
            </select>
        </div>
    </d:r>

    <d:r visible="context.tools.supportCustomTemplate">
        <textarea class="form-control input-sm widgetCustomTemplate" rows="6" placeholder="[$dictionary_wizard:template]" style="{{context.tools.templates?'display:none':''}}">
    
        </textarea>
    </d:r>



    <d:r visible="context.tools.chartType">
        <div class="form-group">
            <label>[$WidgetResources:chart_type]</label>
            <select class="panelUpdate form-control input-sm chartType">
                <option value="bar">[$WidgetResources:bar]</option>
                <option value="pie">[$WidgetResources:pie]</option>
                <option value="radar">[$WidgetResources:radar]</option>
                <option value="line.nofill">[$WidgetResources:line]</option>
                <option value="line">[$WidgetResources:filled_line]</option>
                <option value="line.point">[$WidgetResources:point]</option>
                <option value="doughnut">[$WidgetResources:doughnut]</option>
                <option value="polarArea">[$WidgetResources:polarArea]</option>
                <option value="bubble">[$WidgetResources:bubble]</option>
            </select>
        </div>
    </d:r>

    <d:r visible="context.tools.chartLegend">
        <div class="form-group">
            <label>[$WidgetResources:legend]</label>
            <select class="panelUpdate form-control input-sm chartLegend">
                <option value="none">[$WidgetResources:none]</option>
                <option value="left">[$WidgetResources:left]</option>
                <option value="right">[$WidgetResources:right]</option>
                <option value="top">[$WidgetResources:top]</option>
                <option value="bottom">[$WidgetResources:bottom]</option>
            </select>
        </div>
    </d:r>

    <d:r visible="context.tools.stacked">
        <div class="form-group form-check">
            <label class="form-check-label"><input type="checkbox" class="form-check-input chartStacked">&nbsp;[$WidgetResources:stacked_chart]</label>
        </div>
    </d:r>

    <d:r visible="context.tools.sortable">
        <div class="form-group">
            <label>[$WidgetResources:sorting]</label>
            <select class="form-control input-sm wSortingType">
				<option value="shortForCount">[$WidgetResources:sort_by_value]</option>
				<option value="shortForCountDesc">[$WidgetResources:reverse_sorting_by_value]</option>
				<option value="shortForLabel">[$WidgetResources:sorting_by_horizontal_axis]</option>
				<option value="shortForLabelDesc">[$WidgetResources:reverse_sorting_by_horizontal_axis]</option>
			</select>
        </div>
    </d:r>

	

	<d:r visible="context.tools.showDisableMainQuery">
		<div class="form-group">
			<label class="form-check-label"><input type="checkbox" class="form-check-input showDisableMainQuery">&nbsp;[$WidgetResources:disable_main_query]</label>
		</div>
	</d:r>


	<d:r visible="context.tools.uiQuery">
		<label class="form-check-label"><input type="checkbox" class="form-check-input uiQuery">&nbsp;[$WidgetResources:query_box]</label>
	</d:r>


</script>





<style>
.WidgetQueriesArea .active {
	
}
.WidgetQueriesArea {
	overflow-y:auto;
	white-space: nowrap;
	padding-bottom:3px;
}
</style>

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<script type="dece-template" id="Geodi_DefaultViewWidgetTemplate">
{{context.__IgnoreHeight=0;null;}}
<d:r visible="context.settings.uiQuery">
{{context.__IgnoreHeight+=45;null;}}
    <div class="form-group WidgetGeodiTool">
        <input type="text" class="form-control input-sm uiQuery" placeholder="[$default:query_page]" onchange="SetManualQueryForWidget(this)" onkeydown="SetManualQueryForWidget(this,event)" value="{{context.ManualQuery!=null?HttpUtility.HtmlEncode(context.ManualQuery):''}}" >
    </div>
</d:r>

<d:r visible="context.tools.queries && context.settings.queries && context.settings.queries.length&gt;1">
<div class="WidgetQueriesArea WidgetGeodiTool">
{{context.__IgnoreHeight+=45;null;}}
{{ delete context.__selBtn;null;}}
<d:r data="context.settings.queries">
	<button class="btn btn-default {{ var ok=(!context.__selBtn && (!context.ActiveQuery || data.Query==context.ActiveQuery.Query)); if(ok) context.__selBtn=data; ok?'active':''  }}" onclick="SetActiveQueryForWidget(this,'{{data.Query!=null?HttpUtility.HtmlEncode(data.Query):''}}')">
	<d:r visible="data.IconName && data.IconName.toLowerCase()!='empty'">
		<img src="GUIJsonService?op=getIco&IconName={{data.IconName}}">
	</d:r>
	{{ HttpUtility.HtmlEncode(data.DisplayName) }}
	</button>
</d:r>
</div>
</d:r>
    <div id="WidgetViewArea" class="widget-main-container-area" style="{{ context && context.WidgetAreaCss? context.WidgetAreaCss:'' }};{{ context.__IgnoreHeight?'height:calc(100% - '+context.__IgnoreHeight+'px )':''}}"></div>

	
</script>
<script>

function SetActiveQueryForWidget(dom,query) {
	var btns=$(dom).closest(".WidgetQueriesArea");
	$("button",btns).not(dom).removeClass("active");
	$(dom).addClass("active");
	
	var widget=$(dom).closest(".widget-panel").data("instance");
	if(widget && widget.settings.queries) {
		var itm=widget.settings.queries.find(function(k ){ return k.Query==query });
		if(itm){
			widget.ActiveQuery=itm;
			widget.update();
		}
	}
}

function SetManualQueryForWidget(dom,event) {
	var widget=$(dom).closest(".widget-panel").data("instance");
	if(widget) {
		var vl=$(dom).val();
		var setNow=function() {
			if(widget.ManualQuery!=vl) {
				widget.ManualQuery=vl
				widget.update();
			}
		}
		
		if (event && event.keyCode == 13) 
			setNow();
		else {
			if(widget.__mqTmr)
				window.clearTimeout(widget.__mqTmr);
			widget.__mqTmr=window.setTimeout(setNow,500);
			
		}
	}
}
</script>
<script>
    //printing
    
    $(window).on("beforeprint", function (event) {
        $('.sidebar-large').removeClass("sidebar-large").addClass("sidebar-large-printing").removeClass("sidebar-contaniner");

        $(document.body).addClass("printing");
        if (window.Chart && Chart.instances){
            for (var id in Chart.instances) {
                Chart.instances[id].resize();
            }
        }

    });

    $(window).on("afterprint", function (event) {
        $('.sidebar-large-printing').removeClass("sidebar-large-printing").addClass("sidebar-contaniner").addClass("sidebar-large");
        $(document.body).removeClass("printing");
    });
    
</script>


<dcc:layoutarea name="DECE_WIDGETS" checkresource="True" targetfolder="GUI/Custom/Widgets/Geodi" />
<dcc:item factoryname="ResourceControl" src="GUI/Control/DynamicDashboard.view.html" />
	
	
</dcc:panel>