﻿<dcc:panel visible='=c["geodi"].GetWS()!=null && !c["geodi"].GetWS().GetGenericSetting("DisableIntroTour",false)'>

	<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/webTour/enjoyhint.min.js" />
	<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/webTour/enjoyhint.css" />
	<style>
	#intro-modal, .enjoyhint {
		z-index:5000;
	}
	#intro-modal .modal-backdrop{
		opacity:0.6;
	}
	#intro-modal hr {
		color:transparent;
		background:transparent;
		border:none;
		border-top:1px solid #1ecd9766;
	}
	#intro-modal .modal-title {
		font-size:22px;
		font-family:Arial;
	}

	#intro-modal  .modal-dialog {
		top:10%;
	}
	#intro-modal  .modal-body {
		max-height:600px;
		overflow-y:auto;
		max-height: calc(60vh);
		font-size:18px;
		font-family:Arial;
	}
	#intro-modal  .modal-footer .btn {
		font-size:18px;
		font-family:Arial;
	}
	#intro-modal  .modal-body a,#intro-modal  .modal-body a:visited {
		color:#2196f3
	}



	</style>

	<div class="modal fade" id="intro-modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="intro-modal-label">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="intro-modal-label"> [=c["geodi"\].GetSessionWSDisplayName()]</h4>
				</div>
				<div class="modal-body" id="intro-body">
					[=/var h=c.Localize(c["geodi"\].GetWS()!=null?c["geodi"\].GetWS().Description:"");if(h!=null)return h.Replace("\n","<br>");return h;]
				</div>
				
				<div class="modal-footer">
					<button class="btn btn-default" onclick="__SetTourStatus(window.__CurrentTourStatusKey);$('#intro-modal').modal('hide');">[$default:i_understand]</button>
				</div>
			</div>
		</div>
	</div>

	<script>

	if(!window.ViewTourHelps) window.ViewTourHelps={};
	/*$.extend(window.ViewTourHelps, {
				"KLV": { 
					//title:""
					//description:""
					//disable:true
					}
			});
	*/
			
	function __GetStartTour() {
		var rtn= [
		  {
			'click #txtSearchDefault' : '[$geodi_intro:tour_search_box/js]',
			showNext :true,
			showSkip:false
		  },
		  {
			selector:'#querySavePopup',
			showNext :true,
			showSkip:false,
			description:'[$geodi_intro:tour_saved_queries/js]',
			onBeforeStart:function(){ 
				StartWatchT(true); 
				if(!window.__LastLoadedWatchList || window.__LastLoadedWatchList.length == 0) {
					window.eTourInstance.setCurrentStep(window.eTourInstance.getCurrentStep()+1);
					window.setTimeout(window.eTourInstance.resume,10);
				}
			}
		  }
		]
		
		
		var sldItm={showNext :true,
				showSkip:false
				};
		var trgtFacet=window.BrowserType && BrowserType.IsMobile()?".menuStarterMobile":".SearchTextBoxArea";
			if($(trgtFacet).length>0) {
			trgtFacet='next '+trgtFacet;
			sldItm[trgtFacet]= '[$geodi_intro:tour_viewer_tabs/js]';
			rtn.push(sldItm);
		}
		if($("._forFacet").is(":visible"))  {
			trgtFacet=(window.ClosedFacet || (window.BrowserType && BrowserType.IsMobile()))?"._forFacet":".sidebar-wrapper";
			sldItm={
						'next ._forFacet' : '[$geodi_intro:tour_facet/js]',
						showNext :true,
						showSkip:false
			};
			trgtFacet='next '+trgtFacet;
			sldItm[trgtFacet]= '[$geodi_intro:tour_facet/js]';
			rtn.push(sldItm);
			
		}
		  
		return rtn;
	}

	</script>
	
	<script>

	function __initTour() {
		if(!window.localStorage) return;
			function _TourViewTabChangeStart() {
				if(window.__LastCalledQuery && !window.__LastCalledQueryObj && !window.__LastCalledQueryIn1) {
					window.__LastCalledQueryIn1=true;
					if(!window.__LastLoadedWatchList)
						$(document.body).on("GUI_WatchListLoaded", function() {__ShowViewTourModal(true)});
					else {
						window.SavedQueryLoading=false;
						__ShowViewTourModal();
						}
				}
				else {
					window.SavedQueryLoading=false;
					__ShowViewTourModal();
					}
			}		
						
			$('body').on('hide.bs.modal', function(){if($('.modal.in, .modal.show').length == 1){introStartOneTime();}});
			
			$(window).resize(function() {
				if(window.eTourInstance)
					try{window.eTourInstance.resume();}catch(e) {}
			})
			
			var wsName = window.StateForm?StateForm.GetState("wsName"):"?";
			if(window.__LastCalledQuery)
				_TourViewTabChangeStart();
			else if($("#intro-body").text().trim() && !__GetTourStatus("prj_s_"+wsName)) {
					window.__CurrentTourStatusKey="prj_s_"+wsName;
					$("#intro-modal").modal();
				}
			else
				introStartOneTime();
				
				$(document.body).on("GUI_ViewChanged", function() { if(!window.SavedQueryLoading) _TourViewTabChangeStart()});
			$(document.body).on("GUI_SavedQueryRuned", _TourViewTabChangeStart);
			
		}
		function __ShowViewTourModal(fromWatchListLoaded) {
			var html=[];
			var title=null;
			if(window.eTourInstance!=null) {
				window.eTourInstance.stop();
				window.eTourInstance=null;
			}
				
			window.__CurrentTourStatusKey=[];
			
			if(window.__LastCalledQuery && !__GetTourStatus("q_"+window.__LastCalledQuery)) {
			
				var key=window.__LastCalledQuery+"_"+window.__LastCalledQueryTime;
				if(window.__LastCalledQueryShown!=key) {
					var desc=null;
					window.__LastCalledQueryShown=key;
					if(window.__LastCalledQueryObj)
						desc=window.__LastCalledQueryObj.Description;
					else if(window.__LastLoadedWatchList) {
						$.each(window.__LastLoadedWatchList,function(k,v) {
							if(v.ID==window.__LastCalledQuery && v.Description) {
									desc=v.Description;
									title=v.DisplayName;
								}
						})
					}
					if(desc) {
						window.__CurrentTourStatusKey.push("q_"+window.__LastCalledQuery);
						html.push(desc.replace(/\n/g,"<br>"));
						}
				}
			}
			else if(fromWatchListLoaded) return;
			var targetView=window.CurrentQueryContainer.GetActiveView();
			var target=targetView?targetView.Name:null;
			var isMobile=window.BrowserType ? BrowserType.IsMobile():false;
			if(!__GetTourStatus("v_"+target)) {
				var getDesc2=function() {
							var desc2;
							var helpData=$("#help_"+target).data("all");
							if(helpData) desc2=helpData.content;
							else if(isMobile){
								desc2=$("#help_"+target+" .directValue").html();
								if(desc2) {
									desc2=desc2.split('||');
									desc2=desc2.length==0?"":desc2[desc2.length-1];
								}
							}
					return desc2;
				}
				
				if(window.ViewTourHelps && window.ViewTourHelps[target])  {
					var tab=window.ViewTourHelps[target];
					if(!tab.disable) {
						var desc2=tab.description;
						if(!desc2)
							desc2=getDesc2();
						if(desc2) {
							window.__CurrentTourStatusKey.push("v_"+target);
							if(html.length==0)
								html.push(desc2.replace(/\n/g,"<br>"));
							}
						if(!title)
							title=tab.title;
					}
				}
				else {
					var desc2=getDesc2();;
					if(desc2) {
						window.__CurrentTourStatusKey.push("v_"+target);
						if(html.length==0)
							html.push(desc2.replace(/\n/g,"<br>"));
						}
				}
			}
			if(!title && targetView)
				title=targetView.DisplayName;
			if(html.length>0) {
				if(window.eTourInstance!=null)
					window.eTourInstance.stop();
				if(!title) title="";
				if( isMobile || !target || $("._for"+target+":visible").length==0) {
					$("#intro-modal-label").html(title);
					$("#intro-body").html(html.join('<br>'));
					$("#intro-modal").modal();
				}
				else {
						function onEndIntroFnc(isEnd) {
							if(window.eTourInstance2)
								window.eTourInstance2.stop();
							window.eTourInstance2=null;
							if(isEnd)
								__SetTourStatus(window.__CurrentTourStatusKey);
						}
						window.eTourInstance2 = new EnjoyHint({
							onStart :function() {
								window.setTimeout(function() {$(".modal").modal("hide")},10 );
							},
							onEnd :function() {onEndIntroFnc(true) },
							onSkip :onEndIntroFnc
						});
						var intro={
							showNext :true,
							showSkip:false
						};
						intro['next ._for'+target+':visible']= html.join('<br>');
						eTourInstance2.set([intro]);
						eTourInstance2.run();
				}

			}
		}
		function introStartOneTime() {
			if(__GetTourStatus("dfIntro_0") || window.__oneTimeIntroLoaded) return;
			StartWatch(true);
			window.setTimeout(introStartOneTime2,500);//500ms
		}
		
		function introStartOneTime2() {
			if(__GetTourStatus("dfIntro_0") || window.__oneTimeIntroLoaded) return;
			StartWatch(true);
			window.__oneTimeIntroLoaded=true;
			if(!window.__LastCalledQuery && window.ChangeView)
				ChangeView(window.CurrentQueryContainer.GetActiveViewName());
			function onEndIntroFnc(isEnd) {
					if(window.eTourInstance)
						window.eTourInstance.stop();
					window.eTourInstance=null;
					window.setTimeout(function () { $("#txtSearchDefault").focus(); }, 100);
					StartWatch(true);
					if(isEnd) __SetTourStatus("dfIntro_0");
			}	
				window.eTourInstance = new EnjoyHint({
					onStart :function() {
						window.setTimeout(function() {$(".modal").modal("hide")},10 );
					},
					onEnd :function() {onEndIntroFnc(true) },
					onSkip :onEndIntroFnc
				});
				
				eTourInstance.set(__GetStartTour());
				eTourInstance.run();
				
				
		}
		$(document.body).on("GUI_QueryContainerCreated", function() {
		
			if(StateForm.GetState('ismaprequest')!="1")
				__initTour();
		});

		window._tourStatusObjKey="df_02";
		
		function __GetTourStatusObj() {
			var jsn=localStorage.getItem(window._tourStatusObjKey);
			if(!jsn) jsn={}; else jsn=JSON.parse(jsn);
			return jsn;
		}

		function __GetTourStatus(key) {
			var jsn=__GetTourStatusObj();
			if(jsn["Disable"]=="1") return true;//görüldü.
			return jsn[key];
		}
		function __DisableTourStatus(disable) {
			__SetTourStatus("Disable",disable?"1":"-1");
		}
		function __ResetTourStatus(keystart) {
			var jsn=__GetTourStatusObj();
			if(keystart) {
				$.each(jsn,function(key) {
					if(key && key.indexOf && key.indexOf(keystart)==0)
						delete jsn[key];
				})
			}
			else jsn={};
			localStorage.setItem(window._tourStatusObjKey,JSON.stringify(jsn));
		}
		function __SetTourStatus(keys,value) {
		if(keys) {
			if(value==undefined ||value==null) value=1;
			var jsn=__GetTourStatusObj();
			if(typeof(keys)=="object")
				$.each(keys,function(i,key) {
					if(key) jsn[key]=value;
				})
			else
				jsn[keys]=value;
				localStorage.setItem(window._tourStatusObjKey,JSON.stringify(jsn));
			}
				
		}
		
	</script>
</dcc:panel>