﻿#inRightPanelForDoc {
	display: none !important;
}
.headerDocRow, .docDetail {
  padding: 0 20px 0 0;
}
.inDefaultPanel {
	max-width: 100% !important;
	width: 100% !important;
	display: inline-block;
	padding: 0 !important;
}
#divKwAccordion {
	max-width: 100% !important;
	width: 100% !important;
}
.inDefaultPanel .pnl-query-item {
	margin: 0 0 10px 0 !important;
	float: left;
	width: 24.5%;
	transition: none !important;
}
.DABody .inDefaultPanel .pnl-query-item {
	width: 48%;
}
.pnl-query-item {
	border: 1px solid #DDDFE2;
	margin: 5px !important;
	box-shadow: none;
}
.pnl-query-item:hover {
	box-shadow: none;
}
.pnl-query-item.ItemSelectedForAdvRight {
	box-shadow: none;
	border: 1px solid #aed0f3 !important;
}
.pnl-query-item.ItemSelectedForAdvRight .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item .divPanelTitleText .inLink {
    color: #5342A5;
}
.pnl-query-item .divPanelTitleText .inLink:hover {
	color: #473698;
}
.pnl-query-item .headerDocRow {
	position: relative;
    padding: 15px 36px 15px 70px;
    min-height: 62px;
}
.pnl-query-item .headerDocRow .imgContainer {
	background: #f7f8fa;
    position: absolute !important;
    top: 15px;
    left: 15px;
    padding: 9px;
    text-align: center;
    width: 42px;
    height: 42px !important;
    border-radius: 4px;
}
.pnl-query-item .SummaryAll {
	font-size: 14px;
	padding: 0;
}
.pnl-query-item .SummaryText {
    padding: 5px 15px 10px 15px;
    line-height: 1.7em;
    color: #616164;
    margin: 0;
    float: left;
    width: 100%;
}
/* html yüklenene kadar script hesaplaması için */
.ThumbContentRef {
	height:160px;
	width: 160px;
	text-align: center;
}
.pnl-query-item .docDetail .ThumbContentRef img {
	max-width: 150px;
	max-height: 150px;
}
/** **/
.pnl-query-item .divPanelTitleText, .pnl-query-item .docParentArea {
	display: inline-block;
	width: 100%;
	padding: 0;
}
.pnl-query-item .docParentArea {
    margin-top: 10px;
}
.pnl-query-item .headerDocRow .docParentArea .inLink, .pnl-query-item .headerDocRow small, .pnl-query-item .headerDocRow .docParentArea small[title=Sahip] {
	display: inline-block;
    float: left;
	font-size: 12px !important;
	color: #f2f1f3 !important;
    padding: 4px 6px; 
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 11px;
	height: 22px;
    background: #826bc7;
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}
.pnl-query-item .moreSideLink {
	display: inline-block;
	font-size: 12px;
	padding: 0 6px;
	margin-top: 8px;
	line-height: 22px;
	border-radius: 11px;
	height: 22px;
	background-color: #f7f8fa;
}
.pnl-query-item .moreSideLink:hover {
	text-decoration: none;
	background-color: #ECEFF3;
}
.rightTabs a .badge {
	font-family: Arial;
	font-size: 11px;
    color: #fff !important;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 0;
    border-color: transparent !important;
    background: #A8A9AD !important;
}
.rightTabs a.rightActive .badge {
    color: #fff !important;
    border-color: transparent !important;
    background: #FD5965 !important;
}
/** **/

/* propGrid */
.root {
	overflow-x: auto;
}
.__textclass .propGrid {
	display: table;
	width: 100%;
	min-width: 220px;
	margin: 0px;
	border: 1px solid #f7f8fa;
}
.__textclass .propGrid .pgRow {
	display: table-row;
}
.__textclass .propGrid .pgCol {
	min-width: 30%;
	max-width: 30%;
	white-space: normal;
	word-break: break-word;
}
.__textclass .propGrid .pgVal {
	width: 60%;
}
.__textclass .propGrid .pgVal, .__textclass .propGrid .pgCol {
	padding: 2px 5px;
	font-size: 12px;
}
/** Responsive **/
@media (max-width: 1366px) {
	.toggled .inDefaultPanel .pnl-query-item,
	.DABody .inDefaultPanel .pnl-query-item {
		width: 33.3%
	}
}
@media (max-width: 991px) {
	.toggled .inDefaultPanel .pnl-query-item,
	.DABody .inDefaultPanel .pnl-query-item {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.inDefaultPanel .pnl-query-item {
		width: 100%;
	}
}
@media print {
	@page {margin: 0}
	#divMain #DashboardArea .pnl-query-item {
		width: 50% !important;
		transform: unset !important;
		position: unset !important;
		left: unset !important;
		top: unset !important
	}
	.pnl-query-item .headerDocRow .docParentArea .inLink, .pnl-query-item .headerDocRow small, .pnl-query-item .headerDocRow .docParentArea small[title=Sahip]{
		color: #000 !important
	}
	.pnl-query-item .docDetail .ThumbContentRef img {
		max-width: 150px !important;
		max-height: 150px !important
	}
}