﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiWebEditorManager.js" />

<div class="checkbox col-sm-offset-2 col-sm-10" id="backupEx">
    <label>
        <input id="chkUseDafultBackup" type="checkbox"> <span>[$workspace_wizard:use_default_backup]</span>

        <script>
            $(document.body).on("WebEditorUpdateObject", function (e, arg) {
                if (!$("#chkUseDafultBackup").prop('checked')) {
                    if (arg.obj.GenericSettings)
                        delete arg.obj.GenericSettings["EnableBackup"];
                }
                else {
                    if (!arg.obj.GenericSettings)
                        arg.obj.GenericSettings = {};
                    arg.obj.GenericSettings["EnableBackup"] = true;
                }
            });
            $(document.body).on("WebEditorUpdateGUI", function (e, arg) {

                $("#chkUseDafultBackup").prop('checked', (arg.obj.GenericSettings && arg.obj.GenericSettings["EnableBackup"]) ? true : false);
                if (!window.parent.currentStorageManagersForBackup)
                    $("#backupEx").hide();
            });

        </script>

    </label>
</div>

