﻿
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/moment.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/bootstrap.min.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/datetimepicker/bootstrap-datetimepicker.min.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/datetimepicker/bootstrap-datetimepicker.min.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />

<style type="text/css">
    .spinner {
        min-width: 59px;
        margin-top: -8px;
    }

        .spinner input {
            text-align: right;
        }

    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
    }

        .input-group-btn-vertical > .btn {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
            padding: 8px;
            margin-left: -1px;
            position: relative;
            border-radius: 0;
        }

            .input-group-btn-vertical > .btn:first-child {
                border-top-right-radius: 4px;
            }

            .input-group-btn-vertical > .btn:last-child {
                margin-top: -2px;
                border-bottom-right-radius: 4px;
            }

        .input-group-btn-vertical i {
            position: absolute;
            top: 0;
            left: 4px;
        }

    .durationTable {
        border: none;
        margin-left: -8px;
    }

        .durationTable > tbody > tr > td,
        .durationTable > tbody > tr > th,
        .durationTable > tfoot > tr > td,
        .durationTable > tfoot > tr > th,
        .durationTable > thead > tr > td,
        .durationTable > thead > tr > th {
            border: none;
        }

    .durationText {
        padding-left: 0px !important;
    }
</style>




<div class="modal fade" id="ScheduleScanSettingsEditorModal" tabindex="-1" role="dialog" aria-labelledby="ScheduleScanSettingsEditorHeader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="bg-default scheduleScanHelp" style="float: right; margin-top: -7px; margin-right: 5px;">
                    <dcc:Help class="pull-right" ns="workspace_wizard" help="scan_schedule_help" data-placement="bottom" style="margin-left:-14px;" add_key="false"></dcc:Help>
                </p>
                <h4 class="modal-title" id="ScheduleScanSettingsEditorHeader"> [$workspace_wizard:scan_schedule_settings]</h4>
            </div>
            <div class="modal-body" style="-webkit-overflow-scrolling:touch;">
                <div class="form-group">
                    <label class="control-label col-xs-3">[$workspace_wizard:start]</label>
                    <div class='col-xs-9'>
                        <div class="form-group">
                            <div class="input-group" id="datetimepickerStartDate">
                                <input type='text' class="form-control" onkeydown="return false" />
                                <span class="input-group-addon" onclick="dateClicked()">
                                    <span class="glyphicon glyphicon-calendar" title="[$workspace_wizard:Select_time]"></span>
                                </span>
                                <span class="input-group-addon" onclick="timeClicked()">
                                    <span class="glyphicon glyphicon-time" title="[$workspace_wizard:Select_date]"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function timeClicked() {
                            $('#datetimepickerStartDate').datetimepicker('hide');
                            window.setTimeout(function () {
                                $(document).find('.picker-switch a[data-action="togglePicker"]').click();
                            }, 100);
                        }
                        function dateClicked() {
                            $('#datetimepickerStartDate').datetimepicker('hide');
                        }
                        $(function () {
                            $('#datetimepickerStartDate').datetimepicker({
                                locale: window.DeceClientState.GetLanguage(),
                                tooltips: {
                                    today: '[$workspace_wizard:Go_to_today/js]',
                                    clear: '[$workspace_wizard:Clear_selection/js]',
                                    close: '[$workspace_wizard:Close_the_picker/js]',
                                    selectMonth: '[$workspace_wizard:Select_Month/js]',
                                    prevMonth: '[$workspace_wizard:Previous_Month/js]',
                                    nextMonth: '[$workspace_wizard:Next_Month/js]',
                                    selectYear: '[$workspace_wizard:Select_Year/js]',
                                    prevYear: '[$workspace_wizard:Previous_Year/js]',
                                    nextYear: '[$workspace_wizard:Next_Year/js]',
                                    selectDecade: '[$workspace_wizard:Select_Decade/js]',
                                    prevDecade: '[$workspace_wizard:Previous_Decade/js]',
                                    nextDecade: '[$workspace_wizard:Next_Decade/js]',
                                    prevCentury: '[$workspace_wizard:Previous_Century/js]',
                                    nextCentury: '[$workspace_wizard:Next_Century/js]',
                                    incrementHour: '[$workspace_wizard:Increment_Hour/js]',
                                    pickHour: '[$workspace_wizard:Pick_Hour/js]',
                                    decrementHour: '[$workspace_wizard:Decrement_Hour/js]',
                                    incrementMinute: '[$workspace_wizard:Increment_Minute/js]',
                                    pickMinute: '[$workspace_wizard:Pick_Minute/js]',
                                    decrementMinute: '[$workspace_wizard:Decrement_Minute/js]',
                                    incrementSecond: '[$workspace_wizard:Increment_Second/js]',
                                    pickSecond: '[$workspace_wizard:Pick_Second/js]',
                                    decrementSecond: '[$workspace_wizard:Decrement_Second/js]',
                                    selectTime: ''
                                }

                            });
                        });
                    </script>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">[$workspace_wizard:repeat_duration]</label>
                    <div class='col-xs-9'>


                        <table class="table table-responsive durationTable">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group spinner spinnerDays" style="min-width: 65px;">
                                            <input type="text" class="form-control" value="0">
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default spinnerBtn spinnerDaysUp" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default spinnerBtn spinnerDaysDown" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="durationText">
                                        [$workspace_wizard:days]
                                    </td>

                                    <td>
                                        <div class="input-group spinner spinnerHours" style="min-width: 65px;">
                                            <input type="text" class="form-control" value="0">
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default spinnerBtn spinnerHoursUp" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default spinnerBtn spinnerHoursDown" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="durationText">
                                        [$workspace_wizard:hours]
                                    </td>

                                    <td>
                                        <div class="input-group spinner spinnerMinutes" style="min-width: 65px;">
                                            <input type="text" class="form-control" value="0">
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default spinnerBtn spinnerMinutesUp" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default spinnerBtn spinnerMinutesDown" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="durationText">
                                        [$workspace_wizard:minutes]
                                    </td>
                                </tr>

                            </tbody>
                        </table>



                    </div>
                    <label id="rescanInformationId" class="control-label col-xs-13"></label>

                    <script type="text/javascript">
                        function setScanScheduleDate(dt) {
                            setScanInformationText(); //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                            return $('#datetimepickerStartDate').data("DateTimePicker").date(dt);
                        }
                        //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                        
                        function getScanScheduleDateMoment() {
                            var dt = $('#datetimepickerStartDate').data("DateTimePicker").date();
                            return (dt != null) ? dt : moment();
                        }
                        
                        function getScanScheduleDate() {
                            var dt = $('#datetimepickerStartDate').data("DateTimePicker").date();
                            return (dt != null) ? dt.toDate() : new Date(Date.now());
                        }
                        function setScanScheduleDuration(ss) {
                            var d, h, m;
                            if (!ss) {
                                d = 0; h = 0; m = 0;
                            }
                            else {
                                if (ss.Period) {
                                    switch (ss.Period.PeriodType) {//0: Minute, 1: Hour, 2: Day, 3: Week, 4: Month, 5: Quarter, 6: Year
                                        case 6: break;
                                        case 5: break;
                                        case 4: break;
                                        case 3: break;//üsttekileri GUI desteklemiyor - GEODI-4941
                                        case 2:
                                            d = ss.Period.Value;
                                            h = ss.Offset.Hours;
                                            m = ss.Offset.Minutes;
                                            break;
                                        case 1:
                                            d = 0;
                                            h = ss.Period.Value;
                                            m = ss.Offset.Minutes;
                                            break;
                                        case 0:
                                            d = 0;
                                            h = 0;
                                            m = ss.Period.Value;
                                            break;
                                        default:
                                            break;
                                    }
                                }
                                else if (ss.Repeat) {
                                    d = ss.Repeat.Days;
                                    h = ss.Repeat.Hours;
                                    m = ss.Repeat.Minutes;
                                }

                            }
                            //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                            
                            scanTime.days = d;
                            scanTime.hours = h;
                            scanTime.minutes = m;
                            
                            $('.spinnerDays input').val(d ? d : 0);
                            $('.spinnerHours input').val(h ? h : 0);
                            $('.spinnerMinutes input').val(m ? m : 0);
                        }

                        function getScanScheduleDuration() {
                            return {
                                "Days": $('.spinnerDays input').val(),
                                "Hours": $('.spinnerHours input').val(),
                                "Minutes": $('.spinnerMinutes input').val()
                            };
                        }

                        $(".spinner").keypress(function (event) {
                            var controlKeys = [8, 9, 13, 35, 36, 37, 39, 48];
                            var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
                            if (!event.which ||
                                (49 <= event.which && event.which <= 57) ||
                                (48 == event.which && $(this).attr("value")) ||
                                isControlKey) {
                                return;
                            } else {
                                event.preventDefault();
                            }
                        });

                        function setSpin(isIncr, day, hour, min) {
                            if (day) {
                                var el = $('.spinnerDays input');
                                var val = isIncr ? (parseInt(el.val(), 10) + day) : day;
                                if (!val || val < 0 || isNaN(val))
                                    val = 0;
                                scanTime.days = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                el.val(val);
                                scanTime.days = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                setScanInformationText(); //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                            }
                            else if (hour) {
                                var el = $('.spinnerHours input');
                                var val = isIncr ? (parseInt(el.val(), 10) + hour) : hour;
                                if (!val || val < 0 || isNaN(val))
                                    val = 0;
                                if (val > 23) {
                                    val = 0;
                                    scanTime.hours = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                    setSpin(true, 1);
                                }
                                el.val(val);
                                scanTime.hours = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                setScanInformationText(); //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                            }
                            else if (min) {
                                var el = $('.spinnerMinutes input');
                                var val = isIncr ? (parseInt(el.val(), 10) + min) : min;
                                if (!val || val < 0 || isNaN(val))
                                    val = 0;
                                if (val > 59) {
                                    val = 0;
                                    scanTime.minutes = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                    setSpin(true, 0, 1);
                                }
                                el.val(val);
                                scanTime.minutes = val; //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
                                setScanInformationText(); //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi

                            }
                        }

                        (function ($) {
                            $('.spinnerDays').on('input', function (e) {
                                var el = $('.spinnerDays input');
                                setSpin(false, el.val());
                            });
                            $('.spinnerHours').on('input', function (e) {
                                var el = $('.spinnerHours input');
                                setSpin(false, 0, el.val());
                            });
                            $('.spinnerMinutes').on('input', function (e) {
                                var el = $('.spinnerMinutes input');
                                setSpin(false, 0, 0, el.val());
                            });

                            function spinnerClick(e) {
                                var el = $(e[0]);
                                if (el.hasClass('spinnerDaysUp'))
                                    setSpin(true, 1);
                                else if (el.hasClass('spinnerDaysDown'))
                                    setSpin(true, -1);
                                else if (el.hasClass('spinnerHoursUp'))
                                    setSpin(true, 0, 1);
                                else if (el.hasClass('spinnerHoursDown'))
                                    setSpin(true, 0, -1);
                                else if (el.hasClass('spinnerMinutesUp'))
                                    setSpin(true, 0, 0, 5);
                                else if (el.hasClass('spinnerMinutesDown'))
                                    setSpin(true, 0, 0, -5);
                            }

                            var interval;
                            $(".spinnerBtn").mousedown(function () {
                                var el = $(this);

                                window.clearInterval(window._spBtnInterval0);
                                window.clearInterval(window._spBtnInterval1);

                                spinnerClick(el);

                                window._spBtnInterval0 = window.setTimeout(function () {
                                    window.clearInterval(window._spBtnInterval0);
                                    window._spBtnInterval1 = window.setInterval(
                                        function () {
                                            spinnerClick(el);
                                        }, 100);
                                }, 500);
                            }).mouseup(function () {
                                window.clearInterval(window._spBtnInterval0);
                                window.clearInterval(window._spBtnInterval1);
                            });

                        })(jQuery);

                        function resetScheduleScanSettings() {
                            setScanScheduleDate(new Date());
                            setScanScheduleDuration(null);
                        }


                    </script>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default pull-left" onclick="resetScheduleScanSettings();"> [$workspace_wizard:enum_layer_settings_reset]</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> [$default:close]</button>
                <a tabindex="0" class="btn btn-sm btn-primary" onclick="saveScheduleScanSettings();"> [$default:save]</a>
            </div>
        </div>
    </div>
</div>

<div class="checkbox col-sm-offset-2 col-sm-10 ScheduleScanSettings">
    <label class="chkScheduleScanContainer">
        <input id="chkScheduleScan" type="checkbox" onchange="chkScheduleScanChanged()"> <span>[$workspace_wizard:use_scheduled_scan]</span>
    </label>
    <span id="chkScheduleScanSettings" class="chkScheduleScanContainer">
        - <a id="chkScheduleScanSettingsBtn" href="#" onclick="editScheduleScanSettings()" class="btn btn-default btn-xs disabled"> [$default:settings]</a>
    </span>
    <script>
        function key_ScanEnabled() {
            return "Schedule:Enabled:Scan";
        }
        function key_ScanSettings() {
            return "Schedule:Settings:Scan";
        }

        function chkScheduleScanChanged() {
            if ($("#chkScheduleScan").prop('checked'))
                $("#chkScheduleScanSettingsBtn").removeClass('disabled');
            else
                $("#chkScheduleScanSettingsBtn").addClass('disabled');
        }
        function editScheduleScanSettings() {
            if (window._args_GS) {
                init_ScheduleScan();
                $('#ScheduleScanSettingsEditorModal').modal();
            }
        }

        function saveScheduleScanSettings() {
            if (window._args_GS) {
                var ss =
                {
                    "Start": toNetDateString(getScanScheduleDate()),
                    "Repeat": getScanScheduleDuration(),
                    "__type": "Dece.Schedule.ScheduleSettings, Dece.Tools"
                };
                window._args_GS[window.key_ScanSettings()] = ss;
            }
            $('#ScheduleScanSettingsEditorModal').modal('hide');
        }

        function init_ScheduleScan() {
            if (window._args_GS) {
                var ssStr = window._args_GS[window.key_ScanSettings()];
                var scan;
                if (ssStr) {
                    try {
                        if (typeof ssStr == "string")
                            ssStr = JSON.parse()
                        scan = ssStr;
                    } catch (err) {
                        delete scan;
                    }
                }
                if (!scan)
                    scan = {
                        "Start": toNetDateString(getScanScheduleDate()),
                        "Repeat": getScanScheduleDuration()
                    };
                if (!scan["Start"])
                    scan["Start"] = toNetDateString(new Date(Date.now()));
                if (!scan["Repeat"])
                    scan["Repeat"] = {
                        "Days": 0,
                        "Hours": 0,
                        "Minutes": 0
                    };

                setScanScheduleDate(parseNetDate(scan["Start"]));
                //GEODI-4941 setScanScheduleDuration(scan["Repeat"]);
                setScanScheduleDuration(scan);
                setScanInformationText(); //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
            }
        }

        function arrayContains(arr, val) {
            return arr && (arr.indexOf(val) > -1);
        }
        //GEODI-5676 ile eklenecek. Versiyon çıkarmak için commentlendi
        
        var scanTime = { minutes: 0, hours: 0, days: 0 }
        function setScanInformationText(minutes = 0, hours = 0, days = 0) {

            var date = getScanScheduleDateMoment();
            if (scanTime.days != 0) {
                date.set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
                date.add(scanTime.days, 'd');
                date.add(scanTime.hours, 'hours');
                date.add(scanTime.minutes, 'minutes');
            }
            else
                if (scanTime.hours != 0) {
                    if (date.minutes() > scanTime.minutes) {
                        date.add(scanTime.hours, 'hours');
                    }
                }



            var localeData = date.localeData();
            var dateFormat = localeData.longDateFormat('L');
            var hourFormat = localeData.longDateFormat('LT');
            var hours = moment(scanTime.hours + ":" + scanTime.minutes, "HH:mm");
            if (scanTime.days != 0) {

                $("#rescanInformationId").text("[$workspace_wizard:scheduledScanTimeInfoTextWithDay/js]".replace("{0}", date.format(dateFormat)).replace("{1}", date.format(hourFormat)).replace("{2}", scanTime.days));
            }
            else {
                if (scanTime.hours == 0) {
                    date.add(scanTime.minutes, 'minutes');
                    $("#rescanInformationId").text("[$workspace_wizard:scheduledScanTimeInfoTextWithoutDay/js]".replace("{0}", date.format(dateFormat.concat(" ", hourFormat))).replace("{1}", hours.format(hourFormat)));
                }
                else {
                    hours = moment(scanTime.hours + ":" + 0, "HH:mm");
                    date.set({ minute: scanTime.minutes })
                    $("#rescanInformationId").text("[$workspace_wizard:scheduledScanTimeInfoTextWithoutDay/js]".replace("{0}", date.format(dateFormat.concat(" ", hourFormat))).replace("{1}", hours.format(hourFormat)));
                }
            }


        }

        $('#datetimepickerStartDate').on('dp.change', function (e) {
            setScanInformationText();
        });

        $(document.body).on("WebEditorUpdateObject", function (e, arg) {
            if (!$("#chkScheduleScan").prop('checked')) {
                if (arg.obj.GenericSettings)
                    delete arg.obj.GenericSettings[window.key_ScanEnabled()];
            }
            else {
                if (!arg.obj.GenericSettings)
                    arg.obj.GenericSettings = {};
                arg.obj.GenericSettings[window.key_ScanEnabled()] = true;
            }
        });
        $(document.body).on("WebEditorUpdateGUI", function (e, arg) {
            if (!arg.obj.GenericSettings)
                arg.obj.GenericSettings = {};
            window._args_GS = arg.obj.GenericSettings;
            $("#chkScheduleScan").prop('checked', (window._args_GS && window._args_GS[window.key_ScanEnabled()]) ? true : false);
            //init_ScheduleScan();
            chkScheduleScanChanged();
        });
    </script>
</div>