﻿/* Banner*/
.RTLCulture .toggledBody #topArea{padding-left: 0; padding-right: 300px;}
.RTLCulture .scene{left: 0; right: auto}
.RTLCulture .scene .sceneimage{left: 0; right: auto}
.RTLCulture .scene .container-scene{left: 53px}
/* facet */
.RTLCulture ul{padding: 0; }
.RTLCulture .facetCountRPBar{right: auto !important; left: 10px; text-align: left !important;}
.RTLCulture .sidebar-large .sidebar-wrapper {left: 280px;margin-right: 0;}
.RTLCulture .sidebar-wrapper {left: auto;right: 0;width: 0;}
.RTLCulture .facetCountR{position: absolute !important;left: 9px;right: auto !important;}
.RTLCulture .qUpload , .RTLCulture .facetCountT{position: absolute !important;right: 26px;width: 14px;}
.RTLCulture .saveQueryBtn{position: absolute;right: 6px; top:14px;}
.RTLCulture .facetLinkPLine .img-default{margin:0 0 0 3px }
.RTLCulture #facetArea .img-not12 {margin-top: -4px;margin-left: 0 !important;margin-right: -35px;}
.RTLCulture #facetArea .chartArea svg{direction: ltr}
.RTLCulture #facetArea .panel-heading{padding-right: 34px !important;  }
.RTLCulture #facetArea .panel-heading:before{right: 10px; left:auto;}
.RTLCulture #facetArea .checkboxGroup .checkboxGroupExpand{margin-left: 13px;}
.RTLCulture #facetArea .checkboxGroup .checkboxGroupExpand.plus{ transform: rotate(90deg)}
.RTLCulture #facetArea .checkboxGroup .checkboxGroupExpand.negative{ }
.RTLCulture #facetArea .checkbox .cr, .radio .cr{float: right;margin: 1px  0px 0 7px;}
.RTLCulture #facetArea .img-not12{margin-left: auto;margin-right: -12px;}


.RTLCulture .checkbox label{padding-right: 0;}
.RTLCulture #facetArea .panel .panel-body .facetLink.facetLinkPLine.checkboxGroup{padding: 5px 11px 5px 0;}
.RTLCulture #facetArea .showFacetEmptyItemBtn{right: auto; left:32px;}
.RTLCulture .navbar-form #searchArea1 span.twitter-typeahead:before{display: none;}
.RTLCulture .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{box-shadow: none !important; border-radius: 0 !important}
.RTLCulture .toggledBody .navbar .img-sidebarMobil24{background: url('/GUI/img/rightHide16.png') no-repeat center}
.RTLCulture .navbar .img-sidebarMobil24{background: url('/GUI/img/leftHide16.png') no-repeat center}
.RTLCulture .facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){padding-right: 20px !important;}.RTLCulture .checkbox label {padding-right: 0;}

/* Ýçerik alaný */
.RTLCulture  .sidebar-large .sidebar-wrapper{left: auto; right: -300px !important}
.RTLCulture .toggledBody .sidebar-large .sidebar-wrapper{left: auto; right: 0 !important}
.RTLCulture .toggledBody .sidebar-large .page-content-wrapper {position: absolute;margin-right: 0; left:0;}
.RTLCulture .toggled #inRightPanelForDoc{right: 949px;border-right: 1px solid #d8d8d8 !important;border-left: none !important;padding-left: 32px;}
.RTLCulture #inRightPanelForDoc{right: 649PX;left: 0 !important;border: none;}
.RTLCulture .SummaryLinks button , .RTLCulture .SummaryLinks span{margin-left: 17px !important;margin-right: 3px !important;}
.RTLCulture .toggled .page-content-wrapper  #inAdvRightPanel {left: 649px !important;}
.RTLCulture .list-group-item div div:first-child{float: right !important}
.RTLCulture .list-group-item div div:last-child{float: left !important}
.RTLCulture .ItemSelectedForAdvRight {border: 1px solid #ffce2b !important;border-left: 1px solid #FFF !important;position: relative !important;}
.RTLCulture #divMain .inDefaultPanel .ItemSelectedForAdvRight {position: relative !important;}
.RTLCulture .divSummaryLeft {float: right;width: 32px;margin-right: 2px;}
.RTLCulture .tt-dropdown-menu{left: auto !important;right: -20px !important;}


/*dlv*/
.RTLCulture .inAdvRightPanel h3 img{float: right;}
.RTLCulture #divMain .list-item .SummaryLinks .docOpenLink{right: auto; left: 0;}
.RTLCulture .expandButton + div{left: auto !important;right: -295px;}
.isplit{    background-position: center -559px;}
.RTLCulture .dateFilterArea #dateComponent,
.RTLCulture .DLV .dateFilterArea,
.inDefaultPanel{padding:0 0 0 28px  !important}
.RTLCulture #dateSlider_queryDate{margin-left: 10px !important}

/* Modal */
.RTLCulture .jstree-proton .jstree-icon{background-image: url(../img/32px.png) !important;}
.RTLCulture  .headerDocRow div div {float: right;}
/* Header */
.RTLCulture .navbar .img-sidebarMobil24{border-left:1px solid #dadada; border-right: none;}
.RTLCulture #searchArea1 #txtSearchDefault{text-align: right;}
.RTLCulture .toggledBody .navbarArea{padding-left: 0 !important;right: 300px !important;}
.RTLCulture .navbarArea{padding-left: 0; padding-right: 0;}
.RTLCulture .inDefaultPanel .headerDocRow div img {left: auto;right: 50%;position: relative;margin-left: 0;margin-right: -12px;}
.RTLCulture .navbar-collapse{padding: 0} 
.RTLCulture #divMain .pnl-query-item .headerDocRow .docParentArea {padding-right: 15px;text-align: right;}
.RTLCulture .badge{right: auto !important; left: 0}
.RTLCulture #divMain .pnl-query-item .headerDocRow .docParentArea .docparent {text-align: right;}
.RTLCulture #divMain .pnl-query-item .headerDocRow .divPanelTitleText{padding-right: 13px;text-align: right;}
.RTLCulture .navbar .SearchTextBoxArea button{border-left: 1px solid #dfdfdf;border-right: none;}
.RTLCulture  #divMain .pnl-query-item .ThumbContentRef {float: right;margin: 0 0 0 12px;}
.RTLCulture  #divMain .pnl-query-item .ThumbContentRef {float: right;margin: 0 0 0 12px;}
.RTLCulture .navbar .img-sidebarMobil24{}
.RTLCulture .toggledBody .sidebar-large .page-content-wrapper { left: 0 !important;}
@media screen and (max-width: 1368px) {
}
@media screen and (max-width: 991px) {
	.RTLCulture .toggledBody .navbarArea{right: 250px !important;}
	.RTLCulture .toggledBody #topArea {padding-left: 0;padding-right: 240px;}
}
@media screen and (max-width: 768px) {
   .RTLCulture.toggledBody .navbarArea {padding-right:240px !important; padding-left:0 !important;}	
   .RTLCulture .toggledBody #topArea{padding-right: 240px}
}
@media screen and (max-width: 480px) {
   .RTLCulture .navbar-form #searchArea1 span.twitter-typeahead #txtSearchDefault{width: 150px !important;}
}
.RTLCulture .SummaryLinksRight button{background-position-x: right !important;}
/* klv */
.RTLCulture .panel-heading .divPanelTitleText{padding-right: 47px !important;}
.RTLCulture .divSummaryRight {margin-left: 0;border-right: 1px solid lightgray;padding-left: 0;float: right;width: 83%;border-left: 0;padding-right: 6px;}
/* Popover */
.RTLCulture .popover.left{left: 126px !important;}
.RTLCulture .popover.left > .arrow {left: -23px;right: auto;border-left-color: transparent;border-right-color: #ddd;border-right-width: 12px;}
.RTLCulture .popover.left > .arrow:after {border-left-width: 0;border-right-color: #fff;border-right-width: 10px;right: -13px;}
/* Listeleme */
.RTLCulture #divMain .ItemSelectedForAdvRight {border-left:none !important;border-right: 4px solid #4e4e4e!important;}
.RTLCulture  #divMain .pnl-query-item{border-right-width:  4px}

/* klv */
.RTLCulture #divMain .panel .action-menu-container {float: left;}
.RTLCulture #divMain .panel-heading .klv-kw-title .imgPanelTitleIcon{float: right;margin-left: auto;margin-right: 9px;}
.RTLCulture #divMain .panel-heading .divPanelTitleText{left: auto;right: 42px;padding-right: 4px !important;text-align: right;}
/* İçerik Görüntüleyici */
.RTLCulture #mynetwork ,
.RTLCulture .expandButton + div,
.list-group,
.InMapFrameLk{direction: ltr}
/* login*/