﻿.ESBody.DLV .ResultArea {
	margin-left: 10px;
}
.ESBody.DLV.toggledBody .ResultArea {
	margin-left: 15px;
	margin-top: 5px;
}
.inDefaultPanel {
	max-width: 50% !important;
	width: 50% !important;
	display: inline-block;
	padding: 0 !important;
}
.DABody .inDefaultPanel {
	padding: 0 3px 0 0 !important;
	max-width: 620px !important;
	width: 100% !important;
}
#divKwAccordion {
	max-width: 100% !important;
	width: 100% !important;
}
#divDocAccordion {
	border-right: none;
}
.ResultArea, .SingleArea {
	margin: 5px 5px 0;
}
.inDefaultPanel .pnl-query-item {
	margin: 0 0 10px 0 !important;
	float: left;
	width: 100%;
	transition: none !important;
	border: 1px solid #eceff3 !important;
	border-top-width: 4px !important;
    border-radius: 0 0 4px 4px !important;
	box-shadow: none;
}
.pnl-query-item:hover .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item:hover {
	box-shadow: none;
}

.pnl-query-item.ItemSelectedForAdvRight, #divMain .ItemSelectedForAdvRight {
	box-shadow: none;
	border: 1px solid #DDDFE2 !important;
	border-top-width: 4px !important;
}
.pnl-query-item.ItemSelectedForAdvRight .divPanelTitleText .inLink {
	color: #0860b9;
}
.pnl-query-item .SummaryAll {
	font-size: 14px;
	padding: 0;
}
.pnl-query-item .SummaryText {
    padding: 5px 15px 10px 15px;
    line-height: 1.7em;
    color: #616164;
    margin: 0;
    float: left;
    width: 100%;
}
/** **/
.pnl-query-item .headerDocRow {
	position: relative;
    padding: 15px 36px 15px 70px;
    min-height: 62px;
}
.pnl-query-item .headerDocRow .imgContainer {
	background: #f7f8fa;
    position: absolute !important;
    top: 15px;
    left: 15px;
    padding: 9px;
    text-align: center;
    width: 42px;
    height: 42px !important;
    border-radius: 4px;
}
.pnl-query-item .headerDocRow .docParentArea .inLink, .pnl-query-item .headerDocRow small, .pnl-query-item .headerDocRow .docParentArea small[title=Sahip] {
    font-size: 12px !important;
	margin-right: 5px;
}
.pnl-query-item .headerDocRow .docParentArea .inLink:before, .pnl-query-item .headerDocRow small:before {
    content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 4px 1px 0;
	border-radius: 3px;
	background-color: #258ffb;
}
/** **/
.inAdvRightPanel {
    left: 50% !important;
	padding: 20px 25px;
	margin-top: 0;
	margin-left: 10px;
	border-radius: 0 0 4px 4px;
    border: 1px solid #DDDFE2;
    border-top-width: 4px;
	background: #fff;
}
	.toggled .inAdvRightPanel {
		margin-left: 160px;
		left: 50% !important;
	}
.rightActive h4, .rightActive:focus h4, .rightActive:hover h4, .rightActive:visited h4 {
	color: #0860b9;
}
.rightActive, .rightActive:focus, .rightActive:hover, .rightActive:visited {
	color: #0860b9;
}
.rightTabs a.rightActive .badge, #inRightPanelForDoc .rightTabs a.rightActive .badge, #inRightPanelForDoc .rightTabs a:hover .badge {
	font-family: Arial;
    font-size: 11px;
    color: #fff !important;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 0;
	border-color: transparent !important;
	background: #0860b9 !important;
}
.rightTabs a:hover, #inRightPanelForDoc .rightTabs a.rightActive, #inRightPanelForDoc .rightTabs a:hover {
	color: #0860b9;
	border-color: #0860b9;
}
.rightTabs a.rightTabLinked, #inRightPanelForDoc .rightTabs a.rightTabLinked {
	color: #fff;
	padding: 0 10px;
    margin-top: 9px;
    line-height: 24px;
	border-radius: 4px;
	background: #0860b9;
}
#divMain .ItemSelectedForAdvRight:before {
	display: none;	
}
.inAdvRightPanel h3 {
	position: absolute;
    top: 0;
    left: 0;
    padding: 14px 15px 14px 50px;
	margin-top: 0px;
    color: #fff;
	font-size: 18px;
	width: 100%;
	max-width: initial;
	border-radius: 4px 4px 0 0;
}
.inAdvRightPanel h3 img {
	position: absolute;
	left: 10px;
    top: 10px;
	width: 26px;
	
}
.inAdvRightPanel h3 .inLink {
	display: block;
	color: #0860b9;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.inAdvRightPanel .SummaryLinksRight {
	margin-top: 36px;
    padding-left: 0;
}
.pnl-query-item .divPanelTitleText, .pnl-query-item .docParentArea {
	display: inline-block;
	width: 100%;
	padding: 0;
}
.docParentArea {
    margin-top: 10px;
}
.rightTabs a .badge {
	font-family: Arial;
    font-size: 11px;
    color: #fff !important;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 0;
    border-color: transparent !important;
    background: #A8A9AD !important;
}
/* propGrid */
.root {
	overflow-x: auto;
}
.__textclass .propGrid {
	display: table;
	width: 100%;
	min-width: 220px;
	margin: 0px;
}
.__textclass .propGrid .pgRow {
	display: table-row;
}
.__textclass .propGrid .pgCol {
	width: 200px;
	white-space: normal;
	word-break: break-word;
}
.__textclass .propGrid .pgVal {
	
}
.__textclass .propGrid .pgVal, .__textclass .propGrid .pgCol {
	padding: 3px 5px;
}
/** Responsive **/
@media (min-width: 1000px) {
	.toggled .inAdvRightPanel {
		display: block;
	}
}
@media (max-width: 1050px) {
	.inDefaultPanel {
    max-width: 100% !important;
	width: 100% !important;
	}
}
@media (max-width: 991px) {
	.toggled .inDefaultPanel .pnl-query-item {
	width: 100%;
	}
}
@media (max-width: 767px) {
	.inDefaultPanel .pnl-query-item {
		width: 100%;
	}
	.__textclass .propGrid .pgCol {
		width: inherit;
		max-width: 30%;
		min-width: 30%;	
	}
	.__textclass .propGrid .pgVal {
		width:70%;
	}
}