﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui.effects.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap-multiselect/bootstrap-multiselect.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dictionary/BaseScript.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/TableTools/css/dataTables.tableTools.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/bootstrap-multiselect/bootstrap-multiselect.css" />

<div class="container-fluid">

    <div class="form-horizontal">
        <dcc:item factoryname="ResourceControl" src="GUI/Control/DTS.view.html" />

        <div style="margin-top:10px;margin-left:10px">
            <input type="checkbox" id="chkIgnoreImpErrorsForDictionary" /><label style="padding-left:5px;font-weight:normal;" for="chkIgnoreImpErrorsForDictionary">[$GeodiDictionaryEditor:importitems_ignore_errors]</label>
            <br /><br />
            <div class="help-block">
                [$GeodiDictionaryEditor:importitems_ignore_errors_helpblock]
            </div>
          </div>
       </div>

        <!--<button class="btn btn-info" onclick="createUserDictionary()">[$dictionary_wizard:createUserDictionary]</button>-->

        <div class="modal fade" id="geodiDictionaryDisplayNameDialog" tabindex="-1" role="dialog" aria-labelledby="selectOpenFileDialogLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="selectOpenFileDialogLabel">[$dictionary_wizard:dictionary_name]</h4>
                    </div>
                    <div class="modal-body form-horizontal" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" id="geodiDictionaryDisplayName" type="text" placeholder="[$dictionary_wizard:dictionary_name/html]">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-block" style="width:76px" onclick="saveDictionary()" type="button">[$default:ok]</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">




    function createUserDictionary() {
        $('#geodiDictionaryDisplayNameDialog').modal('show');
    }

    function saveDictionary() {
        var displayName = $('#geodiDictionaryDisplayName').val();
        if (!displayName) {
            showMessage('[$dictionary_wizard:dictionary_name_requied/js]', '[$default:error/js]', 'danger');
            return;
        }

        var fileDict = getObject();
        if (fileDict) {
            showWaitDialog('[$default:loading/js]');
            window.currentDictionaryRecognizerBase.CreateGeodiDictionaryObjectFromFileDictionary(fileDict, displayName, function (data, textStatus) {
                if (data) {
                    window.OnAjaxError = function () {
                        hideWaitDialog();
                        window.clearInterval(window.__dcImport);
                        window.OnAjaxError = null;
                    }
                    window.__dcImport = window.setInterval(function () {

                        window.currentDictionaryRecognizerBase.GetCreateGeodiDictionaryObjectFromFileDictionaryStatus(displayName, function (stt, textStatus) {

                            if (!stt) {
                                window.OnAjaxError();
                                return;
                            }

                            if (stt.ExData && stt.ExData["End"]) {
                                window.OnAjaxError();
                                _PSCC.Command({ Command: 'FireWinEvent', EventName: 'DictionaryUpdated', DictionaryID: stt.ExData["ID"] });
                                showMessage(displayName + ' [$default:saved/js].', '[$default:info/js]');
                                return;
                            }

                            $("#modalProgress").text(FormatNumber(stt.TotalPercent.Counters.C1));
                        })
                    }
                    , 1000
                        )

                }

            });
        }

        $('#geodiDictionaryDisplayNameDialog').modal('hide');
    }

    function getObject() {

        if (!window.DefaultDTS.IsReady()) {
            return null;
        }
        window.WebEditorObject.current.Data = window.DefaultDTS.GetDTSOutput();
        if ($('#chkIgnoreImpErrorsForDictionary').prop('checked') && window.WebEditorObject.current.Data)
            window.WebEditorObject.current.Data.IgnoreErrors = true;
        return window.WebEditorObject.current;

    }

    function WebEditorControls()
    {
        this.current = null;
        this.Header = '';
        this.SubmitButtonText = "[$default:save/js]";
        this.SaveOnSubmit = true;

        this.GetHelp = function (xType) {
            return false;
        };
        this.Dispose = function () {
        }

        this.IsValid = function () {
            return true;
        }

        this.GetObject = function () {
            return JSON.stringify(getObject());
        }

        this.SetObject = function (obj) {
            try {
                if (window.parent && window.parent.SupportsFromFileFilter)
                    window.SupportsFromFileFilter = window.parent.SupportsFromFileFilter;
            }
            catch (e) { }

            obj = JSON.parse(obj);

            $('#chkIgnoreImpErrorsForDictionary').prop('checked', (obj && obj.Data && obj.Data.IgnoreErrors) ? true : false);

            this.current = obj;
            //window.DefaultDTS.UpdateGUI(JSON.parse(dtsoutput));
            window.DefaultDTS.Destroy();
            window.DefaultDTS.IsInit = false;
            window.DefaultDTS.tableNameVisible = true;
            window.DefaultDTS.DTSElementsVisible = true;
            window.DefaultDTS.DTSElementsShowPanel = false;

            if (obj.GUIHideFileSelect)
                window.DefaultDTS.DTSShowSelectFile = false;



            //Show DB Select !

            window.DefaultDTS.UpdateGUI(obj.Data);
            window.DefaultDTS.Init(CreateDTSSchema(obj));


        }
    }

    function CreateDTSSchema(obj) {

        var TableSchema = obj.TableSchema;
        var sourceSchema = {
            "ID": TableSchema.ID,
            "DisplayName": TableSchema.DisplayName,
            "Columns": []

        };

        sourceSchema.Columns.push({ "Attributes": { "Required": true, "DefaultColumnNames": ["Keywords", "Anahtar Kelime","Kelime"] }, "ID": "___Keyword", "DisplayName": "[$dictionary_wizard:keyword/js]" })
        if (!obj.GUIHideGeomColumn && TableSchema.IsSpatial)
            sourceSchema.Columns.push({ "Attributes": { "Required": false, "DefaultColumnNames": ["Geometry", "Geometri"] }, "ID": "Geom", "DisplayName": "[$dictionary_wizard:geometry/js]" })
        
        sourceSchema.Columns.push({ "Attributes": { "Required": false, "DefaultColumnNames": ["Group", "Grup"] }, "ID": "___Group", "DisplayName": "[$default:group/js]" })
        sourceSchema.Columns.push({ "Attributes": { "Required": false, "DefaultColumnNames": ["Description", "Açıklama"] }, "ID": "___Detail", "DisplayName": "[$default:description/js]" })

        sourceSchema.Columns.push({ "Attributes": { "Required": false, "MultiSelect": true, "DefaultColumnNames": ["Alternatives", "Eş Anlamlılar", "Eşanlamlılar"] }, "ID": "___Alternatives", "DisplayName": "[$dictionary_wizard:alternatives/js]" })

        if (TableSchema.Columns)
            for (var i = 0; i < TableSchema.Columns.length; i++) {
                var column = TableSchema.Columns[i];
                sourceSchema.Columns.push({ "Attributes": { "Required": false }, "ID": column.ID, "DisplayName": column.DisplayName });
            }

        return sourceSchema;

    }
    window.WebEditorObject = new WebEditorControls();

    var webEditor = new WebEditorControls({ submitButtonText: "[$default:save/js]" });


</script>
