﻿

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jstree/jstree.min.js" />


<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol3-controls.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-controls.css" />


<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />

<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" />

<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jstree/themes/proton/style.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/jstree/themes/default/style.css" />


<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/OpenLayerLabelManager.js" />

<dcc:layoutarea name="GEODI_VIEWER_CADVIEWER_SCRIPT" checkresource="True" targetfolder="GUI/Custom/Viewer/CadViewer/Script" targetmacro='c["geodi"].GetSessionWSName()' datamacro='c["geodi"].GetSessionWS()' />

<dcc:ResourceControl src="GUI/Control/FullSummary.view.html" />

<style>
    html, body {
        margin: 0 !important;
        height: 100%;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }

    #header {
        position: fixed;
        top: 0;
        /*height: 50px;*/
        height: 0px;
        width: 100%;
        z-index: 10000;
        background: #fff;
        -moz-box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
        -webkit-box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
        box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
    }



    .map {
        /*background: url(GUI/img/textured_paper.jpeg) repeat;*/
        width: 100%;
        height: 100%;
    }


    .topbar {
        position: absolute;
        z-index: 5000;
        left: 50px;
        /*top: 58px;*/
        top: 10px;
    }

        .topbar select {
            color: #333;
        }

    .ol-attribution, .ol-attribution li {
        display: none !important;
    }

    .custom-mouse-position {
        bottom: 8px;
        left: 50px;
        position: absolute;
        padding-left: 5px;
        padding-right: 7px;
        text-align: center;
        width: 210px;
        border-radius: 3px;
        /*font-weight:bold;*/
        background-color: white;
        color: #333;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE 5-7 */
        -moz-opacity: 0.7; /* Netscape */
        -khtml-opacity: 0.7; /* Safari 1.x */
        opacity: 0.7;
    }

    #info {
        position: absolute;
        height: 1px;
        width: 1px;
        z-index: 100;
    }

    #mapslider {
        position: absolute;
        height: 36px;
        width: 36px;
        z-index: 100;
        bottom: 0px;
        right: 0px;
        user-select: none;
        cursor: w-resize;
    }

    .upslider {
    }

    .upslider-passive {
        filter: invert(0.8);
    }

    .tooltip.in {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: white;
    }

    .tooltip-inner {
        border: 2px solid white;
    }

    .toggle-addMark {
        top: 100px;
        left: .5em;
    }

    .ol-touch .toggle-addMark {
        top: 80px;
    }

    .toggleActive {
        background: #ff9900 !important;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .jstree-node span {
        padding-left: 2px;
        text-transform: lowercase;
    }

    #divwmsDocTree .jstree-themeicon-custom {
        background-size: contain !important;
    }

    div.ol-rotate {
        position: absolute !important;
        float: left !important;
        left: 8px !important;
        width: 27px !important;
        top: 96px !important;
    }

    #map .tooltip {
        white-space: normal; 
        word-break: break-word;
    }

    .secTooltip {
        position: absolute;
        white-space: nowrap;
        display: none;
        background: rgb(255, 255, 255);
        border: 1px solid #000000;
        padding: 5px;
        z-index: 1000;
        color: #000000;
    }

</style>

<dcc:item factoryname="StateForm" />
<!--<div id="header">SORGU ALANI</div>-->



<div class="map" id="map">
    <div id="info"></div>
    <div id="mapslider" title="[$docViewer:VerCompareTool]" class="upslider-passive img-split32">&nbsp;</div>
    <div class="dummyEl" style="display:none"></div>
    <span class="secTooltip"></span>
</div>



<script>

    function subslide(target, parent, onchange) {
        var that = this;
        target.hide();
        that.isEnable = false;
        that.enablecounter = 0;
        this.enable = function (disablecounter) {
            if (!disablecounter)
                that.enablecounter++;
            if (!that.isEnable) {
                that.isEnable = true; target.fadeIn();
                if (window.settingsLayer)
                    window.settingsLayer.parent().fadeIn();
                onchange();
            }
        }
        this.disable = function (disablecounter) {
            if (!disablecounter) {
                that.enablecounter--;
                if (that.enablecounter < 0) that.enablecounter = 0;
                if (that.enablecounter != 0) return;
            }
            if (that.isEnable) {
                that.isEnable = false; target.fadeOut();
                if (window.settingsLayer)
                    window.settingsLayer.parent().fadeOut();
                onchange();
            }
        }
        $(window).resize(function () {
            if (that.percentpos) {
                var tw = $(target).width();
                var pw = $(parent).width();
                var npos = that.percentpos * pw;
                npos = pw - npos;
                console.log(that.percentpos + " - " + npos);
                target.css("right", npos + "px");
            }
        })
        target.on("touchstart", function (e) {
            if (e.originalEvent && e.originalEvent.targetTouches && e.originalEvent.targetTouches.length == 1)
                that.ms_start(e.originalEvent.targetTouches[0].clientX);
        });
        target.on("mousedown", function (e) {
            that.ms_start(e.pageX);
        });

        $(document.body).on("touchmove", function (e) {
            if (e.originalEvent && e.originalEvent.targetTouches && e.originalEvent.targetTouches.length == 1)
                that.ms_move(e.originalEvent.targetTouches[0].clientX);
            else
                that.started = false;
        });
        $(document.body).on("mousemove", function (e) {
            if (that.started) {
                if (!e.buttons) that.started = false;
                that.ms_move(e.pageX);
            }
        });

        $(document.body).on("touchend", function (e) { that.started = false; });
        $(document.body).on("mouseup", function (e) { that.started = false; });

        this.ms_start = function (pos) {
            var dpos = target.position();
            that.startdiff = dpos.left - pos;
            that.started = true;
        }

        this.ms_move = function (pos) {
            if (that.started) {
                var tw = $(target).width();
                var npos = pos + that.startdiff + tw;
                var pw = $(parent).width();
                if (npos < tw) npos = tw;
                if (npos > pw) npos = pw;
                that.percentpos = npos / pw;
                npos = pw - npos;
                target.css("right", npos + "px");
                if (that.percentpos != 1)
                    target.removeClass("upslider-passive").addClass("upslider")
                else
                    target.removeClass("upslider").addClass("upslider-passive")


                onchange();
            }
        }
    }
    var mpslider = new subslide($("#mapslider"), $("#map"), function () { if (window.map) window.map.render(); });

</script>

<script>
    window.__currentBlend = 'source-over';
    function setBlendMode(val) {
        window.__currentBlend = val;
        window.map.render();
    }
    function opacAll(obj, e) {
        var newop = parseInt($(obj).val()) / 100.0;

        var layers = window.map.getLayers();
        if (layers) {
            var layers = layers.getArray();
            for (var i = 0; i < layers.length; i++)

                if (layers[i] != window.wmsLayer &&
                    layers[i] != window.vectorL &&
                    layers[i] != window.vectorLMarks)
                    layers[i].setOpacity(newop);
        }

        window.map.render();
        CancelEvent(e);
    }

    function onPrecomposeRoot(evt) {
        if (mpslider.percentpos && mpslider.percentpos != 1 && mpslider.isEnable) {
            var ctx = evt.context;
            var width = ctx.canvas.width * mpslider.percentpos;
            width -= 18;
            ctx.save();
            ctx._saved = true;
            ctx.beginPath();
            ctx.rect(0, 0, width, ctx.canvas.height);
            ctx.clip();
        }
        evt.context.globalCompositeOperation = window.__currentBlend;
    }
    function setBlendModeFromSelect(evt) {
        if (mpslider.percentpos && mpslider.percentpos != 1 && mpslider.isEnable) {
            var ctx = evt.context;
            var width = ctx.canvas.width * mpslider.percentpos;
            width -= 18;
            ctx.save();
            ctx._saved = true;
            ctx.beginPath();
            ctx.rect(width, 0, ctx.canvas.width - width, ctx.canvas.height);
            ctx.clip();
        }
        evt.context.globalCompositeOperation = window.__currentBlend;
    }

    function greyscale(context) {
        var canvas = context.canvas;
        var width = canvas.width;
        var height = canvas.height;
        var imageData = context.getImageData(0, 0, width, height);
        var data = imageData.data;
        for (i = 0; i < data.length; i += 4) {
            var r = data[i];
            var g = data[i + 1];
            var b = data[i + 2];
            // CIE luminance for the RGB
            var v = 0.2126 * r + 0.7152 * g + 0.0722 * b;
            // Show white color instead of black color while loading new tiles:
            if (v === 0.0)
                v = 255.0;
            data[i + 0] = v; // Red
            data[i + 1] = v; // Green
            data[i + 2] = v; // Blue
            //data[i + 3] = 255; // Alpha
        }
        context.putImageData(imageData, 0, 0);
    }


    function resetBlendModeFromSelect(evt) {

        if (window._gryscl)
            greyscale(evt.context);

        var ctx = evt.context;
        if (ctx._saved) {
            ctx.restore();
            ctx._saved = false;
        }
        evt.context.globalCompositeOperation = 'source-over';
    };




    function appendWMSDoc(docid, setVisible, e) {
        if (window.disableAppendWMSDoc)
            return;
        window.disableAppendWMSDoc = true;
        $("._chkDocFor" + docid).prop("checked", setVisible);
        window.disableAppendWMSDoc = false;

        if (!window.selWmsFiles)
            window.selWmsFiles = {};


        //event ??
        if (!setVisible) {
            if (window.selWmsFiles[docid]) {
                window.selWmsFiles[docid].setVisible(false);
                mpslider.disable();
                return;
            }
        }


        if (window.selWmsFiles[docid]) {
            window.selWmsFiles[docid].setVisible(true);
            mpslider.enable();
        }
        else {
            if (!window.selWmsFilesLoading) window.selWmsFilesLoading = {};

            if (window.selWmsFilesLoading[docid])
                return;
            //loading
            window.selWmsFilesLoading[docid] = true;
            

            $.post(window.handlerName + '?op=GetSourceForWMS',
                {
                    'contentId': docid,
                    'wsName': StateForm.GetState('wsName')
                },

                function (sourceData) {
                    if (!sourceData) {
                        window.selWmsFiles[docid] = { setVisible: function () { } };
                        return;
                    }
                    var source = sourceData.SourceDataString;

                    if (window.selWmsFiles[docid])
                        return;

                    var flWmsSource = new ol.source.TileWMS({
                        url: './' + sourceData.HandlerName + '?', //other handler name !
                        params: __GetParams(source, true), //add source!!
                        tilePixelRatio: hiDPI ? 2 : 1,
                        serverType: 'geoserver',
                        wrapX: false
                    });

                    var flWmsLayer = new ol.layer.Tile({
                        style: 'WmsLayer',
                        opacity: parseInt($("#opacVal").val()) / 100.0,
                        source: flWmsSource,
                    });

                    window.selWmsFiles[docid] = flWmsLayer;

                    flWmsLayer.on('precompose', setBlendModeFromSelect);
                    flWmsLayer.on('postcompose', resetBlendModeFromSelect);

                    var lvis=$("._chkDocFor" + docid).prop("checked");
                    if(!lvis)
                        flWmsLayer.setVisible(false);

                    window.map.addLayer(flWmsLayer);


                    if (lvis)
                        mpslider.enable();

                }, 'json');

        }
    }




    function DefaultSimilartyRendererUpdater(rOptions) {
        if (!window.isDesktopOpenWith && window.StateForm && window.StateForm.GetState("support_get_source")) {
            rOptions.IconBefore = function (id, data) {
                var chkd = (window.selWmsFiles && window.selWmsFiles[id] && window.selWmsFiles[id].getVisible()) ? "checked" : "";
                return "<input type=checkbox " + chkd + " class='_chkDocFor" + id + "' onclick='event.stopPropagation();' style='float:left;' onchange='appendWMSDoc(" + id + ",$(this).prop(\"checked\"),event)' >";
            }
        }
    }

    function appendRelatedDocumentsFirst() {
        if (window.isDesktopOpenWith || !StateForm.GetState("support_get_source"))
            return;




        window.wmsDocPanel = CreatePanelForViewer("[$docViewer:tab_intersects/js]");
        window.wmsDocPanel.parent().hide();


        $(".panel-heading", window.wmsDocPanel.parent()).append('<span class="panel-title pull-right img-query img-button24" onclick="queryFilterforIntersects(this, event)" title="[$query:page_title/js]"></span>');


        window.wmsDocPanel.addClass("viewerRightPanel");

        window.settingsLayer = CreatePanelForViewer("[$default:settings/js]");
        window.settingsLayer.parent().hide();


        var crtFe = function (hide, label, html) {
            return '<div class="form-group" ' + (hide ? 'style="display:none"' : '') + '>' +
                '<label class="control-label col-xs-4">' + label + '</label>' +
                '<div class="col-xs-7">' +
                html +
                '</div>' +
                '</div>';
        }
        var rFilterMenu = '<select class="form-control" onchange=setBlendMode(this.value)>';
        var bModes = ["source-over", "source-in", "source-out", "source-atop", "destination-over", "destination-in", "destination-out",
                    "destination-atop", "lighter", "copy", "xor", "multiply", "screen", "overlay", "darken", "lighten", "color-dodge", "color-burn",
                    "hard-light", "soft-light", "difference", "exclusion", "hue", "saturation", "color", "luminosity"];
        $.each(bModes, function (a, d) {
            rFilterMenu += '<option>' + d + '</option>';
        })
        rFilterMenu += '</select>';
        rFilterMenu = crtFe(false, "[$map:blend_mode/js]", rFilterMenu);

        window.settingsLayer.append(
            '<div class=form-horizontal style="padding-bottom:10px">' +
            crtFe(false, "[$map:opacity/js]", '<input class="form-control" type="range" style="color:#666;padding-left:1px;padding-right:1px;" value="100" min="0" max="100" onchange="opacAll(this,event)" id=opacVal>') +
            rFilterMenu +
            crtFe(false, "[$map:greyscale/js]", '<input type="checkbox" onchange="window._gryscl=$(this).prop(\'checked\');window.map.render();" >') +


            '</div>'

            );


    }

    window.__andIntersectQuery = null;
    function queryFilterforIntersects(btn, e) {
        CancelEvent(e);
        var q1 = window.__andIntersectQuery ? window.__andIntersectQuery : "";
        showMessage("<input type=text class='form-control input-xs' onkeypress='if (event.keyCode == 13) appendRelatedDocuments(true)' id=qforIntersects value='" + (HttpUtility.ScriptEncode(HttpUtility.HtmlEncode(q1))) + "'>", "[$query:page_title/js]", null, null, null, true,
            function (cmd) {
                if (cmd == "ok")
                    appendRelatedDocuments(true);
            }, function () { $("#qforIntersects").focus() }, "qFilterForIntersectModal"
            );
    }

    function appendRelatedDocuments(updateq) {
        if (window.isDesktopOpenWith || !StateForm.GetState("support_get_source"))
            return;
        if (updateq) {
            $('#qFilterForIntersectModal').modal('hide');
            window.__andIntersectQuery = $("#qforIntersects").val();
            $(window.wmsDocPanel).empty();
        }

        var q1 = 'doc:viewer:WMS -docid:' + window.currentContent.ID + ' Layer:Default_BoundaryRecognizer intersects:(Layer:Default_BoundaryRecognizer docid:' + window.currentContent.ID + ' filter:Layer:Default_BoundaryRecognizer)';
        if (window.__andIntersectQuery) q1 = "(" + q1 + ") and (" + window.__andIntersectQuery + ")";

        _RenderSubQuery(
            q1,
            window.wmsDocPanel,
            window.wmsDocPanel.parent(), 0,
            function (o) {
                o.Query.EndIndex = 100;
            }
            );


    }

</script>
<script>

    window.SourceName = StateForm.GetState("source");
    window.handlerName = StateForm.GetState("handlerName");

    String.prototype.hashCode = function () {
        var hash = 0, i, chr, len;
        if (this.length == 0) return hash;
        for (i = 0, len = this.length; i < len; i++) {
            chr = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    };

    function GetRandom() {
        return (new Date().toLocaleString() + HttpUtility.GetVersionCode() + Math.random()).hashCode();
    }

    function hideShowAllLayer(obj, e) {
        e.stopPropagation();
        obj = $(obj);
        obj.toggleClass('img-visible24 img-invisible24');
        var nwVal = obj.hasClass('img-visible24');

        if (nwVal)
            $("#divLayerTree").jstree(true).select_all();
        else

            $("#divLayerTree").jstree(true).deselect_all();


        obj.attr('title', nwVal ? '[$default:hide/js]' : '[$default:show/js]');
        for (var i = 0; i < inLyrList.length; i++)
            inLyrList[i].VisibleOnMap = nwVal;
        window.clearTimeout(window._tmMapRefresh);
        window._tmMapRefresh = window.setTimeout(function () { wmsSource.updateParams(__GetParams()); }, 500);
    }

    function appendLayersTo() {
        $("#sidebar-wrapper").show();
        $(".slide_togler").show();

        window.layersPanel = CreatePanelForViewer("[$default:layers/js]");

        $(".panel-heading", window.layersPanel.parent()).append('<span class="panel-title pull-right img-visible24 img-button24" onclick="hideShowAllLayer(this, event)" title="[$default:hide/js/html]"></span>');



        window.layersPanel.append('<div id="divLayerTree" style="overflow-y:auto;max-height:400px" class="proton-demo"></div>')


        //tree state
        var items = [];

        for (var i = 0; i < inLyrList.length; i++) {
            var lyr = inLyrList[i];
            if (lyr.ShowOnClient) {
                var node = {
                    'text': '<span layerid="' + i + '">' + lyr.DisplayName + '</span>',
                    'icon': lyr.IconName ? HttpUtility.ResolveUrl(lyr.IconName, false) : lyr.IconName,
                    'id': i,
                    'data': { idx: i },
                    'state': { 'selected': lyr.VisibleOnMap },

                };
                items.push(node);
            }
        }

        var treeObj = {
            core: {
                data: items,
                'themes': { 'name': 'proton', 'responsive': true }
            },
            "plugins": ["checkbox"],

        };


        $("#divLayerTree").jstree(treeObj).on('changed.jstree', function (e, data) {
            if (data.action == 'deselect_node') {
                inLyrList[data.node.data.idx].VisibleOnMap = false;

                window.clearTimeout(window._tmMapRefresh);
                window._tmMapRefresh = window.setTimeout(function () { wmsSource.updateParams(__GetParams()); }, 500);
            } else if (data.action == 'select_node') {
                inLyrList[data.node.data.idx].VisibleOnMap = true;
                window.clearTimeout(window._tmMapRefresh);
                window._tmMapRefresh = window.setTimeout(function () { wmsSource.updateParams(__GetParams()); }, 500);
            }

        });

    }


    function __GetParams(forcedSource, noBg) {
        var rtn = { 'LAYERS': 'Geodi', 'source': (forcedSource ? forcedSource : window.SourceName), 'Rnd': GetRandom(), 'op': 'WMS' }; // , 'CRS': 'EPSG:4326' //Rnd sürekli gelmemeli.
        if (!noBg) {
            var wmsbgcolor = StateForm.GetState("wmsbgcolor")
            if (wmsbgcolor) {
                rtn["BGCOLOR"] = wmsbgcolor;
                rtn["TRANSPARENT"] = "FALSE";
            }
        }
        if (!forcedSource && window.inLyrList) {
            var vals = [];
            var val = 0;
            var pad = "0000";
            var strVal = "";
            for (var i = 0; i < inLyrList.length; i++) {
                if (i != 0 && i % 16 == 0) {

                    strVal = val.toString(16);
                    strVal = pad.substring(0, pad.length - strVal.length) + strVal;
                    vals.push(strVal);
                    val = 0;
                }
                if (inLyrList[i].VisibleOnMap) {
                    val = val | (1 << (i % 16));
                }
            }
            strVal = val.toString(16);
            strVal = pad.substring(0, pad.length - strVal.length) + strVal;
            vals.push(strVal);

            rtn.VisibleLayerIndex = vals.join('');
        }
        return rtn;
    }




    function StartMap(extentData) {

        appendRelatedDocumentsFirst();
        if (StateForm.GetState("outLayers")) {

            $.post(window.handlerName + '?op=GetLayers', { 'source': window.SourceName }, function (data, textStatus) {
                window.inLyrList = data;
                appendLayersTo();
                StartMapLevel2(extentData);
            }, 'json');
        }
        else {

            window.inLyrList = StateForm.GetState("inLayers");
            if (window.inLyrList) {
                window.inLyrList = JSON.parse(inLyrList);
                appendLayersTo();
            }
            StartMapLevel2(extentData);
        }
    }

    window.fitExtentFnc = function (view, bbox, mapSize) {
        if (view.fitExtent)
            view.fitExtent(bbox, mapSize);
        else {
            view.fit(bbox, { size: mapSize });
            var z = view.getZoom();
            if (z > 0)
                view.setZoom(z - 1);
        }
    }

    function StartMapLevel2(extentData) {
        if (window.HideWait) HideWait();

        window.appendRelatedDocuments();


        window.hiDPI = ol.has.DEVICE_PIXEL_RATIO > 1;
        ol.has.DEVICE_PIXEL_RATIO = window.hiDPI ? 2 : 1;
        window.wmsSource = new ol.source.TileWMS({
            url: './' + window.handlerName + '?',
            //urls:[
            //  HttpUtility.ResolveUrl("~/" + window.handlerName + '?', false, true).replace("http://", "http://server1."),
            //  HttpUtility.ResolveUrl("~/" + window.handlerName + '?', false, true).replace("http://", "http://server2."),
            //  HttpUtility.ResolveUrl("~/" + window.handlerName + '?', false, true).replace("http://", "http://server3."),
            //    HttpUtility.ResolveUrl("~/" + window.handlerName + '?', false, true).replace("http://", "http://server4.")
            //],
            params: __GetParams(),
            tilePixelRatio: hiDPI ? 2 : 1,
            serverType: 'geoserver',
            wrapX: false
        });


        window.wmsLayer = new ol.layer.Tile({
            style: 'WmsLayer',
            source: wmsSource,
        });


        window.vSource = new ol.source.Vector({ wrapX: false });
        window.vectorL = new ol.layer.Vector({
            source: window.vSource,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 3
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });

        window.vSourceMarks = new ol.source.Vector({ wrapX: false });
        window.vectorLMarks = new ol.layer.Vector({
            source: window.vSourceMarks,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 3
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });

        wmsLayer.on('precompose', onPrecomposeRoot);
        wmsLayer.on('postcompose', resetBlendModeFromSelect);

        window.layers = [
            wmsLayer,
            vectorL,
            vectorLMarks
        ];





        window.customProj = StateForm.GetState("projection");

        if (customProj && !ol.proj.get(customProj))
            customProj = new ol.proj.Projection({ code: customProj, units: 'm' });
        if (!customProj)
            customProj = "EPSG:3857";

        window.view = new ol.View({
            center: [-10997148, 4569099],
            zoom: 4,
            // GEODI-4076
            //enableRotation: false,
            projection: customProj
            //extent: eval(StateForm.GetState("source_limit"))
        });


        window.map = new ol.Map({
            layers: layers,
            target: 'map',
            view: view
        });



        window.OpenLayerLabelManager.AppendMapEvents(map);

        window.mousePositionControl = new ol.control.MousePosition({
            coordinateFormat: ol.coordinate.createStringXY(4),
            //projection: param_proj,
            className: 'custom-mouse-position',
            //  target: document.getElementById('mouse-position'),
            undefinedHTML: '&nbsp;'
        });
        if (!window.BrowserType.IsMobile()) {
            window.map.addControl(mousePositionControl);
        }


        var extStr = StateForm.GetState("source_bbox");
        var ext2 = null;
        if (extentData) {
            var extLimit = eval(extentData);
            ext2 = extStr ? eval(extStr) : extLimit;
        }
        else if (extStr)
            ext2 = eval(extStr);
        if (ext2)
            fitExtentFnc(view, ext2, window.map.getSize());


        if (extLimit) {
            window._extLimit = extLimit;
            window.map.addControl(new ol.control.ZoomToExtent({
                extent: extLimit
            }));
        }

        $('.ol-zoom-extent button').html('<i class="fa fa-arrows-alt" style="margin-top:1px;"></i>');
        $('.ol-zoom-in').attr('title', '[$map:zoom_in/js]');
        $('.ol-zoom-out').attr('title', '[$map:zoom_out/js]');
        $('.ol-zoom-extent button').attr('title', '[$map:fit_to_extent/js]');

        initContextMenuForMap(window.view, window.map);

        window.OpenLayerLabelManager.ActivateLabel();
        if (window.currentSectionInfo && window.isNoteSection)//
            ___GotoSection(window.currentSectionInfo, true, true);//
        else 
            ___GotoSection(window.currentSectionInfo, false, true);//

        
        $(document.body).trigger("CAD_MAP_Ready");
    }

    $(window).ready(function () {
        if (window.ShowWait) ShowWait();
        var extStrLimit = StateForm.GetState("source_limit");//sunucuda yazılmıyor
        if (extStrLimit)
            StartMap(extStrLimit);
        else {
            $.post(window.handlerName + '?op=GetExtents', { 'source': window.SourceName }, function (data, textStatus) {
                StartMap(data);
            }, 'json');
        }

        if (StateForm.GetState("disableSearch"))
            $("#layoutSearchDiv").hide();        
    });
    


    function OnSummaryTextValide(text, data) {
        if (data.KeywordSection && data.KeywordSection.Attributes.MinX != undefined)
            return text + " * ";
        return text;
    }
    function OnLabelClick(label) {
        ___GotoSection(label.LabelSection, true);
    }
    function OnSummaryClick(data, alldata, kwItem) {
        ___GotoSection(data.KeywordSection);
    }    
    function getCenterOfExtent(Extent) {
        var X = Extent[0] + (Extent[2] - Extent[0]) / 2;
        var Y = Extent[1] + (Extent[3] - Extent[1]) / 2;
        return [X, Y];
    }





    //**GEODI-4923
    function gotoCurSecDelayed() {
        if (window._gotoCurSecDelayedTM) {
            window.clearTimeout(window._gotoCurSecDelayedTM);
            delete window._gotoCurSecDelayedTM;
        }
        window._gotoCurSecDelayedTM = window.setTimeout(function () {
            if (window.currentSectionInfo)
                ___GotoSection(window.currentSectionInfo, "");
        }, 1000);
    }
    function ___AddSection(section, text, __testLevel) {
        //gotoCurSecDelayed();
        var s;
        if (isDefaultName && !isDefaultName(text)) {
            if (!window._s_secRectDef) {
                window._s_secRectDef = new ol.source.Vector({});
                var vectorLineLayer = new ol.layer.Vector({
                    source: window._s_secRectDef,

                    style: new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            width: 2, color: '#ffd800',
                            lineDash: [1.5, 4]
                        }),
                        zIndex: 4
                    })

                });
                window.map.addLayer(vectorLineLayer);
            }
            s = window._s_secRectDef
        }
        else {
            if (!window._s_secRect) {
                window._s_secRect = new ol.source.Vector({});
                var vectorLineLayer = new ol.layer.Vector({
                    source: window._s_secRect,

                    style: new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            width: 2, color: '#ffffff',
                            lineDash: [1.5, 4]
                        }),
                        zIndex: 4
                    })

                });
                window.map.addLayer(vectorLineLayer);
            }
            s = window._s_secRect
        }

        var att = GetAttrBBox(section.Attributes);
        var extent = [att.minX, att.minY, att.maxX, att.maxY];
        var featureLine = new ol.Feature({
            geometry: ol.geom.Polygon.fromExtent(extent)
        });
        featureLine.PopupText = text;
        featureLine.El = $("<p />", { text: "" }).appendTo(".dummyEl");
        s.addFeature(featureLine);

        if (!window.pointermoveHandled) {
            window.pointermoveHandled = true;

            window.map.on(['click'], function (evt) {
                var fe = this.forEachFeatureAtPixel(window._lastPx, function (feature, layer) {
                    if (feature.PopupText)
                        return feature;
                });
                if (fe) {
                    fe.El.trigger('click');
                }
            });

            window.map.on(['pointermove'], function (evt) {
                window._lastPx = evt.pixel;
                var fe = this.forEachFeatureAtPixel(window._lastPx, function (feature, layer) {
                    if (feature.PopupText) {
                        return feature;
                    }
                });

                $('#map').css("cursor", (fe ? "pointer" : ""));
                if (fe) {
                    if (!window._s_HighlightedRect) {
                        window._s_HighlightedRect = new ol.source.Vector({});
                        var vectorLineLayer = new ol.layer.Vector({
                            source: window._s_HighlightedRect,

                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    width: 4, color: '#ffd800'
                                }),
                                zIndex: 10
                            })

                        });
                        window.map.addLayer(vectorLineLayer);
                    }
                    else if (window._feHi)
                        window._s_HighlightedRect.removeFeature(window._feHi);
                    window._feHi = fe.clone();
                    window._s_HighlightedRect.addFeature(window._feHi);



                    window.clearTimeout(window._intrMapCur);
                    window._intrMapCur = window.setTimeout(function () {
                        var arr = window.map.getFeaturesAtPixel(window._lastPx);
                        if (arr && arr.length) {
                            for (var i = 0; i < arr.length; i++) {
                                var fe = arr[i];
                                if (fe && fe.PopupText) {
                                    if (window._secTooltipShown != fe.PopupText) {
                                        var wasShown = window._secTooltipShown;
                                        window._secTooltipShown = fe.PopupText;

                                        var tt = $(".secTooltip");
                                        tt.html(fe.PopupText);
                                        tt.css({ top: window._lastPx[1], left: window._lastPx[0] + 15 });
                                        if (!wasShown)
                                            tt.fadeIn();
                                    }
                                    break;
                                }
                            }
                        }
                        else if (window._secTooltipShown) {
                            delete window._secTooltipShown;
                            $(".secTooltip").fadeOut();
                        }
                    }, 200);
                }
                else {
                    if (window._feHi) {
                        window._s_HighlightedRect.removeFeature(window._feHi);
                        delete window._feHi;
                    }

                    if (window._secTooltipShown) {
                        delete window._secTooltipShown;
                        $(".secTooltip").fadeOut();
                    }
                }
            });
        }

        return featureLine.El;
    }
    function ___GotoSection(section, isLabel, forceZoom) {
        //debugger;
        if (!isLabel)
            window.vSource.clear();
        var att = null;
        if (section && section.Attributes.MinX != undefined) {
            att = section.Attributes;
        }
        else if (isLabel==true && section && section.Attributes.minX != undefined) { /*Old StyleNote GEODI-5066*/
            att = {
                MinX: section.Attributes.minX, MaxX: section.Attributes.maxX, MinY: section.Attributes.minY, MaxY: section.Attributes.maxY
            };
        }
        if (att) {
            var minX = att.MinX;
            var minY = att.MinY;
            var maxX = att.MaxX;
            var maxY = att.MaxY;
            var extent = [minX, minY, maxX, maxY];
            if (extent) {
                if (!isLabel) {
                    var geometry = ol.geom.Polygon.fromExtent(extent);
                    var feature = new ol.Feature({ geometry: geometry });
                    window.vSource.addFeature(feature);
                    fitExtentFnc(view, extent, window.map.getSize())
                }
                else {
                    view.setCenter(extent);
                    if (forceZoom)
                        view.setZoom(view.getMaxZoom() - 12);
                }
                return;
            }
        }
        //fitExtentFnc(view, window._extLimit, window.map.getSize());


        //GEODI-4923
        if (section && section.Attributes.minX != undefined) {
            if (!window._s_secRectF) {
                window._s_secRectF = new ol.source.Vector({});
                var vectorLineLayer = new ol.layer.Vector({
                    source: window._s_secRectF,

                    style: new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            width: 3, color: 'red'
                        }),
                        zIndex: 5
                    })
                });
                window.map.addLayer(vectorLineLayer);
            }
            var att = GetAttrBBox(section.Attributes);
            var extent = [att.minX, att.minY, att.maxX, att.maxY];
            var featureLine = new ol.Feature({
                geometry: ol.geom.Polygon.fromExtent(extent)
            });
            featureLine.El = $("<p />", { text: "" }).appendTo(".dummyEl");
            if (window._lastSectRectF)
                window._s_secRectF.removeFeature(window._lastSectRectF);
            window._lastSectRectF = featureLine;
            window._s_secRectF.addFeature(featureLine);

            var mX = Math.abs(att.maxX - att.minX) * 0.5;
            var mY = Math.abs(att.maxY - att.minY) * 0.5;
            var extent1 = [att.minX - mX, att.minY - mY, att.maxX + mX, att.maxY + mY];
            view.fit(extent1, { duration: 1500, easing: ol.easing.easeOut });

            return $(".dummyEl");
        }
    }
    function GetAttrBBox(attr) {
        var zoomData = {
            normWidth: window._extLimit[2],
            normHeight: window._extLimit[3]
        }
        var val = {
            minX: (attr.minX / 100000) * zoomData.normWidth,
            maxY: zoomData.normHeight - (attr.minY / 100000) * zoomData.normHeight,
            maxX: (attr.maxX / 100000) * zoomData.normWidth,
            minY: zoomData.normHeight - (attr.maxY / 100000) * zoomData.normHeight
        };
        return val;
    }
    
    var orig_toggleInfoPanel = toggleInfoPanel;
    toggleInfoPanel = function (str) {
        try {
            if (orig_toggleInfoPanel)
                orig_toggleInfoPanel(str);
        }
        finally {
            window.map.updateSize();
        }
    }
    //**

</script>
