﻿        <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui.effects.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/media/js/jquery.dataTables.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/extensions/TableTools/js/dataTables.tableTools.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
    <dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/TableTools/css/dataTables.tableTools.css" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.css" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
    

    <style>

        .dataTables_scrollHeadInner table {
            height:22px !important;
        }
        .gridTableContainer td {
            white-space:nowrap;
        }

        #tooltipArea{
            background:#000;
            color:#fff;
            padding:5px;
            position:absolute;
            display:none;
            z-index:9999;
            border-radius: 4px;
        }

        #btnAddLabel {
            display: none;/*dsb*/
        }

    </style>

    <dcc:item factoryname="StateForm" />
    <div id="tooltipArea" class="FixedToolTip" onmouseover="showTooltip(this,true)" onmouseleave="showTooltip(this,true)"></div>
    <div id="tableArea" class="form-group">
        <div class="col-sm-12" id="gridTableContainer">
            <table id="mainTable" class="display table table-striped table-bordered" cellspacing="0" width="100%" height="300px">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>

        /*Disable
        function CreateLabelForPoint(x1, y1) {
            var x = x1, y = y1;
            var elementMouseIsOver = document.elementFromPoint(x, y);
            var trobj = $(elementMouseIsOver).parents("tr");
            if (trobj.length == 0) return;
            trobj = trobj[0];
            var table = $('#mainTable').DataTable();
            var length = $('td', $(trobj)).length;

            var $cell = $(e.target).closest('td');
            if ($cell.index() < (length - 1)) {
                var primaryKeys = getPKIndex();
                var index = table.row(trobj).index();
                var attrList = {};
                for (var i = 0; i < primaryKeys.length; i++) {
                    //reader model
                    attrList["PK_Value_" + primaryKeys[i].header] = table.row(trobj).data()[primaryKeys[i].header];
                }
                var img_id;
                var geodiLabel = startAddLabel({
                    Attributes: attrList
                });
            }

        }
        */
        window.preventGenerateLabelList = true;
        function StartLabelEdit(label) {
            //var LabelID = label.LabelId;
            window.__activeEdit = true;
            //var geodiLabel = $("#id_" + LabelID).data('labelInfo');
            var row = $("#id_" + label.LabelId).parent().parent();

            editLabel({
                geodiLabel: label
            });
            window.__activeEdit = false;

        }

        //Add bound!
        document.title = StateForm.GetState("ContentDisplayName");

        function initGrid() {
            var gridColumns = [];//{ data: null, defaultContent: '', orderable: false },
            var cols = (StateForm.GetState("columns")).split('|,GRD_SP|');
            for (var i = 0; i < cols.length; i++) {
                gridColumns.push({ data: cols[i].replace(".", "_P__NT__") });
            
                $('#mainTable thead tr').append($('<th>' + cols[i] + '</th>'));
            }

            

            var selIndex=parseInt(StateForm.GetState("selrowIndex"));
            window.__primaryKeys = StateForm.GetState("primaryKeys").split('|,GRD_SP|');
            if (window.__primaryKeys[0] !== "")
                $('#mainTable thead tr').append($('<th>[$docViewer:label/js]</th>'));


            $.extend($.fn.dataTable.defaults, {
                "searching": false,
                "ordering": false
            });
            var pgRowCount = 20;
            if (selIndex == -1) selIndex = 0;
            else if (selIndex > pgRowCount)
                selIndex -= selIndex % pgRowCount;
            else selIndex = 0;
            var hurl = document.location.href + "";
            var ptrim = hurl.indexOf("#");
            if (ptrim > 0)
                hurl = hurl.substr(0, ptrim);


            window.tableObject = $('#mainTable').DataTable({
                dom: "Tfrtip",
                ajax: {
                    //url: "FileBasedDatabaseViewer?op=GetData&cacheGUID=" + ,
                    url: hurl + "&_totalDataReady=" + StateForm.GetState("datacount"),
                    type: "POST"
                },
                iDisplayStart: selIndex,
                serverSide: true,
                pageLength: pgRowCount,
                
                scrollY: getTableHgt(),
                scrollX: "100%",
                
                
                //idSrc: "ObjectID",
                columns: gridColumns,
                //order: [2, 'asc'],
                language: {
                    "sProcessing": '[$GeodiDictionaryEditor:dt_sProcessing/js]',
                    "sLengthMenu": '[$GeodiDictionaryEditor:dt_sLengthMenu/js]',
                    "sZeroRecords": '[$GeodiDictionaryEditor:dt_sZeroRecords/js]',
                    "sInfo": '[$GeodiDictionaryEditor:dt_sInfo/js]',
                    "sInfoEmpty": '[$GeodiDictionaryEditor:dt_sInfoEmpty/js]',
                    "sInfoFiltered": '[$GeodiDictionaryEditor:dt_sInfoFiltered/js]',
                    "sInfoPostFix": '',
                    "sSearch": '[$GeodiDictionaryEditor:dt_sSearch/js]',
                    "sUrl": '',
                    "oPaginate": {
                        "sFirst": '[$GeodiDictionaryEditor:dt_oPaginate_sFirst/js]',
                        "sPrevious": '[$GeodiDictionaryEditor:dt_oPaginate_sPrevious/js]',
                        "sNext": '[$GeodiDictionaryEditor:dt_oPaginate_sNext/js]',
                        "sLast": '[$GeodiDictionaryEditor:dt_oPaginate_sLast/js]'
                    }
                }, 
                "rowCallback": function (row, data) {
                    if (data._____Sel) {
                        $(row).addClass('active');//selected
                        window.setTimeout(function () {
                            $(".dataTables_scrollBody").animate({
                                scrollTop: $(row).offset().top
                            }, 100);
                        }, 300);
                    }
                },
                tableTools: {
                    sRowSelect: "os",
                    sRowSelector: 'tr', //'td:first-child'
                    aButtons: [ ]
                },
                "fnDrawCallback": function (oSettings) {
                    if (window.__primaryKeys[0] !== "") {
                        GenerateLabelsList();
                    }
                },
                "aoColumnDefs":
                    (window.__primaryKeys[0] !== "")?
                    [
                        {
                            "aTargets": [gridColumns.length],
                            "mData": null,
                            "mRender": function (data, type, full) {
                                //getData;
                                return "";
                            }
                        }
                    ]: []
            });

            $(window).resize();

        }


        $(window).ready(function () {
            initGrid();
            initContextMenuFor("#defaultArea");
            $("#layoutSearchDiv").hide();
        });

        function getTableHgt() {
            return ($(window).height() - 150) - $(".DTTT_selectable tr").height();
        }

        $(window).resize(function() {
                var table = $.fn.dataTable.fnTables(true);
                var hgt = getTableHgt();
                if ( table.length > 0 ) {
                    for(var i=0;i<table.length;i++){
                        $(table[i]).dataTable().fnSettings().oScroll.sY =hgt;
                    }
                }
                $('.dataTables_scrollBody').css('height', hgt+'px');
            }
        );

        function showTooltip(elem,fromToolTip) {
            var eType = window.event.type;
            if (eType == 'mouseover') {
                if (window.lastout)
                {
                    window.clearTimeout(window.lastout);
                }
                if (!fromToolTip)
                {
                    var data = $(elem).data();
                    var pos = $(elem).position();
                    var text = formatLabelMark(data.labelInfo);
                    var x = pos.left;
                    var y = pos.top;
                    $("#tooltipArea").html($(text));
                    $("#tooltipArea").fadeIn();
                    var divW = $("#tooltipArea").width();
                    var divH = $("#tooltipArea").height();
                    var left = (x - divW - 24);
                    var top = (y + $(elem).outerHeight() + 5);
                    $("#tooltipArea").css("left", left);
                    $("#tooltipArea").css("top", top);
                }
                $("#tooltipArea").fadeIn();
            }
            else if (eType == 'mouseleave') {
                window.lastout= window.setTimeout(function () {
                    $("#tooltipArea").fadeOut();
                }, 500);
            }
        }

      

      
        function OnLabelListUpdate() {
            $('.labelPin').remove();
        }

        function removeLabel(label_id) {
            $("#" + label_id).remove();
        }

        function editLabelsPin(labelobj) {
            editLabels($(labelobj).data("labelInfo"));
        }

        function editLabels(label) {
            window.__activeEdit = true;
            editLabel({
                geodiLabel: label
            });
            window.__activeEdit = false;
        }

        function OnLabelAddMark(geodiLabel)
        {

            var row = getRow("mainTable", geodiLabel.LabelSection);

            if (!row)
            {
                return;
            }
            var imgUrl = HttpUtility.ResolveUrl('~/GUI/img/pin24' + (geodiLabel.ReferenceIsOtherVersion ? 'b' : '') + '.png');
            var html = "<img class='labelPin' id='id_" + geodiLabel.LabelId + "' src='" + imgUrl
                + "' onClick='editLabelsPin(this)' onmouseover='showTooltip(this)' onmouseleave='showTooltip(this)'></img>";
            var length = $('td', row).length;
            var td = $('td', row).eq(length - 1);
            td.append($(html));
            $('#id_' + geodiLabel.LabelId).data('labelInfo', geodiLabel);

            return "id_" + geodiLabel.LabelId;
        }

        window.ShowMarks = function (isVisible) {
            $(".labelPin").css("display", isVisible ? "inline-block" : "none");
        }

        //function getSingleRow() {
        //    return $("#id_91").parent().parent();
        //}

        function getRow(table_id, labelSection) {

            if (!labelSection || !labelSection.Attributes)
                return null;

            var oTable = $('#' + table_id).dataTable(),
                data = oTable.fnGetData(),
                row, i, l = data.length;
            //pk val model
            var pkIndexs = getPKIndex();

            for (i = 0; i < l; i++) {
                row = data[i];
                var fnd = true;
                var pkfound = false;
                for (var key in labelSection.Attributes)
                    if (key && key.indexOf && key.indexOf("PK_Value_") == 0) {
                        var key2 = key.replace("PK_Value_", "");
                        pkfound = true;
                        if (row[key2] != labelSection.Attributes[key]) {
                            fnd = false;
                            break;
                        }
                    }
                if (!pkfound)
                    return null;
                if(fnd)
                    return $('#' + table_id + ' tbody tr').eq(i);
            }

        }

        function getPKIndex() {
            var nRow = $('#mainTable thead tr')[0];
            var hNames = [];
            $.each(nRow.cells, function (i, v) {
                var headerName = $(v).find('div').text();
                if ($.inArray(headerName, window.__primaryKeys) >= 0) {
                    hNames.push({ header: headerName, index: i });
                }
            });
            //console.log(hNames);
            return hNames;
        }

        window.OnKeywordClick = function (keyword, kwItem) {

        }

        function OnLabelClick(label) {
            //var row = getRow("mainTable", label.LabelSection);
        }
        function OnSummaryClick(data, alldata, kwItem) {
            //var row = getRow("mainTable", data.LabelSection);
        }
        $(window).ready(function () {
            $("#liDownloadBtn").hide();
            window.setTimeout(function () { $("#liDownloadBtn").hide(); }, 500);
        });
        
    </script>
