﻿<dcc:ResourceControl src="GUI/ContentViewer/DefaultLayout.html" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/kh/KeywordHighlight.js" />


<script>
    $(window).ready(
        function () {
            var hlStart = StateForm.GetState("highlight_text");
            if (hlStart)
                window.setTimeout(function () {
                    OnSummaryClick({ Text: hlStart })
                }, 500)
        }
        );
    function OnSummaryClick(data, alldata, kwItem) {
        HiglightText(data, alldata);
    }

    function HiglightText(data, alldata) {
        var pos = alldata ? alldata.indexOf(data) : 0;
        ReplaceForHighlightClear();
        ReplaceForHighlight(data.Text, $("#defaultArea")[0]);
        try {
            var all = $(".hgInner", $("#defaultArea"));
            if (pos >= all.length) pos = 0;
            var el = $(all[pos]);
            if (el.offset()) {
                $("#defaultArea").animate({
                    scrollTop: ((el.offset().top - 100) + $("#defaultArea").scrollTop())
                }, 500);
                el.fadeIn(500).fadeOut(500).fadeIn(750).fadeOut(750).fadeIn(1000); // blink
            }
        }
        catch (e) { }
    }
</script>