﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/imageViewer/jquery.smoothZoom.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ol/ol3-controls.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-controls.css" />



<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/OpenLayerLabelManager.js" />
<style>
    html, body {
        margin: 0 !important;
        height: 100%;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }

    #header {
        position: fixed;
        top: 0;
        /*height: 50px;*/
        height: 0px;
        width: 100%;
        z-index: 10000;
        background: #fff;
        -moz-box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
        -webkit-box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
        box-shadow: 0 4px 4px rgba(182, 182, 182, 0.75);
    }

    .map {
        /*background: url(GUI/img/textured_paper.jpeg) repeat;*/

        width: 100%;
        height: 100%;
        position: fixed; /* GEODI-5091 */
    }


    .topbar {
        position: absolute;
        z-index: 5000;
        left: 50px;
        /*top: 58px;*/
        top: 10px;
    }

        .topbar select {
            color: #333;
        }

    .ol-attribution, .ol-attribution li {
        display: none !important;
    }

    .custom-mouse-position {
        bottom: 8px;
        left: 8px;
        position: absolute;
        padding-left: 5px;
        padding-right: 7px;
        text-align: center;
        width: 210px;
        border-radius: 3px;
        /*font-weight:bold;*/
        background-color: white;
        color: #333;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE 5-7 */
        -moz-opacity: 0.7; /* Netscape */
        -khtml-opacity: 0.7; /* Safari 1.x */
        opacity: 0.7;
    }

    #info {
        position: absolute;
        height: 1px;
        width: 1px;
        z-index: 100;
    }

    .tooltip.in {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: white;
    }

    .tooltip-inner {
        border: 2px solid white;
    }

    .toggle-addMark {
        top: 100px;
        left: .5em;
    }

    .ol-touch .toggle-addMark {
        top: 80px;
    }

    .toggleActive {
        background: #ff9900 !important;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    div.ol-rotate {
        position: absolute !important;
        float: left !important;
        left: 8px !important;
        width: 27px !important;
        top: 96px !important;
    }

    #map .tooltip {
        white-space: normal;
        word-break: break-word;
    }
</style>

<div class="navbar navbar-default navbar-fixed-top navbar-fixed-second-top" style="float:left;width:100%;z-index:1">
    <div class="container-fluid">
        <ul class="nav pull-left" style="padding-top:8px;">
            <li class="dropdown">
                <a id="aWorkSheet" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                <ul class="dropdown-menu" id="ulWorkSheets"></ul>
            </li>
            <li></li>
        </ul>
    </div>
</div>
<div class="map" id="map" style="margin-top:48px">
    <div id="info" style="margin-top:48px"></div>
</div>

<script type="text/javascript">
    if ($("#st_MaskButton").val())
        window.supportDownloadMasked = true;

    eval(StateForm.GetState("ContentIdJS"));

    String.prototype.hashCode = function () {
        var hash = 0, i, chr, len;
        if (this.length == 0) return hash;
        for (i = 0, len = this.length; i < len; i++) {
            chr = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    };

    function GetRandom() {
        return (new Date().toLocaleString() + HttpUtility.GetVersionCode() + Math.random()).hashCode();
    }

    function __GetParams(pageNumber) {
        return { 'LAYERS': 'Geodi', 'contentID': window.content_id, 'hash': StateForm.GetState("contentHash"), 'pageNumber': pageNumber, 'Rnd': GetRandom(), 'op': 'WMS' }; // , 'CRS': 'EPSG:4326' //Rnd sürekli gelmemeli.
    }

    function initMap() {

        window.wmsLayerList = [];
        for (var i = 0; i < window.workSheetCount; i++) {
            window.wmsLayerList.push(new ol.layer.Tile({
                style: 'WmsLayer',
                visible: false,
                source: new ol.source.TileWMS({
                    url: './DefaultCellsContentViewer?',
                    params: __GetParams(i + 1),
                    serverType: 'geoserver',
                    wrapX: false
                }),
            }));
        }

        window.vSource = new ol.source.Vector({ wrapX: false });
        window.vectorL = new ol.layer.Vector({
            source: window.vSource,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 3
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });

        window.vSourceMarks = new ol.source.Vector({ wrapX: false });
        window.vectorLMarks = new ol.layer.Vector({
            source: window.vSourceMarks,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 3
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });

        window.wmsLayerList.push(window.vectorL);
        window.wmsLayerList.push(window.vectorLMarks);


        window.view = new ol.View({
            center: [-10997148, 4569099],
            zoom: 4,
            minZoom: 15,
            maxZoom: 18
            //extent: eval(StateForm.GetState("source_limit"))
        });

        window.map = new ol.Map({
            layers: window.wmsLayerList,
            target: 'map',
            view: view
        });

        window.OpenLayerLabelManager.AppendMapEvents(map);
        //var mousePositionControl = new ol.control.MousePosition({
        //    coordinateFormat: ol.coordinate.createStringXY(4),
        //    //projection: param_proj,
        //    className: 'custom-mouse-position',
        //    //  target: document.getElementById('mouse-position'),
        //    undefinedHTML: '&nbsp;'
        //});
        //if (!window.BrowserType.IsMobile()) {
        //    window.map.addControl(mousePositionControl);
        //}

    }

    function ToExceelExtend(ext) {
        return [
            ext[0],
            -ext[3],
            ext[2],
            -ext[1]
        ];
    }

    window.fitExtentFnc = function (view, bbox, mapSize) {
        if (view.fitExtent)
            view.fitExtent(bbox, mapSize);
        else
            view.fit(bbox, { size: mapSize })

    }

    function StartMap(extentData) {
        if (window.HideWait) HideWait();

        var extStr = StateForm.GetState("source_bbox");
        var ext2 = null;
        if (extStr) {
            ext2 = eval(extStr);
            ext2 = ToExceelExtend(ext2);
        }
        var extLimit = extentData ? eval(extentData) : null;
        initMap();
        if (ext2) {
            var geometry = ol.geom.Polygon.fromExtent(ext2);
            var feature = new ol.Feature({ geometry: geometry });
            window.vSource.addFeature(feature);
        }
        else if (extLimit) {
            //GEODI-5091
            var wsize = window.map.getSize();
            var winW = wsize[0];
            var winH = wsize[1];

            ext2 = extLimit;

            var left = ext2[0];
            var top = ext2[3];

            var vertShift = winH + 100;
            var horiShift = winW + 100;

            ext2 = [
                left + 0,
                top - vertShift,
                left + horiShift,
                top];
        }
        //if (!ext2) ext2 = extLimit;


        if (ext2)
            fitExtentFnc(view, ext2, window.map.getSize());



        if (extLimit) {
            window._extLimit = extLimit;
            window.map.addControl(new ol.control.ZoomToExtent({
                extent: extLimit
            }));
        }


        $('.ol-zoom-extent button').html('<i class="fa fa-arrows-alt" style="margin-top:1px;"></i>');
        $('.ol-zoom-in').attr('title', '[$map:zoom_in/js]');
        $('.ol-zoom-out').attr('title', '[$map:zoom_out/js');
        $('.ol-zoom-extent button').attr('title', '[$map:fit_to_extent/js]');
    }

    function getWorkSheets(callBackFunction) {
        $.post("DefaultCellsContentViewer?op=GetExcelWorkSheets", { 'hash': StateForm.GetState("contentHash") }, function (data, textStatus) {
            window.workSheetCount = data.length;
            ulWorkSheets = $('#ulWorkSheets');
            ulWorkSheets.html('');
            for (var i = 0; i < data.length; i++)
                ulWorkSheets.append($('<li><a href="#" onclick="workSheetItemClick(this)">' + data[i] + '</a></li>'));
            if (callBackFunction)
                callBackFunction();
        }
            , 'json');
    }

    function workSheetItemClick(sender) {
        var workSheetName = $(sender).text();
        var workSheetIndex = 0;
        var workSheetItems = $('#ulWorkSheets li');

        for (var i = 0; i < workSheetItems.length; i++) {
            if ($(workSheetItems[i]).children('a').text() == workSheetName) {
                workSheetIndex = i;
                break;
            }
        }
        window.contentSection = workSheetIndex + 1;
        setWorkSheet();
    }

    function setWorkSheet() {
        var workSheetIndex = window.contentSection - 1;
        var workSheetName = $($('#ulWorkSheets li')[workSheetIndex]).children('a').text();
        $('#aWorkSheet').html(workSheetName + ' <span class="caret"></span>');

        if (window.wmsLayerList) {
            for (var i = 0; i < window.wmsLayerList.length - 1; i++)
                window.wmsLayerList[i].setVisible(i == workSheetIndex);
        }
        GenerateLabelsList();
    }

    $(window).ready(function () {
        getWorkSheets(function () {
            setWorkSheet();
            if (window.ShowWait) ShowWait();
            $.post('DefaultCellsContentViewer?op=GetExtents', { 'hash': StateForm.GetState("contentHash"), 'pageNumber': window.contentSection }, function (data, textStatus) {
                StartMap(data);
                setWorkSheet();
                window.OpenLayerLabelManager.ActivateLabel();
            }, 'json');
        });
    });


    //Cad viewer ile ortaklaşacak.
    window.OnKeywordClick = function (keyword, kwItem) {

    }

    function OnSummaryProcess(data, kw) {
        var sections = [];
        var nData = [];
        //txt dosyalar ?
        for (var i = 0; i < data.length; i++) {
            if (data[i].KeywordSection && data[i].KeywordSection.Section != '0') {
                var sectionNumb = data[i].KeywordSection.Section;
                if (sections.indexOf(sectionNumb) < 0) {
                    sections.push(sectionNumb);
                    nData.push({ Text: "[$docViewer:page_num/js]".replace("{0}", sectionNumb), KeywordSection: data[i].KeywordSection, kWHigh: data[i].Text });
                }
            }
        }

        return nData;
    }

    //function addExtent(extent)
    //{
    //    window.vSource.clear();
    //    var geometry = ol.geom.Polygon.fromExtent(extent);
    //    var feature = new ol.Feature({ geometry: geometry });
    //    window.vSource.addFeature(feature);
    //    fitExtentFnc(view,extent, window.map.getSize())
    //}

    function OnSummaryClick(data, alldata, kwItem) {

        if (data && data.KeywordSection && data.KeywordSection.Section) {
            window.contentSection = data.KeywordSection.Section;//tümü alınabilir.
            setWorkSheet();
        }

        if (data.KeywordSection && typeof (data.KeywordSection.Attributes.minX) != "undefined") {

            var extent = ToExceelExtend(
                [
                    data.KeywordSection.Attributes.minX,
                    data.KeywordSection.Attributes.minY,
                    data.KeywordSection.Attributes.maxX,
                    data.KeywordSection.Attributes.maxY,
                ]
            );
            if (extent) {
                window.vSource.clear();
                var geometry = ol.geom.Polygon.fromExtent(extent);
                var feature = new ol.Feature({ geometry: geometry });
                window.vSource.addFeature(feature);
                fitExtentFnc(view, extent, window.map.getSize())
                return;
            }
        }

        fitExtentFnc(view, window._extLimit, window.map.getSize());

    }
    function OnLabelClick(label) {
        if (window.contentSection && label.LabelSection.Section && window.contentSection.toString() != label.LabelSection.Section) {
            window.contentSection = parseInt(label.LabelSection.Section);
            setWorkSheet();
            //setCurrentPage(label.LabelSection.Section);
            //showPage();
        }
        else {
            var markID = label.LabelId;
            $('.mark img').css('border', '');
            $('#mark_' + markID + ' img').css('border', '1px solid blue');
            $('#mark_' + markID + ' img').css('-webkit-border-radius', '3px');
            $('#mark_' + markID + ' img').css('-moz-border-radius', '3px');
            $('#mark_' + markID + ' img').css('border-radius', '3px');
        }
    }
    function getLabelAdditionalInfoForList(label) {
        if (label.LabelSection && label.LabelSection.Section)
            return '<p>' + '[$docViewer:page/js]' + ' : ' + label.LabelSection.Section + '</p>';
        else
            return '';
    }


</script>