﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/imageViewer/jquery.smoothZoom.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/ol/ol3-controls.css" />

<dcc:ResourceControl src="GUI/Control/FullSummary.view.html" />

<style type="text/css">
    html, body, #full, #someid {
        height: 100%;
    }

    body {
        padding-top: 80px !important;
    }

    #divDocImageContainer > div {
        background-color: transparent !important;
    }

    #divDocImageContainer .landmarks {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        font-family: Helvetica, Arial, Verdana;
        font-size: 12px;
        color: #ffffff;
    }

        #divDocImageContainer .landmarks .item {
            position: absolute;
            text-align: center;
            display: none;
        }

        #divDocImageContainer .landmarks .lable div {
            width: 100px;
            padding: 4px;
        }

        #divDocImageContainer .landmarks .mark .text {
            background-color: #000000;
            padding: 2px 6px;
        }

    #divDocImageContainer .mark {
        background-color: transparent !important;
        cursor: pointer;
    }

    .divAddLabelActive div {
        background-color: #B1D34B;
    }


    .ulDocDisplayName {
        margin-top: 5px !important;
        float: right !important;
    }

    #txtCurrentPage {
        width: 35px;
        padding-left: 2px;
        padding-right: 2px;
    }

    #liPageCount {
        margin-top: 8px;
        margin-left: 3px;
        margin-right: 5px;
    }

    #txtCurrentPage {
        text-align: center;
    }

    #liDocDisplayName {
        margin-top: 3px;
        margin-right: 2px;
    }



    @media (max-width:500px) {
        .ulDocDisplayName {
            display: none;
        }
    }

    .panel-toogle-button {
        background-image: url('../img/actionMenuButton.png') !important;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (max-width:768px) {
        #full .navbar {
            border-radius: 4px;
        }

        #full .navbar-header {
            float: left !important;
            margin: 0px !important;
        }

        #full .navbar-nav {
            float: left !important;
            visibility: visible !important;
            margin: 0px !important;
        }

            #full .navbar-nav > li {
                float: left;
            }

                #full .navbar-nav > li > a {
                    padding-top: 14px;
                }

        #full .container-fluid > .navbar-collapse {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        #full .form-horizontal .control-label {
            padding-top: 7px;
        }
    }

    #divDocImageContainer, #full {
        background-color: rgb(230,230,230) !important;
    }

    .allLeft li {
        float: left !important;
    }

    .RotateButtonContainer {
        position: absolute;
        bottom: -40px;
        left: 46px;
    }

    @media (max-width: 768px) {
        #full {
            padding-top: 35px;
        }
    }
</style>


<input id="txtHighlight" type="hidden">

<div class="navbar navbar-default navbar-fixed-top navbar-fixed-second-top PagingBar forMobile" style="float:left;width:100%;">
    <div class="container-fluid">
        <ul class="nav navbar-nav allLeft" style="margin-top:7.5px;">
            <li><a href="javascript:prevPage();" class="img-previouspage img-default" title="[$docViewer:backward/html]"></a></li>
            <li><input id="txtCurrentPage" type="text" class="form-control" onkeypress="txtCurrentPage_OnKeyPress(event);"></li>
            <li id="liPageCount"></li>
            <li><a href="javascript:nextPage();" class="img-nextpage img-default" title="[$docViewer:forward/html]"></a></li>
        </ul>
    </div>
</div>

<div id="full">

</div>
<div class='ol-control map-slide ol-unselectable AnimateOk RotateButtonContainer' style='z-index:9500;' onclick="RotateLeftRight($('#theDocImage')[0], null, createSmoothZoom)"><button><span class='img-default img-rotate-right24'> </span></button></div>


<dcc:item factoryname="StateForm" />


<script>


    function CreateLabelForPoint(x1, y1) {
        y1 -= $('#full').offset().top;
        var zoomData = $('#theDocImage').smoothZoom('getZoomData');
        var offset = $('#theDocImage').offset();
        y1 = parseFloat(y1) + parseFloat($('#full').offset().top);
        var x = (x1 - offset.left) / zoomData.ratio;
        var y = (y1 - offset.top) / zoomData.ratio;
        var geodiLabel = startAddLabel({
            Section: window.currentPage,
            Attributes: { X: x, Y: y }
        });
    }


    window.startTime = new Date();
    window.preventGenerateLabelList = true;
    window.currentSmZoomObject = null;
    window.currentSmZoomObjectId = 0;

    function createSmoothZoom() {
        $(".inLoading").hide();
        $('#theDocImage').smoothZoom({
            //width: theWidth,
            //height: theHeight - 100,
            //zoom_OUT_TO_FIT : false,
            pan_BUTTONS_SHOW: window.BrowserType.IsMobile() ? "NO" : "YES",
            pan_LIMIT_BOUNDARY: "NO",
            container: "divDocImageContainer",
            button_SIZE: 24,
            zoom_MAX: 800,
            border_TRANSPARENCY: 20,
            button_ALIGN: "top left",
            reset_ALIGN_TO: "center center"
        });
        GenerateLabelsList();
    }


    function showPage(disablePager) {
        if (!disablePager && window.InPager && window.InPager.CurrentPage != window.currentPage) {
            window.InPager.SetActivePage(window.currentPage, true)
        }
        if ($("#divDocImageContainer").length > 0)
            $("#divDocImageContainer").hide();
        __showPage();
    }
    function __showPage() {
        var docUrl;
        docUrl = HttpUtility.ResolveUrl('~/DefaultOfficeDocumentViewer?op=getPage&page=' + window.currentPage.toString() + '&hash=' + HttpUtility.UrlEncode(StateForm.GetState("contentHash")), false);
        var hlText = getHightlightText();
        if (hlText)
            docUrl += '&searchText=' + HttpUtility.UrlEncode(hlText);
        docUrl += "&_rnd" + window.startTime;


        try {
            $('#theDocImage').smoothZoom('destroy');
        }
        catch (ex) { }


        var rstHtml = '<div id="tooltipArea" class="FixedToolTip" onmouseover="showTooltip(this, true)" onmouseleave="showTooltip(this, true)"></div>' +
            '<div style="width:100px;height:20px;margin:auto;left: 0;right: 0;top:0;bottom:0;position:absolute;" >' +
            '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate inLoading"></span> <span class=inLoading>[$default:loading]</span>'
            + '</div>' +
            '<div id="divDocImageContainer">' +
            '<img id="theDocImage" src=""  style="position:absolute;left:-5000px;top:-5000px;" />' +
            '<div class="landmarks" data-show-at-zoom="100" data-allow-drag="true"></div>' +
            '</div>';
        $("#full").html(rstHtml);




        window.setTimeout(function () {
            $('#theDocImage').error(function (e) {
                if ($('#theDocImage').attr('src')) {
                    $('#full').css('display', 'none');
                    showMessage(('[$docViewer:error_in_getPage/js]'), ('[$default:error/js]'), 'danger');
                }
            });
            $('#theDocImage').load(function () {
                setTimeout(createSmoothZoom, 200);
            });

            $('#theDocImage').attr('src', docUrl);
        }, 0);


    }

    $(window).on('resize', function () {
        $('#theDocImage').smoothZoom('resize', { width: $(window).width(), height: $("#full").height() });
    });
    function setCurrentPage(pageNumber) {
        if (pageNumber > 0) {
            window.currentPage = pageNumber;
            $('#txtCurrentPage').val(pageNumber);
        }
    }
    function prevPage() {
        if (window.currentPage > 1) {
            setCurrentPage(window.currentPage - 1);
            showPage();
        }
    }
    function nextPage() {
        if (window.currentPage < window.pageCount) {
            setCurrentPage(window.currentPage + 1);
            showPage();
        }
    }


    function getHightlightText() {
        return $('#txtHighlight').val();
    }
    function getPageCount() {
        $.ajax({
            url: '~/DefaultOfficeDocumentViewer?op=getPageCount&hash=' + HttpUtility.UrlEncode(StateForm.GetState("contentHash")),
        })
            .done(function (data) {
                window.pageCount = parseInt(data);
                $('#liPageCount').text(' / ' + window.pageCount.toString());
                window.InPager = _InitScrollBar(window.pageCount, "#forScrollArea", "#divDocImageContainer", document)
                if (window.InPager) {
                    if (window.currentPage)
                        window.InPager.SetActivePage(window.currentPage);
                    if (window.LayoutSearchData)
                        window.InPager.SetSearch2(window.LayoutSearchData);
                    window.InPager.callback = function (pageNum) {
                        if (pageNum != window.currentPage) {
                            setCurrentPage(pageNum);
                            showPage(true);
                        }
                    }
                }
            });
    }

    function getPagePartListForExcel(callBackFunction) {
        $.post('~/DefaultOfficeDocumentViewer?op=getPagePartListForExcel', { 'page': window.currentPage, 'hash': StateForm.GetState("contentHash") }, callBackFunction, 'json');
    }
    function getDocument() {
        if (!window.contentSection)
            window.contentSection = 1;
        setCurrentPage(window.contentSection);
        getPageCount();
        showPage();
    }
    function downloadDoc() {
        return _PSCCDownload(window.HttpUtility.ResolveUrl("~/GeodiJSONService?op=downloadDoc&"), {
            __mode: "OpenContent",
            content_id: getDocID(),
            wsName: StateForm.GetState("wsName")
        });
    }
    function getDocID() {
        return window.currentContent.ID;
    }

    function txtCurrentPage_OnKeyPress(e) {
        if (e.keyCode == 13) {
            var curPage = parseInt($('#txtCurrentPage').val());
            if (curPage) {
                var pageChanged = false;
                if (curPage > window.pageCount) {
                    curPage = window.pageCount;
                    pageChanged = true;
                }
                if (curPage < 1) {
                    curPage = 1;
                    pageChanged = true;
                }
                if (pageChanged)
                    $('#txtCurrentPage').val(curPage);

                if (curPage != window.currentPage) {
                    setCurrentPage(curPage);
                    showPage();
                }
            }
            return false;
        }
    }

    function __LoadReady() {



        var highlight;
        highlight = window.StateForm.GetState("highlight");
        if (highlight)
            $('#txtHighlight').val(highlight);

        initContextMenuFor("#full");

    };
    $(window).ready(function () {
        __LoadReady();
        getDocument();
        $("#contentHeader").val(StateForm.GetState("ContentDisplayName"));
        if (window.isDesktopOpenWith) {
            $(".PagingBar").css("display", "block");
            $("#full").css("padding-top", "35px");
        }
    });
    eval(StateForm.GetState("ContentIdJS"));
    if ($("#st_MaskButton").val())
        window.supportDownloadMasked = true;



    function OnSummaryProcess(data, kw) {

        if (window.InPager && window.InPager.SetSearch2) {
            window.InPager.SetSearch2([]);
            window.LayoutSearchData = [];
            window.LayoutSearchDataIndex = 0;
            UpdateLayoutSearchGUI();
        }
        var sections = [];
        var nData = [];

        for (var i = 0; i < data.length; i++) {
            if (data[i].KeywordSection && data[i].KeywordSection.Section != '0') {
                var sectionNumb = data[i].KeywordSection.Section;
                if (sections.indexOf(sectionNumb) < 0) {
                    sections.push(sectionNumb);
                    nData.push({ Text: "[$docViewer:page_num/js]".replace("{0}", sectionNumb), KeywordSection: data[i].KeywordSection, kWHigh: data[i].Text });
                }
            }
        }

        return nData;
    }

    function OnSummaryClick(data, alldata, kwItem, disableUpdatePager) {
        if (data) {

            if (!disableUpdatePager && alldata && window.InPager && window.InPager.SetSearch2) {
                window.InPager.SetSearch2(alldata);
                window.LayoutSearchData = alldata;
                window.LayoutSearchDataIndex = 0;
                $("#txtSearch").val("");
                UpdateLayoutSearchGUI();
            }

            if (data.KeywordSection) {
                var section = data.KeywordSection.Section;
                setCurrentPage(section);
            }
            if (alldata && alldata.length > 0) {
                var kwAll = { ___INList: [] };
                for (var i = 0; i < alldata.length; i++) {
                    var d1 = alldata[i];
                    var kW = d1.kWHigh;
                    if (kW != null && kW != undefined && kW.length > 0 && !kwAll[kW.toLowerCase()]) {
                        kwAll[kW.toLowerCase()] = true;
                        kwAll.___INList.push(kW);
                        if (kwAll.___INList.length > 100) break;
                    }
                }
                $('#txtHighlight').val(kwAll.___INList.join("|"));
            }
            else {
                var kW = data.kWHigh;
                $('#txtHighlight').val(kW);
            }

            showPage();
        }
    }

    function StartLabelEdit(label) {
        editLabel({
            geodiLabel: label
        });
    }


    function OnLabelAddMark(geodiLabel) {

        if (!geodiLabel.LabelSection || geodiLabel.LabelSection.Section != window.currentPage || !geodiLabel.LabelSection.Attributes.X)
            return;
        var imgUrl = HttpUtility.ResolveUrl('~/GUI/img/pin24' + (geodiLabel.ReferenceIsOtherVersion ? 'b' : '') + '.png');
        $('#theDocImage').smoothZoom('addLandmark', ['\
                <div id="mark_' + geodiLabel.LabelId + '" class="item mark" data-show-at-zoom="0" data-position="' + geodiLabel.LabelSection.Attributes.X.toString() + ',' + geodiLabel.LabelSection.Attributes.Y.toString() + '" onclick="editMarkLabel(this)" onmouseover="showTooltip(this)" onmouseleave="showTooltip(this)">\
                    <div>\
                        <img id="tooltipImg_' + geodiLabel.LabelId + '" src="' + imgUrl + '" width="24px" height="24px" alt="mark 1" />\
                    </div>\
                </div>'
        ]);

        var mark = $('#mark_' + geodiLabel.LabelId);
        mark.data('labelInfo', geodiLabel);
        mark.on('touchstart', function (e) { editMarkLabel(mark); });
    }

    window.ShowMarks = function (isVisible) {
        $(".mark").css("display", isVisible ? "block" : "none");
    }

    function OnLabelsProcess(data) {
        return data;
        //var rtn = [];
        //for (var i = 0; i < data.length; i++) {
        //    var pageNumber = data[i].LabelSection.Section;
        //    if (pageNumber == window.currentPage) {
        //        rtn.push(data[i]);
        //    }
        //}
        //return rtn;
    }

    function OnLabelListUpdate() {
        $('.landmarks').empty();
        $('#imgContent').smoothZoom('refreshAllLandmarks');
    }

    function editMarkLabel(elem) {
        var labelObject = $(elem).data('labelInfo');
        editLabel({
            geodiLabel: labelObject
        });
    }

    // Etiketlerin yazılarının üzerlerine gelince görüntülenmesi için tooltip ve pinlerin onmouseover ve onmouse leave etiketlerine eklenir.
    function showTooltip(elem, fromTooltip) {
        //console.log(window.event.type)
        var eType = window.event.type;
        if (eType == 'mouseover') {
            if (window.lastout) {
                window.clearTimeout(window.lastout);
            }
            if (!fromTooltip) {
                var data = $(elem).data();
                var text = formatLabelMark(data.labelInfo);
                var pos = $(elem).position();
                var x = pos.left;
                var y = pos.top;
                $("#tooltipArea").html($(text))
                    .fadeIn();
                var divW = $("#tooltipArea").width();
                var divH = $("#tooltipArea").height();
                var left = (x - divW - 24);
                var top = (y + $(elem).outerHeight() + 5);
                $("#tooltipArea").css("left", left);
                $("#tooltipArea").css("top", top);
            }
        }
        else if (eType == 'mouseleave') {
            window.lastout = window.setTimeout(function () {
                $("#tooltipArea").fadeOut()
            }, 500);
        }
    }
    function OnLabelClick(label) {
        if (window.currentPage && label.LabelSection && window.currentPage.toString() != label.LabelSection.Section && setCurrentPage && showPage) {
            if (label.LabelSection.Section > 0) {
                setCurrentPage(label.LabelSection.Section);
                showPage();
            }
        }
        else {
            var markID = label.LabelId;
            $('.mark img').css('border', '');
            $('#mark_' + markID + ' img').css('border', '1px solid blue');
            $('#mark_' + markID + ' img').css('-webkit-border-radius', '3px');
            $('#mark_' + markID + ' img').css('-moz-border-radius', '3px');
            $('#mark_' + markID + ' img').css('border-radius', '3px');
        }
    }
    function getLabelAdditionalInfoForList(label) {
        if (label.LabelSection && label.LabelSection.Section)
            return '<p>[$docViewer:page/js] : ' + label.LabelSection.Section + '</p>';
        else
            return '';
    }

    $(window).load(function () {
        window.__winLoaded = true;
        $(".text").each(function () {
            var offset = $(this).offset();
            var height = $(this).outerHeight();
            if (offset.top < height) {
                $(this).css("position", "absolute");
                $(this).css("top", 30);
            }
        });
    })

</script>
