﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/kh/KeywordHighlight.js" />

<dcc:item factoryname="StateForm" />
<div id="pageMessage" style="display:none; text-align:center; margin-top:50px">
    <p id="redirecting_page" style="display:none;"><span>[$docViewer:redirecting_page]</span></p>
    <p id="url" style="display:none;"><span></span></p>
    <br />
    <p id="local_file_page" style="display:none; margin-left:20px;margin-right:20px;"><span>[$docViewer:local_file_page]</span></p>
    <button type="button" class="btn btn-sm btn-info" onclick="openNewPage();"  id="btnOpenNewPage" style="display:none;">[$docViewer:accept]</button>
    <button type="button" class="btn btn-sm btn-info" onclick="openLocalHtml();" id="btnShowContent" style="display:none;">[$docViewer:show_content]</button>
</div>
<div id="fullHtmlArea" style="display:none;width:100%;height:100%;">
    
</div>
<dcc:HtmlDataArea name="HTMLViewerScriptinitMode" />
<script>
    if (!window.FullHtmlExsist) {
        window.disableInitForViewer = true;
        $(document.body).hide();
        $("#sidebar-wrapper").hide();
        $(".slide_togler").hide();
    }
            $(function () {
                var fullHTML = StateForm.GetState("FullHTML");
                if (fullHTML) {
                    $("#fullHtmlArea").show();
                    $("#fullHtmlArea").append("<iframe id=frmZero frameborder=0 width=100% height=100%  onload=_WriteFullZero()></iframe>");
                    return;
                }

                var url = StateForm.GetState("ContentUrl");
                if (!url) return;

                if (!window._WappPSSC && window.BrowserType.IsWinApp()) {
                    _PSCC.Command({
                        Command: 'Navigate', Url: StateForm.GetState("ContentUrl"),
                        Scripts: [
                              //HttpUtility.ResolveUrl("~/GUI/js/jquery-2.1.3.min.js?rnd=" + HttpUtility.GetVersionCode()),
                              HttpUtility.ResolveUrl("~/GUI/js/kh/KeywordHighlight.js?vx1", true, true)
                        ],
                        ScriptContent: [
                                   "window.keywordHihglihtactiveRoot = '" + (HttpUtility.ResolveUrl("~/", false, true).replace(/'/g, "\\'")) + "';\r\n" +
                                   "window.keywordHihglihtactiveWsName = '" + StateForm.GetState("wsName").replace(/'/g, "\\'") + "';\r\n" +
                                   (StateForm.GetState("highlight") ? ("window.keywordSearchHiglight= '" + StateForm.GetState("highlight").replace(/'/g, "\\'") + "';\r\n") : "")

                        ],
                    });

                }
                else if (url.indexOf("file:") == 0 || ((window.BrowserType.IsMobile() || (window._WappPSSC && window.HasAccessableParentWindow(window))) && url.indexOf("https:") == 0)) {

                    $("#pageMessage").show();
                    if (url.indexOf("file:") == 0) {
                        $("#local_file_page").show();
                        $('#url').text("[$docViewer:file_path/js]" + ": " + StateForm.GetState("ContentUrl"));
                        $("#url").show();
                        $("#btnShowContent").show();
                    }
                    else {
                        $("#btnOpenNewPage").show();
                        $("#redirecting_page").show();
                    }

                    $(document.body).show();
                }
                else {
                    var url = StateForm.GetState("ContentUrl");
                    window.setTimeout(function () {
                        if (document.body.getAttribute("GEODIExtensionLoaded") == "1") {
                            if (url.indexOf("#") == -1) url += "#";
                            url += "_gu=1&_geodiurl=" + HttpUtility.UrlEncode((HttpUtility.ResolveUrl("~/", false, true).replace(/'/g, "\\'"))) + "&_geodiws=" + HttpUtility.UrlEncode(StateForm.GetState("wsName")) + "&_geodisearch=" + HttpUtility.UrlEncode(StateForm.GetState("highlight") ? StateForm.GetState("highlight") : "");
                        }
                        document.location.href = url;
                    },
                    100);

                }

            });
    /*
    //test on browser
    window.keywordHihglihtactiveRoot="http://127.0.0.1:3323/";window.keywordHihglihtactiveWsName ="000 WebSitePerformans";//wsName
    window.scElement=document.createElement("script");
    window.scElement.setAttribute("src","http://127.0.0.1:3323/GUI/js/kh/KeywordHighlight.js?rnd43=-150201553");
    document.body.appendChild(window.scElement);
    */

    function _WriteFullZero() {
        if (window.___ZeroOk)
            return;
        var url = StateForm.GetState("ContentUrl");
        var fullHTML = StateForm.GetState("FullHTML");
        var ifrm = $("#frmZero")[0];
        window.ifrmZero = ifrm;
        var doc = ifrm.contentWindow || ifrm.contentDocument.document || ifrm.contentDocument;;
        window.ifrmZeroDoc = doc;
        doc.document.open();
        doc.document.write(fullHTML);
        doc.document.close();

        window.___ZeroOk = true;
         
        var hlStart = StateForm.GetState("highlight_text");
        if (hlStart)
            window.setTimeout(function () {
                OnSummaryClick({ Text: hlStart })
            }, 1500);
        
        window.OnSummaryClick = function (data, alldata, kwItem) {
            HiglightText(data, alldata);
        }

        window.HiglightText = function (data, alldata) {
            var pos = alldata ? alldata.indexOf(data) : 0;
            var dom = window.ifrmZeroDoc && window.ifrmZeroDoc.document && window.ifrmZeroDoc.document.body ? window.ifrmZeroDoc.document.body : null;
            if (!dom) return;

            ReplaceForHighlightClear(dom);
            ReplaceForHighlight(data.Text, dom);
            try
            {
                var all = $(".hgInner", dom);
                if (pos >= all.length) pos = 0;
                var el = $(all[pos]);
                if (el.offset()) {
                    dom = $(dom);
                    var top = (((el.offset().top - 100) + dom.scrollTop())); 
                    window.ifrmZeroDoc.scrollTo(0, top);
                }
            }
            catch (e) { }
        }

        var url = StateForm.GetState("ContentUrl");
        if (url) {
            url = HttpUtility.HtmlEncode(url);
            $("#BaseButtonList").append("<li><a style='padding: 0px !important;' href='" + (url) + "' title='" + (url) + "'><img src='" + HttpUtility.ResolveUrl("~/GUI/img/external-link.png", false, true) + "'></a></li>");
        }

    }


    function openNewPage() {
        var url = StateForm.GetState("ContentUrl");
         _PSCC.Command({ Command: 'OpenWindow', Url: url, Name: url, MinWidth: 400, MinHeight: 400, Width: 800, Height: 600, ExecuteAsync: false, isInApp: true }, null);
    };
    function openLocalHtml() {
        var url = HttpUtility.ResolveUrl("~/HtmlContentViewer?op=GetLocalHtml&content_id=" + window.currentContent.ID + "&wsName=" + HttpUtility.UrlEncode(StateForm.GetState("wsName")));
        document.location.href = url;
    };



</script>
