﻿    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/imageViewer/jquery.smoothZoom.js" />
    <dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GEODI/Viewer.css" />
    
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
    <dcc:ResourceControl src="GUI/Control/FullSummary.view.html" />

    <style type="text/css">
        /*.smooth_zoom_preloader {
            background-image: url(GUI/js/imageViewer/preloader.gif) !important;
        }*/

        /*.smooth_zoom_icons {
            background-image: url(GUI/js/imageViewer/icons.png) !important;
        }*/
         

        #zoom_container .landmarks {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            font-family: Helvetica, Arial, Verdana;
            font-size: 12px;
            color: #ffffff;
        }
        #zoom_container .landmarks .item {
            position: absolute;
            text-align: center;
            display: none;
        }
        #zoom_container .landmarks .lable div {
            width: 100px;
            padding: 4px;
        }
        #zoom_container .landmarks .mark .text {
            background-color: #000000;
            padding: 2px 6px;
        }
        #zoom_container .mark {
            background-color : transparent !important;
            cursor:pointer;
        }
        .divAddLabelActive div {
            background-color: #B1D34B;
        }

        .RotateButtonContainer {
             position: absolute;
            bottom: -40px;
            left: 46px;
        }
        

    </style>
    
    <div id="tooltipArea" class="FixedToolTip" onmouseover="showTooltip(this, true)" onmouseleave="showTooltip(this, true)"></div>
    <div id="zoom_container" style="width: 100%; height: 100vh">
        <img id="imgContent" src=""/>
        <div class="landmarks" data-show-at-zoom="100" data-allow-drag="true"></div>
    </div>
<div class='ol-control map-slide ol-unselectable AnimateOk RotateButtonContainer' style='z-index:9500;' onclick="RotateLeftRight($('#imgContent')[0], null, initImageViewer)"><button><span class='img-default img-rotate-right24'> </span></button></div>
    <script type="text/javascript">

        function CreateLabelForPoint(x1, y1) {
            y1-= $('#zoom_container').offset().top;
            var zoomData = $('#imgContent').smoothZoom('getZoomData');
            var offset = $('#imgContent').offset();
            y1 = parseFloat(y1) + parseFloat($('#zoom_container').offset().top);
            var x = (x1 - offset.left) / zoomData.ratio;
            var y = (y1 - offset.top) / zoomData.ratio;
            var geodiLabel = startAddLabel({
                Attributes: { X: x, Y: y }
            });
        }


        window.preventGenerateLabelList = true;

        eval(StateForm.GetState("ContentIdJS"));

        var showLabelFlag = true;

        function initImageViewer() {
            $('#imgContent').smoothZoom({
                width: '100%',
                height: '100%',
                pan_BUTTONS_SHOW: window.BrowserType.IsMobile() ? "NO" : "YES",
                pan_LIMIT_BOUNDARY: "YES",
                button_SIZE: 24,
                button_ALIGN: "top left",
                zoom_MAX: 5000,
                border_TRANSPARENCY: 20,
                container: 'zoom_container',
                responsive: true,
                responsive_maintain_ratio: true,
                max_WIDTH: '',
                max_HEIGHT: '',
                on_ZOOM_PAN_UPDATE: function () {
                    smoothZoomChanged();
                },
                on_ZOOM_PAN_COMPLETE: function () {
                    smoothZoomChanged();
                }
            }
                );

            if (window.currentContent && 
                ((window.currentContent.ContentTypeKey == "filecontent:.mpp") || (window.currentContent.ContentTypeKey == "filecontent:.mpt")))
                if (typeof disableFullSummary !== 'undefined' && $.isFunction(disableFullSummary))
                    disableFullSummary();
        }


        function StartLabelEdit(label) {
            editLabel({
                geodiLabel: label
            });
        }

        function OnLabelAddMark(geodiLabel) {
            if (!geodiLabel.LabelSection || !geodiLabel.LabelSection.Attributes || !geodiLabel.LabelSection.Attributes.X)
                return;

            var imgUrl = HttpUtility.ResolveUrl('~/GUI/img/pin24' + (geodiLabel.ReferenceIsOtherVersion ? 'b' : '') + '.png');
            $('#imgContent').smoothZoom('addLandmark', ['\
                <div id="mark_' + geodiLabel.LabelId + '" class="item mark" data-show-at-zoom="0" data-position="' + geodiLabel.LabelSection.Attributes.X.toString() + ',' + geodiLabel.LabelSection.Attributes.Y.toString() + '" onclick="editMarkLabel(this)" onmouseover="showTooltip(this)" onmouseleave="showTooltip(this)">\
				    <div>\
                        <img id="tooltipImg_' + geodiLabel.LabelId + '" src="' + imgUrl + '" width="24px" height="24px" alt="mark 1" />\
				    </div>\
			    </div>'
            ]);
            var mark = $('#mark_' + geodiLabel.LabelId);
            mark.data('labelInfo', geodiLabel);
            mark.on('touchstart', function (e) { editMarkLabel(mark); });
        }

        window.ShowMarks = function (isVisible) {
            $(".mark").css("display", isVisible ? "block" : "none");
        }

        function OnLabelListUpdate() {
            $('.landmarks').empty();
            $('#imgContent').smoothZoom('refreshAllLandmarks');
        }

        function editMarkLabel(elem) {
            var labelObject = $(elem).data('labelInfo');
            editLabel({
                geodiLabel: labelObject
            });
        }

        // Etiketlerin yazılarının üzerlerine gelince görüntülenmesi için tooltip ve pinlerin onmouseover ve onmouse leave etiketlerine eklenir.
        function showTooltip(elem, fromTooltip) {
            //console.log(window.event.type)
            var eType = window.event.type;
            if (eType == 'mouseover') {
                if (window.lastout) {
                    window.clearTimeout(window.lastout);
                }
                if (!fromTooltip) {
                    var data = $(elem).data();
                    var text = formatLabelMark(data.labelInfo);
                    var pos = $(elem).position();
                    var x = pos.left;
                    var y = pos.top;
                    $("#tooltipArea").html($(text))
                        .fadeIn();
                    var divW = $("#tooltipArea").width();
                    var divH = $("#tooltipArea").height();
                    var left = (x - divW - 24);
                    var top = (y + $(elem).outerHeight() + 5);
                    $("#tooltipArea").css("left", left);
                    $("#tooltipArea").css("top", top);
                }
            }
            else if (eType == 'mouseleave') {
                window.lastout = window.setTimeout(function () {
                    $("#tooltipArea").fadeOut()
                }, 500);
            }
        }

        function IsViewerObjectsReady() {
            try {
                var zoomData = $('#imgContent').smoothZoom('getZoomData');
                return zoomData != null;
            } catch (e) {
                return false;
            }
        }


        $(window).ready(function () {
            var wsName = StateForm.GetState('wsName');
            var content_id = window.content_id.toString();

            var handler = StateForm.GetState('PreviewHandler');
            if (!handler) handler = "ImageViewer";
            var url = HttpUtility.ResolveUrl('~/' + handler + '?op=GetPreviewImage&content_id=' + content_id + '&wsName=' + window.HttpUtility.UrlEncode(wsName) + "&rnd=" + new Date());

            initContextMenuFor("#zoom_container");
            

            $('#imgContent').attr('src', url);
                       
            initImageViewer();
            initPages(wsName, content_id, handler);
            GenerateLabelsList();

            if (window.currentSectionInfo)
                RunWhenViewerObjectsReady(function () { ___GotoSection(window.currentSectionInfo, ""); });

        });

        function GetPageTitle() {
            return '[$docViewer:image_window_title/js]';
        }


        //GEODI-2976
        function OnSummaryClick(data, alldata, kwItem) {
            ___GotoSection(data.KeywordSection, data.Text);
        }

        function GetAttrBBox(attr) {            
            var minX;
            var minY;
            var maxX;
            var maxY;
            
            var ori = $('#imgContent').data("oriantation");
            var zoomData = $('#imgContent').smoothZoom('getZoomData');

            if (ori == 1) {
                minY = (attr.minX / 100000) * zoomData.normHeight;
                minX = (1 - (attr.maxY / 100000)) * zoomData.normWidth;
                maxY = (attr.maxX / 100000) * zoomData.normHeight;
                maxX = (1 - (attr.minY / 100000)) * zoomData.normWidth;
            }
            else if (ori == 2) {
                maxX = (1 - (attr.minX / 100000)) * zoomData.normWidth;
                maxY = (1 - (attr.minY / 100000)) * zoomData.normHeight;
                minX = (1 - (attr.maxX / 100000)) * zoomData.normWidth;
                minY = (1 - (attr.maxY / 100000)) * zoomData.normHeight;
            }
            else if (ori == 3) {
                maxY = (1 - (attr.minX / 100000)) * zoomData.normHeight;
                maxX = (attr.maxY / 100000) * zoomData.normWidth;
                minY = (1 - (attr.maxX / 100000)) * zoomData.normHeight;
                minX = (attr.minY / 100000) * zoomData.normWidth;
            }
            else {
                minX = (attr.minX / 100000) * zoomData.normWidth;
                minY = (attr.minY / 100000) * zoomData.normHeight;
                maxX = (attr.maxX / 100000) * zoomData.normWidth;
                maxY = (attr.maxY / 100000) * zoomData.normHeight;
            }
            
            return {
                minX: minX,
                minY: minY,
                maxX: maxX,
                maxY: maxY
            };
        }

        function _getSectionBBox(section, text) {
            if (section && section.Attributes.minX != undefined)
                return GetAttrBBox(section.Attributes);
            else
                return null;
        }
        function ___AddSection(section, text,__testLevel) {
            var bb = _getSectionBBox(section, text);
            if (bb) {
                var imgData = $("#imgContent");
                var ratio = _getZoomRatio(imgData);
                if (ratio == "none") {
                    if (!__testLevel) __testLevel = 0;
                    if (__testLevel > 3)
                        ratio = 1.0;
                    else {
                        window.setTimeout(function () {
                            ___AddSection(section, text, __testLevel + 1);
                        })
                        return;

                    }
                }
                var pos = imgData.position();
                var _y = pos.top + (bb.minY * ratio);
                var _x = pos.left + (bb.minX * ratio);

                var width = (bb.maxX - bb.minX) * ratio;
                var height = (bb.maxY - bb.minY) * ratio;

                var el = $("<div class='sectionRect secRect' style='position: absolute; z-index: 2; top: " + _y
                      + "px; left: " + _x + "px; width: " + width + "px; height: " + height
                      //+ "; border:1px solid lightgray; outline:1px solid whitesmoke; color: white; text-shadow: 2px 2px 4px #000000; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center;  ' >" +
                      + "px;  ' >" +
                      "</div>").appendTo($("#zoom_container"));
                if (text)
                    el.attr("title", text);
                el.data("section", section);
                el.data("bb", bb);
                el.data("bbRatio", ratio);
                return el;
            }
        }
        function ___GetZoomedSection() {
            var el = $('#KWRC_KWID');
            if (el.length > 0)
                return { Element: el, Section: el.data("section") };
        }

        function ___GotoSection(section, text, dontZoom) {
            $('#KWRC_KWID').remove();
            var el = ___AddSection(section, text, true);
            if (el) {
                el.attr('id', 'KWRC_KWID');
                $(document.body).trigger("SectionFocus", { Element: el, Section: section });
                el.removeClass("secRect").addClass("secRectF");
                window._section = section;
                var bb = el.data("bb");
                var ratio = el.data("bbRatio");
                if (dontZoom !== true) {
                    $('#imgContent').smoothZoom('focusTo', { x: (bb.minX + bb.maxX) * 0.5, y: (bb.minY + bb.maxY) * 0.5, zoom: Math.max(150, ratio * 100) })
                    smoothZoomChanged();
                }
            }
            return el;
        }
        function smoothZoomChanged() {
            $('.sectionRect').each(function () {
                var obj = $(this);
                _updateSectionZoom(obj.data("section"), obj)
            })
        }
        function _updateSectionZoom(section, obj) {
            if (obj && section && section.Attributes.minX != undefined) {
                var bb = GetAttrBBox(section.Attributes);
                var minX = bb.minX;
                var minY = bb.minY;
                var maxX = bb.maxX;
                var maxY = bb.maxY;

                var imgData = $("#imgContent");
                var ratio = _getZoomRatio(imgData);
                if (ratio == "none") ratio = 1.0;
                var pos = imgData.position();
                var _y = pos.top + (minY * ratio);
                var _x = pos.left + (minX * ratio);

                var width = (maxX - minX) * ratio;
                var height = (maxY - minY) * ratio;

                obj.css({ "left": _x, "top": _y, "width": width, "height": height });//, "width": maxX - minX, "height": maxX - minX });
            }
        }
        function _getZoomRatio(imgData) {
            if (imgData) {
                var txt = imgData.attr("style");
                if (txt && txt.indexOf) {
                    var start_pos = txt.indexOf("scale(");
                    if (start_pos > -1) {
                        start_pos += 6;
                        var end_pos = txt.indexOf(")", start_pos);
                        if (end_pos > -1) {
                            var text_to_eval = txt.substring(start_pos, end_pos);
                            try {
                                return eval(text_to_eval);
                            } catch (ex) { return "none"; }
                        }
                    }
                }
            }
            return "none";
        }


        function initPages(wsName, content_id, handler) {
            window.currentPage = 0;
            if (handler == "ImageViewer") {
                $.ajax({
                    url: HttpUtility.ResolveUrl('~/' + handler + '?op=GetFrameCount&content_id=' + content_id + '&wsName=' + window.HttpUtility.UrlEncode(wsName))
                })
                    .done(function (data) {
                        window.pageCount = parseInt(data);
                        if (window.pageCount > 1) {
                            $('#liPageCount').text(' / ' + window.pageCount.toString());
                            window.InPager = _InitScrollBar(window.pageCount, "#forScrollArea", "#divDocImageContainer", document)
                            if (window.InPager) {
                                window.currentPage = 1;
                                window.InPager.SetActivePage(window.currentPage);
                                //if (window.LayoutSearchData)
                                //    window.InPager.SetSearch2(window.LayoutSearchData);
                                window.InPager.callback = function (pageNum) {
                                    if (pageNum != window.currentPage) {
                                        window.currentPage = pageNum;
                                        var frame = window.currentPage - 1;
                                        var url = HttpUtility.ResolveUrl('~/' + handler + '?op=GetPreviewImage&content_id=' + content_id + '&wsName=' + window.HttpUtility.UrlEncode(wsName) + "&rnd=" + new Date() + "&frame=" + frame);
                                        $('#imgContent').attr('src', url);
                                    }
                                }
                            }
                        }
                    });
            }
        }



    </script>
