﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/pdfjs/pdf.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/pdfjs/viewer.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/pdfjs/viewer.css" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/kh/KeywordHighlight.js" />
<dcc:ResourceControl src="GUI/Control/FullSummary.view.html" />
<dcc:item factoryname="StateForm" />
<link rel="resource" type="application/l10n" href="[=context.ResolveUrl("~/GUI/css/pdfjs/locale/locale.properties")]">
<script>
    function enablePinchZoom(pdfViewer) {
        let startX = 0, startY = 0;
        let initialPinchDistance = 0;
        let pinchScale = 1;
        const viewer = document.getElementById("viewer");
        const container = document.getElementById("viewerContainer");
        const reset = () => { startX = startY = initialPinchDistance = 0; pinchScale = 1; };

        // Prevent native iOS page zoom
        document.addEventListener("touchmove", (e) => { if (e.touches.length > 1 && e.scale !== 1) { e.preventDefault(); } }, { passive: false });

        viewer.addEventListener("touchstart", (e) => {
            if (e.touches.length > 1) {
                startX = (e.touches[0].pageX + e.touches[1].pageX) / 2;
                startY = (e.touches[0].pageY + e.touches[1].pageY) / 2;
                initialPinchDistance = Math.hypot((e.touches[1].pageX - e.touches[0].pageX), (e.touches[1].pageY - e.touches[0].pageY));
            } else {
                initialPinchDistance = 0;
            }
        });

        viewer.addEventListener("touchmove", (e) => {
            if (initialPinchDistance <= 0 || e.touches.length < 2) { return; }

            const pinchDistance = Math.hypot((e.touches[1].pageX - e.touches[0].pageX), (e.touches[1].pageY - e.touches[0].pageY));
            const originX = startX + container.scrollLeft;
            const originY = startY + container.scrollTop;
            pinchScale = pinchDistance / initialPinchDistance;

            viewer.style.transform = `scale(${pinchScale})`;
            viewer.style.transformOrigin = `${originX}px ${originY}px`;
        });

        viewer.addEventListener("touchend", (e) => {
            if (initialPinchDistance <= 0) { return; }

            viewer.style.transform = `none`;
            viewer.style.transformOrigin = `unset`;

            PDFViewerApplication.pdfViewer.currentScale *= pinchScale;
            const rect = container.getBoundingClientRect();
            const dx = startX - rect.left;
            const dy = startY - rect.top;
            container.scrollLeft += dx * (pinchScale - 1);
            container.scrollTop += dy * (pinchScale - 1);

            reset();
        });
    }
</script>

<script>

    eval(StateForm.GetState("ContentIdJS"));
    window.supportOpenBrowser = true;
    //<dcc:GeodiLicensePanel index=26 trial=true>
    if ($("#st_MaskButton").val())
        window.supportDownloadMasked = true;

    //</dcc:GeodiLicensePanel>
    window.webViewerLoad = function () {
        var wsname = StateForm.GetState("wsName");
        if (window.BrowserType.IsGoogleEarth())
            wsname = window.HttpUtility.ToBase64(wsname);
        var config = getViewerConfiguration();
        window.PDFViewerApplication = pdfjsWebApp.PDFViewerApplication;

        pdfjsWebAppOptions.AppOptions.set('imageResourcesPath', HttpUtility.ResolveUrl("~/GUI/img/pdfjs/", false, true));
        var fromBackupQuery = (StateForm.GetState("IsBackupVer") == "1") ? "&FromBackup=1" : "";

        if (window.contentIsNotPDF)
            pdfjsWebAppOptions.AppOptions.set('defaultUrl', HttpUtility.ResolveUrl("~/DefaultOfficeDocumentViewer?op=ToPDF&hash=" + StateForm.GetState("contentHash") + fromBackupQuery));
        else
            pdfjsWebAppOptions.AppOptions.set('defaultUrl', HttpUtility.ResolveUrl("~/GeodiJSONService?op=fileData&content_id=" + window.currentContent.ID + "&wsName=" + wsname + fromBackupQuery));

        window.PDFViewerApplicationOptions = pdfjsWebAppOptions.AppOptions;
        config.mainContainer = document.getElementById('viewerContainer');
        config.viewerContainer = document.getElementById('viewer');
        config.errorWrapper = {
            container: document.getElementById('viewerContainer'),
            errorMessage: document.getElementById('messageP'),
            closeButton: document.getElementById('closeBtn')
        };
        pdfjsWebApp.PDFViewerApplication.run(config);

        window.setTimeout(function () {
            $("#rotateBtn").show();
        }, 1000);

    }

    $(document).on("pagesinit", function (e) {
        var sc = window.contentSection;
        if (!sc) sc = 1;
        window.PDFViewerApplication.pdfDocument.getPage(sc).then(function () {
            setCurrentPage(sc, true);
            window.setTimeout(function () { window.PDFViewerApplication.forceRendering() }, 10);
        });

    });

    document.addEventListener("pagesloaded", function (e) {
        if (!window._enablePinchZoom) {
            window._enablePinchZoom = true;
            enablePinchZoom(window.PDFViewerApplication.pdfViewer)
        }
        $("#leftGrayTool").show();
        $("#firstPageLoading").remove();
        window.currentPage = window.PDFViewerApplication.pdfViewer.getPageView(0);
        window.NotePinSettings = { DPIFactor: window.currentPage.viewport.scale * 0.24 };
        window.NotePinSettings.realheight300DPI = window.currentPage.viewport.height / window.NotePinSettings.DPIFactor;
        window.NotePinSettings.realwidth300DPI = window.currentPage.viewport.width / window.NotePinSettings.DPIFactor;
        initContextMenuFor(window.currentPage.div);



        $(".pgNum1").val(window.PDFViewerApplication.pdfViewer.currentPageNumber);
        var pgCount = (window.PDFViewerApplication && window.PDFViewerApplication.pdfDocument ? window.PDFViewerApplication.pdfDocument.numPages : 0);
        $(".pgNum2").text(" / " + pgCount);

        var pgw = (((pgCount.toString().length) * 12) + 20);
        $(".controlsBg").css("width", ((pgw * 2) + 65) + "px");
        $(".viewerScrollPg").attr("style", "width: " + ((pgw * 2) + 5) + "px !important; margin-top: 8px");
        $(".pgNum1").attr("style", "width: " + pgw + "px !important");
        if (window.PDFViewerApplication.pdfDocument.numPages == 1) {
            $(".pgNum1").hide();
            $(".pgNum2").text("1 / 1");
            $(".pgNum2").parent().attr("style", "width: auto !important; text-align: center");
        }

        $("input[class='pgNum1']").change(function () {
            var goPageNumb = parseInt(($(this).val() ? $(this).val() : 1));
            setCurrentPage(goPageNumb);
        });

        var isIE = /*@cc_on!@*/false || !!document.documentMode;
        var isEdge = !isIE && !!window.StyleMedia;
        if (isEdge)
            $("#mainContainer").attr("style", "background-color: rgba(173, 173, 173, 1) !important");
        var isFirefox = typeof InstallTrigger !== 'undefined';
        if (isFirefox) $("#forScrollArea").css("margin-right", "10px");
        else $("#forScrollArea").css("margin-right", "10px");

        window.InPager = _InitScrollBar(pgCount, "#forScrollArea", null, document, "forScrollArea", null, true);


        if (window.InPager) {
            if (window.LayoutSearchData)
                window.InPager.SetSearch2(window.LayoutSearchData);
            window.InPager.callback = function (pageNum) {
                setCurrentPage(pageNum);

            }
        }


        var highlight = window.StateForm.GetState("highlight");
        if (highlight)
            window.__HiglightText = [highlight];
        //if (window.contentSection) {
        //    var section = window.contentSection;
        //    setCurrentPage(section);
        //}
        insertHighLight();


    });

    $(document).on("pagechange scalechange textlayerrendered", function (e) {
        if (window.__PgEvent)
            window.clearTimeout(window.__PgEvent);
        window.__PgEvent = window.setTimeout(function () {
            if (e.type === "pagechange") {
                var originEvt = e.originalEvent;
                if (originEvt.pageNumber === originEvt.previousPageNumber) return;
                window.currentPage = window.PDFViewerApplication.pdfViewer.getPageView(originEvt.pageNumber - 1);
                window.currentPage.pageNumber = originEvt.pageNumber;
                $(".pgNum1").val(originEvt.pageNumber);
                if (window.scrollElm) {
                    scroolTo(window.scrollElm.page, window.scrollElm.Element);
                    delete window.scrollElm;
                }

            }
            if (e.type === "textlayerrendered")
                insertHighLight();

            if (!window.currentPage)
                window.currentPage = window.PDFViewerApplication.pdfViewer.getPageView(0);
            initContextMenuFor(window.currentPage.div);

            window.NotePinSettings = { DPIFactor: window.currentPage.viewport.scale * 0.24 };
            window.NotePinSettings.realheight300DPI = window.currentPage.viewport.height / window.NotePinSettings.DPIFactor;
            window.NotePinSettings.realwidth300DPI = window.currentPage.viewport.width / window.NotePinSettings.DPIFactor;
            GenerateLabelsList();
        }, 30);
    });

    $(window).ready(function () {

        webViewerLoad();
        var $loadingIconDiv = $("<div/>", { id: "firstPageLoading", class: "viewerLoadingIcon" });
        $loadingIconDiv.appendTo("#viewerContainer");
    });

    $(window).load(function () {
        window.__winLoaded = true;
        $(".text").each(function () {
            var offset = $(this).offset();
            var height = $(this).outerHeight();
            if (offset.top < height) {
                $(this).css("position", "absolute");
                $(this).css("top", 30);
            }
        });
    });

    window.ShowMarks = function (isVisible) {
        $(".mark").css("display", isVisible ? "block" : "none");
    }

    function getViewerConfiguration() {
        return {
            appContainer: document.getElementById("defaultArea"),
            mainContainer: document.getElementById('viewerContainer'),
            viewerContainer: document.getElementById('viewer'),
            outlineView: document.getElementById('outlineView'),
            eventBus: null,
            fullscreen: {
                contextFirstPage: document.getElementById('contextFirstPage'),
                contextLastPage: document.getElementById('contextLastPage'),
                contextPageRotateCw: document.getElementById('contextPageRotateCw'),
                contextPageRotateCcw: document.getElementById('contextPageRotateCcw')
            },
            documentProperties: {
                overlayName: 'documentPropertiesOverlay',
                container: document.getElementById('documentPropertiesOverlay'),
                closeButton: document.getElementById('documentPropertiesClose'),
                fields: {
                    'fileName': document.getElementById('fileNameField'),
                    'fileSize': document.getElementById('fileSizeField'),
                    'title': document.getElementById('titleField'),
                    'author': document.getElementById('authorField'),
                    'subject': document.getElementById('subjectField'),
                    'keywords': document.getElementById('keywordsField'),
                    'creationDate': document.getElementById('creationDateField'),
                    'modificationDate': document.getElementById('modificationDateField'),
                    'creator': document.getElementById('creatorField'),
                    'producer': document.getElementById('producerField'),
                    'version': document.getElementById('versionField'),
                    'pageCount': document.getElementById('pageCountField'),
                    'pageSize': document.getElementById('pageSizeField')
                }
            },
            printContainer: document.getElementById('printContainer'),
            openFileInputName: 'fileInput'
        };
    }

    function CreateLabelForPoint(x1, y1) {

        var offset = $(window.currentPage.div).offset();
        x1 = (x1 - offset.left);
        y1 = (y1 - offset.top);
        var posX = ((x1 / window.currentPage.viewport.width) * window.NotePinSettings.realwidth300DPI);
        var posY = ((y1 / window.currentPage.viewport.height) * window.NotePinSettings.realheight300DPI);

        //var x = (x1 - offset.left) / zoomData.ratio;
        //var y = (y1 - offset.top) / zoomData.ratio;
        var geodiLabel = startAddLabel({
            Section: window.currentPage.pageNumber,
            Attributes: { X: posX, Y: posY }
        });
    }

    function clearHighLight() {
        $(".highlight", ".pdfViewer").each(function () {
            var el = $(this)[0];
            var parent = el.parentNode;
            parent.replaceChild(el.firstChild, el);
            parent.normalize();
        });
    }

    function scroolTo(pageNumber, selector) {

        var currentPageDiv = $('div.pdfViewer [data-page-number=' + pageNumber + ']');
        var el = currentPageDiv.find((selector ? selector : "span.highlight:eq(0)"));
        if (el && el.length > 0) {
            var calc = $("#viewerContainer")[0].scrollTop + ($(el).offset().top);
            $("#viewerContainer").animate({ scrollTop: (calc - 90) }, 100);
            window.firstScroll = false;
        }

    }

    function insertHighLight() {
        window.clearTimeout(window.__stTimer);
        window.__stTimer = window.setTimeout(__insertHighLight, 200);
    }

    function __insertHighLight() {

        if (!window.__HiglightText) return;
        var currentPageNumber = window.currentPage && window.currentPage.pageNumber ? window.currentPage.pageNumber : 1;
        clearHighLight();
        $(".textLayer").each(function () {
            var currentPageDiv = $(this);
            $.each(window.__HiglightText, function (idx, kw) {
                if (currentPageDiv.length > 0) {
                    currentPageDiv.css("opacity", "1");
                    findAndReplace(escapeRegExp(kw), '<span class="highlight selected">' + kw + '</span>', currentPageDiv[0]);
                }
            }
            );

        });
        if (window.scrollRedirect) {
            scroolTo(currentPageNumber);
            delete window.scrollRedirect;
        }

    }

    function OnSummaryProcess(data, kw) {

        if (window.InPager && window.InPager.SetSearch2) {
            window.InPager.SetSearch2([]);
            window.LayoutSearchData = [];
            window.LayoutSearchDataIndex = 0;
            UpdateLayoutSearchGUI();
        }

        var sections = [];
        var nData = [];

        for (var i = 0; i < data.length; i++) {
            if (data[i].KeywordSection && data[i].KeywordSection.Section != '0') {
                var sectionNumb = data[i].KeywordSection.Section;
                if (sections.indexOf(sectionNumb) < 0) {
                    sections.push(sectionNumb);
                    nData.push({ Text: "[$docViewer:page_num/js]".replace("{0}", sectionNumb), KeywordSection: data[i].KeywordSection, kWHigh: data[i].Text });
                }
            }
        }

        return nData;
    }

    function OnSummaryClick(data, alldata, kwItem, disableUpdatePager) {
        if (data) {
            window.firstScroll = true;
            if (!disableUpdatePager && alldata && window.InPager && window.InPager.SetSearch2) {
                window.InPager.SetSearch2(alldata);
                window.LayoutSearchData = alldata;
                window.LayoutSearchDataIndex = 0;
                $("#txtSearch").val("");
                UpdateLayoutSearchGUI();
            }


            if (data.KeywordSection) {
                var section = data.KeywordSection.Section;
                setCurrentPage(section);
            }

            var kwAll = { ___INList: [] };

            if (alldata && alldata.length > 0) {
                for (var i = 0; i < alldata.length; i++) {
                    var d1 = alldata[i];
                    var kW = d1.kWHigh;
                    if (kW != null && kW != undefined && kW.length > 0 && !kwAll[kW.toLowerCase()]) {
                        kwAll[kW.toLowerCase()] = true;
                        kwAll.___INList.push(kW);
                        if (kwAll.___INList.length > 100) break;
                    }
                }
            }
            else {
                var kW = data.kWHigh;
                kwAll.___INList.push(kW);
            }

            window.__HiglightText = kwAll.___INList;
            insertHighLight();
        }
    };

    function setCurrentPage(pageNumb, force) {
        var currentPageNumb = (window.currentPage ? window.currentPage.pageNumber : 1);
        if (pageNumb > window.PDFViewerApplication.pdfDocument.numPages) {
            $("input[class='pgNum1']").val(window.PDFViewerApplication.pdfViewer.currentPageNumber);
            return;
        }
        if (force || pageNumb != currentPageNumb) {
            window.PDFViewerApplication.pdfViewer.currentPageNumber = pageNumb;
            window.PDFViewerApplication.pdfViewer.scrollPageIntoView({ pageNumber: pageNumb })
        }
        else {
            if (window.scrollElm) {
                scroolTo(window.scrollElm.page, window.scrollElm.Element);
                delete window.scrollElm;
            }
        }
        window.scrollRedirect = true;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function zoomIn() {
        window.PDFViewerApplication.eventBus.dispatch('zoomin');
    }

    function zoomOut() {
        window.PDFViewerApplication.eventBus.dispatch('zoomout');
    }

    function showTooltip(elem, fromTooltip) {
        //console.log(window.event.type)
        var eType = window.event.type;
        if (eType == 'mouseover') {
            if (window.lastout) {
                window.clearTimeout(window.lastout);
            }
            if (!fromTooltip) {
                var data = $(elem).data();
                var text = formatLabelMark(data.labelInfo);
                var pos = $(elem).position();
                var x = pos.left;
                var y = pos.top;
                $("#tooltipArea").remove();
                var tooltipArea = $("<div/>", { id: "tooltipArea", class: "FixedToolTip", onmouseover: "showTooltip(this, true)", onmouseleave: "showTooltip(this, true)" });

                tooltipArea.html($(text)).fadeIn();
                var divW = tooltipArea.width();
                var left = (x - divW - 24);
                var top = (y + $(elem).outerHeight() + 5);
                tooltipArea.css("left", left);
                tooltipArea.css("top", top);
                $(window.currentPage.div).append(tooltipArea);

            }
        }
        else if (eType == 'mouseleave') {
            window.lastout = window.setTimeout(function () {
                $("#tooltipArea").fadeOut()
            }, 500);
        }
    }

    function getLabelAdditionalInfoForList(label) {
        if (label.LabelSection && label.LabelSection.Section)
            return '<p>[$docViewer:page/js] : ' + label.LabelSection.Section + '</p>';
        else
            return '';
    }

    function addLabelToNode(geodiLabel, node) {
        
        var imgUrl = HttpUtility.ResolveUrl('~/GUI/img/pin24' + (geodiLabel.ReferenceIsOtherVersion ? 'b' : '') + '.png');
        var id = geodiLabel.LabelId;
        var mark = $('<div id="mark_' + id + '" class="mark" onclick="editMarkLabel(this)"  onmouseover="showTooltip(this)" onmouseleave="showTooltip(this)">\
                    <div>\
                        <img id="tooltipImg_' + id + '" src="' + imgUrl + '" width="24px" height="24px" />\
                    </div>\
                </div>');
        if ($(node).css("position") != "absolute")
            $(node).css("position", "relative");

        var recall = geodiLabel.LabelSection.Attributes.recall; // tekrar ekleme yapılmaya çalışıldığında attribute'dan ulaşılabilsin.
        if (recall) mark.attr("recall", recall);

        var pinTopPercent = geodiLabel.LabelSection.Attributes.Y * 100 / window.NotePinSettings.realheight300DPI;
        var pinLeftPercent = geodiLabel.LabelSection.Attributes.X * 100 / window.NotePinSettings.realwidth300DPI;
        mark.css({ "top": pinTopPercent.toString() + "%", "left": pinLeftPercent.toString() + "%", "position": "absolute" });
        mark.data('labelInfo', geodiLabel);
        $(node).find('#mark_' + id).remove();
        $(node).append(mark);

    }

    function OnLabelAddMark(geodiLabel) {
        if (!geodiLabel.LabelSection) return;
        var currentPageNumber = (window.PDFViewerApplication && window.PDFViewerApplication.pdfViewer ? window.PDFViewerApplication.pdfViewer.currentPageNumber : 1);
        if (geodiLabel.LabelSection.Section === 0)
            geodiLabel.LabelSection.Section = 1;
        if (currentPageNumber != geodiLabel.LabelSection.Section) return;

        var section = geodiLabel.LabelSection.Section;
        if (!section) return;

        var sectionDiv = (window.PDFViewerApplication && window.PDFViewerApplication.pdfViewer ? $(".pdfViewer").find("[data-page-number=" + window.PDFViewerApplication.pdfViewer.currentPageNumber + "]") : $(".pdfViewer div:eq(0)"));

        var timer = window.setInterval(function () {
            if (sectionDiv)
                if (window.NotePinSettings) {
                    clearInterval(timer);
                    addLabelToNode(geodiLabel, sectionDiv);
                }

        }, 200);


    }

    function OnLabelClick(label) {
        var currentPageNumb = (window.currentPage ? window.currentPage.pageNumber : 1);
        if (label.LabelSection && currentPageNumb != label.LabelSection.Section) {
            if (label.LabelSection.Section > 0) {
                setCurrentPage(label.LabelSection.Section);
                window.scrollElm = { element: "#mark_" + label.LabelId, page: label.LabelSection.Section };

            }
        }
        else {
            var markID = label.LabelId;
            $('.mark img').css('border', '');
            $('#mark_' + markID + ' img').css('border', '1px solid blue');
            $('#mark_' + markID + ' img').css('-webkit-border-radius', '3px');
            $('#mark_' + markID + ' img').css('-moz-border-radius', '3px');
            $('#mark_' + markID + ' img').css('border-radius', '3px');
        }
    }

    function editMarkLabel(elem) {
        var labelObject = $(elem).data('labelInfo');
        editLabel({ geodiLabel: labelObject });
    }

    function pdfRotate() {
        window.PDFViewerApplication.eventBus.dispatch('rotatecw');
    }

</script>

<div id="outerContainer">

    <div id="sidebarContainer">
        <div id="toolbarSidebar">
            <div class="splitToolbarButton toggled">
                <button id="viewThumbnail" class="toolbarButton toggled" title="Show Thumbnails" tabindex="2" data-l10n-id="thumbs">
                    <span data-l10n-id="thumbs_label">Thumbnails</span>
                </button>
                <button id="viewOutline" class="toolbarButton" title="Show Document Outline (double-click to expand/collapse all items)" tabindex="3" data-l10n-id="document_outline">
                    <span data-l10n-id="document_outline_label">Document Outline</span>
                </button>
                <button id="viewAttachments" class="toolbarButton" title="Show Attachments" tabindex="4" data-l10n-id="attachments">
                    <span data-l10n-id="attachments_label">Attachments</span>
                </button>
            </div>
        </div>
        <div id="sidebarContent">


            <div id="attachmentsView" class="hidden"></div>
        </div>
        <div id="sidebarResizer" class="hidden"></div>
    </div>

    <div id="mainContainer" class="PDFKeydownArea">

        <div id="thumbnailView"></div>
        <div id="outlineView" class="hidden"> </div>
        <div id="viewerContainer" tabindex="0">
            <div id="loadingBar" style="display: none">
                <div class="progress">
                    <div class="glimmer">
                    </div>
                </div>
            </div>
            <div id="viewer" class="pdfViewer"></div>
        </div>
        <div id="leftGrayTool" class="noSel hidden-xs" style="display: none">
            <div class="noSel controlsBg" style="position: relative; height: 100%; z-index: 1; border-radius: 5px; background-color: rgb(0, 0, 0); opacity: 0.55;">
                <div style="position: absolute; display: block; left: 10px; top: 15px; width: 26px; height: 26px; z-index: 1; opacity: 0.7; cursor: pointer;" class="noSel" onclick="zoomIn()">
                    <div id="_zinorm" style="position: absolute; left: 1px; top: 1px; width: 24px; height: 24px; background: rgb(255, 255, 255); border-radius: 2px; display: block;"></div>
                    <div id="_ziover" style="position: absolute; left: 0px; top: 0px; width: 26px; height: 26px; background: rgb(255, 255, 255); border-radius: 2px; display: none;"></div>
                    <div id="_zi_icon" style="position: absolute; left: 1px; top: 1px; width: 24px; height: 24px; background: transparent url([=c.ResolveUrl("~/GUI/js/imageViewer/icons.png")]) -13px -13px no-repeat;">
                    </div>
                </div>

                <div style="position: absolute; display: block; left: 10px; top: 43px; width: 26px; height: 26px; z-index: 2; opacity: 0.7; cursor: pointer;" class="noSel" onclick="zoomOut()">
                    <div id="_zonorm" style="position: absolute; left: 1px; top: 1px; width: 24px; height: 24px; background: rgb(255, 255, 255); border-radius: 2px; display: block;"></div>
                    <div id="_zoover" style="position: absolute; left: 0px; top: 0px; width: 26px; height: 26px; background: rgb(255, 255, 255); border-radius: 2px; display: none;"></div>
                    <div id="_zo_icon" style="position: absolute; left: 1px; top: 1px; width: 24px; height: 24px; background: transparent url([=c.ResolveUrl("~/GUI/js/imageViewer/icons.png")]) -63px -13px no-repeat;">
                    </div>
                </div>
                <div id="_defSc_pagePos1" class="noHideSearch viewerScrollPg viewerScrollPg2 form-control"><input type="number" onkeypress="return isNumber(event)" class="pgNum1"><span class="pgNum2" style="color: #131313 !important;"></span></div>
            </div>

        </div>

        <div id="rotateBtn" class='ol-control map-slide ol-unselectable AnimateOk RotateButtonContainer' style='z-index:9500; display: none' onclick="pdfRotate()"><button><span class='img-default img-rotate-right24'> </span></button></div>

        <div id="overlayContainer" class="hidden">

            <div id="documentPropertiesOverlay" class="container hidden">
                <div class="dialog">
                    <div class="row">
                        <span data-l10n-id="document_properties_file_name">File name:</span> <p id="fileNameField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_file_size">File size:</span> <p id="fileSizeField">-</p>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <span data-l10n-id="document_properties_title">Title:</span> <p id="titleField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_author">Author:</span> <p id="authorField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_subject">Subject:</span> <p id="subjectField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_keywords">Keywords:</span> <p id="keywordsField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_creation_date">Creation Date:</span> <p id="creationDateField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_modification_date">Modification Date:</span> <p id="modificationDateField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_creator">Creator:</span> <p id="creatorField">-</p>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <span data-l10n-id="document_properties_producer">PDF Producer:</span> <p id="producerField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_version">PDF Version:</span> <p id="versionField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_page_count">Page Count:</span> <p id="pageCountField">-</p>
                    </div>
                    <div class="row">
                        <span data-l10n-id="document_properties_page_size">Page Size:</span> <p id="pageSizeField">-</p>
                    </div>
                    <div class="buttonRow">
                        <button id="documentPropertiesClose" class="overlayButton"><span data-l10n-id="document_properties_close">Close</span></button>
                    </div>
                </div>
            </div>

            <div id="printServiceOverlay" class="container hidden">
                <div class="dialog">
                    <div class="row">
                        <span data-l10n-id="print_progress_message">Preparing document for printing…</span>
                    </div>
                    <div class="row">
                        <progress value="0" max="100"></progress>
                        <span data-l10n-id="print_progress_percent" data-l10n-args='{ "progress": 0 }' class="relative-progress">0%</span>
                    </div>
                    <div class="buttonRow">
                        <button id="printCancel" class="overlayButton"><span data-l10n-id="print_progress_close">Cancel</span></button>
                    </div>
                </div>
            </div>

        </div>

        <div id="printContainer"></div>
