﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiQueryJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/imageViewer/jquery.smoothZoom.js" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GEODI/Viewer.css" />

<dcc:ResourceControl src="GUI/Control/FullSummary.view.html" />
<style>
    .FixedToolTip {
        opacity: 0.8;
        z-index: 1000;
    }
    .OtherVersionLabel {
        /*color*/
    }

    .ScreenItem {
        padding-bottom: 10px;
        box-shadow: 1px 1px 1px #ccc;
        background-color: #fff;
    }

        .ScreenItem:hover {
            background-color: #f9f9f9;
        }

        .ScreenItem a:hover {
            text-decoration: none;
        }

        .ScreenItem img {
            box-shadow: 3px 3px 3px #ccc;
            max-width: 200px;
            max-height: 200px;
        }

        .ScreenItem ~ .ScreenItem {
            margin-top: 10px;
        }

    .VidVertCentered {
        width: 100% !important;
        height: auto !important;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .VidHorizCentered {
        width: auto !important;
        height: 100% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .VidCanvas {
        z-index: 1000;
        pointer-events: none;
    }

    .VidCanvas2 {
        position: absolute;
    }


    .timeBar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: rgba(122, 117, 117, 0.42);
        bottom: 0;
        z-index: 1;
        display: none;
    }

    .timeBarSign {
        height: 12px;
        width: 12px;
        background-color: white;
        bottom: 0;
        z-index: 900;
        position: absolute;
        border-radius: 50%;
        border: 2px solid #000;
        display: none;
        cursor: pointer;
    }

    .redLabel {
        cursor: default !important;
    }


    .gpsNavPanel {
        bottom: 5px;
        width: 100%;
        height: 40%;
        position: absolute;
        text-align: center;
        max-height: 270px;
    }

    .gpsButton {
        z-index: 1000;
        cursor: pointer;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 216, 0);
        filter: drop-shadow(0px 8px 7px #000) opacity(60%) grayscale(100%) sepia(100%) hue-rotate(375deg) brightness(190%) saturate(1000%);
    }

        .gpsButton:hover {
            filter: drop-shadow(0px 8px 7px #000) opacity(100%) grayscale(100%) sepia(100%) hue-rotate(375deg) brightness(190%) saturate(1000%);
        }

        .gpsButton.disabled {
            filter: drop-shadow(0px 8px 7px #000) opacity(30%) grayscale(100%) sepia(100%) hue-rotate(375deg) brightness(190%) saturate(1000%);
            cursor: default;
        }


    .gpsFwButton {
        z-index: 1010 !important;
        height: 30%;
        bottom: 10%;
        width: 10%;
    }

    .gpsBwButton {
        z-index: 1005 !important;
        height: 55%;
        bottom: 34%;
        width: 15%;
    }

    .gpsManButton {
        z-index: 1015 !important;
        height: 25%;
        bottom: -23%;
        left: -7%;
        width: 5%;
    }

    .gpsMapButton {
        z-index: 1015 !important;
        height: 25%;
        bottom: 88%;
        left: 7%;
        width: 5%;
    }

    .gpsSettings {
        z-index: 1100;
        margin: 0 auto;
        text-align: center;
        width: 300px;
        cursor: none;
        pointer-events: none;
        display: none;
        background-color: rgba(0, 0, 0, 0.75);
        margin-top: 21%;
        padding: 20px;
    }

    .gpsSettingsItems {
        z-index: 1100;
        pointer-events: all !important;
        cursor: default !important;
    }

    .gpsSettingsLbl {
        filter: drop-shadow(1px 2px 1px #000);
        color: rgb(255, 216, 0);
        display: inline-block;
        position: relative;
        width: auto;
    }

    .gpsWalkTxt {
        cursor: default !important;
        pointer-events: all !important;
    }

    .vidTime {
        z-index: 1100;
        position: absolute;
        top: 16px !important;
        right: 16px !important;
        filter: drop-shadow(1px 2px 1px #000);
        color: rgb(255, 216, 0);
    }

    .vidModalBack {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .invisible {
        opacity: 0;
        pointer-events: none;
    }
</style>

<dcc:layoutarea name="GEODI_VIDEOVIEWER_RIGHT_PANEL" checkresource="True" targetfolder="GUI/Custom/Viewer/Video/RightPanel" targetmacro='c["geodi"].GetSessionWSName()' datamacro='c["geodi"].GetSessionWS()' />

<div id="videoArea" style="width:100%; height:100%; top:0">
    <dcc:HtmlDataArea name="videoHtml" />
    <div class="gpsSettings">
        <div>
            <span class="gpsSettingsLbl gpsSettingsItems">[$docViewer:video_walk_meter]</span>
            <input class="gpsWalkTxt gpsSettingsItems" type="number" value="" onkeypress="return isNumber(event)" onpaste="return false;" step="5" min="5" max="100000" />
        </div>

        <div>
            <input class="gpsWalkAnimated gpsSettingsItems" type="checkbox">
            <span class="gpsSettingsLbl gpsSettingsItems">[$docViewer:video_animation]</span>
        </div>
    </div>
</div>
<div class="timeBar"></div>
<div class="vidTime"></div>

<script type="text/javascript">

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function CreateLabelForPoint(x1, y1) {
        var x, y;
        if (!StateForm.GetState("IsAudio")) {
            var el = $(".VidCanvas2");
            x1 -= el.offset().left;
            y1 -= el.offset().top;
            var w = el.width();
            var h = el.height();
            x = x1 / w;
            y = y1 / h;
        }
        else
            x = y = 0;

        var geodiLabel = startAddLabel({
            Attributes: {
                StartTime: 0,
                EndTime: 0,
                X: x * 100,
                Y: y * 100,
                GeoWKT: gpsCurCoor()
            }
        },
        null,
                         {
                             Content: function () { return CreateNumberTextBoxDOM(); },//new
                             OnLabelSending: function (newLabel) {
                                 //İnputlardan değerleri oku, newLabel.LabelSection 'a yaz.
                                 newLabel.LabelSection.Attributes.StartTime = $("#txtStartTime").val() ? parseFloat($("#txtStartTime").val()) : 0;
                                 var ttime = $("#txtShowTime").val() ? parseFloat($("#txtShowTime").val()) : 0;
                                 DeceClientState.SetState("video.note.time", ttime, true);
                                 newLabel.LabelSection.Attributes.EndTime = parseFloat(newLabel.LabelSection.Attributes.StartTime) + ttime;
                             },
                             OnLabelSended: function () {
                                 $(window).resize();
                                 onResizeCall();
                                 onVideoTimeUpdate();
                             }
                         }
        );
    }

    window.FullSummaryBottomMargin = 60;
    var showLabelFlag = true;
    var mouseEnterId = 0;
    var timeBarClick = false;
    
    window._VdLabels = [];


    function OnSummaryProcess(data, kw) {
        var nData = [];
        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            if (item.KeywordSection && item.KeywordSection.Attributes && item.KeywordSection.Attributes.StartTime)
                nData.push({ Text: secToTimeText(item.KeywordSection.Attributes.StartTime), KeywordSection: item.KeywordSection, kWHigh: item.Text });
        }
        return nData;
    }
    function secToTimeText(sec) {
        var duration = sec * 1000;
        var milliseconds = parseInt((duration % 1000) / 100),
          seconds = parseInt((duration / 1000) % 60),
          minutes = parseInt((duration / (1000 * 60)) % 60),
          hours = parseInt((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        if (hours != "00")
            return hours + ":" + minutes + ":" + seconds;
        else
            return minutes + ":" + seconds;
    }


    function CreateNumberTextBoxDOM(label) {
        var start, ttime;
        if (label && (label.LabelSection && label.LabelSection.Attributes)) {
            start = label.LabelSection.Attributes.StartTime;
            ttime = Math.round(parseFloat(label.LabelSection.Attributes.EndTime) - parseFloat(label.LabelSection.Attributes.StartTime));
        }
        else {
            var video = document.getElementById("videoStream");
            video.pause();
            start = Math.floor(video.currentTime);
            try {
                ttime = parseFloat(DeceClientState.GetState("video.note.time", 5, true));
            }
            catch (ex1) {
                ttime = 5;
            }
        }
        var html = '<div class="row" style="margin-top:5px">' +
                 '<div class="form-group col-xs-6">' +
                     '<label class="control-label col-xs-6" for="txtStartTime">[$docViewer:start_time/js]</label>' +
                     '<div class="col-xs-6">' +
                         '<input type="number" id="txtStartTime" value=' + start + ' min=0 class="form-control pull-left">' +
                     '</div>' +
                 '</div>' +
                 '<div class="form-group col-xs-6">' +
                     '<label class="control-label col-xs-6" for="txtShowTime">[$docViewer:total_time/js]</label>' +
                     '<div class="col-xs-6">' +
                         '<input type="number" id="txtShowTime" value=' + ttime + ' min=0 class="form-control pull-left">' +
                     '</div>' +
                 '</div>' +
             '</div>';
        return $(html);
    }
    function StartLabelEdit(label) {
        var video = document.getElementById("videoStream");
        video.pause();
        StartVideo(label.LabelSection.Attributes.StartTime);
        editLabel(

                         {
                             geodiLabel: label
                         }
                         ,
                          {
                              Content: function () { return CreateNumberTextBoxDOM(label); },
                              OnLabelSending: function (newLabel) {

                                  //İnputlardan değerleri oku, newLabel.LabelSection 'a yaz.
                                  newLabel.LabelSection.Attributes.StartTime = $("#txtStartTime").val() ? parseFloat($("#txtStartTime").val()) : 0;
                                  var ttime = $("#txtShowTime").val() ? parseFloat($("#txtShowTime").val()) : 0;
                                  DeceClientState.SetState("video.note.time", ttime, true);

                                  newLabel.LabelSection.Attributes.EndTime = parseFloat(newLabel.LabelSection.Attributes.StartTime) + ttime;
                              }
                          }
                 );
    }

    function OnLabelAddMark(geodiLabel) {
        if (!window._videoduration || window._videoduration !== window._videoduration)
            CreateTimeBar(function () { _OnLabelAddMark(geodiLabel) });
        else
            _OnLabelAddMark(geodiLabel);
    }
    function _OnLabelAddMark(geodiLabel) {
        /*
        if (!geodiLabel.LabelSection || !geodiLabel.LabelSection.Attributes || !geodiLabel.LabelSection.Attributes.X)
            return;
         */
        window._VdLabels.push(geodiLabel)

        var newDiv = $("<div class='FixedToolTip " + (geodiLabel.ReferenceIsOtherVersion?"OtherVersionLabel":"")+"'></div>");
        newDiv.attr("id", geodiLabel.LabelId + "_track");
        newDiv.attr("start", geodiLabel.LabelSection.Attributes.StartTime);
        newDiv.attr("end", geodiLabel.LabelSection.Attributes.EndTime);
        newDiv.css("left", (geodiLabel.LabelSection.Attributes.X) + "%");
        newDiv.css("top", (geodiLabel.LabelSection.Attributes.Y) + "%");
        //newDiv.html('<p>' + geodiLabel.UserDescription + '</p>');
        newDiv.html(formatLabelMark(geodiLabel));

        newDiv.hide();

        updateVidOriention();
        $(".VidCanvas2").append(newDiv);

        newDiv.on('click', function (e) {
            StartLabelEdit(geodiLabel);
        });
        newDiv.on('touchstart', function (e) {
            StartLabelEdit(geodiLabel);
        });

        var timeBarSign = $("<div class='timeBarSign pull-left' ></div>");
        timeBarSign.attr("id", geodiLabel.LabelId + "_timeBar");
        var startTime = 0;
        try {
            startTime = parseFloat(geodiLabel.LabelSection.Attributes.StartTime);
        } catch (e) { }
        timeBarSign.css("left", ((startTime / window._videoduration) * 100) + "%");

        $('#videoArea').append(timeBarSign);
        timeBarSign.on('click', function (e) {
            timeBarClick = true;
            OnLabelClick(geodiLabel);
            $(timeBarSign).trigger('mouseleave');
        });
        timeBarSign.on('dblclick', function (e) {
            StartLabelEdit(geodiLabel);
        });

        $(timeBarSign).mouseenter(function () {
            if (!window._vidTT) {
                if (!$(timeBarSign[0]).hasClass("redLabel")) {

                    var el = newDiv.clone();
                    el.css("left", "10px")
                    el.css("top", "10px")
                    window._vidTT = el;


                    $(".timeBar").animate({
                        height: "24"
                    }, 100);
                    $(timeBarSign).animate({
                        height: "24",
                        width: "24",
                        "margin-left": "-6",
                    }, 100);

                    var parent = newDiv.parent();
                    var pos = $(timeBarSign).position();
                    $(parent).append(el);
                    var w = el.width()+30;
                    var h = el.height()+20;
                    var wmax = $(window).width()-w;
                    var hmax = $(window).height()-h;
                    var t = pos.top;
                    var l = pos.left + 20;
                    if ((l+w) >= wmax)
                        l = pos.left - w;
                    if ((t+h) >= hmax)
                        t = pos.top - h+10;

                    el.css({ 'top': t, 'left': l }).fadeIn();
                    $(timeBarSign).css("background-color", "grey");
                    mouseEnterId = geodiLabel.LabelId;
                }
            }
        }).mouseleave(function () {
            if (window._vidTT) {
                {
                    window._vidTT.fadeOut(1,
                        function () {
                            if (window._vidTT) {
                                window._vidTT.remove();
                                delete window._vidTT;


                                $(".timeBar").animate({
                                    height: "12",
                                    "margin-left": "0"
                                }, 100);
                                $(timeBarSign).animate({
                                    height: "12",
                                    width: "12",
                                    "margin-left": "0",
                                }, 100);

                                $(timeBarSign).css("background-color", "white");
                                mouseEnterId = 0;
                            }
                        });
                }
            }
        });
        onResizeCall();
    }

    function CreateTimeBar(callback) {
        var video = document.getElementById("videoStream");
        try {
            window._videoduration = video.duration;
            if (callback && window._videoduration !== window._videoduration) {
                window.setTimeout(function () {
                    CreateTimeBar(callback);
                }, 300);
                return;
            }

            if (window._videoduration < 1)
                window._videoduration = 1;
        } catch (e) { }

        var showTimeBar = false;
        for (var i = 0; i < window._VdLabels.length; i++) {
            showTimeBar = true;
            var geodiLabel = window._VdLabels[i];
            var startTime = 0;
            try {
                startTime = parseFloat(geodiLabel.LabelSection.Attributes.StartTime);
            } catch (e) { }

            var sign = $("#" + geodiLabel.LabelId + "_timeBar");
            var m = 41; 
            var width = $(".VidCanvas2").width();
            if (!width)
                width = $("#videoStream").width();
            var val = ((width - m * 2) * ((startTime / window._videoduration)) + m) + "px";
            sign.css("left", val);
        }
        if (showTimeBar)
            $(".timeBar, .timeBarSign").fadeIn();
        if (callback)
            callback();
    }

    window.ShowMarks = function (isVisible) {
        showLabelFlag = isVisible;
    }

    function OnLabelListUpdate() {
        $(".timeBarSign").remove();
        $(".timeBar").fadeOut();
        window._VdLabels = [];
        $(".FixedToolTip").remove();
        CreateTimeBar();
    }

    function getLabelAdditionalInfoForList(label) {
        if (label.LabelSection && label.LabelSection.Attributes) {
            var text = '';
            if (label.LabelSection.Attributes.StartTime)
                text += '<p>[$docViewer:start_time/js] : ' + label.LabelSection.Attributes.StartTime + '</p>';
            if (label.LabelSection.Attributes.EndTime)
                text += '<p>[$docViewer:total_time/js] : ' + (parseFloat(label.LabelSection.Attributes.EndTime) - parseFloat(label.LabelSection.Attributes.StartTime)) + '</p>';
            return text;
        }
        else
            return '';
    }


    function getInternetExplorerVersion() {
        var rv = -1;
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat(RegExp.$1);
        }
        else if (navigator.appName == 'Netscape') {
            var ua = navigator.userAgent;
            var re = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat(RegExp.$1);
        }
        return rv;
    }

    $(window).ready(function () {
        var url = HttpUtility.ResolveUrl("~/GeodiJSONService?op=fileData&content_id=" +
                   window.currentContent.ID + "&wsName=" + HttpUtility.UrlEncode(StateForm.GetState("wsName")) + "&r=4");
        var html;
        if (window.currentContent && window.currentContent.ContentTypeKey == "filecontent:.wav" && getInternetExplorerVersion() != -1) {
            html = '<embed id="videoStream" type="audio/wav" src="' + url + '" autostart="true" style="width:100%; height:100%;"/>' +
            '<div class="close-modal fade-control"></div>';
            //window.IsEmbedMode = true;
            $("#panelLabels").hide();
            $(".timeBar").css("display", "none");
        }
        else if (window.currentContent && window.currentContent.ContentTypeKey == "filecontent:.mov" && getInternetExplorerVersion() != -1) {
            html = '<embed id="videoStream" type="video/quicktime" src="' + url + '" autostart="true" style="width:100%; height:100%;"/>' +
            '<div class="close-modal fade-control"></div>';
            //window.IsEmbedMode = true;
            $("#panelLabels").hide();
            $(".timeBar").css("display", "none");
            if (typeof disableFullSummary !== 'undefined' && $.isFunction(disableFullSummary) && !StateForm.GetState("IsAudio"))
                disableFullSummary();
        }
        else {
            html = false;
            if (typeof disableFullSummary !== 'undefined' && $.isFunction(disableFullSummary) && !StateForm.GetState("IsAudio"))
                disableFullSummary();
        }

        if (html)
            $("#videoArea").html(html);
        onResizeCall();
        initContextMenuFor("#videoArea");

        //timebar
        $('#videoArea').click(function (e) {
           timeBarClick = false;
        });

        var video = $("#videoStream");
        updateRelatedDocuments();

        var firstTime = true;
        video.on('canplay', function () {
            if (firstTime) {
                var cmd = StateForm.GetState("StartTimeValue");
                if (cmd)
                    eval(cmd);
                else
                    StartVideo();

                firstTime = false;
            }
        });

        //get HTML5 video time duration
        video.on('loadedmetadata', function () {
            CreateTimeBar();
        });

    });

    function _onVideoTimeUpdate(currentTime) {
        for (var i = 0; i < window._VdLabels.length; i++) {
            var geodiLabel = window._VdLabels[i];
            if (geodiLabel.LabelSection) {
                var overlay = $("#" + geodiLabel.LabelId + '_track');
                var show = (currentTime >= geodiLabel.LabelSection.Attributes.StartTime && currentTime < geodiLabel.LabelSection.Attributes.EndTime) && showLabelFlag;
                var el = $("#" + geodiLabel.LabelId + '_timeBar');
                if (show) {
                    overlay.show();
                    el.css("border-color", "red");
                    el.addClass("redLabel");
                }
                else {
                    if (el.hasClass("redLabel")) {
                        if (mouseEnterId == 0 || mouseEnterId != geodiLabel.LabelId)
                            overlay.fadeOut();
                        el.css("border-color", "black");
                        el.removeClass("redLabel");
                    }
                }
            }
        }
    }


    $(window).keypress(function (e) {
        if ($("#modalDialog").data('bs.modal') && $("#modalDialog").data('bs.modal').isShown)
            return;
        if (e && e.which == 32) {
            var video = document.getElementById("videoStream");
            if (e.target == video) return;
            if (video.paused == true)
                video.play();
            else
                video.pause();
        }
    });


    function updateRelatedDocuments() {
        if (!window.isDesktopOpenWith) {
            if (window._relDocs)
                window.clearTimeout(window._relDocs);

            window._relDocs = window.setTimeout(function () {
                _updateRelatedDocuments();
                delete window._relDocs;
            }, 1000);
        }
        onResizeCall();
    }
    function _updateRelatedDocuments() {
        var dfBBOX = getCurrentBBoxText();
        if (dfBBOX && (window._lastPreBBOX != dfBBOX)) {
            window._lastPreBBOX = dfBBOX;
            appendRelatedDocuments(dfBBOX);
            renderVidPreviews(dfBBOX);
        }
    }
    function renderVidPreviews(dfBBOX) {
        window.videoDocPanel.empty();
        _RenderSubQuery(
               'doc:cat:Video -docid:' + window.currentContent.ID + ' Layer:Default_GeometryRecognizer related:' + dfBBOX + ' orderby:Date',
              window.videoDocPanel,
              window.videoDocPanel.parent(), 0,
              function (o) {
                  o.GetViewerExtraUrlParam = function () {
                      return "&dfBBOX=" + dfBBOX;
                  }
                  o._OnEndRenderF = o.OnEndRender;
                  o.OnEndRender = function () {
                      o._OnEndRenderF.apply(this, arguments);
                      window.setTimeout(function () { window.videoDocPanelAppcheck(true); }, 100);
                  }
                  o.OnStartRender = function (args) {
                      args.__Enter = "\r\n";
                      args.Template = '<d:r data=data>' +
                       '<div align=center class="ScreenItem IsDoc img-loading24"  {{ data.QueryAttr }}  ><a {{TemplateToHtml(window.HtmlTemplates.DefaultOpenAttributes,data,context) }} DisableNewWindow=1><div class="divPanelTitleText divPanelTitleTextEx"> {{data.DisplayName }}</div>' +
                       '<d:r visible="(data.AdditionalValues && data.AdditionalValues.Date)">' +
                       '<small style="color: gray;display: block;" title="{{ var docDt = moment(new Date(data.AdditionalValues.Date)); ' +
                             '\'[$docViewer:video_record_time/js]\' +  docDt.format(\'L\') + \' \' +context.__Enter+ ' +
                             '\'[$docViewer:video_due_now/js]\' + docDt.fromNow() + \'\' +context.__Enter+ ' +
                             '\'[$docViewer:video_due_playingVid/js]\' + docDt.from(new Date(currentContent.ContentDate.UTC)) }}">' +
                             '{{ var docDt = moment(new Date(data.AdditionalValues.Date)); docDt.from(new Date(currentContent.ContentDate.UTC)) }} </small>' +
                       '</d:r>' +
                       '<img class="vdTempImage" style="min-height:110px" src_tmp="{{ (\'~/VideoGPSHandler?op=GetPreview&wsName=\' + HttpUtility.UrlEncode(StateForm.GetState("wsName")) + \'&ContentId=\' + data.ContentIdentifier + \'&bbox=' + dfBBOX + '\')}}" ></a></div>' +
                       '</d:r>';
                  }
                  o.Query.EndIndex = o.Query.StartIndex + 100;
              }
          );
    }
    function appendRelatedDocuments(dfBBOX) {
        if (!window.videoDocPanel) {
            window.videoDocPanel = CreatePanelForViewer("[$docViewer:tab_screens/js]", "400px");
            window.videoDocPanel.parent().hide();
            window.videoDocPanel.addClass("viewerRightPanel");
            window.videoDocPanel.parent().addClass("appearTarget");

            window.videoDocPanelAppcheck = function (forscroll) {
                if (window.___wtmp1) window.clearTimeout(window.___wtmp1);
                $(".vdTempImage:appeared").each(function () {
                    let img = $(this);
                    let fnc1 = function () {
                        if (img.is(":appeared")) {
                            img.removeClass("vdTempImage");
                            img.attr("src", HttpUtility.ResolveUrl(img.attr("src_tmp")));
                        }
                    }

                    if (forscroll)
                        window.setTimeout(fnc1, 100)
                    else
                        fnc1();

                })
            };
            window.videoDocPanel.scroll(window.videoDocPanelAppcheck);
            window.videoDocPanel.on('shown.bs.collapse', window.videoDocPanelAppcheck);
            $(window).resize(function () { if (window.___wtmp1) window.clearTimeout(window.___wtmp1); window.___wtmp1 = window.setTimeout(window.videoDocPanelAppcheck, 1000) })

            window.intsDocPanel = CreatePanelForViewer("[$docViewer:tab_intersects/js]");
            window.intsDocPanel.parent().hide();
            window.intsDocPanel.addClass("viewerRightPanel");
            //add renderer!
            _RenderSubQuery(
                 '-doc:cat:Video related:' + dfBBOX,
                window.intsDocPanel,
                window.intsDocPanel.parent(), 0,
                function (o) {
                    o.Query.EndIndex = 100;
                }
            );
        }
    }

    function getGpsInfo() {
        if (!window._Geodi360ButtonsEnabled)
            return null;
        if (!window._gpsInfo) {
            window._gpsInfo = "noinfo";
            var gpsTxt = StateForm.GetState("GPSInfo");
            if (gpsTxt) {
                var gpsInfo = JSON.parse(gpsTxt);
                if (gpsInfo && gpsInfo.Items && gpsInfo.Items.length)
                    window._gpsInfo = gpsInfo;
            }
        }
        return (window._gpsInfo != "noinfo") ? window._gpsInfo : null;
    }

    function updateGpsNavigateButtons() {
        if (!window.__gpsVideoInited &&  $('.VidCanvas2').length) {
            $('.VidCanvas2').on('click',onVidCanvas2Clicked);
            $('.gpsSettingsItems').on('click', function (e) {
                e.stopPropagation();
            });

            var $video = $('video');
            $video.on('play', onVideoPlay);
            $video.on('pause', onVideoPaused);
            $video.on('canplaythrough', updateGpsNavigateButtons);
            $video.on('timeupdate', onVideoTimeUpdate);

            $(".gpsNavPanel").remove();
            var gpsInfo = getGpsInfo();
            if (gpsInfo && gpsInfo.Items && gpsInfo.Items.length) {
                window.__gpsLastHasPre = _gpsMSec(false);
                window.__gpsLastHasNxt = _gpsMSec(true);
                var el =
                   $("<div class='gpsNavPanel'>" +
                        "<div class='gpsButton gpsManButton img-360man'  title='[$default:settings/js]' onclick='gpsSettings(window.event)'></div>" +
                        "<div class='gpsButton gpsFwButton img-360fw" + (window.__gpsLastHasNxt ? "" : " disabled") + "' title='[$default:next/js]' onclick='gpsNext()'></div>" +
                        "<div class='gpsButton gpsBwButton img-360bw" + (window.__gpsLastHasPre ? "" : " disabled") + "' title='[$default:previous/js]' onclick='gpsPrev()'></div>" +
                        "<div class='gpsButton gpsMapButton img-360map" + (window.isDesktopOpenWith ? " invisible" : "") + "' title='[$default:map/js]' onclick='gpsMap(window.event)'></div>" +
                      "</div>");


                el.appendTo($(".VidCanvas2"));
            }
            window.__gpsVideoInited = true;
        }
        else {
            var msecPre = _gpsMSec(false);
            if (window.__gpsLastHasPre != msecPre) {
                window.__gpsLastHasPre = msecPre;
                if (window.__gpsLastHasPre)
                    $(".gpsBwButton").removeClass("disabled");
                else
                    $(".gpsBwButton").addClass("disabled");
            }
            var msecNxt = _gpsMSec(true);
            if (window.__gpsLastHasNxt != msecNxt) {
                window.__gpsLastHasNxt = msecNxt;
                if (window.__gpsLastHasNxt)
                    $(".gpsFwButton").removeClass("disabled");
                else
                    $(".gpsFwButton").addClass("disabled");
            }
        }
    }
    function gpsPrev() {
        if (!$('.vidModalOpened').length) {
            var mSec = _gpsMSec(false);
            if (mSec != null)
                gotoTime(mSec / 1000);
        }
    }
    function gpsNext() {
        if (!$('.vidModalOpened').length) {
            var mSec = _gpsMSec(true);
            if (mSec != null)
                gotoTime(mSec / 1000);
        }
    }
    function gpsMap(e) {
        if (!$('.vidModalOpened').length) {
            var bbox = getCurrentBBox(true);
            if (bbox) {
                var is_chrome = window.navigator && navigator.userAgent && navigator.vendor && ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.vendor.toLowerCase().indexOf("google") > -1));
                if (is_chrome && window.opener && IsAccessableObject(window.opener, "GoMap") && window.opener.name) {
                    window.open('', window.opener.name).focus();
                    window.opener.GoMap([bbox.MinX, bbox.MinY, bbox.MaxX, bbox.MaxY]);
                }
                else {
                    var wsName = StateForm.GetState("wsName");
                    var dfOpener = GetUrlParameter("dfOpener");
                    if (dfOpener == "null" || !dfOpener) dfOpener = "";
                    dfOpener = HttpUtility.UrlDecode(dfOpener);
                    dfOpener = dfOpener.split("\\")[0];
                    _PSCC.Command({ Command: 'OpenWindow', Name: wsName, Url: "~/" + dfOpener + "?wsName=" + HttpUtility.UrlEncode(wsName) + "&Tab=MAP&BBOX=" + getBBoxText(bbox) }, null, e);
                }
            }
        }
    }

    function get_gpsSettings() {
        var meter;
        if (window.localStorage.hasOwnProperty("_gpsPrevNextMeter"))
            meter = window.localStorage["_gpsPrevNextMeter"];
        if (!meter)
            meter = 30;
        else
            meter = parseFloat(meter);

        var animated;
        if (window.localStorage.hasOwnProperty("_gpsAnimated"))
            animated = window.localStorage["_gpsAnimated"];
        else
            animated = "false";

        return { Meter: meter, Animated: animated == "true" ? true : false };
    }
    function set_gpsSettings(stt) {
        window.localStorage["_gpsPrevNextMeter"] = stt.Meter;
        window.localStorage["_gpsAnimated"] = stt.Animated;
    }
    function gpsSettings(e) {
        if (!window._gpsSettingsIsOpen) {
            window._gpsSettingsIsOpen = true;
            $('.VidCanvas2').addClass('vidModalBack');
            var stt = get_gpsSettings();
            $(".gpsWalkTxt").val(stt.Meter);
            $(".gpsWalkAnimated").prop('checked', stt.Animated ? true : false);
            $(".gpsSettings").fadeIn(function () {
                $(".gpsWalkTxt").focus();
                $('.VidCanvas2').addClass('vidModalOpened');
            });
        }
    }
    function onVidCanvas2Clicked() {
        if ($('.vidModalOpened').length)
            closeGpsSettings();
    }
    function closeGpsSettings() {
        $('.VidCanvas2').removeClass('vidModalBack').removeClass('vidModalOpened');
        set_gpsSettings({ Meter: $(".gpsWalkTxt").val(), Animated: $(".gpsWalkAnimated").is(':checked') });
        $(".gpsSettings").fadeOut(function () {
            delete window._gpsSettingsIsOpen;
        });
    }

    function getBBoxText(bbox) {
        return bbox.MinX + "," + bbox.MinY + "," + bbox.MaxX + "," + bbox.MaxY;
    }


    function gpsCurCoor() {
        var video = document.getElementById("videoStream");
        if (video) {
            var curMSec = video.currentTime * 1000;
            var coor = _gpsCoor(curMSec);
            if (coor)
                return "POINT(" + coor.X + " " + coor.Y + ")";
        }
        return null;
    }

    function _gpsMSec(next) {
        var gpsInfo = getGpsInfo();
        if (gpsInfo && (gpsInfo.Items.length > 1)) {
            var video = document.getElementById("videoStream");
            if (video) {
                var curMSec = video.currentTime * 1000;

                if (curMSec <= 0) {
                    if (!next)
                        return null;
                    else
                        return gpsInfo.Items[1].MSec;
                }
                else if (curMSec >= gpsInfo.Items[gpsInfo.Items.length - 1].MSec) {
                    if (next)
                        return null;
                    else
                        return gpsInfo.Items[gpsInfo.Items.length - 2].MSec;
                }

                var curCoor = _gpsCoor(curMSec);
                if (curCoor) {
                    var meter = get_gpsSettings().Meter;
                    var pre; var nxt;
                    if (next) {
                        for (var i = 0; i < gpsInfo.Items.length; i++) {
                            var item = gpsInfo.Items[i];
                            if (item.MSec < curMSec)
                                pre = item;
                            else {
                                nxt = item;
                                var dist = _gpsDist(curCoor, nxt);
                                if (dist >= meter)
                                    break;
                            }
                        }
                    }
                    else {
                        for (var i = gpsInfo.Items.length - 1; i >= 0; i--) {
                            var item = gpsInfo.Items[i];
                            if (item.MSec > curMSec)
                                nxt = item;
                            else {
                                pre = item;
                                var dist = _gpsDist(curCoor, pre);
                                if (dist >= meter)
                                    break;
                            }
                        }
                    }

                    if (pre && nxt) {
                        var dist = _gpsDist(pre, nxt);
                        if (dist > 0) {
                            var dMsec = nxt.MSec - pre.MSec;
                            if (dMsec > 0) {
                                var d = dMsec * (meter / dist);
                                if (next)
                                    return curMSec + d;
                                else
                                    return curMSec - d;
                            }
                        }
                    }
                }
            }
        }
        return null;
    }

    function getCurrentBBoxText() {
        var bbox = getCurrentBBox();
        if (bbox)
            return getBBoxText(bbox);
    }
    function getCurrentBBox(forMap) {
        var video = document.getElementById("videoStream");
        if (video) {
            var curMSec = video.currentTime * 1000;
            var hX = 0.000000001;
            var hY = hX;

            if (!forMap) {
                var hs = _getUrlBBox_halfSize(curMSec);
                if (hs) {
                    hX = hs.hX;
                    hY = hs.hY;
                }
            }

            return _gpsBBox(curMSec, hX, hY);
        }
    }

    function _getUrlBBox_halfSize(curMSec) {
        var dfBBOX = GetUrlParameter("dfBBOX");
        if (dfBBOX) {
            var arrStr = dfBBOX.split(',');
            if (arrStr.length == 4) {
                var minX = parseFloat(arrStr[0]);
                var minY = parseFloat(arrStr[1]);
                var maxX = parseFloat(arrStr[2]);
                var maxY = parseFloat(arrStr[3]);
                var hX = (maxX - minX) * 0.5;
                var hY = (maxY - minY) * 0.5;
                return {
                    hX: hX,
                    hY: hY
                };
            }
        }
        else {
            var c = _gpsCoor(curMSec);
            var hXY = 0.000000001;
            if (c) {
                var meter = Calculate4386ToMeterEstimatedWithYCoord(c.Y);
                hXY = 60 / meter;
            }
            return {
                hX: hXY,
                hY: hXY
            };
        }
    }
    function _gpsBBox(mSec, hX, hY) {
        var c = _gpsCoor(mSec);
        if (c) {
            return {
                MinX: c.X - hX,
                MinY: c.Y - hY,
                MaxX: c.X + hX,
                MaxY: c.Y + hY
            };
        }
    }
    function _gpsCoor(mSec) {
        var gpsInfo = getGpsInfo();
        if (gpsInfo) {
            var pre = null;
            for (var i = 0; i < gpsInfo.Items.length; i++) {
                var item = gpsInfo.Items[i];
                if (item.MSec == mSec)
                    return { X: item.X, Y: item.Y };

                if (item.MSec < mSec)
                    pre = item;
                else {
                    if (!pre)
                        pre = item;
                    break;
                }
            }
            if (pre) {
                var nxt = null;
                for (var i = 0; i < gpsInfo.Items.length; i++) {
                    var item = gpsInfo.Items[i];
                    if (item.MSec == mSec)
                        return { X: item.X, Y: item.Y };

                    if ((item.MSec > mSec) && (item.MSec > pre.MSec)) {
                        nxt = item;
                        break;
                    }
                }
                if (nxt) {
                    var dist = _gpsDist(pre, nxt);
                    if (dist > 0) {
                        var dMsec = nxt.MSec - pre.MSec;
                        if (dMsec > 0) {
                            var ratio = (mSec - pre.MSec) / dMsec;
                            return {
                                X: pre.X + (nxt.X - pre.X) * ratio,
                                Y: pre.Y + (nxt.Y - pre.Y) * ratio
                            };
                        }
                    }
                }

                return {
                    X: pre.X,
                    Y: pre.Y
                };

            }
        }
    }
    function _gpsDist(pre, nxt) {
        var dx = nxt.X - pre.X;
        var dy = nxt.Y - pre.Y;
        return Math.sqrt(dx * dx + dy * dy) * Calculate4386ToMeterEstimatedWithYCoord((nxt.Y + pre.Y) * 0.5);
    }
    function Calculate4386ToMeterEstimatedWithYCoord(MiddleY) {
        var cosVal = Math.abs(Math.cos(Math.abs(MiddleY) * 0.01745329251994329576923690768489));
        if (cosVal == 0) return 0;
        return (cosVal * 111000);
    }


    function OnLabelClick(data) {
        if (data && data.LabelSection && data.LabelSection.Attributes && data.LabelSection.Attributes.StartTime) {
            StartVideo(data.LabelSection.Attributes.StartTime);
        }
    }
    function OnSummaryClick(data, alldata, kwItem) {
        if (data && data.KeywordSection && data.KeywordSection.Attributes && data.KeywordSection.Attributes.StartTime) {
            updateSectionRects(data, true);
        }
    }

    $(window).on('resize', function () {
        updateSectionRects();
    });
    function updateSectionRects(data, play) {
        if (data && !data.KeywordSection) {
            data = null;
            var video = document.getElementById("videoStream");
            if (video.currentTime != window._vidSecDataCurrentTime) {
                clearSectionRects();
                return;
            }
        }

        if (!data)
            data = window._vidSecData;
        else
            window._vidSecData = data;

        if (data) {
            var video = document.getElementById("videoStream");
            if (!video.paused)
                video.pause();
            if (play) {
                video.currentTime = data.KeywordSection.Attributes.StartTime + 0.03;

                drawSecTxtOnVid(data.KeywordSection, data.kWHigh);
                drawSecRect(data.KeywordSection, data.kWHigh);
            }
            window._vidSecDataCurrentTime = video.currentTime;
        }

        updateVidOriention();
    }

    function updateVidOriention() {
        if (StateForm.GetState("IsAudio")) return;
        var $video = $('video');
        var video = $video[0];

        var $VidCanvas = $('.VidCanvas');
        var $VidCanvas2 = $('.VidCanvas2');
        if (!($VidCanvas && $VidCanvas.length)) {
            $video.before('<canvas class="VidCanvas"></canvas>');
            $VidCanvas = $('.VidCanvas');

            $video.before('<div class="VidCanvas2"></div>');
            $VidCanvas2 = $('.VidCanvas2');
        }

        var VidCanvas = $VidCanvas[0];
        var VidCanvas2 = $VidCanvas2[0];

        var parent = $video.parent();
        var w = parent.visibleWidth();
        var h = parent.visibleHeight();
        var r1 = w / h;
        var r2 = video.videoWidth / video.videoHeight;
        var isHoriz =(r1 / r2) > 1;
        if (isHoriz)
            setVidHorizCentered([video, VidCanvas]);
        else
            setVidVertCentered([video, VidCanvas]);

        VidCanvas.width = video.clientWidth;
        VidCanvas.height = video.clientHeight;

        var pos = $VidCanvas.position();

        $VidCanvas2.css('top', pos.top);
        $VidCanvas2.css('left', pos.left);

        $VidCanvas2.width(video.clientWidth).height(video.clientHeight);

        var el = $(".timeBar, .timeBarSign, .gpsSettings, .vidTime");
        el.appendTo($VidCanvas2);
        updateVideoTimeText();
        return VidCanvas;
    }

    function clearSectionRects() {
        drawSecTxtOnVid();
        $(".sectionRect").remove();
        delete window._vidSecData;
    }
    function drawSecTxtOnVid(section, text) {
        var VidCanvas = updateVidOriention();
        if (VidCanvas) {
            var context = VidCanvas.getContext('2d');

            context.font = "12px verdana";
            context.lineWidth = 1;
            context.shadowColor = "black";
            context.fillStyle = "white";
            context.strokeStyle = "black";

            context.clearRect(0, 0, VidCanvas.width, VidCanvas.height);
            if (section) {
                var attr = section.Attributes;
                var minX = VidCanvas.width * attr.minX / 100000;
                var minY = VidCanvas.height * attr.minY / 100000;
                var maxX = VidCanvas.width * attr.maxX / 100000;
                var maxY = VidCanvas.height * attr.maxY / 100000;

                context.shadowBlur = 3;
                context.strokeText(text, minX, maxY + 10);
                context.shadowBlur = 0;
                context.fillText(text, minX, maxY + 10);
            }
        }
    }
    function setVidHorizCentered(elements) {
        for (var i = 0; i < elements.length; i++) {
            var $el = $(elements[i]);
            $el.addClass("VidHorizCentered");
            $el.removeClass("VidVertCentered");
        }
    }
    function setVidVertCentered(elements) {
        for (var i = 0; i < elements.length; i++) {
            var $el = $(elements[i]);
            $el.addClass("VidVertCentered");
            $el.removeClass("VidHorizCentered");
        }
    }
    $.fn.visibleHeight = function () {
        var elBottom, elTop, scrollBot, scrollTop, visibleBottom, visibleTop;
        scrollTop = $(window).scrollTop();
        scrollBot = scrollTop + $(window).height();
        elTop = this.offset().top;
        elBottom = elTop + this.outerHeight();
        visibleTop = elTop < scrollTop ? scrollTop : elTop;
        visibleBottom = elBottom > scrollBot ? scrollBot : elBottom;
        return visibleBottom - visibleTop;
    }
    $.fn.visibleWidth = function () {
        var elRight, elLeft, scrollBot, scrollLeft, visibleRight, visibleLeft;
        scrollLeft = $(window).scrollLeft();
        scrollBot = scrollLeft + $(window).width();
        elLeft = this.offset().left;
        elRight = elLeft + this.outerWidth();

        visibleLeft = elLeft < scrollLeft ? scrollLeft : elLeft;
        visibleRight = elRight > scrollBot ? scrollBot : elRight;
        return visibleRight - visibleLeft
    }

    function clearSecRect() {
        $(".vidSecRect").remove();
    }
    function drawSecRect(section, text, dontZoom) {
        clearSecRect();
        var el = getSectionRectEl(section, text, true);
        if (el)
            el.appendTo($("#videoArea"));
        return el;
    }
    function _getSectionBBox(section, text) {
        if (section && section.Attributes.minX != undefined) {
            var el = $("#videoStream");
            var w = el[0].clientWidth;
            var h = el[0].clientHeight;
            return GetAttrBBox(section.Attributes, w, h);
        }
        else
            return null;
    }
    function getSectionRectEl(section, text) {
        var bb = _getSectionBBox(section, text);
        if (bb) {
            var imgData = $("#videoStream");
            var pos = imgData.position();
            var _y = pos.top + (bb.minY);
            var _x = pos.left + (bb.minX);

            var width = (bb.maxX - bb.minX);
            var height = (bb.maxY - bb.minY);

            var el = $("<div class='vidSecRect sectionRect secRectF' style='position: absolute; z-index: 2; top: " + _y
                  + "px; left: " + _x + "px; width: " + width + "px; height: " + height
                  + "px;  ' >" +
                  "</div>");
            return el;
        }
    }
    function GetAttrBBox(attr, width, height) {
        return {
            minX: (attr.minX / 100000) * width,
            minY: (attr.minY / 100000) * height,
            maxX: (attr.maxX / 100000) * width,
            maxY: (attr.maxY / 100000) * height
        };
    }

    function StartVideo(time) {
        setVideoCurrentTime(time);
    }
    function setVideoCurrentTime(time, dontUpdateRelatedDocs) {
        clearSecRect();
        if (time) {
            var video = document.getElementById("videoStream");
            video.currentTime = time;
        }
        if (!dontUpdateRelatedDocs)
            updateRelatedDocuments();
    }
    function playVideo(callback) {
        var video = document.getElementById("videoStream");
        var playPromise = video.play();
        if (playPromise !== undefined) {
            playPromise.then(function () {
                if (!callback)
                    callback();
            }).catch(function (error) {
            });
        }
    }

    function onVideoTimeUpdate() {
        var time = this.currentTime;
        window.VideoCurrentTime = time;
        if (time === undefined)
        {
            var video = document.getElementById("videoStream");
            if (video)
                time = video.currentTime;
        }

        if (time !== undefined) {
            _onVideoTimeUpdate(time);
            if (window.hasOwnProperty("_gotoTime"))
                if (time >= window._gotoTime) {
                    this.pause();
                    this.playbackRate = 1;
                    delete window._gotoTime;
                }
        }
        //updateRelatedDocuments();
    }

    function _aminate(callID, video, curTime, incr, max, time) {
        window.setTimeout(function () {
            if (callID == window._lastGotoTimeCallID && video.paused) {
                curTime += incr;
                if (curTime < max) {
                    setVideoCurrentTime(curTime, true);
                    _aminate(callID, video, curTime, incr, max);
                }
                else
                    setVideoCurrentTime(time);
            }
        }, 350);
    }
    function gotoTime(time) {
        if (!window._lastGotoTimeCallID)
            window._lastGotoTimeCallID = 1;
        var callID = ++window._lastGotoTimeCallID;

        if (!get_gpsSettings().Animated)
            setVideoCurrentTime(time);
        else {
            var video = document.getElementById("videoStream");
            if (video.paused) {
                var curTime = video.currentTime;
                var diff = time - curTime;
                var incr = diff * 0.15;
                if (incr) {
                    curTime += incr;
                    setVideoCurrentTime(curTime, true);

                    var max = time - (incr * 0.5);
                    _aminate(callID, video, curTime, incr, max, time);
                }
            }
        }
    }



    $(window).resize(function () {
        if (window._lastResizeCall)
            window.clearTimeout(window._lastResizeCall);
        window._lastResizeCall = setTimeout(function () {
            onResizeCall();
            delete window._lastResizeCall;
        }, 150);
    });
    function onResizeCall() {
        CreateTimeBar();
        updateGpsNavigateButtons();
        updateVidOriention();
    }

    function onVideoPaused() {
        updateGpsNavigateButtons();
        $(".gpsButton").fadeIn();
        window.clearInterval(window._vidTimeInterval);
        updateVideoTimeText();
        updateRelatedDocuments();
    }
    function onVideoPlay() {
        updateGpsNavigateButtons();
        $(".gpsButton").fadeOut();
        window.clearInterval(window._vidTimeInterval);
        window._vidTimeInterval = window.setInterval(updateVideoTimeText, 500);
        clearSecRect();
    }
    function updateVideoTimeText() {
        var video = document.getElementById("videoStream");
        if (video) {
            var ct = window.currentContent;
            if (ct) {
                var dt = new Date(ct.ContentDate.UTC);
                dt.setSeconds(dt.getSeconds() + video.currentTime);
                $(".vidTime").html(dt.toLocaleString());
            }
        }
    }


</script>

