﻿<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-ui.effects.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/media/js/jquery.dataTables.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/extensions/TableTools/js/dataTables.tableTools.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/dataTables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/TableTools/css/dataTables.tableTools.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/js/dataTables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.css" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/font-awesome/css/font-awesome.min.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />


<style> 
    .dataTables_scrollHeadInner table {
            height: 22px !important;
        }

        .gridTableContainer td {
            white-space: nowrap;
        } 
    #tooltipArea {
        background: #000;
        color: #fff;
        padding: 5px;
        position: absolute;
        display: none;
        z-index: 9999;
        border-radius: 4px;
    }
</style>




<dcc:item factoryname="StateForm" />
<!--<div id="tooltipArea" class="FixedToolTip" onmouseover="showTooltip(this,true)" onmouseleave="showTooltip(this,true)"></div>-->
<div id="zipArea" class="form-group">

    <!-- Default panel contents -->
    <!--<div id="baslik" class="panel-heading"></div>-->
    <!-- Table -->
    <div class="col-sm-12">
        <table id="mainTable" style="cursor:pointer" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>S</th>
                        <th>[$default:displayname]</th>
                        <th>[$setup_workspace_list:ProgressStatusFileSize]</th>
                        <th>[$docViewer:date]</th>
                        <th>-</th>
                    </tr>
                </thead>
            </table>
</div>


</div>

<script type="text/javascript">
    document.write('<style type="text/css">.menu-tree-preloader { display:block; } .menu-tree { display:none; }</style>');

   $(window).ready(function () {
       $("#layoutSearchDiv").hide();
    });

   document.title = StateForm.GetState("ContentDisplayName");


   function getTableHgt() {
       return $(window).height() - 200;
    }

   $(window).resize(function () {
       var hgt = getTableHgt();
       //var wdt = $(window).width();
       if ($(window).width() < 768) {
           hgt = hgt - 30 ;
       }
       $('.dataTables_scrollBody').css('height', hgt + 'px');
       $('dataTables_scrollHeadInner').css('width', '100%');
       //$('.display').css('width', '100%');

       //var table = $.fn.dataTable.fnTables(true);
       //var hgt = getTableHgt();
       //if ( table.length > 0 ) {
       //    for(var i=0;i<table.length;i++){
       //        $(table[i]).dataTable().fnSettings().oScroll.sY =hgt;
       //    }
       //}
       //$('.dataTables_scrollBody').css('height', hgt+'px');
    
   }
   );
    function StartzipView(id, HasViewer) {
        var url = "~/ZipContentViewer?op=StartZipView&content_id=" + window.currentContent.ID + "&wsName=" + HttpUtility.UrlEncode(StateForm.GetState("wsName")) + "&index=" + id;
        if (window.isDesktopOpenWith) {
            HasViewer = false;
            url += "&download=true";
        }

        if (HasViewer)
            _PSCC.Command({ Url: url, Name: 'docViewer', NameIdGroup: url.hashCode(), Command: 'OpenWindow', Width: 800, Height: 650 });
        else
            document.location.href = HttpUtility.ResolveUrl(url);
    }

    function TableRowClicked() {
        $('#mainTable tbody').on('click', 'tr', function () {
            var table = $('#mainTable').DataTable();
            var index = table.row(this).index();
            var myData = table.data()[index];
            StartzipView(myData.Index, myData.HasViewer);
        });
    }

    function InitGrid() {
        $.extend($.fn.dataTable.defaults, {
            "searching": false,
            "ordering": false
        });

        $('#mainTable').DataTable({
            //data: data,
            ajax: {
                url: "ZipContentViewer?op=GetZipFileData&content_id=" + window.currentContent.ID + "&page=" + window.currentPage + "&wsName=" + HttpUtility.UrlEncode(StateForm.GetState("wsName")),
                type: "POST",
                data: function (paginationData)
                {
                    if (paginationData.start > 0) {
                        paginationData.start += 1;
                        paginationData.length -= 1;
                    }
                }
            },
            serverSide: true,
            scrollY: ($(window).width() < 768) ? getTableHgt() - 30 : getTableHgt(),
            scrollX: "100%",
            pageLength: 25,
            //responsive: true,
            columns: [
                { "data": "Index" },
                { "data": "EntryName", "width": !BrowserType.IsMobile()?"60%":undefined },
                { "data": "ContentSize", "width":!BrowserType.IsMobile()?"5%":undefined },
                { "data": "ContentDate", "width": !BrowserType.IsMobile() ? "5%" : undefined },
                { "data": "HasViewer" },
            ],
            columnDefs: [
            {
                "targets": [0],
                "visible": false
            },
            {
                "targets": [4],
                "visible": false
            }
            ],
            language: {
                "sProcessing": '[$GeodiDictionaryEditor:dt_sProcessing/js]',
                "sLengthMenu": '[$GeodiDictionaryEditor:dt_sLengthMenu/js]',
                "sZeroRecords": '[$GeodiDictionaryEditor:dt_sZeroRecords/js]',
                "sInfo": '[$GeodiDictionaryEditor:dt_sInfo/js]',
                "sInfoEmpty": '[$GeodiDictionaryEditor:dt_sInfoEmpty/js]',
                "sInfoFiltered": '[$GeodiDictionaryEditor:dt_sInfoFiltered/js]',
                "sInfoPostFix": '',
                "sSearch": '[$GeodiDictionaryEditor:dt_sSearch/js]',
                "sUrl": '',
                "oPaginate": {
                    "sFirst": '[$GeodiDictionaryEditor:dt_oPaginate_sFirst/js]',
                    "sPrevious": '[$GeodiDictionaryEditor:dt_oPaginate_sPrevious/js]',
                    "sNext": '[$GeodiDictionaryEditor:dt_oPaginate_sNext/js]',
                    "sLast": '[$GeodiDictionaryEditor:dt_oPaginate_sLast/js]'
                }
            }
        });
        
    }

    $(window).ready(function () {
        InitGrid();
        TableRowClicked();
    });


    //Add bound!
    document.title = StateForm.GetState("ContentDisplayName");

</script>






























