﻿@font-face {font-family: 'Roboto';font-style: normal;font-display: swap;font-weight: 400;src: local("Roboto"), 
    url('[=c.ResolveUrl("~/GUI/Theme/Default/fonts/roboto/Roboto-Regular.ttf",true)]') format("ttf"); }
@font-face {font-family: 'Roboto Medium';font-style: normal;font-display: swap;font-weight: 500;src: local("Roboto Medium"),
    url('[=c.ResolveUrl("~/GUI/Theme/Default/fonts/roboto/Roboto-Medium.ttf",true)]') format("ttf"); }
@font-face {font-family: 'Roboto-Bold';font-style: normal;font-display: swap;font-weight: 600;src: local("Roboto-Bold"), 
    url('[=c.ResolveUrl("~/GUI/Theme/Default/fonts/roboto/Roboto-Bold.ttf",true)]') format("ttf"); }
/* Scrollbar */
::-webkit-scrollbar-thumb {
	background:#ddd;
	border:none;
	border-radius: 3px;
	cursor: pointer;
}
::-webkit-scrollbar-thumb:active {
	background: #cfcfcf;
	border: 3px solid #cecece;
}
::-webkit-scrollbar-thumb:hover {
	background: #cfcfcf;
	border: 3px solid #cecece;
}
:focus { 
	outline: none !important;
}

@media(min-width:768px) {
	.DPStyleDropDownImg {
		margin-top: 12px !important;
	}
	.DPStyleDropDownButton {
		margin-left: 20px !important;
	}
}
			

/* glyphicon */
.glyphicon {font-family: 'Glyphicons Halflings' !important}
.fa { font: normal normal normal 14px/1 FontAwesome !important; }
#widgetList .fa{ font-size: 20px !important; }
#liHelp .glyphicon { color: #fff; margin: 0;}

body {
	font-family: 'Roboto', sans-serif !important; 
	color: #242527;
	background: #f7f8fa;
}

#_startLoading {
	background: transparent !important;
}
::-moz-selection { color:#fff; background:#c04240  ; }
::selection { color: #fff; background: #c04240  ; }

/* ikon */
.img-default16 {
	padding: 0px !important;
}

/* Yönetim ekranı */
.mn-left-panel-content {
	background: #ECEFF3 !important;
}
.mn-left-panel-content a {
	color: #242527;
	display: block;
	text-decoration: none !important;
}

#wsListGroup .list-group-item {
	border-radius: 4px;
	margin: 0px 6px 15px;
	border: 1px solid #ECEFF3;
}
.body-with-fixed-navbar #wsListGroup .wsNameLink {
	line-height: 17px;
	margin-top: -6px;
}
#divDictionaries .btn, #divTemplateDictionaries .btn {
	background-color: transparent !important;
	margin: 0px 2px !important;
	padding: 0px 2px !important;
	height: 30px;
	width: 26px;
	border: none;
	float: left;
	color: #000;
}
#divDictionaries .btn:hover, #divTemplateDictionaries .btn:hover {
	background: transparent !important;
}
.body-with-fixed-navbar #wsListGroup .btn span {
	transform: scale(0.8);
}
#divTemplateDictionaries .btn span, #divDictionaries .btn span {margin: 2px 0px 2px 1px;transform: scale(0.8);}

/* tarama geçmişi */
.ts-panel {
	background: #fff !important
}
.body-with-fixed-navbar .ts-info .plabel {
	color: #8A8B91 !important
} 
.body-with-fixed-navbar .ts-info a small {
	margin-top: 10px;
	display: inline-block;
}
/* */

.MapFrameGUI .navbar-header .navbar-brand {
	padding-left: 0 !important
} 
.MapFrameGUI .panel-body {
	padding: 0 10px !important;
}
.body-with-fixed-navbar .panel {
	margin: 0 0 8px 0 !important;
	box-shadow: 0px 0px 15px -3px #ccc;
}
.body-with-fixed-navbar .panel .panel-heading {
	padding: 15px 15px 10px 15px !important;
    background-color: #fff !important;
}
.body-with-fixed-navbar .panel .panel-heading .panel-title {
	font-size: 14px;
}
.body-with-fixed-navbar .panel .panel-heading a {
	color: #242527 !important;
}
.body-with-fixed-navbar .panel .panel-collapse {
	border-top: 1px solid #ECEFF3;
}

.MapFrameGUI .panel .panel-collapse .panel-body {
	padding: 0 !important;
}
.body-with-fixed-navbar .panel .panel-collapse .panel-body {
	border: none !important;
}
.body-with-fixed-navbar .panel .panel-collapse .panel-body li {
	border-radius: 0 !important;
	border: none;
	border-bottom: 1px solid #ECEFF3 !important;
	margin-bottom: 1px;
}
/* Mobidi kayıtları*/
#divMain .pnl-query-item .__textclass .pgInlineBlock { vertical-align:top;}
.FrameMode  .__textclass .text {padding-top: 5px;}
.qContentViewerCloseButton.inCloseBtn{background: transparent;border: none;border-radius: 5px;top: 10px;right: 5px;font-size: 28px;}
.qContentViewerCloseButton.inCloseBtn span{font-size: 0;background-image:url('[=c.ResolveUrl("~/GUI/img/24.png",true)]');background-repeat: no-repeat;background-position: center -406px;height: 24px !important;width: 24px;transform: scale(0.7);display: block;filter: brightness(0) invert(1);position: relative;top: 4px;right: 4px;}
.navbar-default .navbar-toggle .icon-bar{background:#fff}	


#LinksArea .mn-Left-panel-in {
	overflow-y: auto;
}
#LinksArea ul {
	padding: 0;
	box-shadow: none;
}
#LinksArea ul li {
	padding: 10px 8px;
	margin-bottom: 8px;
	border-radius: 4px;
	background: #fff;
}
#LinksArea ul li:hover {
	background: #F7F8FA;
	transition: 0.4s;
}

#LinksArea ul li a {font-size: 14px;}
#LinksArea h2 {
	margin: 0 0 8px 0;
	font-size: 24px;
}
#LinksArea .mn-left-panel-content {
	padding: 15px;
}
#LinksArea hr {border:none;}
#divModules h5 small {
	color: #c04240  ;
}
#divModules li {
	border-radius: 4px !important;
	margin: 0 6px 6px;
}
/*module update */
#dlgModuleAutoUpdate .panel-body{border:none;box-shadow: none;}
body #dlgModuleAutoUpdate .accordion-toggle:before{color:#fff;}
.divModules .checkbox.chkAll{top: 0;left: -4px;margin: 0px 0 8px;}
#dlgModuleAutoUpdate .panel-group{ margin:0 }
#dlgModuleAutoUpdate .panel-default{border:none; margin:0 !important; box-shadow:none;}
#dlgModuleAutoUpdate .panel-default .panel-group{border:none;margin:0}
	/* collapse */
	#rememberSettingsList .panel-default{border-radius: 5px;box-shadow: none;}
	/* Modüller*/
	#collapseModules{background: #eee !important;padding: 10px 0;box-shadow: none !important;}
	#collapseModules button{background-color: transparent !important;margin: 5px 4px 0 !important;height: 30px;border: none;}
	#collapseModules button span{margin: 2.4px -0.7px !important;width: 100%;transform: scale(0.8);}
	#collapseModules button span.img-stop{background-position: 2.6px center;}
	#collapseModules #checkUpdates{margin: auto !important;background: #fff !important;box-shadow: none;float: none !important;padding: 10px 19px  !important;height: auto;}
	#collapseModules .panel-group{background: transparent !important;}
	.moduleInstallDescPanel , .moduleInstallDescPanel .moduleInstallDesc{padding:0 !important;width: 100%;float: left;font-size: 13.1px;}
	/* Sözlük */
	#dictionariesContent .panel .panel-body li:last-child{border:none !important; margin-bottom: 0}
	#dictionariesContent .panel{background-color: #ffffff !important;overflow: hidden;}
	/* Settings */
	#collapseSupport .form-group{margin-bottom: 0;}
	#rememberSettingsList #GCryptoLevel{margin:9px 0;}

/* Yönetim ekranı */
.ManagerPage {
	background: #F7F8FA !important;
}
.ManagerPage .ManagerContent .managerFull .button-group a.Queries{background: #c04240  ;}
.ManagerPage .ManagerContent .managerFull .button-group a.Queries:hover{background: #9A3533 ;}
.ManagerPage .ManagerContent .managerFull .button-group a.buttonScans{background: transparent;border: 1px solid #c04240  ;color: #c04240  ;}
.ManagerPage .ManagerContent .managerFull .button-group a.buttonScans:hover{background: #9A3533 ;color: #fff;}
.ManagerPage .mn-hide-full { background: #777;}
.ManagerPage .mn-button-container {
	color: #4e4e4e;
	padding: 10px 0;
	margin-bottom: 5px !important;
	width: 80px !important;
	height: inherit;
	border-bottom: 1px solid #4e4e4e  !important;
	border-radius: 0 4px 4px 0 !important;
	background: #4e4e4e   !important; 
}
.ManagerPage .mn-button-container:hover {
	background: #9A3533  !important;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) !important;
}
.ManagerPage .mn-Left-panel-in {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.35), 0 1px 5px 0 rgba(125, 125, 125, 0) !important;
	padding: 0 !important;
	border-radius: 4px;
}
.ManagerPage .mn-Left-panel-in iframe {border-radius: 5px;}
.ManagerPage hr {margin: 3px 0;border: 0;border-top: 1px solid #7f7f7f;}
.ManagerPage .mn-main-div{overflow: auto;width: auto;background: transparent !important;top: 0 !important;padding-top: 60px !important;}
.ManagerPage .mn-button-container.mn-test-c{border-bottom:none !important }
.ManagerPage .mn-button-container .mn-button-inner{width: 100%;float: left;filter: brightness(0) invert(1);padding: 3px 0;} 
.ManagerPage .mn-button-container .mn-button-inner div{width: 100%;filter: brightness(0.45) invert(0);} 
.ManagerPage .mn-button-container .mn-button-inner .mn-text{padding: 0;color: #fff !important;width: 100%;word-wrap: break-word;} 
.ManagerPage .mn-hide-full{margin-top: 0px;padding: 10px 5px 10px 2px;margin-left: 0px;}
.ManagerPage .mn-hide-full .mn-hide-ico{background-color: transparent;filter: brightness(0) invert(1);}
.ManagerPage .mn-Left-panel {
	left: 82px;
}
.ManagerPage .ManagerContent .managerFull .shadowEffect{box-shadow: 0px 0px 15px -4px #ccc;}
.ManagerPage .ManagerContent .managerFull .shadowEffect:hover{box-shadow: 0px 0px 15px -4px #ccc;}
.ManagerPage .ManagerContent .managerFull .scanningText{font-size:16px;}
.ManagerPage .scanningText{line-height: 25px;}
/* Ağ yönetimi */
.vis-network canvas{background: #fff}
#_playpause , .btn .fa-arrows-alt{padding: 4.2px 0;}
#_mapcontextMenu{right: auto;}
/* Proje sihirbazı & Sözlük */ 
#myWizard .easyWizardSteps { background: #fff;}
#myWizard .easyWizardSteps li{border-right: 1px solid #dfdfdf;margin-right: 0;font-size: 16px;color: #444;padding: 14px 16px;}
#myWizard .easyWizardSteps li:hover{background: #eee;}
#myWizard .easyWizardButtons button{padding: 9px 29px;font-size: 18px;transition: 0.4s;border: none;box-shadow: 1px 1px 4px 0px #ccc;line-height: 1.5;}
#myWizard .step{padding-top: 11px;}
#myWizard .step #groupNameSection #enumLayerSettings .panel-heading{border-radius: 0 !important;padding: 15px;}
#divGroupName .typeahead, #divGroupName .tt-hint{border-radius: 4px;}
.easyWizardWrapper .panel{background: transparent;border: none;box-shadow: none !important;}
.easyWizardWrapper .panel .panel-body{border: none;padding: 0  !important;}
.easyWizardWrapper .ws-list-button{margin: 5px;border-radius: 0;border: none;border-radius: 5px;box-shadow: 0px 0px 15px -4px #ccc;}
.easyWizardWrapper .ws-list-button:hover{background: #f9f9f9;}
.easyWizardWrapper .ws-list-button .ws-list-button-text{line-height: 16px}
.easyWizardWrapper .modal-body .ws-list button{margin: 0 7px 9px 0;}
.easyWizardWrapper .tight-panel-body{padding: 0 !important;box-shadow: none;border: none;}
.easyWizardWrapper #divRecognizerGroup .panel-body , .easyWizardWrapper #dictionaryGroup .panel-body , .easyWizardWrapper #divBaseMapList.panel-body{padding: 13px 11px 6px !important;}
#myWizard  #sectionContentLayers .panel .panel-heading{padding: 10.5px 16px 10.5px 0 !important;background: transparent;margin-bottom: 5px;}
#myWizard  #sectionContentLayers .panel .panel-body .panel{box-shadow: 0px 0px 15px -4px #ccc !important;}
#myWizard  #sectionContentLayers .panel .panel-body .panel-heading{padding: 10.5px 16px !important;background: #fff;margin-bottom: 0;}
#myWizard  #sectionContentLayers .panel .panel-heading .panel-title{font-size: 16px;}
#myWizard #sectionContentLayers .modal-body .modal-footer{padding: 15px 0 0 0; }
#myWizard  #sectionContentLayers .panel .panel-heading .panel-title a{color: #262626 !important;}
#myWizard #WebEditorButtonContainer{margin-bottom: 8px;}
#myWizard #WebEditorButtonContainer button{padding: 6px 12px;font-size: 12px;border: none;}
#myWizard #WebEditorButtonContainer button , #myWizard #btnAddLayer{font-size: 14px;border: none;border: 1px solid #ccc;padding: 5px 15px;}
#txtGroupName{border: none;box-shadow:none;float: left;margin-left: -6px;width: 101%;}
.easyWizardWrapper .form-control{border-color:#cccccc !important;}
#myWizard #sectionContentReaders #WebEditorButtonContainer .btn-group .dropdown-menu{font-size:12px;}
.form-dictionary-wizard .modal-header{padding: 15px;}
#tblLayers tr{background: #fff;margin: 10px;border-bottom: 0px solid #eee;}
#tblLayers tr td , #tblLayers tr th{background: transparent;vertical-align: middle;height: auto !important;border-bottom: 1px solid #cececece;border-top: none;padding: 8px 5px 5px !important;}
#tblLayers tr th{height: 30px !important;}
#tblLayers tr .moveColumnBtn i{margin-top:5px;}
#tblLayers tr button{border:1px solid #ccc;}
#selectIconModalDialog #divIcons{padding: 0;}
#selectIconModalDialog #divIcons button{margin: 5px;}
/* Yetki Yönetimi */
#ulUserGroupList li.active{background-color: #ccc; border-color: #cecece; color: #373737}
#ulUserGroupList li .img-button24{margin-top: -3px}
#ulUserList li span{margin-left: 8px;}
#ulUserList li small{margin-right: 0 !important;margin-top: 4px;}

body .defaultAreaCss {
	top:54px;
}
.panel-group #panelLabels .panel-heading, .panel-group #panelKeywords .panel-heading {background: #f1f1f1;}

#wrapper {margin-top: 15px !important;}

/* dijital atlas */
.DABody .qUploadCtrlStyle {
	width: 100%;
	max-width: inherit;
	margin-top: 55px;
}
.DABody .dc-search-group #txtSearchDefault {
    margin: 7px 0 0 0;
    padding: 15px 68px 15px 15px !important;
    height: 48px;
    background: #fff !important;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    border: 2px solid #DDDFE2;
}
.DABody .saveQueryBtn {
	right: 18px;
}
.DABody .dc-search-group .btn-default {
	height: 48px;
    position: absolute;
    top: 7px;
    border: 2px solid #dddfe2;
    margin-left: -2px !important;
}
.DABody .qUpload:before, .DABody .saveQueryBtn:before{top:1.5px}

/* Viewer Left side */
#sidebar-wrapper {
	border: none !important;
	top: 54px;
	background-color: #fff !important;
	box-shadow: -4px 0px 8px -2px rgba(0,0,0,.15);
}
#wrapper .slide_togler {
	top: 56px;
	padding: 5px 4px 5px 6px;
	background: #c04240;
	z-index: 200 !important;
}
#wrapper .slide_togler .slide-hide-ico {
	filter: brightness(0) invert(1);
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
    right: -250px;
}
#wrapper .slide_togler.slide_toglerforScroll {
	top: 100px;
	padding: 5px 9px;
	border-top-left-radius: 4px;	
	border-bottom-left-radius: 4px;
	background: transparent;
	}
	#wrapper .slide_togler.slide_toglerforScroll .viewerScroll {
	width: 18px;
	}
#wrapper .slide_togler.slide_toglerforScroll .viewerScrollSearch {
	background: #ffdd00;
	border-color: #ccaa00;
	}
#wrapper .viewerScrollPg {
	height: 36px;
	border: 1px solid #DDDFE2;
	box-shadow: none;
}
#wrapper .slide_togler.slide_toglerforScroll #_defSc_pagePos { 
	border-radius: 4px;
	color: #242527;
	}
#wrapper .slide_togler.slide_toglerforScroll #_defSc_pagePos span{
	color: #A8A9AD;
}

/* viewer nav bar */
.navbar.layoutNavBar div { 
	margin: 0 !important;
}
.layoutNavBar .collapse #BaseButtonList {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1.5px 0;
	min-height: 53px;
	margin-right: 16px;
}
.layoutNavBar .collapse #BaseButtonList #navSplit {opacity: 0;padding: 0;}
.layoutNavBar .collapse #BaseButtonList #navSplit span{margin:0}
.layoutNavBar #BaseButtonListRight li#liHelp a { 
	border-left: 1px solid rgba(255,255,255,.6);
	border-radius: 0;
	padding: 5px 9px 1px 9px !important;
	margin-left: 2px;
}
#BaseButtonList #layoutSearchPrev a, 
#BaseButtonList #layoutSearchNext a {
	border: none; 
	background-image:url('[=c.ResolveUrl("~/GUI/img/16.png",true)]');
	background-repeat: no-repeat;
	width: 18px;
	height: 16px !important;
	position: relative;
	top: 2px;
	transform: scale(0.8);
}

/* Header */
.navbarArea {
	border: none;
	background-color: #fff;
	padding: 0 !important;
	height: 62px !important; 
	transition: 0.3s all;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.1) !important;
	z-index: 6;
}
.navbarArea .navbar-form {
	padding: 0;
	}
.toggledBody .navbarArea { 
	margin-left: 300px !important;
}
.navbar-collapse.collapse {
	padding: 0px !important;
}
/* icerikler - kelimeler - harita - ag grafigi - takvim - ... butonlar */
.navbar .SearchTextBoxArea button {
	background: transparent;
	margin: 0  !important;
	border: none;
	padding: 7px 15px !important;
	height: 62px;
	border-radius: 0 !important;
	opacity: 0.8;
}
.navbar .SearchTextBoxArea button.active {
	background: #c04240  !important;
	opacity: 1; 
}
.navbar .SearchTextBoxArea button:hover { opacity: 1; }
.navbar .SearchTextBoxArea button .modeBtnText {
	margin-top: 3px;
	display: block;
}
.navbarArea .navbar-right {
	margin-top: 0;
	position: absolute;
	right: 0px;
    background: #fff;
}
.navbarArea .navbar-right > li {
	float: left;
	padding: 0 !important;
	border: none !important;
}
.navbarArea .navbar-right > li > a, .navbarArea .navbar-right > li.dropdown {
	float: left;
	color: #4e4e4e;
	text-align: center;
	line-height: 62px;
	border-radius: 0;
	border-left: 1px solid #efefef !important;
	width: 32px;
	height: 62px;
	background: #fff;
}
.navbar .SearchTextBoxArea button:hover .menuStarter span, .navbarArea .navbar-right > li.dropdown:hover span, .inRootMenu .list-group-item a:hover {
	opacity: 1;
	box-shadow: none;
}
.navbar .SearchTextBoxArea button.active span{
	filter:brightness(0) invert(1);
	opacity: 1; 
	color:#fff;
	}
/* sol menu ac/kapa */
.navbarArea .navbar-brand {
    text-align: center;
	margin: 0 !important; 
	padding: 0 !important; 
	width: 30px !important;
	height: 62px;
	border-right: 1px solid #DDDFE2;
	background-color: #fff;
}
.navbar-default .navbar-brand._forFacet:hover, .navbar-default .navbar-brand._forFacet:focus {
	background-color: #fff;
}
.navbar .img-sidebarMobil24 {
    height: 62px;
	background: url('[=c.ResolveUrl("~/GUI/img/rightHide16.png",true)]');
	background-repeat: no-repeat;
	background-position: center;
}
.toggledBody .navbar .img-sidebarMobil24 {
	background: url('[=c.ResolveUrl("~/GUI/img/leftHide16.png",true)]') no-repeat center;
}
/* sol menu ac/kapa and */

.navbarArea ._forCALENDAR .img-default, .navbarArea ._form_DashBoardMediaMonitor .img-default {
	background-image: none !important;
}
	
	.navbarArea ._forCALENDAR .img-default:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -14px;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url('../icons/Nav/calender.png');
	}
	.navbarArea ._form_DashBoardMediaMonitor .img-default:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -14px;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url('../icons/Nav/socical-media.png');
	}

.layoutNavBar .collapse #BaseButtonList li {
	filter:brightness(0) invert(1)
}
.layoutNavBar #BaseButtonList li#layoutSearchDiv {
	filter:none;
	box-shadow: none;
	border: none;
	height: auto;
	padding: 5px 0;
}
	.layoutNavBar li#layoutSearchDiv a , .layoutNavBar {color: #4e4e4e;font-weight: 100;}
	.layoutNavBar li#layoutSearchDiv a.img-close{
		position: relative;
		top: 3px;
		font-size: 19px;
		background-image: url('[=c.ResolveUrl("~/GUI/img/16.png",true)]');
		background-repeat: no-repeat;
		background-position: center -272px;
		height: 16px !important;
		width: 16px;
	}
	.layoutNavBar li#layoutSearchDiv a.img-close:before{content:'';}
	.layoutNavBar li#navSplit span{height: 20px !important; margin-top: 4px;}
	.layoutNavBar #liOpenContentFolder{padding: 0 3px;}
	.layoutNavBar #liOpenContentFolder span{margin-left:0}
	.layoutNavBar .navbar-header .navbar-brand {
		padding: 14.5px 10px;
		margin: 0;
	}
		.layoutNavBar .navbar-header .navbar-brand img { 
			filter:brightness(0) invert(1);
		}
		.layoutNavBar .navbar-header button {
			border-color: transparent;
			border-radius: 0;
			height: 53px !important;
			margin: 0 !important;
			padding: 10px 20px !important;
		}
	.layoutNavBar #bsForLayout { padding-top: 0 !important;}
	.layoutNavBar #bsForLayout ul li input { border: none; box-shadow: none; width: 190px !important; max-width: 100%;}
	.layoutNavBar #BaseButtonListLeft { padding: 16px 0 !important;color: #fff;}
	.layoutNavBar #BaseButtonListLeft a { color: #fff;}
	.layoutNavBar #BaseButtonListRight {
		padding: 12.5px 0;
		margin: 0;
		margin-left: -14px;
	}
	.layoutNavBar #BaseButtonListRight li a{transform: scale(1);}
	.layoutNavBar #prevNextQ a{height: auto !important; padding: 0 !important;}
	
	.layoutNavBar #prevNextQ a.img-previouspage, .layoutNavBar #prevNextQ a.img-nextpage {
		border: none;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px !important;
		position: relative;
		top: 2px;
		background-repeat: no-repeat;
		filter: brightness(0) invert(1);
	}
	.layoutNavBar #prevNextQ a.img-previouspage {
		background-image: url('../icons/16x16/Content/arrow-left.png');
		background-position: center;
		}
	.layoutNavBar #prevNextQ a.img-nextpage {
		background-image: url('../icons/16x16/Content/arrow-right.png');
		background-position: center;
	}
	.layoutNavBar #prevNextQ a.img-previouspage:before,
	.layoutNavBar #prevNextQ a.img-nextpage:before{content:"";}
	.layoutNavBar .navbar-brand, .layoutNavBar button { filter:none; }
	.layoutNavBar {padding: 0 0 !important;margin: 0 !important;height: 54px !important;}

.twitter-typeahead .tt-suggestion img {
	max-width: 24px;
}
.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	margin: 7px 7px 0 7px;
	padding: 15px 68px 15px 15px  !important;
	height: 48px;
	background: #F7F8FA !important;
	border-radius: 4px;
	box-shadow: none;
	border: 2px solid #DDDFE2;
	}
.navbar-form #searchArea1 .twitter-typeahead .tt-hint { 
	padding-right: 68px;
	max-width: 400px;
    height: 48px;
    border-color: transparent;
	cursor: default;
    opacity: 1;
}
	
/* Detail header*/
.layoutNavBar .container-fluid{
	padding: 0
}
.layoutNavBar .navbar-brand {
	padding: 0 0 0 13px;
	margin: 0 0;
}
.layoutNavBar .navbar-brand .contentDisplayNameCss{color: #fff;margin-left: 2px;filter: none; max-width: 720px;}
	
	
.quickContentViewerParentDiv{
	padding-right: 0;
	}
/* Viewer */
.ViewerRightArea .list-group-item {
    line-height: 24px;
	padding: 5px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px !important;
	background: #fff;
	box-shadow: 0px 0px 15px -4px rgba(0,0,0,.15);
}
.ViewerRightArea .list-group-item.active {
    background: #c04240;
}
.ViewerRightArea .list-group-item:hover, .ViewerRightArea .list-group-item:focus, .ViewerRightArea .list-group-item:active {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.ViewerRightArea .data-kw {
	color:#242527;
}
.ViewerRightArea .list-group-item:hover .data-kw, .ViewerRightArea .list-group-item:focus .data-kw, .ViewerRightArea .list-group-item:active .data-kw {
	color: #c04240;
}

.ViewerRightArea .list-group-item .imgPanelTitleIcon {
	margin-right: 5px;
}
.ViewerRightArea .labelHeaderLeft {
	padding-right: 45px;
    width: 100%;
}
.ViewerRightArea .labelHeaderRight {
	position: absolute;
    right: 5px;
}
.ViewerRightArea .faceListGroup li.faceTimeCont{padding: 0 !important;}
.ViewerRightArea #divLayerTree{border-radius: 5px;background: transparent;padding: 7px 0;}
.ViewerRightArea #divLayerTree li{border: none !important;padding: 0;margin: 0 !important;background-color: transparent !important;box-shadow: none;}
.ViewerRightArea #___activeKeywordDetail {
	padding: 0;
	margin-right: 0px;
    background: transparent;
    box-shadow: none;
}
.ViewerRightArea .panel-collapse#slide_pnl2 .form-horizontal .form-group:last-child{margin:0}
.ViewerRightArea .panel-collapse#slide_pnl2 .form-horizontal .form-group label{padding-top: 0}
.ViewerRightArea .panel-collapse .ScreenItem{box-shadow: 0px 0px 15px -4px #ccc; text-align: left;padding:10px 15px}
.ViewerRightArea .panel-collapse .ScreenItem .divPanelTitleText{padding:0; color:#000; font-size:14px; }
.ViewerRightArea .panel-collapse .ScreenItem small{margin-bottom: 5px; }

.ViewerRightArea .panel {
	background: transparent;
	border: none !important;
	padding: 0;margin-top: 10px;
	border-radius: 0;
	margin: 0 !important;
	box-shadow: none;
}
.ViewerRightArea .panel .panel-heading {
	padding: 13px 14px!important;
	color: #616164;
	font-weight: bold;
	margin: 0px 0 0;
	border: none !important;
	border-bottom: 1px solid #ECEFF3 !important;
	background: #fff !important;
}
.ViewerRightArea .panel .panel-heading .panel-title {
	line-height: 24px;
}
.ViewerRightArea .panel .panel-heading .badge {
	position: relative;
	color: #fff !important;
    padding: 3px 6px;
    border-color: transparent !important;
    background: #c04240  !important;
	margin-left: 8px;
	right: auto;
	top: 2px;
	left: 2px;
}
.ViewerRightArea .panel ul.list-group li > a.data-kw,.ViewerRightArea .faceListGroup .data-kw {
	word-wrap: break-word;
	display: inline-block;
}
.ViewerRightArea .panel ul.list-group li > a.data-kw {
	width: 100%;
	padding-right: 25px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pagination-kw {
	position: absolute;
	right: 8px;
    top: 6px;
}
.ViewerRightArea .activeGray {
	background: #f7f8fa !important;
}
.ViewerRightArea .faceListGroup .data-kw {width: 134px;color: #242527;}
.ViewerRightArea #divLayerTree a{color: #262626 !important}
.ViewerRightArea .panel-collapse {
	padding: 0 8px 0;
	margin: 0px;
	background: #F7F8FA;
	border-bottom: 1px solid #ECEFF3;
}
.ViewerRightArea .panel-collapse ul li.list-group .pagination-kw a {
	color: #c04240   !important;
	}
.ViewerRightArea #slide_labels > p {
	margin: 0;
	padding: 20px 15px !important;
}
.ViewerRightArea .documentViewFrameTitle input {margin: 5px 7px 0px 0px !important;}
.ViewerRightArea .panel-collapse ul {border: none !important;}
.ViewerRightArea .panel-collapse ul li.list-group > a {color: #4e4e4e !important;background: transparent !important;padding-top: 2px;padding-left: 5px;line-height: 1.5;display: block;}
.ViewerRightArea .panel-collapse ul li.list-group > a:before{top: 2px;position: relative;margin-right: 6px;}
.ViewerRightArea .panel-collapse ul li.list-group #arrow{display: none; }
.ViewerRightArea .panel-collapse ul li.list-group, .ViewerRightArea .documentViewFrameTitle {
	padding: 4px 7px !important;
}

/* */


#zipArea{padding-top: 11px;}
#defaultArea .col-sm-12{padding: 0 11px;}
#map .tooltip .tooltip-inner{background: #eee; color: #262626}
	/* email detail */
	.eMailRow .divMain{padding: 0;margin: 39px auto 0;max-width: 80%;}
	.eMailRow .message-panel{border:none;box-shadow:0px 0px 15px -4px #ccc;}
	.eMailRow .panel-body{padding: 0;}
	.eMailRow .message-panel .panel {border-color:transparent;margin-bottom: 0 !important; }
	.eMailRow .message-panel .panel iframe{background: #fff;}
	.eMailRow .divMain #divDocAccordion .panel-heading.viewMailInfo{background: #f9f9f9}
	.eMailRow .panel-title .messageSubject{font-size: 13px; margin-top: 5px}
	.eMailRow #viewMailInfo div{padding: 5px 3px; border-bottom: 1px solid #f1f1f1}
	.eMailRow #viewMailInfo div:last-child{ border-bottom: none}
	/*table detail */

	
/* Ağ görünümü */
#mynetwork + .btn-group .btn{
	border:1px solid #ccc;
}
/* face pro*/
.fcThumbsContainer {float: left;width: 100%;}
 /* Giriş sayfası */
#__startScreen{background: url('[=c.ResolveUrl("~/GUI/img/bg_.jpg",true)]') #f1f1f1  !important;background-color: #eee !important;background-repeat: no-repeat !important;background-position: center center !important;background-color:#f1f1f1;background-size: cover !important;}
#__startScreen #lastUsedStart .recentWsItem{height: 161px;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive{opacity: 1;position: relative;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) !important;color: #fff;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive img{filter:brightness(0) invert(1);}
#__startScreen button{border: none;margin: 0 6px 12px 0 !important;border-radius: 3px;padding: 9px 12px 3px;background: #fff;color: #4e4e4e;border: 1px solid #ccc;line-height: 16px;vertical-align: middle;}
#__startScreen button:last-child{border-right:1px solid #dfdfdf}
#__startScreen button .img-default32{margin-bottom: 4px;}
#__startScreen button.active , #__startScreen button:hover{position: relative;background: #eee;}
#__startScreen button span {top: -3px;position: relative;}
#__startScreen #txtSearchDefault {background-color: #eee!important;border: none;box-shadow: none;margin-top: -17px;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) !important;z-index: 9;}
/*  Top Area */
.toggledBody #topArea {padding-left: 300px;}
.toggledBody .banner .title {padding-left: 300px;}
.banner .title {padding-left: 0;transition: 0.3s}
/* */

#tableArea {margin:0;}
#mainTable_wrapper {margin:10px auto 0;max-width: 96%;}
#mainTable_wrapper table {
	border:none;
	background: #fff;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	border:none;
}
#mainTable_wrapper table#mainTable {
	border-radius:0 0 10px 10px;
}
#mainTable_wrapper table th, #mainTable_wrapper table td {
	border: 1px solid #fff;
	border-bottom:1px solid #ECEFF3;
	border-top:none;
	color: #242527;
	font-size: 13px;
    line-height: 18px;
	background: transparent !important;
	padding: 2px 5px !important;
}
#mainTable_wrapper table tr:last-child td {
	border-bottom: none;
}
#mainTable_wrapper table tr:hover {
	background: #ECEFF3;
}
#mainTable_wrapper table tr:hover td,
#mainTable_wrapper table tr:hover th {
	border-color:#ECEFF3;
	color: #c04240  ;
	background: #F7F8FA;
}
#mainTable_wrapper .dataTables_info{margin:5px 0 ; float:left;}
	/*360*/
	.gpsSettings .gpsWalkTxt{margin-bottom: 9px;width: 91px;padding: 3px 6px;}

.table-striped.dataTable tbody tr.active{
	filter:invert(0.2); 
}


.fullSummaryPanel {
	border-top: 1px solid #ECEFF3 !important;
	box-shadow: none !important;
}	
.map-slide button {
display: block;	
margin: auto;
text-align: center;
height: 36px;
width: 36px;
background-color: #c04240 !important;
border-radius: 4px;
}
.map-slide.RotateButtonContainer {
	left: 56px !important;
}
	.map-slide button:hover, .map-slide:focus {
	background-color: #9A3533 !important;
	}
.map-slide .containerIcon, .map-slide .img-rotate-right24 {
background-size: 16px !important;
filter: brightness(0) invert(1);
background-position: center !important;
}

/* Facet */
#facetArea {
	padding: 0px !important;
}
.toggledBody .sidebar-large .sidebar-wrapper {
	width: 300px;
	left: 300px !important;
	position: absolute;
	z-index: 9;
}
.toggledBody .sidebar-large .page-content-wrapper{
	left: 300px
}
.sidebar-large.toggled {
	padding-left: 0px;
}
.sidebar-large .sidebar-wrapper {
	left: 0 !important;
	top: 0;
	height: 100% !important;
	background-color: #424242 !important;
	box-shadow: 0px 0px 20px -4px rgba(0,0,0,.3);
	border-right: 2px solid #FFF;
}
#facetArea #fc_status_p_body {
	padding: 11px 10px 8px 10px !important;
    background: #fff !important;
    margin: -2px 10px 0px 0;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 0px 8px #ddd;
    min-height: 48px;
    font-size: 12px;
    border-left: 6px solid #c04240  !important;
}
#facetArea .panel, #facetArea .panel-heading {
	background: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 0 !important;
}
#facetArea .panel {
	padding-bottom: 20px;
}
	#facetArea #fc_status_p.panel {
	padding-top: 8px;
	padding-bottom: 8px;
	}
#facetArea .panel-heading {
	width: 100%;
	text-transform: uppercase;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #fff !important;
	padding: 10px !important;
	filter: none !important;
	border-radius: 0;
}
	#facetArea .panel-heading:before {
	content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    vertical-align: 1px;
    border: 2px solid #c04240;
    border-radius: 50%;
	}
	#facetArea #fc_query_p_header.panel-heading:before {
    border: 2px solid #c04240 ;
	}

		#facetArea .facetCountR {
		right: 10px;
		width: 20px;
		height: 20px;
		background: #ECEFF3;
		border-radius: 3px;
		padding: 3px 3px 2px 3px;
		margin-top: -2px;
		transition: all .15s ease-in-out;
		  -webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
		}
			#facetArea .facetCountR:hover {
			background: #c04240;
			}
				#facetArea .facetCountR:hover i {
				color: #fff;
				}
#facetArea .checkbox {
	display: inline-block;
	margin: 0 0;
}
#facetArea .checkbox .cr, .radio .cr {
	border-color: #fff;
	margin: 0px 8px 0px 0;
	width: 16px;
    height: 16px;
	border-radius: 3px;
}
#facetArea .checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
    font-size: 0.6em;
	color: #fff;
	left: 17%;
	transition: none;
}
#facetArea .checkbox .halfCheckedCheckbox + .cr {
	border-color: #c04240;
	background: #c04240;
}
	#facetArea .halfCheckedGroup {
		font-size: 13px !important;
		transform: scale(0.8) !important;
	}
#facetArea .checkbox input[type=checkbox]:checked + .cr {
	border-color: #c04240;
	background: #c04240;
}
#facetArea .checkbox span:last-child {
	font-size: 14px;
	font-weight: 400;
	top: 0px;
}
#facetArea .img-default, #facetArea .img-delete16 {
	margin-right: 7px;
	margin-top: -3px;
}

#facetArea .checkboxGroup .checkboxGroupExpand {
	top: -5px;
	margin: 0px 8px 0px 0px;
	position: relative;
	opacity: 1;
}
#facetArea .checkboxGroup .checkboxGroupExpand.plus {
	background-position: center -511px;width: 16px;height: 16px;background-size: 100% auto;transform: rotate(-90deg);filter:brightness(0) invert(1);
}
#facetArea .checkboxGroup .checkboxGroupExpand.negative {
	background-position: center -511px;width: 16px;height: 16px;background-size: 100% auto;transform: rotate(0);
}

#facetArea .checkboxGroup .plus {
	background-image: url('../icons/16x16/Content/arrow-right.png');
	background-position: 0 !important;
	transform: rotate(0) !important;
}
#facetArea .checkboxGroup .negative {
	background-image: url('../icons/16x16/Content/arrow-down.png');
	background-position: 0 !important;
}


#facetArea .showFacetEmptyItemBtn, #facetArea .facetCountR {
	color: #fff !important;
	bottom: auto;
	top: 10px !important;
	position: absolute;
}
#facetArea .facetCountR{
	color: #616161 !important;
}
#facetArea .showFacetEmptyItemBtn {
	top: 7px !important;
	right: 34px;
}

#facetArea .panel .panel-body {
	padding: 0;
}
#facetArea .panel .fc-inpanel {   padding: 0 11px 7px  !important; }
#fc_query_p_body .facetLinkPLine .img-default{margin: 0 !important;width: 0;}
#facetArea #fc_query_p_body .img-delete16, #facetArea #fc_query_p_body .img-default{margin: 0 6px 0 0;}
.facetLinkPLine label b{position: relative;font-size: 14px;}
#facetArea .panel .panel-body.chartArea {
	margin: 0px 10px;
    border-radius: 4px;
	background: #f7f8fa;
}
#facetArea ._ttl {
	max-width: 145px;
}
	#facetArea .facetLink.facetSubItem ._ttl {
		max-width: 110px;
	}
#facetArea ._ttl_2 {
	max-width: 160px;
}
#facetArea .panel .panel-body .facetLink {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0;
	font-weight: 400;
	text-overflow: ellipsis;
	color: #fff;
	padding: 6px 50px 6px 25px;
	transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease-in-out;
      -moz-transition: all .15s ease-in-out;
      -o-transition: all .15s ease-in-out;
}
#facetArea .panel .panel-body .facetLink.facetLinkPLine.checkboxGroup {
	padding: 6px 0px 6px 25px;
}
/**
.facetLeftSpace .facetLink.facetSubItem .facetCountR{right:-2px}
**/
.facetLeftSpace .facetLink:not(.facetLinkPLine):not(.facetSubItem){
	padding-left: 49px !important;
	}

	#facetArea .panel .panel-body .facetLink:hover .checkbox span:last-child, #facetArea .panel .panel-body .facetLink:hover .facetCountRPBar { 
	color:#eee;
	}
		#facetArea .panel .panel-body .facetLink.checkboxGroup:hover {
		padding-left: 25px !important;
		}
		#facetArea .panel .panel-body .facetLink.facetSubItem:hover {
		padding-left: 38px !important;
		}
#facetArea .panel .panel-body .facetLink.facetSubItem {
	padding-left: 38px !important;
}
	#facetArea .img-default {
	opacity: 1;
	margin-right: 10px;
	margin-top: -8px;
	filter:brightness(0) invert(1)
	}
		#facetArea .facetLink:hover .img-default {
		opacity: 0.8;
		}



/* facet filtre görünümü */		
#facetArea .panel #fc_query_p_body.panel-body {
	padding-left: 8px !important;
}
#facetArea .panel #fc_query_p_body.panel-body .facetLink {
	display: inline-block;
    float: left;
    width: inherit;
    padding: 5px 3px;
    background: #edf5fd;
color:#333;
    margin: 0 3px 3px 0px;
	border: 1px solid #b0d0f1;
    border-radius: 4px;
	overflow: hidden;
}

.UIfacetLink {
    width: inherit;
    padding: 4px 3px;
    background: #edf5fd;
    border: 1px solid #b0d0f1;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}


#facetArea .checkboxGroup .facetCountRPBar b {
	font-weight: normal
}

#facetArea #fc_query_p_body .img-delete16 {
	float: right;
	margin: 3px 3px 0 10px;
    height: 10px;
    width: 10px;
    opacity: 0.8;
}
	#facetArea #fc_query_p_body .img-default {
		display: none;
	}
/*** ***/

#facetArea .panel .panel-body .facetCountRPBar {
	font-size: 12px;
	color: #fff !important;
	padding: 0;
	width: auto;
	background: transparent !important;
}

#facetArea .chartArea svg text {
	font-weight: bold;
    font-size: 12px;
}
#facetArea .img-not12 { margin-top: 11px;margin-left: -13px;z-index: 9;}

/** main right content **/

/*.page-content-wrapper {
	background: #F7F8FA;
}
*/
.pnl-query-item .badge {
	position: absolute;
	right: 26px;
	top: 14px;
	color: #242527;
    padding: 3px 7px !important;
    border: 1px solid #ECEFF3;
	background: #ECEFF3 !important;
}
.pnl-query-item .klv-kw-title > .badge {
	right: 3px;
	top: 8px;
	color: #242527;
}
.pnl-query-item.panel-info .klv-kw-title > .badge {
	color: #c04240;
}
.pnl-query-item .badge:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 23px;
    top: -1px;
    left: -31px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,1));
}
.pnl-query-item.panel-info .badge:before {
	background-image: linear-gradient(to right, rgba(37,143,251,0.2), rgba(37,143,251,1));
}
.ResultArea, .SingleArea {
	margin: 5px 5px 0;
}
.ESBody.MAP .ResultArea, .ESBody.MAP .SingleArea, .ESBody.DGRAPH .ResultArea, .ESBody.DGRAPH .SingleArea {
	margin: 0px;
}
.inDefaultPanel {
	position: relative;
	padding: 0px 10px 0px 5px;
	margin: 0;
	max-width: 620px !important;
}
.FrameMode .inDefaultPanel { margin: 0 }
.FrameMode .ResultArea, .FrameMode .SingleArea { margin:0 }
.FrameMode .pnl-query-item, .FrameMode .panel { 
	padding: 0  !important;
	border: 1px solid #ECEFF3 !important;
	margin: auto;
	box-shadow: none;
}
.FrameMode .pnl-query-item .SummaryText {margin-top: 0;border: none;}
.FrameMode .navbarArea { min-height: 0;display:none;}

.pnl-query-item {
	background: #fff;
	margin: 5px 0 10px 0 !important;
	padding: 0;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}
	.pnl-query-item:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
	}
.pnl-query-item.ItemSelectedForAdvRight {
	border: none !important;
	background: #ffffff;
	overflow: inherit;
	box-shadow: 13px 2px 12px 0 rgba(0, 0, 0, 0.12);
}
.pnl-query-item .ThumbContentRef {
	float: left;
	margin-right: 12px;
	cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ECEFF3;
}
.pnl-query-item .docDetail .ThumbContentRef img {
	max-height: 200px;
    max-width: 200px;
}
/*  Dlv List */
.pnl-query-item .headerDocRow {
	position: relative;
	padding: 15px 36px 15px 70px;
	min-height: 62px;
}
.pnl-query-item .SummaryText {
	padding: 5px 15px 10px 15px;
	line-height: 1.7em;
	color: #616164;

	margin: 0;
	float: left;
	width: 100%;
}
.pnl-query-item .SummaryLinks {
	text-align: right;
	padding: 7px 10px 9px;
border-top: 1px solid #ECEFF3;
	float: left;
	width: 100%;
	margin-top: 0;
}
.pnl-query-item .SummaryLinks button, .pnl-query-item .SummaryLinks span {
	opacity: 0.7;
}
.pnl-query-item .SummaryLinks button:hover, .pnl-query-item .SummaryLinks span:hover {
	opacity: 1;		
} 
.pnl-query-item .divPanelTitleText, .pnl-query-item .docParentArea {
	width: 100%;
	color: #A8A9AD;
	padding: 0px;
}
.pnl-query-item .headerDocRow small {
	font-size: 11px;
	color: #616164 !important;
}
.pnl-query-item .headerDocRow .imgContainer {
	background: #f7f8fa;
	position: absolute !important;
	top: 15px;
    left: 15px;
	padding: 9px;
	text-align: center;
	width: 42px;
	height: 42px !important;
	border-radius: 4px;
}
.pnl-query-item .headerDocRow .docParentArea .inLink {
	color: #616164 !important;
	font-size: 12px !important;
}
.pnl-query-item .divPanelTitleText .inLink {
	font-size: 18px;
	color: #242527;
}
	.pnl-query-item .divPanelTitleText .inLink:hover {
	color: #c04240;
	}
.pnl-query-item .SummaryAll {
	padding: 0;
	float: left;
	width: 100%;
}
.pnl-query-item .headerDocRow .docParentArea small[title=Sahip] {
	font-size: 11px !important;
}
.fav-color {
	color: #ffa21a;
}

/** right div list **/
.rightDiv { 
	max-height: 440px;
}
.rightDiv .pnl-query-item .headerDocRow {
	padding: 15px 15px 15px 60px;
	min-height: 62px;
}
.rightDiv .pnl-query-item .divPanelTitleText .inLink {
	font-size: 16px;
}
.rightDiv .pnl-query-item .headerDocRow .imgContainer {
	padding: 8px;
	width: 32px;
	height: 32px !important;
}
.rightDiv .pnl-query-item .imgPanelTitleIcon {
	width: 16px;	
}
/* general */
iframe {
	background: #F7F8FA;
}
.closePanel {
	bottom: 165px;
	color: #fff;
	text-shadow: none;
	width: 24px;
    height: 24px;
	line-height: 24px;
	border-radius: 50%;
	border: none;
	opacity: 1;
	background: #c04240 ;
	box-shadow: 0px 4px 8px rgba(0,0,0,.2);

	}
	.closePanel:hover {
	background: #ED4C58 !important;
	color: #fff !important;
	}

.highlight {
	background-color: #18B500;
	border-radius: 3px;
}
.norecord {
    text-align: center;
    font-size: 16px;
    color: #616164;
    padding: 40px 20px;
	margin: 10px;
    border: 1px dashed #ECEFF3;
    border-radius: 4px;
    background: #fff;
}

/** mobile date filter slider **/
	#dateSliderTooltip {
		background-color: rgba(255,255,255,.5) !important;
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100% - 300px) !important;
		left: 300px;
	}
	#dateSliderTooltip .dateSliderContainer {
		position: absolute !important;
		left: 50% !important;
		top: 50% !important;
		width: auto !important;
		font-size: 45px;
		display: block;
		margin-left: -340px;
		margin-top: -65px;
	}

	#dateSliderTooltip .dateSliderContainer .leftToolTip, #dateSliderTooltip .dateSliderContainer .rightToolTip { 
		float: left;
		padding: 5px 35px !important;
		text-align: center;
		margin: 0 10px 5px 10px;
		border-radius: 8px;
		color: #fff;
		border: none;
	}
	#dateSliderTooltip .dateSliderContainer .leftToolTip { background: #c04240   !important;}
	#dateSliderTooltip .dateSliderContainer .rightToolTip { background: #9A3533 ;}

/** **/
.sliderArea .noUi-horizontal .noUi-origin .rightToolTip,
.sliderArea .noUi-horizontal .noUi-origin .leftToolTip,
.dateFilterArea .noUi-horizontal .noUi-origin .rightToolTip,
.dateFilterArea .noUi-horizontal .noUi-origin .leftToolTip {
	position: relative;
	display: none;
	margin-top: 5px;
    margin-left: -43px;
    width: 86px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 6px 5px;
	background: #c04240;
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,.1);
}
.sliderArea .noUi-horizontal .noUi-origin .rightToolTip:before,
.sliderArea .noUi-horizontal .noUi-origin .leftToolTip:before,
.dateFilterArea .noUi-horizontal .noUi-origin .rightToolTip:before,
.dateFilterArea .noUi-horizontal .noUi-origin .leftToolTip:before {
	content: '';
	position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #c04240;
}
.sliderArea .noUi-horizontal .noUi-origin:hover .rightToolTip, .dateFilterArea .noUi-horizontal .noUi-origin:active .rightToolTip,
.sliderArea .noUi-horizontal .noUi-origin:hover .leftToolTip, .dateFilterArea .noUi-horizontal .noUi-origin:active .leftToolTip,
.dateFilterArea .noUi-horizontal .noUi-origin:hover .rightToolTip, .dateFilterArea .noUi-horizontal .noUi-origin:active .rightToolTip,
.dateFilterArea .noUi-horizontal .noUi-origin:hover .leftToolTip, .dateFilterArea .noUi-horizontal .noUi-origin:active .leftToolTip {
    display: block;
}
/* slider + date filter */
.expander {
	top: -21px !important;
    left: 3px;
    font-size: 28px !important;
	color: #242527;
    font-family: 'Roboto', sans-serif;
}
.expandButton {
	width: 24px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	user-select: none;
	filter: brightness(0) invert(1);
}

.sliderArea, .dateFilterArea {
	height: inherit !important;
	padding-left: 30px !important;
}
.sliderArea .noUi-target {
	height:6px;
}
.sliderArea {
	padding-right: 30px !important;
}
.d

.dateFilterArea #dateSlider_queryDate {
	border: none;
	box-shadow: none;
	width: 215px;
	height: 6px;
	cursor: pointer;
}
.sliderArea .noUi-horizontal .noUi-base,
.dateFilterArea	.noUi-horizontal .noUi-connect {
	border: none;
	box-shadow: none;
	background: #e69190!important;
	}
.sliderArea .noUi-horizontal .noUi-base,
.dateFilterArea .noUi-horizontal .noUi-base {
	border-radius: 3px;
	background: #DDDFE2;
}
.sliderArea .noUi-horizontal .noUi-handle,
.dateFilterArea .noUi-horizontal .noUi-handle {
	box-shadow: none;
	border: none;
	top: -5px !important;
	cursor: pointer;
	
	height: 15px !important;
    width: 15px !important;
	border-radius: 50%;
	background: #c04240 !important;
		transition: all .15s ease-in-out;
		  -webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
}
	.dateFilterArea .noUi-horizontal .noUi-handle:hover, .dateFilterArea .noUi-horizontal .noUi-handle:active, .dateFilterArea .noUi-horizontal .noUi-handle:focus {
	transform: scale(1.3);
	}

.dateFilterArea .inExpandArea .list-group {
	box-shadow: 0 2px 8px 0px rgba(0,0,0,.15);
}

	.dateFilterArea .inExpandArea .list-group-item {
	padding: 8px;
	border: none;
	border-bottom: 1px solid #ECEFF3;
	margin-bottom: 0px;
		transition: all .15s ease-in-out;
		  -webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
	}
		.dateFilterArea .inExpandArea .list-group-item:hover {
		background: #FCFAF5;
		}
	.dateFilterArea .inExpandArea .list-group-item:last-child {
	border-bottom: none;
	}
	.dateFilterArea .inExpandArea .input-group {
	padding: 0px;
	}
	.expandButton + div .input-group input {
	border: none;
	border-right: 1px solid #fff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #fff;
    font-size: 14px;
	text-align: center;
	background: #c04240;
	box-shadow: none;
	cursor: pointer;
		transition: all .15s ease-in-out;
		  -webkit-transition: all .15s ease-in-out;
		  -moz-transition: all .15s ease-in-out;
		  -o-transition: all .15s ease-in-out;
	}
		.expandButton + div .input-group input:hover {
		background: #9A3533;
		}
	.expandButton + div .input-group input:last-child {
	border-right: 0;
	}


/*Dlv right Side*/ 
/* Listeme sağ alan */

.inAdvRightPanel{
	left: 638px;
	margin-top: 5px;
	padding: 15px 25px;
	border-left: 0;
	max-width: 100%;
	background: #fff;
	box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.12);
}
.toggled .inAdvRightPanel {
    left: 938px !important;
}
.inAdvRightPanel h3 .inLink {
	position: relative;
	color: #4e4e4e;
	font-size: 16px;
	display: block;
}
.inAdvRightPanel #inrightInfo .isplit {
	margin: 0 0 0 4px;
}
.inAdvRightPanel #inrightInfo .isummary .isplit {
	vertical-align: bottom;
	margin: 6px 10px 5px 10px;
}
.inAdvRightPanel #inrightInfo .isummary .iowner { color: #4e4e4e !important;position: relative;font-size: 11px !important;top: -1.5px;}
.ipath .iblock.iparent img { margin-right: 3px;}

#rightDuplicates .docDetail , #rightVersions .docDetail , #rightSimilars .docDetail { margin-bottom: 10px}
#rightDuplicates  .__textclass , #rightVersions .__textclass , #rightSimilars .__textclass { display: none;}
#rightDuplicates .docDetail , #rightVersions .docDetail , #rightSimilars .docDetail { min-height: auto}

.inAdvRightPanel .SummaryLinksRight, .inAdvRightPanel #inrightInfo { 
	padding: 10px 0;
	max-width: 553px;
}
.inAdvRightPanel .SummaryLinksRight {
	padding-left: 50px;
}
.inAdvRightPanel h3 {
	position: relative;
	color: #256fb0;
    line-height: 20px;
	padding: 0 0 0 50px;
	margin: 0;
	min-height: 40px;
	width: 100%;
}
.inAdvRightPanel h3 img {
    position: absolute;
    left: 0;
	width: 34px;
    padding: 5px;
    border-radius: 4px;
    background-color: #f7f8fa;
}

.isplit {
	background-image: url('../icons/16x16/Content/arrow-right.png');
	background-position: 0;
    opacity: .6;
}
.ipath .iblock .itext {
	color: #242527;
}
.ipath .iblock img {
    opacity: .8;
    width: 16px;
}
.inAdvRightPanel #inrightInfo a:hover, .inAdvRightPanel #inrightInfo a:focus {
	color: #c04240;
}
	.inAdvRightPanel #inrightInfo a:hover span, .inAdvRightPanel #inrightInfo a:focus span {
	color: #c04240;
	}
.isummary {
	color: #616164;
    font-size: 12px;
}
.ipnl {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.iDetail.ipnl{
    white-space: normal;
}
.iDetail.ipnl .attD {
	font-weight:bold;
}
.iDetail.ipnl .attV {
	font-weight:normal;
}


.rightTabs a {
	color: #A8A9AD;
	margin-right: 3px;
	border-top: transparent !important;
	}
	.rightTabs a:hover {
		color: #8A8B91;
	}
	.rightActive h4, .rightActive:focus h4, .rightActive:hover h4, .rightActive:visited h4 {
		color: #c04240 ;
	}
.rightTabs a .badge {
	font-size: 11px;
    color: #fff !important;
	vertical-align: middle;
    padding: 3px 6px;
	margin: 0;
    border-color: transparent !important;
    background: #A8A9AD !important;
}
	.rightTabs a:hover .badge {
	color: #fff !important;
    border-color: transparent !important;
	background: #8A8B91 !important;
	}
	.rightTabs a.rightActive .badge {
	color: #fff !important;
	border-color: transparent !important;
	background: #c04240  !important;
	}
.rightTabs a.rightTabLinked {
	color: #fff;
    font-size: 13px;
    padding: 0 10px;
	margin-top: 9px;
    line-height: 24px;
    height: 24px;
    border-radius: 4px;
    background: #c04240 ;
}
	.rightTabs a.rightTabLinked:hover {
	background: #ED4C58;
	text-decoration: none;
	}
.rightTabs a h4 {
	font-size: 16px;
}
	.rightTabArea {
		padding: 10px 15px;
		border-radius: 4px;
		background: #F7F8FA;
	}
.rightDiv #inrightLabels > p {
	padding: 12px 0px !important;
    margin: 0px !important;
}
/** **/
/* Liste için kutu renk */
.highlight {border-radius: 0;color: #fff !important;padding: 1px 2px !important;display: inline !important;}
.divPanelTitleText .highlight{
	color: #262626 !important;
	background: #efefef;
	border-radius: 2px;
	padding: 1px 4px !important;
}
/* Modal */
.modal-content .modal-header > span, .modal-content .modal-header > span > a, .modal-content .modal-header > button {
	color: #ffffff; 
	opacity: 1 
	}
.modal-content .modal-header img {filter: brightness(0) invert(1); }
.modal-content .modal-header small{color: #eee;}

/* facepro modal */
.fcThumbsContainer .fcContent .openIco , .fcThumbsContainer .fcContent .nokIco , .fcThumbsContainer .fcContent .okIco{opacity: 0.8;-webkit-filter:drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);filter: drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);text-shadow: none;}
.fcThumbsContainer .fcContent .img-similarFc{opacity: 0.8;-webkit-filter:brightness(0) invert(1) drop-shadow(0px 0px 0px #000)drop-shadow(1px 1px 1px #000)drop-shadow(-1px 0px 4px #fff);filter: brightness(0) invert(1) drop-shadow(1px 1px 0px #000);}
/* like textarea */
.panel-warning span{color: #fff; opacity: 1}

.enumLayerSettingsDiv {background: #fff !important;}

	/* Kayıtlı sorgular  */
	.modal-body .input-group-xs .form-group{min-height: 40px;width: 100%;margin-bottom: 9px;}
	/* modal title custom*/
	#OCRSettingsEditorHeader{display: inline;}
/* Map */
#mapLayerSelArea { overflow-y: auto !important;}
#mapLayerSelArea .map-layer-sel{padding: 1px}
#mapLayerSelArea button {width: 88px;height: 88px;position: relative;overflow: hidden;margin-bottom: 2px; border-radius: 5px;}

#mapLayerSelArea .map-layer-sel button span{position: absolute;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;transition: 0.4s;color: #fff;font-size: 12px;line-height: 18px;}
#mapLayerSelArea .map-layer-sel.active button span{display: none;}
#mapLayerSelArea .map-layer-sel button:hover span{left:-100% }

.ol-popup-content { padding-right: 0}
#iframeContent { margin: 7px 0 0 !important;}
.ol-popup-closer, .ol-popup-closer:hover, .ol-popup-closer:visited {
	right: -5px;
    top: -5px;
    padding: 0px !important;
    text-align: center;
    background: #fd5964;
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    border-radius: 50%;
    color: #fff;
}
.ol-popup {
	background: #F7F8FA;
	border: 1px solid #dddfe2;
	box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.12);
}
.ol-touch .ol-control button{font-size: 1.14em}

#ulLabelList li {
	color: #242527;
    padding: 10px !important;
    border-color: #ECEFF3;
    border-radius: 4px;
	margin: 5px 0 5px;
}
	#ulLabelList li:hover {
	background-color: #fff;
	}
	#ulLabelList li > div, #ulLabelList li > div p {
	color: #8A8B91 !important;
    font-size: 11px !important;
    line-height: 13px;
	}
	
	#ulLabelList li > hr {
	border-top: 1px solid #F7F8FA !important;
	margin-top: 6px !important;
    margin-bottom: 10px !important;
	}
	#ulLabelList li > div .img-edit16, #ulLabelList li > div .img-delete16 {
	padding: 12px;
    opacity: .6;
	}
		#ulLabelList li > div .img-edit16:hover, #ulLabelList li > div .img-delete16:hover {
		opacity: 1;
		}
	#ulLabelList li > p {
	font-size: 14px !important;
    line-height: 18px;
	}
.moreLink {
	text-align: center;
}
.moreLink a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	background: #c04240;
}
.moreLink a:hover {
	background: #9A3533;
}
	
.inAdvRightPanel #inrightInfo small img{margin:0 5px;vertical-align: bottom;}
.inAdvRightPanel #inrightInfo small{margin-top: 10px;display: inline-block;}
.inAdvRightPanel #inrightInfo small .maxV{color: #4e4e4e;text-transform: capitalize;font-size: 13px;/* font-weight: normal; *//* display: inherit; *//* float: left; */}

.tt-dropdown-menu {
	max-width: 445px;
    margin-top: 54px;
	border: none;
	border-radius: 0 0 4px 4px;
}

/* KLV - Kelimeler */
#divMain .panel-list .panel-heading { padding:0 !important; }
#divMain .btn-kw-list .btn-default {
    border-radius: 0px;
    margin-bottom: -1px;
	border-color: #ECEFF3;
	padding: 1px !important;
	text-align: left;
	}
.action-menu-button {
	position: relative;
	background-image: url('../icons/16x16/list-menu.png') !important;
	height: 24px;
	margin: 8.5px 1px 8px;
	background-position: 0;
}

.klv-kw-title {
	font-size: 16px;
	position: relative;
	height: 42px;
	border-radius: 4px 0 0px 4px;
}
.klv-kw-title .imgPanelTitleIcon {
	float: left;
    width: 24px;
	height: 24px;
    padding: 4px;
	margin-left: 9px;
    margin-top: 9px;
    background-color: #f7f8fa;
	opacity: .9;
    filter: none;
}
#divMain .panel-heading .divPanelTitleText {
	color: #242527;
	font-size: 13px;
	line-height: 42px;
	height: 42px;
	padding-left: 10px;
	width: calc(100% - 40px);
}
#divMain .panel-heading .divPanelExtraText {
	color: #A8A9AD;
	font-size: 12px;
}

/* divCurrentDocument ikonlar */
.divCurrentDocument {
	padding: 4.1px 8px !important;
	border-bottom: 1px solid #ECEFF3;
	background: #F7F8FA;
}
.divCurrentDocument .img-previous-24-disabled {
	background-image: url('../icons/16x16/Content/arrow-left.png');
	background-position: center;
	margin-left: -10px;
	opacity: .5;
}
.divCurrentDocument .img-next-24 {
	background-image: url('../icons/16x16/Content/arrow-right.png');
	background-position: center;
}
.divCurrentDocument .img-previous-24 {
	background-image: url('../icons/16x16/Content/arrow-left.png');
	background-position: center;
	margin-left: -10px;
}
.divCurrentDocument .img-next-24-disabled {
	background-image: url('../icons/16x16/Content/arrow-right.png');
	background-position: center;
	opacity: .5;
}
.divCurrentDocument .img-download {
	background-image: url('../icons/16x16/Content/download.png?v=1') !important;
	background-position: center;
}

#divKwAccordion .divKWSummary {
    margin-top: 43px;
	padding-top: 18px;
	background: #fff;
}
#divMain #divKwAccordion .divKeywordDocExpand{margin-top: -14px;}
/* Kelimelers*/ 
.SummaryLinks button { margin-right: 7px;}
.SummaryLinks button:first-child{margin-right: 6px;}
.SummaryLinks span{margin-right: 0 !important;}
.SummaryLinks span i{margin-right: 5px !important;color: #262626;font-weight: bold !important;margin-top: 2px;width: 24px;text-align: center;}

/* Kelime iç*/
#divMain .panel-collapse .panel-body {border-top-color: #e8e8e8;margin-top: 0;background: #fff;padding-bottom: 0 !important;} 

.SearchTextBoxArea button span.img-check12{opacity: 1;filter: none;}
.SearchTextBoxArea .active span{opacity: 1;filter: brightness(0) invert(0);}



#divKwAccordion {
	max-width: 100% !important;
}
.SummaryLinks .btn-default:hover, 
.SummaryLinks .btn-default:focus, 
.SummaryLinks .btn-default.focus, 
.SummaryLinks .btn-default:active, 
.SummaryLinks .btn-default.active, 
.open > .dropdown-toggle.btn-default {
	background-color: transparent;
}

.divSummaryRight {
margin-left: 40px;
border-left: 1px solid #ECEFF3;
padding-left: 8px;
}
.divSummaryRight .__textclass {
line-height: 19px;
font-size: 13px;
color: #616164;
}
.divSummaryLeft {
width: 40px;
margin-left: 0px;
text-align: center;
}
#divMain .divSummaryLeft button {
	border:none; 
	margin-bottom: 2px; 
	background-color: transparent !important;
	transform: scale(0.8);height: 24px;
	opacity: 0.6;
	transition: all ease-in-out .15s;
}
	#divMain .divSummaryLeft button:hover {
	opacity: 1;
	}
#divMain .divSummaryLeft .img-folder24 {
background-position: center -1012px;
}

#divKwAccordion .pnl-query-item {
	position: relative;
	display: inline-block;
	margin: 6px 0.6% 6px !important;
	border-radius: 4px !important;
	width: 23.8%;
	vertical-align: top;
	border: none !important;
	box-shadow: 0 2px 6px 0px rgba(0,0,0,.1) !important;
}

#divKwAccordion .pnl-query-item.panel-info {
	box-shadow: 0 2px 20px 0px rgba(0,0,0,.2);
}
	#divKwAccordion .pnl-query-item.panel-info .panel-heading {
		background: #c04240;
	}
	#divKwAccordion .pnl-query-item.panel-info .panel-heading .imgPanelTitleIcon {
		opacity: 1;
		background: #fff;
	}
	#divKwAccordion .pnl-query-item.panel-info .panel-heading .divPanelTitleText {
		color: #fff;
	}
	#divKwAccordion .pnl-query-item.panel-info .panel-heading .divPanelExtraText {
		color: #fff;
	}
	#divKwAccordion .pnl-query-item.panel-info .panel-heading .action-menu-button {
		filter: brightness(0) invert(1);
	}

#divKwAccordion .pnl-query-item .collapse.in {
	position: absolute;
	top: 42px;
    right: 0;
    left: 0;
	border: 1px solid #c04240;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,.15);
    z-index: 1;
}
	#divKwAccordion .pnl-query-item .collapsing {
	display: none;
	}
#divKwAccordion .pnl-query-item .docDetail .ThumbContentRef img {
	max-height: 130px;
    max-width: 130px;
}
.spanKeywordDocExpand {
	height: 20px;
	background: #fff;
	border-radius: 2px;
	top: 19px;
	position: relative;
	font-size: 0;
}
.spanKeywordDocExpand:before {
	border: 8.6px solid #f55a4e; 
	border-color: #f55a4e transparent transparent transparent;
	top: 6px;
	left: 6px;
	content: '';
	position: absolute;
	transition: 0.7s;
	z-index: 9;
}
.divKeywordDocExpand[state=expanded] .spanKeywordDocExpand {
	top: 20px;
}
.divKeywordDocExpand[state=expanded] .spanKeywordDocExpand:before {
	top: -4px;
	transform: rotate(180deg);
}
.divCurrentDocumentInfo img {
margin-right: 6px;
}

.divDocumentList, .divKeywordList {
	background-color: #F7F8FA;
	border-bottom: 1px solid #ECEFF3;
}
.btn-doc-list, .btn-kw-list {
	padding: 1px 4px 1px 4px;
	max-height: 145px;
}
.btn-kw-list span {
	margin: 0px;
	margin-bottom: 5px;
	width: 100%;
}
	
	
/* propGrid */
.__textclass .propGrid {
	display: table;
	width: 100%;
	margin: 0 0px 10px;
	border: 1px solid #ECEFF3;
}
.__textclass .propGrid .pgHeader { background:transparent }
.__textclass .propGrid .pgRow {
	border-bottom: 1px solid #ECEFF3; 
	padding: 0; 
	}
.__textclass .propGrid .pgRow:last-child { border-bottom: none; }
.__textclass .propGrid .pgRow:nth-child(odd){ background: #fff; }
.__textclass .propGrid .pgRow:nth-child(even){ background: #F7F8FA; }
.__textclass .propGrid .pgCol{
	font-weight: bold;
	border-right: 1px solid #ECEFF3;
	min-width: 150px;
    max-width: 150px;
}
.__textclass .propGrid .pgVal{ word-break: break-word; }
.__textclass .propGrid .pgVal, .__textclass .propGrid .pgCol { padding: 3px 5px; }


/*General Modal*/
.modal-content .modal-header {
	background: #383B5A;
    color: #fff;
    border-bottom: none;
}
	.modal-content .modal-title {
	font-size: 16px;
	line-height: 20px;
	}
		.modal-content .modal-title .helpButton {
	    padding: 0 10px;
		color: #fff;
		}
.modal-content .modal-body {
	background: #F7F8FA;
}
.modal-content .modal-footer {
	border-top: none;
}

.modal-content .modal-footer .permArea button.permBtn img {
	width: 16px;
}
	.modal-content .modal-footer .permArea .dropdown-menu > li > a {
	padding: 12px 14px 8px 14px;
	}
		
	.modal-content .modal-footer .permArea .dropdown-menu .close {
	padding: 5px 12px;
	display: none;
	}

.modal-content.panel-warning > .panel-heading {
	background-color: #FFBC43 !important;
    border-color: #FFBC43 !important;
}
/* like textarea */
.inEditableArea { 
	background:#fff;
	border:1px solid #DDDFE2;
	}
/* bootstrap css */
.btn:active, .btn.active {
	  -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default {
	color: #242527;
    border-color: #DDDFE2;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-color: #F7F8FA;
    border-color: #DDDFE2;
}
.btn-primary {
	background: #c04240;
	border-color: #c04240;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #9A3533;
    border-color: #9A3533;
}

.dropdown-menu {
    border: 1px solid #ECEFF3;
    border-radius: 0px !important;
	padding: 0px;
	box-shadow: 0 0 8px -2px rgba(0,0,0,.2);
}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			color: #242527;
			background: #F7F8FA;
		}
	.dropdown-menu > li > a img, .dropdown-menu .img-default16  {
		width: 16px;
		height: 16px;
		margin-right: 6px !important;
		vertical-align:middle !important;
	}
/* Form control */
.form-control {
	border: 1px solid #DDDFE2;
	box-shadow: none;;
}

/* dropdown kategorisindeki menü, sağ bölümde yer alır */
.menuRoot li .menuFormControl, .menuMobile li .menuFormControl { 
	width: 100%;
	border-radius: 0;
	border: 1px solid #DDDFE2;
	box-shadow: none;
	}
.menuRoot li#btnExport { margin: 0 !important;}
.menuRoot li#btnExport:hover { background: #f9f9f9 }

.dropdown-menu.menuRoot > li > a {
	position: relative;
	padding: 10px 14px 10px 46px;
	}
.dropdown-menu.menuMobile > li > a{
	margin-top: 0px !important;
	position: relative;
	padding: 10px 14px 10px 46px;
}
	.dropdown-menu.menuRoot img, .dropdown-menu.menuMobile > li > a img, .dropdown-menu.menuMobile > li > a .inSpanIcon {
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -12px;
		width: 24px;
		height: 24px;
		background-size: 24px;
		}
	.dropdown-menu.menuMobile > li > a .inSpanIcon.aQuery {
		width: 12px !important;
		height: 12px !important;
		background-size: 12px !important;
		top: inherit !important;
		left: 28px !important;
		margin-top: 12px;
		margin-left: inherit !important;
	}	
	
.wsMnTitle {
	padding: 15px 10px !important;
	margin-bottom: 0px;
	color: #c04240;
	line-height: 20px;
	border-top: 1px solid #ECEFF3;
	border-bottom: 1px solid #ECEFF3;
	}
.inSpanText, .wsSelectName {
	padding-top: 0px;
	white-space: normal;
}
.menuRoot .inSpanIcon {
    position: absolute;
    left: 10px;
}
.menuRoot .aQuery.img-check12 {
	left: auto;
	width: 14px;
    height: 14px;
	margin-left: -20px !important;
}
.directMenu > a .inSpanIcon.img-delete {
	display: none;
}
.directMenu > a {
    color: #fff !important;
    font-weight: bold !important;
    text-align: center;
    padding: 10px 10px !important;
    margin: 5px 14px 12px 10px;
    border-radius: 4px;
	background: #383B5A;
	transition: all 0.1s ease-in-out;
}
	.directMenu > a:hover, .directMenu > a:focus {
		background: #c04240  !important;
	}
.navbar .dropdown-menu .glyphicon-remove {
	padding: 6px !important;
}

.otherMenu {
	width: 300px;
}

.wsMnItem small {
	float: left;
	width: 100%;
	color: #616164;
    line-height: 18px;
	padding: 5px 0 0 0;
	}	

.popover {
	padding: 0 !important;
	border: 1px solid #FFBC43 !important;
	border-radius: 4px !important;
}
.popover .popover-content {
	padding: 15px;
	background: #FFBC43;
}
	.popover.infoPopover {
	    border: 1px solid #ECEFF3;
	}
	.popover.infoPopover .popover-content {
		background: #ffffff;
	}
	.popover.infoPopover.bottom > .arrow {
    border-bottom-color: #ffffff;
	}
	.popover.infoPopover.bottom > .arrow:after {
    border-bottom-color: #ffffff;
	}

.popover .popover-content a {
	color: #242527;
	font-weight: bold;
	text-decoration: underline;
}
.popover.left > .arrow {
	border-left-color: #FFBC43 !important;
}
.popover.left > .arrow:after {
	border-left-color: #FFBC43 !important;
}

.popover.bottom > .arrow {
    border-bottom-color: #FFBC43 !important;
}
.popover.bottom > .arrow:after {
	border-bottom-color: #FFBC43 !important;
}
/** **/
.popover .popover-content pre {
	background-color: #fff;
    border: none;
}
.popover .popover-content .pMainContent {
	border-right: 1px solid rgba(255,255,255,.3);
}

/* Takvim */
#mycalendar {
	overflow: hidden;
	padding-bottom: 40px !important;
	bottom: 180px;
	max-width: 100% !important;
}

table .year-title span {
	font-size: 10px;
	background: #c04240 !important;
	margin-left: 7px !important
	}
table .year-title span:after {
content: '';
width: 7px;
position: absolute;
top: 5px;
bottom: 6px;
border: 1px solid #DDDFE2;	
margin-left: -4px;
}

.calendar table {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
	vertical-align: top;
}

.calendar .calendar-header {
	border: 1px solid #eceff3;
}	
.calendar .calendar-header table th.year-title {
	position: relative;
	font-weight: normal;
	padding: 8px;
	vertical-align: bottom;
	background: transparent;
	border-radius: 0 0 0 0 !important;
	font-size: 22px;
}
.calendar .calendar-header table th.year-neighbor, .calendar .calendar-header table th.year-neighbor2 {
	font-size: 18px;
	font-weight: normal;
	color: #8A8B91;
}

.calendar .calendar-header table th.next, .calendar .calendar-header table th.prev {
	width: 32px;
    height: 40px;
    vertical-align: middle;
    font-size: 12px;
	color: #616164;
}
.g-first-day {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.g-last-day {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;	
}
.calendar .months-container {
	display: inline-block !important;
    padding-right: 5px;
	padding-bottom: 30px;
    overflow-y: auto;
    height: 100%;
}
.calendar .months-container:after {
	content: '';
	position: absolute;
    left: 0;
    right: 10px;
    bottom: 0px;
	display: inline-block;
	height: 20px;
	background: linear-gradient(0deg, #f7f8fa, transparent);
}
.calendar table.month tr td .day-content:hover {box-shadow: 2px 2px 7px -3px #555;}
.calendar table.month tr th.month-title {width: 100%;font-weight: normal;padding: 1px 0 0;}
.calendar table.month tr th {color: #262626;padding: 0;margin: 0px 0 0;}

.calendar .month-container {
    width: 16.666% !important;
    height: 264px !important;
	border-radius: 4px !important;
	background: #ffffff;	
	vertical-align: top;
	overflow: hidden;
	border: 1px solid #ECEFF3;
}
.calendar table thead, .calendar table tbody { display: block }
.calendar table.month tr {
	display: block;
	padding: 0;
}
.calendar table.month tr th.month-title {
	font-size: 14px;
	color: #242527;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 9px 0;
	border: none;
    border-bottom: 1px solid #ECEFF3 !important; 
	background: #fff;
}
.calendar table.month tr td, .calendar table.month tr th {
	display:inline-block;
	border: none;
	overflow: hidden;
	width: 14%;
	height: auto;
	margin: 0;
	box-shadow: inset rgb(255, 255, 255) 0px -2px 0px 0px;
	
	text-align: center;
	margin-bottom: 2px;
}
.calendar table thead tr {
	border-bottom: none !important; 
}

.calendar table.month th.day-header {
	font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #616164;
	font-weight: bold;
    padding: 8px 0px;
}
.calendar table.month tr td .day-content {
	display: inline-block;
    font-size: 12px;
	text-align: center;
    line-height: 26px;
	border-radius: 14px;
	padding: 0;
    margin: 2px;
    height: 26px;
    width: 26px;
	border: none;
}
.calendar table.month tr td .day-content:hover {
	border-radius: 14px !important;
	background-color: #FFBC43 !important;
	box-shadow: none;
}
.documentConteiner {
	border: 1px solid #ECEFF3 !important;
	height: 153px !important;
	padding: 5px !important;
	background-color: #fff !important;
	box-shadow: 0px -6px 8px -2px rgba(231, 231, 231, 0.61);
}
.calendar-view .documentConteiner { 
	height: 170px !important;
}
.documentConteiner .documentViewFrame {
	position: relative;
	margin: 0 3px;
	width: 250px;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	background: #fff;
	border: none;
	overflow: hidden;
	padding: 0px;
}

.documentConteiner .documentViewFrame .divPanelTitleText {
    padding-left: 26px;
    width: 100%;
}
.documentConteiner .divPanelTitleText .inLink {
	color: #242527;
    font-size: 14px;
    line-height: 25px;
}
.documentConteiner .divPanelTitleText .inLink:hover {
	color: #c04240  ;
}
.documentConteiner .documentViewFrame .text {
	color: #373737;
}
.documentConteiner .documentViewFrameTitle {
	position: absolute;
    width: 100%;
    height: 25px;
	border-bottom: 1px solid #F7F8FA;
    background: #fff;
	}
.documentConteiner .documentViewFrameTitle .imgPanelTitleIcon {
	position: absolute;
	width: 16px;
	margin: 5px;
}
.documentConteiner .docDetail {
	position: relative;
    padding: 5px !important;
	padding-top: 0px !important;
    margin-top: 30px;
    margin-bottom: 5px;
    max-height: 104px;
    overflow-y: auto !important;
}

.InMapFrameLk { padding: 10px 0;}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText {
	padding: 0;
	margin-bottom: 0;
}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .ThumbContentRef img {
	max-width: 40%;
    border: 1px solid #ECEFF3;
    float: left;
    margin-right: 7px;
    margin-bottom: 3px;
    border-radius: 4px;
    overflow: hidden;
    padding: 3px;
}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .datetime {
	font-size: 14px;
	padding-bottom: 0;
}
.documentConteiner .documentViewFrame .SummaryAll .SummaryText .datetime .sub {
	font-size: 12px;
    color: #8A8B91;
}
.inAdvRightPanelCalendar {left: 1009px !important;border-left: 1px solid #eee !important;padding: 0 33px 0 11px !important;}
.inAdvRightPanelCalendar .panel-heading{color: #fff;text-align: center;margin: 10px 0px -3px;border: 1px solid #c3c3c3;border-radius: 6px 6px 0 0;cursor: pointer;background: #346ab3;width: 436px;float: left;}

.InFrmResult { padding: 0;max-height: 99.1%; }

/* */

.c_time {
	background: #fff;
	cursor:pointer;
}
#divMain .ItemSelectedForAdvRight:before{
	content: '';
	width: 27px;
	height: 100%;
	background: #fff;
	position: absolute;
	right: -24px;
	transition: all 1s;
	}

/* File info */
.ipnl img { width: 20px;margin-right: 2px; }
.rightDiv .collapse { display: none }

.rightDiv, .rightTabs {
	max-width: 539px;
}
#rightCE h4 {
	color: #c04240 ;
	font-weight: bold;
    font-size: 16px;
}
#rightCE a {
	display: inline-block;
    margin-right: 5px;
}

/* Navbar */
#querySavePopup .qUploadCtrlStyleSub {
	margin-top: 0;
}
#querySavePopup .qUploadCtrlStyleSub tr {
	border-bottom: 1px solid #ECEFF3;
}
#querySavePopup .qUploadCtrlStyleSub #qCreateQuery a {
	display: inline-block;
	font-size: 13px;
	color: #8A8B91;
    padding: 5px 10px;
    background: #ECEFF3;
    border-radius: 4px;
	transition: all .15s ease-in-out;
}
#querySavePopup .qUploadCtrlStyleSub #qCreateQuery a:hover {
	text-decoration: none;
	color: #fff;
	background: #c04240;
}

#editQueryModal .col-xs-1 { width:0;}
#editQueryModal .col-xs-10 { padding: 0; width:100%;}
#editQueryModal .control-label { text-align: left;}
#editQueryModal .control-label.col-xs-3 { width: 8.33333333%; }
#d1Childs .dropdown-menu{position: relative;left: -218px;background: #fff;width: auto;max-width: 262626px !important;max-height: 730px;overflow-x: scroll;}
#d1Childs .dropdown-menu:after{border-bottom: 6px solid #fff;}
#d1Childs .dropdown-menu .ExpMenuItem ul{padding-left: 0;margin-left: 10px;}
#d1Childs .dropdown-menu .ExpMenuItem a{text-overflow: ellipsis;padding: 1px 0 2px 5px;color: #262626;max-width: 255px;overflow: hidden;}

/* Manager  Header */
.body-with-fixed-navbar .navbar-default.navbar-fixed-top span {
	filter: brightness(0) invert(1);
    color: #fff;
}
	.queryButtons .btnquery {
	filter: brightness(0) invert(1);
	}
.navbar-default.navbar-fixed-top .img-default32 {margin-right: 5px; transform: scale(0.8);}
.navbar-fixed-top{height: 50px;}
.navbar-fixed-top .navbar-brand, .navbar-fixed-top button{filter: brightness(0) invert(1);height: auto !important;}

.inRootMenu .list-group-item:hover {background-color: #fff !important;}

.navbarArea .navbar-toggle {margin-top: -2px;}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{box-shadow: none;}

.navbar .dropdown-menu {min-width: 300px !important;}
.navbar .dropdown-menu > .active > a span{filter:brightness(0) invert(1);}

.qUploadCtrlStyle {
	margin-left: 0;
	max-width: 414px;
	margin-top: 62px;
	background: #fff !important;
	border: transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.navbar-fixed-top, .layoutNavBar {
min-height: 54px !important;
background: #383B5A !important;
}
.navbar-fixed-top .editingPanel {
	color: #fff;
}
/* Navbar belge gelince */
.navbar-fixed-top.navbar-fixed-second-top {
	margin: 9px 0px 9px 0px ;
	background: #fff !important;
	padding: 0px 0 !important;
	height: 41px !important;
	min-height: 41px !important;
}
.navbar-fixed-top.navbar-fixed-second-top .allLeft li{margin: 0 !important;}
.navbar-fixed-top.navbar-fixed-second-top .allLeft li#liPageCount{margin-top: 8px !important;}
.navbar-fixed-top.navbar-fixed-second-top .allLeft li a{padding: 5px 0px !important;width: auto;background: #888;color: #fff;width: 24px;height: 24px !important;text-align: center;border-radius: 50%;transform: rotate(90deg);line-height: 14px;display: inline-block;font-size: 12px;margin: 3px 0 0 0;}
.navbar-fixed-second-top .dropdown #aWorkSheet{border: 1px solid #ddd;padding: 6px 12px 4px !important;border-radius: 5px;color: #000;}
.navbar-fixed-second-top .dropdown #aWorkSheet span{color:#000; filter:none;}



#BaseButtonList #prevNextQ{padding-left: 10px;}
#BaseButtonList #prevNextQ a {padding: 5.5px 0 !important;width: 16px !important;}
#BaseButtonList #prevNextQ .pageValue {position: relative;margin: 0 5px;}
#BaseButtonList #prevNextQ .pageValue span{margin:0}
#BaseButtonList #layoutSearchPrev a{background-position: center -527.5px;}
#BaseButtonList #layoutSearchNext a{background-position: center -542.5px;}
#BaseButtonList #layoutSearchPrev a:before, #BaseButtonList #layoutSearchNext a:before {
	display: none;
}



/* Arama menusu */
.img-filter24 {
	margin: 2px 1.5px;
}
.facetCountT, .qUpload, .saveQueryBtn {
	height: 16px;
    width: 16px;
	top: 22px;
}
.saveQueryBtn {
	right: 45px;
}
.facetCountT, .qUpload {
	right: 18px;
}
.saveQueryBtn i {display:none;}
.saveQueryBtn:before { 
	content:'';
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	background: url('[=c.ResolveUrl("~/GUI/img/down24.png",true)]');
	background-size: 100% 100%;
}
.qUpload i { display:none; }
.qUpload:before { 
	content:'';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -1px;
	opacity: 0.7;
	background: url('../icons/16x16/photo-search.png?v2');
	background-size: 100% 100%;
}
.qUpload:hover:hover:before, .saveQueryBtn:hover:hover:before {
	opacity: 1;
}

.qUploadCtrlStyle .upload-title {
	color: #fff;
	font-weight: normal;
	padding: 12px 10px !important;
	background: #383B5A !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom: 0;
}
.qUploadCtrlStyle .upload-zone{margin: 6px -8px !important;padding: 10px;}
.qUploadCtrlStyle .hoverForDrop .fa-arrow-down{position: relative;top: -4px;}
.qUploadCtrlStyle .hoverForDrop{margin-top: -61px !important;border: 1px dashed #bb955f;line-height: 46px;height: 60px;padding: 6px 13px;width: 440px;margin-left: -16px !important;border-radius: 0 !important;}
.facetCountT .fa-eraser {
	display: none;
}
.facetCountT:after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../icons/16x16/erase-rounded.png');
	opacity: 0.6;
}

.upload-zone {
	margin: 10px -8px !important;	
	transition: all .15s ease-in-out;
}	
	.upload-zone:hover {
	background: #ECEFF3;
	}
.qUploadCtrlStyle .upload-zone .upload-btn, .upload-urlbtn {
	color: #fff;
	padding: 8px 21px;
	border: 1px solid #c04240;
	background: #c04240;
	border-radius: 4px;
}
.qUploadCtrlStyle .upload-title a {
	margin-top: -2px;
	opacity: 1;
	text-shadow: none;
    color: #fff;
}
.qUploadCtrlStyle .upload-title a span {
	padding-right: 0px;
}
.qUploadCtrlStyle .upload-zone .input #querySimilarURL{max-width: calc(100% - 76px);border: none;border: none;background: #eee;padding: 9px 5px;height: auto;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4) !important;}
.qUploadCtrlStyle .upload-zone .input #querySimilarURL {
	background: #f7f8fa;
	box-shadow: none !important;
}

    /*wizard */
    #myWizard .easyWizardSteps li.current{background: #c04240  ;color: #fff;}
    #myWizard .easyWizardButtons button{background: #c04240  ;color: #fff;}
    #myWizard .easyWizardButtons button:hover{background: #9A3533 ;}
    #myWizard .step #groupNameSection #enumLayerSettings .panel-heading{background: #c04240  ;color: #fff;}
/* Start Screen */
#__startScreen #lastUsedStart .recentWsItem:hover{transition: 0.4s all;background: #9A3533 ;color: #fff;}
#__startScreen #lastUsedStart .recentWsItem.recentWsItemActive{background: #c04240  ;}
/* email detail */
.eMailRow .divMain #divDocAccordion .panel-heading{background: #c04240  }

/*Şifremi unuttum */
.ResetPasswordPage #divMain .form-horizontal .btn-default{background: #c04240  ; color:#fff; border:none;}
.ResetPasswordPage #divMain .form-horizontal .btn-default:hover{background: #c04240  ;}
    /* Data grid */
	#mainTable_wrapper .dataTables_scroll table thead tr{}
	#mainTable_wrapper .dataTables_scroll table tr {background: transparent;}
	#mainTable_wrapper .dataTables_scroll table tr.active:hover,
	#mainTable_wrapper .dataTables_scroll table tr.active{background: #c04240  ;}
	#mainTable_wrapper .dataTables_scroll table tr.active td{border-color:#c04240  ;color:#fff;}
	#mainTable_wrapper .dataTables_scroll table tr:nth-child(odd){}
	#mainTable_wrapper .dataTables_scroll table tr:nth-child(even){}
    #mainTable_wrapper .dataTables_scroll table tr th:nth-child(0){width: 80px !important;}

    /* pagination*/
    .pagination li a { color: #242527 !important;}
    .pagination li.active a { 
		background: #c04240 !important;
		color: #fff !important;
		border: 1px solid #ddd;
	}
    .pagination li:hover a{background: #dedede !important;}

	
.autocomplete { font-size: 14px; }
 div.dataTables_paginate { margin: 0px; float: right; }

 /* BS Panel */
.panel {
	box-shadow: none !important;
	margin-bottom: 15px !important;
}
.dropdown-menu > li > a, .dropdown-menu > li > span {
	color: #262626;
	padding: 6px;
	display: block;
}
.panel-footer {
	padding: 15px 15px;
	background-color: #ffffff;
	border-top: 1px solid #ECEFF3;
}
/* panel default */
.panel-default {
    border-color: #ECEFF3;
}
.panel-default > .panel-heading {
	background: #fff;
	color: #242527;
	padding: 15px 15px 10px 15px;
	border-color: transparent;
}
.panel-default > .panel-heading h4 {
	color: #c04240;
	margin-top: 0;
	margin-bottom: 5px; 
}
.panel-default > .panel-heading small {
	color: #8A8B91;
}
/* Cverflow class */
.overflow-y-sm {
	max-height: 260px;
	overflow-y: auto !important;
}
.overflow-y-md {
	max-height: 400px;
	overflow-y: auto !important;
}
.overflow-hidden {
	overflow: hidden!important;
}
/* Table */
.panel-default > .panel-body .table-responsive {
	border-top: 1px solid #ECEFF3;
}
.panel-default > .panel-body .table {
	margin-top: -1px;
	margin-bottom: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #ECEFF3;
}
.table tr > td > small {
	display: block;
	color: #A8A9AD;
}
.table tr > td > .label {
	font-size: 12px;
    padding: .3em .6em;
}
.table tr > td > .label-primary {
	background-color: #c04240;
}
/**************** RESPONSIVE **************************/
@media (max-width: 1350px) {
    .toggledBody #divMain .ItemSelectedForAdvRight:before{display: none;}
	.calendar .month-container {
	width: 25% !important;
	}
	.InMapFrameLk {
		margin: 0;
		padding: 0;
	}
	.navbar .SearchTextBoxArea button .modeBtnText {
		display: none;
	}
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	width: 324px;
	}
	#divKwAccordion .pnl-query-item { width: 32%;}
}
@media (max-width: 1050px) {
    #divMain .ItemSelectedForAdvRight:before{display: none;}  
}

@media (max-width: 991px) {
	#divMain .pnl-query-item .ThumbContentRef{margin-bottom: 10px;}
	.toggledBody #topArea{padding-left: 240px}
	.tt-dropdown-menu {max-width: 100%;}
	.sidebar-large.toggled .sidebar-wrapper {
		width: 240px
	}
	.toggledBody .navbarArea {
		margin-left: 240px !important;
	}
	.toggledBody .sidebar-large .page-content-wrapper {
		left: 240px !important;
		padding-right: 240px !important;
	}
 	.eMailRow .divMain{padding-right: 0}
 	/* datetooltip */
	#dateSliderTooltip {
		width: calc(100% - 240px) !important;
		left: 240px;
		}
	/**/
	#facetArea .img-default {
    margin-right: 5px;
    }
	#facetArea ._ttl {
	max-width: 85px;
	}
	#facetArea .facetLink.facetSubItem ._ttl {
	max-width: 78px;
	}
	#facetArea ._ttl_2 {
    max-width: 107px;
	}
	
	.closePanel{left: auto;right: 2px;}
	.layoutNavBar .navbar-brand .contentDisplayNameCss{max-width: 370px;}
	#divKwAccordion .pnl-query-item { width:48%; }
	.eMailRow .divMain { max-width: 95%;}
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
    width: 190px;
	}
}

@media (max-width: 768px) {
	.navbar .dropdown-menu .glyphicon-remove {
		padding: 0px 5px !important;
	}
	._for .visible-xs-inSpanText{position: relative;top: 2px;}
	.navbarArea {padding-left: 0 !important;}
	.sidebar-large.toggled .sidebar-wrapper {margin-top: 0;}

	.navbar-toggle .menuStarterMobile .img-moreMobil24{margin-top: 16px;}
	.toggledBody .navbarArea {margin-left: 240px !important;}
	.sidebar-large.toggled .sidebar-wrapper, .toggledBody .sidebar-large .sidebar-wrapper {width: 240px;}
	.SearchTextBoxArea{width: auto;}
	.navbarArea .navbar-toggle{position: relative;padding: 0 !important;margin-top: 0px;margin-right: 0;}
	
	.pnl-query-item {
		margin-bottom: 8px !important
	}
	
	.inDefaultPanel {
	padding: 8px !important;
	}
	.dateFilterArea, .inDefaultPanel {
	margin: auto;
	max-width: 100% !important;
	padding: 0 10px 5px 10px;
	}
	.FrameMode .inDefaultPanel {
	padding: 0px !important;
	margin: 0px !important;
	}
	.navbarArea .navbar-toggle .img-moreMobil24 {
	width: 40px;
	height: 62px;
	padding: 0;
	margin-top:0;
	opacity: 0.65;
	background-position: 6px center;
	}
	
	.navbarArea .navbar-header .dropdown-menu {
	right: 2px;
	}
	/* calendar */
	.calendar .month-container {
		width: 50% !important;
	}
	/* navbar */
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
		width: 280px;
	}
	/* Görüntüleyici */
	#BaseButtonList{color: #4e4e4e;}
	#BaseButtonList li{float: right;}
	#layoutSearchPrev{padding: 0}
	#bsForLayout {
		background: transparent !important;
		border:none !important;
		padding-bottom: 0 !important;
		border-radius: 0 0 3px 3px !important;
	}
	#BaseButtonList #prevNextQ a {padding: 4.5px 0 !important;}
	/*map*/
	#iframeContent{width: 100% !important;}
	.FrameMode .inDefaultPanel{max-width: 100% !important}
	.toggledBody .input-group{display: none;}
	
	div.dataTables_paginate {
	margin: auto 0;
	float: none;
	text-align: center;
	}
	
	.pagination li a {
	font-size: 13px; padding: 6px 9px;
	}
	#mainTable_wrapper .dataTables_info {
    font-size: 12px;
	float: none;
	text-align: center;
	}
}

@media (max-width: 767px) {
	#BaseButtonList span, #BaseButtonList img {filter:none;color: #262626 !important;}
	#BaseButtonList #layoutSearchDiv {width: 100%;}
	#BaseButtonList #prevNextQ {margin-top: -2px;}
	
	.layoutNavBar #ContentInfoButton img, .navbar-fixed-top .navbar-brand, .navbar-fixed-top button , .layoutNavBar #liDownloadBtn span, .layoutNavBar #liOpenContentFolder span, .layoutNavBar .img-share24, .layoutNavBar #ContentInfoButton img{filter: none !important;}
	.layoutNavBar .navbar-default .navbar-toggle span{background-color: #ccc !important;}
	.layoutNavBar {padding: 2.2px  0 !important;}
	
	
	.navbar-header {
	margin-right: 0px !important;
    margin-left: 0px !important;
	}
	.navbarArea .navbar-brand {
	width: 36px;
	}
	.navbar-default .navbar-toggle:hover, .layoutNavBar .navbar-default .navbar-toggle:focus {
	background: #9A3533  !important;
	filter: none;
	}
	.layoutNavBar .navbar-default .navbar-toggle{border-color: #fff;}
	
	/* detail search mobile */
	.layoutNavBar #bsForLayout {
	background: #fff !important;
	padding: 15px 10px !important;
	box-shadow: 0px 4px 8px -2px rgba(0,0,0,.15);
	}
	.layoutNavBar #bsForLayout.collapsing {
		display: none !important;
	}
	.layoutNavBar .collapse #ContentInfoButton {
		filter: none !important;
		position: absolute;
		top: 10px;
		right: 0px;
		padding: 5px 0px 5px 10px !important;
		border-left: 1px solid #DDDFE2;
	}
	.layoutNavBar #BaseButtonList li#layoutSearchDiv {
		position: relative;
		display: list-item !important;
		margin: 0px;
		margin-right: 50px !important;
	}
	
	.layoutNavBar #BaseButtonList li#layoutSearchDiv input {
		height: 40px !important;
		padding: 6px 10px !important;
		padding-right: 60px;
		border: 1px solid #DDDFE2;
		padding: 5px;
		width: 100% !important;
	}
	.layoutNavBar li#layoutSearchDiv #layoutSearchPos {
		background: #dddfe2;
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 12px 4px !important;
		text-align: center !important;
		border-radius: 0% 5px 5px 0;
	}
	.layoutNavBar li#layoutSearchDivStart {
	display: none !important;
	}
	.layoutNavBar li#layoutSearchDivStart .img-search-fulltext {
		filter: brightness(0) invert(1) !important;
	}
	#BaseButtonList #layoutSearchPrev a, 
	#BaseButtonList #layoutSearchNext a {
		top: 1.4px;
	}
	.layoutNavBar #BaseButtonList li#layoutSearchDiv #layoutSearchPrev { 
		position: absolute;
		padding: 10px 6px !important;
		right: 92px;
		top: 4px;
	}
	.layoutNavBar #BaseButtonList li#layoutSearchDiv #layoutSearchNext {
		position: absolute;
		padding: 10px 6px !important;
		right: 64px;
		top: 4px;
	}
	.layoutNavBar #BaseButtonList li#layoutSearchDiv #layoutSearchClose {
		display: none;
	}
	/** **/
	.layoutNavBar .navbar-header{display: block;width: 100%;}
	
	#bsForLayout .navbar-nav{margin: 0 !important}
	.DmmyModal .modal-content .modal-header {padding: 20px 15px 25px;}
	.layoutNavBar #BaseButtonList li#layoutSearchDiv{border:none;}
	.layoutNavBar #bsForLayout ul li input{border: 1px solid #ddd;}
	
	.layoutNavBar .navbar-header .navbar-brand {filter: brightness(0) invert(1) !important;}
	#mainTable_wrapper {max-width: 100%;}
	#mainTable_wrapper .dataTables_scroll table th, #mainTable_wrapper .dataTables_scroll table td {padding: 4px 6px !important;}
	/* Table */
	.table-responsive {
	border: 1px solid #ECEFF3;
	}
	
	/**********/
	.input-group {
	width: 100%;
	padding: 0 0 0 7px;
	}
	.navbar .navbar-form {
	width: 100%;
	padding-left: 30px !important;
    padding-right: 40px !important;
	}
	.navbarArea .navbar-brand {
	position: absolute;
    top: 0;
    height: 62px;
	}
	.navbarArea .navbar-toggle {
	position: absolute;
	top: 0;
    right: 0;
	}
	.navbarArea .navbar-toggle .img-moreMobil24 {
	padding: 0;
	}
	.SearchTextBoxArea {
    height: 62px;
    width: 32px;
	}
	.navbar .SearchTextBoxArea button.searchBorder {
	padding: 18px 10px !important;
	height: 62px;
	margin-left: -2px !important;
	padding: 10px 10px !important;
    height: 48px;
    border: 2px solid #dddfe2 !important;
    border-radius: 0 4px 4px 0 !important;
	}
	.navbar-form #searchArea1 .twitter-typeahead #txtSearchDefault {
	width: 100%;
	max-width: 100% !important;
	margin: 7px 0px 0px;
	border-radius: 4px 0 0 4px !important;
	}
	/* benzerlerini bul */
	.qUploadCtrlStyle {
	margin-left: 0px;
	max-width: 100%;
	width: 100%;
	left: 0;
	right: 0;
	}
	.qUploadCtrlStyle .upload-zone .upload-btn {
	width: 100%;
	margin-bottom: 5px;
	}
	.navbarArea ._forCALENDAR .img-default:after, .navbarArea ._form_DashBoardMediaMonitor .img-default:after {
	margin-left: 0px;
	}
	.pnl-query-item .docDetail .ThumbContentRef img {
	max-height: 140px;
    max-width: 140px;
	}
}
@media (max-width: 480px) {
	/* date tooltip */
	#dateSliderTooltip {
	left: 0; 
	width: 100% !important;
	}
	#dateSliderTooltip .dateSliderContainer {
		left: 0 !important;
		right: 0 !important;
		margin-left: auto;
		font-size: 28px;
		}
	#dateSliderTooltip .dateSliderContainer .leftToolTip, #dateSliderTooltip .dateSliderContainer .rightToolTip {
		float: inherit;
		width: 80%;
		margin: auto;
		margin-bottom: 10px;
		padding: 10px 25px !important;
		border-radius: 0;
		box-shadow: none;
	}
	/* */
	.modal-content .modal-body{min-width: 100%;}
	
	.navbarArea .navbar-header .dropdown-menu li {
	float: left;
	width: 100%;
	}
	.ResultArea, .SingleArea {
	margin: 5px 2px 0 2px;
	}
	.SingleArea {
	padding: 0;
	}
	#divKwAccordion .pnl-query-item { 
	width: 100%;
	margin: 0 0 10px 0 !important;
	}
	.inDefaultPanel {
	position: relative;
    margin: 0 auto 0 !important;
	min-width: 200px;
	}
	.calendar .month-container {
	padding-bottom: 14px;
	min-width: inherit;
	width: 100% !important;
	height: auto !important;
	border-radius: 0;
	}
	.qUploadCtrlStyle .hoverForDrop {max-width: 100%; margin-left: 0;}
	.DLV .dateFilterArea #dateComponent {padding: 0 11px 0 4px !important;}
	
	.navbar .SearchTextBoxArea button.searchBorder, .navbar-form #seharcArea1 .twitter-typeahead {border: none;}
	.navbarArea .navbar-header .dropdown-menu {
	max-height: 420px !important;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	}
	.layoutNavBar .navbar-brand .contentDisplayNameCss {max-width: 170px;}
	.layoutNavBar .navbar-brand #imgContentIcon {float: left;}
	.layoutNavBar .navbar-brand .contentDisplayNameCss {width: 140px;display: block;float: left;line-height: 24px;}
	.layoutNavBar {padding: 0 0 !important;height: 52px !important;}
	.navbar-fixed-second-top {margin: 4px 0 0;background: #fff;padding: 6px 7px !important;}
	.navbar-fixed-second-top .allLeft {margin-top: 6px !important;}
	.layoutNavBar .navbar-toggle {margin: 11px 0;}
	.layoutNavBar .navbar-toggle .icon-bar {background:#fff;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#1f4769}
	.docDetail {min-height: 50px;}
	
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: #c04240 ;
	}
	.closePanel {right: 12px;}
	
	#mapLayerSelArea {max-width: 270px;}
	#mapLayerSelArea button {width: 86px;height: 86px;}
}
.popover { z-index: 9999;}

/* For checkbox*/
input[type=checkbox] {
	position: relative;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 0px;
}
.radio label, .checkbox label {
	word-break: break-word;
}
input[type=checkbox]:before {
	content: "";
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	border: 2px solid #777;
	border-radius: 3px;
	background-color: white;transition: 0.5s ease;
}
input[type=checkbox]:checked:after {content: "";display: block;width: 5px;height: 10px;border: solid #ffa21a;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);position: relative;top: -14px;left: 6px;transition: 0.6s ease;}
input[type=checkbox]:checked:before{border-color: #ffa21a;}
	/* Checkbox sorun olan yerler modaller :) */
#divMatchingCriterias span{margin: 4px 11px;display: inline-block;}
	/* bakılacak*/
	.in > .modal-dialog, .open > .dropdown-menu{
	-webkit-animation-name: opened;
	animation-name: opened;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
@keyframes opened {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  100% {
    opacity: 1;
  }
}
input[type=range] {-webkit-appearance: none;width: 100%;margin: 2.8px 0;box-shadow: none;border: none;background: transparent;}
input[type=range]:focus {outline: 0;box-shadow: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 8.4px;cursor: pointer;background: #d8d8d8;border-radius: 1.3px;border: 0.2px solid #010101;}
input[type=range]::-webkit-slider-thumb {height: 18px;width: 21px;border-radius: 3px;background: #a7a7a7;cursor: pointer;-webkit-appearance: none;margin-top: -6px;}
input[type=range]:focus::-webkit-slider-runnable-track {background: #555;}
input[type=range]::-moz-range-track {width: 100%;height: 8.4px;cursor: pointer;background: #d8d8d8;border-radius: 1.3px;border: 0.2px solid #010101;}
input[type=range]::-moz-range-thumb {border: 1px solid #000000;height: 20px;width: 37px;border-radius: 7px;background: #ffffff;cursor: pointer;}
input[type=range]::-ms-track {width: 100%;height: 8.4px;cursor: pointer;}
input[type=range]::-ms-thumb {border: 1px solid #000000;height: 20px;width: 37px;border-radius: 7px;background: #ffffff;cursor: pointer;height: 8.4px;}


.footer {
	box-shadow: 0px -2px 5px rgba(0,0,0,.08);
    margin-top: 4px !important;
}
#header {
	box-shadow: 0px 2px 5px rgba(0,0,0,.08);
}