﻿
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/moment.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiEmailViewerScript.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
<dcc:item factoryname="GeodiSessionInfoHtmlPageItem" querywrite="false" />

<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiHelpManager.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/kh/KeywordHighlight.js" />

<style type="text/css">
    .spanMailDate {
        float: right;
        font-size: 75%;
    }

    .spanMailFrom {
        font-weight: bold;
    }

    .viewMailInfo div span {
        display: table-cell;
    }

        .viewMailInfo div span:first-child {
            font-weight: bold;
            display: table-cell;
            overflow-wrap: break-word;
            width: 90px;
            float: left;
        }

    .viewMailBody {
        padding: 2px !important;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }

    body {
        padding-top: 40px !important;
    }

    @media (min-width:767px) {
        .divMain {
            padding-right: 350px;
        }
    }

    .defaultAreaCss {
        overflow-y: scroll;
    }
</style>

<dcc:item factoryname="StateForm" />
<div class="container-fluid container-fluid-eMail-content" style="margin-top:10px;margin-right:20px">
    <div class="eMailRow">
        <div id="divMain" class="divMain"></div>
    </div>
</div>

<script type="text/javascript">
    window.__inMails = {};

    function adressStr(displayName, address) {
        if (!displayName)
            return address;
        if (displayName == address)
            return address;
        return displayName + ' (' + address + ')';
    }
    function bytesToStr(bytes) {
        if (bytes > 1024 * 1024 * 1024)
            return (bytes / 1024 / 1024 / 1024).toFixed(2).toString() + ' GB';
        if (bytes > 1024 * 1024)
            return (bytes / 1024 / 1024).toFixed(2).toString() + ' MB';
        if (bytes > 1024)
            return (bytes / 1024).toFixed(2).toString() + ' KB';
        return bytes.toString() + ' Bytes';
    }
    function expandCurrentMessage() {
        var messagePanels = $('#divMain .panel');
        for (var i = 0; i < messagePanels.length; i++) {
            if ($(messagePanels[i]).attr('idMl') == window.messageUniqueURI) {
                var jj = 0;
                jj++;
                //$(messagePanels[i]).find('.collapse').collapse();
                //$('#liCurrentMessageInfo').text($(messagePanels[i]).find('.messageSubject').text());
            }
        }
    }
    window.OnAjaxError = function () { $('.inloading1').hide(); };

    function listMessages() {
        $('#divMain').html('<span class=inloading1><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <span>[$emailViewer:loading/js]</span></span>');


        window.currentEmail.listMailMessages(window.content_id, StateForm.GetState("wsName"), function (data, textStatus) {
            $('#divMain').html('');
            $('#divMain').append($('<div class="panel-group" id="divDocAccordion" ></div>')); //aria-multiselectable="true" //role="tablist"
            var isSelId = null;
            for (var i = 0; i < data.length; i++) {
                var id = i.toString();
                var isSel = data[i].UniqueURI == window.messageUniqueURI;
                var content = '<div class="panel panel-default message-panel ' + (isSel ? 'panel-primary' : '') + '" id="p_' + id + '" idMl="' + data[i].UniqueURI + '"><div class="panel-heading" role="tab" id="heading_' + id + '">';
                content += '<h4 class="panel-title" data-toggle="collapse" data-parent="#divDocAccordion" href="#collapse_' + id + '" aria-expanded="true" aria-controls="collapse_' + id + '" style="cursor:pointer">';
                content += '<a data-toggle="collapse" data-parent="#divDocAccordion" href="#collapse_' + id + '" aria-expanded="true" aria-controls="collapse_' + id + '">';
                content += '<div><span class="spanMailFrom">' + ((data[i].From) ? data[i].From.DisplayName : '') + '</span><span class="spanMailDate">' + netDateToStr(data[i].Date, true) + '</span></div><div class="messageSubject">' + (data[i].Subject ? data[i].Subject : '[$EmailReader:no_subject]') + '</div></a></h4></div>';
                content += '<div id="collapse_' + id + '" class="panel-collapse collapse ' + (isSel ? 'in' : '') + '" role="tabpanel" aria-labelledby="heading_' + id + '">';
                content += '<div class="panel-body"><div class="divLoading">[$emailViewer:loading/js]...</div></div></div></div>';
                if (isSel)
                    isSelId = "#collapse_" + id;
                $('#divDocAccordion').append($(content));

                if (data[i].Content && (data[i].Content.Body || data[i].Content.HtmlBody))
                    window.__inMails[data[i].UniqueURI] = data[i];

            }

            $('#divDocAccordion .panel-collapse').on('show.bs.collapse', function () {
                $('#divMain div .message-panel').removeClass('panel-primary');
                $(this).parents('.message-panel').addClass('panel-primary');
            });
            $('#divDocAccordion .panel-collapse').on('shown.bs.collapse', function () {
                if (!$(this).attr("_loaded"))
                    fetchMessage(this);
                else {
                    var panelBody = $(this).children('.panel-body');
                    window.SelView = panelBody.find('#viewMailBody');
                }
            });
            if (isSelId) {
                fetchMessage($(isSelId), true);
            }
            //window.setTimeout(function () { fetchMessage($(isSelId)); }, 10);
        });
        //$.post('AsposeEMailViewer?op=listMailMessages', { 'content_id': window.content_id, 'wsName': StateForm.GetState("wsName") }, function (data, textStatus) {
        //}, 'json');
    }
    function fetchMessage(elem, startupHiglight) {

        var mid = $(elem).parents('div .panel').attr('idMl');

        var processMail = function (data, textStatus) {
            window.__inMails[mid] = data;
            $(elem).attr("_loaded", 1);
            var panelBody = $(elem).children('.panel-body');
            var str;
            panelBody.html('');
            var content = '<div class="panel panel-info"><div id="viewMailInfo" class="panel-heading viewMailInfo"></div><div id="viewMailBody" class="panel-body viewMailBody"><iframe frameBorder=0 width=100% height=500px></iframe></div></div>';
            panelBody.append($(content));
            var viewMailInfo = panelBody.find('#viewMailInfo');
            var viewMailBody = panelBody.find('#viewMailBody');
            window.SelView = viewMailBody;

            viewMailInfo.append($('<div><span>[$emailViewer:subject/js]</span><span>: ' + (data.Subject ? data.Subject : '[$EmailReader:no_subject]') + '</span></div>'));
            viewMailInfo.append($('<div><span>[$emailViewer:from/js]</span><span>: ' + (data.From ? data.From.DisplayName + ' (' + data.From.Address + ')' : '') + '</span></div>'));
            str = '<div><span>[$emailViewer:to/js]</span><span>: ';
            if (data.To) {
                for (var i = 0; i < data.To.length; i++) {
                    if (i != 0)
                        str += ', ';
                    str += adressStr(data.To[i].DisplayName, data.To[i].Address);
                }
            }
            str += '</span></div>';
            viewMailInfo.append($(str));

            if (data.CC && data.CC.length > 0) {
                str = '<div><span>CC</span><span>: ';
                for (var i = 0; i < data.CC.length; i++) {
                    if (i != 0)
                        str += ", ";
                    str += adressStr(data.CC[i].DisplayName, data.CC[i].Address);
                }
                str += '</span></div>';
                viewMailInfo.append($(str));
            }
            viewMailInfo.append($('<div><span>[$emailViewer:date/js]</span><span>: ' + netDateToStr(data.Date, false) + '</span></div>'));


            if (data.Attachments && data.Attachments.length > 0) {
                str = '<div><span>[$emailViewer:attachments/js]</span><span>: ';
                for (var i = 0; i < data.Attachments.length; i++) {
                    if (i != 0)
                        str += ", ";
                    str += '<a id="attch_' + data.Attachments[i].ItemIndex+ '" href="javascript:void(0)" onclick="downloadAttachment(this);return false;">' + data.Attachments[i].Name + ' (' + bytesToStr(data.Attachments[i].Size) + ')</a>';
                }
                str += '</span></div>';
                viewMailInfo.append($(str));
            }

            
            //GEODI-1121
            setTimeout(function () {
                if (data.Content.IsBodyHtml) {
                    viewMailBody.find('iframe').contents()[0].clear();
                    var dataHtml = " ";
                    if (data.Content && data.Content.HtmlBody && data.Content.HtmlBody.length > 0) {
                        dataHtml = data.Content.HtmlBody.replace(/&nbsp;/g, ' ');
                        dataHtml = dataHtml.replace(/ href=/g, ' target=_blank href=');
                        dataHtml = dataHtml.replace(/[<]script/g, '<_script').replace(/[<][/]script/g, '</_script');
                        dataHtml = dataHtml.replace(/[<]iframe/g, '<_iframe').replace(/[<][/]iframe/g, '</_iframe');
                        $.each(document.body, function (a) {
                            if (a && (a + "").substr(0, 2) == "on") {
                                var aKy = (" " + a + "=");
                                var aKyNw = aKy.replace("on", "_n");
                                while (dataHtml.indexOf(aKy) != -1)
                                    dataHtml = dataHtml.replace(aKy, aKyNw);
                            }
                        })
                    }


                    viewMailBody.find('iframe').contents()[0].write(dataHtml);
                    //viewMailBody.find('iframe').contents().find('html').html(data.Content.HtmlBody.replace(/&nbsp;/g, ' '));
                }
                else {
                    viewMailBody.find('iframe').contents()[0].clear();
                    var dataHtml = " ";
                    if (data.Content && data.Content.Body && data.Content.Body.length > 0) {
                        dataHtml = data.Content.Body.replace(/&nbsp;/g, ' ').replace(/\r/g, '<br>')
                        dataHtml = dataHtml.replace(/ href=/g, ' target=_blank href=');
                        dataHtml = dataHtml.replace(/[<]script/g, '<_script').replace(/[<][/]script/g, '</_script');
                        dataHtml = dataHtml.replace(/[<]iframe/g, '<_iframe').replace(/[<][/]iframe/g, '</_iframe');
                        $.each(document.body, function (a) {
                            if (a && (a + "").substr(0, 2) == "on") {
                                var aKy = (" " + a + "=");
                                var aKyNw = aKy.replace("on", "_n");
                                while (dataHtml.indexOf(aKy) != -1)
                                    dataHtml = dataHtml.replace(aKy, aKyNw);
                            }
                        })
                    }
                    viewMailBody.find('iframe').contents()[0].write(
                        "<html><body>" +
                        dataHtml +
                        "</body></html>"
                    );
                }

                if (startupHiglight) {
                    var hlStart = StateForm.GetState("highlight_text");
                    if (hlStart)
                        OnSummaryClick({ Text: hlStart });
                }

                window.setTimeout(function () {
                    $("img", viewMailBody.find('iframe').contents()[0]).each(function () {
                        var image = $(this);
                        if (image.context.naturalWidth == 0 ||
                            image.readyState == 'uninitialized') {
                            $(image).unbind("error").hide();
                        }
                    });
                }, 2000);

            }, 1000);
        };

        if (window.__inMails[mid])
            processMail(window.__inMails[mid]);
        else
            window.currentEmail.getMailMessage(mid, window.content_id, StateForm.GetState("wsName"), processMail);
    }
    function downloadAttachment(elem) {
        var url;
        //url = 'AsposeEMailViewer?op=getAttachment&messageID=' + $(elem).parents('div .message-panel').attr('idMl') + '&attchID=' + $(elem).attr('id').split('_')[1] + '&enumeratorID=' + window.enumerator_id.toString() + '&wsName=' + HttpUtility.UrlEncode(StateForm.GetState("wsName"));
        url = '~/AsposeEMailViewer?op=getAttachment&messageID=' + HttpUtility.UrlEncode($(elem).parents('div .message-panel').attr('idMl')) + '&attachIndex=' + $(elem).attr('id').split('_')[1] + '&content_id=' + window.content_id + '&wsName=' + HttpUtility.UrlEncode(StateForm.GetState("wsName"));
        url = HttpUtility.ResolveUrl(url);
        _PSCC.Command({ Url: url, Name: 'docViewer', NameIdGroup: url, Command: 'OpenWindow', Width: 800, Height: 650 });

        //document.location.href = HttpUtility.ResolveUrl(url);

    }

    eval(StateForm.GetState("ContentIdJS"));

    $(window).ready(function () {
        $("#btnToggleLabelVisibility").hide();
        listMessages();
        //$("#contentHeader").val(StateForm.GetState("ContentDisplayName"));

        if (typeof moment !== 'undefined') moment.locale(window.DeceClientState.GetLanguage());
    });


    function GetPageTitle() {
        return '[$emailViewer:page_title/js]';
    }

    window.OnKeywordClick = function (keyword, kwItem) {

    }

    function OnLabelClick(label) {

    }

    window.keywordHighlightPreStr = '<em style="color:red;font-weight:bold;" class="hgInner">'; //border:1px dashed red; fazla element ekliyor olabilir!
    window.keywordHighlightPostStr = '</em>';


    function OnSummaryClick(data, alldata, kwItem) {
        var pos = alldata ? alldata.indexOf(data) : 0;
        ReplaceForHighlightClear();
        try {
            ReplaceForHighlightClear($(window.SelView).find('iframe').contents()[0].body);
        }
        catch (e) { }
        ReplaceForHighlight(data.Text);
        try {
            ReplaceForHighlight(data.Text, $(window.SelView).find('iframe').contents()[0].body);
        }
        catch (e) { }
        try {
            var all = $(".hgInner", $(window.SelView).find('iframe').contents()[0].body);
            if (pos >= all.length) pos = 0;
            var el = $(all[pos]);
            if (el.offset()) {
                var tp = el.offset().top;
                tp -= 100;
                $($(window.SelView).find('iframe').contents()[0].body).animate({
                    scrollTop: tp
                }, 500);
                el.fadeIn(500).fadeOut(500).fadeIn(750).fadeOut(750).fadeIn(1000);
            }
        }
        catch (e) { }
    }




</script>
