﻿<script type="dece-template" id="geodi-template">
	 <div class="list-item pnl-query-item IsDoc DocALL docOpenLinkRoot DocArea dt_{{data.ContentType.split(':')[1].replace('.', '')}}"
                                     {{ data.GetDocItemAttr() }} >
                                    <div id="heading_{{data.ContentIdentifier}}">
                            <div class="headerDocRow">
                        <d:r visible="window.GeodiButtonsStyle!='1.0' && (!context.Options.SummaryRenderType || context.Options.SummaryRenderType=='top') ">
							{{ TemplateToHtml(window.HtmlTemplates._DefaultSummaryBottomActions, data, context) }} 
                        </d:r>

                                            <div>
                                                <div style="height:auto; position:relative;" class="imgContainer">
                                                    {{ (context.Options.IconBefore ? context.Options.IconBefore(data.ContentIdentifier, data,context.Options,context) : '') }}
                                                    <img class="imgPanelTitleIcon" src="{{data.GetIcon()}}"
                                                         title="{{HttpUtility.HtmlEncode(!context.Options.CurrentWSInfo ? '' : context.Options.CurrentWSInfo.GetContentTypeTitleFromId(data.ContentType))}}">
                                                </div>
                                                <d:r visible=context.Options.Query.GetNumberOfOccurrences>
                                                    <span class="badge" style="display: inline-table; padding-left: 2%; padding-right: 2%;">{{data.NumberOfOccurrences?data.NumberOfOccurrences:0}}</span>
                                                </d:r>
                                                <div class="divPanelTitleText divPanelTitleTextEx fortooltip" title="{{data.GetTitle()}}">
                                                    <{{context.FastLinkTagName}} class="inLink openLink geodiFormatable" {{ data.GetHrefFull() }} >
                                                            {{(data.DisplayName ? data.DisplayName : "-")}}</{{context.FastLinkTagName}}>
                                                </div><div class="docParentArea">
                                                    {{ data.GetInfoHtml() }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <d:r visible="!context.Options.DisableSummary">
                                        <div id="collapse_{{data.ContentIdentifier}}" aria-expanded="true" class="SummaryAllCollapse collapse in">
                                            {{ TemplateToHtml(window.HtmlTemplates.DefaultSummary,data,context) }}
                                        </div>
                                    </d:r>
                                </div>
</script>
