﻿body {
    min-width: 960px;
}

    body .container {
        max-width: none !important;
        width: 960px !important;
    }

    body [class^="col-"] {
        float: left;
    }

    body .col-sm-1,
    body .col-md-1,
    body .col-lg-1 {
        width: 8.33333333% !important;
    }

    body .col-sm-2,
    body .col-md-2,
    body .col-lg-2 {
        width: 16.66666667% !important;
    }

    body .col-sm-3,
    body .col-md-3,
    body .col-lg-3 {
        width: 25% !important;
    }

    body .col-sm-4,
    body .col-md-4,
    body .col-lg-4 {
        width: 33.33333333% !important;
    }

    body .col-sm-5,
    body .col-md-5,
    body .col-lg-5 {
        width: 41.66666667% !important;
    }

    body .col-sm-6,
    body .col-md-6,
    body .col-lg-6 {
        width: 50% !important;
    }

    body .col-sm-7,
    body .col-md-7,
    body .col-lg-7 {
        width: 58.33333333% !important;
    }

    body .col-sm-8,
    body .col-md-8,
    body .col-lg-8 {
        width: 66.66666667% !important;
    }

    body .col-sm-9,
    body .col-md-9,
    body .col-lg-9 {
        width: 75% !important;
    }

    body .col-sm-10,
    body .col-md-10,
    body .col-lg-10 {
        width: 83.33333333% !important;
    }

    body .col-sm-11,
    body .col-md-11,
    body .col-lg-11 {
        width: 91.66666667% !important;
    }

    body .col-sm-12,
    body .col-md-12,
    body .col-lg-12 {
        width: 100% !important;
    }

    body .col-sm-offset-0,
    body .col-md-offset-0,
    body .col-lg-offset-0 {
        margin-left: 0 !important;
    }

    body .col-sm-offset-1,
    body .col-md-offset-1,
    body .col-lg-offset-1 {
        margin-left: 8.33333333% !important;
    }

    body .col-sm-offset-2,
    body .col-md-offset-2,
    body .col-lg-offset-2 {
        margin-left: 16.66666667% !important;
    }

    body .col-sm-offset-3,
    body .col-md-offset-3,
    body .col-lg-offset-3 {
        margin-left: 25% !important;
    }

    body .col-sm-offset-4,
    body .col-md-offset-4,
    body .col-lg-offset-4 {
        margin-left: 33.33333333% !important;
    }

    body .col-sm-offset-5,
    body .col-md-offset-5,
    body .col-lg-offset-5 {
        margin-left: 41.66666667% !important;
    }

    body .col-sm-offset-6,
    body .col-md-offset-6,
    body .col-lg-offset-6 {
        margin-left: 50% !important;
    }

    body .col-sm-offset-7,
    body .col-md-offset-7,
    body .col-lg-offset-7 {
        margin-left: 58.33333333% !important;
    }

    body .col-sm-offset-8,
    body .col-md-offset-8,
    body .col-lg-offset-8 {
        margin-left: 66.66666667% !important;
    }

    body .col-sm-offset-9,
    body .col-md-offset-9,
    body .col-lg-offset-9 {
        margin-left: 75% !important;
    }

    body .col-sm-offset-10,
    body .col-md-offset-10,
    body .col-lg-offset-10 {
        margin-left: 83.33333333% !important;
    }

    body .col-sm-offset-11,
    body .col-md-offset-11,
    body .col-lg-offset-11 {
        margin-left: 91.66666667% !important;
    }

    body .col-sm-offset-12,
    body .col-md-offset-12,
    body .col-lg-offset-12 {
        margin-left: 100% !important;
    }

    body .visible-xs,
    body .visible-xs-block,
    body .visible-sm,
    body .visible-sm-block {
        display: block !important;
    }

    body .visible-xs-inline,
    body .visible-sm-inline {
        display: inline !important;
    }

    body .visible-xs-inline-block,
    body .visible-sm-inline-block {
        display: inline-block !important;
    }

    body .hidden-xs,
    body .hidden-sm {
        display: block !important;
    }

    body .container .navbar-header,
    body .container .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    body .navbar-header {
        float: left;
    }

    body .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    body .navbar-toggle {
        display: none;
    }

    body .navbar-collapse {
        border-top: 0;
    }

    body .navbar-brand {
        margin-left: -15px;
    }

    body .navbar-nav {
        float: left;
        margin: 0;
    }

        body .navbar-nav > li {
            float: left;
        }

            body .navbar-nav > li > a {
                padding: 15px;
            }

        body .navbar-nav.navbar-right {
            float: right;
        }

    body .navbar .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-width: 0 1px 1px;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    body .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    body .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    body .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
    body .navbar .navbar-nav .open .dropdown-menu > .active > a,
    body .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    body .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff !important;
        background-color: #428bca !important;
    }

    body .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    body .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    body .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #999 !important;
        background-color: transparent !important;
    }

    body .header-container {
        padding-bottom: 6px !important;
    }

        body .header-container .header {
            padding-bottom: 9px !important;
        }

        body .header-container .logo {
            width: 18% !important;
        }

        body .header-container .main-menu {
            border-radius: 0 !important;
            border: none !important;
            margin-top: 0 !important;
            padding-top: 0 !important;
            width: 82% !important;
        }

            body .header-container .main-menu ul {
                background: transparent !important;
                display: block !important;
                float: left !important;
                padding-bottom: 0 !important;
                width: 100% !important;
            }

                body .header-container .main-menu ul li {
                    width: auto !important;
                }

                    body .header-container .main-menu ul li a {
                        font-size: 12px !important;
                        padding: 39px 7px 36px 9px !important;
                    }

        body .header-container .menu-collapser {
            display: none !important;
        }

    body .callus-container .callus-outer {
        padding-top: 0 !important;
        text-align: initial !important;
    }

        body .callus-container .callus-outer .callus {
            display: block !important;
            float: right !important;
        }

            body .callus-container .callus-outer .callus .apply-online {
                width: 222px !important;
                background: url(../images/apply-online.png) right top no-repeat !important;
                margin: -24px 0 0 0 !important;
            }

                body .callus-container .callus-outer .callus .apply-online a {
                    margin-top: 5px !important;
                    margin-right: 12px !important;
                    float: right !important;
                }

            body .callus-container .callus-outer .callus .call-no {
                margin: 3px 25px 0 0 !important;
                width: auto !important;
            }

    body .css3-background .head {
        height: 96px !important;
    }

    body .css3-background .head,
    body .css3-background .head-bar,
    body .css3-background .main-balls-section {
        min-width: 960px !important;
    }

/*geodi*/

body {
    overflow: visible;
}

    body .collapse.in {
        visibility: hidden;
    }

    body p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    body .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

        body .navbar-custom.top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(255,255,255,.3);
            background: #000;
        }

    body .intro {
        height: 90%;
        padding: 0;
    }

        body .intro .intro-body .brand-heading {
            font-size: 100px;
        }

        body .intro .intro-body .intro-text {
            font-size: 26px;
        }

    body footer {
        padding: 20px;
        left: 0;
        right: 0;
        position: fixed;
        bottom: 0;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

        body footer p {
            text-align: center;
            margin: 0;
            font-size: 14px;
        }

    body .content-section {
        padding-top: 70px;
    }
