[=/c.SetHttpItem("BannerFolder", c.DirectoryExists(@"GUI\Custom\Projects\"+c["geodi"\].GetSessionWSName()+"\\BannerList")?c["geodi"\].GetSessionWSName():"_GlobalBanner")]
<dcc:panel visible='=c.DirectoryExists(@"GUI\Custom\Projects\\"+(c.GetHttpItem("BannerFolder"))+"\\BannerList")'>
<style>
	.banner{background: url('[=c.ResolveUrl("~/GUI/Custom/Projects",true,false)]/[=(c.GetHttpItem("BannerFolder"))]/BannerList/[=new Random((int)DateTime.Now.Ticks).Next(0,c.GetFiles(@"GUI\Custom\Projects\"+(c.GetHttpItem("BannerFolder"))+"\\BannerList","*.jpg",false).Length)].jpg');background-position: center;background-size: cover;height: 125px;position: relative; transition:0.4s;} 
	.banner .bannerLeftSide{display: inline-block;height: 100%;}
	.banner .bannerLeftSide .in{min-width: 150px;margin: 9.3px;text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;max-height: 106px;}
	.banner .bannerLeftSide .in .projectName{font-size:15px;color:#000;padding: 4px;font-weight: bold}
	.banner .bannerLeftSide .in img{height: 70px;border-radius:7px;}
	.banner .geodiLogo{   position: absolute;bottom: 0;right: 0;background: #fff;border-radius: 5px 0 0 0;padding: 8px 14px 6px 8px;box-shadow: -box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.7215686274509804);}
	.banner .geodiLogo img{border-radius:7px 0 0 0; flex:1;}
	.box{background: #fff;border-radius: 5px;box-shadow: 0px 0px 11px #888;padding: 9px;}
	@media (max-width: 480px) { .banner .bannerLeftSide .in img {width: 40%;height: fit-content !important} .banner .bannerLeftSide .in .projectName{overflow:hidden;width: 60%;text-overflow: ellipsis}}
</style>
<div class='banner'>
	<div class="bannerLeftSide">
		<div class="in box">
			<dcc:panel visible='=c.FileExists(@"GUI\Custom\Projects\\"+(c.GetHttpItem("BannerFolder"))+"/logo.png")'>
				<dcc:Image src='[="~/GUI/Custom/Projects/"+(c.GetHttpItem("BannerFolder"))+"/logo.png"]' />
			</dcc:panel>
			<div class="projectName">
				[=c["geodi"\].GetSessionWSDisplayName()]
			</div>
		</div>
	</div>
	<dcc:LayoutArea targetfolder='="GUI\\Custom\\Projects\\\"+(c.GetHttpItem("BannerFolder"))+"\\BannerCustomize"'/>
	<dcc:panel visible='=c.FileExists(@"GUI\Custom\Projects\geodi_logo.png")'>
	<div class="geodiLogo">
		 <a href="[$manager:web_site_geodi_link]" target="_blank">
			<dcc:Image src='~/GUI/Custom/Projects/geodi_logo.png' />
		 </a>
	</div>
	</dcc:panel>
</div>
</dcc:panel>