<style>
	.widget-inpanel-area:fullscreen * .chartWidgetFullscreen{
		height: 95% !important;
	}
	.chartWidgetFullscreen{
		height: 99% !important;
	}
	.pivotTableColor {
     color: black; 
	}
	.pivotTableBackground{
		background-color: #FFFFFF;
	}
</style>

<script type="dece-template" id="PivotTemplate">
    <table class="table table-striped table-bordered pivotTableBackground">
        <thead>
            <tr class="pivotTableColor">
                <th>{{data.pivotTitleLabel}}</th>
                <d:r data="data.datasets">
                    <th> {{ data.label=="undefined" || data.label=="NONE"?" ":data.label }} </th>
                </d:r>
            </tr>
        </thead>
        <tbody>
            {{ context.Level=0;TemplateToHtml($("#__TreeLevelPivotTemplate"),data.treelabels.Items,context) }}
        </tbody>
    </table>
</script>

<script type="dece-template" id="__TreeLevelPivotTemplate">

    <d:r data="data">
        <tr class="pivotTableColor">
            <td style="padding-left:{{ (context.Level*25)+10 }}px">
                {{ context.activeIndex=data.LabelIndex; data.Label }}
            </td>
            <d:r visible="!data.IsValue" data="context.root.datasets">
                <td></td>
            </d:r>
            <d:r visible="data.IsValue" data="context.root.datasets">
                <td> {{ data.data[context.activeIndex]==null?"":data.data[context.activeIndex].toLocaleString(window.DeceClientState.GetLanguage())  }} </td>
            </d:r>
        </tr>

        <d:r visible="!data.IsValue">
            {{ context.Level++; TemplateToHtml($("#__TreeLevelPivotTemplate"),data.Items,context) }}
            {{ context.Level--;"" }}
        </d:r>

    </d:r>

</script>


<script type="dece-template" id="PivotTemplateSimple">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="pivotTableColor">
                <th>-</th>
                <d:r data="data.datasets">
                    <th> {{ data.label=="NONE"?" ":data.label }} </th>
                </d:r>
            </tr>
        </thead>
        <tbody>
            {{ context.activeIndex=-1; null; }}
            <d:r data="data.labels">
                <tr class="pivotTableColor">
                    <td>
                        {{ context.activeIndex++; data }}
                    </td>
                    <d:r data="context.root.datasets">
                        <td> {{FormatNumber(data.data[context.activeIndex],2,true)  }} </td>
                    </d:r>
                </tr>
            </d:r>
        </tbody>
    </table>
</script>

<script type="dece-template" id="PivotTableTemplate">
            <div class="pivotTarget" class="panel-overflow-x" style="overflow: scroll;"></div>
</script>

<script type="dece-template" id="MaxDataCountSettingTemplate">
    <div class="form-group">
        <label>[$WidgetResources:color_palette]</label>
        <select class="form-control input-sm chartColorPalette">
            <d:r data="window.ColorPalettes">
                <option value="{{data.repeaterIndex}}">{{data.repeaterIndex}}</option>
            </d:r>
        </select>
    </div>
</script>

<script type="dece-template" id="ColorPaletteSettingTemplate">
    <div class="form-group">
        <label>[$WidgetResources:color_palette]</label>
        <select class="form-control input-sm chartColorPalette">
            <d:r data="window.ColorPalettes">
                <option value="{{data.repeaterIndex}}">{{data.repeaterIndex}}</option>
            </d:r>
        </select>
    </div>
</script>

<script type="dece-template" id="FacetChartWidgetTemplate">

		<div  class="form-group">
			<label>[$WidgetResources:FacetChartDatasetSelect]</label>
			<select class="form-control input-sm" id="DatasetSelect">
				<d:r data="window.GeodiPivotChartOptions" >
					<d:r visible="context.isChart != data.forPivotOnly">
						<option value="{{data.key}}">{{data.label}}</option>
					</d:r>
				</d:r>
			</select>
			
		</div>
		<div id="DatasetSelectOptions">
			{{ TemplateToHtml($("#WidgetPivotChartSeries").html(),window.GetGeodiPivotChartSeries(data,context),context) }}
			{{ TemplateToHtml($("#WidgetPivotChartFunctions").html(),window.GetGeodiPivotChartSeries(data,context,true),context) }}
		</div>
		{{ TemplateToHtml($("#WidgetPivotChartTrendMode").html(),data,context) }}
		
 </script>
 <script type="dece-template" id="FacetPivotWidgetTemplate">

	<div  class="form-group">
		<label>[$WidgetResources:FacetChartDatasetSelect]</label>
		<select class="form-control input-sm" id="DatasetSelect">
			<d:r data="window.GeodiPivotChartOptions" >
				<option value="{{data.key}}">{{data.label}}</option>
			</d:r>
		</select>
		
		
	</div>
	
	<div id="DatasetSelectOptions">
			{{ TemplateToHtml($("#WidgetPivotChartSeries").html(),window.GetGeodiPivotChartSeries(data,context),context) }}
			{{ TemplateToHtml($("#WidgetPivotChartFunctions").html(),window.GetGeodiPivotChartSeries(data,context,true),context) }}
	</div>
		
	{{ TemplateToHtml($("#WidgetPivotChartTrendMode").html(),data,context) }}
	
</script>
 
 <script type="dece-template" id="WidgetPivotChartSeries">
		
    <d:r visible="data && data.length">
        <div class="form-group">
            <div class="buttonOptions">
                <label>{{context.tools.displays && context.tools.displays.horizontalAxis ? context.tools.displays.horizontalAxis : '[$WidgetResources:axis/js]'}}</label>
                <div class="pull-right">
					<button type="button" class="btn btn-default swapOptions" title="[$WidgetResources:change_selections/html]"><i class="fa fa-exchange fa-rotate-90 fa-1"></i></button>
                </div>
            </div>

            <select class="form-control input-sm wChartHorizontalAxis elementSelect" multiple="true">
				<d:r data="data">
					<option value="{{data.Value}}" {{ context.IsSelected_Hor(data,context)?"selected":"" }}>{{data.Label}}</option>
				</d:r>
			</select>
        </div>
    
        <div class="form-group">
            <div class="buttonOptions">
                <label>{{context.tools.displays && context.tools.displays.dataset ? context.tools.displays.dataset : '[$WidgetResources:series/js]'}}</label>
                <div class="pull-right">
					<button type="button" class="btn btn-default swapOptions" title="[$WidgetResources:change_selections/html]"><i class="fa fa-exchange fa-rotate-90 fa-1"></i></button>
                </div>
            </div>
            <select class="form-control input-sm wChartDataSet elementSelect" multiple="true">
				<d:r data="data">
					<option value="{{data.Value}}" {{ context.IsSelected_Series(data,context)?"selected":"" }}>{{data.Label}}</option>
				</d:r>
			</select>
        </div>
		
		
    </d:r>
 </script>
 
  <script type="dece-template" id="WidgetPivotChartFunctions">
		
    <d:r visible="data && data.length">
        
		<div class="form-group">
            <label>[$WidgetResources:value]</label>
            <select class="form-control input-sm wChartValues">
				<option>[$WidgetResources:count]</option>
				<d:r data="data">
					<option value="{{data.Value}}" {{ context.IsSelected_Function(data,context)?"selected":"" }}>{{data.Label}}</option>
				</d:r>
			</select>
        </div>
		
    </d:r>
 </script>
 
 <script type="dece-template" id="WidgetPivotChartTrendMode">
	<div class="form-group">
		<label>[$WidgetResources:trend_anylz]</label>
		<select class="form-control input-sm wTrendMode">
			<option value="" selected>[$default:none]</option>
			<option value="year">[$WidgetResources:trend_year]</option>
			<option value="month">[$WidgetResources:trend_month]</option>
			<option value="week">[$WidgetResources:trend_week]</option>
			<option value="day">[$WidgetResources:trend_day]</option>
		</select>
	</div>
 </script>
 
 <script type="dece-template" id="WidgetCanvasAreaTemplate">
		<canvas id="WidgetCanvasArea"></canvas>
 </script>



<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/canvas/chartjs_org/Chart.bundle.min.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/ColorPalette.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceTemplate.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
<dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/chartjs/deceChart.js" />
<dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceCookies.js" />

<script>
	function normalizeFacetChartData(chartDataset,IdReferenceArray,apiSource){
		var chartData = [];
		$.each(chartDataset,function(k,v) {
			var k2 = typeof(IdReferenceArray) == 'function' ? IdReferenceArray(k) : IdReferenceArray[k];
			
			chartData.push( {
				Fields: {
					"DataSource": apiSource,
					"DisplayName":typeof(IdReferenceArray) == 'function' ? k2 : k2?k2.DisplayName:k,
					"Count":v
				},
				Count: v
			})
		});
		return chartData;
	}

	function normalizeFacetPivotData(chartDataset,IdReferenceArray,apiSource){
		var chartData = [];
		$.each(pThis.PivotData.KWForRecongizer,function(k,v) {
			var k2=CurrentQueryContainer.CurrentWSInfo.RecognizerIdReference[k];
			
				chartData.push( {
					Count:v,
					Fields: {
						"DisplayName":k2?k2.DisplayName:k,
						"Number":"[$WidgetResources:count/js]"
						
					}
				})
			})
		return chartData;
	}
	
	function getFacetForWidgetObjectBase(key,label,ValueLabelGetter,facetDataProperty,forPivotOnly = false,pivotTitleLabel = "-"){
		var pThis=this;
		this.key=key;
		this.label=label;
		this.ValueLabelGetter = ValueLabelGetter;
		this.facetDataProperty = facetDataProperty;
		this.forPivotOnly = forPivotOnly;
		this.pivotTitleLabel = pivotTitleLabel;
		
		this.getData=function(force,query,stateObject,forChart,callback){
			pThis.__getFacetForWidget(force,query,stateObject,callback,pThis.ValueLabelGetter(),pThis.facetDataProperty);
		};
		this.__getFacetForWidget=function(force,query,stateObject,callback,IdReferenceArray,facetDataProperty){
			var apiSource=null;
			if(pThis.key === "FacetChartKWForRecognizer"){
				query.FillOptions|= 8388608;
				apiSource = "getFacetKW";
			}
			else{
				query.FillOptions = undefined;
				apiSource = "getFacet";
			}
			if(!force) {
				if(stateObject && stateObject.__lastApi==apiSource)
				{
					var normalizeData=__createChartData(stateObject.__lastFacetData[pThis.facetDataProperty],IdReferenceArray,apiSource);
					callback(normalizeData);
				}
			}
				
			$.post(HttpUtility.ResolveUrl("~/GeodiJSONService?op=getFacet"), {
				'query': JSON.stringify(query),
				'wsName': window.CurrentQueryContainer.CurrentWSInfo.wsName,
				'UpdateDefaultQuery': false,
				'LastWSScanKey' : null
				}, function (data) {
				
					if(stateObject) {
						stateObject.__lastFacetData = data;
						stateObject.__lastApi=apiSource;
					}
					var normalizeData = null;
					if(pThis.forChart)
						normalizeData=pThis.__createChartData(data[pThis.facetDataProperty],IdReferenceArray,apiSource);
					else
						normalizeData=pThis.__createPivotData(data[pThis.facetDataProperty],IdReferenceArray,apiSource);
					
					callback(normalizeData);
				}, "json");
		}
		this. __createChartData=function(chartDataset,IdReferenceArray,apiSource){
			var chartData = [];
			if(chartDataset != null){
				$.each(chartDataset,function(k,v) {
				var k2 = typeof(IdReferenceArray) == 'function' ? IdReferenceArray(k) : IdReferenceArray[k];
				
				chartData.push( {
					Fields: {
						"DataSource": apiSource,
						"DisplayName":typeof(IdReferenceArray) == 'function' ? k2 : k2?k2.DisplayName:k,
						"Count":v
					},
					Count: v
				})
				});
			}
			
			pThis.chartLabels = ["DisplayName"];
			//pThis.chartDataFields = ["DataSource"];   
			return chartData;
		}
		this. __createPivotData=function(chartDataset,IdReferenceArray,apiSource){
			var chartData = [];
			if(chartDataset != null){
				$.each(chartDataset,function(k,v) {
				var k2 = typeof(IdReferenceArray) == 'function' ? IdReferenceArray(k) : IdReferenceArray[k];
				
				chartData.push( {
					Fields: {
						"DataSource": apiSource,
						"DisplayName":typeof(IdReferenceArray) == 'function' ? k2 : k2?k2.DisplayName:k,
						"Number":"[$WidgetResources:count/js]",
					},
					Count: v
				})
				});
			}
			
			pThis.chartLabels = ["DisplayName"];
			//pThis.chartDataFields = ["Number"]; //aaaaa
			return chartData;
		}
	}
	function getKeywordsForDocsForWidgetObjectBase(key,label,ValueLabelGetter,pivotDataFields,pivotLabels,forPivotOnly = false, pivotTitleLabel = "-"){
		var pThis=this;
		this.key=key;
		this.label=label;
		this.ValueLabelGetter = ValueLabelGetter;
		this.chartDataFields = pivotDataFields;
		this.chartLabels = pivotLabels;
		
		//aaaaa
		if(this.chartDataFields.length==0 || this.chartDataFields[0]=="") this.chartDataFields=[];
		
		this.splitDataFields = true;
		this.forPivotOnly = forPivotOnly;
		this.pivotTitleLabel = pivotTitleLabel;
		this.getData=function(force,query,stateObject,forChart,callback){
			pThis.__getKeywordsForDocsForWidget(force,query,stateObject,forChart,callback,pThis.ValueLabelGetter())
		};
		this.__getKeywordsForDocsForWidget=function(force,query,stateObject,forChart,callback,IdReferenceArray){
		
			var apiSource="getKeywordsForDocs";
			if(!force) {
				if(stateObject && stateObject.__lastApi==apiSource)
				{
					var normalizeData=__createPivotData(stateObject.__lastChartData[facetDataProperty],IdReferenceArray,apiSource);
					callback(normalizeData);
				}
			}
				
			
			query.GetNumberOfOccurrences = true;
			query.EndIndex=1000;
			
			$.post(HttpUtility.ResolveUrl("~/GeodiJSONService?op=getKeywordsForDocs"), {
			'query': JSON.stringify(query),
			'wsName': window.CurrentQueryContainer.CurrentWSInfo.wsName,
			'docs': JSON.stringify([null])
			}, function (data) {
				
				var groupedResult;
				var normalizeData;
				if(data["NODATA"]){
					groupedResult = data["NODATA"].reduce(function (obj, item) {
						obj[item[1]] = obj[item[1]] || [];
						if(obj[item[1]][0])
							obj[item[1]][0] = obj[item[1]][0] + item[3];
						else{
							obj[item[1]].push(item[3]);
						}
						if(!obj[item[1]][1]){
							obj[item[1]].push(item[2]);
						}
						return obj;
					}, {});
				
					
				}
				else
					groupedResult = null;
				
				if(stateObject) {
					stateObject.__lastChartData = data;
					data = null;
					stateObject.__lastApi=apiSource;
				}
				if(forChart){
					chartDataFields = ["DataSource"];
					normalizeData = pThis.__createChartData(groupedResult,IdReferenceArray,"getKeywordsForDocs");
				}
				else
					normalizeData = pThis.__createPivotData(groupedResult,IdReferenceArray);

				groupedResult=null;

				callback(normalizeData);
				
			}, "json");	
		}

		this.__createPivotData=function(chartDataset,IdReferenceArray){
			var chartData = [];
			if(chartDataset != null){
				$.each(chartDataset,function(k,v) {
				var k2=IdReferenceArray[v[1]];
					chartData.push( {
						Count:v[0],
						Fields: {
							"DisplayName":k,
							"[$WidgetResources:recognizer/js]":k2?k2.DisplayName:v[1],
							"Number":"[$WidgetResources:count/js]",
							"RecognizerDisplay":"[$WidgetResources:recognizer/js]",
						}
					})
			});
			}

			return chartData;
		}
		
		this. __createChartData=function(chartDataset,IdReferenceArray,apiSource){
			pThis.maximumNumberData = 20;
			var chartData = [];
			if(chartDataset != null){
				var tempChartDataset = Object.entries(chartDataset);
				chartDataset = null;
				chartDataset = tempChartDataset.sort(function(a, b){return b[1][0] - a[1][0]}).slice(0,pThis.maximumNumberData);
				tempChartDataset = null;
				$.each(chartDataset,function(k,v) {
				var k2=IdReferenceArray[v[1][2]];
					chartData.push( {
						Count:v[1][0],
						Fields: {
							"DataSource": apiSource,
							"DisplayName":v[0],
							"Count":v[1][0]
						}
					})
			});
			}
			
			return chartData;
		}
		
	}
	
	
	function getClientsChartData(key,label){
		var pThis=this;
		this.key=key;
		this.label=label;
		this.DynamicOptions=[
			{ "Value":"ComputerName","Label":"ComputerName" } ,
			{ "Value":"UserName","Label":"UserName" } ,
			{ "Value":"OS","Label":"OS" } ,
			{ "Value":"ClientCount","Label":"ClientCount" } ,
			{ "Value":"RegisterTime","Label":"RegisterTime" } ,
			{ "Value":"LastTime","Label":"LastTime" } ,
			
			{ "Value":"ID","Label":"ID" } ,
			{ "Value":"ClientCount","Label":"ClientCount" } ,
			
			{ "Value":"GDECount","Label":"GDECount" },
			{ "Value":"UserAndComputer","Label":"UserAndComputer" } ,
			
			{ "Value":"GDE","Label":"GDE" } ,
			{ "Value":"GDE_Ver","Label":"GDE_Ver" },
			{ "Value":"GDE_IP","Label":"GDE_IP" },
			{ "Value":"GDE_LastTime","Label":"GDE_LastTime" },
			
			{ "Value":"Classifier.Office","Label":"Classifier.Office" } ,
			{ "Value":"Classifier.Office_Ver","Label":"Classifier.Office_Ver" },
			{ "Value":"Classifier.Office_IP","Label":"Classifier.Office_IP" },
			{ "Value":"Classifier.Office_LastTime","Label":"Classifier.Office_LastTime" },
			
			
			{ "Value":"Classifier.Shell","Label":"Classifier.Shell" } ,
			{ "Value":"Classifier.Shell_Ver","Label":"Classifier.Shell_Ver" },
			{ "Value":"Classifier.Shell_IP","Label":"Classifier.Shell_IP" },
			{ "Value":"Classifier.Shell_LastTime","Label":"Classifier.Shell_LastTime" }
			
			
		];
		this.DynamicValues=[
			//{ "Value":"Number","Label":"Number" } ,
			{ "Value":"GDECount","Label":"GDE Count" }
		];
	
		
		this.useValueDataFieldCounter=true;
		this.splitDataFields = true;
		this.forPivotOnly = false;
		
		this.getData=function(force,query,stateObject,forChart,callback){
			$.post(HttpUtility.ResolveUrl("~/Feedhandler?op=GetClients"), {}, function (data) {
			
				var enableGDEData=false ; //auto
				if(stateObject && stateObject.settings) {
					if(stateObject.settings.Hor && stateObject.settings.Hor.indexOf("GDECount")!=-1)
						enableGDEData=true;
					else if(stateObject.settings.Series && stateObject.settings.Series.indexOf("GDECount")!=-1)
						enableGDEData=true;
					else if(stateObject.settings.Func == "GDECount" )
						enableGDEData=true;
				}
				var chartData = [];
				var clientQueries=enableGDEData?[]:null;
				var clientQueriesObj=enableGDEData?{}:null;
				if(data != null){
					
					$.each(data,function(k,v) {
					
						var inData={
							Count:1,
							Fields: {
								"OS":v.OS,
								"ID":v.ID,
								"ComputerName":v.ComputerName,
								"UserName":v.UserName,
								"UserAndComputer":v.UserName+"\\"+v.ComputerName,
								"RegisterTime": moment(parseNetDate(v.RegisterTime)).format('L') ,
								"ClientCount":0,
								GDECount:0
							}
						};
						
						var clGoups={};
						if(v.Clients)
							$.each(v.Clients, function (k2, client) {
										var appName=client.AppName;
										if(appName.indexOf("Classifier.Office")==0)
											appName="Classifier.Office";
										if(appName.indexOf("GDE")==0) {
											appName="GDE";
											if(enableGDEData) {
												clientQueries.push(v.ID);
												clientQueriesObj[v.ID]=inData;
												}
										}
											
										client.AppGroupName=appName;
										if(!clGoups[appName]) {
											clGoups[appName]=true;
											inData.Fields["ClientCount"]++;
										}
										var tm=parseNetDate(client.LastAccessTime);
										if(!inData.Fields[appName+"_LastTimeFull"] || inData.Fields[appName+"_LastTimeFull"]<tm) {
											inData.Fields[appName+"_LastTimeFull"]=tm;
											inData.Fields[appName+"_LastTime"]=moment(tm).format('L');
											inData.Fields[appName+"_Ver"]=client.AppVer;
											inData.Fields[appName]=appName;
											inData.Fields[appName+"_IP"]=client.LastAccessIp;
										}
										if(!inData.Fields.LastTimeFull || inData.Fields.LastTimeFull<tm) {
											inData.Fields.LastTimeFull=tm;
											inData.Fields.LastTime=moment(tm).format('L');
										}
										
										
									});
								
						chartData.push( inData );
								
						
					});
					
				}

				if(enableGDEData && clientQueries.length>0) {
						var q1=query.Clone();
						q1.GetDocumentCounts(function(data) {
							if(data){
								var qList={};
								for(var i0=0;i0<data.length;i0++) {
									clientQueriesObj[clientQueries[i0]].Fields.GDECount=data[i0];
								}
								callback(chartData);
							}
						},clientQueries,true )
				}
				else
					callback(chartData);
			
			})
			
		};
		

		
	}
	
</script>
    
<script>
    
	window.WidgetList.push({ Type: "Geodi_ChartWidget", Text: "[$WidgetResources:default_Chart/js]", Icon: "fa fa-pie-chart img-default", Sortable: true });
	window.WidgetList.push({ Type: "Geodi_PivotWidget", Text: "[$WidgetResources:default_Pivot/js]", Icon: "fa fa-table img-default", Sortable: true });

    if (!window.DeceWidget)
        window.DeceWidget = {};
	
	window.GeodiPivotChartOptions=[
		new getFacetForWidgetObjectBase("FacetChartDocForContentType","[$WidgetResources:FacetChartDocForContentType/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.ContentTypeRefrence; },"DocForContentType",false,"[$WidgetResources:docTypes/js]"),
		new getFacetForWidgetObjectBase("FacetChartDocForEnumarator","[$WidgetResources:FacetChartDocForEnumarator/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.GetEnumratorTitleFromId; },"DocForEnumarator",false,"[$WidgetResources:enumarators/js]"),
		new getKeywordsForDocsForWidgetObjectBase("KWForDoc","[$WidgetResources:KWForDoc/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.RecognizerIdReference; },["Number"],["DisplayName"],false,"[$WidgetResources:keywords/js]"),
		new getKeywordsForDocsForWidgetObjectBase("KWForRecognizerDoc","[$WidgetResources:KWForRecognizerDoc/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.RecognizerIdReference; },["RecognizerDisplay","Number"],["DisplayName"],true,"[$WidgetResources:keywords/js]"),
		new getFacetForWidgetObjectBase("FacetChartDocForRecongizer","[$WidgetResources:FacetChartDocForRecongizer/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.RecognizerIdReference; },"DocForRecongizer",false,"[$WidgetResources:recognizers/js]"),
		new getFacetForWidgetObjectBase("FacetChartKWForRecognizer","[$WidgetResources:FacetChartKWForRecognizer/js]",function() { return window.CurrentQueryContainer.CurrentWSInfo.RecognizerIdReference; },"KWForRecongizer",false,"[$WidgetResources:recognizers/js]"),
		
		new getClientsChartData("Clients","Clients",false)
		
		

		
	];
	
	function GetGeodiPivotChartSeries(data,context,forFunctions) {
		
		context.IsSelected_Hor=function(current) {
		
			if(context.settings.Hor && context.settings.Hor.indexOf(current.Value)!=-1) return true;
		}
		context.IsSelected_Series=function(current) {
			if(context.settings.Series && context.settings.Series.indexOf(current.Value)!=-1) return true;
		}
		context.IsSelected_Function=function(current) {
			if(context.settings.Func== current.Value ) return true;
		}
		
		var ins=window.GeodiPivotChartOptions.find(o => o.key === context.settings.geodiPivotChartOptionsSelect);
		
		if(ins && !forFunctions)
			return ins.DynamicOptions;
			
		if(ins && forFunctions)
			return ins.DynamicValues;
			
		return null;
		
	}

	window.DeceWidget.Geodi_PivotWidget = function () {

		var rtn=new window.DeceWidget.__Geodi_ChartPivotBaseWidget();
		rtn.isChart=false;
		rtn.Type="Geodi_PivotWidget";
		rtn.tools.chartType = false;
		rtn.tools.chartLegend = false;
		return rtn;
	}

	window.DeceWidget.Geodi_ChartWidget = function () {

		var rtn=new window.DeceWidget.__Geodi_ChartPivotBaseWidget();
		
		rtn.isChart=true;
		rtn.Type="Geodi_ChartWidget";								 
		rtn.tools.settingsTemplates = ["#FacetChartWidgetTemplate", "#ColorPaletteSettingTemplate"];
		
		return rtn;
	}

    window.DeceWidget.__Geodi_ChartPivotBaseWidget = function () {
        var pThis = this;
        //this.Type = "Geodi_ChartWidget";
        this.IframeWidget = true;
        this.targetDom = null;
        this.WidgetAreaCss = "height:100%;";
		//this.WidgetAreaCss = "padding-bottom: 25px;";
		this.eventBind=function(widget) { 
				
				var HandleSeriesEvents=function() {
					window.SingleBind($('#widgetAdvancedSetttings_'+ pThis.Id + ' .wChartHorizontalAxis', pThis.settingsDom),"change", function () {
					
						pThis.settings.Hor = $(this).val();
						pThis.widgetTools.callback(pThis.settings, "Series");
					});
					window.SingleBind($('#widgetAdvancedSetttings_'+ pThis.Id + ' .wChartDataSet', pThis.settingsDom),"change", function () {
					
						pThis.settings.Series = $(this).val();
						pThis.widgetTools.callback(pThis.settings, "Series");
					});
					window.SingleBind($('#widgetAdvancedSetttings_'+ pThis.Id + ' .wChartValues', pThis.settingsDom),"change", function () {
					
						pThis.settings.Func = $(this).val();
						pThis.widgetTools.callback(pThis.settings, "Series");
					});
					window.SingleBind($(".chartColorPalette", pThis.settingsDom),"change", function () {
					pThis.settings.colorPalette = $(this).val();
					pThis.widgetTools.callback(pThis.settings, "colorPalette");
					
				});
				
				window.SingleBind($(".wTrendMode", pThis.settingsDom),"change", function () {
					pThis.settings.TrendMode = $(this).val();
					pThis.widgetTools.callback(pThis.settings, "Series");
				});
				
				
				 window.SingleBind($(".swapOptions", pThis.settingsDom),"click", function () {
                    var newChartDataFields = [];
                    if (pThis.settings.Hor)
                        newChartDataFields = JSON.parse(JSON.stringify(pThis.settings.Hor));
                    var newChartLabels = [];
                    if (pThis.settings.Series)
                        newChartLabels = JSON.parse(JSON.stringify(pThis.settings.Series));

                    $("select.wChartDataSet", pThis.settingsDom).val(newChartDataFields);
                    $("select.wChartHorizontalAxis", pThis.settingsDom).val(newChartLabels);

                    pThis.settings.Hor = newChartLabels;
                    pThis.settings.Series = newChartDataFields;
                   pThis.widgetTools.callback(pThis.settings, "Series");
                });
				
				}
				
				
				
				HandleSeriesEvents();
				window.SingleBind($('#widgetAdvancedSetttings_'+ pThis.Id + ' #DatasetSelect', pThis.settingsDom),"change", function () {
					pThis.settings.geodiPivotChartOptionsSelect = $(this).val();
					$('#widgetAdvancedSetttings_'+ pThis.Id + ' #DatasetSelectOptions', pThis.settingsDom).html(
						TemplateToHtml($("#WidgetPivotChartSeries").html(),window.GetGeodiPivotChartSeries(pThis.settings.geodiPivotChartOptionsSelect,pThis),pThis)+
						TemplateToHtml($("#WidgetPivotChartFunctions").html(),window.GetGeodiPivotChartSeries(pThis.settings.geodiPivotChartOptionsSelect,pThis,true),pThis)
					)
					HandleSeriesEvents();
					pThis.CurrentInstance = window.GeodiPivotChartOptions.find(o => o.key === pThis.settings.geodiPivotChartOptionsSelect);
					pThis.CurrentInstance.forChart = this.isChart;
					pThis.widgetTools.callback(pThis.settings, "apiSource");
				});
			};
			
        this.tools = {
            fullscreen: true,
			queries: true,
			uiQuery:true,
			chartType: true,
			sortable: true,
			chartLegend: true,
			showDisableMainQuery: true,
			datesetType: "",
			settingsTemplates: ["#FacetPivotWidgetTemplate"],
			OnSettingsRenderEnd  : function(widget) { 
				$(".chartColorPalette", widget.settingsDom).val(widget.settings.colorPalette);
				$(".wTrendMode", widget.settingsDom).val(widget.settings.TrendMode);
				$("#DatasetSelect", widget.settingsDom).val(widget.settings.geodiPivotChartOptionsSelect);
				
				//set displays
				
			},
			OnEventBinding : pThis.eventBind 
        };
        //
        this.__settingsDefault = {
            rowOverlay: 12,
			chartLabels: [],
			geodiPivotChartOptionsSelect: "FacetChartDocForRecongizer",
			chartType: "bar",
			chartLegend: "bottom",
			sortType: "shortForCountDesc",
			chartOptions: null,
			colorPalette: "Palet1",
			updateData: true,
			chartLegendFontColor: "black",
			pivotTitleLabel: "-"
			
        };

        this.setSettings = function (newSettings) {
            pThis.settings = newSettings;
            pThis.update(true);
        };
        this.getSettings = function () {
            return pThis.settings;
        };
     
        this.GetUseMainQueryStatus = function () {
            pThis.___InitActiveQuery();
            var checkqStrWithMain = function (qStr) {
                return (qStr && (qStr.indexOf("%query%") != -1 || qStr.indexOf("%facet%") != -1))
            }

            if (pThis.ActiveQuery && checkqStrWithMain(pThis.ActiveQuery.Query))
                return true;
            if (pThis.ManualQuery && checkqStrWithMain(pThis.ManualQuery))
                return true;

            return !pThis.settings.showDisableMainQuery;

        }
        this.___InitActiveQuery = function () {
            if (!pThis.ActiveQuery) {
                if (pThis.settings.queries)
                    pThis.ActiveQuery = pThis.settings.queries[0];
                else
                    pThis.ActiveQuery = { Query: "" };
            };

        }
        this.GetQuery = function () {
            pThis.___InitActiveQuery();
            var q = window.CurrentQueryContainer.CurrentQuery.Clone();
            var mqStr = q.SeacrhString;
            var mqFacet = q.ToString(null, null, null, true);

            var updateqStrWithMain = function (qStr) {
                if (qStr) {
                    if (mqStr == null) mqStr = "";
                    if (mqFacet == null) mqFacet = "";
                    qStr = qStr.replace(/%query%/ig, mqStr);
                    qStr = qStr.replace(/%facet%/ig, mqFacet);
                }
                return qStr;
            }


            if (!pThis.GetUseMainQueryStatus())
                q.Clear(true);

            if (pThis.ActiveQuery && pThis.ActiveQuery.Query) {
                if (!q.SearchStrings)
                    q.SearchStrings = [];
                q.SearchStrings.push(updateqStrWithMain(pThis.ActiveQuery.Query));
            }

            if (pThis.ManualQuery) {
                if (!q.SearchStrings)
                    q.SearchStrings = [];
                q.SearchStrings.push(updateqStrWithMain(pThis.ManualQuery));
            }
            return q;
        };
		
		this.update = function () {
            this._refresh();
        }
		
		
        this._refresh = function () {
			
			
			pThis.currentInstance = window.GeodiPivotChartOptions.find(o => o.key === pThis.settings.geodiPivotChartOptionsSelect );
			
			var query=pThis.GetQuery();
			
			if(pThis.settings.TrendMode) {
				//with trend
				var allDefer=[];
				var allData=[];
				var dt=new Date();
				var max=7;
				switch(pThis.settings.TrendMode) {
					case "year": max=10;break;
					case "month": max=12;break;
					case "week": max=8;
					
						dt.setDate(moment(dt).week()+7); //week start
					
					break;
					case "day": max=7;break;
				}
				var mNames="January_February_March_April_May_June_July_August_September_October_November_December".split("_");
				var padFnd = function (val, length) {
						return $.isNumeric(val) ? pad(val, length) : val;
				}
				for(var i=0;i<max;i++) {
					let trendtext="";
					let trendtextForFieldValue=null;
					var dtq="";
					
					
					switch(pThis.settings.TrendMode) {
					case "year": 
						dtq="January "+dt.getFullYear()+" - December "+dt.getFullYear();
						trendtext=dt.getFullYear();
						dt.setFullYear(dt.getFullYear()-1);
						break;
					case "month": 
						
						dtq=mNames[dt.getMonth()]+" "+dt.getFullYear();
						trendtext=moment(dt).format('MMMM') ; 
						trendtextForFieldValue=dt.getFullYear()+"."+padFnd(dt.getMonth(),3);
						dt.setMonth(dt.getMonth()-1);
						break;
					case "week":
						dtq=(dt.getDate()+1)+" "+mNames[dt.getMonth()]+" "+dt.getFullYear();
						trendtext=moment(dt).week() ; 
						trendtextForFieldValue=dt.getFullYear()+"."+padFnd(trendtext,3);
						dt.setDate(dt.getDate()-7);
						dtq=(dt.getDate()+1)+" "+mNames[dt.getMonth()]+" "+dt.getFullYear()+" - "+ dtq;
						break;
					case "day":
						dtq=(dt.getDate()+1)+" "+mNames[dt.getMonth()]+" "+dt.getFullYear();
						trendtext=moment(dt).format('L') ; 
						trendtextForFieldValue=dt.getFullYear()+padFnd(dt.getMonth(),3)+"."+padFnd(dt.getDate(),3);
						dt.setDate(dt.getDate()-1);
						break;
				}
				
					
					
					var q2=query.Clone();
					if(q2.SearchStrings==null) q2.SearchStrings=[];
					q2.SearchStrings.push("contentdate:( "+dtq+" )");
					let d1 = $.Deferred();
					allDefer.push(d1);
					pThis.currentInstance.getData(true,q2,pThis,this.isChart,function(p1) 
					{
						for(var j=0;j<p1.length;j++) {
							p1[j].Fields["TrendDate"]=trendtext;
							if(trendtextForFieldValue!=null)
								p1[j].Fields["TrendDate.fieldValue"]=trendtextForFieldValue;
						}
							allData.push(p1);
							d1.resolve();
					})
				
				}
				
				 $.when.apply($, allDefer).done(function ( ) {
					var d1=allData[0];
					for(var i=1;i<allData.length;i++)
						for(var j=0;j<allData[i].length;j++)
							d1.push(allData[i][j]);
					pThis.__chartData = d1;
					pThis.__reloadChart();
				});
			}
			else {
				pThis.currentInstance.getData(true,query,pThis,this.isChart,function(normalizeData) 
				{
					pThis.__chartData = normalizeData;
					pThis.__reloadChart(); 
				});
			}
			
		};
		
		this.__reloadChart = function () {
			if(this.isChart){
				pThis.createChart(pThis.currentInstance);
			}
			else{
				pThis.createPivot(pThis.currentInstance);
			}	
		};

		this.createChart = function(currentInstance){
			var manager = null;
			var cl_val=
				currentInstance.DynamicValues ? pThis.settings.Func: currentInstance.valueDataField;
			
			if(currentInstance.DynamicOptions) {
			
				
				pThis.settings.chartLabels = pThis.settings.Hor ;
				pThis.settings.chartDataFields=pThis.settings.Series;

			}
			else {
				if(pThis.settings.chartType == "pie" || pThis.settings.chartType == "polararea" || pThis.settings.chartType == "doughnut"){
						pThis.settings.chartLabels = currentInstance.chartDataFields ;
				}
				else{
					pThis.settings.chartLabels=currentInstance.chartLabels;
				}
				pThis.settings.chartDataFields=currentInstance.chartLabels;
			}
			
			
			
			if(pThis.settings.TrendMode) {
					pThis.settings.chartDataFields=currentInstance.chartDataFields;
					var lbl1=pThis.settings.chartLabels;
					//swap//old err
					pThis.settings.chartLabels=pThis.settings.chartDataFields;
					pThis.settings.chartDataFields=lbl1;
					var cpy=[];
					if(pThis.settings.chartLabels)
						for (i = 0; i < pThis.settings.chartLabels.length; i++)
							if(pThis.settings.chartLabels[i]  && pThis.settings.chartLabels[i] !="Number")
								cpy.push(pThis.settings.chartLabels[i]);
					cpy.push("TrendDate");
					pThis.settings.chartLabels=cpy;
				}
			
			//pThis.settings.groupBy = {Fields: [pThis.settings.chartLabels.toString(),pThis.settings.chartDataFields.toString()]};

			if(cl_val) {
				pThis.settings.valueDataField = cl_val;
				pThis.settings.useValueDataFieldCounter=currentInstance.useValueDataFieldCounter;
			}
			else
			{
				delete pThis.settings.valueDataField;
				delete pThis.settings.useValueDataFieldCounter;
			}
			 
			//pThis.settings.chartDataFields=["DisplayName"];
			//pThis.__chartData=chartDataset;
			pThis.settings.chartOptions = { colorPalette:pThis.settings.colorPalette, maximumNumberData:currentInstance.maximumNumberData,tooltips:{callbacks: {
                // this callback is used to create the tooltip label
                label: function (tooltipItem, data) {
                    // get the data label and data value to display
                    // convert the data value to local string so it uses a comma seperated number
                    var dataLabel = data.labels[tooltipItem.index];
                    // add the currency symbol $ to the label
                    var value = ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString(window.DeceClientState.GetLanguage());
                    // make sure this isn't a multi-line label (e.g. [["label 1 - line 1, "line 2, ], [etc...]])
                    if (Chart.helpers.isArray(dataLabel)) {
                        // show value on first line of multiline label
                        // need to clone because we are changing the value
                        dataLabel = dataLabel.slice();
                        dataLabel[0] += value;
                    } else {
                        dataLabel += value;
                    }
                    // return the text to display on the tooltip
                    return dataLabel;
                }
            }} };
			
			if(pThis.settings.TrendMode) {
				delete pThis.settings.chartOptions.tooltips;
				pThis.settings.show_xAxess=true;
				}
			else
				delete pThis.settings.show_xAxess;
			
			//pThis.settings.chartOptions.scales = {xAxes: [{stacked:true}], yAxes:[{stacked:true}]};
			manager = window.Dece.PivotChart(pThis.__chartData, pThis.settings, $("#WidgetCanvasArea",pThis.targetDom));
			$("#WidgetCanvasArea", pThis.targetDom).addClass("chartWidgetFullscreen");
			
			
			//pThis.targetDom.addClass("chartWidgetFullscreen");
		}
		this.createPivot = function(currentInstance){
		
			var manager = null;
			
			if(currentInstance.DynamicOptions) {
			
					pThis.settings.chartDataFields=pThis.settings.Hor;
					pThis.settings.chartLabels=pThis.settings.Series;
					pThis.settings.pivotTitleLabel = pThis.settings.Series && pThis.settings.Series.length?pThis.settings.Series[0]:"";


			}
			else {
			
					pThis.settings.chartDataFields=currentInstance.chartDataFields;
					pThis.settings.chartLabels=currentInstance.chartLabels;
					pThis.settings.pivotTitleLabel = currentInstance.pivotTitleLabel;
			}
			
			var cl_val=
				currentInstance.DynamicValues ? pThis.settings.Func: currentInstance.valueDataField;
			
			
			if(cl_val){
				pThis.settings.valueDataField = cl_val;
				pThis.settings.useValueDataFieldCounter=currentInstance.useValueDataFieldCounter;
			}
			else
			{
				delete pThis.settings.valueDataField;
				delete pThis.settings.useValueDataFieldCounter;
			}
			
			//pThis.settings.chartDataFields=["RecognizerDisplay","Number"];
			//pThis.settings.chartLabels=["DisplayName"];
			pThis.settings.splitDataFields = false;
			pThis.settings.topDataCount = 20;
			manager = window.Dece.PivotTable(pThis.__chartData, pThis.settings, $("#WidgetViewArea", pThis.targetDom),  $("#PivotTemplate"));
		}
        this.destroy = function () {
            this.targetDom.empty();
        };
        this.init = function () {
			if (this.targetDom === null) return false;
			this.targetDom.data("instance", this);
			if (!this.settings)
				this.settings = {};
			$.extend(this.__settingsDefault, this.settings);
			this.settings = this.__settingsDefault;
			this.targetDom.addClass(pThis.Type);
			this.widgetTools = window.DeceWidget.__GeodiWidgetContainer(pThis, $("#Geodi_DefaultViewWidgetTemplate"), null);
			$("#"+pThis.Id + " #WidgetViewArea").append("<canvas id='WidgetCanvasArea'></canvas>");

			
			
			this.widgetTools.callback = function (settings, eventName) {
				$.extend(pThis.settings, settings);
				switch (eventName) {
					case "no_frame":
					case "uiQuery":
						pThis.destroy();
						pThis.init();
						break;
					case "rowOverlay":
						$(".rowOverlay", pThis.targetDom).val(pThis.settings.rowOverlay).change();
						break;
					case "modal_closed":
						if(pThis.queriesUpdated) {
							delete pThis.queriesUpdated;
							delete pThis.ActiveQuery;
							pThis.destroy();
							pThis.init();
						}
						break;
					case "queries":
						pThis.queriesUpdated=true;
					break;
					case "query":
					case "colorPalette":
					case "sortable":
					case "chartLegend":	
					case "chartType":
						pThis.__reloadChart();
						break;
					case "showDisableMainQuery":
						pThis.destroy();
						pThis.init();
						break;
					case "apiSource":
					case "Series":
						pThis.update();
						break;
				}
			}
			
			this.update();
			//this._refresh();

			window.DeceWidget.SetResizable(pThis, 400);
			
			
			
		};
		return this;
		
    };
</script>