﻿<dcc:panel permission="NOPERMISSION">
    <script type="dece-template" id="ActiveClientsWidgetTemplate">
        
		<div>
		 <table class="table table-striped table-bordered">
        <thead>
            <tr class="headerrow"><th class="headerCol OSContext" style="min-width:300px"> </th>
			<d:r data="context.Columns">
				<th col="{{data}}" class="headerCol Hdr_{{data.replace(/[.]/g, '_')}}" style="width:{{context.ColumnPercent}}%">{{ data }}</th>
			</d:r>
			
			
			</tr>
        </thead>
        <tbody>
            <d:r data="data">
				<tr>
				<td> {{ context.data=data; TemplateToHtml($("#ActiveClientPCInfo"),data,context) }} </td>
				<d:r data="context.Columns">
					<td class="Col_{{data.replace(/[.]/g, '_')}}">{{ 
						context.data.Clients[data]?TemplateToHtml($("#ActiveClientAppInfo"),context.data.Clients[data],context):'<span class=ClientAppNameArea appName="'+data+'"></span>'
					}}</td>
				</d:r>
				</tr>
			</d:r>
        </tbody>
		</table>
		</div>
	
    </script>
	
	<script type="dece-template" id="ActiveClientPCInfo">
       <span title="{{ data.Info.ID }}">
		   <b class=expCol0>{{ data.Info.UserName }}</b><br>
		   <i class=expCol1>{{ data.Info.ComputerName }}</i><br>
		   <small class="Clients_OS expCol2">{{data.Info.OS }}</small>
	   </span>
    </script>
	
	<script type="dece-template" id="ActiveClientAppInfo">
      <span class="ClientAppNameArea" appName="{{data.AppGroupName}}" title="{{ data.AppName }}" dateDiff="{{ var dt0=parseNetDate(data.LastAccessTime); dt0? ((new Date()- dt0) /60000) :0 }}">
	   
		   <d:r visible="data.AppGroupName=='GDE'">
				<a href='javascript:OpenDLVPopup("{{ HttpUtility.ScriptEncode(context.data.Info.ComputerName) + " - " +HttpUtility.ScriptEncode(context.data.Info.UserName) }}" , "{{ "DisableSummary:"+HttpUtility.ScriptEncode(context.data.Info.ID) }}")'><b class="Clients_AppVer expCol0">{{ data.AppVer }}</b> <span class="documentCount badge " client="{{context.data.Info.ID}}" ></span></a>
		   </d:r>
		    <d:r visible="data.AppGroupName!='GDE'">
				<b class="Clients_AppVer expCol0">  {{ data.AppVer }} </b>
		   </d:r>
		   
	   <br>
	   <i class=expCol1>{{ data.LastAccessIp + ( data.AppPort?":"+data.AppPort:"" )}}</i><br>
	   <small><span style='display:none' class=expCol2>{{ var dt1=parseNetDate(data.LastAccessTime);dt1?moment(parseNetDate(data.LastAccessTime)).format('DD/MMM/YYYY hh:mm:ss'):""}}</span>{{ moment(parseNetDate(data.LastAccessTime)).format('L') + ' - ' + moment(parseNetDate(data.LastAccessTime)).fromNow()   }}</small>
	   </span>
    </script>
	
    <script type="dece-template" id="ActiveClientWidgetExtraToolTemplate">
		<span class="badge totalClientCount" style="margin-right:10px;position:relative;top:9px;height:20px;" ></span>
        <a  style="cursor: pointer; position: relative; top: 10px" onclick="__refresh_Geodi_Clients(this)"><i id="clientRefresh" class="fa fa-refresh"></i></a>
    </script>
	
	
	<script type="dece-template" id="ActiveClientFilterMenu">
	<div class="btn-group">

				<button id="{{context.id}}_btn" style="margin-right:5px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<b>{{context.columnText?context.columnText:context.column}} {{ context.NoBrForButton ? " - " : "<br>"}} [$query:fav_status_all]</b>
					&nbsp;<span style="margin-top:-3px;" class="caret"></span>
				</button>

				<ul class="dropdown-menu dropdown-menu-rightauto" role="menu" style="max-height:80vh; overflow:auto;width: max-content">
					

           

                <li class="mobile_group_item " id="{{context.id}}_all" >
                    <a href="javascript:void(0)" onclick="filterActiveUsers(this,'{{context.widgetId}}','{{context.id}}',true)">
                        <span class="groupName grp_all" appName="{{context.column}}">[$query:fav_status_all]</span>
                        <div class="pull-right">
                            
                            <span class="badge">{{context.AllCount}}</span>
                        </div>

                    </a>
                </li>

				
				<d:r data=data>
					<d:r visible="data.Count&gt;0">
						<li>
							<a href="javascript:void(0)" onclick="filterActiveUsers(this,'{{context.widgetId}}','{{context.id}}',false)">
								<span class="groupName" datatext="{{data.Text}}" datavalue={{data.Value?HttpUtility.HtmlEncode(data.Value):''}} >{{data.Text  ? HttpUtility.HtmlEncode(data.Text) : "[$default:empty/js]" }}</span>
								<div class="pull-right">
									
									<span class="badge">{{data.Count}}</span>
								</div>

							</a>
						</li>
					</d:r>
				</d:r>
					


                  </ul>

         </div>
	</script>
	<script>
	
	function filterActiveUsers(src,widgetId,grp,isNull) {
			var widget=GetWidgetInstance(widgetId);
			if(!widget.inFilter)
				widget.inFilter={};
			var el1=$('.groupName', src);
			
			if(grp=="OS")
				widget.inFilterOS=el1.attr("datatext");
			else if(grp=="DTFilter")
				widget.inFilterDate=el1.attr("datavalue");
			else
				widget.inFilter[grp]=isNull?null:el1.attr("datatext");
			widget.ApplyFilter();
		
	}
	</script>
	
    <script>
        window.WidgetList.push({ Type: "Geodi_Clients", Text: "Clients", Icon: "fa fa-sitemap", Sortable: true });
        if (!window.DeceWidget)
            window.DeceWidget = {};
        function __refresh_Geodi_Clients(target) {
            var instance = $(target).closest(".Geodi_Clients").data("instance");
            instance.__refreshClients();
        }
		function exportGeodiClients(targetTable) {
			var csv = [];
			var rows = $("tr:visible",targetTable);
			
			for (var i = 0; i < rows.length; i++) 
			{
				var row = [], cols = $("td, th",rows[i]);
				for (var j = 0; j < cols.length; j++)  {
						var colJq=$(cols[j]);
						var isheader=colJq.hasClass("headerCol");
						var isOs=colJq.hasClass("OSContext");
						if(isheader) {
							if(isOs) {
								row.push("User");
								row.push("Computer");
								row.push("OS");
							}
							else {
							
								var hdrText=colJq.attr("col");
								row.push(hdrText+".Ver");
								row.push(hdrText+".IP");
								row.push(hdrText+".Time");
							}
						}
						else {
							row.push($(".expCol0",colJq).text().replace(/\n/g,"").replace(/\r/g," ").replace(/\t/g," ").replace(/;/g,"").trim());
							row.push($(".expCol1",colJq).text().replace(/\n/g,"").replace(/\r/g," ").replace(/\t/g," ").replace(/;/g,"").trim());
							row.push($(".expCol2",colJq).text().replace(/\n/g,"").replace(/\r/g," ").replace(/\t/g," ").replace(/;/g,"").trim());
						}
						
					}
				
					
				csv.push(row.join(";"));		
			}
			
			var universalBOM = "\uFEFF";
			var a = window.document.createElement('a');
			a.setAttribute('href', 'data:text/csv; charset=utf-8,' + encodeURIComponent(universalBOM+csv.join("\n")));
			a.setAttribute('download', 'Client.csv');
			window.document.body.appendChild(a);
			a.click();
			$(a).remove();
		}
		
        window.DeceWidget.Geodi_Clients = function () {
            var pThis = this;
            this.Type = "Geodi_Clients";
            this.targetDom = null;
            this.tools = {
                chartType: false,
                stacked: false,
                query: false,
                layers: false,
                horizontalAxis: false,
                dataset: false,
                functions: false,
                fullscreen: false,
                forceShowExtraOptionsForQuery: false,
                ButtonTemplates: ["#ActiveClientWidgetExtraToolTemplate"]
            };
			
			 this.GetUseMainQueryStatus = function () {
            pThis.___InitActiveQuery();
            var checkqStrWithMain = function (qStr) {
                return (qStr && (qStr.indexOf("%query%") != -1 || qStr.indexOf("%facet%") != -1))
            }

            if (pThis.ActiveQuery && checkqStrWithMain(pThis.ActiveQuery.Query))
                return true;
            if (pThis.ManualQuery && checkqStrWithMain(pThis.ManualQuery))
                return true;

            return !pThis.settings.showDisableMainQuery;

        }
        this.___InitActiveQuery = function () {
            if (!pThis.ActiveQuery) {
                if (pThis.settings.queries)
                    pThis.ActiveQuery = pThis.settings.queries[0];
                else
                    pThis.ActiveQuery = { Query: "" };
            };

        }
        this.GetQuery = function () {
            pThis.___InitActiveQuery();
            var q = window.CurrentQueryContainer.CurrentQuery.Clone();
            var mqStr = q.SeacrhString;
            var mqFacet = q.ToString(null, null, null, true);

            var updateqStrWithMain = function (qStr) {
                if (qStr) {
                    if (mqStr == null) mqStr = "";
                    if (mqFacet == null) mqFacet = "";
                    qStr = qStr.replace(/%query%/ig, mqStr);
                    qStr = qStr.replace(/%facet%/ig, mqFacet);
                }
                return qStr;
            }


            if (!pThis.GetUseMainQueryStatus())
                q.Clear(true);

            if (pThis.ActiveQuery && pThis.ActiveQuery.Query) {
                if (!q.SearchStrings)
                    q.SearchStrings = [];
                q.SearchStrings.push(updateqStrWithMain(pThis.ActiveQuery.Query));
            }

            if (pThis.ManualQuery) {
                if (!q.SearchStrings)
                    q.SearchStrings = [];
                q.SearchStrings.push(updateqStrWithMain(pThis.ManualQuery));
            }
            return q;
        };
		
		this.ApplyFilter=function() {
			var rwContexts={};
			var visibleCount=0;
			var totalCount=0;
			var OSContext= {
							column:"OS",
							id:"OS",
							AllCount:0,
							widgetId: pThis.Id,
							dataNew:[],
							dataNewTmp:{}
						}

			var DTFilterMn= {
							column:"DTFilter",
							id:"DTFilter",
							columnText:'[$Clients:LastContactFilterTitle/js]',
							NoBrForButton:true,
							AllCount:0,
							widgetId: pThis.Id,
							dataNew: []
						}
			var alldtText="[$Clients:LastContactFilters/js]".split('\r');
			for(var i=0;i<alldtText.length;i++)
			{
				var sp=alldtText[i].split(':');
				if(sp.length==2)
					DTFilterMn.dataNew.push( { Text:sp[0].trim(),Value:sp[1].trim(),Count:0 });
			}
			
			
						
			 $("tr",pThis.targetDom).not(".headerrow").each(function () {
				var visible=true;
				var inTr=$(this);
				
				var inOS=$(".Clients_OS",inTr).text();
				
				
				if(pThis.inFilterOS!=null && inOS!=pThis.inFilterOS)
					visible=false;
							
				if(pThis.inFilter && visible)
					$.each(pThis.inFilter,function(colid,colval) {
						if(colval!=null && $(".Clients_AppVer",$(".Col_"+colid,inTr)).text()!=colval)
							visible=false;
					})
					
					var isInFilterDate=function(fdt) {
							if(fdt=="all" || fdt==null || fdt=="")
								return false;
							var anyDt=false;
							var bigThan=false;
							var dbDateFilter=0;
							if(fdt.indexOf(">")!=-1) {
								bigThan=true;
								dbDateFilter=parseFloat(fdt.replace(">",""));
							}
							else if(fdt!="nodata") {
								dbDateFilter=parseFloat(fdt.replace("<",""));
							}
							var rtn=false;
							$(".ClientAppNameArea",inTr).each(function() {
								var dt=$(this).attr("dateDiff");
								if(dt) {
									anyDt=true;
									if(fdt!="nodata") {
										dt=parseFloat(dt);
										if((bigThan && dt>=dbDateFilter) || (!bigThan && dt<dbDateFilter))
											rtn=true;
									}
								}
							})
							
							if(!anyDt && fdt=="nodata")
								rtn=true;
							return rtn;
					}

				if(pThis.inFilterDate && !isInFilterDate(pThis.inFilterDate))
					visible=false;
					
				totalCount++;
				if(visible) {
					inTr.show();
					visibleCount++;
					for(var i=0;i<DTFilterMn.dataNew.length;i++)
						if(isInFilterDate(DTFilterMn.dataNew[i].Value))
							DTFilterMn.dataNew[i].Count++;
							
					if(OSContext.dataNewTmp[inOS])
						OSContext.dataNewTmp[inOS].Count++;
					else {
						OSContext.dataNewTmp[inOS]={Text:inOS, Count:1};
						OSContext.dataNew.push(OSContext.dataNewTmp[inOS]);
					}
					
					}
				else
					inTr.hide();
				OSContext.AllCount++;
				DTFilterMn.AllCount++;
				
				$.each($(".ClientAppNameArea",inTr),function() {
					var appN=$(this).attr("appName");
					
					if(!rwContexts[appN])
						rwContexts[appN]= {
							column:appN,
							id:appN.replace(/[.]/g, '_'),
							AllCount:0,
							widgetId: pThis.Id,
							dataNew:[],
							dataNewTmp:{}
						}
					
					var dt=rwContexts[appN];
					
					if(visible) {
						var ver=$(".Clients_AppVer",this).text();
						if(dt.dataNewTmp[ver])
								dt.dataNewTmp[ver].Count++;
							else {
								dt.dataNewTmp[ver]={Text:ver, Count:1};
								dt.dataNew.push(dt.dataNewTmp[ver]);
							}
					}
					dt.AllCount++;
						
				})
					
				
			 });
			 
			 
			
			$.each(rwContexts,function(k0,k1) {	
				$(".Hdr_"+k1.id,pThis.targetDom).html( TemplateToHtml($("#ActiveClientFilterMenu"),k1.dataNew,k1));
				
			})
			
			
						
			$(".OSContext",pThis.targetDom).html( 
				TemplateToHtml($("#ActiveClientFilterMenu"),OSContext.dataNew,OSContext)
			);
			
			var expbtn=$(".clientsExport",pThis.targetDom);
			if(expbtn.length==0) {
				$(".widget-tools",pThis.targetDom).prepend('<button class="btn btn-default btn-sm clientsExport" role="button" title="[$default:download/js]"><i class="fa fa-download"></i></button>');
				expbtn=$(".clientsExport",pThis.targetDom).click(function() {
					exportGeodiClients($("#WidgetViewArea table",$(this).closest(".Geodi_Clients")));
				})
			}
			var dtf=$("#dtFilterArea",pThis.targetDom);
			if(dtf.length==0)
				$(".widget-tools",pThis.targetDom).prepend("<snap id=dtFilterArea ></span>");
			dtf=$("#dtFilterArea",pThis.targetDom);
			dtf.html(TemplateToHtml($("#ActiveClientFilterMenu"),DTFilterMn.dataNew,DTFilterMn));
			
			
			if(pThis.inFilter)
				$.each(pThis.inFilter,function(colid,colval) {
						var colDom=$('#'+colid+'_all .grp_all',pThis.targetDom);
						var txt=colval==null?(colDom.attr("appName")+"<br>[$query:fav_status_all/js]"):(colDom.attr("appName")+"<br>"+colval);
						if(colval=="") txt+=" [$default:empty]";
						$('#'+colid+'_btn b',pThis.targetDom).replaceWith('<b>' + txt + '</b>');
						
					})
			if(pThis.inFilterOS!=null) {
				var colDom=$('#OS_all .grp_all',pThis.targetDom);
				var txt=pThis.inFilterOS==null?(colDom.attr("appName")+"<br>[$query:fav_status_all/js]"):(colDom.attr("appName")+"<br>"+pThis.inFilterOS);
				if(pThis.inFilterOS=="") txt+=" [$default:empty]";
				$('#OS_btn b',pThis.targetDom).replaceWith('<b>' + txt + '</b>');
			}
			
			if(pThis.inFilterDate!=null) {
				var colDom=$('#DTFilter .grp_all',pThis.targetDom);
				var txt=pThis.inFilterDate==null?"":(DTFilterMn.columnText+" - ")+DTFilterMn.dataNew.filterFirst(function(p) { return p.Value==pThis.inFilterDate; }).Text;
				if(pThis.inFilterDate=="") txt+=" [$default:empty]";
				$('#DTFilter_btn b',pThis.targetDom).replaceWith('<b>' + txt + '</b>');
			}
			
			
			$(".totalClientCount",pThis.targetDom).text(visibleCount!=totalCount?(visibleCount+"/"+totalCount):(totalCount))
		
			 
		};
		this.__refreshClients = function () {
			
			$("#clientRefresh", pThis.targetDom).addClass("glyphicon-refresh-animate");
			$.post(HttpUtility.ResolveUrl("~/Feedhandler?op=GetClients"), {}, function (data) {
				$("#clientRefresh", pThis.targetDom).removeClass("glyphicon-refresh-animate");

					var context={ Columns:[], _Columns:{}};
					var datanewAll=[];

				if (data) {

					
					/*
					data.sort(function (b, a) {
						if (a.UTCAccessTime && !b.UTCAccessTime) return -1;
						else if (b.UTCAccessTime && !a.UTCAccessTime) return 1;
						else if (!b.UTCAccessTime && !a.UTCAccessTime) return 0;
						else if (a.UTCAccessTime.UTC < b.UTCAccessTime.UTC) return -1;
						else if (a.UTCAccessTime.UTC > b.UTCAccessTime.UTC) return 1;
						else return 0;
					});*/


					
					
					$.each(data, function (key, value) {
						//var lTime = value.UTCTime ? parseNetDate(value.UTCTime) : null;
						var dataNew= {
							Info:value,
							Clients: {}
						}
						datanewAll.push(dataNew);
						if(value.Clients) {
							$.each(value.Clients, function (k2, client) {
								var appName=client.AppName;
								if(appName.indexOf("Classifier.Office")==0)
									appName="Classifier.Office";
								if(appName.indexOf("GDE")==0)
									appName="GDE";
									
									client.AppGroupName=appName;
								if(!context._Columns[appName]) {
									context._Columns[appName]=true; 
									context.Columns.push(appName);
								}
								
								if(!dataNew.Clients[appName] || 
									(client.LastAccessTime && !dataNew.Clients[appName].LastAccessTime) ||
									(client.LastAccessTime && dataNew.Clients[appName].LastAccessTime && client.LastAccessTime.UTC > dataNew.Clients[appName].LastAccessTime.UTC)
									)
									dataNew.Clients[appName]=client;
							});
						}

					})

				}
				context.widgetId=pThis.Id;
				context.allData=datanewAll;
				context.ColumnPercent=100/(context.Columns.length?context.Columns.length:1);
				pThis.Columns=context.Columns;
				pThis.allData=datanewAll;
				 $("#WidgetViewArea", pThis.targetDom).html(TemplateToHtml($("#ActiveClientsWidgetTemplate"),datanewAll,context))
				pThis.ApplyFilter();
				
				var clientQueries=[];
				$(".documentCount", pThis.targetDom).each(function() {
					clientQueries.push($(this).attr("client"));
				})
				if(clientQueries.length>0) {
					//+base query?
					var q1=pThis.GetQuery();
					q1.GetDocumentCounts(function(data) {
						if(data){
							var qList={};
							for(var i0=0;i0<data.length;i0++) {
								qList[clientQueries[i0]]=data[i0];
							}
							$(".documentCount", pThis.targetDom).each(function() {
								var cl=$(this).attr("client");
								if(qList[cl] || qList[cl]==0)
									$(this).text(qList[cl]+" [$dictionary_wizard:content/js]");
							})
						}
					},clientQueries ,true)
				}
				
				

			});
		}
		this.__settingsDefault = {
			rowOverlay: 12
		};
		this.setSettings = function (newSettings) {
			pThis.settings = newSettings;
			pThis.update(true);
		};
		this.getSettings = function () {
			return pThis.settings;
		};
		this.update = function () {
			this.__refreshClients();
		};
		this.destroy = function () {
			this.targetDom.empty();
		};
		this.init = function () {
		
			if (this.targetDom === null) return false;
			this.targetDom.data("instance", this);
			if (!this.settings)
				this.settings = {};
			$.extend(this.__settingsDefault, this.settings);
			this.settings = this.__settingsDefault;
			this.targetDom.addClass("Geodi_Clients");
			this.widgetTools = window.DeceWidget.__GeodiWidgetContainer(pThis, $("#Geodi_DefaultViewWidgetTemplate"), null);
			this.widgetTools.callback = function (settings, eventName) {
				$.extend(pThis.settings, settings);
				switch (eventName) {
					case "no_frame":
						pThis.destroy();
						pThis.init();
						break;
					case "rowOverlay":
						$(".rowOverlay", pThis.targetDom).val(pThis.settings.rowOverlay).change();
						break;
				}
			}
			this.__refreshClients();
		};
		return this;
	};
    </script>

</dcc:panel>