<style>
.commaGroup:after { content: ", "; }
.commaGroup:last-child:after { content: ""; }
</style>
<script type="dece-template" class="dlv-template" id="DLV-Simple" DisplayName="[$.tr:Basit Liste;en:Simple List]">
	<d:r data=data>
		<span class="commaGroup" {{ data.GetHrefFull() }}>
			{{ data.DisplayName }}
		</span>
	</d:r>
</script>

<script type="dece-template" class="dlv-template" id="DLV-Images" DisplayName="[$.tr:Resimler;en:Images]" and-query='Status:HasPreview,NotDeleted'>
	<d:r data="data">
	<d:r visible="(data.DocStatus&8)==8/*hasPreview*/">
		<a href="{{data.GetHref()}}" target="_blank">
			<img src="{{context.ResolveUrl('~/GeodiJSONService?op=getContentThumbnail&ContentIdentifier=' + data.RedirId + '&wsName=' + HttpUtility.UrlEncode(context.Options.Query.wsName) + '&rnd=' + window.___DomStartDate, false) }}" border=0 title="{{data.DisplayName}}" />
		</a>
	</d:r>
	</d:r>
</script>

<script type="dece-template" class="dlv-template" id="DLV-Carousel" DisplayName="[$.tr:Karosel;en:Carousel]" and-query='Status:HasPreview,NotDeleted'>
	<d:r visible="data && data.length ">
	<div id="crs_{{context.Options.WidgetId}}" class="carousel slide fixwidth" data-ride="carousel" Disable-DLV-Scroll>
		<ol class="carousel-indicators" style="display:none;">
			<d:r data="data">
				<d:r visible="(data.DocStatus&8)==8/*hasPreview*/">
					<li data-target="#crs_{{context.Options.WidgetId}}" data-slide-to="{{data.repeaterIndex}}" {{data.repeaterIndex ==0? "class=active":""}}></li>
				</d:r>
			</d:r>
		</ol>

		<div class="carousel-inner">
			<d:r data="data">
				<d:r visible="(data.DocStatus&8)==8/*hasPreview*/">
					<div class="item{{data.repeaterIndex ==0? " active":""}}" style="text-align:center;">
						<a href="{{data.GetHref()}}" target="_blank">
							<img width=300px src="{{context.ResolveUrl('~/GeodiJSONService?op=getContentThumbnail&ContentIdentifier=' + data.RedirId + '&wsName=' + HttpUtility.UrlEncode(context.Options.Query.wsName) + '&rnd=' + window.___DomStartDate, false) }}" border=0 title="{{data.DisplayName}}" />
							<div class="carousel-caption">
								{{data.DisplayName}}
							</div>
						</a>
						<div style="background-color:#666;color:#fff;padding:5px;">{{data.DisplayName}}</div>
					</div>
				</d:r>
			</d:r>
		</div>
		<a class="left carousel-control" href="#crs_{{context.Options.WidgetId}}" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#crs_{{context.Options.WidgetId}}" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</d:r>
</script>


<script>
    window.WidgetList.push({ Type: "Geodi_DLVView", Text: "[$default:dlv_page/js]", Icon: "img-dlv24 img-default", Sortable: true });

    if (!window.DeceWidget)
        window.DeceWidget = {};


    window.DeceWidget.Geodi_DLVView = function (options) {
        var pThis = this;
        this.Type = "Geodi_DLVView";
        this.targetDom = null;
        var supportTemplates = [
            { Value: "", DisplayName: "[$default:default/js]" },
            { Value: "window.HtmlTemplates.DefaultDLV_List", DisplayName: "List" }
        ];
		$("script.dlv-template").each(function() {
			var dm=$(this);
			var id0=dm.attr("id");
			var dsp=dm.attr("DisplayName");
			if(!dsp) dsp=id0;
			if(id0)
				supportTemplates.push( {
					Value:"#"+id0,
					DisplayName:dsp
				});
		});

        this.tools = {
            fullscreen: true,
            //query: true,
            queries: true,
			uiQuery:true,
			showDisableMainQuery: true,
            templates: supportTemplates,
            supportCustomTemplate: true
        };
        //
        this.__settingsDefault = {
            rowOverlay: 12
        };
		this.OnScroll = function () {
			if (pThis.DLV && pThis.DLV.OnScroll) 
				pThis.DLV.OnScroll();
		};
        this.setSettings = function (newSettings) {
            pThis.settings = newSettings;
            pThis.update(true);
        };
        this.getSettings = function () {
            return pThis.settings;
        };
        this.update = function () {
            this._refresh();
        }
		this.GetUseMainQueryStatus=function() {
			pThis.___InitActiveQuery();	
			var checkqStrWithMain=function(qStr) {
					return (qStr && (qStr.indexOf("%query%")!=-1 || qStr.indexOf("%facet%")!=-1))
			}
			
			if(pThis.ActiveQuery && checkqStrWithMain(pThis.ActiveQuery.Query))
				return true;
			if(pThis.ManualQuery && checkqStrWithMain(pThis.ManualQuery))
				return true;
			
			return !pThis.settings.showDisableMainQuery;
			
		}
		this.___InitActiveQuery=function() {
			if(!pThis.ActiveQuery) {
						if(pThis.settings.queries)
							pThis.ActiveQuery=pThis.settings.queries[0];
						else
							pThis.ActiveQuery={Query:""};
			};
			
		}
		this.GetTemplate=function() {
			var Template = {
				HTML:"",
				AndQuery:""
			};
                    if (pThis.settings.Template) {
                        if (pThis.settings.Template == "custom")
                            Template.HTML = pThis.settings.customTemplate;
                        else if (pThis.settings.Template.indexOf("window.") == 0)
                            Template.HTML = eval(pThis.settings.Template);
						else if(pThis.settings.Template.indexOf("#") == 0) {
							Template.HTML = $(pThis.settings.Template).html();
							Template.AndQuery= $(pThis.settings.Template).attr("and-query");
							}
                    }
			return Template;
		}
        this._refresh = function () {
            if (!pThis.DLV) {
                pThis.DLV = new QueryResultDLV(options && options.DLVOptions?options.DLVOptions:{});
                pThis.DLV.HideRightDocInfoPanel = true;
                pThis.DLV.SupportRightPanel = false;
                pThis.DLV._GetCloneQuery = pThis.DLV.GetCloneQuery;
                pThis.DLV.IsWidget = true;
				pThis.DLV.WidgetID = pThis.Id;
                pThis.DLV.GetCloneQuery = function () {
					pThis.___InitActiveQuery();
                    var q = pThis.DLV._GetCloneQuery();
					var mqStr=q.SeacrhString;
					var mqFacet=q.ToString(null,null,null,true);
					
					var updateqStrWithMain=function(qStr) {
						if(qStr) {
							if(mqStr==null) mqStr="";
							if(mqFacet==null) mqFacet="";
							qStr=qStr.replace(/%query%/ig,mqStr);
							qStr=qStr.replace(/%facet%/ig,mqFacet);
						}
						return qStr;
					}
					
					
                    if (!pThis.GetUseMainQueryStatus())
                        q.Clear(true);
						
                    if (pThis.ActiveQuery && pThis.ActiveQuery.Query) {
                        if (!q.SearchStrings)
                            q.SearchStrings = [];
                        q.SearchStrings.push(updateqStrWithMain(pThis.ActiveQuery.Query));
                    }
					
					if(pThis.ManualQuery) {
						if (!q.SearchStrings)
                            q.SearchStrings = [];
                        q.SearchStrings.push(updateqStrWithMain(pThis.ManualQuery));
					}
					
					var template0=pThis.GetTemplate();
					if(template0.AndQuery)
					{
						if (!q.SearchStringsHiden)
                            q.SearchStringsHiden = [];
                        q.SearchStringsHiden.push(template0.AndQuery);
					}
					
					
                    return q;
                }
                pThis.DLV.UpdateRenderOptions = function (renderOptions) {
                    renderOptions.Template = pThis.GetTemplate().HTML;
                    return renderOptions;
                }
            }
            pThis.DLV.Owner = window.CurrentQueryContainer;
            pThis.DLV.TargetDOM = $("#WidgetViewArea", pThis.targetDom);
			var template=pThis.GetTemplate();
			pThis.DLV.DisableScroll= (template.HTML && template.HTML.indexOf("Disable-DLV-Scroll")!=-1)?true:false;
			if(pThis.targetDom.attr("_sroll_binded")!="1") {			
			
                $(".widget-inpanel",pThis.targetDom).on('scroll', function () {
                    if ($('#divMainLoadingImage',pThis.DLV.TargetDOM).is(':appeared')) //must one
                        pThis.OnScroll();
                });
				pThis.targetDom.attr("_sroll_binded","1")
				}
            //scroll yönetimi gerekli.
            pThis.DLV.Run(false, true);

        };
        this.destroy = function () {
            this.targetDom.empty();
        };
        this.init = function () {
            if (this.targetDom === null) return false;
            this.targetDom.data("instance", this);
            if (!this.settings)
                this.settings = {};
            $.extend(this.__settingsDefault, this.settings);
            this.settings = this.__settingsDefault;
            this.targetDom.addClass(pThis.Type);
            this.widgetTools = window.DeceWidget.__GeodiWidgetContainer(pThis, $("#Geodi_DefaultViewWidgetTemplate"), null);
            this.widgetTools.callback = function (settings, eventName) {
                $.extend(pThis.settings, settings);
                switch (eventName) {
                    case "no_frame":
					case "uiQuery":
                        pThis.destroy();
                        pThis.init();
                        break;
                    case "rowOverlay":
                        $(".rowOverlay", pThis.targetDom).val(pThis.settings.rowOverlay).change();
                        break;
					case "modal_closed":
						if(pThis.queriesUpdated) {
							delete pThis.queriesUpdated;
							delete pThis.ActiveQuery;
							pThis.destroy();
							pThis.init();
						}
						break;
					case "queries":
						pThis.queriesUpdated=true;
					break;
                    case "query":
                    case "showDisableMainQuery":
                    case "customTemplate":
                    case "Template":
                        pThis.destroy();
                        pThis.init();
                        break;
                }
            }
            this.update();

            window.DeceWidget.SetResizable(pThis, 400);
        };
        return this;
    };
</script>
<script>
function OpenDLVPopup(title,queryStr,options) {
		var v=null;
		
		showMessage("&nbsp;", title, null, null, null, null, function() { if(v) v.destroy();}, function() {
			 v= new DeceWidget.Geodi_DLVView( {
				DLVOptions : {
					OnEndRender:function(arg) {
						if(arg && arg.totalCount!=undefined)
							$("#modalDialog .modal-title").html(title+" ( "+arg.totalCount+" )");
					}
				}
			});
			$("#modalDialog .panel-heading").remove();
			
			v.targetDom=$("#modalDialog .modal-body");
			v.targetDom.css("padding","5px");
			v.id=guid();
			v.tools.hideTools=true;
			
			//v.ActiveQuery=new GeodiQuery();
			v.ManualQuery=queryStr;
			if(!v.settings) v.settings={};
			v.settings.showDisableMainQuery=true;
			v.settings.noframe=true;
			if(options && options.showQuery)
				v.settings.uiQuery=true;
			v.init();
		});
		
	}
</script>