﻿<style>
    .documentViewFrameTitle {
        cursor: pointer;
    }

    .loadingViewerIn {
        padding: 4px;
    }

    .inLinkOtherVer {
        opacity: 0.6;
    }
</style>
<div id="panelDupl" class="panel panel-default" style="display: none;">
    <div class="panel-heading collapse-header clearfix collapsed" id="slide_dupl_header" role="tab" data-toggle="collapse" data-parent="#side_panels" href="#slide_dupl" aria-expanded="false" aria-controls="slide_dupl">
        <span class="panel-title pull-left">
            [$docViewer:duplicates/html]
        </span>
        <span class="badge" id="panelDuplBadge" style="display: none;"></span>
    </div>

    <div id="slide_dupl" class="panel-collapse collapse viewerRightPanel" role="tabpanel" aria-labelledby="slide_kewyords_header" aria-expanded="false">

    </div>
</div>
<div id="panelSim" class="panel panel-default" style="display: none;">
    <div class="panel-heading collapse-header clearfix collapsed" id="slide_sim_header" role="tab" data-toggle="collapse" data-parent="#side_panels" href="#slide_sim" aria-expanded="false" aria-controls="slide_sim">
        <span class="panel-title pull-left">
            [$docViewer:similarities/html]
        </span>
        <span class="badge" id="panelSimBadge" style="display: none;"></span>
    </div>

    <div id="slide_sim" class="panel-collapse collapse viewerRightPanel" role="tabpanel" aria-labelledby="slide_kewyords_header" aria-expanded="false">

    </div>
</div>
<div id="panelVer" class="panel panel-default" style="display: none;">
    <div class="panel-heading collapse-header clearfix collapsed" id="slide_ver_header" role="tab" data-toggle="collapse" data-parent="#side_panels" href="#slide_ver" aria-expanded="false" aria-controls="slide_ver">
        <span class="panel-title pull-left">
            [$docViewer:versions/html]
        </span>
        <span class="badge" id="panelVerBadge" style="display: none;"></span>
    </div>

    <div id="slide_ver" class="panel-collapse collapse viewerRightPanel" role="tabpanel" aria-labelledby="slide_kewyords_header" aria-expanded="false">

    </div>
</div>
<div id="panelChild" class="panel panel-default" style="display: none;">
    <div class="panel-heading collapse-header clearfix collapsed" id="slide_child_header" role="tab" data-toggle="collapse" data-parent="#side_panels" href="#slide_child" aria-expanded="false" aria-controls="slide_child">
        <span class="panel-title pull-left">
            [$docViewer:sub_contents/html]
        </span>
        <span class="badge" id="panelChildBadge" style="display: none;"></span>
    </div>

    <div id="slide_child" class="panel-collapse collapse viewerRightPanel" role="tabpanel" aria-labelledby="slide_kewyords_header" aria-expanded="false">

    </div>
</div>
<script>
    $(window).ready(function () {
        if (window.currentContent && !window.isDesktopOpenWith) {
            _RenderSubQuery("duplicate:(docid:" + window.currentContent.ID + ") -docid:" + window.currentContent.ID, '#slide_dupl', "#panelDupl", 0);
            _RenderSubQuery("similar:(docid:" + window.currentContent.ID + " excludeDuplicates:1)  -docid:" + window.currentContent.ID, '#slide_sim', "#panelSim", 0);
            _RenderSubQuery("verof:(docid:" + window.currentContent.ID + ") -docid:" + window.currentContent.ID, '#slide_ver', "#panelVer", 0);

            if (window.currentContent.UNC)
                _RenderSubQuery("parent2:(docid:" + window.currentContent.ID + " or unc:\"" + window.currentContent.UNC + "\") -*.geodiNote", '#slide_child', "#panelChild", 0, null, null, false,
                    function (a) {
                        $(".IsDoc", a.targetDom).each(function () {
                            var dm = $(this);
                            var pid1 = dm.attr("parentid");
                            if (pid1 != window.currentContent.ID) {
                                dm.addClass("inLinkOtherVer");
                                dmp = $("span", dm);
                                var ttl = dmp.attr("title");
                                if (!ttl) ttl = "";
                                ttl += (ttl ? "\r\n" : "") + "[$docViewer:OtherVersionContent/js]";
                                dmp.attr("title", ttl);
                            }
                        })
                    });
            else
                _RenderSubQuery("parent2:(docid:" + window.currentContent.ID + ") -*.geodiNote", '#slide_child', "#panelChild", 0);
        }
    });

    window.rightPnlAborter = new PostAborter();
    function _RenderSubQuery(queryStr, targetDom, targetParentDom, showMinCount, rendererUpdater, disableMoreShow, __inMore, renderEndFnc) {
        var tDom = $(targetDom);
        var tDomObj = tDom[0];
        if (tDomObj.inLoading) return;
        if (!__inMore) tDomObj.startIndex = 0;

        tDomObj.inLoading = true;
        var inCount = 12;
        if (__inMore)
            tDomObj.startIndex += inCount;
        else if (!disableMoreShow) {
            if (!tDom.attr("__scroll__e__handled")) {
                tDom.attr("__scroll__e__handled", "1");
                tDom.on('scroll', function () {
                    if ($('.loadingViewerIn', tDom).is(':appeared') && !tDomObj.inLoading)
                        _RenderSubQuery(queryStr, targetDom, targetParentDom, showMinCount, rendererUpdater, disableMoreShow, true)
                });
            }
        }
        window.clearTimeout(tDomObj.wTimter);
        var query = new GeodiQuery();
        query.wsName = StateForm.GetState("wsName");
        query.StartIndex = tDomObj.startIndex;
        query.EndIndex = query.StartIndex + inCount;
        query.SearchString = queryStr;
        query.UseRank = true;

        var rOptions = {
            RenderSub: true,
            GUISearchOptions: GUISearchOptions.Create(GUISearchOptions.HideDocParentsInfo | GUISearchOptions.HideActions | GUISearchOptions.HideNoteIcon),
            Query: query,
            Template: window.HtmlTemplates.DefaultDLV_List,
            Aborter: window.rightPnlAborter,
            IsMapRequest: window.StateForm && StateForm.GetState('ismaprequest') == '1',
            TargetDiv: targetDom,
            wsName: query.wsName,
            UpdateDefaultQuery: false,
            DisableSummary: true,
            OnStartRender: function (args) {
                if (!disableMoreShow)
                    $(".loadingViewerIn", tDom).remove();
            },
            OnEndRender: function (args) {
                tDomObj.inLoading = false;
                if (renderEndFnc)
                    renderEndFnc(args);
                var data = args.Data;
                var request = args.request;

                if (!__inMore && data && data.length > showMinCount) {
                    $(targetParentDom).fadeIn();
                    $(".badge", $(targetParentDom)).fadeIn();
                    var c1 = data.length;
                    if (request && request.getResponseHeader) {
                        var c = request.getResponseHeader("Count");
                        if (c)
                            c1 = parseInt(c);
                    }
                    $(".badge", $(targetParentDom)).html(c1);

                }
                if (!disableMoreShow && data && data.length >= inCount) {
                    var lLoadingHtml = '<div class=loadingViewerIn><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <span>[$default:loading/js]</span></div>';

                    tDom.append(lLoadingHtml);
                    tDomObj.wTimter = window.setTimeout(function () {
                        if ($('.loadingViewerIn', tDom).is(':appeared')) {
                            _RenderSubQuery(queryStr, targetDom, targetParentDom, showMinCount, rendererUpdater, disableMoreShow, true);
                        }
                    }, 1000); //???
                }
            }
        };
        if (window.DefaultSimilartyRendererUpdater)
            window.DefaultSimilartyRendererUpdater(rOptions);
        if (rendererUpdater)
            rendererUpdater(rOptions);
        inCount = query.EndIndex - query.StartIndex;
        RenderDLV(rOptions)
    }
</script>