﻿<html>
<head>
    <title>GEODI Javascript Token Api</title>
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/jquery-2.1.3.min.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/bootstrap.min.js" />
    <dcc:item factoryname="IncludeCssResource" src="~/GUI/css/GeodiStyle.css" />
    <dcc:item factoryname="GeodiSessionInfoHtmlPageItem" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/GeodiGenericJS.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/PlatformCommunication.js" />
    <dcc:item factoryname="IncludeScriptResource" src="~/GUI/js/DeceTemplate.js" />
    <style>
        .fdRoot label {
            font-weight:normal;
        }
        .fdRoot li {
            list-style: none;
            padding-bottom: 7px;
        }

        .fdRoot li:last-child {
            padding-bottom: 0px;
        }
        .fdRoot ul {
            padding-top: 7px;
        }

        .fdRoot .proj {
            display:none;
        }
        

    </style>
</head>
<body>
    <script type="dece-template" id="feeadbleList">
        <ul class="fdRoot">
            <d:r data="data">
                {{ context.ActiveWs=data.repeaterIndex; context._wsChecked = true /*context.sels[context.ActiveWs]*/; ""; }}
                <li>
                    <label><input type="checkbox" class="proj" value="{{context.ActiveWs }}" {{ context._wsChecked?"checked":"" }} onchange="$('.enm',$(this).closest('li')).prop('disabled',!$(this).prop('checked'))" /> <b>{{context.ActiveWs }}</b></label>
                    <ul>
                        <li><label><input type="checkbox" class="enm" value="*" {{ context._wsChecked?"":"disabled" }} {{ context.sels[context.ActiveWs] && context.sels[context.ActiveWs].indexOf && context.sels[context.ActiveWs].indexOf('*')>-1 ? "checked" : "" }} /> *</label></li>
                        <d:r data="data">
                            <li><label><input type="checkbox" class="enm" value="{{data.Key }}" {{ context._wsChecked?"":"disabled" }} {{ context.sels[context.ActiveWs] && context.sels[context.ActiveWs].indexOf && context.sels[context.ActiveWs].indexOf(data.Key)>-1 ? "checked" : "" }} /> {{data.Value }}</label></li>
                        </d:r>
                    </ul>
                </li>
            </d:r>


            <li>
                {{ context.ActiveWs="*";context._wsChecked = true /*context.sels[context.ActiveWs]*/; ""; }}
                <label><input type="checkbox" class="proj" value="*" {{ context._wsChecked?"checked":"" }} onchange="$('.enm',$(this).closest('li')).prop('disabled',!$(this).prop('checked'))" /> <b>{{context.ActiveWs }}</b></label>
                <ul>
                    <li><label><input type="checkbox" class="enm" value="*" {{ context._wsChecked?"":"disabled" }} {{ context.sels[context.ActiveWs] && context.sels[context.ActiveWs].indexOf && context.sels[context.ActiveWs].indexOf('*')>-1 ? "checked" : "" }} /> *</label></li>
                    <d:r data="data">
                        {{ context.parentWs=data.repeaterIndex;""; }}
                        <d:r data="data">
                            <li><label><input type="checkbox" class="enm" value="{{data.Key }}" {{ context._wsChecked?"":"disabled" }} {{ context.sels[context.ActiveWs] && context.sels[context.ActiveWs].indexOf && context.sels[context.ActiveWs].indexOf(data.Key)>-1 ? "checked" : "" }} /> {{data.Value }} - {{ context.parentWs }}</label></li>
                        </d:r>
                    </d:r>
                </ul>
            </li>

        </ul>
    </script>

    <script>
        function feedAddUpdateWorkspaceStart() {
            var vl = $("#feedAllowListJson").val();
            var lfedableObj = {};
            if (vl)
                try {
                    lfedableObj = JSON.parse(vl);
                }
                catch (ex) {
                    alert("Feed Allow List parse error" + ex.message);
                }

            $.post("TokenHandler?op=GetFeedableEnumerators",

                $("#chkForCurrentUser").is(":checked") ? {} : {
                    Username: $("#usr").val(),
                    Password: $("#psw").val()
                },
                function (data) {
                    var html = TemplateToHtml($("#feeadbleList").html(), data, { data: data, sels: lfedableObj });
                    $("#feeadableProjects1").html(html);
                }
            );
            $('#feedWsListModal').modal({ backdrop: 'static', keyboard: true });
            
            $('#feedWsListModal').modal('show');
        }

        function feedAddUpdateWorkspaceEnd() {
            var nwObj = {}
            var hassAllProj = null;
                $("#feeadableProjects1 .proj:checked").each( function () {
                    if (hassAllProj)
                        return;
                    var wsChk = $(this);
                    var nwList = [];
                    var hasAll = false;
                    $(".enm:checked", wsChk.closest('li')).each(function () {
                        if (hasAll)
                            return;
                        var enmChk = $(this);
                        var enmVl = enmChk.attr("value");
                        if (enmVl == "*") {
                            hasAll = true;
                            return;
                        }
                        nwList.push(enmVl);
                    });
                    var wsName = wsChk.attr("value");

                    if (hasAll)
                        nwObj[wsName] = ["*"];
                    else if (nwList.length > 0)
                        nwObj[wsName] = nwList;

                    if (wsName == "*" && hasAll)
                        hassAllProj = nwObj[wsName];
                }
            );
            if (hassAllProj)
                nwObj = { "*": hassAllProj };
            $("#feedAllowListJson").val(JSON.stringify(nwObj, null,"\t"));
            $('#feedWsListModal').modal('hide');
        }

    </script>

    <div class="modal fade" id="feedWsListModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="feedWsListModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="feedWsListModalLabel">Feed - AllowList</h4>
                </div>
                <div class="modal-body" style="padding:5px; overflow:auto;height:60vh;">



                    <div id="feeadableProjects1"></div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="$('#feedWsListModal').modal('hide');">[$default:cancel]</button>
                    <a tabindex="0" id="modalFolderbtn" class="btn btn-sm btn-primary" onclick="feedAddUpdateWorkspaceEnd();">[$default:ok]</a>
                </div>

            </div>
        </div>
    </div>

    <dcc:item factoryname="ResourceControl" src="GUI/Control/TokenApi.view.html" />
    <script>
        window.TokenHandler = "TokenHandler";
    </script>
</body>
</html>